Repository canonical/maas-ui, pull requests merged in 2019-08, with the labels that each got.

#55 Add setup instructions to README
  README.md
  ui/README.md
Labels: Review: Code +1, Review: QA +1

#49 Add user navigation
  ui/src/app/base/components/Button/Button.js
  ui/src/app/base/components/Col/Col.js
  ui/src/app/base/components/Col/Col.test.js
  ui/src/app/base/components/Col/__snapshots__/Col.test.js.snap
  ui/src/app/base/components/Col/index.js
  ui/src/app/base/components/Field/Field.js
  ui/src/app/base/components/Field/Field.test.js
  ui/src/app/base/components/Row/Row.js
  ui/src/app/base/components/Row/Row.test.js
  ui/src/app/base/components/Row/__snapshots__/Row.test.js.snap
  ui/src/app/base/components/Row/index.js
  ui/src/app/base/components/Section/Section.js
  ui/src/app/base/components/Section/__snapshots__/Section.test.js.snap
  ui/src/app/settings/components/Nav/Nav.js
  ui/src/app/settings/components/UserForm/UserForm.js
  ui/src/app/settings/components/UserForm/__snapshots__/UserForm.test.js.snap
  ui/src/app/settings/containers/Users/Users.js
Labels: Review: Code +1, Review: QA +1

#61 Add user details
  ui/src/app/base/components/Col/Col.js
  ui/src/app/base/components/Col/index.js
  ui/src/app/base/components/List/List.js
  ui/src/app/base/components/List/List.test.js
  ui/src/app/base/components/List/__snapshots__/List.test.js.snap
  ui/src/app/base/components/List/index.js
  ui/src/app/base/components/Section/Section.js
  ui/src/app/base/components/Section/__snapshots__/Section.test.js.snap
  ui/src/app/base/components/Strip/Strip.js
  ui/src/app/base/components/Strip/Strip.test.js
  ui/src/app/base/components/Strip/__snapshots__/Strip.test.js.snap
  ui/src/app/base/components/Strip/index.js
  ui/src/app/base/hooks.js
  ui/src/app/settings/components/Routes/Routes.js
  ui/src/app/settings/containers/User/User.js
  ui/src/app/settings/containers/User/User.test.js
  ui/src/app/settings/containers/User/__snapshots__/User.test.js.snap
  ui/src/app/settings/containers/User/index.js
  ui/src/app/settings/containers/Users/Users.js
  ui/src/app/settings/selectors/users.js
  ui/src/app/settings/selectors/users.test.js
Labels: Review: Code +1, Review: QA +1

#60 Add pager component and paginate users table.
  ui/src/app/base/components/Pagination/Pagination.js
  ui/src/app/base/components/Pagination/Pagination.test.js
  ui/src/app/base/components/Pagination/__snapshots__/Pagination.test.js.snap
  ui/src/app/base/components/Pagination/index.js
  ui/src/app/base/components/PaginationButton/PaginationButton.js
  ui/src/app/base/components/PaginationButton/PaginationButton.test.js
  ui/src/app/base/components/PaginationButton/__snapshots__/PaginationButton.test.js.snap
  ui/src/app/base/components/PaginationButton/index.js
  ui/src/app/base/components/PaginationItem/PaginationItem.js
  ui/src/app/base/components/PaginationItem/PaginationItem.test.js
  ui/src/app/base/components/PaginationItem/__snapshots__/PaginationItem.test.js.snap
  ui/src/app/base/components/PaginationItem/index.js
  ui/src/app/settings/containers/Users/Users.js
  ui/src/app/settings/containers/Users/Users.test.js
Labels: Review: Code +1 (with changes), Review: QA +1

#57 Create Storage component in Settings
  ui/src/app/settings/actions/config.js
  ui/src/app/settings/actions/config.test.js
  ui/src/app/settings/actions/index.js
  ui/src/app/settings/containers/Settings/Settings.js
  ui/src/app/settings/containers/Settings/Settings.test.js
  ui/src/app/settings/containers/Settings/__snapshots__/Settings.test.js.snap
  ui/src/app/settings/containers/Storage/Storage.js
  ui/src/app/settings/containers/Storage/Storage.test.js
  ui/src/app/settings/containers/Storage/__snapshots__/Storage.test.js.snap
  ui/src/app/settings/reducers/config.js
  ui/src/app/settings/reducers/config.test.js
  ui/src/app/settings/reducers/index.js
  ui/src/app/settings/reducers/repositories.test.js
  ui/src/app/settings/reducers/users.test.js
  ui/src/app/settings/selectors/config.js
  ui/src/app/settings/selectors/config.test.js
  ui/src/app/settings/selectors/index.js
  ui/src/app/settings/selectors/repositories.test.js
  ui/src/app/settings/selectors/users.test.js
  ui/src/root-reducer.js
  ui/src/testing/utils.js
Labels: Review: Code +1 (with changes), Review: QA +1

#66 Set max-workers to 2 for CI.
  .circleci/config.yml
Labels: Review: Code +1

#68 Dynamically build websocket url if REACT_APP_WEBSOCKET_URL is undefined.
  ui/.env.production
  ui/src/app/base/sagas/websockets.js
Labels: Review: Code needed, Review: QA needed

#62 Create Network component with Proxy section
  ui/src/app/base/components/FormikField/FormikField.js
  ui/src/app/base/components/FormikField/__snapshots__/FormikField.test.js.snap
  ui/src/app/settings/components/ProxyFormFields/ProxyFormFields.js
  ui/src/app/settings/components/ProxyFormFields/ProxyFormFields.test.js
  ui/src/app/settings/components/ProxyFormFields/__snapshots__/ProxyFormFields.test.js.snap
  ui/src/app/settings/components/ProxyFormFields/index.js
  ui/src/app/settings/containers/Network/Network.js
  ui/src/app/settings/containers/Network/Network.test.js
  ui/src/app/settings/containers/Network/__snapshots__/Network.test.js.snap
  ui/src/app/settings/containers/ProxyForm/ProxyForm.js
  ui/src/app/settings/containers/ProxyForm/ProxyForm.test.js
  ui/src/app/settings/containers/ProxyForm/index.js
  ui/src/app/settings/selectors/config.js
  ui/src/app/settings/selectors/config.test.js
  yarn.lock
Labels: Review: Code +1 (with changes), Review: QA +1

#82 Allow params to be passed as array.
  ui/src/app/base/sagas/websockets.js
  ui/src/app/base/sagas/websockets.test.js
  ui/src/websocket-client.js
  ui/src/websocket-client.test.js
Labels: Review: Code +1, Review: QA +1

#64 Create settings configuration general form
  ui/src/app/settings/actions/config.js
  ui/src/app/settings/actions/config.test.js
  ui/src/app/settings/components/GeneralForm/GeneralForm.js
  ui/src/app/settings/components/GeneralForm/GeneralForm.test.js
  ui/src/app/settings/components/GeneralForm/__snapshots__/GeneralForm.test.js.snap
  ui/src/app/settings/components/GeneralForm/index.js
  ui/src/app/settings/containers/Configuration/Configuration.js
  ui/src/app/settings/containers/Configuration/Configuration.test.js
  ui/src/app/settings/containers/Configuration/__snapshots__/Configuration.test.js.snap
  ui/src/app/settings/selectors/config.js
  ui/src/app/settings/selectors/config.test.js
Labels: Review: Code +1, Review: QA +1

#81 Remove user details page
  ui/package.json
  ui/src/app/settings/components/Routes/Routes.js
  ui/src/app/settings/containers/User/User.js
  ui/src/app/settings/containers/User/User.test.js
  ui/src/app/settings/containers/User/__snapshots__/User.test.js.snap
  ui/src/app/settings/containers/User/index.js
  ui/src/app/settings/containers/Users/Users.js
Labels: Review: Code +1, Review: QA +1

#85 Use standard redux actions.
  ui/src/app/base/actions.js
  ui/src/app/base/actions.test.js
  ui/src/app/base/sagas/websockets.js
  ui/src/app/base/sagas/websockets.test.js
  ui/src/app/settings/actions/config.js
  ui/src/app/settings/actions/config.test.js
  ui/src/app/settings/actions/repositories.js
  ui/src/app/settings/actions/repositories.test.js
  ui/src/app/settings/actions/users.js
  ui/src/app/settings/actions/users.test.js
  ui/src/app/settings/containers/Settings/Settings.test.js
Labels: Review: Code +1, Review: QA +1

#63 Add save functionality to Storage form + build ActionButton
  ui/src/app/base/components/ActionButton/ActionButton.js
  ui/src/app/base/components/ActionButton/ActionButton.scss
  ui/src/app/base/components/ActionButton/ActionButton.test.js
  ui/src/app/base/components/ActionButton/__snapshots__/ActionButton.test.js.snap
  ui/src/app/base/components/ActionButton/index.js
  ui/src/app/base/components/Loader/Loader.js
  ui/src/app/base/components/Loader/Loader.scss
  ui/src/app/base/hooks.js
  ui/src/app/settings/actions/config.js
  ui/src/app/settings/actions/config.test.js
  ui/src/app/settings/components/GeneralForm/GeneralForm.js
  ui/src/app/settings/containers/Storage/Storage.js
  ui/src/app/settings/containers/Storage/Storage.test.js
  ui/src/app/settings/containers/StorageForm/StorageForm.js
  ui/src/app/settings/containers/StorageForm/StorageForm.test.js
  ui/src/app/settings/containers/StorageForm/index.js
  ui/src/app/settings/containers/StorageFormFields/StorageFormFields.js
  ui/src/app/settings/containers/StorageFormFields/StorageFormFields.test.js
  ui/src/app/settings/containers/StorageFormFields/index.js
  ui/src/app/settings/proptypes.js
  ui/src/app/settings/reducers/config.js
  ui/src/app/settings/reducers/config.test.js
  ui/src/app/settings/selectors/config.js
  ui/src/app/settings/utils.js
  ui/src/app/settings/utils.test.js
  ui/src/scss/base.scss
Labels: Review: Code +1, Review: Design +1, Review: QA +1

#87 Update brand colour
  ui/src/scss/_settings.scss
Labels: Review: Code +1, Review: Design +1, Review: QA +1

#88 Limit settings views to admins
  ui/src/app/base/components/Main/Main.js
  ui/src/app/base/components/Main/Main.test.js
Labels: Review: Code +1, Review: Design +1, Review: QA +1

#91 Rework nav and routes + add scaffolding for network forms
  ui/src/app/settings/components/Nav/Nav.js
  ui/src/app/settings/components/Nav/__snapshots__/Nav.test.js.snap
  ui/src/app/settings/components/Routes/Routes.js
  ui/src/app/settings/containers/Network/DnsForm/DnsForm.js
  ui/src/app/settings/containers/Network/DnsForm/DnsForm.test.js
  ui/src/app/settings/containers/Network/DnsForm/index.js
  ui/src/app/settings/containers/Network/Network.js
  ui/src/app/settings/containers/Network/NetworkDiscoveryForm/NetworkDiscoveryForm.js
  ui/src/app/settings/containers/Network/NetworkDiscoveryForm/NetworkDiscoveryForm.test.js
  ui/src/app/settings/containers/Network/NetworkDiscoveryForm/index.js
  ui/src/app/settings/containers/Network/NtpForm/NtpForm.js
  ui/src/app/settings/containers/Network/NtpForm/NtpForm.test.js
  ui/src/app/settings/containers/Network/NtpForm/index.js
  ui/src/app/settings/containers/Network/ProxyForm/ProxyForm.js
  ui/src/app/settings/containers/Network/ProxyForm/ProxyForm.test.js
  ui/src/app/settings/containers/Network/ProxyForm/index.js
  ui/src/app/settings/containers/Network/ProxyFormFields/ProxyFormFields.js
  ui/src/app/settings/containers/Network/ProxyFormFields/ProxyFormFields.test.js
  ui/src/app/settings/containers/Network/ProxyFormFields/__snapshots__/ProxyFormFields.test.js.snap
  ui/src/app/settings/containers/Network/ProxyFormFields/index.js
  ui/src/app/settings/containers/Network/SyslogForm/SyslogForm.js
  ui/src/app/settings/containers/Network/SyslogForm/SyslogForm.test.js
  ui/src/app/settings/containers/Network/SyslogForm/index.js
  ui/src/app/settings/containers/Network/index.js
  ui/src/app/settings/containers/ProxyForm/ProxyForm.js
  ui/src/app/settings/containers/ProxyForm/ProxyForm.test.js
  ui/src/app/settings/containers/Storage/StorageForm/StorageForm.js
  ui/src/app/settings/containers/Storage/StorageForm/StorageForm.test.js
  ui/src/app/settings/containers/Storage/StorageForm/index.js
  ui/src/app/settings/containers/Storage/StorageFormFields/StorageFormFields.js
  ui/src/app/settings/containers/Storage/StorageFormFields/StorageFormFields.test.js
  ui/src/app/settings/containers/Storage/StorageFormFields/index.js
  ui/src/app/settings/containers/Storage/index.js
  ui/src/app/settings/containers/StorageForm/StorageForm.js
Labels: Review: Code +1, Review: Design +1, Review: QA +1

#84 Create settings configuration commissioning form
  ui/src/app/settings/components/Nav/Nav.js
  ui/src/app/settings/components/Nav/__snapshots__/Nav.test.js.snap
  ui/src/app/settings/components/Routes/Routes.js
  ui/src/app/settings/containers/Configuration/Commissioning/Commissioning.js
  ui/src/app/settings/containers/Configuration/Commissioning/Commissioning.test.js
  ui/src/app/settings/containers/Configuration/Commissioning/index.js
  ui/src/app/settings/containers/Configuration/CommissioningForm/CommissioningForm.js
  ui/src/app/settings/containers/Configuration/CommissioningForm/CommissioningForm.test.js
  ui/src/app/settings/containers/Configuration/CommissioningForm/index.js
  ui/src/app/settings/containers/Configuration/CommissioningFormFields/CommissioningFormFields.js
  ui/src/app/settings/containers/Configuration/CommissioningFormFields/CommissioningFormFields.test.js
  ui/src/app/settings/containers/Configuration/CommissioningFormFields/index.js
  ui/src/app/settings/containers/Configuration/General/General.js
  ui/src/app/settings/containers/Configuration/General/General.test.js
  ui/src/app/settings/containers/Configuration/General/index.js
  ui/src/app/settings/containers/Configuration/index.js
  ui/src/app/settings/selectors/config.js
  ui/src/app/settings/selectors/config.test.js
Labels: Review: Code +1, Review: Design +1, Review: QA +1

#83 update setting up instructions based on feedback
  ui/README.md
Labels: Review: QA +1

#96 Convert http_proxy value to empty string if fetched as null
  ui/src/app/settings/containers/Network/ProxyForm/ProxyForm.js
Labels: Review: Code +1, Review: QA +1

#100 Handle type 2 sync messages and update config state
  ui/src/app/base/sagas/websockets.js
  ui/src/app/base/sagas/websockets.test.js
  ui/src/app/settings/reducers/config.js
  ui/src/app/settings/reducers/config.test.js
Labels: Review: Code +1, Review: QA +1

#101 Remove scrollbar if section content smaller than viewport height
  ui/src/app/base/components/Section/Section.scss
Labels: Review: Code +1, Review: QA +1

#103 Only fetch once from sagas
  ui/src/app/base/hooks.js
  ui/src/app/base/sagas/websockets.js
  ui/src/app/base/sagas/websockets.test.js
  ui/src/app/settings/actions/config.js
  ui/src/app/settings/actions/config.test.js
  ui/src/app/settings/actions/repositories.js
  ui/src/app/settings/actions/repositories.test.js
  ui/src/app/settings/actions/users.js
  ui/src/app/settings/actions/users.test.js
  ui/src/app/settings/containers/Configuration/CommissioningForm/CommissioningForm.test.js
  ui/src/app/settings/containers/Configuration/KernelParametersForm/KernelParametersForm.test.js
  ui/src/app/settings/containers/Network/DnsForm/DnsForm.test.js
  ui/src/app/settings/containers/Network/NetworkDiscoveryForm/NetworkDiscoveryForm.test.js
  ui/src/app/settings/containers/Network/NtpForm/NtpForm.test.js
  ui/src/app/settings/containers/Network/SyslogForm/SyslogForm.test.js
  ui/src/app/settings/containers/Settings/Settings.js
  ui/src/app/settings/containers/Settings/Settings.test.js
  ui/src/app/settings/containers/Storage/StorageForm/StorageForm.test.js
  ui/src/app/settings/containers/UserEdit/UserEdit.js
  ui/src/app/settings/containers/Users/Users.js
  ui/src/app/settings/reducers/users.js
Labels: Review: Code +1, Review: QA +1

#97 Rewrite ActionButton to control own timeouts + calculate width dynamically
  ui/src/app/base/components/ActionButton/ActionButton.js
  ui/src/app/base/components/ActionButton/ActionButton.test.js
  ui/src/app/base/components/ActionButton/__snapshots__/ActionButton.test.js.snap
  ui/src/app/base/hooks.js
  ui/src/app/settings/containers/Configuration/CommissioningForm/CommissioningForm.js
  ui/src/app/settings/containers/Configuration/GeneralForm/GeneralForm.js
  ui/src/app/settings/containers/Configuration/KernelParametersForm/KernelParametersForm.js
  ui/src/app/settings/containers/Network/DnsForm/DnsForm.js
  ui/src/app/settings/containers/Network/NetworkDiscoveryForm/NetworkDiscoveryForm.js
  ui/src/app/settings/containers/Network/NetworkDiscoveryFormFields/NetworkDiscoveryFormFields.test.js
  ui/src/app/settings/containers/Network/NtpForm/NtpForm.js
  ui/src/app/settings/containers/Network/ProxyForm/ProxyForm.js
  ui/src/app/settings/containers/Network/SyslogForm/SyslogForm.js
  ui/src/app/settings/containers/Storage/StorageForm/StorageForm.js
  ui/src/app/settings/reducers/config.js
  ui/src/app/settings/reducers/config.test.js
  ui/src/app/settings/selectors/config.js
  ui/src/app/settings/selectors/config.test.js
Labels: Review: Code +1, Review: QA +1

#115 Use correct option for commissioning distro series
  ui/src/app/settings/selectors/config.js
  ui/src/app/settings/selectors/config.test.js
  ui/src/app/settings/views/Configuration/Commissioning/Commissioning.test.js
  ui/src/app/settings/views/Configuration/CommissioningForm/CommissioningForm.js
  ui/src/app/settings/views/Configuration/CommissioningForm/CommissioningForm.test.js
  ui/src/app/settings/views/Configuration/CommissioningFormFields/CommissioningFormFields.js
  ui/src/app/settings/views/Configuration/CommissioningFormFields/CommissioningFormFields.test.js
Labels: Review: Code +1, Review: QA +1

#113 Change Vanilla $multi to 1 + add Vanilla overrides file
  ui/src/scss/_patterns_table.scss
  ui/src/scss/_settings.scss
  ui/src/scss/_vanilla-overrides.scss
  ui/src/scss/base.scss
Labels: Review: Code +1, Review: Design +1, Review: QA +1

#118 Align state models with api
  ui/.gitignore
  ui/package.json
  ui/src/app/base/actions.js
  ui/src/app/base/actions.test.js
  ui/src/app/base/reducers.js
  ui/src/app/base/reducers.test.js
  ui/src/app/base/sagas/websockets.js
  ui/src/app/base/sagas/websockets.test.js
  ui/src/app/base/selectors.js
  ui/src/app/base/selectors.test.js
  ui/src/app/settings/actions/config.js
  ui/src/app/settings/actions/config.test.js
  ui/src/app/settings/actions/repositories.js
  ui/src/app/settings/actions/repositories.test.js
  ui/src/app/settings/actions/users.js
  ui/src/app/settings/actions/users.test.js
  ui/src/app/settings/reducers/index.js
  ui/src/app/settings/reducers/packagerepository.js
  ui/src/app/settings/reducers/packagerepository.test.js
  ui/src/app/settings/reducers/user.js
  ui/src/app/settings/reducers/user.test.js
  ui/src/app/settings/selectors/repositories.js
  ui/src/app/settings/selectors/repositories.test.js
  ui/src/app/settings/selectors/users.js
  ui/src/app/settings/selectors/users.test.js
  ui/src/app/settings/views/Configuration/CommissioningForm/CommissioningForm.test.js
  ui/src/app/settings/views/Network/DnsForm/DnsForm.test.js
  ui/src/app/settings/views/Network/NetworkDiscoveryForm/NetworkDiscoveryForm.test.js
  ui/src/app/settings/views/Network/NtpForm/NtpForm.test.js
  ui/src/app/settings/views/Network/SyslogForm/SyslogForm.test.js
  ui/src/app/settings/views/Settings.test.js
  ui/src/app/settings/views/Storage/StorageForm/StorageForm.test.js
  ui/src/app/settings/views/Users/UserEdit/UserEdit.test.js
  ui/src/app/settings/views/Users/UserForm/UserForm.test.js
  ui/src/app/settings/views/Users/UserFormFields/UserFormFields.test.js
  ui/src/app/settings/views/Users/UsersList/UsersList.test.js
  ui/src/root-reducer.js
  yarn.lock
Labels: Review: Code +1, Review: QA +1

#111 Build read-only RepositoriesList component + scaffolding for remaining repos sections
  ui/src/app/base/components/SearchBox/SearchBox.js
  ui/src/app/settings/components/Nav/Nav.js
  ui/src/app/settings/components/Routes/Routes.js
  ui/src/app/settings/reducers/packagerepository.js
  ui/src/app/settings/reducers/packagerepository.test.js
  ui/src/app/settings/selectors/repositories.js
  ui/src/app/settings/selectors/repositories.test.js
  ui/src/app/settings/views/Repositories/Repositories.js
  ui/src/app/settings/views/Repositories/Repositories.test.js
  ui/src/app/settings/views/Repositories/RepositoriesList/RepositoriesList.js
  ui/src/app/settings/views/Repositories/RepositoriesList/RepositoriesList.scss
  ui/src/app/settings/views/Repositories/RepositoriesList/RepositoriesList.test.js
  ui/src/app/settings/views/Repositories/RepositoriesList/index.js
  ui/src/app/settings/views/Repositories/RepositoryAdd/RepositoryAdd.js
  ui/src/app/settings/views/Repositories/RepositoryAdd/RepositoryAdd.test.js
  ui/src/app/settings/views/Repositories/RepositoryAdd/__snapshots__/RepositoryAdd.test.js.snap
  ui/src/app/settings/views/Repositories/RepositoryAdd/index.js
  ui/src/app/settings/views/Repositories/RepositoryEdit/RepositoryEdit.js
  ui/src/app/settings/views/Repositories/RepositoryEdit/RepositoryEdit.test.js
  ui/src/app/settings/views/Repositories/RepositoryEdit/index.js
  ui/src/app/settings/views/Repositories/RepositoryForm/RepositoryForm.js
  ui/src/app/settings/views/Repositories/RepositoryForm/RepositoryForm.scss
  ui/src/app/settings/views/Repositories/RepositoryForm/RepositoryForm.test.js
  ui/src/app/settings/views/Repositories/RepositoryForm/__snapshots__/RepositoryForm.test.js.snap
  ui/src/app/settings/views/Repositories/RepositoryForm/index.js
  ui/src/app/settings/views/Repositories/__snapshots__/Repositories.test.js.snap
  ui/src/app/settings/views/Repositories/index.js
  ui/src/app/settings/views/Users/UsersList/UsersList.js
  ui/src/scss/_patterns_table-actions.scss
  ui/src/scss/_vanilla-overrides.scss
Labels: Review: Code +1 (with changes), Review: Design +1, Review: QA +1

#125 Fix user server errors
  ui/src/app/base/components/FormikField/FormikField.js
  ui/src/app/base/components/FormikField/FormikField.test.js
Labels: Review: Code +1, Review: QA +1

#128 Delete users over the API
  ui/src/app/settings/actions/users.js
  ui/src/app/settings/actions/users.test.js
  ui/src/app/settings/reducers/user.js
  ui/src/app/settings/reducers/user.test.js
  ui/src/app/settings/views/Users/UsersList/UsersList.js
  ui/src/app/settings/views/Users/UsersList/UsersList.test.js
Labels: Review: Code +1, Review: QA +1

#126 Complete form errors dependencies
  ui/src/app/settings/views/Users/UserFormFields/UserFormFields.js
Labels: Review: Code +1, Review: QA +1

#127 Sequence calls for array params to prevent races for dependant config.
  ui/src/app/base/sagas/websockets.js
  ui/src/app/base/sagas/websockets.test.js
Labels: Bug 🐛, Review: Code +1, Review: QA +1

#123 Fix commissioning form
  ui/src/app/settings/actions/general/general.js
  ui/src/app/settings/actions/general/general.test.js
  ui/src/app/settings/actions/general/index.js
  ui/src/app/settings/actions/index.js
  ui/src/app/settings/reducers/general/general.js
  ui/src/app/settings/reducers/general/general.test.js
  ui/src/app/settings/reducers/general/index.js
  ui/src/app/settings/reducers/index.js
  ui/src/app/settings/selectors/config.js
  ui/src/app/settings/selectors/config.test.js
  ui/src/app/settings/selectors/general/general.js
  ui/src/app/settings/selectors/general/general.test.js
  ui/src/app/settings/selectors/general/index.js
  ui/src/app/settings/selectors/index.js
  ui/src/app/settings/views/Configuration/Commissioning/Commissioning.test.js
  ui/src/app/settings/views/Configuration/CommissioningForm/CommissioningForm.js
  ui/src/app/settings/views/Configuration/CommissioningForm/CommissioningForm.test.js
  ui/src/app/settings/views/Configuration/CommissioningFormFields/CommissioningFormFields.js
  ui/src/app/settings/views/Configuration/CommissioningFormFields/CommissioningFormFields.test.js
  ui/src/app/settings/views/Settings.test.js
  ui/src/root-reducer.js
Labels: Review: Code +1 (with changes), Review: QA +1

#131 Response error json fallback
  ui/src/app/base/sagas/websockets.js
  ui/src/app/base/sagas/websockets.test.js
Labels: Review: Code +1, Review: QA +1

#132 Implement deleting repositories over the API
  ui/src/app/settings/actions/repositories.js
  ui/src/app/settings/actions/repositories.test.js
  ui/src/app/settings/actions/users.js
  ui/src/app/settings/actions/users.test.js
  ui/src/app/settings/reducers/packagerepository.js
  ui/src/app/settings/reducers/packagerepository.test.js
  ui/src/app/settings/reducers/user.js
  ui/src/app/settings/reducers/user.test.js
  ui/src/app/settings/selectors/repositories.js
  ui/src/app/settings/selectors/repositories.test.js
  ui/src/app/settings/views/Repositories/RepositoriesList/RepositoriesList.js
  ui/src/app/settings/views/Repositories/RepositoriesList/RepositoriesList.test.js
  ui/src/app/settings/views/Users/UserForm/UserForm.test.js
  ui/src/app/settings/views/Users/UsersList/UsersList.test.js
Labels: Review: Code +1, Review: QA +1

#135 Add a changelog.
  ui/CHANGELOG.md
  ui/README.md
Labels: Review: Code +1, Review: Code needed

#137 Add postbuild script to tarball production build.
  ui/.gitignore
  ui/package.json
Labels: Review: Code +1, Review: Code needed, Review: QA +1, Review: QA needed

#134 Create images windows form component
  ui/src/app/settings/components/Nav/Nav.js
  ui/src/app/settings/components/Nav/__snapshots__/Nav.test.js.snap
  ui/src/app/settings/components/Routes/Routes.js
  ui/src/app/settings/selectors/config.js
  ui/src/app/settings/selectors/config.test.js
  ui/src/app/settings/views/Images/Images.js
  ui/src/app/settings/views/Images/Images.test.js
  ui/src/app/settings/views/Images/Windows/Windows.js
  ui/src/app/settings/views/Images/Windows/Windows.test.js
  ui/src/app/settings/views/Images/Windows/index.js
  ui/src/app/settings/views/Images/WindowsForm/WindowsForm.js
  ui/src/app/settings/views/Images/WindowsForm/WindowsForm.test.js
  ui/src/app/settings/views/Images/WindowsForm/__snapshots__/WindowsForm.test.js.snap
  ui/src/app/settings/views/Images/WindowsForm/index.js
  ui/src/app/settings/views/Images/WindowsFormFields/WindowsFormFields.js
  ui/src/app/settings/views/Images/WindowsFormFields/WindowsFormFields.test.js
  ui/src/app/settings/views/Images/WindowsFormFields/index.js
  ui/src/app/settings/views/Images/__snapshots__/Images.test.js.snap
  ui/src/app/settings/views/Images/index.js
Labels: Review: Code +1 (with changes), Review: QA +1

#138 Document release process and add release yarn script.
  package.json
  ui/README.md
  ui/package.json
Labels: Review: Code +1, Review: Code needed, Review: QA +1, Review: QA needed

#142 Build VMWare form
  ui/src/app/settings/components/Routes/Routes.js
  ui/src/app/settings/selectors/config.js
  ui/src/app/settings/selectors/config.test.js
  ui/src/app/settings/views/Images/VMWare/VMWare.js
  ui/src/app/settings/views/Images/VMWare/VMWare.test.js
  ui/src/app/settings/views/Images/VMWare/index.js
  ui/src/app/settings/views/Images/VMWareForm/VMWareForm.js
  ui/src/app/settings/views/Images/VMWareForm/VMWareForm.test.js
  ui/src/app/settings/views/Images/VMWareForm/__snapshots__/VMWareForm.test.js.snap
  ui/src/app/settings/views/Images/VMWareForm/index.js
  ui/src/app/settings/views/Images/VMWareFormFields/VMWareFormFields.js
  ui/src/app/settings/views/Images/VMWareFormFields/VMWareFormFields.test.js
  ui/src/app/settings/views/Images/VMWareFormFields/index.js
Labels: Feature 🎁, Review: Code +1, Review: QA +1

#149 Redirect settings base url to first form
  ui/src/app/settings/components/Routes/Routes.js
Labels: Review: Code +1, Review: QA +1

#151 Revert "Redirect settings base url to first form (#149)"
  ui/src/app/settings/components/Routes/Routes.js
Labels: Review: Code +1

#152 Add redirect from settings to configuration. Fixes #147
  ui/src/app/settings/components/Routes/Routes.js
Labels: Review: Code +1, Review: QA +1

#145 Add MESSAGE_TYPES const and rename SYNC to NOTIFY.
  ui/src/app/base/actions.js
  ui/src/app/base/actions.test.js
  ui/src/app/base/constants.js
  ui/src/app/base/sagas/websockets.js
  ui/src/app/base/sagas/websockets.test.js
  ui/src/app/settings/actions/config.js
  ui/src/app/settings/actions/config.test.js
  ui/src/app/settings/actions/general/general.js
  ui/src/app/settings/actions/general/general.test.js
  ui/src/app/settings/actions/repositories.js
  ui/src/app/settings/actions/repositories.test.js
  ui/src/app/settings/actions/users.js
  ui/src/app/settings/actions/users.test.js
  ui/src/app/settings/reducers/config.js
  ui/src/app/settings/reducers/config.test.js
  ui/src/app/settings/reducers/packagerepository.js
  ui/src/app/settings/reducers/packagerepository.test.js
  ui/src/app/settings/reducers/user.js
  ui/src/app/settings/reducers/user.test.js
  ui/src/app/settings/views/Configuration/Commissioning/Commissioning.test.js
  ui/src/app/settings/views/Configuration/CommissioningForm/CommissioningForm.test.js
  ui/src/app/settings/views/Configuration/Deploy/Deploy.test.js
  ui/src/app/settings/views/Network/DnsForm/DnsForm.test.js
  ui/src/app/settings/views/Network/NetworkDiscoveryForm/NetworkDiscoveryForm.test.js
  ui/src/app/settings/views/Network/NtpForm/NtpForm.test.js
  ui/src/app/settings/views/Network/SyslogForm/SyslogForm.test.js
  ui/src/app/settings/views/Repositories/RepositoriesList/RepositoriesList.test.js
  ui/src/app/settings/views/Settings.test.js
  ui/src/app/settings/views/Storage/StorageForm/StorageForm.test.js
  ui/src/app/settings/views/Users/UserForm/UserForm.test.js
  ui/src/app/settings/views/Users/UsersList/UsersList.test.js
Labels: Easy :sunglasses:, Maintenance 🔨, Review: Code +1, Review: QA +1

#140 Fetch general data for repository adding/editing
  ui/src/app/settings/actions/general/general.js
  ui/src/app/settings/actions/general/general.test.js
  ui/src/app/settings/reducers/general/componentsToDisable.js
  ui/src/app/settings/reducers/general/componentsToDisable.test.js
  ui/src/app/settings/reducers/general/index.js
  ui/src/app/settings/reducers/general/knownArchitectures.js
  ui/src/app/settings/reducers/general/knownArchitectures.test.js
  ui/src/app/settings/reducers/general/osInfo.js
  ui/src/app/settings/reducers/general/osInfo.test.js
  ui/src/app/settings/reducers/general/pocketsToDisable.js
  ui/src/app/settings/reducers/general/pocketsToDisable.test.js
  ui/src/app/settings/selectors/general/componentsToDisable.js
  ui/src/app/settings/selectors/general/componentsToDisable.test.js
  ui/src/app/settings/selectors/general/general.test.js
  ui/src/app/settings/selectors/general/index.js
  ui/src/app/settings/selectors/general/knownArchitectures.js
  ui/src/app/settings/selectors/general/knownArchitectures.test.js
  ui/src/app/settings/selectors/general/osInfo.js
  ui/src/app/settings/selectors/general/osInfo.test.js
  ui/src/app/settings/selectors/general/pocketsToDisable.js
  ui/src/app/settings/selectors/general/pocketsToDisable.test.js
  ui/src/app/settings/selectors/index.js
  ui/src/app/settings/views/Configuration/Commissioning/Commissioning.test.js
  ui/src/app/settings/views/Configuration/CommissioningForm/CommissioningForm.test.js
  ui/src/app/settings/views/Configuration/CommissioningFormFields/CommissioningFormFields.js
  ui/src/app/settings/views/Configuration/CommissioningFormFields/CommissioningFormFields.test.js
  ui/src/app/settings/views/Configuration/Deploy/Deploy.test.js
  ui/src/app/settings/views/Configuration/DeployFormFields/DeployFormFields.js
  ui/src/app/settings/views/Configuration/DeployFormFields/DeployFormFields.test.js
  ui/src/app/settings/views/Repositories/RepositoryAdd/RepositoryAdd.test.js
  ui/src/app/settings/views/Repositories/RepositoryAdd/__snapshots__/RepositoryAdd.test.js.snap
  ui/src/app/settings/views/Repositories/RepositoryForm/RepositoryForm.js
  ui/src/app/settings/views/Repositories/RepositoryForm/RepositoryForm.test.js
  ui/src/app/settings/views/Repositories/RepositoryForm/__snapshots__/RepositoryForm.test.js.snap
Labels: Enhancement ✨, Review: Code +1 (with changes), Review: QA +1

#161 Add labeler action
  .github/labeler.yml
  .github/workflows/label.yml
Labels: Review: Code needed

#163 Upgrade to react-redux 7.1.1 and update snapshots.
  ui/package.json
  ui/src/app/settings/views/Configuration/GeneralForm/__snapshots__/GeneralForm.test.js.snap
  ui/src/app/settings/views/Images/ThirdPartyDriversForm/__snapshots__/ThirdPartyDriversForm.test.js.snap
  ui/src/app/settings/views/Images/VMWareForm/__snapshots__/VMWareForm.test.js.snap
  ui/src/app/settings/views/Images/WindowsForm/__snapshots__/WindowsForm.test.js.snap
  yarn.lock
Labels: Review: Code +1, Review: Design +1

#162 Add release drafter config.
  .github/release-drafter.yml
Labels: Maintenance 🔨, Review: Code +1

#158 Fetch dhcp snippets and subnets
  ui/src/app/settings/actions/dhcpsnippet.js
  ui/src/app/settings/actions/dhcpsnippet.test.js
  ui/src/app/settings/actions/index.js
  ui/src/app/settings/actions/subnet.js
  ui/src/app/settings/actions/subnet.test.js
  ui/src/app/settings/components/Routes/Routes.js
  ui/src/app/settings/reducers/dhcpsnippet.js
  ui/src/app/settings/reducers/dhcpsnippet.test.js
  ui/src/app/settings/reducers/index.js
  ui/src/app/settings/reducers/subnet.js
  ui/src/app/settings/reducers/subnet.test.js
  ui/src/app/settings/selectors/dhcpsnippet.js
  ui/src/app/settings/selectors/dhcpsnippet.test.js
  ui/src/app/settings/selectors/index.js
  ui/src/app/settings/selectors/subnet.js
  ui/src/app/settings/selectors/subnet.test.js
  ui/src/app/settings/selectors/users.js
  ui/src/app/settings/views/Dhcp/Dhcp.js
  ui/src/app/settings/views/Dhcp/Dhcp.test.js
  ui/src/app/settings/views/Dhcp/DhcpList/DhcpList.js
  ui/src/app/settings/views/Dhcp/DhcpList/DhcpList.test.js
  ui/src/app/settings/views/Dhcp/DhcpList/__snapshots__/DhcpList.test.js.snap
  ui/src/app/settings/views/Dhcp/DhcpList/index.js
  ui/src/app/settings/views/Dhcp/__snapshots__/Dhcp.test.js.snap
  ui/src/app/settings/views/Dhcp/index.js
  ui/src/root-reducer.js
Labels: Enhancement ✨, Review: Code +1, Review: QA +1

#155 Populate repository add/edit fields with websocket data
  ui/src/app/base/components/ActionButton/ActionButton.js
  ui/src/app/base/components/Input/Input.js
  ui/src/app/settings/components/Routes/Routes.js
  ui/src/app/settings/proptypes.js
  ui/src/app/settings/views/Repositories/RepositoriesList/RepositoriesList.js
  ui/src/app/settings/views/Repositories/RepositoryAdd/RepositoryAdd.js
  ui/src/app/settings/views/Repositories/RepositoryAdd/RepositoryAdd.test.js
  ui/src/app/settings/views/Repositories/RepositoryEdit/RepositoryEdit.js
  ui/src/app/settings/views/Repositories/RepositoryEdit/RepositoryEdit.test.js
  ui/src/app/settings/views/Repositories/RepositoryForm/RepositoryForm.js
  ui/src/app/settings/views/Repositories/RepositoryForm/RepositoryForm.test.js
  ui/src/app/settings/views/Repositories/RepositoryFormFields/RepositoryFormFields.js
  ui/src/app/settings/views/Repositories/RepositoryFormFields/RepositoryFormFields.scss
  ui/src/app/settings/views/Repositories/RepositoryFormFields/RepositoryFormFields.test.js
  ui/src/app/settings/views/Repositories/RepositoryFormFields/index.js
  ui/src/scss/_vanilla-overrides.scss
Labels: Enhancement ✨, Review: Code +1 (with changes), Review: Design +1, Review: QA +1

#166 Split base files
  ui/src/app/App.js
  ui/src/app/App.test.js
  ui/src/app/base/actions/auth.js
  ui/src/app/base/actions/auth.test.js
  ui/src/app/base/actions/index.js
  ui/src/app/base/actions/messages.js
  ui/src/app/base/actions/messages.test.js
  ui/src/app/base/actions/websocket.js
  ui/src/app/base/actions/websocket.test.js
  ui/src/app/base/components/Header/Header.js
  ui/src/app/base/components/Header/Header.test.js
  ui/src/app/base/components/Header/__snapshots__/Header.test.js.snap
  ui/src/app/base/components/Main/Main.js
  ui/src/app/base/components/Main/Main.test.js
  ui/src/app/base/components/Main/__snapshots__/Main.test.js.snap
  ui/src/app/base/components/NotificationList/NotificationList.js
  ui/src/app/base/reducers.js
  ui/src/app/base/reducers.test.js
  ui/src/app/base/reducers/auth.js
  ui/src/app/base/reducers/auth.test.js
  ui/src/app/base/reducers/index.js
  ui/src/app/base/reducers/messages.js
  ui/src/app/base/reducers/messages.test.js
  ui/src/app/base/reducers/status.js
  ui/src/app/base/reducers/status.test.js
  ui/src/app/base/selectors.js
  ui/src/app/base/selectors.test.js
  ui/src/app/base/selectors/auth.js
  ui/src/app/base/selectors/auth.test.js
  ui/src/app/base/selectors/index.js
  ui/src/app/base/selectors/messages.js
  ui/src/app/base/selectors/messages.test.js
  ui/src/app/base/selectors/status.js
  ui/src/app/base/selectors/status.test.js
  ui/src/app/settings/components/Nav/Nav.js
  ui/src/app/settings/components/Nav/Nav.test.js
  ui/src/app/settings/components/Nav/__snapshots__/Nav.test.js.snap
  ui/src/app/settings/views/Users/UsersList/UsersList.js
  ui/src/root-reducer.js
Labels: Maintenance 🔨, Review: Code +1, Review: QA +1

#167 Fetch machines, controllers and devices
  ui/src/app/base/actions/controller.js
  ui/src/app/base/actions/controller.test.js
  ui/src/app/base/actions/device.js
  ui/src/app/base/actions/device.test.js
  ui/src/app/base/actions/index.js
  ui/src/app/base/actions/machine.js
  ui/src/app/base/actions/machine.test.js
  ui/src/app/base/reducers/controller.js
  ui/src/app/base/reducers/controller.test.js
  ui/src/app/base/reducers/device.js
  ui/src/app/base/reducers/device.test.js
  ui/src/app/base/reducers/index.js
  ui/src/app/base/reducers/machine.js
  ui/src/app/base/reducers/machine.test.js
  ui/src/app/base/selectors/controller.js
  ui/src/app/base/selectors/controller.test.js
  ui/src/app/base/selectors/device.js
  ui/src/app/base/selectors/device.test.js
  ui/src/app/base/selectors/index.js
  ui/src/app/base/selectors/machine.js
  ui/src/app/base/selectors/machine.test.js
  ui/src/app/settings/views/Dhcp/DhcpList/DhcpList.js
  ui/src/app/settings/views/Dhcp/DhcpList/DhcpList.test.js
  ui/src/app/settings/views/Dhcp/DhcpList/__snapshots__/DhcpList.test.js.snap
  ui/src/root-reducer.js
Labels: Review: Code +1, Review: QA +1
