Repository canonical/maas-ui, pull requests merged in 2019-11, with the labels that each got.

#376 Add yarn target build-all to build all projects in the root.
  .gitignore
  README.md
  package.json
Labels: Review: Code +1, Review: QA +1

#373 Add intro skip
  legacy/src/app/bootstrap.js
  legacy/src/app/entry.js
  shared/src/components/Header/Header.js
  shared/src/components/Header/Header.test.js
  ui/src/app/App.js
  ui/src/app/settings/selectors/config/config.js
  ui/src/app/settings/selectors/config/config.test.js
  yarn.lock
Labels: Review: Code +1, Review: QA +1

#378 Upgrade Vanilla to 2.4.1
  ui/package.json
  ui/src/app/settings/views/Scripts/ScriptsUpload.scss
  ui/src/scss/_vanilla-overrides.scss
  yarn.lock
Labels: Review: Code +1, Review: QA +1

#377 README improvements
  README.md
Labels: Review: Code +1

#380 Sync maas-ui legacy with launchpad master as of 01/11/2019.
  legacy/src/app/controllers/dashboard.js
  legacy/src/app/controllers/networks_list.js
  legacy/src/app/controllers/node_details.js
  legacy/src/app/controllers/node_details_networking.js
  legacy/src/app/controllers/nodes_list.js
  legacy/src/app/controllers/tests/test_dashboard.js
  legacy/src/app/controllers/tests/test_node_details.js
  legacy/src/app/controllers/tests/test_node_details_networking.js
  legacy/src/app/directives/maas_obj_form.js
  legacy/src/app/directives/nodelist/nodes_list_filter.js
  legacy/src/app/directives/power_parameters.js
  legacy/src/app/directives/script_select.js
  legacy/src/app/directives/script_status.js
  legacy/src/app/directives/tests/test_power_parameters.js
  legacy/src/app/factories/machines.js
  legacy/src/app/factories/nodes.js
  legacy/src/app/factories/tests/test_machines.js
  legacy/src/app/factories/tests/test_nodes.js
  legacy/src/app/filters/nodes.js
  legacy/src/app/partials/add-scripts.html
  legacy/src/app/partials/cards/machine-overview.html
  legacy/src/app/partials/cards/network.html
  legacy/src/app/partials/dashboard.html
  legacy/src/app/partials/machines-table.html
  legacy/src/app/partials/networks-list.html
  legacy/src/app/partials/node-details.html
  legacy/src/app/partials/nodedetails/storage/disks-partitions.html
  legacy/src/app/partials/nodes-list.html
  legacy/src/app/partials/pods-list.html
  legacy/src/app/routes.js
  legacy/src/app/services/osblacklist.js
  legacy/src/scss/_grids.scss
  legacy/src/scss/_tables.scss
  legacy/src/scss/grids/_patterns_network-discovery-config.scss
  legacy/src/scss/tables/_base_tables.scss
  legacy/src/scss/tables/_patterns_table-controllers.scss
  legacy/src/scss/tables/_patterns_table-storage.scss
  legacy/src/scss/tables/_patterns_table-subnets.scss
Labels: Review: Code +1, Review: QA +1

#405 Guard against race on bootstrap where no user present.
  legacy/src/app/entry.js
  ui/src/app/App.js
Labels: Bug 🐛, Review: Code +1

#414 Fix broken link in subnets detail page
  legacy/src/app/partials/ipranges.html
Labels: Review: Code +1, Review: QA +1

#418 Add instructions for configuring access to remote hosts from multipas…
  README.md
Labels: Review: Code +1

#413 Fix broken link to settings in storage tab
  legacy/src/app/directives/nodedetails/storage_disks_partitions.js
  legacy/src/app/partials/nodedetails/storage/disks-partitions.html
Labels: Review: Code +1, Review: QA +1

#412 Fix broken links in network tab
  legacy/src/app/directives/dhcp_snippets_table.js
  legacy/src/app/partials/dhcp-snippets-table.html
Labels: Review: Code +1, Review: QA +1

#420 Fix static paths
  legacy/src/index.html.ejs
  legacy/src/scss/_settings.scss
  legacy/webpack.config.js
  ui/.env.development
  ui/.env.production
  ui/.env.test
Labels: Review: Code +1, Review: QA +1

#406 Disable Add License key button if no valid OSes.
  ui/src/app/settings/components/SettingsTable/SettingsTable.js
  ui/src/app/settings/components/SettingsTable/SettingsTable.test.js
  ui/src/app/settings/views/LicenseKeys/LicenseKeyList/LicenseKeyList.js
  ui/src/app/settings/views/LicenseKeys/LicenseKeyList/LicenseKeyList.test.js
Labels: Review: Code +1, Review: QA +1

#432 Add remaining config
  legacy/src/app/bootstrap.js
  legacy/src/app/controllers/nodes_list.js
  legacy/src/app/controllers/tests/test_nodes_list.js
Labels: Review: Code +1, Review: QA +1

#433 Add top level package name
  legacy/package.json
  package.json
  proxy/package.json
  ui/package.json
Labels: Review: Code needed

#434 Mock uuid for all tests
  ui/src/app/base/components/FormikField/FormikField.test.js
  ui/src/app/base/components/FormikForm/FormikForm.test.js
  ui/src/app/base/components/FormikFormContent/FormikFormContent.test.js
  ui/src/app/base/components/Login/Login.test.js
  ui/src/app/base/components/UserForm/UserForm.test.js
  ui/src/app/preferences/views/Details/Details.test.js
  ui/src/app/preferences/views/SSHKeys/AddSSHKey/AddSSHKey.test.js
  ui/src/app/preferences/views/SSHKeys/SSHKeyFormFields/SSHKeyFormFields.test.js
  ui/src/app/preferences/views/SSLKeys/AddSSLKey/AddSSLKey.test.js
  ui/src/app/settings/views/Configuration/DeployFormFields/DeployFormFields.test.js
  ui/src/app/settings/views/Dhcp/DhcpForm/DhcpForm.test.js
  ui/src/app/settings/views/Dhcp/DhcpFormFields/DhcpFormFields.test.js
  ui/src/app/settings/views/Users/UserForm/UserForm.test.js
  ui/src/setupTests.js
Labels: Review: Code +1

#436 Disable CRA sourcemaps
  ui/package.json
Labels: Review: Code +1, Review: QA +1

#438 Backport network filters, IP table and analytics
  legacy/src/app/controllers/dashboard.js
  legacy/src/app/controllers/node_details.js
  legacy/src/app/controllers/nodes_list.js
  legacy/src/app/controllers/pod_details.js
  legacy/src/app/directives/machines_table.js
  legacy/src/app/directives/nodelist/nodes_list_filter.js
  legacy/src/app/entry.js
  legacy/src/app/factories/machines.js
  legacy/src/app/factories/tests/test_machines.js
  legacy/src/app/filters/send_analytics_event.js
  legacy/src/app/filters/tests/test_send_analytics_data.js
  legacy/src/app/partials/cards/machine-overview.html
  legacy/src/app/partials/cards/network.html
  legacy/src/app/partials/dashboard.html
  legacy/src/app/partials/machines-table.html
  legacy/src/app/partials/node-details.html
  legacy/src/app/partials/nodedetails/storage/datastores.html
  legacy/src/app/partials/nodedetails/storage/disks-partitions.html
  legacy/src/app/partials/nodedetails/storage/filesystems.html
  legacy/src/app/partials/nodelist/nodes-list-filter.html
  legacy/src/app/partials/nodes-list.html
  legacy/src/app/partials/pod-details.html
  legacy/src/app/partials/subnet-details.html
Labels: Review: QA +1

#430 Change hardcoded paths to variables
  legacy/.env
  legacy/src/app/controllers/pod_details.js
  legacy/src/app/directives/login.js
  legacy/src/app/entry.js
  legacy/src/app/partials/pod-details.html
  proxy/.env
  proxy/index.js
Labels: Review: Code +1, Review: QA +1

#435 Show or hide RSD nav
  legacy/src/app/bootstrap.js
  legacy/src/app/entry.js
  shared/src/components/Header/Header.js
  shared/src/components/Header/__snapshots__/Header.test.js.snap
  ui/src/app/App.js
  ui/src/app/App.test.js
Labels: Review: Code +1, Review: QA +1

#446 Remove machine shadow
  legacy/src/scss/tables/_patterns_table-machines.scss
Labels: Review: Code needed, Review: QA needed

#444 Fix side nav spacing
  ui/src/app/base/components/SideNav/SideNav.scss
Labels: Review: Code needed, Review: QA needed

#443 Use the new chevron icon
  ui/src/app/base/components/ColumnToggle/ColumnToggle.scss
  ui/src/scss/_vanilla-overrides.scss
Labels: Review: Code needed, Review: QA needed

#442 Remove extra spacing inside expanding rows
  ui/src/app/settings/views/Scripts/ScriptsList.js
  ui/src/scss/_patterns_table.scss
Labels: Review: Code needed, Review: QA needed

#441 Scroll a section into view when toggled
  ui/src/app/base/components/ColumnToggle/ColumnToggle.js
  ui/src/app/base/components/ColumnToggle/ColumnToggle.test.js
Labels: Review: Code needed, Review: QA needed

#448 Fix rsd config loading
  legacy/src/app/entry.js
Labels: Review: Code needed

#450 Improve responsiveness of tables
  ui/src/app/preferences/views/APIKeys/APIKeyList/APIKeyList.scss
  ui/src/app/preferences/views/SSHKeys/SSHKeyList/SSHKeyList.js
  ui/src/app/preferences/views/SSHKeys/SSHKeyList/SSHKeyList.scss
  ui/src/app/preferences/views/SSLKeys/SSLKeyList/SSLKeyList.scss
  ui/src/app/settings/views/Dhcp/DhcpList/DhcpList.scss
  ui/src/app/settings/views/LicenseKeys/LicenseKeyList/LicenseKeyList.js
  ui/src/app/settings/views/LicenseKeys/LicenseKeyList/LicenseKeyList.scss
  ui/src/app/settings/views/Repositories/RepositoriesList/RepositoriesList.scss
  ui/src/app/settings/views/Scripts/ScriptsList.scss
  ui/src/app/settings/views/Users/UsersList/UsersList.scss
  ui/src/scss/_patterns_table-actions.scss
Labels: Review: Code needed, Review: QA needed

#452 Add viewport meta tag
  ui/public/index.html
Labels: Review: Code +1, Review: QA +1

#456 Fix console error when using the group by filter
  legacy/src/app/partials/nodes-list.html
Labels: Review: Code +1, Review: QA +1

#466 Fix console error when editing resource pool
  legacy/src/app/directives/maas_obj_form.js
Labels: Review: Code +1, Review: QA +1

#468 Fix alignment of add pool button
  legacy/src/app/partials/nodes-list.html
Labels: Review: Code +1, Review: QA +1

#469 Fix button link active state colour
  legacy/src/scss/_patterns_button.scss
Labels: Review: Code +1 (with changes), Review: QA +1

#453 Fix styles for autocomplete list
  legacy/src/scss/_patterns_tag-input.scss
Labels: Review: Code +1, Review: QA +1

#471 Display required indicators when adding machine from machine list.
  legacy/src/app/controllers/add_hardware.js
  legacy/src/app/controllers/tests/test_add_hardware.js
  legacy/src/app/directives/power_parameters.js
  legacy/src/app/partials/nodelist/add-machine.html
Labels: Review: Code +1, Review: QA +1

#472 Stop Add MAC button submitting form prematurely in Add Machine form.
  legacy/src/app/partials/nodelist/add-machine.html
Labels: Review: Code +1, Review: QA +1

#473 Fix form button spacing Vanilla override.
  ui/src/app/base/components/FormikFormButtons/FormikFormButtons.js
  ui/src/app/base/components/FormikFormButtons/__snapshots__/FormikFormButtons.test.js.snap
  ui/src/app/base/components/FormikFormContent/FormikFormContent.js
  ui/src/app/settings/views/Network/ProxyFormFields/ProxyFormFields.js
  ui/src/scss/_vanilla-overrides.scss
Labels: Review: Code +1, Review: Design +1, Review: QA +1

#475 Reset user preference form values on submit.
  ui/src/app/base/components/UserForm/UserForm.js
  ui/src/app/base/components/UserForm/UserForm.test.js
Labels: Review: Code +1, Review: QA +1

#482 Fix change password link spacing
  ui/src/app/base/components/UserForm/UserForm.js
  ui/src/scss/_vanilla-overrides.scss
Labels: Review: Code +1, Review: QA +1

#487 Add disconnected icon
  legacy/src/app/partials/node-details.html
  legacy/src/scss/_patterns_icons.scss
Labels: Review: Code +1, Review: QA +1

#486 Group machines when sorting
  ui/src/app/base/enum.js
  ui/src/app/machines/views/MachineList/MachineList.js
  ui/src/app/machines/views/MachineList/MachineList.scss
  ui/src/app/machines/views/MachineList/MachineList.test.js
Labels: Review: Code +1, Review: QA +1

#477 Add Cypress with basic login tests.
  .circleci/config.yml
  README.md
  package.json
  proxy/cypress.json
  proxy/cypress/fixtures/example.json
  proxy/cypress/integration/login/login.spec.js
  proxy/cypress/plugins/index.js
  proxy/cypress/support/commands.js
  proxy/cypress/support/index.js
  proxy/package.json
  yarn.lock
Labels: Review: Code +1, Review: QA +1

#492 Add machines accordion
  ui/src/app/machines/views/MachineList/MachineList.js
  ui/src/app/machines/views/MachineList/MachineList.scss
  ui/src/app/machines/views/MachineList/MachineList.test.js
Labels: Review: Code +1, Review: QA +1

#501 Pluralise machine counts in machines table
  ui/package.json
  ui/src/app/machines/views/MachineList/MachineList.js
  yarn.lock
Labels: Review: Code +1 (with changes), Review: QA +1

#504 Send script_input when commissioning machines
  legacy/src/app/controllers/node_details.js
  legacy/src/app/controllers/tests/test_node_details.js
Labels: Review: Code +1, Review: QA +1

#506 Remove instances of first_name param in user objects.
  ui/src/app/App.test.js
  ui/src/app/base/components/UserForm/UserForm.js
  ui/src/app/base/components/UserForm/UserForm.test.js
  ui/src/app/base/proptypes.js
  ui/src/app/base/selectors/user/user.js
  ui/src/app/base/selectors/user/user.test.js
  ui/src/app/preferences/views/Details/Details.test.js
  ui/src/app/settings/views/Users/UserEdit/UserEdit.test.js
  ui/src/app/settings/views/Users/UserForm/UserForm.test.js
  ui/src/app/settings/views/Users/UsersList/UsersList.js
  ui/src/app/settings/views/Users/UsersList/UsersList.test.js
Labels: Review: Code +1, Review: QA +1

#505 Add Tooltip component.
  ui/package.json
  ui/src/app/base/components/Tooltip/Tooltip.js
  ui/src/app/base/components/Tooltip/Tooltip.test.js
  ui/src/app/base/components/Tooltip/__snapshots__/Tooltip.test.js.snap
  ui/src/app/base/components/Tooltip/index.js
  ui/src/app/preferences/views/SSHKeys/SSHKeyFormFields/SSHKeyFormFields.js
  ui/src/app/settings/components/SettingsTable/SettingsTable.js
  ui/src/app/settings/components/SettingsTable/SettingsTable.test.js
  ui/src/app/settings/views/Dhcp/DhcpList/DhcpList.js
  ui/src/app/settings/views/Repositories/RepositoriesList/RepositoriesList.js
  ui/src/app/settings/views/Scripts/ScriptsList.js
  ui/src/app/settings/views/Users/UsersList/UsersList.js
  ui/src/scss/_vanilla-overrides.scss
  yarn.lock
Labels: Review: Code +1, Review: QA +1

#520 Fix doc and release notes links in Footer
  shared/src/components/Footer/Footer.js
  shared/src/components/Footer/__snapshots__/Footer.test.js.snap
Labels: Review: Code +1, Review: QA +1

#500 Add columns to machines table
  ui/src/app/machines/views/MachineList/MachineList.js
  ui/src/app/utils/formatGigabits.js
  ui/src/app/utils/formatGigabits.test.js
  ui/src/app/utils/formatGigabytes.js
  ui/src/app/utils/formatGigabytes.test.js
  ui/src/app/utils/index.js
  ui/src/scss/base.scss
Labels: Review: Code +1, Review: QA +1

#521 Check authentication from login endpoint
  ui/src/app/base/reducers/status/status.js
  ui/src/app/base/reducers/status/status.test.js
  ui/src/app/base/sagas/http.js
  ui/src/app/base/sagas/http.test.js
Labels: Review: Code +1, Review: QA +1
