Repository canonical/maas-ui, pull requests merged in 2019-10, with the labels that each got.

#240 Enable copying SSL keys
  ui/src/app/base/components/CopyButton/CopyButton.js
  ui/src/app/base/components/CopyButton/CopyButton.test.js
  ui/src/app/base/components/CopyButton/__snapshots__/CopyButton.test.js.snap
  ui/src/app/base/components/CopyButton/index.js
  ui/src/app/preferences/components/Routes/Routes.js
  ui/src/app/preferences/views/SSLKeys/SSLKeyList/SSLKeyList.js
  ui/src/app/preferences/views/SSLKeys/SSLKeyList/SSLKeyList.scss
  ui/src/app/preferences/views/SSLKeys/SSLKeyList/SSLKeyList.test.js
  ui/src/app/preferences/views/SSLKeys/SSLKeyList/index.js
Labels: Review: Code +1, Review: QA +1

#234 Add user details form
  ui/src/app/base/actions/auth/auth.js
  ui/src/app/base/actions/auth/auth.test.js
  ui/src/app/base/components/UserForm/UserForm.js
  ui/src/app/base/components/UserForm/UserForm.test.js
  ui/src/app/base/components/UserForm/index.js
  ui/src/app/base/components/UserFormFields/UserFormFields.js
  ui/src/app/base/components/UserFormFields/UserFormFields.test.js
  ui/src/app/base/components/UserFormFields/index.js
  ui/src/app/base/reducers/auth/auth.js
  ui/src/app/base/reducers/auth/auth.test.js
  ui/src/app/base/selectors/auth/auth.js
  ui/src/app/base/selectors/auth/auth.test.js
  ui/src/app/preferences/views/Details/Details.js
  ui/src/app/preferences/views/Details/Details.test.js
  ui/src/app/preferences/views/Details/DetailsButtons/DetailsButtons.js
  ui/src/app/preferences/views/Details/DetailsButtons/DetailsButtons.test.js
  ui/src/app/preferences/views/Details/DetailsButtons/__snapshots__/DetailsButtons.test.js.snap
  ui/src/app/preferences/views/Details/DetailsButtons/index.js
  ui/src/app/preferences/views/Details/__snapshots__/Details.test.js.snap
  ui/src/app/settings/views/Users/UserEdit/UserEdit.test.js
  ui/src/app/settings/views/Users/UserForm/UserForm.js
  ui/src/app/settings/views/Users/UserForm/UserForm.test.js
  ui/src/app/settings/views/Users/UsersList/UsersList.js
  ui/src/app/settings/views/Users/UsersList/UsersList.test.js
Labels: Review: Code +1, Review: QA +1

#239 Add SSL keys form
  ui/src/app/base/actions/user/user.test.js
  ui/src/app/base/components/Textarea/Textarea.js
  ui/src/app/preferences/actions/sslkey/sslkey.js
  ui/src/app/preferences/actions/sslkey/sslkey.test.js
  ui/src/app/preferences/components/Routes/Routes.js
  ui/src/app/preferences/reducers/sslkey/sslkey.js
  ui/src/app/preferences/reducers/sslkey/sslkey.test.js
  ui/src/app/preferences/selectors/sslkey/sslkey.js
  ui/src/app/preferences/selectors/sslkey/sslkey.test.js
  ui/src/app/preferences/views/SSLKeys/AddSSLKey/AddSSLKey.js
  ui/src/app/preferences/views/SSLKeys/AddSSLKey/AddSSLKey.test.js
  ui/src/app/preferences/views/SSLKeys/AddSSLKey/index.js
  ui/src/app/preferences/views/SSLKeys/SSLKeyFormFields/SSLKeyFormFields.js
  ui/src/app/preferences/views/SSLKeys/SSLKeyFormFields/SSLKeyFormFields.test.js
  ui/src/app/preferences/views/SSLKeys/SSLKeyFormFields/index.js
  ui/src/app/preferences/views/SSLKeys/SSLKeyList/SSLKeyList.js
Labels: Review: Code +1, Review: QA +1

#246 Delete SSH keys from the list.
  ui/src/app/base/components/TableDeleteConfirm/TableDeleteConfirm.js
  ui/src/app/base/components/TableDeleteConfirm/__snapshots__/TableDeleteConfirm.test.js.snap
  ui/src/app/preferences/actions/sshkey/sshkey.js
  ui/src/app/preferences/actions/sshkey/sshkey.test.js
  ui/src/app/preferences/reducers/sshkey/sshkey.js
  ui/src/app/preferences/reducers/sshkey/sshkey.test.js
  ui/src/app/preferences/views/SSHKeys/SSHKeyList/SSHKeyList.js
  ui/src/app/preferences/views/SSHKeys/SSHKeyList/SSHKeyList.test.js
Labels: Review: Code +1, Review: QA +1

#245 Add API key list
  ui/src/app/preferences/components/Routes/Routes.js
  ui/src/app/preferences/views/APIKeys/APIKeyList/APIKeyList.js
  ui/src/app/preferences/views/APIKeys/APIKeyList/APIKeyList.scss
  ui/src/app/preferences/views/APIKeys/APIKeyList/APIKeyList.test.js
  ui/src/app/preferences/views/APIKeys/APIKeyList/index.js
Labels: Review: Code +1, Review: QA +1

#247 Delete SSL keys
  ui/src/app/preferences/actions/sslkey/sslkey.js
  ui/src/app/preferences/actions/sslkey/sslkey.test.js
  ui/src/app/preferences/reducers/sslkey/sslkey.js
  ui/src/app/preferences/reducers/sslkey/sslkey.test.js
  ui/src/app/preferences/views/SSLKeys/SSLKeyList/SSLKeyList.js
  ui/src/app/preferences/views/SSLKeys/SSLKeyList/SSLKeyList.test.js
Labels: Review: Code +1, Review: QA +1

#248 Fit SSL key field content
  ui/src/app/preferences/views/SSLKeys/SSLKeyFormFields/SSLKeyFormFields.js
  ui/src/app/preferences/views/SSLKeys/SSLKeyFormFields/SSLKeyFormFields.scss
Labels: Review: Code +1, Review: QA +1

#252 Upgrade Vanilla to 2.4.0
  ui/package.json
  ui/src/app/base/components/ActionButton/ActionButton.scss
  ui/src/app/base/components/Header/Header.js
  ui/src/app/base/components/Header/__snapshots__/Header.test.js.snap
  ui/src/app/base/components/Section/Section.scss
  ui/src/app/base/components/SideNav/SideNav.scss
  ui/src/app/settings/views/Users/UsersList/UsersList.scss
  ui/src/scss/_patterns_button.scss
  ui/src/scss/_patterns_table.scss
  ui/src/scss/_settings.scss
  ui/src/scss/_vanilla-overrides.scss
  ui/src/scss/base.scss
  yarn.lock
Labels: Review: Code +1, Review: QA +1

#253 Fetch license keys
  ui/src/app/base/actions/index.js
  ui/src/app/base/actions/licensekeys/index.js
  ui/src/app/base/actions/licensekeys/licensekeys.js
  ui/src/app/base/actions/licensekeys/licensekeys.test.js
  ui/src/app/base/reducers/index.js
  ui/src/app/base/reducers/licensekeys/index.js
  ui/src/app/base/reducers/licensekeys/licensekeys.js
  ui/src/app/base/reducers/licensekeys/licensekeys.test.js
  ui/src/app/base/sagas/http.js
  ui/src/app/base/sagas/index.js
  ui/src/app/base/selectors/index.js
  ui/src/app/base/selectors/licensekeys/index.js
  ui/src/app/base/selectors/licensekeys/licensekeys.js
  ui/src/app/base/selectors/licensekeys/licensekeys.test.js
  ui/src/app/settings/components/Nav/Nav.js
  ui/src/app/settings/components/Routes/Routes.js
  ui/src/app/settings/views/LicenseKeys/LicenseKeyList/LicenseKeyList.js
  ui/src/app/settings/views/LicenseKeys/LicenseKeyList/index.js
  ui/src/root-reducer.js
  ui/src/root-saga.js
Labels: Review: Code +1, Review: QA +1

#257 Display license keys in table, with search.
  ui/src/app/base/selectors/licensekeys/licensekeys.js
  ui/src/app/settings/views/LicenseKeys/LicenseKeyList/LicenseKeyList.js
  ui/src/app/settings/views/LicenseKeys/LicenseKeyList/LicenseKeyList.test.js
Labels: Review: Code +1, Review: QA +1

#258 Delete license keys
  ui/src/app/base/actions/licensekeys/licensekeys.js
  ui/src/app/base/actions/licensekeys/licensekeys.test.js
  ui/src/app/base/reducers/licensekeys/licensekeys.js
  ui/src/app/base/reducers/licensekeys/licensekeys.test.js
  ui/src/app/base/sagas/http.js
  ui/src/app/base/sagas/http.test.js
  ui/src/app/base/sagas/index.js
  ui/src/app/base/selectors/licensekeys/licensekeys.js
  ui/src/app/base/selectors/licensekeys/licensekeys.test.js
  ui/src/app/settings/views/LicenseKeys/LicenseKeyList/LicenseKeyList.js
  ui/src/root-saga.js
Labels: Review: Code +1 (with changes), Review: QA +1

#262 Add create license key form
  ui/src/app/base/actions/licensekeys/licensekeys.js
  ui/src/app/base/actions/licensekeys/licensekeys.test.js
  ui/src/app/base/reducers/licensekeys/licensekeys.js
  ui/src/app/base/reducers/licensekeys/licensekeys.test.js
  ui/src/app/base/sagas/http.js
  ui/src/app/base/sagas/index.js
  ui/src/app/base/selectors/general/osInfo.js
  ui/src/app/base/selectors/general/osInfo.test.js
  ui/src/app/base/selectors/licensekeys/licensekeys.js
  ui/src/app/settings/components/Routes/Routes.js
  ui/src/app/settings/views/LicenseKeys/LicenseKeyAdd/LicenseKeyAdd.js
  ui/src/app/settings/views/LicenseKeys/LicenseKeyAdd/index.js
  ui/src/app/settings/views/LicenseKeys/LicenseKeyForm/LicenseKeyForm.js
  ui/src/app/settings/views/LicenseKeys/LicenseKeyForm/LicenseKeyForm.test.js
  ui/src/app/settings/views/LicenseKeys/LicenseKeyForm/index.js
  ui/src/app/settings/views/LicenseKeys/LicenseKeyFormFields/LicenseKeyFormFields.js
  ui/src/app/settings/views/LicenseKeys/LicenseKeyFormFields/LicenseKeyFormFields.test.js
  ui/src/app/settings/views/LicenseKeys/LicenseKeyFormFields/index.js
  ui/src/app/settings/views/LicenseKeys/LicenseKeyList/LicenseKeyList.js
  ui/src/app/settings/views/Scripts/ScriptsList.js
  ui/src/root-saga.js
Labels: Review: Code +1 (with changes), Review: QA +1

#269 Expose websocket errors
  ui/src/app/App.js
  ui/src/app/App.test.js
  ui/src/app/base/components/Header/Header.js
  ui/src/app/base/components/Header/Header.test.js
  ui/src/app/base/components/Main/Main.js
  ui/src/app/base/components/Main/Main.test.js
  ui/src/app/base/components/Main/index.js
  ui/src/app/base/sagas/websockets.js
  ui/src/app/base/sagas/websockets.test.js
Labels: Review: Code +1, Review: QA +1

#268 Stack form card heading
  ui/src/app/base/components/FormCard/FormCard.js
  ui/src/app/base/components/FormCard/FormCard.test.js
  ui/src/app/settings/views/Scripts/ScriptsUpload.js
Labels: Review: Code +1, Review: QA +1

#266 Sync SSL Keys
  ui/src/app/preferences/reducers/sslkey/sslkey.js
  ui/src/app/preferences/reducers/sslkey/sslkey.test.js
Labels: Review: Code +1, Review: QA +1

#270 WS disconnect notification
  ui/src/app/base/reducers/status/status.js
  ui/src/app/base/reducers/status/status.test.js
  ui/src/app/base/sagas/websockets.js
  ui/src/app/base/sagas/websockets.test.js
Labels: Review: Code +1, Review: QA +1

#274 Add license key editing form.
  ui/src/app/base/actions/licensekeys/licensekeys.js
  ui/src/app/base/actions/licensekeys/licensekeys.test.js
  ui/src/app/base/reducers/licensekeys/licensekeys.js
  ui/src/app/base/reducers/licensekeys/licensekeys.test.js
  ui/src/app/base/sagas/http.js
  ui/src/app/base/sagas/http.test.js
  ui/src/app/base/sagas/index.js
  ui/src/app/base/selectors/licensekeys/licensekeys.js
  ui/src/app/settings/components/Routes/Routes.js
  ui/src/app/settings/views/LicenseKeys/LicenseKeyEdit/LicenseKeyEdit.js
  ui/src/app/settings/views/LicenseKeys/LicenseKeyEdit/LicenseKeyEdit.test.js
  ui/src/app/settings/views/LicenseKeys/LicenseKeyEdit/index.js
  ui/src/app/settings/views/LicenseKeys/LicenseKeyForm/LicenseKeyForm.js
  ui/src/app/settings/views/LicenseKeys/LicenseKeyForm/LicenseKeyForm.test.js
  ui/src/app/settings/views/LicenseKeys/LicenseKeyFormFields/LicenseKeyFormFields.js
  ui/src/app/settings/views/LicenseKeys/LicenseKeyList/LicenseKeyList.js
  ui/src/root-saga.js
Labels: Review: Code +1, Review: QA +1

#276 Fix bug where changing Ubuntu kernel options while image was downloading would crash the app.
  ui/src/app/settings/views/Configuration/CommissioningFormFields/CommissioningFormFields.js
Labels: Review: Code +1, Review: QA +1

#278 Enable logging out
  ui/src/app/base/actions/status/status.js
  ui/src/app/base/actions/status/status.test.js
  ui/src/app/base/components/Header/Header.js
  ui/src/app/base/components/Header/Header.test.js
  ui/src/app/base/components/Header/__snapshots__/Header.test.js.snap
  ui/src/app/base/reducers/status/status.js
  ui/src/app/base/reducers/status/status.test.js
  ui/src/app/base/sagas/http.js
  ui/src/app/base/sagas/http.test.js
  ui/src/app/base/sagas/index.js
  ui/src/app/base/sagas/websockets.js
  ui/src/app/base/sagas/websockets.test.js
  ui/src/root-saga.js
  ui/src/setupProxy.js
Labels: Review: Code +1, Review: QA +1

#281 Only restrict settings to admins
  ui/src/app/App.js
  ui/src/app/App.test.js
  ui/src/app/settings/views/Settings.js
  ui/src/app/settings/views/Settings.test.js
Labels: Review: Code +1, Review: QA +1

#308 Fix legacy tests
  legacy/.eslintrc.js
  legacy/src/app/controllers/node_details.js
  legacy/src/app/controllers/tests/test_node_details.js
  legacy/src/app/directives/dbl_click_overlay.js
  legacy/src/app/directives/tests/test_action_button.js
  legacy/src/app/directives/tests/test_call_to_action.js
  legacy/src/app/directives/tests/test_maas_obj_form.js
  legacy/src/app/directives/tests/test_machines_table.js
  legacy/src/app/directives/tests/test_proxy_settings.js
  legacy/src/app/directives/tests/test_ssh_keys.js
  legacy/src/app/partials/ssh-keys.html
  legacy/src/app/routes.js
  legacy/src/app/services/pollingmanager.js
  legacy/src/app/services/region.js
  legacy/src/app/services/tests/test_pollingmanager.js
  legacy/src/app/testing/setup-jest.js
Labels: Review: Code +1

#311 Remove unused MAAS config values.
  legacy/src/app/entry.js
Labels: Review: Code +1

#305 Sync legacy js files to latest launchpad master branch.
  legacy/src/app/controllers/node_details.js
  legacy/src/app/controllers/node_details_networking.js
  legacy/src/app/controllers/node_details_storage.js
  legacy/src/app/controllers/tests/test_node_details.js
  legacy/src/app/controllers/tests/test_node_details_networking.js
  legacy/src/app/directives/pod-details/summary.js
  legacy/src/app/directives/power_parameters.js
  legacy/src/app/directives/script_select.js
  legacy/src/app/entry.js
  legacy/src/app/factories/tests/test_zones.js
  legacy/src/app/partials/add-scripts.html
  legacy/src/app/partials/cards/machine-overview.html
  legacy/src/app/partials/cards/network.html
  legacy/src/app/partials/node-details.html
  legacy/src/app/partials/nodedetails/node-details-summary.html
  legacy/src/app/partials/nodedetails/storage/disks-partitions.html
  legacy/src/app/partials/pod-details.html
  legacy/src/scss/_patterns_button.scss
  legacy/src/scss/tables/_patterns_table-controllers.scss
Labels: Review: Code needed, Review: QA needed

#313 Configure maas-ui with VERSION and COMPLETED_INTRO.
  legacy/package.json
  legacy/src/app/entry.js
  legacy/src/app/testing/setup.js
  legacy/src/index.html
  legacy/src/scss/_maas.scss
  yarn.lock
Labels: Review: Code +1, Review: QA +1

#314 Add SITE_NAME config.
  legacy/src/app/directives/version_reloader.js
  legacy/src/app/entry.js
  legacy/src/app/testing/setup.js
  legacy/src/index.html
Labels: Review: Code +1, Review: QA +1

#320 Add CopyWebpackPlugin and serve assets correctly in dev.
  legacy/package.json
  legacy/src/index.html
  legacy/src/scss/_settings.scss
  legacy/webpack.config.js
  yarn.lock
Labels: Review: Code +1, Review: QA +1

#316 Remove dead link to UI setup instructions.
  README.md
Labels: Review: Code +1

#326 Update setup info
  README.md
Labels: Review: Code +1

#332 Change root element height to min height
  ui/src/scss/base.scss
Labels: Review: Code +1, Review: QA +1

#323 Configure production build
  legacy/package.json
  legacy/src/app/partials/directives/script-runtime.html
  legacy/webpack.config.js
Labels: Review: Code +1, Review: QA +1

#335 Add config from USERS API.
  legacy/src/app/entry.js
  legacy/src/app/routes.js
  legacy/src/app/testing/setup.js
Labels: Review: Code +1, Review: QA +1

#334 Add initial values when undefined for DnsForm and SyslogForm.
  ui/src/app/settings/views/Network/DnsForm/DnsForm.js
  ui/src/app/settings/views/Network/SyslogForm/SyslogForm.js
Labels: Review: Code +1, Review: QA +1

#346 Remove labeler action until issue with PRs from forks resolved.
  .github/labeler.yml
  .github/workflows/label.yml
Labels: Review: Code needed

#343 Configure app from websocket API.
  legacy/.eslintrc.js
  legacy/package.json
  legacy/src/app/bootstrap.js
  legacy/src/app/controllers/dashboard.js
  legacy/src/app/controllers/intro.js
  legacy/src/app/controllers/intro_user.js
  legacy/src/app/controllers/node_details.js
  legacy/src/app/controllers/nodes_list.js
  legacy/src/app/controllers/tests/test_intro.js
  legacy/src/app/controllers/tests/test_intro_user.js
  legacy/src/app/controllers/tests/test_nodes_list.js
  legacy/src/app/directives/loading.js
  legacy/src/app/directives/version_reloader.js
  legacy/src/app/entry.js
  legacy/src/app/services/manager.js
  legacy/src/app/testing/setup.js
  legacy/src/index.html
  yarn.lock
Labels: Review: Code +1, Review: QA +1

#352 Add maas_uuid to CONFIG.
  legacy/src/app/bootstrap.js
  legacy/src/app/entry.js
Labels: Review: Code +1, Review: QA +1

#342 Add a shared footer
  legacy/src/app/entry.js
  legacy/src/index.html
  package.json
  shared/src/components/Footer/Footer.js
  shared/src/components/Footer/Footer.test.js
  shared/src/components/Footer/__snapshots__/Footer.test.js.snap
  shared/src/components/Footer/index.js
  shared/src/index.js
  ui/src/app/App.js
  ui/src/app/base/components/Section/Section.js
  ui/src/app/base/components/Section/__snapshots__/Section.test.js.snap
  ui/src/scss/_patterns_footer.scss
  ui/src/scss/base.scss
Labels: Review: Code +1 (with changes), Review: QA +1

#355 Handle login errors
  ui/src/app/base/components/Login/Login.js
  ui/src/app/base/reducers/status/status.js
  ui/src/app/base/reducers/status/status.test.js
  ui/src/app/base/sagas/http.js
  ui/src/app/base/sagas/http.test.js
Labels: Review: Code +1, Review: QA +1

#356 Use localStorage for persisting config.
  legacy/src/app/bootstrap.js
  shared/src/components/Header/Header.js
Labels: Review: Code +1, Review: QA +1

#357 MAAS name in window title
  legacy/src/app/entry.js
  legacy/src/index.html
Labels: Review: Code +1, Review: QA +1

#359 Sync changes to the auth user.
  ui/src/app/base/reducers/auth/auth.js
  ui/src/app/base/reducers/auth/auth.test.js
Labels: Review: Code +1, Review: QA +1

#361 Set ActionButton dimensions on loading state transition.
  ui/src/app/base/components/ActionButton/ActionButton.js
Labels: Review: Code +1, Review: QA +1

#365 Update config key for maas_uuid.
  legacy/src/app/bootstrap.js
  legacy/src/app/entry.js
Labels: Review: Code +1, Review: QA +1

#369 Add placeholder headings to make switching between apps more seamless.
  legacy/src/index.html
  ui/public/index.html
Labels: Review: Code +1, Review: QA +1

#370 Fix authentication test
  legacy/src/app/entry.js
  ui/src/app/base/sagas/http.js
Labels: Review: Code +1, Review: QA +1

#371 Use 'build' instead of 'dist' for legacy build dir for consistency.
  legacy/.gitignore
  legacy/package.json
  legacy/webpack.config.js
Labels: Review: Code +1, Review: QA +1

#360 Lint deps
  .circleci/config.yml
  legacy/package.json
  proxy/package.json
  shared/package.json
  ui/package.json
  yarn.lock
Labels: Review: Code +1

#358 Add Google Analytics script
  legacy/src/app/entry.js
  legacy/src/index.html
  proxy/index.js
  shared/src/components/Header/Header.js
  shared/src/components/Header/__snapshots__/Header.test.js.snap
  ui/src/app/App.js
Labels: Review: Code +1, Review: QA +1
