Repository canonical/maas-ui, pull requests merged in 2019-12, with the labels that each got.

#535 Preferences fixes from Design QA
  ui/src/app/preferences/views/APIKeys/APIKeyForm/APIKeyForm.js
  ui/src/app/preferences/views/APIKeys/APIKeyList/APIKeyList.js
Labels: Review: Code +1, Review: QA +1

#532 Support logging in with macaroons
  legacy/src/app/entry.js
  ui/package.json
  ui/src/app/base/actions/status/status.js
  ui/src/app/base/actions/status/status.test.js
  ui/src/app/base/components/Login/Login.js
  ui/src/app/base/components/Login/Login.scss
  ui/src/app/base/components/Login/Login.test.js
  ui/src/app/base/reducers/status/status.js
  ui/src/app/base/reducers/status/status.test.js
  ui/src/app/base/sagas/http.js
  ui/src/app/base/sagas/http.test.js
  ui/src/app/base/sagas/index.js
  ui/src/app/base/selectors/status/status.js
  ui/src/app/base/selectors/status/status.test.js
  ui/src/bakery.js
  ui/src/index.js
  ui/src/root-saga.js
  yarn.lock
Labels: Review: Code +1, Review: QA +1

#530 Rewrite Header component to utilise Vanilla subnav and remove hardcoded values.
  legacy/src/scss/_patterns_navigation.scss
  shared/src/components/Header/Header.js
  shared/src/components/Header/Header.test.js
  shared/src/components/Header/__snapshots__/Header.test.js.snap
  ui/src/app/base/components/ColumnToggle/ColumnToggle.scss
  ui/src/app/base/components/FormCard/FormCard.js
  ui/src/app/base/components/FormCard/FormCard.scss
  ui/src/app/base/components/FormCard/__snapshots__/FormCard.test.js.snap
  ui/src/app/base/components/Section/Section.js
  ui/src/app/base/components/Section/Section.scss
  ui/src/app/base/components/Section/__snapshots__/Section.test.js.snap
  ui/src/app/machines/views/MachineList/MachineList.scss
  ui/src/app/preferences/views/SSLKeys/AddSSLKey/AddSSLKey.scss
  ui/src/scss/_patterns_navigation.scss
  ui/src/scss/_patterns_table-actions.scss
  ui/src/scss/base.scss
Labels: Review: Code +1, Review: Design +1, Review: QA +1

#543 Disable modifying users when using external auth
  ui/src/app/base/components/UserForm/UserForm.js
  ui/src/app/base/components/UserForm/UserForm.test.js
  ui/src/app/preferences/views/Details/Details.js
  ui/src/app/preferences/views/Details/Details.test.js
  ui/src/app/settings/components/Routes/Routes.js
  ui/src/app/settings/views/Settings.test.js
  ui/src/app/settings/views/Users/UserEdit/UserEdit.test.js
  ui/src/app/settings/views/Users/UserForm/UserForm.test.js
  ui/src/app/settings/views/Users/UsersList/UsersList.js
  ui/src/app/settings/views/Users/UsersList/UsersList.test.js
Labels: Review: Code +1, Review: QA +1

#558 Allow the default repo url to be edited (lp#1855320).
  ui/src/app/settings/views/Repositories/RepositoryForm/RepositoryForm.js
  ui/src/app/settings/views/Repositories/RepositoryFormFields/RepositoryFormFields.js
Labels: Review: Code +1 (with changes), Review: QA +1

#560 Downgrade to CRA 3.2.0
  ui/package.json
  yarn.lock
Labels: Review: Code +1, Review: QA +1

#528 More explicit messages when changing bmc node config
  legacy/src/app/partials/node-details.html
Labels: Review: UX +1

#565 Correctly include the Usabilla script
  legacy/src/app/entry.js
  shared/package.json
  shared/src/components/Footer/Footer.js
  shared/src/components/Footer/Footer.test.js
  shared/src/components/Footer/__snapshots__/Footer.test.js.snap
  ui/src/app/App.js
Labels: Review: Code +1, Review: QA +1

#559 Correctly mark field errors.
  ui/package.json
  ui/src/app/base/hooks.js
  yarn.lock
Labels: Review: Code +1, Review: QA +1

#567 Correctly include Google Analytics
  legacy/src/app/entry.js
  shared/src/components/Header/Header.js
  ui/src/app/App.js
  ui/src/app/settings/selectors/config/config.js
Labels: Review: Code +1, Review: QA +1

#569 Persist show all for all machines when ungrouped.
  legacy/src/app/directives/machines_table.js
Labels: Review: Code +1 (with changes), Review: QA +1

#570 Send analytics events when forms are saved.
  ui/src/analytics.js
  ui/src/app/base/components/FormikForm/FormikForm.js
  ui/src/app/base/components/FormikForm/FormikForm.test.js
  ui/src/app/base/components/UserForm/UserForm.js
  ui/src/app/base/hooks.js
  ui/src/app/preferences/views/APIKeys/APIKeyForm/APIKeyForm.js
  ui/src/app/preferences/views/Details/Details.js
  ui/src/app/preferences/views/Details/Details.test.js
  ui/src/app/preferences/views/SSHKeys/AddSSHKey/AddSSHKey.js
  ui/src/app/preferences/views/SSLKeys/AddSSLKey/AddSSLKey.js
  ui/src/app/settings/views/Configuration/CommissioningForm/CommissioningForm.js
  ui/src/app/settings/views/Configuration/DeployForm/DeployForm.js
  ui/src/app/settings/views/Configuration/GeneralForm/GeneralForm.js
  ui/src/app/settings/views/Configuration/KernelParametersForm/KernelParametersForm.js
  ui/src/app/settings/views/Dhcp/DhcpForm/DhcpForm.js
  ui/src/app/settings/views/Images/ThirdPartyDriversForm/ThirdPartyDriversForm.js
  ui/src/app/settings/views/Images/VMWareForm/VMWareForm.js
  ui/src/app/settings/views/Images/WindowsForm/WindowsForm.js
  ui/src/app/settings/views/LicenseKeys/LicenseKeyForm/LicenseKeyForm.js
  ui/src/app/settings/views/Network/DnsForm/DnsForm.js
  ui/src/app/settings/views/Network/NetworkDiscoveryForm/NetworkDiscoveryForm.js
  ui/src/app/settings/views/Network/NtpForm/NtpForm.js
  ui/src/app/settings/views/Network/ProxyForm/ProxyForm.js
  ui/src/app/settings/views/Network/SyslogForm/SyslogForm.js
  ui/src/app/settings/views/Repositories/RepositoryForm/RepositoryForm.js
  ui/src/app/settings/views/Storage/StorageForm/StorageForm.js
  ui/src/app/settings/views/Users/UserForm/UserForm.js
Labels: Review: Code +1, Review: QA +1

#587 Fix validation that passwords are the same
  ui/src/app/base/components/UserForm/UserForm.js
Labels: Review: Code +1, Review: QA +1

#586 Fix the display of the chevron
  ui/src/app/base/components/ColumnToggle/ColumnToggle.scss
Labels: Review: Code +1, Review: QA +1

#585 Fix spacing in table delete confirmations
  ui/src/app/base/components/TableDeleteConfirm/TableDeleteConfirm.js
  ui/src/app/base/components/TableDeleteConfirm/__snapshots__/TableDeleteConfirm.test.js.snap
Labels: Review: Code +1, Review: Design +1, Review: QA +1

#600 LP: #1856772 - Fix install KVM checkbox.
  legacy/src/app/partials/node-details.html
  legacy/src/app/partials/nodes-list.html
Labels: Review: Code +1, Review: QA +1

#598 LP: #1832176 - Fix release-options directive not adopting defaults correctly
  legacy/src/app/controllers/node_details.js
  legacy/src/app/controllers/nodes_list.js
  legacy/src/app/controllers/tests/test_node_details.js
  legacy/src/app/controllers/tests/test_nodes_list.js
  legacy/src/app/directives/release_options.js
  legacy/src/app/directives/tests/test_release_options.js
  legacy/src/app/partials/directives/release-options.html
  legacy/src/app/partials/node-details.html
  legacy/src/app/partials/nodes-list.html
Labels: Review: Code +1, Review: QA +1

#601 Release v0.2.0
  ui/package.json
Labels: Review: Code +1
