Repository canonical/maas-ui, pull requests merged in 2019-07, with the labels that each got.

#22 Add eslint-plugin-no-only-tests.
  ui/.eslintrc.json
  ui/package.json
  yarn.lock
Labels: Review: Code +1, Review: QA +1

#26 Remove dummy components
  ui/src/app/general/containers/General/General.js
  ui/src/app/general/containers/General/General.test.js
  ui/src/app/general/containers/General/__snapshots__/General.test.js.snap
  ui/src/app/general/containers/General/index.js
  ui/src/root-reducer.js
Labels: Review: Code +1, Review: QA +1

#28 Enable react strict mode.
  ui/src/index.js
Labels: Review: Code +1, Review: QA +1

#29 Separate circle ci jobs.
  .circleci/config.yml
Labels: Review: Code +1

#40 Open websocket connection with csrftoken from cookie.
  ui/src/app/base/sagas/utils.js
  ui/src/app/base/sagas/utils.test.js
  ui/src/app/base/sagas/websockets.js
  ui/src/app/base/sagas/websockets.test.js
Labels: Review: Code needed, Review: QA needed

#43 Make the basename optional.
  ui/.env.development
  ui/.env.production
  ui/.env.test
  ui/src/index.js
Labels: Review: Code +1, Review: QA +1

#44 Fetch users
  .gitignore
  ui/package.json
  ui/src/app/base/components/Loader/Loader.js
  ui/src/app/base/components/Loader/Loader.scss
  ui/src/app/base/components/Loader/Loader.test.js
  ui/src/app/base/components/Loader/__snapshots__/Loader.test.js.snap
  ui/src/app/base/components/Loader/index.js
  ui/src/app/base/components/MainTable/MainTable.js
  ui/src/app/settings/actions/index.js
  ui/src/app/settings/actions/repositories.js
  ui/src/app/settings/actions/repositories.test.js
  ui/src/app/settings/actions/users.js
  ui/src/app/settings/actions/users.test.js
  ui/src/app/settings/containers/Repositories/Repositories.js
  ui/src/app/settings/containers/Users/Users.js
  ui/src/app/settings/containers/Users/Users.test.js
  ui/src/app/settings/containers/Users/__snapshots__/Users.test.js.snap
  ui/src/app/settings/reducers/index.js
  ui/src/app/settings/reducers/repositories.test.js
  ui/src/app/settings/reducers/users.js
  ui/src/app/settings/reducers/users.test.js
  ui/src/app/settings/selectors/index.js
  ui/src/app/settings/selectors/users.js
  ui/src/app/settings/selectors/users.test.js
  ui/src/root-reducer.js
  yarn.lock
Labels: Review: Code +1 (with changes), Review: QA +1
