Repository canonical/maas-ui, pull requests merged in 2020-09, with the labels that each got.

#1582 ci: remove circleci config
  .circleci/config.yml
  README.md
Labels: Review: Code needed

#1585 fix(ui): Fix resizing cores chart bug in KVM details page when viewed on Firefox.
  ui/src/app/base/components/Meter/Meter.tsx
  ui/src/app/base/components/Meter/__snapshots__/Meter.test.tsx.snap
  ui/src/app/base/components/Meter/_index.scss
Labels: Review: Code +1, Review: QA +1

#1587 refactor(ui): Use Slider and Tabs components from react-components.
  ui/src/app/base/components/SectionHeader/SectionHeader.tsx
  ui/src/app/base/components/Slider/Slider.test.tsx
  ui/src/app/base/components/Slider/Slider.tsx
  ui/src/app/base/components/Slider/__snapshots__/Slider.test.tsx.snap
  ui/src/app/base/components/Slider/index.ts
  ui/src/app/base/components/Tabs/Tabs.js
  ui/src/app/base/components/Tabs/Tabs.test.js
  ui/src/app/base/components/Tabs/__snapshots__/Tabs.test.js.snap
  ui/src/app/base/components/Tabs/index.js
  ui/src/app/kvm/views/KVMDetails/KVMConfiguration/KVMConfigurationFields/KVMConfigurationFields.tsx
  ui/src/app/kvm/views/KVMDetails/KVMDetailsHeader/KVMDetailsHeader.tsx
  ui/src/app/machines/views/MachineList/MachineListHeader/MachineListHeader.tsx
  ui/src/scss/_patterns_tabs.scss
Labels: Review: Code +1, Review: QA +1

#1583 refactor(test): move cypress tests to new integration project
  .github/workflows/cypress.yml
  HACKING.md
  integration/.gitignore
  integration/README.md
  integration/cypress.json
  integration/cypress/fixtures/example.json
  integration/cypress/integration/login/login.spec.ts
  integration/cypress/integration/machines/add.spec.ts
  integration/cypress/integration/machines/list.spec.ts
  integration/cypress/integration/settings/users/add.spec.ts
  integration/cypress/integration/settings/users/list.spec.ts
  integration/cypress/integration/utils.ts
  integration/cypress/plugins/index.js
  integration/cypress/support/commands.js
  integration/cypress/support/index.js
  integration/cypress/tsconfig.json
  integration/package.json
  package.json
  proxy/package.json
  yarn.lock
Labels: Maintenance 🔨, Review: Code +1 (with changes), Review: QA +1

#1594 docs(ui): add usabilla to analytics checkbox tooltip
  ui/src/app/settings/views/Configuration/GeneralForm/GeneralForm.tsx
Labels: Review: Code +1, Review: QA +1, Review: UX +1

#1599 fix(legacy): replace old version-specific docs link with version agnostic link
  legacy/src/app/partials/dashboard.html
Labels: Legacy 🧟‍♂️, Review: Code +1, Review: QA +1

#1603 fix(legacy): don't use text--small
  legacy/src/app/partials/dashboard.html
Labels: Legacy 🧟‍♂️, Review: Code +1

#1596 feat(legacy): enable OVS bridge interface type
  legacy/src/app/controllers/node_details_networking.js
  legacy/src/app/partials/node-details.html
Labels: Legacy 🧟‍♂️, Review: Code +1, Review: QA +1

#1602 refactor(ui): add domain slice
  ui/.betterer.results
  ui/src/__snapshots__/root-reducer.test.js.snap
  ui/src/app/base/actions/domain/domain.js
  ui/src/app/base/actions/domain/domain.test.js
  ui/src/app/base/actions/domain/index.js
  ui/src/app/base/actions/index.ts
  ui/src/app/base/reducers/domain/domain.js
  ui/src/app/base/reducers/domain/domain.test.js
  ui/src/app/base/reducers/domain/index.js
  ui/src/app/base/reducers/index.ts
  ui/src/app/kvm/components/KVMActionFormWrapper/ComposeForm/ComposeForm.tsx
  ui/src/app/machines/views/AddChassis/AddChassisForm/AddChassisForm.js
  ui/src/app/machines/views/AddMachine/AddMachineForm/AddMachineForm.js
  ui/src/app/store/domain/actions.test.ts
  ui/src/app/store/domain/index.ts
  ui/src/app/store/domain/reducer.test.ts
  ui/src/app/store/domain/slice.ts
  ui/src/root-reducer.js
Labels: Review: Code +1, Review: QA +1

#1606 feat(ui): improve responsiveness of KVM VM dropdowns
  ui/src/app/base/components/ContextualMenu/ContextualMenu.js
  ui/src/app/base/components/ContextualMenu/ContextualMenu.test.js
  ui/src/app/base/components/ContextualMenu/ContextualMenuDropdown/ContextualMenuDropdown.js
  ui/src/app/kvm/components/KVMResourcesCard/KVMResourcesCard.tsx
  ui/src/app/kvm/components/KVMResourcesCard/__snapshots__/KVMResourcesCard.test.tsx.snap
  ui/src/app/kvm/components/KVMResourcesCard/_index.scss
  ui/src/app/machines/views/MachineList/MachineListTable/MachineListTable.js
  ui/src/app/machines/views/MachineList/_index.scss
Labels: Review: Code +1, Review: QA +1

#1608 fix(ci): ensure betterer returns exit code
  .github/workflows/test.yml
Labels: Review: Code +1

#1607 refactor(ui): add resourcepool slice
  ui/.betterer.results
  ui/src/__snapshots__/root-reducer.test.js.snap
  ui/src/app/base/actions/index.ts
  ui/src/app/base/actions/resourcepool/index.js
  ui/src/app/base/actions/resourcepool/resourcepool.js
  ui/src/app/base/actions/resourcepool/resourcepool.test.js
  ui/src/app/base/reducers/index.ts
  ui/src/app/base/reducers/resourcepool/index.js
  ui/src/app/base/reducers/resourcepool/resourcepool.js
  ui/src/app/base/reducers/resourcepool/resourcepool.test.js
  ui/src/app/base/sagas/actions.js
  ui/src/app/base/sagas/actions.test.js
  ui/src/app/kvm/components/KVMActionFormWrapper/ComposeForm/ComposeForm.test.js
  ui/src/app/kvm/components/KVMActionFormWrapper/ComposeForm/ComposeForm.tsx
  ui/src/app/kvm/views/KVMDetails/KVMConfiguration/KVMConfiguration.test.tsx
  ui/src/app/kvm/views/KVMDetails/KVMConfiguration/KVMConfiguration.tsx
  ui/src/app/kvm/views/KVMList/AddKVMForm/AddKVMForm.test.js
  ui/src/app/kvm/views/KVMList/AddKVMForm/AddKVMForm.tsx
  ui/src/app/kvm/views/KVMList/KVMListTable/KVMListTable.test.tsx
  ui/src/app/kvm/views/KVMList/KVMListTable/KVMListTable.tsx
  ui/src/app/machines/views/AddMachine/AddMachineForm/AddMachineForm.js
  ui/src/app/machines/views/AddMachine/AddMachineForm/AddMachineForm.test.js
  ui/src/app/machines/views/AddRSD/AddRSDForm/AddRSDForm.js
  ui/src/app/machines/views/AddRSD/AddRSDForm/AddRSDForm.test.js
  ui/src/app/machines/views/MachineList/MachineListHeader/ActionFormWrapper/SetPoolForm/SetPoolForm.js
  ui/src/app/machines/views/MachineList/MachineListHeader/MachineListHeader.tsx
  ui/src/app/machines/views/MachineList/MachineListTable/MachineListTable.js
  ui/src/app/pools/views/PoolForm/PoolForm.js
  ui/src/app/pools/views/PoolForm/PoolForm.test.js
  ui/src/app/pools/views/Pools.js
  ui/src/app/pools/views/Pools.test.js
  ui/src/app/store/resourcepool/actions.test.ts
  ui/src/app/store/resourcepool/index.ts
  ui/src/app/store/resourcepool/reducers.test.ts
  ui/src/app/store/resourcepool/slice.ts
  ui/src/app/store/utils/slice.ts
  ui/src/root-reducer.js
Labels: Review: Code +1, Review: QA +1

#1612 refactor(ui): add zone slice
  ui/.betterer.results
  ui/src/__snapshots__/root-reducer.test.js.snap
  ui/src/app/base/actions/index.ts
  ui/src/app/base/actions/zone/index.js
  ui/src/app/base/actions/zone/zone.js
  ui/src/app/base/actions/zone/zone.test.js
  ui/src/app/base/reducers/index.ts
  ui/src/app/base/reducers/zone/index.ts
  ui/src/app/base/reducers/zone/zone.test.ts
  ui/src/app/base/reducers/zone/zone.ts
  ui/src/app/kvm/components/KVMActionFormWrapper/ComposeForm/ComposeForm.test.js
  ui/src/app/kvm/components/KVMActionFormWrapper/ComposeForm/ComposeForm.tsx
  ui/src/app/kvm/views/KVMDetails/KVMConfiguration/KVMConfiguration.test.tsx
  ui/src/app/kvm/views/KVMDetails/KVMConfiguration/KVMConfiguration.tsx
  ui/src/app/kvm/views/KVMList/AddKVMForm/AddKVMForm.test.js
  ui/src/app/kvm/views/KVMList/AddKVMForm/AddKVMForm.tsx
  ui/src/app/kvm/views/KVMList/KVMListTable/KVMListTable.test.tsx
  ui/src/app/kvm/views/KVMList/KVMListTable/KVMListTable.tsx
  ui/src/app/machines/views/AddMachine/AddMachineForm/AddMachineForm.js
  ui/src/app/machines/views/AddMachine/AddMachineForm/AddMachineForm.test.js
  ui/src/app/machines/views/AddRSD/AddRSDForm/AddRSDForm.js
  ui/src/app/machines/views/MachineList/MachineListTable/MachineListTable.js
  ui/src/app/store/utils/slice.ts
  ui/src/app/store/zone/actions.test.ts
  ui/src/app/store/zone/index.ts
  ui/src/app/store/zone/reducers.test.ts
  ui/src/app/store/zone/slice.ts
  ui/src/root-reducer.js
Labels: Review: Code +1, Review: QA +1

#1609 refactor(ui): add device slice
  ui/.betterer.results
  ui/src/__snapshots__/root-reducer.test.js.snap
  ui/src/app/base/actions/device/device.js
  ui/src/app/base/actions/device/index.js
  ui/src/app/base/actions/index.ts
  ui/src/app/base/reducers/device/device.js
  ui/src/app/base/reducers/device/index.js
  ui/src/app/base/reducers/index.ts
  ui/src/app/settings/views/Dhcp/DhcpForm/DhcpForm.js
  ui/src/app/settings/views/Dhcp/DhcpForm/DhcpForm.test.js
  ui/src/app/settings/views/Dhcp/DhcpList/DhcpList.js
  ui/src/app/store/device/actions.test.ts
  ui/src/app/store/device/index.ts
  ui/src/app/store/device/reducers.test.ts
  ui/src/app/store/device/slice.ts
  ui/src/root-reducer.js
Labels: Review: Code +1, Review: QA +1

#1613 refactor(ui): add tag slice
  ui/.betterer.results
  ui/src/__snapshots__/root-reducer.test.js.snap
  ui/src/app/base/actions/index.ts
  ui/src/app/base/actions/tag/index.js
  ui/src/app/base/actions/tag/tag.js
  ui/src/app/base/actions/tag/tag.test.js
  ui/src/app/base/reducers/index.ts
  ui/src/app/base/reducers/tag/index.js
  ui/src/app/base/reducers/tag/tag.js
  ui/src/app/base/reducers/tag/tag.test.js
  ui/src/app/kvm/views/KVMDetails/KVMConfiguration/KVMConfiguration.test.tsx
  ui/src/app/kvm/views/KVMDetails/KVMConfiguration/KVMConfiguration.tsx
  ui/src/app/machines/views/MachineList/MachineListHeader/ActionFormWrapper/TagForm/TagFormFields/TagFormFields.js
  ui/src/app/machines/views/MachineList/MachineListHeader/ActionFormWrapper/TagForm/TagFormFields/TagFormFields.test.js
  ui/src/app/machines/views/MachineList/MachineListTable/MachineListTable.js
  ui/src/app/store/tag/actions.test.ts
  ui/src/app/store/tag/index.ts
  ui/src/app/store/tag/reducers.test.ts
  ui/src/app/store/tag/slice.ts
  ui/src/root-reducer.js
Labels: Review: Code +1, Review: QA +1

#1621 2.8: correctly filter list of power types for use in Add Chassis form
  ui/src/app/base/selectors/general/powerTypes.js
  ui/src/app/base/selectors/general/powerTypes.test.js
  ui/src/app/machines/views/AddChassis/AddChassisForm/AddChassisForm.js
Labels: Review: Code +1, Review: QA +1

#1620 fix(ui): correctly filter list of power types for use in Add Chassis form
  ui/src/app/machines/views/AddChassis/AddChassisForm/AddChassisForm.js
  ui/src/app/machines/views/AddChassis/AddChassisForm/AddChassisForm.test.js
  ui/src/app/machines/views/AddChassis/AddChassisFormFields/AddChassisFormFields.test.js
  ui/src/app/store/general/selectors/powerTypes.test.ts
  ui/src/app/store/general/selectors/powerTypes.ts
  ui/src/app/store/general/types.ts
  ui/src/testing/factories/general.ts
Labels: Review: Code +1, Review: QA +1

#1619 feat(ui): Replace fake NUMA data with API data.
  ui/src/app/kvm/components/KVMMeter/KVMMeter.test.tsx
  ui/src/app/kvm/components/KVMMeter/KVMMeter.tsx
  ui/src/app/kvm/components/KVMResourcesCard/KVMResourcesCard.test.tsx
  ui/src/app/kvm/components/KVMResourcesCard/KVMResourcesCard.tsx
  ui/src/app/kvm/components/KVMResourcesCard/__snapshots__/KVMResourcesCard.test.tsx.snap
  ui/src/app/kvm/components/KVMResourcesCard/index.ts
  ui/src/app/kvm/views/KVMDetails/KVMSummary/KVMAggregateResources/KVMAggregateResources.tsx
  ui/src/app/kvm/views/KVMDetails/KVMSummary/KVMNumaResources/KVMNumaResources.test.tsx
  ui/src/app/kvm/views/KVMDetails/KVMSummary/KVMNumaResources/KVMNumaResources.tsx
  ui/src/app/kvm/views/KVMDetails/KVMSummary/KVMStorage/KVMStorage.tsx
  ui/src/app/kvm/views/KVMDetails/KVMSummary/KVMSummary.tsx
  ui/src/app/store/pod/types.ts
  ui/src/app/utils/formatBytes.test.ts
  ui/src/app/utils/formatBytes.ts
  ui/src/testing/factories/index.ts
  ui/src/testing/factories/nodes.ts
Labels: Review: Code +1, Review: QA +1

#1617 refactor(ui): add vlan slice
  ui/.betterer.results
  ui/src/__snapshots__/root-reducer.test.js.snap
  ui/src/app/base/actions/index.ts
  ui/src/app/base/actions/vlan/index.ts
  ui/src/app/base/actions/vlan/vlan.test.ts
  ui/src/app/base/actions/vlan/vlan.ts
  ui/src/app/base/reducers/index.ts
  ui/src/app/base/reducers/vlan/index.ts
  ui/src/app/base/reducers/vlan/vlan.test.ts
  ui/src/app/base/reducers/vlan/vlan.ts
  ui/src/app/kvm/components/KVMActionFormWrapper/ComposeForm/ComposeForm.test.js
  ui/src/app/kvm/components/KVMActionFormWrapper/ComposeForm/ComposeForm.tsx
  ui/src/app/store/domain/reducers.test.ts
  ui/src/app/store/pod/slice.ts
  ui/src/app/store/resourcepool/reducers.test.ts
  ui/src/app/store/utils/index.ts
  ui/src/app/store/utils/slice.test.ts
  ui/src/app/store/utils/slice.ts
  ui/src/app/store/vlan/actions.test.ts
  ui/src/app/store/vlan/index.ts
  ui/src/app/store/vlan/reducers.test.ts
  ui/src/app/store/vlan/slice.ts
  ui/src/root-reducer.js
Labels: Review: Code +1, Review: QA +1

#1626 fix(legacy): load tabs in the query params
  legacy/src/app/controllers/node_details.js
  legacy/src/app/controllers/tests/test_node_details.js
Labels: Legacy 🧟‍♂️, Review: Code +1, Review: QA +1

#1627 fix(ui): fix inconsistent table header colours
  ui/src/app/kvm/components/KVMResourcesCard/KVMResourcesCard.tsx
  ui/src/app/kvm/components/KVMResourcesCard/__snapshots__/KVMResourcesCard.test.tsx.snap
  ui/src/scss/_patterns_buttons.scss
Labels: Review: Code +1, Review: QA +1

#1623 fix(root): handle network errors from single-spa
  legacy/src/app/controllers/master.js
  root/src/index.ejs
  root/src/root-application.js
  root/src/scss/base.scss
  ui/src/index.js
Labels: Legacy 🧟‍♂️, Review: Code +1 (with changes), Review: QA +1

#1636 refactor(ui): add space slice
  ui/src/__snapshots__/root-reducer.test.js.snap
  ui/src/app/base/actions/index.ts
  ui/src/app/base/actions/space/index.ts
  ui/src/app/base/actions/space/space.ts
  ui/src/app/base/reducers/index.ts
  ui/src/app/base/reducers/space/index.ts
  ui/src/app/base/reducers/space/space.test.ts
  ui/src/app/base/reducers/space/space.ts
  ui/src/app/kvm/components/KVMActionFormWrapper/ComposeForm/ComposeForm.test.js
  ui/src/app/kvm/components/KVMActionFormWrapper/ComposeForm/ComposeForm.tsx
  ui/src/app/store/space/actions.test.ts
  ui/src/app/store/space/index.ts
  ui/src/app/store/space/reducers.test.ts
  ui/src/app/store/space/slice.ts
  ui/src/root-reducer.js
  ui/src/testing/factories/state.ts
Labels: Review: Code +1, Review: QA +1

#1631 fix(ui): remove custom routeState handling
  ui/src/app/App.js
Labels: Review: Code +1, Review: QA +1

#1637 fix(ui): remove routing hack
  ui/src/app/App.js
Labels: Review: Code +1, Review: QA +1

#1632 feat(legacy): add host NUMA node id to VM details page, if it exists
  legacy/src/app/controllers/node_details.js
  legacy/src/app/controllers/tests/test_node_details.js
  legacy/src/app/partials/cards/machine-overview.html
Labels: Legacy 🧟‍♂️, Review: Code +1, Review: QA +1

#1643 Yarn cache/parallel jobs
  .github/workflows/test.yml
Labels: Review: Code +1

#1624 feat(ui): add hugepage + interface data to KVM aggregate view if KVM is NUMA-aware
  ui/src/app/kvm/components/KVMResourcesCard/KVMResourcesCard.test.tsx
  ui/src/app/kvm/components/KVMResourcesCard/KVMResourcesCard.tsx
  ui/src/app/kvm/components/KVMResourcesCard/__snapshots__/KVMResourcesCard.test.tsx.snap
  ui/src/app/kvm/views/KVMDetails/KVMSummary/KVMAggregateResources/KVMAggregateResources.test.tsx
  ui/src/app/kvm/views/KVMDetails/KVMSummary/KVMAggregateResources/KVMAggregateResources.tsx
  ui/src/app/kvm/views/KVMDetails/KVMSummary/KVMNumaResources/KVMNumaResources.tsx
Labels: Review: Code +1, Review: QA +1

#1648 feat(root): display a message when JavaScript is disabled
  root/src/index.ejs
Labels: Review: Code +1, Review: QA +1

#1647 fix(root): don't show slow mount warnings for 30 seconds
  root/src/root-application.js
Labels: Review: Code +1, Review: QA +1

#1645 fix(legacy): truncate long fabric names in machine details
  legacy/src/app/partials/node-details.html
  legacy/src/scss/tables/_patterns_double-row.scss
Labels: Legacy 🧟‍♂️, Review: Code +1, Review: QA +1

#1644 Separate out selected KVM and RSD selectors
  ui/src/app/kvm/components/KVMActionFormWrapper/DeleteForm/DeleteForm.tsx
  ui/src/app/kvm/components/KVMActionFormWrapper/RefreshForm/RefreshForm.tsx
  ui/src/app/kvm/views/KVMList/KVMListHeader/KVMListHeader.tsx
  ui/src/app/kvm/views/KVMList/KVMListTable/KVMListTable.tsx
  ui/src/app/store/pod/selectors.test.ts
  ui/src/app/store/pod/selectors.ts
Labels: Review: Code +1, Review: QA +1

#1646 fix(legacy): fixed duplicate form ids
  legacy/src/app/directives/maas_obj_form.js
  legacy/src/app/directives/power_parameters.js
  legacy/src/app/directives/tests/test_maas_obj_form.js
  legacy/src/app/partials/nodes-list.html
Labels: Legacy 🧟‍♂️, Review: Code +1, Review: QA +1

#1661 fix(legacy): fix the back button for node details tabs
  legacy/src/app/controllers/node_details.js
Labels: Legacy 🧟‍♂️, Review: Code +1 (with changes), Review: QA +1

#1662 refactor(ui): migrate SSLKey to use a slice
  ui/.betterer.results
  ui/src/app/preferences/actions/index.js
  ui/src/app/preferences/actions/sslkey/index.js
  ui/src/app/preferences/actions/sslkey/sslkey.js
  ui/src/app/preferences/reducers/index.js
  ui/src/app/preferences/reducers/sslkey/index.js
  ui/src/app/preferences/reducers/sslkey/sslkey.js
  ui/src/app/preferences/reducers/sslkey/sslkey.test.js
  ui/src/app/preferences/views/SSLKeys/AddSSLKey/AddSSLKey.js
  ui/src/app/preferences/views/SSLKeys/AddSSLKey/AddSSLKey.test.js
  ui/src/app/preferences/views/SSLKeys/SSLKeyList/SSLKeyList.js
  ui/src/app/preferences/views/SSLKeys/SSLKeyList/SSLKeyList.test.js
  ui/src/app/store/sslkey/actions.test.ts
  ui/src/app/store/sslkey/index.ts
  ui/src/app/store/sslkey/reducers.test.ts
  ui/src/app/store/sslkey/slice.ts
  ui/src/root-reducer.js
Labels: Review: Code +1, Review: QA +1

#1642 fix(ui): scale the doughnut chart with the font size
  ui/src/app/base/components/DoughnutChart/DoughnutChart.tsx
  ui/src/app/base/components/DoughnutChart/__snapshots__/DoughnutChart.test.tsx.snap
  ui/src/app/kvm/components/KVMResourcesCard/KVMResourcesCard.tsx
  ui/src/app/kvm/components/KVMResourcesCard/__snapshots__/KVMResourcesCard.test.tsx.snap
  ui/src/app/kvm/components/KVMResourcesCard/_index.scss
Labels: Review: Code +1, Review: QA +1

#1630 feat(ui): correctly filter KVM NUMA VMs dropdowns by node
  ui/src/app/kvm/components/KVMResourcesCard/KVMResourcesCard.test.tsx
  ui/src/app/kvm/components/KVMResourcesCard/KVMResourcesCard.tsx
  ui/src/app/kvm/components/KVMResourcesCard/__snapshots__/KVMResourcesCard.test.tsx.snap
  ui/src/app/kvm/views/KVMDetails/KVMSummary/KVMAggregateResources/KVMAggregateResources.test.tsx
  ui/src/app/kvm/views/KVMDetails/KVMSummary/KVMAggregateResources/KVMAggregateResources.tsx
  ui/src/app/kvm/views/KVMDetails/KVMSummary/KVMNumaResources/KVMNumaResources.test.tsx
  ui/src/app/kvm/views/KVMDetails/KVMSummary/KVMNumaResources/KVMNumaResources.tsx
  ui/src/app/machines/views/MachineList/MachineList.js
  ui/src/app/machines/views/MachineList/MachineListTable/MachineListTable.js
  ui/src/app/machines/views/MachineList/MachineListTable/MachineListTable.test.js
  ui/src/app/store/pod/selectors.test.ts
  ui/src/app/store/pod/selectors.ts
  ui/src/testing/factories/nodes.ts
Labels: Review: Code +1, Review: QA +1

#1669 fix(ui): only show hugepage RAM in table if it exists
  ui/src/app/kvm/components/KVMResourcesCard/KVMResourcesCard.test.tsx
  ui/src/app/kvm/components/KVMResourcesCard/KVMResourcesCard.tsx
  ui/src/app/kvm/components/KVMResourcesCard/_index.scss
Labels: Review: Code +1, Review: QA +1

#1672 refactor(ui): migrate packagerepository to a slice
  ui/.betterer.results
  ui/src/__snapshots__/root-reducer.test.js.snap
  ui/src/app/base/actions/index.ts
  ui/src/app/base/actions/packagerepository/index.js
  ui/src/app/base/actions/packagerepository/packagerepository.js
  ui/src/app/base/reducers/index.ts
  ui/src/app/base/reducers/packagerepository/index.js
  ui/src/app/base/reducers/packagerepository/packagerepository.js
  ui/src/app/base/reducers/packagerepository/packagerepository.test.js
  ui/src/app/settings/views/Repositories/RepositoriesList/RepositoriesList.js
  ui/src/app/settings/views/Repositories/RepositoriesList/RepositoriesList.test.js
  ui/src/app/settings/views/Repositories/RepositoryEdit/RepositoryEdit.js
  ui/src/app/settings/views/Repositories/RepositoryForm/RepositoryForm.js
  ui/src/app/settings/views/Repositories/RepositoryForm/RepositoryForm.test.js
  ui/src/app/store/packagerepository/actions.test.ts
  ui/src/app/store/packagerepository/index.ts
  ui/src/app/store/packagerepository/reducers.test.ts
  ui/src/app/store/packagerepository/slice.ts
  ui/src/root-reducer.js
  ui/src/testing/factories/state.ts
Labels: Review: Code +1, Review: QA +1

#1671 refactor(ui): migrate token to a slice
  ui/.betterer.results
  ui/src/app/preferences/actions/index.js
  ui/src/app/preferences/actions/token/index.js
  ui/src/app/preferences/actions/token/token.js
  ui/src/app/preferences/reducers/index.js
  ui/src/app/preferences/reducers/token/index.js
  ui/src/app/preferences/reducers/token/token.js
  ui/src/app/preferences/reducers/token/token.test.js
  ui/src/app/preferences/views/APIKeys/APIKeyEdit/APIKeyEdit.js
  ui/src/app/preferences/views/APIKeys/APIKeyForm/APIKeyForm.js
  ui/src/app/preferences/views/APIKeys/APIKeyForm/APIKeyForm.test.js
  ui/src/app/preferences/views/APIKeys/APIKeyList/APIKeyList.js
  ui/src/app/store/sslkey/reducers.test.ts
  ui/src/app/store/token/action.test.ts
  ui/src/app/store/token/index.ts
  ui/src/app/store/token/reducers.test.ts
  ui/src/app/store/token/slice.ts
  ui/src/root-reducer.js
Labels: Review: Code +1, Review: QA +1

#1676 refactor(ui): migrate controller to a slice
  ui/.betterer.results
  ui/src/__snapshots__/root-reducer.test.js.snap
  ui/src/app/base/actions/controller/controller.js
  ui/src/app/base/actions/controller/controller.test.js
  ui/src/app/base/actions/controller/index.js
  ui/src/app/base/actions/index.ts
  ui/src/app/base/reducers/controller/controller.js
  ui/src/app/base/reducers/controller/controller.test.js
  ui/src/app/base/reducers/controller/index.js
  ui/src/app/base/reducers/index.ts
  ui/src/app/kvm/views/KVMList/KVMListTable/KVMListTable.test.tsx
  ui/src/app/kvm/views/KVMList/KVMListTable/KVMListTable.tsx
  ui/src/app/settings/views/Dhcp/DhcpForm/DhcpForm.js
  ui/src/app/settings/views/Dhcp/DhcpForm/DhcpForm.test.js
  ui/src/app/settings/views/Dhcp/DhcpList/DhcpList.js
  ui/src/app/store/controller/actions.test.ts
  ui/src/app/store/controller/index.ts
  ui/src/app/store/controller/reducers.test.ts
  ui/src/app/store/controller/slice.ts
  ui/src/root-reducer.js
  ui/src/testing/factories/state.ts
Labels: Review: Code +1, Review: QA +1

#1673 refactor(ui): migrate dhcpsnippet to a slice
  ui/.betterer.results
  ui/src/__snapshots__/root-reducer.test.js.snap
  ui/src/app/base/actions/dhcpsnippet/dhcpsnippet.js
  ui/src/app/base/actions/dhcpsnippet/dhcpsnippet.test.js
  ui/src/app/base/actions/dhcpsnippet/index.js
  ui/src/app/base/actions/index.ts
  ui/src/app/base/reducers/dhcpsnippet/dhcpsnippet.js
  ui/src/app/base/reducers/dhcpsnippet/dhcpsnippet.test.js
  ui/src/app/base/reducers/dhcpsnippet/index.js
  ui/src/app/base/reducers/index.ts
  ui/src/app/settings/views/Dhcp/DhcpEdit/DhcpEdit.js
  ui/src/app/settings/views/Dhcp/DhcpForm/DhcpForm.js
  ui/src/app/settings/views/Dhcp/DhcpForm/DhcpForm.test.js
  ui/src/app/settings/views/Dhcp/DhcpList/DhcpList.js
  ui/src/app/settings/views/Dhcp/DhcpList/DhcpList.test.js
  ui/src/app/store/dhcpsnippet/actions.test.ts
  ui/src/app/store/dhcpsnippet/index.ts
  ui/src/app/store/dhcpsnippet/reducers.test.ts
  ui/src/app/store/dhcpsnippet/slice.ts
  ui/src/root-reducer.js
  ui/src/testing/factories/state.ts
Labels: Review: Code +1, Review: QA +1

#1675 refactor(ui): migrate subnet to a slice
  ui/.betterer.results
  ui/src/__snapshots__/root-reducer.test.js.snap
  ui/src/app/base/actions/index.ts
  ui/src/app/base/actions/subnet/index.js
  ui/src/app/base/actions/subnet/subnet.js
  ui/src/app/base/actions/subnet/subnet.test.js
  ui/src/app/base/reducers/index.ts
  ui/src/app/base/reducers/subnet/index.js
  ui/src/app/base/reducers/subnet/subnet.js
  ui/src/app/base/reducers/subnet/subnet.test.js
  ui/src/app/kvm/components/KVMActionFormWrapper/ComposeForm/ComposeForm.test.js
  ui/src/app/kvm/components/KVMActionFormWrapper/ComposeForm/ComposeForm.tsx
  ui/src/app/settings/views/Dhcp/DhcpForm/DhcpForm.js
  ui/src/app/settings/views/Dhcp/DhcpForm/DhcpForm.test.js
  ui/src/app/settings/views/Dhcp/DhcpList/DhcpList.js
  ui/src/app/store/subnet/actions.test.ts
  ui/src/app/store/subnet/index.ts
  ui/src/app/store/subnet/reducers.test.ts
  ui/src/app/store/subnet/slice.ts
  ui/src/root-reducer.js
  ui/src/testing/factories/state.ts
Labels: Review: Code +1, Review: QA +1

#1680 fix(ui): fix dispatching errors when fetching
  ui/src/app/base/sagas/websockets.js
Labels: Review: Code +1, Review: QA +1

#1681 feat(ui): Build AddRSDForm component for RSD list
  ui/.betterer.results
  ui/src/app/rsd/views/RSDList/AddRSDForm/AddRSDForm.test.tsx
  ui/src/app/rsd/views/RSDList/AddRSDForm/AddRSDForm.tsx
  ui/src/app/rsd/views/RSDList/AddRSDForm/AddRSDFormFields/AddRSDFormFields.tsx
  ui/src/app/rsd/views/RSDList/AddRSDForm/AddRSDFormFields/index.ts
  ui/src/app/rsd/views/RSDList/AddRSDForm/index.ts
  ui/src/app/rsd/views/RSDList/RSDList.tsx
Labels: Review: Code +1, Review: QA +1

#1663 feat(ui): add description field for marking machine broken
  ui/.betterer.results
  ui/src/app/base/actions/machine/machine.js
  ui/src/app/base/actions/machine/machine.test.js
  ui/src/app/base/components/ActionForm/ActionForm.tsx
  ui/src/app/base/hooks.js
  ui/src/app/machines/views/MachineList/MachineListHeader/ActionFormWrapper/ActionFormWrapper.tsx
  ui/src/app/machines/views/MachineList/MachineListHeader/ActionFormWrapper/FieldlessForm/FieldlessForm.js
  ui/src/app/machines/views/MachineList/MachineListHeader/ActionFormWrapper/FieldlessForm/FieldlessForm.test.js
  ui/src/app/machines/views/MachineList/MachineListHeader/ActionFormWrapper/FieldlessForm/__snapshots__/FieldlessForm.test.js.snap
  ui/src/app/machines/views/MachineList/MachineListHeader/ActionFormWrapper/MarkBrokenForm/MarkBrokenForm.test.tsx
  ui/src/app/machines/views/MachineList/MachineListHeader/ActionFormWrapper/MarkBrokenForm/MarkBrokenForm.tsx
  ui/src/app/machines/views/MachineList/MachineListHeader/ActionFormWrapper/MarkBrokenForm/MarkBrokenFormFields/MarkBrokenFormFields.tsx
  ui/src/app/machines/views/MachineList/MachineListHeader/ActionFormWrapper/MarkBrokenForm/MarkBrokenFormFields/_index.scss
  ui/src/app/machines/views/MachineList/MachineListHeader/ActionFormWrapper/MarkBrokenForm/MarkBrokenFormFields/index.ts
  ui/src/app/machines/views/MachineList/MachineListHeader/ActionFormWrapper/MarkBrokenForm/index.ts
  ui/src/app/machines/views/MachineList/MachineListTable/StatusColumn/StatusColumn.js
  ui/src/app/machines/views/MachineList/MachineListTable/StatusColumn/StatusColumn.test.js
  ui/src/app/machines/views/MachineList/MachineListTable/StatusColumn/__snapshots__/StatusColumn.test.js.snap
  ui/src/scss/_patterns_forms.scss
  ui/src/scss/index.scss
Labels: Review: Code +1 (with changes), Review: QA +1

#1686 ci(ui): fail lint for unused variables
  ui/.eslintrc.js
Labels: Review: Code +1, Review: QA +1

#1696 style(ui): fix no-redeclare warnings
  ui/src/app/store/device/slice.ts
  ui/src/app/store/space/slice.ts
  ui/src/app/store/tag/slice.ts
  ui/src/app/store/vlan/slice.ts
  ui/src/app/store/zone/slice.ts
Labels: Review: Code +1, Review: QA +1

#1697 feat(ui): add ipmi settings to commissioning settings view
  ui/.betterer.results
  ui/src/app/settings/views/Configuration/CommissioningForm/CommissioningForm.test.tsx
  ui/src/app/settings/views/Configuration/CommissioningForm/CommissioningForm.tsx
  ui/src/app/settings/views/Configuration/CommissioningForm/index.js
  ui/src/app/settings/views/Configuration/CommissioningForm/index.ts
  ui/src/app/settings/views/Configuration/CommissioningFormFields/CommissioningFormFields.js
  ui/src/app/settings/views/Configuration/CommissioningFormFields/CommissioningFormFields.test.tsx
  ui/src/app/settings/views/Configuration/CommissioningFormFields/CommissioningFormFields.tsx
  ui/src/app/settings/views/Configuration/CommissioningFormFields/index.ts
  ui/src/app/store/config/selectors.ts
Labels: Review: Code +1, Review: QA +1

#1688 fix(ui): use correct unit for NUMA memory
  ui/src/app/kvm/views/KVMDetails/KVMSummary/KVMNumaResources/KVMNumaResources.tsx
Labels: Review: Code +1, Review: QA +1

#1698 fix(ui): fix doughnut tooltips making cards scroll
  ui/.betterer.results
  ui/package.json
  ui/src/app/base/components/DoughnutChart/DoughnutChart.test.tsx
  ui/src/app/base/components/DoughnutChart/DoughnutChart.tsx
  ui/src/app/base/components/DoughnutChart/__snapshots__/DoughnutChart.test.tsx.snap
  ui/src/app/base/components/DoughnutChart/_index.scss
  ui/src/app/kvm/components/KVMActionFormWrapper/ComposeForm/InterfacesTable/InterfacesTable.tsx
  ui/src/app/kvm/components/PodResourcesCard/PodResourcesCard.tsx
  ui/src/app/kvm/components/PodResourcesCard/_index.scss
  ui/src/app/machines/views/MachineList/MachineListHeader/AddHardwareMenu/AddHardwareMenu.tsx
  ui/src/app/machines/views/MachineList/MachineListTable/CoresColumn/__snapshots__/CoresColumn.test.js.snap
  yarn.lock
Labels: Review: Code +1, Review: QA +1

#1693 feat(ui): amend KVMComposeForm to be compatible with RSD VM hosts
  shared/src/components/Header/Header.js
  ui/src/app/kvm/components/KVMActionFormWrapper/ComposeForm/ComposeForm.test.js
  ui/src/app/kvm/components/KVMActionFormWrapper/ComposeForm/ComposeForm.tsx
  ui/src/app/kvm/components/KVMActionFormWrapper/ComposeForm/StorageTable/StorageTable.test.tsx
  ui/src/app/kvm/components/KVMActionFormWrapper/ComposeForm/StorageTable/StorageTable.tsx
  ui/src/app/rsd/components/RSDActionFormWrapper/RSDActionFormWrapper.tsx
Labels: Review: Code +1, Review: QA +1

#1695 chore(legacy): remove legacy machine list, KVM, RSD, user prefs and settings code
  legacy/src/app/controllers/add_hardware.js
  legacy/src/app/controllers/pod_details.js
  legacy/src/app/controllers/pods_list.js
  legacy/src/app/controllers/prefs.js
  legacy/src/app/controllers/settings.js
  legacy/src/app/controllers/tests/test_add_hardware.js
  legacy/src/app/controllers/tests/test_pod_details.js
  legacy/src/app/controllers/tests/test_pods_list.js
  legacy/src/app/controllers/tests/test_prefs.js
  legacy/src/app/controllers/tests/test_settings.js
  legacy/src/app/directives/accordion.js
  legacy/src/app/directives/cores_chart.js
  legacy/src/app/directives/machines_table.js
  legacy/src/app/directives/nodelist/add_machine.js
  legacy/src/app/directives/pod-details/kvm_storage_dropdown.js
  legacy/src/app/directives/pod-details/summary.js
  legacy/src/app/directives/pod_parameters.js
  legacy/src/app/directives/pref_keys.js
  legacy/src/app/directives/proxy_settings.js
  legacy/src/app/directives/tests/test_accordion.js
  legacy/src/app/directives/tests/test_cores_chart.js
  legacy/src/app/directives/tests/test_kvm_storage_dropdown.js
  legacy/src/app/directives/tests/test_machines_table.js
  legacy/src/app/directives/tests/test_pod_parameters.js
  legacy/src/app/directives/tests/test_pref_keys.js
  legacy/src/app/directives/tests/test_proxy_settings.js
  legacy/src/app/entry.js
  legacy/src/app/partials/directives/pod-parameters.html
  legacy/src/app/partials/machines-table.html
  legacy/src/app/partials/nodelist/add-machine.html
  legacy/src/app/partials/nodes-list.html
  legacy/src/app/partials/pod-details.html
  legacy/src/app/partials/pod-details/kvm-storage-dropdown.html
  legacy/src/app/partials/pod-details/pod-details-summary.html
  legacy/src/app/partials/pods-list.html
  legacy/src/app/partials/proxy-settings.html
  legacy/src/app/partials/settings.html
  legacy/src/app/routes.js
Labels: Don't merge, Legacy 🧟‍♂️, Review: Code +1

#1711 fix(header): highlight nav for sub urls
  shared/src/components/Header/Header.js
  shared/src/components/Header/Header.test.js
Labels: Review: Code +1, Review: QA +1

#1706 fix(ui): fix the scripts sorting
  ui/.betterer.results
  ui/src/app/machines/views/MachineList/MachineListHeader/ActionFormWrapper/CommissionForm/CommissionForm.test.tsx
  ui/src/app/machines/views/MachineList/MachineListHeader/ActionFormWrapper/CommissionForm/CommissionForm.tsx
  ui/src/app/settings/views/Scripts/ScriptsList/ScriptsList.test.tsx
  ui/src/app/settings/views/Scripts/ScriptsList/ScriptsList.tsx
  ui/src/app/utils/simpleSortByKey.js
  ui/src/app/utils/simpleSortByKey.test.ts
  ui/src/app/utils/simpleSortByKey.ts
  ui/src/testing/factories/scripts.ts
Labels: Review: Code +1, Review: QA +1

#1713 feat(ui): add IPMI BMC key selector
  ui/src/app/settings/views/Configuration/CommissioningForm/CommissioningForm.tsx
  ui/src/app/store/config/selectors.ts
Labels: Review: Code +1, Review: QA +1

#1710 fix(ui): correctly determine when to display machine list non-actionable warning
  ui/src/app/machines/views/MachineList/MachineListHeader/ActionFormWrapper/ActionFormWrapper.tsx
  ui/src/app/machines/views/MachineList/MachineListHeader/ActionFormWrapper/MarkBrokenForm/MarkBrokenForm.tsx
Labels: Review: Code +1, Review: QA +1

#1707 fix(legacy): handle events without data
  legacy/src/app/services/region.js
  legacy/src/app/services/tests/test_region.js
Labels: Legacy 🧟‍♂️, Review: Code +1

#1717 fix(legacy): add undefined object guards to KVM poolOverCapacity function
  legacy/src/app/directives/pod-details/kvm_storage_dropdown.js
Labels: Review: Code +1

#1700 refactor(ui): use ContextualMenu from react-components
  ui/.betterer.results
  ui/package.json
  ui/src/app/base/components/ContextualMenu/ContextualMenu.js
  ui/src/app/base/components/ContextualMenu/ContextualMenu.test.js
  ui/src/app/base/components/ContextualMenu/ContextualMenuDropdown/ContextualMenuDropdown.js
  ui/src/app/base/components/ContextualMenu/ContextualMenuDropdown/ContextualMenuDropdown.test.js
  ui/src/app/base/components/ContextualMenu/ContextualMenuDropdown/__snapshots__/ContextualMenuDropdown.test.js.snap
  ui/src/app/base/components/ContextualMenu/ContextualMenuDropdown/index.js
  ui/src/app/base/components/ContextualMenu/__snapshots__/ContextualMenu.test.js.snap
  ui/src/app/base/components/ContextualMenu/index.js
  ui/src/app/base/components/DoubleRow/DoubleRow.js
  ui/src/app/base/components/TableMenu/TableMenu.js
  ui/src/app/kvm/components/KVMActionFormWrapper/ComposeForm/InterfacesTable/SubnetSelect/SubnetSelect.tsx
  ui/src/app/kvm/components/KVMActionFormWrapper/ComposeForm/InterfacesTable/SubnetSelect/_index.scss
  ui/src/app/kvm/components/KVMActionFormWrapper/ComposeForm/StorageTable/PoolSelect/PoolSelect.tsx
  ui/src/app/kvm/components/KVMActionFormWrapper/ComposeForm/StorageTable/PoolSelect/_index.scss
  ui/src/app/kvm/components/KVMActionFormWrapper/ComposeForm/StorageTable/StorageTable.tsx
  ui/src/app/kvm/components/PodDetailsActionMenu/PodDetailsActionMenu.tsx
  ui/src/app/kvm/components/PodResourcesCard/PodResourcesCard.tsx
  ui/src/app/kvm/components/PodResourcesCard/_index.scss
  ui/src/app/kvm/views/KVMList/KVMListHeader/KVMListActionMenu/KVMListActionMenu.tsx
  ui/src/app/machines/views/MachineList/MachineListControls/FilterAccordion/FilterAccordion.js
  ui/src/app/machines/views/MachineList/MachineListControls/FilterAccordion/__snapshots__/FilterAccordion.test.js.snap
  ui/src/app/machines/views/MachineList/MachineListHeader/MachineListActionMenu/MachineListActionMenu.tsx
  ui/src/app/machines/views/MachineList/MachineListTable/OwnerColumn/__snapshots__/OwnerColumn.test.js.snap
  ui/src/app/machines/views/MachineList/MachineListTable/PoolColumn/__snapshots__/PoolColumn.test.js.snap
  ui/src/app/machines/views/MachineList/MachineListTable/PowerColumn/__snapshots__/PowerColumn.test.js.snap
  ui/src/app/machines/views/MachineList/MachineListTable/StatusColumn/__snapshots__/StatusColumn.test.js.snap
  ui/src/app/machines/views/MachineList/MachineListTable/ZoneColumn/__snapshots__/ZoneColumn.test.js.snap
  ui/src/app/rsd/views/RSDList/RSDListHeader/RSDListActionMenu/RSDListActionMenu.tsx
  ui/src/setupTests.js
  yarn.lock
Labels: Review: Code +1, Review: QA +1

#1720 fix(nav): fix history when navigating between apps
  legacy/src/app/controllers/master.js
  legacy/src/app/routes.js
  shared/src/components/Header/Header.js
  shared/src/components/Header/Header.test.js
  shared/src/components/Header/__snapshots__/Header.test.js.snap
  ui/src/app/App.js
  ui/src/single-spa-entry.js
Labels: Legacy 🧟‍♂️, Review: Code +1, Review: QA +1
