Repository canonical/maas-ui, pull requests merged in 2020-01, with the labels that each got.

#614 Mock Date for snapshots.
  shared/src/components/Footer/Footer.test.js
  shared/src/components/Footer/__snapshots__/Footer.test.js.snap
Labels: Review: Code +1

#618 Fix default icon appearing in select elements
  ui/src/app/base/components/FormikField/FormikField.js
Labels: Review: Code +1, Review: QA +1

#619 Switch the Usabilla code to the 2.7 campaign
  shared/src/components/Footer/Footer.js
Labels: Review: Code +1, Review: QA +1

#624 Release v0.2.1
  ui/package.json
Labels: Review: Code +1

#628 Remove usage of local storage for config in angular app.
  legacy/src/app/bootstrap.js
Labels: Review: Code +1, Review: QA +1

#627 Fix bug where admins could no longer be added.
  ui/src/app/settings/views/Users/UserForm/UserForm.js
  ui/src/app/settings/views/Users/UserForm/UserForm.test.js
Labels: Review: Code +1, Review: QA +1

#633 Release v0.2.2.
  ui/package.json
Labels: Priority: High, Review: Code +1

#632 Consistent loading messages
  legacy/src/index.html.ejs
Labels: Review: Code +1

#635 LP: #1811107 - Explicitly wait for authUser to load before loading users.
  legacy/.babelrc
  legacy/src/app/factories/users.js
Labels: Review: Code +1, Review: QA +1

#631 Add power column to new machine listing.
  ui/src/app/machines/views/MachineList/MachineList.js
  ui/src/app/machines/views/MachineList/PowerColumn/PowerColumn.js
  ui/src/app/machines/views/MachineList/PowerColumn/PowerColumn.test.js
  ui/src/app/machines/views/MachineList/PowerColumn/__snapshots__/PowerColumn.test.js.snap
  ui/src/app/machines/views/MachineList/PowerColumn/index.js
  ui/src/scss/_patterns_double-row.scss
  ui/src/scss/_patterns_icons.scss
  ui/src/scss/base.scss
Labels: Review: Code +1 (with changes), Review: QA +1

#634 Add owner/tags column to machine listing.
  ui/src/app/machines/views/MachineList/MachineList.js
  ui/src/app/machines/views/MachineList/OwnerColumn/OwnerColumn.js
  ui/src/app/machines/views/MachineList/OwnerColumn/OwnerColumn.test.js
  ui/src/app/machines/views/MachineList/OwnerColumn/__snapshots__/OwnerColumn.test.js.snap
  ui/src/app/machines/views/MachineList/OwnerColumn/index.js
  ui/src/app/machines/views/MachineList/PowerColumn/PowerColumn.js
  ui/src/app/machines/views/MachineList/PowerColumn/__snapshots__/PowerColumn.test.js.snap
  ui/src/scss/_patterns_double-row.scss
  ui/src/scss/base.scss
Labels: Blocked ⛔, Review: Code +1 (with changes), Review: QA +1

#646 Add zone/spaces column to new machine listing.
  ui/src/app/machines/views/MachineList/MachineList.js
  ui/src/app/machines/views/MachineList/MachineList.test.js
  ui/src/app/machines/views/MachineList/ZoneColumn/ZoneColumn.js
  ui/src/app/machines/views/MachineList/ZoneColumn/ZoneColumn.test.js
  ui/src/app/machines/views/MachineList/ZoneColumn/__snapshots__/ZoneColumn.test.js.snap
  ui/src/app/machines/views/MachineList/ZoneColumn/index.js
Labels: Review: Code +1, Review: QA +1

#645 Add pool column to new machine listing.
  ui/src/app/machines/views/MachineList/MachineList.js
  ui/src/app/machines/views/MachineList/PoolColumn/PoolColumn.js
  ui/src/app/machines/views/MachineList/PoolColumn/PoolColumn.test.js
  ui/src/app/machines/views/MachineList/PoolColumn/__snapshots__/PoolColumn.test.js.snap
  ui/src/app/machines/views/MachineList/PoolColumn/index.js
  ui/src/app/machines/views/MachineList/PowerColumn/PowerColumn.js
Labels: Review: Code +1 (with changes), Review: QA +1

#657 LP: #1859622 - Fix the console error on networking tab
  legacy/src/app/partials/node-details.html
Labels: Review: Code +1, Review: QA +1

#663 Add fabric and vlan column to new machine listing.
  ui/src/app/machines/views/MachineList/FabricColumn/FabricColumn.js
  ui/src/app/machines/views/MachineList/FabricColumn/FabricColumn.test.js
  ui/src/app/machines/views/MachineList/FabricColumn/__snapshots__/FabricColumn.test.js.snap
  ui/src/app/machines/views/MachineList/FabricColumn/index.js
  ui/src/app/machines/views/MachineList/MachineList.js
Labels: Review: Code +1, Review: QA +1

#658 LP: #1859626 - Show information icon for audit events.
  legacy/src/scss/_patterns_icons.scss
Labels: Review: Code +1, Review: QA +1

#660 LP: #1859087 - Add required indicator for Power type field.
  legacy/src/app/directives/power_parameters.js
Labels: Review: Code +1, Review: QA +1

#664 Add cores/arch to new machine listing.
  ui/src/app/machines/views/MachineList/CoresColumn/CoresColumn.js
  ui/src/app/machines/views/MachineList/CoresColumn/CoresColumn.test.js
  ui/src/app/machines/views/MachineList/CoresColumn/__snapshots__/CoresColumn.test.js.snap
  ui/src/app/machines/views/MachineList/CoresColumn/index.js
  ui/src/app/machines/views/MachineList/MachineList.js
  ui/src/app/machines/views/MachineList/MachineList.test.js
Labels: Review: Code +1, Review: QA +1

#673 chore: Fix typos for recieved and nonexistant [sic]
  legacy/src/app/factories/bootresources.js
  legacy/src/app/partials/cards/cpu.html
  legacy/src/app/partials/cards/memory.html
  legacy/src/app/partials/cards/storage.html
  legacy/src/app/services/region.js
Labels: Maintenance 🔨

#639 LP: #1859032 - Fix bug where newly composed machine would not appear in KVM page.
  legacy/src/app/controllers/pod_details.js
  legacy/src/app/directives/machines_table.js
  legacy/src/app/partials/pod-details.html
Labels: Review: Code +1, Review: QA +1

#669 LP: #1859623 - Sync network card in machine summary with region.
  legacy/src/app/controllers/node_details.js
  legacy/src/app/controllers/tests/test_node_details.js
Labels: Review: Code +1, Review: QA +1

#670 LP: #1850850 - Only show power error notification if node is in error state.
  legacy/src/app/controllers/node_details.js
  legacy/src/app/controllers/tests/test_node_details.js
Labels: Review: Code +1, Review: QA +1

#674 Add test status for core column.
  ui/src/app/base/components/ScriptStatus/ScriptStatus.js
  ui/src/app/base/components/ScriptStatus/ScriptStatus.test.js
  ui/src/app/machines/views/MachineList/CoresColumn/CoresColumn.js
  ui/src/app/machines/views/MachineList/CoresColumn/CoresColumn.test.js
  ui/src/app/machines/views/MachineList/CoresColumn/__snapshots__/CoresColumn.test.js.snap
  ui/src/app/machines/views/MachineList/MachineList.test.js
Labels: Review: Code +1, Review: QA +1

#685 Remove warning icon and tooltip if no tests have been run.
  ui/src/app/base/components/ScriptStatus/ScriptStatus.js
  ui/src/app/base/components/ScriptStatus/ScriptStatus.test.js
  ui/src/app/machines/views/MachineList/CoresColumn/CoresColumn.js
  ui/src/app/machines/views/MachineList/CoresColumn/__snapshots__/CoresColumn.test.js.snap
Labels: Review: Code +1, Review: QA +1

#681 LP: #1859849 - Fix "Create bond" button being unresponsive.
  legacy/src/app/partials/node-details.html
Labels: Review: Code +1, Review: QA +1

#682 LP: #1859426 - Group multiple errors from machine list in notifications section.
  legacy/src/app/controllers/nodes_list.js
  legacy/src/app/directives/notifications.js
  legacy/src/app/directives/tests/test_notifications.js
  legacy/src/app/partials/nodelist/notifications.html
  legacy/src/app/partials/nodes-list.html
Labels: Review: Code +1, Review: QA +1

#684 LP: #1859630 - Fix invalid markup and styling in ipranges partial.
  legacy/src/app/partials/ipranges.html
  legacy/src/scss/_patterns_button.scss
  legacy/src/scss/_tables.scss
  legacy/src/scss/tables/_patterns_table-ipranges.scss
Labels: Review: Code +1, Review: QA +1

#687 Add status column to new machine listing.
  ui/src/app/machines/views/MachineList/CoresColumn/CoresColumn.js
  ui/src/app/machines/views/MachineList/CoresColumn/__snapshots__/CoresColumn.test.js.snap
  ui/src/app/machines/views/MachineList/DisksColumn/DisksColumn.js
  ui/src/app/machines/views/MachineList/DisksColumn/__snapshots__/DisksColumn.test.js.snap
  ui/src/app/machines/views/MachineList/FabricColumn/FabricColumn.js
  ui/src/app/machines/views/MachineList/FabricColumn/__snapshots__/FabricColumn.test.js.snap
  ui/src/app/machines/views/MachineList/MachineList.js
  ui/src/app/machines/views/MachineList/MachineList.scss
  ui/src/app/machines/views/MachineList/MachineList.test.js
  ui/src/app/machines/views/MachineList/NameColumn/NameColumn.js
  ui/src/app/machines/views/MachineList/OwnerColumn/OwnerColumn.js
  ui/src/app/machines/views/MachineList/OwnerColumn/__snapshots__/OwnerColumn.test.js.snap
  ui/src/app/machines/views/MachineList/PoolColumn/PoolColumn.js
  ui/src/app/machines/views/MachineList/PoolColumn/__snapshots__/PoolColumn.test.js.snap
  ui/src/app/machines/views/MachineList/PowerColumn/PowerColumn.js
  ui/src/app/machines/views/MachineList/PowerColumn/__snapshots__/PowerColumn.test.js.snap
  ui/src/app/machines/views/MachineList/StatusColumn/StatusColumn.js
  ui/src/app/machines/views/MachineList/StatusColumn/StatusColumn.test.js
  ui/src/app/machines/views/MachineList/StatusColumn/__snapshots__/StatusColumn.test.js.snap
  ui/src/app/machines/views/MachineList/StatusColumn/index.js
  ui/src/app/machines/views/MachineList/ZoneColumn/ZoneColumn.js
  ui/src/app/machines/views/MachineList/ZoneColumn/__snapshots__/ZoneColumn.test.js.snap
  ui/src/scss/base.scss
Labels: Review: Code +1 (with changes), Review: QA +1

#671 Add Tooltip for machines with multiple spaces.
  ui/src/app/machines/views/MachineList/CoresColumn/CoresColumn.js
  ui/src/app/machines/views/MachineList/ZoneColumn/ZoneColumn.js
  ui/src/app/machines/views/MachineList/ZoneColumn/ZoneColumn.test.js
Labels: Review: Code +1, Review: QA +1

#689 Add RAM column to new machine listing.
  ui/src/app/machines/views/MachineList/MachineList.js
  ui/src/app/machines/views/MachineList/MachineList.test.js
  ui/src/app/machines/views/MachineList/RamColumn/RamColumn.js
  ui/src/app/machines/views/MachineList/RamColumn/RamColumn.test.js
  ui/src/app/machines/views/MachineList/RamColumn/__snapshots__/RamColumn.test.js.snap
  ui/src/app/machines/views/MachineList/RamColumn/index.js
  ui/src/app/utils/formatGigabits.js
  ui/src/app/utils/formatGigabits.test.js
  ui/src/app/utils/index.js
Labels: Review: Code +1, Review: QA +1

#691 Add explicit widths and breakpoints to new machine list.
  ui/src/app/machines/views/MachineList/MachineList.scss
  ui/src/app/machines/views/MachineList/NameColumn/NameColumn.js
  ui/src/app/machines/views/MachineList/NameColumn/__snapshots__/NameColumn.test.js.snap
  ui/src/app/machines/views/MachineList/_machine-list-breakpoint-widths.scss
Labels: Review: Code +1, Review: QA +1

#688 Add storage column to new machine listing.
  ui/src/app/machines/views/MachineList/MachineList.js
  ui/src/app/machines/views/MachineList/MachineList.test.js
  ui/src/app/machines/views/MachineList/StorageColumn/StorageColumn.js
  ui/src/app/machines/views/MachineList/StorageColumn/StorageColumn.test.js
  ui/src/app/machines/views/MachineList/StorageColumn/__snapshots__/StorageColumn.test.js.snap
  ui/src/app/machines/views/MachineList/StorageColumn/index.js
  ui/src/app/utils/formatBytes.js
  ui/src/app/utils/formatBytes.test.js
  ui/src/app/utils/formatGigabytes.js
  ui/src/app/utils/formatGigabytes.test.js
  ui/src/app/utils/index.js
Labels: Review: Code +1, Review: QA +1

#696 Add contextual menu
  ui/src/app/base/components/ContextualMenu/ContextualMenu.js
  ui/src/app/base/components/ContextualMenu/ContextualMenu.test.js
  ui/src/app/base/components/ContextualMenu/__snapshots__/ContextualMenu.test.js.snap
  ui/src/app/base/components/ContextualMenu/index.js
  ui/src/app/base/components/TableMenu/TableMenu.js
  ui/src/app/base/components/TableMenu/TableMenu.scss
  ui/src/app/base/components/TableMenu/TableMenu.test.js
  ui/src/app/base/components/TableMenu/__snapshots__/TableMenu.test.js.snap
  ui/src/app/base/components/TableMenu/index.js
  ui/src/app/machines/views/MachineList/OwnerColumn/OwnerColumn.js
  ui/src/app/machines/views/MachineList/OwnerColumn/__snapshots__/OwnerColumn.test.js.snap
Labels: Review: Code +1, Review: QA +1

#697 Add ErrorBoundaries around app sections.
  ui/src/app/Routes.js
  ui/src/app/base/components/ErrorBoundary/ErrorBoundary.js
  ui/src/app/base/components/ErrorBoundary/ErrorBoundary.test.js
  ui/src/app/base/components/ErrorBoundary/index.js
Labels: Review: Code +1, Review: QA +1

#699 Add double row component
  ui/src/app/base/components/ContextualMenu/ContextualMenu.js
  ui/src/app/base/components/DoubleRow/DoubleRow.js
  ui/src/app/base/components/DoubleRow/DoubleRow.test.js
  ui/src/app/base/components/DoubleRow/__snapshots__/DoubleRow.test.js.snap
  ui/src/app/base/components/DoubleRow/index.js
  ui/src/app/base/components/TableMenu/TableMenu.js
  ui/src/app/base/components/TableMenu/TableMenu.scss
  ui/src/app/base/components/TableMenu/__snapshots__/TableMenu.test.js.snap
  ui/src/app/machines/views/MachineList/CoresColumn/CoresColumn.js
  ui/src/app/machines/views/MachineList/CoresColumn/__snapshots__/CoresColumn.test.js.snap
  ui/src/app/machines/views/MachineList/DisksColumn/DisksColumn.js
  ui/src/app/machines/views/MachineList/DisksColumn/__snapshots__/DisksColumn.test.js.snap
  ui/src/app/machines/views/MachineList/FabricColumn/FabricColumn.js
  ui/src/app/machines/views/MachineList/FabricColumn/__snapshots__/FabricColumn.test.js.snap
  ui/src/app/machines/views/MachineList/MachineList.js
  ui/src/app/machines/views/MachineList/MachineList.scss
  ui/src/app/machines/views/MachineList/NameColumn/NameColumn.js
  ui/src/app/machines/views/MachineList/NameColumn/__snapshots__/NameColumn.test.js.snap
  ui/src/app/machines/views/MachineList/OwnerColumn/OwnerColumn.js
  ui/src/app/machines/views/MachineList/OwnerColumn/__snapshots__/OwnerColumn.test.js.snap
  ui/src/app/machines/views/MachineList/PoolColumn/PoolColumn.js
  ui/src/app/machines/views/MachineList/PoolColumn/__snapshots__/PoolColumn.test.js.snap
  ui/src/app/machines/views/MachineList/PowerColumn/PowerColumn.js
  ui/src/app/machines/views/MachineList/PowerColumn/__snapshots__/PowerColumn.test.js.snap
  ui/src/app/machines/views/MachineList/RamColumn/RamColumn.js
  ui/src/app/machines/views/MachineList/RamColumn/__snapshots__/RamColumn.test.js.snap
  ui/src/app/machines/views/MachineList/StatusColumn/StatusColumn.js
  ui/src/app/machines/views/MachineList/StatusColumn/__snapshots__/StatusColumn.test.js.snap
  ui/src/app/machines/views/MachineList/StorageColumn/StorageColumn.js
  ui/src/app/machines/views/MachineList/StorageColumn/__snapshots__/StorageColumn.test.js.snap
  ui/src/app/machines/views/MachineList/ZoneColumn/ZoneColumn.js
  ui/src/app/machines/views/MachineList/ZoneColumn/__snapshots__/ZoneColumn.test.js.snap
  ui/src/scss/_patterns_double-row.scss
Labels: Review: Code +1, Review: QA +1

#701 Add react error reporting with sentry js.
  ui/.env.production
  ui/package.json
  ui/src/app/App.js
  ui/src/app/base/components/ErrorBoundary/ErrorBoundary.js
  ui/src/app/base/components/ErrorBoundary/ErrorBoundary.test.js
  ui/src/app/settings/views/Configuration/GeneralForm/GeneralForm.js
  yarn.lock
Labels: Review: Code +1, Review: QA +1

#712 Add angularjs sentry reporting
  legacy/.env
  legacy/package.json
  legacy/src/app/directives/tests/test_login.js
  legacy/src/app/entry.js
  legacy/src/app/services/tests/test_browser.js
  legacy/src/app/testing/setup.js
  yarn.lock
Labels: Review: Code +1, Review: QA +1

#717 Fix contextual menu position
  ui/src/app/base/components/ContextualMenu/ContextualMenu.js
  ui/src/app/base/components/ContextualMenu/__snapshots__/ContextualMenu.test.js.snap
  ui/src/app/base/components/TableMenu/TableMenu.scss
Labels: Review: Code +1, Review: QA +1

#715 Add machine count to heading strip.
  ui/src/app/App.js
  ui/src/app/base/components/Section/Section.js
  ui/src/app/base/components/Section/Section.test.js
  ui/src/app/machines/views/Machines.js
  ui/src/app/machines/views/Machines.test.js
Labels: Review: Code +1, Review: QA +1

#719 Add machines and resource pools tabs to machines list.
  ui/src/app/Routes.js
  ui/src/app/base/components/Section/Section.js
  ui/src/app/base/components/Tabs/Tabs.js
  ui/src/app/base/components/Tabs/Tabs.scss
  ui/src/app/base/components/Tabs/Tabs.test.js
  ui/src/app/base/components/Tabs/__snapshots__/Tabs.test.js.snap
  ui/src/app/base/components/Tabs/index.js
  ui/src/app/machines/components/Routes/Routes.js
  ui/src/app/machines/views/Machines.js
  ui/src/app/machines/views/Machines.test.js
  ui/src/app/pools/views/Pools.js
Labels: Review: Code +1 (with changes), Review: QA +1
