Repository canonical/maas-ui, pull requests merged in 2020-11, with the labels that each got.

#1831 fix(ui): fix the truncation in the machine table
  ui/package.json
  ui/src/app/base/components/ScriptStatus/ScriptStatus.js
  ui/src/app/machines/views/MachineList/MachineListTable/NameColumn/NameColumn.js
  ui/src/scss/_patterns_double-row.scss
  ui/src/scss/_vanilla-overrides.scss
  yarn.lock
Labels: Review: Code needed, Review: QA needed

#1833 feat(ui): add status and cpu cards to machine details summary overview
  ui/.betterer.results
  ui/src/app/base/enum.ts
  ui/src/app/machines/components/ActionFormWrapper/ActionFormWrapper.test.tsx
  ui/src/app/machines/components/ActionFormWrapper/ActionFormWrapper.tsx
  ui/src/app/machines/components/ActionFormWrapper/CommissionForm/CommissionForm.tsx
  ui/src/app/machines/components/ActionFormWrapper/TestForm/TestForm.test.tsx
  ui/src/app/machines/components/ActionFormWrapper/TestForm/TestForm.tsx
  ui/src/app/machines/components/ActionFormWrapper/TestForm/TestFormFields/TestFormFields.test.tsx
  ui/src/app/machines/components/ActionFormWrapper/TestForm/TestFormFields/TestFormFields.tsx
  ui/src/app/machines/components/TakeActionMenu/TakeActionMenu.tsx
  ui/src/app/machines/views/MachineDetails/MachineDetails.tsx
  ui/src/app/machines/views/MachineDetails/MachineHeader/MachineHeader.tsx
  ui/src/app/machines/views/MachineDetails/MachineSummary/MachineSummary.test.tsx
  ui/src/app/machines/views/MachineDetails/MachineSummary/MachineSummary.tsx
  ui/src/app/machines/views/MachineDetails/MachineSummary/OverviewCard/CpuCard/CpuCard.test.tsx
  ui/src/app/machines/views/MachineDetails/MachineSummary/OverviewCard/CpuCard/CpuCard.tsx
  ui/src/app/machines/views/MachineDetails/MachineSummary/OverviewCard/CpuCard/index.ts
  ui/src/app/machines/views/MachineDetails/MachineSummary/OverviewCard/OverviewCard.tsx
  ui/src/app/machines/views/MachineDetails/MachineSummary/OverviewCard/StatusCard/StatusCard.test.tsx
  ui/src/app/machines/views/MachineDetails/MachineSummary/OverviewCard/StatusCard/StatusCard.tsx
  ui/src/app/machines/views/MachineDetails/MachineSummary/OverviewCard/StatusCard/index.ts
  ui/src/app/machines/views/MachineDetails/MachineSummary/OverviewCard/_index.scss
  ui/src/app/machines/views/MachineDetails/MachineSummary/OverviewCard/index.ts
  ui/src/app/machines/views/MachineDetails/MachineSummary/__snapshots__/MachineSummary.test.tsx.snap
  ui/src/app/machines/views/MachineDetails/MachineSummary/index.ts
  ui/src/app/machines/views/MachineList/MachineListHeader/MachineListHeader.tsx
  ui/src/app/store/types/node.ts
  ui/src/scss/_patterns_lists.scss
  ui/src/scss/_utilities.scss
  ui/src/scss/index.scss
  ui/src/testing/factories/index.ts
  ui/src/testing/factories/nodes.ts
Labels: Review: Code +1 (with changes), Review: QA +1

#1834 feat(ui): build the machine details network card
  ui/.betterer.results
  ui/src/app/machines/views/MachineDetails/MachineSummary/MachineSummary.tsx
  ui/src/app/machines/views/MachineDetails/MachineSummary/NetworkCard/NetworkCard.test.tsx
  ui/src/app/machines/views/MachineDetails/MachineSummary/NetworkCard/NetworkCard.tsx
  ui/src/app/machines/views/MachineDetails/MachineSummary/NetworkCard/NetworkCardTable/NetworkCardTable.test.tsx
  ui/src/app/machines/views/MachineDetails/MachineSummary/NetworkCard/NetworkCardTable/NetworkCardTable.tsx
  ui/src/app/machines/views/MachineDetails/MachineSummary/NetworkCard/NetworkCardTable/index.ts
  ui/src/app/machines/views/MachineDetails/MachineSummary/NetworkCard/_index.scss
  ui/src/app/machines/views/MachineDetails/MachineSummary/NetworkCard/index.ts
  ui/src/app/machines/views/MachineDetails/MachineSummary/_index.scss
  ui/src/app/store/machine/types.ts
  ui/src/app/utils/formatSpeedUnits.js
  ui/src/scss/_patterns_grids.scss
  ui/src/scss/index.scss
  ui/src/testing/factories/index.ts
  ui/src/testing/factories/nodes.ts
Labels: Review: Code +1, Review: QA +1

#1836 feat(ui): add memory card to machine details overview
  ui/.betterer.results
  ui/src/app/machines/views/MachineDetails/MachineSummary/OverviewCard/MemoryCard/MemoryCard.test.tsx
  ui/src/app/machines/views/MachineDetails/MachineSummary/OverviewCard/MemoryCard/MemoryCard.tsx
  ui/src/app/machines/views/MachineDetails/MachineSummary/OverviewCard/MemoryCard/index.ts
  ui/src/app/machines/views/MachineDetails/MachineSummary/OverviewCard/OverviewCard.tsx
Labels: Review: Code +1, Review: QA +1

#1839 feat(ui): add storage card to machine details overview
  ui/.betterer.results
  ui/src/app/machines/views/MachineDetails/MachineSummary/OverviewCard/OverviewCard.tsx
  ui/src/app/machines/views/MachineDetails/MachineSummary/OverviewCard/StorageCard/StorageCard.test.tsx
  ui/src/app/machines/views/MachineDetails/MachineSummary/OverviewCard/StorageCard/StorageCard.tsx
  ui/src/app/machines/views/MachineDetails/MachineSummary/OverviewCard/StorageCard/index.ts
Labels: Review: Code +1, Review: QA +1

#1840 feat(ui): add power actions to machine details header
  ui/.betterer.results
  ui/src/app/base/hooks.js
  ui/src/app/machines/views/MachineDetails/MachineHeader/MachineHeader.test.tsx
  ui/src/app/machines/views/MachineDetails/MachineHeader/MachineHeader.tsx
Labels: Review: Code +1, Review: QA +1

#1843 refactor(ui): move overview test results to TestResults component
  foo
  ui/.betterer.results
  ui/src/app/base/enum.ts
  ui/src/app/machines/components/ActionFormWrapper/TestForm/TestForm.test.tsx
  ui/src/app/machines/views/MachineDetails/MachineSummary/MachineSummary.tsx
  ui/src/app/machines/views/MachineDetails/MachineSummary/NetworkCard/NetworkCard.test.tsx
  ui/src/app/machines/views/MachineDetails/MachineSummary/NetworkCard/NetworkCard.tsx
  ui/src/app/machines/views/MachineDetails/MachineSummary/OverviewCard/CpuCard/CpuCard.tsx
  ui/src/app/machines/views/MachineDetails/MachineSummary/OverviewCard/MemoryCard/MemoryCard.tsx
  ui/src/app/machines/views/MachineDetails/MachineSummary/OverviewCard/StorageCard/StorageCard.tsx
  ui/src/app/machines/views/MachineDetails/MachineSummary/TestResults/TestResults.test.tsx
  ui/src/app/machines/views/MachineDetails/MachineSummary/TestResults/TestResults.tsx
  ui/src/app/machines/views/MachineDetails/MachineSummary/TestResults/index.ts
Labels: Review: Code +1, Review: QA +1

#1829 fix(legacy): correctly set ttl for address records
  legacy/src/app/partials/domain-details.html
Labels: Backport 2.9 ◀️, Legacy 🧟‍♂️, Review: Code +1, Review: QA +1

#1845 feat(ui): differentiate analytics events for list and details pages
  ui/.betterer.results
  ui/src/app/base/components/ActionForm/ActionForm.tsx
  ui/src/app/base/types.ts
  ui/src/app/kvm/components/KVMActionFormWrapper/ComposeForm/ComposeForm.tsx
  ui/src/app/kvm/components/KVMActionFormWrapper/DeleteForm/DeleteForm.tsx
  ui/src/app/kvm/components/KVMActionFormWrapper/RefreshForm/RefreshForm.tsx
  ui/src/app/machines/components/ActionFormWrapper/CommissionForm/CommissionForm.test.tsx
  ui/src/app/machines/components/ActionFormWrapper/CommissionForm/CommissionForm.tsx
  ui/src/app/machines/components/ActionFormWrapper/DeployForm/DeployForm.test.tsx
  ui/src/app/machines/components/ActionFormWrapper/DeployForm/DeployForm.tsx
  ui/src/app/machines/components/ActionFormWrapper/DeployForm/DeployFormFields/UserDataField/UserDataField.test.tsx
  ui/src/app/machines/components/ActionFormWrapper/FieldlessForm/FieldlessForm.js
  ui/src/app/machines/components/ActionFormWrapper/FieldlessForm/FieldlessForm.test.js
  ui/src/app/machines/components/ActionFormWrapper/FieldlessForm/__snapshots__/FieldlessForm.test.js.snap
  ui/src/app/machines/components/ActionFormWrapper/MarkBrokenForm/MarkBrokenForm.test.tsx
  ui/src/app/machines/components/ActionFormWrapper/MarkBrokenForm/MarkBrokenForm.tsx
  ui/src/app/machines/components/ActionFormWrapper/OverrideTestForm/OverrideTestForm.js
  ui/src/app/machines/components/ActionFormWrapper/SetPoolForm/SetPoolForm.js
  ui/src/app/machines/components/ActionFormWrapper/SetPoolForm/SetPoolForm.test.js
  ui/src/app/machines/components/ActionFormWrapper/SetZoneForm/SetZoneForm.js
  ui/src/app/machines/components/ActionFormWrapper/SetZoneForm/SetZoneForm.test.js
  ui/src/app/machines/components/ActionFormWrapper/TagForm/TagForm.js
  ui/src/app/machines/components/ActionFormWrapper/TagForm/TagForm.test.js
  ui/src/app/machines/components/ActionFormWrapper/TestForm/TestForm.test.tsx
  ui/src/app/machines/components/ActionFormWrapper/TestForm/TestForm.tsx
  ui/src/app/machines/views/MachineDetails/MachineSummary/TestResults/TestResults.tsx
  ui/src/testing/factories/state.ts
Labels: Review: Code +1, Review: QA +1

#1847 ui(feat): add machine summary details card
  shared/src/utils.js
  ui/.betterer.results
  ui/src/app/machines/views/MachineDetails/MachineSummary/NetworkCard/NetworkCard.test.tsx
  ui/src/app/machines/views/MachineDetails/MachineSummary/OverviewCard/CpuCard/CpuCard.test.tsx
  ui/src/app/machines/views/MachineDetails/MachineSummary/OverviewCard/DetailsCard/DetailsCard.test.tsx
  ui/src/app/machines/views/MachineDetails/MachineSummary/OverviewCard/DetailsCard/DetailsCard.tsx
  ui/src/app/machines/views/MachineDetails/MachineSummary/OverviewCard/DetailsCard/index.ts
  ui/src/app/machines/views/MachineDetails/MachineSummary/OverviewCard/MemoryCard/MemoryCard.test.tsx
  ui/src/app/machines/views/MachineDetails/MachineSummary/OverviewCard/OverviewCard.tsx
  ui/src/app/machines/views/MachineDetails/MachineSummary/OverviewCard/StorageCard/StorageCard.test.tsx
  ui/src/app/machines/views/MachineDetails/MachineSummary/TestResults/TestResults.test.tsx
  ui/src/app/machines/views/MachineDetails/MachineSummary/TestResults/TestResults.tsx
  ui/src/app/store/machine/types.ts
  ui/src/app/store/machine/utils.ts
  ui/src/app/store/utils/selectors.ts
Labels: Review: Code +1 (with changes), Review: QA +1

#1854 feat(ui): build filesystems list in machine storage
  ui/.betterer.results
  ui/src/app/machines/views/MachineDetails/MachineDetails.tsx
  ui/src/app/machines/views/MachineDetails/MachineStorage/FilesystemsTable/FilesystemsTable.test.tsx
  ui/src/app/machines/views/MachineDetails/MachineStorage/FilesystemsTable/FilesystemsTable.tsx
  ui/src/app/machines/views/MachineDetails/MachineStorage/FilesystemsTable/index.ts
  ui/src/app/machines/views/MachineDetails/MachineStorage/MachineStorage.test.tsx
  ui/src/app/machines/views/MachineDetails/MachineStorage/MachineStorage.tsx
  ui/src/app/machines/views/MachineDetails/MachineStorage/index.ts
  ui/src/app/store/machine/types.ts
  ui/src/testing/factories/index.ts
  ui/src/testing/factories/nodes.ts
Labels: Review: Code +1, Review: QA +1

#1853 fix(ui): display machine notifications on the summary only
  ui/src/app/machines/views/MachineDetails/MachineDetails.tsx
  ui/src/app/machines/views/MachineDetails/MachineNotifications/MachineNotifications.test.tsx
  ui/src/app/machines/views/MachineDetails/MachineNotifications/MachineNotifications.tsx
  ui/src/app/machines/views/MachineDetails/MachineNotifications/__snapshots__/MachineNotifications.test.tsx.snap
  ui/src/app/machines/views/MachineDetails/MachineSummary/SummaryNotifications/SummaryNotifications.test.tsx
  ui/src/app/machines/views/MachineDetails/MachineSummary/SummaryNotifications/SummaryNotifications.tsx
  ui/src/app/machines/views/MachineDetails/MachineSummary/SummaryNotifications/index.ts
Labels: Review: Code +1, Review: QA +1

#1857 fix(legacy): ensure ttl set for non address records
  legacy/src/app/directives/maas_obj_form.js
  legacy/src/app/partials/domain-details.html
Labels: Legacy 🧟‍♂️, Review: Code +1 (with changes), Review: QA +1

#1863 fix(legacy): use ng-if rather than dynamic maas-obj-form key
  legacy/src/app/directives/maas_obj_form.js
  legacy/src/app/partials/domain-details.html
Labels: Legacy 🧟‍♂️, Review: Code +1, Review: QA +1

#1858 feat(ui): improve summary tab styling
  ui/.betterer.results
  ui/src/app/machines/views/MachineDetails/MachineSummary/NetworkCard/NetworkCard.tsx
  ui/src/app/machines/views/MachineDetails/MachineSummary/NumaCard/NumaCard.tsx
  ui/src/app/machines/views/MachineDetails/MachineSummary/OverviewCard/OverviewCard.tsx
  ui/src/app/machines/views/MachineDetails/MachineSummary/OverviewCard/StatusCard/StatusCard.tsx
  ui/src/app/machines/views/MachineDetails/MachineSummary/OverviewCard/StorageCard/StorageCard.tsx
  ui/src/app/machines/views/MachineDetails/MachineSummary/OverviewCard/_index.scss
  ui/src/app/machines/views/MachineDetails/MachineSummary/SummaryNotifications/SummaryNotifications.test.tsx
  ui/src/app/machines/views/MachineDetails/MachineSummary/SummaryNotifications/SummaryNotifications.tsx
  ui/src/app/machines/views/MachineDetails/MachineSummary/SystemCard/SystemCard.tsx
  ui/src/app/machines/views/MachineDetails/MachineSummary/TestResults/TestResults.tsx
  ui/src/app/machines/views/MachineDetails/MachineSummary/_index.scss
  ui/src/scss/_utilities.scss
Labels: Review: Code +1, Review: QA +1

#1859 feat(ui): add notifications to machine storage tab
  ui/.betterer.results
  ui/src/app/machines/views/MachineDetails/MachineDetails.tsx
  ui/src/app/machines/views/MachineDetails/MachineStorage/StorageNotifications/StorageNotifications.test.tsx
  ui/src/app/machines/views/MachineDetails/MachineStorage/StorageNotifications/StorageNotifications.tsx
  ui/src/app/machines/views/MachineDetails/MachineStorage/StorageNotifications/index.ts
  ui/src/app/store/machine/utils.test.tsx
  ui/src/app/store/machine/utils.ts
  ui/src/scss/_patterns_notifications.scss
Labels: Review: Code +1 (with changes), Review: QA +1

#1865 feat(ui): allow Ubuntu 20.04 LTS to be deployed as a KVM host
  legacy/src/app/controllers/node_details.js
  legacy/src/app/controllers/tests/test_node_details.js
  legacy/src/app/partials/nodedetails/deploy-options.html
  legacy/src/app/services/osblacklist.js
  ui/src/app/machines/components/ActionFormWrapper/DeployForm/DeployFormFields/DeployFormFields.test.tsx
  ui/src/app/machines/components/ActionFormWrapper/DeployForm/DeployFormFields/DeployFormFields.tsx
Labels: Legacy 🧟‍♂️, Review: Code +1, Review: QA +1

#1870 feat(ui): build available disks and partitions list
  ui/.betterer.results
  ui/src/app/machines/views/MachineDetails/MachineStorage/AvailableStorageTable/AvailableStorageTable.test.tsx
  ui/src/app/machines/views/MachineDetails/MachineStorage/AvailableStorageTable/AvailableStorageTable.tsx
  ui/src/app/machines/views/MachineDetails/MachineStorage/AvailableStorageTable/index.ts
  ui/src/app/machines/views/MachineDetails/MachineStorage/FilesystemsTable/FilesystemsTable.test.tsx
  ui/src/app/machines/views/MachineDetails/MachineStorage/FilesystemsTable/FilesystemsTable.tsx
  ui/src/app/machines/views/MachineDetails/MachineStorage/MachineStorage.tsx
  ui/src/app/store/machine/types.ts
  ui/src/testing/factories/nodes.ts
Labels: Review: Code +1, Review: QA +1

#1873 feat(ui): add scriptresults slice and selectors
  ui/.betterer.results
  ui/src/__snapshots__/root-reducer.test.js.snap
  ui/src/app/base/reducers/index.ts
  ui/src/app/base/reducers/scriptresults/index.js
  ui/src/app/base/reducers/scriptresults/scriptresults.js
  ui/src/app/base/reducers/scriptresults/scriptresults.test.js
  ui/src/app/machines/components/ActionFormWrapper/OverrideTestForm/OverrideTestForm.js
  ui/src/app/machines/components/ActionFormWrapper/OverrideTestForm/OverrideTestForm.test.js
  ui/src/app/machines/views/MachineDetails/MachineDetails.tsx
  ui/src/app/machines/views/MachineDetails/MachineTests/MachineTests.tsx
  ui/src/app/machines/views/MachineDetails/MachineTests/index.ts
  ui/src/app/store/machine/selectors.test.ts
  ui/src/app/store/machine/selectors.ts
  ui/src/app/store/scriptresults/index.ts
  ui/src/app/store/scriptresults/reducers.test.ts
  ui/src/app/store/scriptresults/selectors.test.tsx
  ui/src/app/store/scriptresults/selectors.ts
  ui/src/app/store/scriptresults/slice.ts
  ui/src/app/store/scriptresults/types.ts
  ui/src/app/store/utils/slice.ts
  ui/src/root-reducer.js
  ui/src/testing/factories/index.ts
  ui/src/testing/factories/scriptresults.ts
  ui/src/testing/factories/state.ts
Labels: Review: Code +1, Review: QA +1

#1872 feat(ui): create OS formatting hook for use in machine list + details
  ui/.betterer.results
  ui/src/app/kvm/views/KVMList/KVMListTable/KVMListTable.tsx
  ui/src/app/kvm/views/KVMList/KVMListTable/OSColumn/OSColumn.tsx
  ui/src/app/machines/views/MachineDetails/MachineSummary/OverviewCard/StatusCard/StatusCard.test.tsx
  ui/src/app/machines/views/MachineDetails/MachineSummary/OverviewCard/StatusCard/StatusCard.tsx
  ui/src/app/machines/views/MachineList/MachineListTable/StatusColumn/StatusColumn.test.tsx
  ui/src/app/machines/views/MachineList/MachineListTable/StatusColumn/StatusColumn.tsx
  ui/src/app/machines/views/MachineList/MachineListTable/StatusColumn/__snapshots__/StatusColumn.test.tsx.snap
  ui/src/app/machines/views/MachineList/MachineListTable/StatusColumn/index.ts
  ui/src/app/store/machine/types.ts
  ui/src/app/store/machine/utils.test.tsx
  ui/src/app/store/machine/utils.ts
  ui/src/app/store/types/node.ts
  ui/src/app/utils/getStatusText.js
  ui/src/app/utils/getStatusText.test.js
  ui/src/app/utils/getStatusText.test.ts
  ui/src/app/utils/getStatusText.ts
  ui/src/testing/factories/nodes.ts
Labels: Review: Code +1, Review: QA +1

#1875 fix(legacy): handle manger websocket errors with the error service
  legacy/src/app/services/managerhelper.js
  legacy/src/app/services/region.js
  legacy/src/app/services/tests/test_managerhelper.js
Labels: Legacy 🧟‍♂️, Review: Code +1, Review: QA +1

#1886 Backport to 2.9: fix for websocket errors when closed
  legacy/src/app/services/managerhelper.js
  legacy/src/app/services/region.js
  legacy/src/app/services/tests/test_managerhelper.js
Labels: Legacy 🧟‍♂️, Review: Code +1

#1885 Backport to 2.8: fix for websocket errors when closed
  legacy/src/app/services/managerhelper.js
  legacy/src/app/services/region.js
  legacy/src/app/services/tests/test_managerhelper.js
Labels: Legacy 🧟‍♂️, Maintenance 🔨, Review: Code +1

#1882 feat(ui): add footer links to machine storage tab
  ui/.betterer.results
  ui/src/app/machines/views/MachineDetails/MachineStorage/MachineStorage.test.tsx
  ui/src/app/machines/views/MachineDetails/MachineStorage/MachineStorage.tsx
Labels: Review: Code +1, Review: QA +1

#1887 fix(legacy): fix tags input overlaying other fields in machine config form
  legacy/src/app/partials/node-details.html
Labels: Legacy 🧟‍♂️, Review: Code +1, Review: QA +1

#1871 Show the correct login page when logging out with external auth.
  ui/src/app/App.js
  ui/src/app/App.test.js
  ui/src/app/base/hooks.js
Labels: Review: Code +1, Review: QA +1

#1895 build(yarn): rebuild yarn.lock
  yarn.lock
Labels: Review: Code needed

#1896 build(yarn): add Renovate Dependency dashboard
  renovate.json
Labels: Review: Code +1

#1899 refactor(ui): create common components between storage tables
  ui/.betterer.results
  ui/src/app/machines/views/MachineDetails/MachineStorage/AvailableStorageTable/AvailableStorageTable.test.tsx
  ui/src/app/machines/views/MachineDetails/MachineStorage/AvailableStorageTable/AvailableStorageTable.tsx
  ui/src/app/machines/views/MachineDetails/MachineStorage/BootStatus/BootStatus.test.tsx
  ui/src/app/machines/views/MachineDetails/MachineStorage/BootStatus/BootStatus.tsx
  ui/src/app/machines/views/MachineDetails/MachineStorage/BootStatus/index.ts
  ui/src/app/machines/views/MachineDetails/MachineStorage/FilesystemsTable/FilesystemsTable.tsx
  ui/src/app/machines/views/MachineDetails/MachineStorage/MachineStorage.tsx
  ui/src/app/machines/views/MachineDetails/MachineStorage/NumaNodes/NumaNodes.test.tsx
  ui/src/app/machines/views/MachineDetails/MachineStorage/NumaNodes/NumaNodes.tsx
  ui/src/app/machines/views/MachineDetails/MachineStorage/NumaNodes/index.ts
  ui/src/app/machines/views/MachineDetails/MachineStorage/TagLinks/TagLinks.test.tsx
  ui/src/app/machines/views/MachineDetails/MachineStorage/TagLinks/TagLinks.tsx
  ui/src/app/machines/views/MachineDetails/MachineStorage/TagLinks/index.ts
  ui/src/app/machines/views/MachineDetails/MachineStorage/TestStatus/TestStatus.test.tsx
  ui/src/app/machines/views/MachineDetails/MachineStorage/TestStatus/TestStatus.tsx
  ui/src/app/machines/views/MachineDetails/MachineStorage/TestStatus/index.ts
  ui/src/app/machines/views/MachineDetails/MachineStorage/UsedStorageTable/UsedStorageTable.test.tsx
  ui/src/app/machines/views/MachineDetails/MachineStorage/UsedStorageTable/UsedStorageTable.tsx
  ui/src/app/machines/views/MachineDetails/MachineStorage/utils.test.ts
  ui/src/app/machines/views/MachineDetails/MachineStorage/utils.ts
Labels: Review: Code +1, Review: QA +1

#1891 feat(ui): build cache sets list in machine storage tab
  ui/.betterer.results
  ui/src/app/machines/views/MachineDetails/MachineStorage/CacheSetsTable/CacheSetsTable.test.tsx
  ui/src/app/machines/views/MachineDetails/MachineStorage/CacheSetsTable/CacheSetsTable.tsx
  ui/src/app/machines/views/MachineDetails/MachineStorage/CacheSetsTable/index.ts
  ui/src/app/machines/views/MachineDetails/MachineStorage/MachineStorage.test.tsx
  ui/src/app/machines/views/MachineDetails/MachineStorage/MachineStorage.tsx
  ui/src/app/machines/views/MachineDetails/MachineStorage/types.ts
  ui/src/app/machines/views/MachineDetails/MachineStorage/utils.test.ts
  ui/src/app/machines/views/MachineDetails/MachineStorage/utils.ts
Labels: Review: Code +1 (with changes), Review: QA +1

#1900 feat(ui): build vmfs6 datastores list in machine storage tab
  ui/.betterer.results
  ui/src/app/machines/views/MachineDetails/MachineStorage/DatastoresTable/DatastoresTable.test.tsx
  ui/src/app/machines/views/MachineDetails/MachineStorage/DatastoresTable/DatastoresTable.tsx
  ui/src/app/machines/views/MachineDetails/MachineStorage/DatastoresTable/__snapshots__/DatastoresTable.test.tsx.snap
  ui/src/app/machines/views/MachineDetails/MachineStorage/DatastoresTable/index.ts
  ui/src/app/machines/views/MachineDetails/MachineStorage/MachineStorage.test.tsx
  ui/src/app/machines/views/MachineDetails/MachineStorage/MachineStorage.tsx
  ui/src/app/machines/views/MachineDetails/MachineStorage/types.ts
  ui/src/app/machines/views/MachineDetails/MachineStorage/utils.test.ts
  ui/src/app/machines/views/MachineDetails/MachineStorage/utils.ts
Labels: Review: Code +1, Review: QA +1

#1883 fix(legacy): fix machine logs missing new lines when copied manually
  legacy/src/app/directives/code_lines.js
Labels: Legacy 🧟‍♂️, Review: Code +1, Review: QA +1

#1903 feat(ui): add ability to change a machine's storage layout
  ui/.betterer.results
  ui/src/app/base/components/FormCard/FormCard.js
  ui/src/app/base/components/FormCard/FormCard.test.js
  ui/src/app/base/components/FormCard/FormCard.test.tsx
  ui/src/app/base/components/FormCard/FormCard.tsx
  ui/src/app/base/components/FormCard/__snapshots__/FormCard.test.tsx.snap
  ui/src/app/base/components/FormCard/index.ts
  ui/src/app/machines/views/MachineDetails/MachineStorage/ChangeStorageLayout/ChangeStorageLayout.test.tsx
  ui/src/app/machines/views/MachineDetails/MachineStorage/ChangeStorageLayout/ChangeStorageLayout.tsx
  ui/src/app/machines/views/MachineDetails/MachineStorage/ChangeStorageLayout/index.ts
  ui/src/app/machines/views/MachineDetails/MachineStorage/MachineStorage.test.tsx
  ui/src/app/machines/views/MachineDetails/MachineStorage/MachineStorage.tsx
  ui/src/app/store/machine/actions.test.ts
  ui/src/app/store/machine/slice.ts
  ui/src/app/store/machine/types.ts
  ui/src/app/store/machine/utils.test.tsx
  ui/src/app/store/machine/utils.ts
  ui/src/testing/factories/state.ts
Labels: Review: Code +1, Review: QA +1

#1904 refactor(ui): use generic state type for model states
  ui/src/app/store/config/types.ts
  ui/src/app/store/controller/reducers.test.ts
  ui/src/app/store/controller/slice.ts
  ui/src/app/store/controller/types.ts
  ui/src/app/store/device/slice.ts
  ui/src/app/store/device/types.ts
  ui/src/app/store/dhcpsnippet/slice.ts
  ui/src/app/store/dhcpsnippet/types.ts
  ui/src/app/store/domain/slice.ts
  ui/src/app/store/domain/types.ts
  ui/src/app/store/fabric/slice.ts
  ui/src/app/store/fabric/types.ts
  ui/src/app/store/licensekeys/types.ts
  ui/src/app/store/machine/slice.ts
  ui/src/app/store/machine/types.ts
  ui/src/app/store/notification/slice.ts
  ui/src/app/store/notification/types.ts
  ui/src/app/store/packagerepository/slice.ts
  ui/src/app/store/packagerepository/types.ts
  ui/src/app/store/pod/slice.ts
  ui/src/app/store/resourcepool/slice.ts
  ui/src/app/store/resourcepool/types.ts
  ui/src/app/store/scriptresults/slice.ts
  ui/src/app/store/scriptresults/types.ts
  ui/src/app/store/scripts/types.ts
  ui/src/app/store/service/slice.ts
  ui/src/app/store/service/types.ts
  ui/src/app/store/space/slice.ts
  ui/src/app/store/space/types.ts
  ui/src/app/store/sshkey/slice.ts
  ui/src/app/store/sshkey/types.ts
  ui/src/app/store/sslkey/slice.ts
  ui/src/app/store/sslkey/types.ts
  ui/src/app/store/subnet/slice.ts
  ui/src/app/store/subnet/types.ts
  ui/src/app/store/tag/slice.ts
  ui/src/app/store/tag/types.ts
  ui/src/app/store/token/slice.ts
  ui/src/app/store/token/types.ts
  ui/src/app/store/user/slice.ts
  ui/src/app/store/user/types.ts
  ui/src/app/store/utils/slice.test.ts
  ui/src/app/store/utils/slice.ts
  ui/src/app/store/vlan/slice.ts
  ui/src/app/store/vlan/types.ts
  ui/src/app/store/zone/slice.ts
  ui/src/app/store/zone/types.ts
Labels: Review: Code +1

#1902 Add noderesult slice
  ui/.betterer.results
  ui/src/__snapshots__/root-reducer.test.js.snap
  ui/src/app/base/sagas/websockets.js
  ui/src/app/base/sagas/websockets.test.js
  ui/src/app/machines/views/MachineDetails/MachineTests/MachineTests.tsx
  ui/src/app/store/noderesult/index.ts
  ui/src/app/store/noderesult/reducers.test.ts
  ui/src/app/store/noderesult/selectors.test.tsx
  ui/src/app/store/noderesult/selectors.ts
  ui/src/app/store/noderesult/slice.ts
  ui/src/app/store/noderesult/types.ts
  ui/src/app/store/root/types.ts
  ui/src/root-reducer.js
  ui/src/testing/factories/index.ts
  ui/src/testing/factories/noderesult.ts
  ui/src/testing/factories/state.ts
Labels: Review: Code +1 (with changes), Review: QA +1

#1911 fix(ui): include all scripts in preselected commissioning except noauto
  ui/src/app/machines/components/ActionFormWrapper/CommissionForm/CommissionForm.tsx
  ui/src/app/store/scripts/selectors.test.ts
  ui/src/app/store/scripts/selectors.ts
Labels: Backport 2.9 ◀️, Review: Code +1, Review: QA +1

#1912 fix(proxy): use bolla as the default maas instance
  HACKING.md
  proxy/.env
Labels: Review: Code +1

#1908 feat(ui): build form for adding special filesystems
  ui/.betterer.results
  ui/src/app/machines/views/MachineDetails/MachineStorage/ChangeStorageLayout/ChangeStorageLayout.tsx
  ui/src/app/machines/views/MachineDetails/MachineStorage/FilesystemsTable/AddSpecialFilesystem/AddSpecialFilesystem.test.tsx
  ui/src/app/machines/views/MachineDetails/MachineStorage/FilesystemsTable/AddSpecialFilesystem/AddSpecialFilesystem.tsx
  ui/src/app/machines/views/MachineDetails/MachineStorage/FilesystemsTable/AddSpecialFilesystem/index.ts
  ui/src/app/machines/views/MachineDetails/MachineStorage/FilesystemsTable/FilesystemsTable.test.tsx
  ui/src/app/machines/views/MachineDetails/MachineStorage/FilesystemsTable/FilesystemsTable.tsx
  ui/src/app/machines/views/MachineDetails/MachineStorage/MachineStorage.tsx
  ui/src/app/store/machine/actions.test.ts
  ui/src/app/store/machine/slice.ts
  ui/src/app/store/machine/types.ts
  ui/src/testing/factories/state.ts
Labels: Review: Code +1, Review: QA +1

#1913 feat(ui): add storage create actions to machine slice
  ui/src/app/store/machine/actions.test.ts
  ui/src/app/store/machine/slice.ts
  ui/src/app/store/machine/types.ts
  ui/src/testing/factories/state.ts
Labels: Review: Code +1 (with changes)

#1918 fix(legacy): show storage tab for new controllers
  legacy/src/app/partials/node-details.html
Labels: Legacy 🧟‍♂️, Review: Code +1, Review: QA +1

#1915 feat(ui): add storage delete actions to machine slice
  ui/src/app/store/machine/actions.test.ts
  ui/src/app/store/machine/slice.ts
  ui/src/app/store/machine/types.ts
  ui/src/testing/factories/state.ts
Labels: Review: Code +1

#1916 feat(ui): add storage update actions to machine slice
  ui/src/app/store/machine/actions.test.ts
  ui/src/app/store/machine/slice.ts
  ui/src/app/store/machine/types.ts
  ui/src/testing/factories/state.ts
Labels: Review: Code +1

#1923 refactor(ui): add lint rule for type imports
  ui/.eslintrc.js
  ui/src/app/base/components/NotificationGroup/Notification/Notification.tsx
  ui/src/app/kvm/components/KVMActionFormWrapper/ComposeForm/InterfacesTable/InterfacesTable.test.tsx
  ui/src/app/kvm/components/KVMActionFormWrapper/ComposeForm/InterfacesTable/SubnetSelect/SubnetSelect.test.tsx
  ui/src/app/kvm/components/KVMActionFormWrapper/ComposeForm/StorageTable/PoolSelect/PoolSelect.test.tsx
  ui/src/app/kvm/components/KVMActionFormWrapper/ComposeForm/StorageTable/StorageTable.test.tsx
  ui/src/app/kvm/components/PodConfiguration/PodConfiguration.test.tsx
  ui/src/app/kvm/views/KVMDetails/KVMDetailsHeader/KVMDetailsHeader.test.tsx
  ui/src/app/kvm/views/KVMList/AddKVMForm/AddKVMFormFields/AddKVMFormFields.tsx
  ui/src/app/kvm/views/KVMList/KVMListHeader/KVMListActionMenu/KVMListActionMenu.test.tsx
  ui/src/app/machines/components/ActionFormWrapper/ActionFormWrapper.test.tsx
  ui/src/app/machines/components/ActionFormWrapper/DeployForm/DeployFormFields/DeployFormFields.test.tsx
  ui/src/app/machines/components/ActionFormWrapper/DeployForm/DeployFormFields/DeployFormFields.tsx
  ui/src/app/machines/components/ActionFormWrapper/DeployForm/DeployFormFields/UserDataField/UserDataField.test.tsx
  ui/src/app/machines/components/ActionFormWrapper/DeployForm/DeployFormFields/UserDataField/UserDataField.tsx
  ui/src/app/machines/components/ActionFormWrapper/MarkBrokenForm/MarkBrokenForm.test.tsx
  ui/src/app/machines/components/ActionFormWrapper/TestForm/TestForm.test.tsx
  ui/src/app/machines/components/ActionFormWrapper/TestForm/TestForm.tsx
  ui/src/app/machines/components/ActionFormWrapper/TestForm/TestFormFields/TestFormFields.test.tsx
  ui/src/app/machines/components/ActionFormWrapper/TestForm/TestFormFields/TestFormFields.tsx
  ui/src/app/machines/components/TakeActionMenu/TakeActionMenu.test.tsx
  ui/src/app/machines/components/TakeActionMenu/TakeActionMenu.tsx
  ui/src/app/machines/views/MachineDetails/MachineDetails.tsx
  ui/src/app/machines/views/MachineDetails/MachineHeader/MachineHeader.tsx
  ui/src/app/machines/views/MachineDetails/MachineStorage/DatastoresTable/DatastoresTable.tsx
  ui/src/app/machines/views/MachineDetails/MachineStorage/FilesystemsTable/FilesystemsTable.tsx
  ui/src/app/machines/views/MachineDetails/MachineSummary/MachineSummary.tsx
  ui/src/app/machines/views/MachineDetails/MachineSummary/NetworkCard/NetworkCard.tsx
  ui/src/app/settings/views/Configuration/CommissioningForm/CommissioningForm.test.tsx
  ui/src/app/settings/views/Configuration/CommissioningFormFields/CommissioningFormFields.tsx
  ui/src/app/settings/views/Users/UserForm/UserForm.test.tsx
  ui/src/app/store/controller/slice.ts
  ui/src/app/store/device/slice.ts
  ui/src/app/store/dhcpsnippet/slice.ts
  ui/src/app/store/domain/slice.ts
  ui/src/app/store/fabric/slice.ts
  ui/src/app/store/machine/selectors.ts
  ui/src/app/store/machine/utils.ts
  ui/src/app/store/noderesult/selectors.ts
  ui/src/app/store/noderesult/slice.ts
  ui/src/app/store/packagerepository/slice.ts
  ui/src/app/store/packagerepository/utils.ts
  ui/src/app/store/resourcepool/slice.ts
  ui/src/app/store/scriptresults/selectors.ts
  ui/src/app/store/scriptresults/slice.ts
  ui/src/app/store/service/slice.ts
  ui/src/app/store/space/slice.ts
  ui/src/app/store/sslkey/slice.ts
  ui/src/app/store/subnet/slice.ts
  ui/src/app/store/tag/slice.ts
  ui/src/app/store/token/slice.ts
  ui/src/app/store/user/slice.ts
  ui/src/app/store/utils/selectors.ts
  ui/src/app/store/utils/slice.test.ts
  ui/src/app/store/utils/slice.ts
  ui/src/app/store/vlan/slice.ts
  ui/src/app/store/zone/slice.ts
  ui/src/testing/factories/general.ts
  ui/src/testing/factories/nodes.ts
  ui/src/testing/factories/state.ts
Labels: Review: Code +1

#1920 feat(ui): build add partition form in machine storage
  ui/.betterer.results
  ui/src/app/base/components/TableMenu/TableMenu.js
  ui/src/app/base/components/TableMenu/__snapshots__/TableMenu.test.js.snap
  ui/src/app/base/components/TableMenu/_index.scss
  ui/src/app/machines/views/MachineDetails/MachineStorage/AvailableStorageTable/AddPartition/AddPartition.test.tsx
  ui/src/app/machines/views/MachineDetails/MachineStorage/AvailableStorageTable/AddPartition/AddPartition.tsx
  ui/src/app/machines/views/MachineDetails/MachineStorage/AvailableStorageTable/AddPartition/index.ts
  ui/src/app/machines/views/MachineDetails/MachineStorage/AvailableStorageTable/AddPartitionFields/AddPartitionFields.test.tsx
  ui/src/app/machines/views/MachineDetails/MachineStorage/AvailableStorageTable/AddPartitionFields/AddPartitionFields.tsx
  ui/src/app/machines/views/MachineDetails/MachineStorage/AvailableStorageTable/AddPartitionFields/index.ts
  ui/src/app/machines/views/MachineDetails/MachineStorage/AvailableStorageTable/AvailableStorageTable.test.tsx
  ui/src/app/machines/views/MachineDetails/MachineStorage/AvailableStorageTable/AvailableStorageTable.tsx
  ui/src/app/machines/views/MachineDetails/MachineStorage/FilesystemsTable/FilesystemsTable.test.tsx
  ui/src/app/machines/views/MachineDetails/MachineStorage/FilesystemsTable/FilesystemsTable.tsx
  ui/src/app/machines/views/MachineDetails/MachineStorage/MachineStorage.tsx
  ui/src/app/machines/views/MachineDetails/MachineStorage/types.ts
  ui/src/app/machines/views/MachineDetails/MachineStorage/utils.test.ts
  ui/src/app/machines/views/MachineDetails/MachineStorage/utils.ts
  ui/src/app/machines/views/MachineList/MachineListTable/OwnerColumn/__snapshots__/OwnerColumn.test.js.snap
  ui/src/app/machines/views/MachineList/MachineListTable/PoolColumn/__snapshots__/PoolColumn.test.js.snap
  ui/src/app/machines/views/MachineList/MachineListTable/PowerColumn/__snapshots__/PowerColumn.test.js.snap
  ui/src/app/machines/views/MachineList/MachineListTable/StatusColumn/__snapshots__/StatusColumn.test.tsx.snap
  ui/src/app/machines/views/MachineList/MachineListTable/ZoneColumn/__snapshots__/ZoneColumn.test.js.snap
  ui/src/app/store/machine/slice.ts
Labels: Review: Code +1 (with changes), Review: QA +1

#1924 feat(ui): add ability to remove filesystems
  ui/src/app/base/components/TableMenu/TableMenu.js
  ui/src/app/machines/views/MachineDetails/MachineStorage/ActionConfirm/ActionConfirm.test.tsx
  ui/src/app/machines/views/MachineDetails/MachineStorage/ActionConfirm/ActionConfirm.tsx
  ui/src/app/machines/views/MachineDetails/MachineStorage/ActionConfirm/index.ts
  ui/src/app/machines/views/MachineDetails/MachineStorage/DatastoresTable/DatastoresTable.test.tsx
  ui/src/app/machines/views/MachineDetails/MachineStorage/DatastoresTable/__snapshots__/DatastoresTable.test.tsx.snap
  ui/src/app/machines/views/MachineDetails/MachineStorage/FilesystemsTable/AddSpecialFilesystem/AddSpecialFilesystem.test.tsx
  ui/src/app/machines/views/MachineDetails/MachineStorage/FilesystemsTable/AddSpecialFilesystem/AddSpecialFilesystem.tsx
  ui/src/app/machines/views/MachineDetails/MachineStorage/FilesystemsTable/FilesystemsTable.test.tsx
  ui/src/app/machines/views/MachineDetails/MachineStorage/FilesystemsTable/FilesystemsTable.tsx
  ui/src/app/machines/views/MachineDetails/MachineStorage/MachineStorage.tsx
  ui/src/app/machines/views/MachineDetails/MachineStorage/types.ts
  ui/src/app/machines/views/MachineDetails/MachineStorage/utils.test.ts
  ui/src/app/machines/views/MachineDetails/MachineStorage/utils.ts
  ui/src/app/store/machine/slice.ts
Labels: Review: Code +1, Review: QA +1

#1928 refactor(ui): store errors with id and action
  ui/.betterer.results
  ui/src/app/base/components/ActionForm/ActionForm.tsx
  ui/src/app/machines/components/ActionFormWrapper/CommissionForm/CommissionForm.tsx
  ui/src/app/machines/components/ActionFormWrapper/DeployForm/DeployForm.tsx
  ui/src/app/machines/components/ActionFormWrapper/DeployForm/DeployFormFields/UserDataField/UserDataField.test.tsx
  ui/src/app/machines/components/ActionFormWrapper/FieldlessForm/FieldlessForm.js
  ui/src/app/machines/components/ActionFormWrapper/FieldlessForm/__snapshots__/FieldlessForm.test.js.snap
  ui/src/app/machines/components/ActionFormWrapper/MarkBrokenForm/MarkBrokenForm.tsx
  ui/src/app/machines/components/ActionFormWrapper/OverrideTestForm/OverrideTestForm.js
  ui/src/app/machines/components/ActionFormWrapper/SetPoolForm/SetPoolForm.js
  ui/src/app/machines/components/ActionFormWrapper/SetPoolForm/SetPoolFormFields/SetPoolFormFields.test.js
  ui/src/app/machines/components/ActionFormWrapper/SetZoneForm/SetZoneForm.js
  ui/src/app/machines/components/ActionFormWrapper/TagForm/TagForm.js
  ui/src/app/machines/components/ActionFormWrapper/TestForm/TestForm.tsx
  ui/src/app/machines/hooks.test.tsx
  ui/src/app/machines/hooks.tsx
  ui/src/app/machines/views/MachineDetails/MachineDetails.test.tsx
  ui/src/app/machines/views/MachineDetails/MachineDetails.tsx
  ui/src/app/machines/views/MachineList/MachineList.js
  ui/src/app/machines/views/MachineList/MachineList.test.js
  ui/src/app/store/machine/reducers.test.ts
  ui/src/app/store/machine/selectors.test.ts
  ui/src/app/store/machine/selectors.ts
  ui/src/app/store/machine/slice.ts
  ui/src/app/store/machine/types.ts
  ui/src/app/store/noderesult/types.ts
  ui/src/app/store/types/state.ts
  ui/src/app/store/utils/index.ts
  ui/src/app/store/utils/slice.ts
  ui/src/testing/factories/index.ts
  ui/src/testing/factories/state.ts
Labels: Review: Code +1 (with changes), Review: QA +1

#1938 fix: prevent labeller from removing code and qa needed labels
  .github/labeler.yml
Labels: Review: Code +1

#1937 fix(ui): revert machine list links
  ui/src/app/machines/views/MachineList/MachineListTable/NameColumn/NameColumn.js
  ui/src/app/machines/views/MachineList/MachineListTable/NameColumn/__snapshots__/NameColumn.test.js.snap
  ui/src/app/settings/views/Dhcp/DhcpTarget/DhcpTarget.js
  ui/src/app/settings/views/Dhcp/DhcpTarget/DhcpTarget.test.js
  ui/src/app/settings/views/Dhcp/DhcpTarget/__snapshots__/DhcpTarget.test.js.snap
Labels: Review: Code +1 (with changes), Review: QA +1

#1936 feat(ui): add the machine details network tab component
  ui/src/app/machines/views/MachineDetails/MachineDetails.tsx
  ui/src/app/machines/views/MachineDetails/MachineNetwork/MachineNetwork.test.tsx
  ui/src/app/machines/views/MachineDetails/MachineNetwork/MachineNetwork.tsx
  ui/src/app/machines/views/MachineDetails/MachineNetwork/index.ts
Labels: Review: Code +1, Review: QA +1

#1944 refactor(ui): refactor storage utils to be more composable
  ui/src/app/machines/views/MachineDetails/MachineStorage/utils-new.test.ts
  ui/src/app/machines/views/MachineDetails/MachineStorage/utils-new.ts
Labels: Review: Code needed
