Repository canonical/maas-ui, pull requests merged in 2020-02, with the labels that each got.

#726 Remove machine/pool counts until fully loaded.
  ui/src/app/machines/views/Machines.js
  ui/src/app/machines/views/Machines.test.js
Labels: Review: Code +1, Review: QA +1

#734 Pool actions
  ui/src/app/base/actions/machine/machine.js
  ui/src/app/base/actions/machine/machine.test.js
  ui/src/app/base/components/ContextualMenu/ContextualMenu.js
  ui/src/app/base/components/ContextualMenu/ContextualMenu.test.js
  ui/src/app/base/reducers/machine/machine.js
  ui/src/app/base/reducers/machine/machine.test.js
  ui/src/app/machines/views/MachineList/MachineList.test.js
  ui/src/app/machines/views/MachineList/PoolColumn/PoolColumn.js
  ui/src/app/machines/views/MachineList/PoolColumn/PoolColumn.test.js
  ui/src/app/machines/views/MachineList/PoolColumn/__snapshots__/PoolColumn.test.js.snap
Labels: Review: Code +1 (with changes), Review: QA +1

#700 Implement machine list grouping and sorting with double row headers
  ui/src/app/base/components/TableHeader/TableHeader.js
  ui/src/app/base/components/TableHeader/TableHeader.test.js
  ui/src/app/base/components/TableHeader/index.js
  ui/src/app/machines/views/MachineList/GroupSelect/GroupSelect.js
  ui/src/app/machines/views/MachineList/GroupSelect/GroupSelect.test.js
  ui/src/app/machines/views/MachineList/GroupSelect/__snapshots__/GroupSelect.test.js.snap
  ui/src/app/machines/views/MachineList/GroupSelect/index.js
  ui/src/app/machines/views/MachineList/MachineList.js
  ui/src/app/machines/views/MachineList/MachineList.scss
  ui/src/app/machines/views/MachineList/MachineList.test.js
  ui/src/app/machines/views/MachineList/NameColumn/NameColumn.js
  ui/src/app/machines/views/MachineList/NameColumn/NameColumn.test.js
  ui/src/app/machines/views/MachineList/PowerColumn/PowerColumn.js
  ui/src/app/machines/views/MachineList/PowerColumn/__snapshots__/PowerColumn.test.js.snap
  ui/src/app/settings/views/Users/UsersList/UsersList.js
  ui/src/app/settings/views/Users/UsersList/UsersList.test.js
  ui/src/app/utils/groupAsMap.js
  ui/src/app/utils/groupAsMap.test.js
  ui/src/app/utils/index.js
  ui/src/app/utils/simpleSortByKey.js
  ui/src/app/utils/simpleSortByKey.test.js
  ui/src/scss/_patterns_double-row.scss
  ui/src/scss/_patterns_table.scss
  ui/src/scss/_vanilla-overrides.scss
  ui/src/scss/base.scss
Labels: Review: Code +1, Review: QA +1

#738 List pools
  ui/src/app/pools/views/Pools.js
  ui/src/app/pools/views/Pools.test.js
Labels: Review: Code +1 (with changes), Review: QA +1

#744 Delete pools.
  ui/src/app/base/actions/resourcepool/resourcepool.js
  ui/src/app/base/actions/resourcepool/resourcepool.test.js
  ui/src/app/base/reducers/resourcepool/resourcepool.js
  ui/src/app/base/reducers/resourcepool/resourcepool.test.js
  ui/src/app/base/selectors/resourcepool/resourcepool.js
  ui/src/app/base/selectors/resourcepool/resourcepool.test.js
  ui/src/app/pools/views/Pools.js
  ui/src/app/pools/views/Pools.test.js
Labels: Review: Code +1, Review: QA +1

#737 Add checkboxes for individual machines.
  ui/src/app/base/components/DoubleRow/DoubleRow.js
  ui/src/app/machines/views/MachineList/MachineList.js
  ui/src/app/machines/views/MachineList/MachineList.scss
  ui/src/app/machines/views/MachineList/MachineList.test.js
  ui/src/app/machines/views/MachineList/NameColumn/NameColumn.js
  ui/src/app/machines/views/MachineList/NameColumn/NameColumn.scss
  ui/src/app/machines/views/MachineList/NameColumn/NameColumn.test.js
  ui/src/app/machines/views/MachineList/NameColumn/__snapshots__/NameColumn.test.js.snap
  ui/src/app/machines/views/MachineList/_machine-list-breakpoint-widths.scss
  ui/src/app/machines/views/MachineList/_settings.scss
  ui/src/app/machines/views/Machines.test.js
  ui/src/scss/_vanilla-overrides.scss
Labels: Review: Code +1, Review: QA +1

#724 Fix incorrect markup in legacy nodes list
  legacy/src/app/partials/nodes-list.html
Labels: Review: Code needed

#745 Action spinner
  ui/src/app/machines/views/MachineList/PoolColumn/PoolColumn.js
  ui/src/app/machines/views/MachineList/PoolColumn/PoolColumn.test.js
  ui/src/app/machines/views/MachineList/PoolColumn/__snapshots__/PoolColumn.test.js.snap
Labels: Review: Code +1, Review: QA +1

#741 Add checkboxes for machine groups.
  ui/src/app/machines/views/MachineList/MachineList.js
  ui/src/app/machines/views/MachineList/MachineList.scss
  ui/src/app/machines/views/MachineList/MachineList.test.js
  ui/src/app/machines/views/MachineList/NameColumn/NameColumn.js
  ui/src/app/machines/views/MachineList/NameColumn/__snapshots__/NameColumn.test.js.snap
  ui/src/scss/_vanilla-overrides.scss
Labels: Review: Code +1, Review: QA +1

#752 LP: #1861952 - Allow special characters in usernames and passwords.
  ui/src/app/base/sagas/http.js
Labels: Review: Code +1, Review: QA +1

#750 Add menu to change zones
  ui/src/app/base/actions/machine/machine.js
  ui/src/app/base/actions/machine/machine.test.js
  ui/src/app/machines/views/MachineList/MachineList.test.js
  ui/src/app/machines/views/MachineList/ZoneColumn/ZoneColumn.js
  ui/src/app/machines/views/MachineList/ZoneColumn/ZoneColumn.test.js
  ui/src/app/machines/views/MachineList/ZoneColumn/__snapshots__/ZoneColumn.test.js.snap
  ui/src/app/machines/views/Machines.test.js
Labels: Review: Code +1, Review: QA +1

#749 Clear Redux state on log out.
  ui/src/__snapshots__/root-reducer.test.js.snap
  ui/src/app/base/reducers/auth/auth.js
  ui/src/root-reducer.js
  ui/src/root-reducer.test.js
Labels: Review: Code +1, Review: QA +1

#754 Update RELEASE.md
  RELEASE.md
Labels: Review: Code +1

#755 Add checkbox for selecting/unselecting all machines in list.
  ui/src/app/machines/views/MachineList/MachineList.js
  ui/src/app/machines/views/MachineList/MachineList.test.js
Labels: Review: Code +1, Review: QA +1

#760 Redirect to react login form when logging out of angular pages.
  legacy/src/app/entry.js
Labels: Review: Code +1, Review: QA +1

#764 Add pool form.
  ui/src/app/base/actions/resourcepool/resourcepool.js
  ui/src/app/base/actions/resourcepool/resourcepool.test.js
  ui/src/app/base/reducers/resourcepool/resourcepool.js
  ui/src/app/base/reducers/resourcepool/resourcepool.test.js
  ui/src/app/machines/components/Routes/Routes.js
  ui/src/app/machines/views/Machines.js
  ui/src/app/pools/views/PoolAdd/PoolAdd.js
  ui/src/app/pools/views/PoolAdd/PoolAdd.test.js
  ui/src/app/pools/views/PoolAdd/index.js
  ui/src/app/pools/views/PoolForm/PoolForm.js
  ui/src/app/pools/views/PoolForm/PoolForm.test.js
  ui/src/app/pools/views/PoolForm/index.js
Labels: Review: Code +1 (with changes), Review: QA +1

#765 Upgrade react-scripts to 3.3.1
  proxy/package.json
  yarn.lock
Labels: Maintenance 🔨, Review: QA +1

#761 Build 'Add hardware' dropdown.
  ui/src/app/App.js
  ui/src/app/base/components/ContextualMenu/ContextualMenu.js
  ui/src/app/base/components/ContextualMenu/__snapshots__/ContextualMenu.test.js.snap
  ui/src/app/base/components/FormCard/FormCard.js
  ui/src/app/base/components/FormCard/FormCard.test.js
  ui/src/app/base/components/TableMenu/TableMenu.js
  ui/src/app/base/components/TableMenu/TableMenu.scss
  ui/src/app/base/components/TableMenu/__snapshots__/TableMenu.test.js.snap
  ui/src/app/machines/components/HeaderStrip/HeaderStrip.js
  ui/src/app/machines/components/HeaderStrip/HeaderStrip.test.js
  ui/src/app/machines/components/HeaderStrip/index.js
  ui/src/app/machines/components/Routes/Routes.js
  ui/src/app/machines/views/AddChassis/AddChassis.js
  ui/src/app/machines/views/AddChassis/AddChassis.test.js
  ui/src/app/machines/views/AddChassis/__snapshots__/AddChassis.test.js.snap
  ui/src/app/machines/views/AddChassis/index.js
  ui/src/app/machines/views/AddMachine/AddMachine.js
  ui/src/app/machines/views/AddMachine/AddMachine.test.js
  ui/src/app/machines/views/AddMachine/__snapshots__/AddMachine.test.js.snap
  ui/src/app/machines/views/AddMachine/index.js
  ui/src/app/machines/views/MachineList/OwnerColumn/__snapshots__/OwnerColumn.test.js.snap
  ui/src/app/machines/views/MachineList/PoolColumn/__snapshots__/PoolColumn.test.js.snap
  ui/src/app/machines/views/MachineList/ZoneColumn/__snapshots__/ZoneColumn.test.js.snap
  ui/src/app/machines/views/Machines.js
  ui/src/app/machines/views/Machines.test.js
  ui/src/app/pools/views/PoolForm/PoolForm.js
  ui/src/app/pools/views/PoolForm/PoolForm.test.js
  ui/src/scss/base.scss
Labels: Review: Code +1, Review: QA +1

#771 Refactor table actions into TableActions component.
  ui/src/app/base/components/TableActions/TableActions.js
  ui/src/app/base/components/TableActions/TableActions.test.js
  ui/src/app/base/components/TableActions/index.js
  ui/src/app/base/components/TableDeleteConfirm/TableDeleteConfirm.js
  ui/src/app/pools/views/Pools.js
  ui/src/app/preferences/views/APIKeys/APIKeyList/APIKeyList.js
  ui/src/app/preferences/views/SSLKeys/SSLKeyList/SSLKeyList.js
  ui/src/app/settings/views/Dhcp/DhcpList/DhcpList.js
  ui/src/app/settings/views/LicenseKeys/LicenseKeyList/LicenseKeyList.js
  ui/src/app/settings/views/Repositories/RepositoriesList/RepositoriesList.js
  ui/src/app/settings/views/Scripts/ScriptsList.js
  ui/src/app/settings/views/Users/UsersList/UsersList.js
  ui/src/app/settings/views/Users/UsersList/UsersList.scss
Labels: Review: Code +1, Review: QA +1

#773 Edit resource pools.
  ui/src/app/base/actions/resourcepool/resourcepool.js
  ui/src/app/base/actions/resourcepool/resourcepool.test.js
  ui/src/app/base/reducers/resourcepool/resourcepool.js
  ui/src/app/base/reducers/resourcepool/resourcepool.test.js
  ui/src/app/base/selectors/resourcepool/resourcepool.js
  ui/src/app/base/selectors/resourcepool/resourcepool.test.js
  ui/src/app/machines/components/Routes/Routes.js
  ui/src/app/pools/views/PoolEdit/PoolEdit.js
  ui/src/app/pools/views/PoolEdit/index.js
  ui/src/app/pools/views/PoolForm/PoolForm.js
  ui/src/app/pools/views/PoolForm/PoolForm.test.js
Labels: Review: Code +1, Review: QA +1

#776 Set up actions and state necessary for add machine form.
  ui/src/__snapshots__/root-reducer.test.js.snap
  ui/src/app/base/actions/domain/domain.js
  ui/src/app/base/actions/domain/domain.test.js
  ui/src/app/base/actions/domain/index.js
  ui/src/app/base/actions/index.js
  ui/src/app/base/actions/machine/machine.js
  ui/src/app/base/actions/machine/machine.test.js
  ui/src/app/base/reducers/domain/domain.js
  ui/src/app/base/reducers/domain/domain.test.js
  ui/src/app/base/reducers/domain/index.js
  ui/src/app/base/reducers/index.js
  ui/src/app/base/reducers/machine/machine.js
  ui/src/app/base/reducers/machine/machine.test.js
  ui/src/app/base/selectors/domain/domain.js
  ui/src/app/base/selectors/domain/domain.test.js
  ui/src/app/base/selectors/domain/index.js
  ui/src/app/base/selectors/index.js
  ui/src/app/base/selectors/machine/machine.js
  ui/src/app/base/selectors/machine/machine.test.js
  ui/src/app/machines/views/AddMachine/AddMachine.js
  ui/src/app/machines/views/AddMachine/AddMachine.test.js
  ui/src/app/machines/views/AddMachine/__snapshots__/AddMachine.test.js.snap
  ui/src/app/machines/views/Machines.test.js
  ui/src/root-reducer.js
Labels: Review: Code +1, Review: QA +1

#784 Update release document and bump maas-ui to 1.0.0.
  RELEASE.md
  package.json
  ui/package.json
Labels: Review: Code +1

#782 Initial redux-toolkit spike, refactoring actions.
  ui/package.json
  ui/src/app/base/actions/controller/controller.js
  ui/src/app/base/actions/device/device.js
  ui/src/app/base/actions/dhcpsnippet/dhcpsnippet.js
  ui/src/app/base/actions/dhcpsnippet/dhcpsnippet.test.js
  ui/src/app/base/actions/machine/machine.js
  ui/src/app/base/actions/packagerepository/packagerepository.js
  ui/src/app/base/actions/resourcepool/resourcepool.js
  ui/src/app/base/actions/service/service.js
  ui/src/app/base/actions/subnet/subnet.js
  ui/src/app/base/actions/user/user.js
  ui/src/app/base/actions/zone/zone.js
  ui/src/app/base/selectors/general/osInfo.js
  ui/src/app/settings/selectors/config/config.js
  ui/src/app/utils/redux.js
  ui/src/app/utils/redux.test.js
  yarn.lock
Labels: Review: Code +1, Review: QA +1

#790 Simplify store configuration with redux-toolkit.
  ui/src/index.js
Labels: Enhancement ✨, Review: Code +1, Review: QA +1

#791 Add machine list owner actions
  ui/src/app/base/actions/machine/machine.js
  ui/src/app/base/actions/machine/machine.test.js
  ui/src/app/base/reducers/machine/machine.js
  ui/src/app/machines/views/MachineList/OwnerColumn/OwnerColumn.js
  ui/src/app/machines/views/MachineList/OwnerColumn/OwnerColumn.test.js
  ui/src/app/machines/views/MachineList/OwnerColumn/__snapshots__/OwnerColumn.test.js.snap
Labels: Review: Code +1, Review: QA +1

#797 Migrate some reducers to createReducer.
  ui/src/__snapshots__/root-reducer.test.js.snap
  ui/src/app/base/actions/domain/domain.js
  ui/src/app/base/actions/messages/messages.js
  ui/src/app/base/actions/messages/messages.test.js
  ui/src/app/base/actions/status/status.js
  ui/src/app/base/actions/status/status.test.js
  ui/src/app/base/actions/tag/tag.js
  ui/src/app/base/actions/websocket/websocket.js
  ui/src/app/base/reducers/controller/controller.js
  ui/src/app/base/reducers/controller/controller.test.js
  ui/src/app/base/reducers/device/device.js
  ui/src/app/base/reducers/device/device.test.js
  ui/src/app/base/reducers/dhcpsnippet/dhcpsnippet.js
  ui/src/app/base/reducers/domain/domain.js
  ui/src/app/base/reducers/domain/domain.test.js
  ui/src/app/base/reducers/messages/messages.js
  ui/src/app/base/reducers/resourcepool/resourcepool.js
  ui/src/app/base/reducers/service/service.js
  ui/src/app/base/reducers/service/service.test.js
  ui/src/app/base/reducers/status/status.js
  ui/src/app/base/reducers/subnet/subnet.js
  ui/src/app/base/reducers/subnet/subnet.test.js
  ui/src/app/base/reducers/tag/tag.js
  ui/src/app/base/reducers/tag/tag.test.js
  ui/src/app/base/reducers/user/user.js
  ui/src/app/base/reducers/user/user.test.js
  ui/src/app/base/reducers/zone/zone.js
  ui/src/app/base/reducers/zone/zone.test.js
  ui/src/app/utils/redux.js
  ui/src/app/utils/redux.test.js
Labels: Review: Code +1, Review: QA +1

#802 Display action menu in machine list.
  ui/src/app/base/components/ContextualMenu/ContextualMenu.js
  ui/src/app/base/components/ContextualMenu/ContextualMenu.test.js
  ui/src/app/machines/components/HeaderStrip/HeaderStrip.js
  ui/src/app/machines/components/HeaderStrip/HeaderStrip.test.js
  ui/src/app/machines/components/Routes/Routes.js
  ui/src/app/machines/components/Routes/index.js
  ui/src/app/machines/views/MachineList/MachineList.js
  ui/src/app/machines/views/MachineList/MachineList.test.js
  ui/src/app/machines/views/Machines.js
  ui/src/app/machines/views/Machines.test.js
  ui/src/scss/base.scss
Labels: Review: Code +1, Review: QA +1

#806 Fetch notifications
  ui/src/__snapshots__/root-reducer.test.js.snap
  ui/src/app/base/actions/index.js
  ui/src/app/base/actions/notification/index.js
  ui/src/app/base/actions/notification/notification.js
  ui/src/app/base/actions/notification/notification.test.js
  ui/src/app/base/components/NotificationList/NotificationList.js
  ui/src/app/base/components/NotificationList/NotificationList.test.js
  ui/src/app/base/reducers/index.js
  ui/src/app/base/reducers/notification/index.js
  ui/src/app/base/reducers/notification/notification.js
  ui/src/app/utils/redux.js
  ui/src/root-reducer.js
Labels: Review: Code +1, Review: QA +1

#787 Build add machine form.
  ui/src/app/machines/views/AddMachine/AddMachine.js
  ui/src/app/machines/views/AddMachine/AddMachine.test.js
  ui/src/app/machines/views/AddMachine/AddMachineForm/AddMachineForm.js
  ui/src/app/machines/views/AddMachine/AddMachineForm/AddMachineForm.test.js
  ui/src/app/machines/views/AddMachine/AddMachineForm/index.js
  ui/src/app/machines/views/AddMachine/AddMachineFormFields/AddMachineFormFields.js
  ui/src/app/machines/views/AddMachine/AddMachineFormFields/AddMachineFormFields.test.js
  ui/src/app/machines/views/AddMachine/AddMachineFormFields/index.js
  ui/src/app/machines/views/AddMachine/index.js
  ui/src/app/machines/views/Machines.js
  ui/src/app/machines/views/Machines.test.js
Labels: Review: Code +1, Review: Design +1, Review: QA +1

#823 Remove buggy duplicated button>
  legacy/src/app/partials/node-details.html
Labels: Review: Code +1

#820 Correct positioning of the action menus
  ui/src/app/base/components/ContextualMenu/ContextualMenu.js
  ui/src/app/base/components/DoubleRow/DoubleRow.js
  ui/src/app/base/components/TableMenu/TableMenu.js
  ui/src/app/base/components/TableMenu/TableMenu.scss
  ui/src/app/base/components/TableMenu/__snapshots__/TableMenu.test.js.snap
  ui/src/app/machines/views/MachineList/OwnerColumn/__snapshots__/OwnerColumn.test.js.snap
  ui/src/app/machines/views/MachineList/PoolColumn/__snapshots__/PoolColumn.test.js.snap
  ui/src/app/machines/views/MachineList/PowerColumn/PowerColumn.js
  ui/src/app/machines/views/MachineList/PowerColumn/__snapshots__/PowerColumn.test.js.snap
  ui/src/app/machines/views/MachineList/StatusColumn/__snapshots__/StatusColumn.test.js.snap
  ui/src/app/machines/views/MachineList/ZoneColumn/__snapshots__/ZoneColumn.test.js.snap
Labels: Review: Code +1, Review: Design +1, Review: QA +1

#821 Add support for serverside notifications in UI.
  ui/src/app/App.test.js
  ui/src/app/base/actions/notification/notification.js
  ui/src/app/base/components/NotificationGroup/NotificationGroup.js
  ui/src/app/base/components/NotificationGroup/NotificationGroup.test.js
  ui/src/app/base/components/NotificationGroup/__snapshots__/NotificationGroup.test.js.snap
  ui/src/app/base/components/NotificationGroup/index.js
  ui/src/app/base/components/NotificationGroupMessage/NotificationGroupMessage.js
  ui/src/app/base/components/NotificationGroupMessage/NotificationGroupMessage.test.js
  ui/src/app/base/components/NotificationGroupMessage/index.js
  ui/src/app/base/components/NotificationList/NotificationList.js
  ui/src/app/base/components/NotificationList/NotificationList.test.js
  ui/src/app/base/components/NotificationList/__snapshots__/NotificationList.test.js.snap
  ui/src/app/base/hooks.js
  ui/src/app/base/selectors/index.js
  ui/src/app/base/selectors/notification/index.js
  ui/src/app/base/selectors/notification/notification.js
  ui/src/app/base/selectors/notification/notification.test.js
  ui/src/app/base/views/NotFound/NotFound.test.js
  ui/src/app/machines/views/Machines.test.js
  ui/src/app/preferences/views/Preferences.test.js
  ui/src/app/settings/views/Settings.test.js
  ui/src/app/utils/capitaliseFirst.js
  ui/src/app/utils/capitaliseFirst.test.js
  ui/src/app/utils/index.js
  ui/src/scss/_patterns_notifications.scss
  ui/src/scss/base.scss
Labels: Review: Code +1, Review: QA +1

#815 Refactor HeaderStrip. Implement update selection functionality in machine list.
  ui/src/app/machines/components/HeaderStrip/ActionFormWrapper/ActionFormWrapper.js
  ui/src/app/machines/components/HeaderStrip/ActionFormWrapper/ActionFormWrapper.test.js
  ui/src/app/machines/components/HeaderStrip/ActionFormWrapper/index.js
  ui/src/app/machines/components/HeaderStrip/AddHardwareMenu/AddHardwareMenu.js
  ui/src/app/machines/components/HeaderStrip/AddHardwareMenu/AddHardwareMenu.test.js
  ui/src/app/machines/components/HeaderStrip/AddHardwareMenu/index.js
  ui/src/app/machines/components/HeaderStrip/HeaderStrip.js
  ui/src/app/machines/components/HeaderStrip/HeaderStrip.test.js
  ui/src/app/machines/components/HeaderStrip/HeaderStripTabs/HeaderStripTabs.js
  ui/src/app/machines/components/HeaderStrip/HeaderStripTabs/HeaderStripTabs.test.js
  ui/src/app/machines/components/HeaderStrip/HeaderStripTabs/index.js
  ui/src/app/machines/components/HeaderStrip/TakeActionMenu/TakeActionMenu.js
  ui/src/app/machines/components/HeaderStrip/TakeActionMenu/TakeActionMenu.test.js
  ui/src/app/machines/components/HeaderStrip/TakeActionMenu/index.js
  ui/src/app/machines/views/Machines.js
Labels: Review: Code +1 (with changes), Review: Design +1, Review: QA +1

#808 Build add chassis form.
  ui/src/app/base/actions/machine/machine.js
  ui/src/app/base/hooks.js
  ui/src/app/base/reducers/machine/machine.js
  ui/src/app/base/sagas/http.js
  ui/src/app/base/sagas/http.test.js
  ui/src/app/base/sagas/index.js
  ui/src/app/machines/components/PowerTypeFields/PowerTypeFields.js
  ui/src/app/machines/components/PowerTypeFields/PowerTypeFields.test.js
  ui/src/app/machines/components/PowerTypeFields/index.js
  ui/src/app/machines/views/AddChassis/AddChassis.js
  ui/src/app/machines/views/AddChassis/AddChassis.test.js
  ui/src/app/machines/views/AddChassis/AddChassisForm/AddChassisForm.js
  ui/src/app/machines/views/AddChassis/AddChassisForm/AddChassisForm.test.js
  ui/src/app/machines/views/AddChassis/AddChassisForm/index.js
  ui/src/app/machines/views/AddChassis/AddChassisFormFields/AddChassisFormFields.js
  ui/src/app/machines/views/AddChassis/AddChassisFormFields/AddChassisFormFields.test.js
  ui/src/app/machines/views/AddChassis/AddChassisFormFields/index.js
  ui/src/app/machines/views/AddChassis/__snapshots__/AddChassis.test.js.snap
  ui/src/app/machines/views/AddChassis/chassisPowerTypes.js
  ui/src/app/machines/views/AddChassis/index.js
  ui/src/app/machines/views/AddMachine/AddMachineForm/AddMachineForm.js
  ui/src/app/machines/views/AddMachine/AddMachineFormFields/AddMachineFormFields.js
  ui/src/app/machines/views/AddMachine/AddMachineFormFields/AddMachineFormFields.test.js
  ui/src/app/machines/views/Machines.js
  ui/src/app/machines/views/Machines.test.js
  ui/src/app/utils/index.js
  ui/src/app/utils/trimPowerParameters.js
  ui/src/root-saga.js
Labels: Review: Code +1 (with changes), Review: QA +1

#829 Add extra macs fields to add machine form.
  ui/src/app/machines/views/AddMachine/AddMachineForm/AddMachineForm.js
  ui/src/app/machines/views/AddMachine/AddMachineForm/AddMachineForm.test.js
  ui/src/app/machines/views/AddMachine/AddMachineFormFields/AddMachineFormFields.js
  ui/src/app/machines/views/AddMachine/AddMachineFormFields/AddMachineFormFields.test.js
  ui/src/scss/_patterns_forms.scss
  ui/src/scss/base.scss
Labels: Review: Code +1 (with changes), Review: QA +1

#836 Update power state snapshot.
  ui/src/app/machines/views/MachineList/PowerColumn/__snapshots__/PowerColumn.test.js.snap
Labels: Maintenance 🔨, Review: Code +1

#832 Improve helptext for settings analytics checkbox.
  ui/src/app/settings/views/Configuration/GeneralForm/GeneralForm.js
Labels: Review: Code +1, Review: Design +1

#835 Upgrade to react-scripts 3.4.0
  proxy/index.js
  proxy/package.json
  ui/.env.development
  ui/package.json
  yarn.lock
Labels: Review: Code +1, Review: QA +1

#837 Add initial GH Actions test workflow.
  .github/workflows/test.yml
Labels: Review: Code +1

#838 Fix test.yml workflow.
  .github/workflows/test.yml
Labels: Review: Code +1

#840 Add status badge for CI workflow.
  README.md
Labels: Maintenance 🔨, Review: Code +1, Review: QA +1

#841 Run CI on PR.
  .github/workflows/test.yml
Labels: Review: Code +1

#788 Replace the run script with the dotrun snap
  .gitignore
  README.md
  package.json
  run
Labels: Review: Code +1

#847 Only run CI with node 12.
  .github/workflows/test.yml
Labels: Maintenance 🔨, Review: Code +1

#848 Reconfigure Renovate
  renovate.json
Labels: Review: Code +1

#834 Build "Save and add another" secondary submit in hardware forms.
  ui/src/app/base/components/FormCardButtons/FormCardButtons.js
  ui/src/app/base/components/FormCardButtons/FormCardButtons.test.js
  ui/src/app/base/components/FormCardButtons/__snapshots__/FormCardButtons.test.js.snap
  ui/src/app/base/components/FormikForm/FormikForm.js
  ui/src/app/base/components/FormikFormButtons/FormikFormButtons.js
  ui/src/app/base/components/FormikFormButtons/FormikFormButtons.test.js
  ui/src/app/base/components/FormikFormContent/FormikFormContent.js
  ui/src/app/machines/views/AddChassis/AddChassisForm/AddChassisForm.js
  ui/src/app/machines/views/AddMachine/AddMachineForm/AddMachineForm.js
Labels: Review: Code +1, Review: QA +1

#843 Remove leftover jQuery reference in add-chassis http request.
  legacy/src/app/controllers/add_hardware.js
  legacy/src/app/controllers/tests/test_add_hardware.js
Labels: Review: Code +1, Review: QA +1
