Repository canonical/maas-ui, pull requests merged in 2020-04, with the labels that each got.

#641 Set up real MAAS when running cypress in Circle CI.
  .circleci/config.yml
  proxy/cypress/integration/login/login.spec.js
Labels: Review: Code +1, Review: QA +1

#911 Handle server down errors
  ui/src/app/App.js
  ui/src/app/App.test.js
  ui/src/app/base/components/Login/Login.js
  ui/src/app/base/reducers/status/status.js
  ui/src/app/base/reducers/status/status.test.js
  ui/src/app/base/sagas/http.js
  ui/src/app/base/sagas/http.test.js
  ui/src/app/base/selectors/status/status.js
Labels: Review: Code +1, Review: QA +1

#921 Build deploy form in action menu dropdown.
  ui/src/app/base/actions/machine/machine.js
  ui/src/app/base/actions/machine/machine.test.js
  ui/src/app/base/components/FormikForm/FormikForm.js
  ui/src/app/base/components/FormikFormContent/FormikFormContent.js
  ui/src/app/base/hooks.js
  ui/src/app/machines/components/HeaderStrip/ActionFormWrapper/ActionFormWrapper.js
  ui/src/app/machines/components/HeaderStrip/ActionFormWrapper/DeployForm/DeployForm.js
  ui/src/app/machines/components/HeaderStrip/ActionFormWrapper/DeployForm/DeployForm.test.js
  ui/src/app/machines/components/HeaderStrip/ActionFormWrapper/DeployForm/DeployFormFields/DeployFormFields.js
  ui/src/app/machines/components/HeaderStrip/ActionFormWrapper/DeployForm/DeployFormFields/DeployFormFields.test.js
  ui/src/app/machines/components/HeaderStrip/ActionFormWrapper/DeployForm/DeployFormFields/index.js
  ui/src/app/machines/components/HeaderStrip/ActionFormWrapper/DeployForm/index.js
Labels: Review: Code +1 (with changes), Review: QA +1

#927 Uniquely identify machine rows
  ui/src/app/machines/views/MachineList/MachineList.js
Labels: Review: Code +1, Review: QA +1

#930 Log maas-ui version to console when app starts.
  ui/src/index.js
Labels: Enhancement ✨, Review: Code +1, Review: QA +1

#931 Add empty prettierrc to ensure IDE extensions use the defaults.
  ui/.prettierrc
Labels: Review: Code +1

#891 Build set pool form in action menu.
  ui/src/app/machines/components/HeaderStrip/ActionFormWrapper/ActionFormWrapper.js
  ui/src/app/machines/components/HeaderStrip/ActionFormWrapper/SetPoolForm/SetPoolForm.js
  ui/src/app/machines/components/HeaderStrip/ActionFormWrapper/SetPoolForm/SetPoolForm.test.js
  ui/src/app/machines/components/HeaderStrip/ActionFormWrapper/SetPoolForm/SetPoolFormFields/SetPoolFormFields.js
  ui/src/app/machines/components/HeaderStrip/ActionFormWrapper/SetPoolForm/SetPoolFormFields/SetPoolFormFields.test.js
  ui/src/app/machines/components/HeaderStrip/ActionFormWrapper/SetPoolForm/SetPoolFormFields/index.js
  ui/src/app/machines/components/HeaderStrip/ActionFormWrapper/SetPoolForm/index.js
Labels: Review: Code +1, Review: QA +1

#929 Fix legacy deploy form styling.
  legacy/src/app/controllers/nodes_list.js
  legacy/src/app/partials/nodes-list.html
  ui/src/app/machines/components/HeaderStrip/ActionFormWrapper/DeployForm/DeployFormFields/DeployFormFields.js
Labels: Review: Code +1, Review: QA +1

#934 Persist filter menu state
  package.json
  ui/package.json
  ui/src/app/machines/views/MachineList/FilterAccordion/FilterAccordion.js
  ui/src/app/machines/views/MachineList/FilterAccordion/__snapshots__/FilterAccordion.test.js.snap
  yarn.lock
Labels: Review: Code +1 (with changes), Review: QA +1

#932 Build tag form and tag selector components.
  ui/src/app/base/actions/machine/machine.js
  ui/src/app/base/actions/machine/machine.test.js
  ui/src/app/base/components/TagSelector/TagSelector.js
  ui/src/app/base/components/TagSelector/TagSelector.test.js
  ui/src/app/base/components/TagSelector/__snapshots__/TagSelector.test.js.snap
  ui/src/app/base/components/TagSelector/_index.scss
  ui/src/app/base/components/TagSelector/index.js
  ui/src/app/base/reducers/machine/machine.js
  ui/src/app/machines/components/HeaderStrip/ActionFormWrapper/ActionFormWrapper.js
  ui/src/app/machines/components/HeaderStrip/ActionFormWrapper/TagForm/TagForm.js
  ui/src/app/machines/components/HeaderStrip/ActionFormWrapper/TagForm/TagForm.test.js
  ui/src/app/machines/components/HeaderStrip/ActionFormWrapper/TagForm/TagFormFields/TagFormFields.js
  ui/src/app/machines/components/HeaderStrip/ActionFormWrapper/TagForm/TagFormFields/TagFormFields.test.js
  ui/src/app/machines/components/HeaderStrip/ActionFormWrapper/TagForm/TagFormFields/index.js
  ui/src/app/machines/components/HeaderStrip/ActionFormWrapper/TagForm/index.js
  ui/src/scss/index.scss
Labels: Review: Code +1 (with changes), Review: QA +1

#937 Fix recursive header rendering.
  legacy/src/app/entry.js
Labels: Review: Code +1, Review: QA +1

#938 Don't install the Cypress binary for GitHub actions CI
  .github/workflows/test.yml
Labels: Review: Code +1

#940 Disable thunk middleware
  ui/src/index.js
Labels: Review: Code +1, Review: QA +1

#941 Only setup routeChangeSuccess handler once.
  legacy/src/app/entry.js
Labels: Backport, Bug 🐛, Priority: Critical

#936 Fix the last machine row cutting off the content
  ui/src/app/machines/views/MachineList/_index.scss
Labels: Review: Code +1, Review: Design +1, Review: QA +1

#944 Build test form in action menu dropdown.
  ui/src/app/base/actions/machine/machine.js
  ui/src/app/base/actions/machine/machine.test.js
  ui/src/app/base/components/TagSelector/TagSelector.js
  ui/src/app/base/components/TagSelector/TagSelector.test.js
  ui/src/app/base/components/TagSelector/__snapshots__/TagSelector.test.js.snap
  ui/src/app/base/components/TagSelector/_index.scss
  ui/src/app/base/selectors/scripts/scripts.js
  ui/src/app/base/selectors/scripts/scripts.test.js
  ui/src/app/machines/components/HeaderStrip/ActionFormWrapper/ActionFormWrapper.js
  ui/src/app/machines/components/HeaderStrip/ActionFormWrapper/TagForm/TagForm.js
  ui/src/app/machines/components/HeaderStrip/ActionFormWrapper/TagForm/TagForm.test.js
  ui/src/app/machines/components/HeaderStrip/ActionFormWrapper/TagForm/TagFormFields/TagFormFields.js
  ui/src/app/machines/components/HeaderStrip/ActionFormWrapper/TestForm/TestForm.js
  ui/src/app/machines/components/HeaderStrip/ActionFormWrapper/TestForm/TestForm.test.js
  ui/src/app/machines/components/HeaderStrip/ActionFormWrapper/TestForm/TestFormFields/TestFormFields.js
  ui/src/app/machines/components/HeaderStrip/ActionFormWrapper/TestForm/TestFormFields/TestFormFields.test.js
  ui/src/app/machines/components/HeaderStrip/ActionFormWrapper/TestForm/TestFormFields/index.js
  ui/src/app/machines/components/HeaderStrip/ActionFormWrapper/TestForm/index.js
Labels: Review: Code +1, Review: QA +1

#947 Add distinct production and development config.
  legacy/package.json
  legacy/src/app/entry.js
  legacy/webpack.common.js
  legacy/webpack.dev.js
  legacy/webpack.prod.js
Labels: Review: Code +1, Review: QA +1

#953 Replace produce from immer with createNextState from redux-toolkit.
  ui/package.json
  ui/src/app/base/reducers/auth/auth.js
  ui/src/app/base/reducers/general/general.js
  ui/src/app/base/reducers/licensekeys/licensekeys.js
  ui/src/app/base/reducers/machine/machine.js
  ui/src/app/base/reducers/packagerepository/packagerepository.js
  ui/src/app/base/reducers/scripts/scripts.js
  ui/src/app/preferences/reducers/sshkey/sshkey.js
  ui/src/app/preferences/reducers/sslkey/sslkey.js
  ui/src/app/preferences/reducers/token/token.js
  ui/src/app/settings/reducers/config/config.js
  yarn.lock
Labels: Review: Code +1

#948 Manage the list of loaded models in the saga module
  ui/src/app/App.js
  ui/src/app/base/actions/status/status.js
  ui/src/app/base/sagas/websockets.js
  ui/src/app/base/sagas/websockets.test.js
  ui/src/app/machines/views/MachineList/MachineList.js
Labels: Review: Code +1, Review: QA +1

#951 Disable/enable Take Action and Add KVM buttons based on machine selection.
  legacy/src/app/directives/call_to_action.js
  legacy/src/app/partials/directives/cta.html
  legacy/src/app/partials/pods-list.html
Labels: Review: Code +1, Review: Design +1, Review: QA +1

#957 Add git hash to ui version string.
  ui/package.json
  ui/src/index.js
Labels: Enhancement ✨, Review: Code +1, Review: QA +1

#959 Use nanoid from Redux Toolkit
  ui/package.json
  ui/src/app/base/components/ContextualMenu/ContextualMenu.js
  ui/src/app/base/components/FormikField/FormikField.js
  ui/src/setupTests.js
  yarn.lock
Labels: Review: Code +1

#960 Disable Add hardware toggle when machines are selected.
  ui/src/app/machines/components/HeaderStrip/AddHardwareMenu/AddHardwareMenu.js
  ui/src/app/machines/components/HeaderStrip/AddHardwareMenu/AddHardwareMenu.test.js
  ui/src/app/machines/components/HeaderStrip/HeaderStrip.js
  ui/src/app/machines/components/HeaderStrip/HeaderStrip.test.js
Labels: Enhancement ✨, Review: Code +1, Review: QA +1

#962 Fix inconsistent header strip sizes in angular pages.
  legacy/src/app/partials/directives/error_overlay.html
  legacy/src/app/partials/domain-details.html
  legacy/src/app/partials/domains-list.html
  legacy/src/app/partials/fabric-details.html
  legacy/src/app/partials/networks-list.html
  legacy/src/app/partials/node-details.html
  legacy/src/app/partials/nodes-list.html
  legacy/src/app/partials/pod-details.html
  legacy/src/app/partials/space-details.html
  legacy/src/app/partials/zones-list.html
Labels: Review: Code +1, Review: QA +1

#963 Fix form validation when adding machine with multiple MACs.
  legacy/src/app/partials/nodelist/add-machine.html
Labels: Review: Code +1 (with changes), Review: QA +1

#968 Update pod details page to new design.
  legacy/src/app/controllers/pod_details.js
  legacy/src/app/partials/pod-details.html
Labels: Review: Code +1, Review: QA +1

#966 Point all machine listing routes to the react machine listing.
  legacy/src/app/controllers/tests/test_node_details.js
  legacy/src/app/partials/cards/tags.html
  legacy/src/app/partials/node-details.html
  legacy/src/app/partials/nodedetails/storage/disks-partitions.html
  legacy/src/app/partials/nodes-list.html
  legacy/src/app/partials/zone-details.html
  legacy/src/app/partials/zones-list.html
  legacy/src/app/routes.js
  shared/src/components/Header/Header.js
  shared/src/components/Header/Header.test.js
  shared/src/components/Header/__snapshots__/Header.test.js.snap
  ui/src/app/Routes.js
Labels: Review: Code +1, Review: QA +1

#979 Ask for maas-ui version on issue template.
  .github/ISSUE_TEMPLATE/bug_report.md
Labels: Review: Code +1

#976 Add links for pool, fabric and zone in machine list rows.
  ui/src/app/machines/views/MachineList/FabricColumn/FabricColumn.js
  ui/src/app/machines/views/MachineList/FabricColumn/__snapshots__/FabricColumn.test.js.snap
  ui/src/app/machines/views/MachineList/PoolColumn/PoolColumn.js
  ui/src/app/machines/views/MachineList/PoolColumn/__snapshots__/PoolColumn.test.js.snap
  ui/src/app/machines/views/MachineList/ZoneColumn/ZoneColumn.js
  ui/src/app/machines/views/MachineList/ZoneColumn/__snapshots__/ZoneColumn.test.js.snap
  ui/src/app/utils/generateLegacyURL.js
  ui/src/app/utils/index.js
Labels: Review: Code +1, Review: QA +1

#975 Prevent user from deleting pools that contain machines.
  ui/src/app/machines/views/MachineList/MachineList.js
  ui/src/app/pools/views/Pools.js
  ui/src/app/pools/views/Pools.test.js
  ui/src/app/utils/formatErrors.js
  ui/src/app/utils/formatErrors.test.js
  ui/src/app/utils/index.js
Labels: Review: Code +1 (with changes), Review: QA +1

#955 Update machine details page with VM/KVM data.
  legacy/src/app/controllers/node_details.js
  legacy/src/app/controllers/tests/test_node_details.js
  legacy/src/app/factories/nodes.js
  legacy/src/app/factories/tests/test_nodes.js
  legacy/src/app/partials/cards/machine-overview.html
  legacy/src/scss/grids/_patterns_machine-overview.scss
Labels: Review: Code +1, Review: QA +1

#980 Add commissioning form.
  ui/src/app/base/actions/machine/machine.js
  ui/src/app/base/actions/machine/machine.test.js
  ui/src/app/machines/components/HeaderStrip/ActionFormWrapper/ActionFormWrapper.js
  ui/src/app/machines/components/HeaderStrip/ActionFormWrapper/CommissionForm/CommissionForm.js
  ui/src/app/machines/components/HeaderStrip/ActionFormWrapper/CommissionForm/CommissionForm.test.js
  ui/src/app/machines/components/HeaderStrip/ActionFormWrapper/CommissionForm/CommissionFormFields/CommissionFormFields.js
  ui/src/app/machines/components/HeaderStrip/ActionFormWrapper/CommissionForm/CommissionFormFields/index.js
  ui/src/app/machines/components/HeaderStrip/ActionFormWrapper/CommissionForm/index.js
Labels: Review: Code +1, Review: QA +1

#983 Add warning to login page if no users detected.
  .circleci/config.yml
  ui/src/app/base/components/Login/Login.js
  ui/src/app/base/components/Login/Login.test.js
  ui/src/app/base/reducers/status/status.js
  ui/src/app/base/reducers/status/status.test.js
  ui/src/app/base/selectors/status/status.js
  ui/src/app/base/selectors/status/status.test.js
Labels: Review: Code +1, Review: QA +1, Review: UX +1

#988 Revert jquery to 3.4.1
  legacy/package.json
  legacy/src/app/partials/node-details.html
  legacy/src/app/partials/nodes-list.html
  yarn.lock
Labels: Review: Code +1, Review: QA +1

#986 Add guards to node details networking functions.
  legacy/src/app/controllers/node_details_networking.js
  legacy/src/app/partials/node-details.html
Labels: Review: Code +1, Review: QA +1

#994 Exclude jquery from renovate grouping.
  renovate.json
Labels: Review: Code +1

#981 Fix NUMA card styling errors.
  legacy/src/app/controllers/node_details.js
  legacy/src/app/controllers/tests/test_node_details.js
  legacy/src/app/filters/format_bytes.js
  legacy/src/app/filters/tests/test_format_bytes.js
  legacy/src/app/partials/cards/numa.html
  legacy/src/scss/_patterns_numa.scss
Labels: Review: Code +1, Review: QA +1

#993 Remove redundant loader on machine listing.
  ui/src/app/machines/views/MachineList/MachineList.js
Labels: Review: Code +1, Review: QA +1

#997 Fix lock icon background-image to be a padlock.
  ui/src/scss/_patterns_icons.scss
Labels: Review: Code +1 (with changes), Review: QA +1

#999 Fix invalid interpolated version string for usabilla.
  shared/src/components/Footer/Footer.js
Labels: Review: Code +1

#956 Add power state and owner count to pod list.
  legacy/src/app/controllers/pod_details.js
  legacy/src/app/controllers/pods_list.js
  legacy/src/app/controllers/tests/test_pods_list.js
  legacy/src/app/partials/pod-details/kvm-storage-dropdown.html
  legacy/src/app/partials/pods-list.html
  legacy/src/scss/_patterns_cores-chart.scss
  legacy/src/scss/_patterns_icons.scss
  legacy/src/scss/tables/_patterns_table-machines.scss
  legacy/src/scss/tables/_patterns_table-pods.scss
Labels: Review: Code +1, Review: QA +1

#1011 Action menu progress
  ui/src/__snapshots__/root-reducer.test.js.snap
  ui/src/app/base/reducers/machine/machine.js
  ui/src/app/base/reducers/machine/machine.test.js
  ui/src/app/base/sagas/websockets.js
  ui/src/app/base/sagas/websockets.test.js
  ui/src/app/base/selectors/general/machineActions.js
  ui/src/app/base/selectors/general/machineActions.test.js
  ui/src/app/base/selectors/machine/machine.js
  ui/src/app/base/selectors/machine/machine.test.js
  ui/src/app/machines/components/HeaderStrip/ActionFormWrapper/MachinesProcessing/MachinesProcessing.js
  ui/src/app/machines/components/HeaderStrip/ActionFormWrapper/MachinesProcessing/MachinesProcessing.test.js
  ui/src/app/machines/components/HeaderStrip/ActionFormWrapper/MachinesProcessing/__snapshots__/MachinesProcessing.test.js.snap
  ui/src/app/machines/components/HeaderStrip/ActionFormWrapper/MachinesProcessing/index.js
  ui/src/app/machines/components/HeaderStrip/ActionFormWrapper/SetPoolForm/SetPoolForm.js
  ui/src/app/machines/components/HeaderStrip/ActionFormWrapper/SetPoolForm/SetPoolForm.test.js
  ui/src/app/machines/components/HeaderStrip/ActionFormWrapper/SetPoolForm/SetPoolFormFields/SetPoolFormFields.test.js
  ui/src/websocket-client.js
Labels: Review: Code +1, Review: QA +1

#1016 Take action statuses
  ui/src/app/base/reducers/machine/machine.js
  ui/src/app/base/reducers/machine/machine.test.js
  ui/src/app/base/selectors/general/machineActions.js
  ui/src/app/base/selectors/machine/machine.js
  ui/src/app/base/selectors/machine/machine.test.js
  ui/src/app/machines/components/HeaderStrip/ActionFormWrapper/ActionForm/ActionForm.js
  ui/src/app/machines/components/HeaderStrip/ActionFormWrapper/ActionForm/ActionForm.test.js
  ui/src/app/machines/components/HeaderStrip/ActionFormWrapper/ActionForm/__snapshots__/ActionForm.test.js.snap
  ui/src/app/machines/components/HeaderStrip/ActionFormWrapper/CommissionForm/CommissionForm.js
  ui/src/app/machines/components/HeaderStrip/ActionFormWrapper/CommissionForm/CommissionForm.test.js
  ui/src/app/machines/components/HeaderStrip/ActionFormWrapper/DeployForm/DeployForm.js
  ui/src/app/machines/components/HeaderStrip/ActionFormWrapper/DeployForm/DeployForm.test.js
  ui/src/app/machines/components/HeaderStrip/ActionFormWrapper/DeployForm/DeployFormFields/DeployFormFields.test.js
  ui/src/app/machines/components/HeaderStrip/ActionFormWrapper/SetPoolForm/SetPoolForm.js
  ui/src/app/machines/components/HeaderStrip/ActionFormWrapper/SetPoolForm/SetPoolForm.test.js
  ui/src/app/machines/components/HeaderStrip/ActionFormWrapper/SetPoolForm/SetPoolFormFields/SetPoolFormFields.test.js
  ui/src/app/machines/components/HeaderStrip/ActionFormWrapper/SetZoneForm/SetZoneForm.js
  ui/src/app/machines/components/HeaderStrip/ActionFormWrapper/SetZoneForm/SetZoneForm.test.js
  ui/src/app/machines/components/HeaderStrip/ActionFormWrapper/TagForm/TagForm.js
  ui/src/app/machines/components/HeaderStrip/ActionFormWrapper/TagForm/TagForm.test.js
  ui/src/app/machines/components/HeaderStrip/ActionFormWrapper/TagForm/TagFormFields/TagFormFields.test.js
  ui/src/app/machines/components/HeaderStrip/ActionFormWrapper/TestForm/TestForm.js
  ui/src/app/machines/components/HeaderStrip/ActionFormWrapper/TestForm/TestForm.test.js
  ui/src/app/machines/components/HeaderStrip/ActionFormWrapper/TestForm/TestFormFields/TestFormFields.test.js
Labels: Review: Code +1, Review: QA +1

#1015 Add OverrideTestForm.
  ui/src/__snapshots__/root-reducer.test.js.snap
  ui/src/app/base/actions/machine/machine.js
  ui/src/app/base/actions/machine/machine.test.js
  ui/src/app/base/components/FormikForm/FormikForm.js
  ui/src/app/base/components/FormikFormContent/FormikFormContent.js
  ui/src/app/base/reducers/index.js
  ui/src/app/base/reducers/scriptresults/index.js
  ui/src/app/base/reducers/scriptresults/scriptresults.js
  ui/src/app/base/reducers/scriptresults/scriptresults.test.js
  ui/src/app/base/selectors/index.js
  ui/src/app/base/selectors/machine/machine.js
  ui/src/app/base/selectors/machine/machine.test.js
  ui/src/app/base/selectors/scriptresults/index.js
  ui/src/app/base/selectors/scriptresults/scriptresults.js
  ui/src/app/machines/components/HeaderStrip/ActionFormWrapper/ActionFormWrapper.js
  ui/src/app/machines/components/HeaderStrip/ActionFormWrapper/OverrideTestForm/OverrideTestForm.js
  ui/src/app/machines/components/HeaderStrip/ActionFormWrapper/OverrideTestForm/OverrideTestForm.test.js
  ui/src/app/machines/components/HeaderStrip/ActionFormWrapper/OverrideTestForm/index.js
  ui/src/root-reducer.js
Labels: Review: Code +1, Review: QA +1

#1009 Add deprecation notices to NotificationList.
  ui/src/__snapshots__/root-reducer.test.js.snap
  ui/src/app/App.test.js
  ui/src/app/base/actions/general/general.js
  ui/src/app/base/actions/general/general.test.js
  ui/src/app/base/components/DeprecationNotices/DeprecationNotices.js
  ui/src/app/base/components/DeprecationNotices/DeprecationNotices.test.js
  ui/src/app/base/components/DeprecationNotices/index.js
  ui/src/app/base/components/NotificationList/NotificationList.js
  ui/src/app/base/components/NotificationList/NotificationList.test.js
  ui/src/app/base/components/Section/Section.js
  ui/src/app/base/reducers/general/general.js
  ui/src/app/base/reducers/general/general.test.js
  ui/src/app/base/selectors/general/deprecationNotices.js
  ui/src/app/base/selectors/general/deprecationNotices.test.js
  ui/src/app/base/selectors/general/index.js
  ui/src/app/base/selectors/general/version.js
  ui/src/app/base/selectors/general/version.test.js
  ui/src/app/base/views/NotFound/NotFound.test.js
  ui/src/app/machines/views/Machines.js
  ui/src/app/machines/views/Machines.test.js
  ui/src/app/utils/index.js
  ui/src/app/utils/isVersionNewer.js
  ui/src/app/utils/isVersionNewer.test.js
Labels: Review: Code +1 (with changes), Review: QA +1, Review: UX +1

#1018 Fix props on FormCardButtons in ScriptsUpload.
  ui/src/app/settings/views/Scripts/ScriptsUpload/ScriptsUpload.js
Labels: Review: Code +1, Review: QA +1

#1023 Set pagination limit at 50 machines.
  ui/src/app/machines/views/MachineList/MachineListTable/MachineListTable.js
  ui/src/app/pools/views/Pools.js
Labels: Review: Code +1, Review: QA +1

#1029 Enable legacy machine listing route
  legacy/src/app/directives/machines_table.js
  legacy/src/app/routes.js
  ui/src/app/machines/views/MachineList/MachineListTable/MachineListTable.js
Labels: Review: Code +1, Review: QA +1

#1026 Fix machine list checkbox behaviour.
  ui/src/app/machines/components/HeaderStrip/ActionFormWrapper/ActionFormWrapper.js
  ui/src/app/machines/views/MachineList/MachineListTable/FabricColumn/FabricColumn.js
  ui/src/app/machines/views/MachineList/MachineListTable/FabricColumn/__snapshots__/FabricColumn.test.js.snap
  ui/src/app/machines/views/MachineList/MachineListTable/MachineListTable.js
  ui/src/app/machines/views/MachineList/MachineListTable/MachineListTable.test.js
  ui/src/app/machines/views/MachineList/MachineListTable/NameColumn/NameColumn.js
  ui/src/app/machines/views/MachineList/MachineListTable/NameColumn/NameColumn.test.js
  ui/src/app/machines/views/MachineList/MachineListTable/NameColumn/__snapshots__/NameColumn.test.js.snap
  ui/src/app/machines/views/MachineList/MachineListTable/PoolColumn/PoolColumn.js
  ui/src/app/machines/views/MachineList/MachineListTable/PoolColumn/PoolColumn.test.js
  ui/src/app/machines/views/MachineList/MachineListTable/ZoneColumn/ZoneColumn.js
  ui/src/app/machines/views/MachineList/MachineListTable/ZoneColumn/ZoneColumn.test.js
  ui/src/scss/_patterns_buttons.scss
Labels: Review: Code +1, Review: QA +1

#1033 Add indentation to grouped machine borders.
  ui/src/app/machines/views/MachineList/_index.scss
Labels: Review: Code +1, Review: QA +1

#1032 Fix filter accordion URL update regression.
  ui/src/app/machines/views/MachineList/MachineListControls/MachineListControls.js
  ui/src/app/machines/views/MachineList/MachineListControls/MachineListControls.test.js
Labels: Review: Code +1, Review: QA +1

#1040 Determine chassis power types from api.
  ui/src/app/base/selectors/general/powerTypes.js
  ui/src/app/base/selectors/general/powerTypes.test.js
  ui/src/app/machines/views/AddChassis/AddChassisForm/AddChassisForm.js
  ui/src/app/machines/views/AddChassis/AddChassisForm/AddChassisForm.test.js
  ui/src/app/machines/views/AddChassis/AddChassisFormFields/AddChassisFormFields.test.js
  ui/src/app/machines/views/AddChassis/chassisPowerTypes.js
Labels: Review: Code +1 (with changes), Review: QA +1

#1047 Memoise MachineListTable
  ui/src/app/machines/views/MachineList/MachineList.test.js
  ui/src/app/machines/views/MachineList/MachineListTable/MachineListTable.js
  ui/src/app/machines/views/MachineList/MachineListTable/MachineListTable.test.js
Labels: Performance ⚡️, Review: Code +1, Review: QA +1

#1046 Allow middleware checks to be disabled
  ui/.env.development
  ui/src/index.js
Labels: Review: Code +1, Review: QA +1

#1049 Add ability to dismiss machine list errors.
  ui/src/app/machines/views/MachineList/MachineList.js
  ui/src/app/machines/views/MachineList/MachineList.test.js
Labels: Review: Code +1, Review: QA +1

#1051 Add LXD radio option to Add KVM form.
  legacy/src/app/controllers/pod_details.js
  legacy/src/app/controllers/pods_list.js
  legacy/src/app/partials/pod-details.html
  legacy/src/app/partials/pods-list.html
Labels: Review: Code +1, Review: QA +1, Review: UX +1

#1056 Use @canonical org for package names.
  legacy/package.json
  legacy/src/app/entry.js
  package.json
  proxy/package.json
  shared/package.json
  ui/package.json
  ui/src/app/App.js
Labels: Review: Code +1

#1055 Add RSD form to Add hardware dropdown.
  ui/src/__snapshots__/root-reducer.test.js.snap
  ui/src/app/base/actions/index.js
  ui/src/app/base/actions/pod/index.js
  ui/src/app/base/actions/pod/pod.js
  ui/src/app/base/actions/pod/pod.test.js
  ui/src/app/base/reducers/index.js
  ui/src/app/base/reducers/pod/index.js
  ui/src/app/base/reducers/pod/pod.js
  ui/src/app/base/reducers/pod/pod.test.js
  ui/src/app/base/selectors/index.js
  ui/src/app/base/selectors/pod/index.js
  ui/src/app/base/selectors/pod/pod.js
  ui/src/app/base/selectors/pod/pod.test.js
  ui/src/app/machines/components/HeaderStrip/AddHardwareMenu/AddHardwareMenu.js
  ui/src/app/machines/components/HeaderStrip/AddHardwareMenu/AddHardwareMenu.test.js
  ui/src/app/machines/components/HeaderStrip/AddHardwareMenu/__snapshots__/AddHardwareMenu.test.js.snap
  ui/src/app/machines/views/AddRSD/AddRSDForm/AddRSDForm.js
  ui/src/app/machines/views/AddRSD/AddRSDForm/AddRSDForm.test.js
  ui/src/app/machines/views/AddRSD/AddRSDForm/index.js
  ui/src/app/machines/views/AddRSD/AddRSDFormFields/AddRSDFormFields.js
  ui/src/app/machines/views/AddRSD/AddRSDFormFields/index.js
  ui/src/app/machines/views/Machines.js
  ui/src/root-reducer.js
Labels: Review: Code +1, Review: QA +1

#1048 Fix KVM checkbox when switching from other OS/Release to Ubuntu 18.04.
  ui/src/app/machines/components/HeaderStrip/ActionFormWrapper/DeployForm/DeployFormFields/DeployFormFields.js
  ui/src/app/machines/components/HeaderStrip/ActionFormWrapper/DeployForm/DeployFormFields/DeployFormFields.test.js
Labels: Review: Code +1, Review: QA +1

#1030 Revert "Enable legacy machine listing route (#1029)"
  legacy/src/app/directives/machines_table.js
  legacy/src/app/routes.js
  ui/src/app/machines/views/MachineList/MachineListTable/MachineListTable.js
Labels: Review: Code +1

#1054 Update README
  HACKING.md
  README.md
Labels: Review: Code +1

#1053 Add MAAS license.
  LICENSE
  legacy/package.json
  ui/package.json
Labels: Review: Code +1, Review: QA +1

#1058 Add URL field to Commissioning form when selecting internet-test scripts.
  ui/src/app/base/actions/machine/machine.js
  ui/src/app/base/actions/machine/machine.test.js
  ui/src/app/machines/components/HeaderStrip/ActionFormWrapper/CommissionForm/CommissionForm.js
  ui/src/app/machines/components/HeaderStrip/ActionFormWrapper/CommissionForm/CommissionForm.test.js
  ui/src/app/machines/components/HeaderStrip/ActionFormWrapper/CommissionForm/CommissionFormFields/CommissionFormFields.js
  ui/src/app/machines/components/HeaderStrip/ActionFormWrapper/CommissionForm/CommissionFormFields/CommissionFormFields.test.js
Labels: Review: Code +1, Review: QA +1

#1064 Set public access in publishConfig.
  legacy/package.json
  package.json
  ui/package.json
Labels: Review: Code +1

#1063 Fix edit interface form not being able to edit tags/speeds.
  legacy/src/app/controllers/node_details_networking.js
  legacy/src/app/partials/node-details.html
Labels: Review: Code +1, Review: QA +1

#1061 Add OS info to LXD pods in pod list.
  legacy/src/app/controllers/pods_list.js
  legacy/src/app/controllers/tests/test_pods_list.js
  legacy/src/app/partials/pods-list.html
  legacy/src/scss/tables/_patterns_table-pods.scss
Labels: Review: Code +1, Review: QA +1

#1066 Don't persist the selected state in the URL
  ui/src/app/machines/search.js
  ui/src/app/machines/search.test.js
Labels: Review: Code +1, Review: QA +1

#1065 Filter select when taking action
  ui/src/app/machines/components/HeaderStrip/ActionFormWrapper/ActionForm/ActionForm.js
  ui/src/app/machines/components/HeaderStrip/ActionFormWrapper/ActionForm/ActionForm.test.js
  ui/src/app/machines/components/HeaderStrip/ActionFormWrapper/CommissionForm/CommissionForm.js
  ui/src/app/machines/components/HeaderStrip/ActionFormWrapper/DeployForm/DeployForm.js
  ui/src/app/machines/components/HeaderStrip/ActionFormWrapper/OverrideTestForm/OverrideTestForm.js
  ui/src/app/machines/components/HeaderStrip/ActionFormWrapper/SetPoolForm/SetPoolForm.js
  ui/src/app/machines/components/HeaderStrip/ActionFormWrapper/SetZoneForm/SetZoneForm.js
  ui/src/app/machines/components/HeaderStrip/ActionFormWrapper/TagForm/TagForm.js
  ui/src/app/machines/components/HeaderStrip/ActionFormWrapper/TestForm/TestForm.js
  ui/src/app/machines/components/HeaderStrip/HeaderStrip.js
  ui/src/app/machines/components/HeaderStrip/HeaderStrip.test.js
  ui/src/app/machines/search.js
  ui/src/app/machines/search.test.js
  ui/src/app/machines/views/MachineList/MachineList.js
  ui/src/app/machines/views/MachineList/MachineList.test.js
  ui/src/app/machines/views/MachineList/MachineListControls/MachineListControls.js
  ui/src/app/machines/views/MachineList/MachineListControls/MachineListControls.test.js
  ui/src/app/machines/views/MachineList/MachineListTable/MachineListTable.js
  ui/src/app/machines/views/MachineList/MachineListTable/MachineListTable.test.js
  ui/src/app/machines/views/Machines.js
  ui/src/app/machines/views/Machines.test.js
Labels: Review: Code +1, Review: QA +1

#1067 Improve machine list page styling on smaller screens.
  ui/src/app/base/components/FormCardButtons/FormCardButtons.js
  ui/src/app/base/components/Section/Section.js
  ui/src/app/base/components/Section/__snapshots__/Section.test.js.snap
  ui/src/app/machines/components/HeaderStrip/ActionFormWrapper/ActionForm/__snapshots__/ActionForm.test.js.snap
  ui/src/app/machines/components/HeaderStrip/ActionFormWrapper/DeployForm/DeployFormFields/DeployFormFields.js
  ui/src/app/machines/components/HeaderStrip/HeaderStrip.js
  ui/src/app/machines/components/HeaderStrip/TakeActionMenu/TakeActionMenu.js
  ui/src/app/machines/views/MachineList/MachineListControls/FilterAccordion/_index.scss
  ui/src/app/machines/views/MachineList/MachineListTable/MachineListTable.js
  ui/src/scss/_utilities.scss
  ui/src/scss/_vanilla-overrides.scss
Labels: Review: Code +1, Review: QA +1
