Repository canonical/maas-ui, pull requests merged in 2020-07, with the labels that each got.

#1319 Add useTableSort hook to handle sorting for machine and KVM lists.
  ui/src/app/base/hooks.js
  ui/src/app/base/types.ts
  ui/src/app/kvm/views/KVMList/KVMListTable/KVMListTable.tsx
  ui/src/app/machines/views/MachineList/MachineListTable/MachineListTable.js
Labels: Review: Code +1, Review: QA +1

#1322 change radio button to icon for pxe boot interface column (#1164)
  legacy/src/app/partials/node-details.html
Labels: Backport, Bug 🐛, Review: Code +1, Review: Design +1, Review: QA +1

#1324 Add section to PR template explaining backports
  .github/pull_request_template.md
Labels: Review: Code needed

#1323 Change radio button to icon for pxe boot interface column
  legacy/src/app/partials/node-details.html
Labels: Review: Code +1

#1325 Display deploy form fields horizontally.
  ui/src/app/base/selectors/auth/auth.ts
  ui/src/app/base/types.ts
  ui/src/app/machines/views/MachineList/MachineListHeader/ActionFormWrapper/DeployForm/DeployForm.tsx
  ui/src/app/machines/views/MachineList/MachineListHeader/ActionFormWrapper/DeployForm/DeployFormFields/DeployFormFields.js
  ui/src/app/machines/views/MachineList/MachineListHeader/ActionFormWrapper/DeployForm/DeployFormFields/DeployFormFields.test.js
  ui/src/app/machines/views/MachineList/MachineListHeader/ActionFormWrapper/DeployForm/DeployFormFields/DeployFormFields.tsx
Labels: Review: Code +1, Review: QA +1

#1317 Pass on betterer failures
  .github/workflows/test.yml
Labels: Review: Code +1, Review: QA +1

#1327 Add table checkbox helper functions and array utils.
  ui/src/app/base/actions/machine/machine.js
  ui/src/app/kvm/views/KVMList/KVMListTable/KVMListTable.tsx
  ui/src/app/kvm/views/KVMList/KVMListTable/NameColumn/NameColumn.test.tsx
  ui/src/app/kvm/views/KVMList/KVMListTable/NameColumn/NameColumn.tsx
  ui/src/app/machines/views/MachineList/MachineListHeader/ActionFormWrapper/ActionFormWrapper.tsx
  ui/src/app/machines/views/MachineList/MachineListTable/MachineListTable.js
  ui/src/app/machines/views/MachineList/MachineListTable/NameColumn/NameColumn.js
  ui/src/app/machines/views/MachineList/MachineListTable/NameColumn/__snapshots__/NameColumn.test.js.snap
  ui/src/app/utils/generateCheckboxHandlers.test.ts
  ui/src/app/utils/generateCheckboxHandlers.ts
  ui/src/app/utils/index.ts
  ui/src/app/utils/someInArray.test.ts
  ui/src/app/utils/someInArray.ts
  ui/src/app/utils/someNotAll.test.ts
  ui/src/app/utils/someNotAll.ts
Labels: Review: Code +1, Review: QA +1

#1328 Add initial typed test factory.
  ui/package.json
  ui/src/app/base/types.ts
  ui/src/app/kvm/views/KVMList/KVMListTable/PowerColumn/PowerColumn.test.tsx
  ui/src/app/machines/views/MachineList/MachineListTable/PowerColumn/PowerColumn.test.js
  ui/src/app/utils/getPowerIcon.js
  ui/src/app/utils/getPowerIcon.test.js
  ui/src/app/utils/getPowerIcon.test.ts
  ui/src/app/utils/getPowerIcon.ts
  ui/src/testing/factories.ts
  yarn.lock
Labels: Enhancement ✨, Review: Code +1, Review: QA +1

#1337 Hoist shared properties to SimpleNode and Node types.
  ui/src/app/base/types.ts
  ui/src/testing/factories.ts
Labels: Review: Code +1 (with changes)

#1341 Skip failing add machine test.
  proxy/cypress/integration/machines/add.spec.ts
Labels: Review: Code +1

#1329 Build generic ActionForm component for use in machine and KVM lists.
  ui/src/app/base/components/ActionForm/ActionForm.test.tsx
  ui/src/app/base/components/ActionForm/ActionForm.tsx
  ui/src/app/base/components/ActionForm/index.ts
  ui/src/app/base/selectors/machine/machine.js
  ui/src/app/base/selectors/machine/machine.test.js
  ui/src/app/kvm/views/KVMList/KVMListHeader/KVMActionFormWrapper/DeleteForm/DeleteForm.tsx
  ui/src/app/kvm/views/KVMList/KVMListHeader/KVMActionFormWrapper/RefreshForm/RefreshForm.tsx
  ui/src/app/machines/views/MachineList/MachineListHeader/ActionFormWrapper/ActionForm/__snapshots__/ActionForm.test.js.snap
  ui/src/app/machines/views/MachineList/MachineListHeader/ActionFormWrapper/ActionFormWrapper.test.tsx
  ui/src/app/machines/views/MachineList/MachineListHeader/ActionFormWrapper/ActionFormWrapper.tsx
  ui/src/app/machines/views/MachineList/MachineListHeader/ActionFormWrapper/CommissionForm/CommissionForm.js
  ui/src/app/machines/views/MachineList/MachineListHeader/ActionFormWrapper/CommissionForm/CommissionForm.test.js
  ui/src/app/machines/views/MachineList/MachineListHeader/ActionFormWrapper/CommissionForm/CommissionFormFields/index.ts
  ui/src/app/machines/views/MachineList/MachineListHeader/ActionFormWrapper/CommissionForm/index.ts
  ui/src/app/machines/views/MachineList/MachineListHeader/ActionFormWrapper/DeployForm/DeployForm.test.tsx
  ui/src/app/machines/views/MachineList/MachineListHeader/ActionFormWrapper/DeployForm/DeployForm.tsx
  ui/src/app/machines/views/MachineList/MachineListHeader/ActionFormWrapper/DeployForm/DeployFormFields/index.ts
  ui/src/app/machines/views/MachineList/MachineListHeader/ActionFormWrapper/DeployForm/index.ts
  ui/src/app/machines/views/MachineList/MachineListHeader/ActionFormWrapper/FieldlessForm/FieldlessForm.js
  ui/src/app/machines/views/MachineList/MachineListHeader/ActionFormWrapper/FieldlessForm/FieldlessForm.test.js
  ui/src/app/machines/views/MachineList/MachineListHeader/ActionFormWrapper/FieldlessForm/__snapshots__/FieldlessForm.test.js.snap
  ui/src/app/machines/views/MachineList/MachineListHeader/ActionFormWrapper/FieldlessForm/index.ts
  ui/src/app/machines/views/MachineList/MachineListHeader/ActionFormWrapper/OverrideTestForm/OverrideTestForm.js
  ui/src/app/machines/views/MachineList/MachineListHeader/ActionFormWrapper/OverrideTestForm/OverrideTestForm.test.js
  ui/src/app/machines/views/MachineList/MachineListHeader/ActionFormWrapper/OverrideTestForm/index.ts
  ui/src/app/machines/views/MachineList/MachineListHeader/ActionFormWrapper/SetPoolForm/SetPoolForm.js
  ui/src/app/machines/views/MachineList/MachineListHeader/ActionFormWrapper/SetPoolForm/SetPoolForm.test.js
  ui/src/app/machines/views/MachineList/MachineListHeader/ActionFormWrapper/SetPoolForm/SetPoolFormFields/index.ts
  ui/src/app/machines/views/MachineList/MachineListHeader/ActionFormWrapper/SetPoolForm/index.ts
  ui/src/app/machines/views/MachineList/MachineListHeader/ActionFormWrapper/SetZoneForm/SetZoneForm.js
  ui/src/app/machines/views/MachineList/MachineListHeader/ActionFormWrapper/SetZoneForm/SetZoneForm.test.js
  ui/src/app/machines/views/MachineList/MachineListHeader/ActionFormWrapper/SetZoneForm/index.ts
  ui/src/app/machines/views/MachineList/MachineListHeader/ActionFormWrapper/TagForm/TagForm.js
  ui/src/app/machines/views/MachineList/MachineListHeader/ActionFormWrapper/TagForm/TagForm.test.js
  ui/src/app/machines/views/MachineList/MachineListHeader/ActionFormWrapper/TagForm/TagFormFields/index.ts
  ui/src/app/machines/views/MachineList/MachineListHeader/ActionFormWrapper/TagForm/index.ts
  ui/src/app/machines/views/MachineList/MachineListHeader/ActionFormWrapper/TestForm/TestForm.js
  ui/src/app/machines/views/MachineList/MachineListHeader/ActionFormWrapper/TestForm/TestForm.test.js
  ui/src/app/machines/views/MachineList/MachineListHeader/ActionFormWrapper/TestForm/TestFormFields/index.ts
  ui/src/app/machines/views/MachineList/MachineListHeader/ActionFormWrapper/TestForm/index.ts
  ui/src/app/machines/views/MachineList/MachineListHeader/ActionFormWrapper/utils/index.js
  ui/src/app/machines/views/Machines.test.js
Labels: Review: Code +1, Review: QA +1

#1350 Block CI on betterer
  .github/workflows/test.yml
  HACKING.md
  README.md
  ui/.betterer.results
Labels: Enhancement ✨, Review: Code +1

#1347 Add vscode betterer config
  .vscode/settings.json
  ui/.betterer.results
Labels: Review: Code +1, Review: QA +1

#1367 Set up KVM details components.
  ui/.betterer.results
  ui/src/app/base/components/ContextualMenu/ContextualMenu.js
  ui/src/app/kvm/components/KVMActionFormWrapper/DeleteForm/DeleteForm.test.js
  ui/src/app/kvm/components/KVMActionFormWrapper/DeleteForm/DeleteForm.tsx
  ui/src/app/kvm/components/KVMActionFormWrapper/DeleteForm/index.ts
  ui/src/app/kvm/components/KVMActionFormWrapper/KVMActionFormWrapper.test.tsx
  ui/src/app/kvm/components/KVMActionFormWrapper/KVMActionFormWrapper.tsx
  ui/src/app/kvm/components/KVMActionFormWrapper/RefreshForm/RefreshForm.test.js
  ui/src/app/kvm/components/KVMActionFormWrapper/RefreshForm/RefreshForm.tsx
  ui/src/app/kvm/components/KVMActionFormWrapper/RefreshForm/index.ts
  ui/src/app/kvm/components/KVMActionFormWrapper/index.ts
  ui/src/app/kvm/views/KVMDetails/KVMConfiguration/KVMConfiguration.tsx
  ui/src/app/kvm/views/KVMDetails/KVMConfiguration/index.ts
  ui/src/app/kvm/views/KVMDetails/KVMDetails.test.tsx
  ui/src/app/kvm/views/KVMDetails/KVMDetails.tsx
  ui/src/app/kvm/views/KVMDetails/KVMDetailsHeader/KVMDetailsActionMenu/KVMDetailsActionMenu.tsx
  ui/src/app/kvm/views/KVMDetails/KVMDetailsHeader/KVMDetailsActionMenu/index.ts
  ui/src/app/kvm/views/KVMDetails/KVMDetailsHeader/KVMDetailsHeader.test.tsx
  ui/src/app/kvm/views/KVMDetails/KVMDetailsHeader/KVMDetailsHeader.tsx
  ui/src/app/kvm/views/KVMDetails/KVMDetailsHeader/index.ts
  ui/src/app/kvm/views/KVMDetails/KVMSummary/KVMSummary.tsx
  ui/src/app/kvm/views/KVMDetails/KVMSummary/index.ts
  ui/src/app/kvm/views/KVMList/KVMListHeader/KVMListHeader.tsx
Labels: Review: Code +1, Review: QA +1

#1370 Add types for preferences models
  ui/.betterer.results
  ui/src/app/preferences/selectors/sshkey/sshkey.test.js
  ui/src/app/preferences/selectors/sslkey/sslkey.test.js
  ui/src/app/preferences/selectors/token/token.test.js
  ui/src/app/store/sshkey/types.ts
  ui/src/app/store/sslkey/types.ts
  ui/src/app/store/token/types.ts
  ui/src/testing/factories/index.ts
  ui/src/testing/factories/sshkey.ts
  ui/src/testing/factories/sslkey.ts
  ui/src/testing/factories/state.ts
  ui/src/testing/factories/token.ts
Labels: Review: Code +1

#1349 Build CPUPopover component.
  ui/.betterer.results
  ui/src/app/kvm/views/KVMList/KVMListTable/CPUColumn/CPUColumn.tsx
  ui/src/app/kvm/views/KVMList/KVMListTable/CPUColumn/CPUPopover/CPUPopover.test.tsx
  ui/src/app/kvm/views/KVMList/KVMListTable/CPUColumn/CPUPopover/CPUPopover.tsx
  ui/src/app/kvm/views/KVMList/KVMListTable/CPUColumn/CPUPopover/__snapshots__/CPUPopover.test.tsx.snap
  ui/src/app/kvm/views/KVMList/KVMListTable/CPUColumn/CPUPopover/_index.scss
  ui/src/app/kvm/views/KVMList/KVMListTable/CPUColumn/CPUPopover/index.ts
  ui/src/scss/index.scss
Labels: Review: Code +1, Review: QA +1

#1373 Test scripts aren't mandatory.
  ui/src/app/machines/views/MachineList/MachineListHeader/ActionFormWrapper/CommissionForm/CommissionForm.js
Labels: Backport 2.8, Review: Code +1, Review: QA +1

#1340 Add segmented prop to Meter component.
  ui/.betterer.results
  ui/src/app/base/components/Meter/Meter.js
  ui/src/app/base/components/Meter/Meter.test.js
  ui/src/app/base/components/Meter/Meter.test.tsx
  ui/src/app/base/components/Meter/Meter.tsx
  ui/src/app/base/components/Meter/__snapshots__/Meter.test.tsx.snap
  ui/src/app/base/components/Meter/_index.scss
  ui/src/app/base/components/Meter/index.ts
  ui/src/app/base/selectors/pod/pod.ts
  ui/src/app/kvm/views/KVMList/KVMListTable/CPUColumn/CPUColumn.test.tsx
  ui/src/app/kvm/views/KVMList/KVMListTable/CPUColumn/CPUColumn.tsx
  ui/src/app/kvm/views/KVMList/KVMListTable/KVMListTable.tsx
  ui/src/app/kvm/views/KVMList/KVMListTable/NameColumn/NameColumn.tsx
  ui/src/app/kvm/views/KVMList/KVMListTable/OSColumn/OSColumn.test.tsx
  ui/src/app/kvm/views/KVMList/KVMListTable/OSColumn/OSColumn.tsx
  ui/src/app/kvm/views/KVMList/KVMListTable/PoolColumn/PoolColumn.tsx
  ui/src/app/kvm/views/KVMList/KVMListTable/PowerColumn/PowerColumn.test.tsx
  ui/src/app/kvm/views/KVMList/KVMListTable/PowerColumn/PowerColumn.tsx
  ui/src/app/kvm/views/KVMList/KVMListTable/RAMColumn/RAMColumn.test.tsx
  ui/src/app/kvm/views/KVMList/KVMListTable/RAMColumn/RAMColumn.tsx
  ui/src/app/kvm/views/KVMList/KVMListTable/StorageColumn/StorageColumn.test.tsx
  ui/src/app/kvm/views/KVMList/KVMListTable/StorageColumn/StorageColumn.tsx
  ui/src/app/kvm/views/KVMList/KVMListTable/TypeColumn/TypeColumn.tsx
  ui/src/app/kvm/views/KVMList/KVMListTable/VMsColumn/VMsColumn.tsx
  ui/src/app/kvm/views/KVMList/KVMListTable/_index.scss
  ui/src/app/utils/formatBytes.test.ts
  ui/src/app/utils/formatBytes.ts
  ui/src/app/utils/formatSpeedUnits.js
  ui/src/app/utils/getPowerIcon.ts
  ui/src/scss/_utilities.scss
Labels: Review: Code +1, Review: QA +1

#1376 Change cypress MAAS snap from latest/edge to 2.8/edge
  .circleci/config.yml
Labels: Review: Code +1

#1379 Preserve stdout for betterer in CI.
  .github/workflows/test.yml
Labels: Review: Code +1

#1377 Add types and factories for general.
  ui/src/app/base/selectors/general/architectures.test.js
  ui/src/app/base/selectors/general/componentsToDisable.test.js
  ui/src/app/base/selectors/general/defaultMinHweKernel.test.js
  ui/src/app/base/selectors/general/hweKernels.test.js
  ui/src/app/base/selectors/general/knownArchitectures.test.js
  ui/src/app/base/selectors/general/machineActions.test.js
  ui/src/app/base/selectors/general/navigationOptions.test.js
  ui/src/app/base/selectors/general/osInfo.test.js
  ui/src/app/base/selectors/general/pocketsToDisable.test.js
  ui/src/app/base/selectors/general/powerTypes.test.js
  ui/src/app/base/selectors/general/version.test.js
  ui/src/app/machines/views/MachineList/MachineListHeader/ActionFormWrapper/ActionFormWrapper.tsx
  ui/src/app/machines/views/MachineList/MachineListHeader/ActionFormWrapper/DeployForm/DeployForm.tsx
  ui/src/app/machines/views/MachineList/MachineListHeader/MachineListActionMenu/MachineListActionMenu.tsx
  ui/src/app/machines/views/MachineList/MachineListHeader/MachineListHeader.tsx
  ui/src/app/store/general/types.ts
  ui/src/app/store/machine/types.ts
  ui/src/testing/factories/general.ts
  ui/src/testing/factories/index.ts
  ui/src/testing/factories/state.ts
Labels: Review: Code +1

#1380 Create types and factories for remaining models
  ui/.betterer.results
  ui/src/app/base/selectors/domain/domain.test.js
  ui/src/app/base/selectors/service/service.test.js
  ui/src/app/base/selectors/status/status.test.js
  ui/src/app/base/selectors/subnet/subnet.test.js
  ui/src/app/base/selectors/tag/tag.test.js
  ui/src/app/base/selectors/zone/zone.test.js
  ui/src/app/store/dhcpsnippet/types.ts
  ui/src/app/store/domain/types.ts
  ui/src/app/store/scriptresults/types.ts
  ui/src/app/store/service/types.ts
  ui/src/app/store/status/types.ts
  ui/src/app/store/subnet/types.ts
  ui/src/app/store/tag/types.ts
  ui/src/testing/factories/domain.ts
  ui/src/testing/factories/index.ts
  ui/src/testing/factories/resourcepool.ts
  ui/src/testing/factories/scriptresults.ts
  ui/src/testing/factories/service.ts
  ui/src/testing/factories/state.ts
  ui/src/testing/factories/subnet.ts
  ui/src/testing/factories/tag.ts
  ui/src/testing/factories/zone.ts
Labels: Review: Code +1

#1388 Add MachineListTable to KVM summary page.
  ui/.betterer.results
  ui/src/app/kvm/views/KVMDetails/KVMSummary/KVMSummary.tsx
  ui/src/app/machines/views/MachineList/MachineListTable/MachineListTable.js
  ui/src/app/machines/views/MachineList/MachineListTable/MachineListTable.test.js
  ui/src/app/machines/views/MachineList/MachineListTable/NameColumn/NameColumn.js
  ui/src/app/machines/views/MachineList/MachineListTable/NameColumn/NameColumn.test.js
  ui/src/app/machines/views/MachineList/MachineListTable/NameColumn/__snapshots__/NameColumn.test.js.snap
  ui/src/app/machines/views/MachineList/MachineListTable/OwnerColumn/OwnerColumn.js
  ui/src/app/machines/views/MachineList/MachineListTable/OwnerColumn/OwnerColumn.test.js
  ui/src/app/machines/views/MachineList/MachineListTable/PoolColumn/PoolColumn.js
  ui/src/app/machines/views/MachineList/MachineListTable/PoolColumn/PoolColumn.test.js
  ui/src/app/machines/views/MachineList/MachineListTable/PowerColumn/PowerColumn.js
  ui/src/app/machines/views/MachineList/MachineListTable/PowerColumn/PowerColumn.test.js
  ui/src/app/machines/views/MachineList/MachineListTable/StatusColumn/StatusColumn.js
  ui/src/app/machines/views/MachineList/MachineListTable/StatusColumn/StatusColumn.test.js
  ui/src/app/machines/views/MachineList/MachineListTable/ZoneColumn/ZoneColumn.js
  ui/src/app/machines/views/MachineList/MachineListTable/ZoneColumn/ZoneColumn.test.js
Labels: Review: Code +1, Review: QA +1

#1378 Build KVM configuration form.
  ui/.betterer.results
  ui/src/app/base/components/FormCard/_index.scss
  ui/src/app/base/components/FormCardButtons/FormCardButtons.js
  ui/src/app/base/components/FormCardButtons/FormCardButtons.test.js
  ui/src/app/base/components/FormCardButtons/__snapshots__/FormCardButtons.test.js.snap
  ui/src/app/base/components/FormikField/FormikField.tsx
  ui/src/app/base/components/Slider/Slider.test.tsx
  ui/src/app/base/components/Slider/Slider.tsx
  ui/src/app/base/components/Slider/__snapshots__/Slider.test.tsx.snap
  ui/src/app/base/components/Slider/index.ts
  ui/src/app/base/components/TagSelector/TagSelector.js
  ui/src/app/base/components/TagSelector/__snapshots__/TagSelector.test.js.snap
  ui/src/app/base/components/UserForm/UserForm.js
  ui/src/app/base/reducers/pod/pod.ts
  ui/src/app/kvm/components/KVMActionFormWrapper/RefreshForm/RefreshForm.tsx
  ui/src/app/kvm/utils.ts
  ui/src/app/kvm/views/KVMDetails/KVMConfiguration/KVMConfiguration.test.tsx
  ui/src/app/kvm/views/KVMDetails/KVMConfiguration/KVMConfiguration.tsx
  ui/src/app/kvm/views/KVMDetails/KVMConfiguration/KVMConfigurationFields/KVMConfigurationFields.test.tsx
  ui/src/app/kvm/views/KVMDetails/KVMConfiguration/KVMConfigurationFields/KVMConfigurationFields.tsx
  ui/src/app/kvm/views/KVMDetails/KVMConfiguration/KVMConfigurationFields/index.ts
  ui/src/app/kvm/views/KVMDetails/KVMDetails.tsx
  ui/src/app/kvm/views/KVMList/AddKVMForm/AddKVMForm.tsx
  ui/src/app/kvm/views/KVMList/KVMListTable/TypeColumn/TypeColumn.tsx
  ui/src/app/machines/views/AddChassis/AddChassisForm/AddChassisForm.js
  ui/src/app/machines/views/AddMachine/AddMachineForm/AddMachineForm.js
  ui/src/app/machines/views/AddRSD/AddRSDForm/AddRSDForm.js
  ui/src/app/pools/views/PoolForm/PoolForm.js
  ui/src/app/preferences/views/APIKeys/APIKeyForm/APIKeyForm.js
  ui/src/app/preferences/views/SSHKeys/AddSSHKey/AddSSHKey.js
  ui/src/app/preferences/views/SSLKeys/AddSSLKey/AddSSLKey.js
  ui/src/app/settings/views/Dhcp/DhcpForm/DhcpForm.js
  ui/src/app/settings/views/LicenseKeys/LicenseKeyForm/LicenseKeyForm.js
  ui/src/app/settings/views/Repositories/RepositoryForm/RepositoryForm.js
  ui/src/app/store/pod/types.ts
  ui/src/scss/_vanilla-overrides.scss
Labels: Review: Code +1, Review: QA +1

#1392 Add "Storage" section to KVM summary page.
  shared/src/components/Header/Header.js
  shared/src/components/Header/__snapshots__/Header.test.js.snap
  ui/.betterer.results
  ui/src/app/base/components/Meter/Meter.test.tsx
  ui/src/app/base/components/Meter/Meter.tsx
  ui/src/app/base/components/Meter/__snapshots__/Meter.test.tsx.snap
  ui/src/app/base/components/Meter/_index.scss
  ui/src/app/kvm/views/KVMDetails/KVMSummary/KVMSummary.tsx
  ui/src/app/kvm/views/KVMDetails/KVMSummary/KVMSummaryStorage/KVMSummaryStorage.test.tsx
  ui/src/app/kvm/views/KVMDetails/KVMSummary/KVMSummaryStorage/KVMSummaryStorage.tsx
  ui/src/app/kvm/views/KVMDetails/KVMSummary/KVMSummaryStorage/index.ts
  ui/src/app/kvm/views/KVMList/KVMListTable/CPUColumn/CPUColumn.test.tsx
  ui/src/app/kvm/views/KVMList/KVMListTable/CPUColumn/CPUColumn.tsx
  ui/src/app/kvm/views/KVMList/KVMListTable/RAMColumn/RAMColumn.test.tsx
  ui/src/app/kvm/views/KVMList/KVMListTable/RAMColumn/RAMColumn.tsx
  ui/src/app/kvm/views/KVMList/KVMListTable/StorageColumn/StorageColumn.test.tsx
  ui/src/app/kvm/views/KVMList/KVMListTable/StorageColumn/StorageColumn.tsx
  ui/src/app/kvm/views/KVMList/KVMListTable/_index.scss
  ui/src/app/store/pod/types.ts
  ui/src/app/utils/chunk.test.ts
  ui/src/app/utils/chunk.ts
  ui/src/app/utils/index.ts
  ui/src/scss/_breakpoint-widths.scss
  ui/src/scss/_patterns_cards.scss
  ui/src/scss/_patterns_lists.scss
  ui/src/scss/index.scss
  ui/src/testing/factories/index.ts
  ui/src/testing/factories/nodes.ts
Labels: Review: Code +1, Review: QA +1

#1394 Added cloud-init docs link
  ui/src/app/machines/views/MachineList/MachineListHeader/ActionFormWrapper/DeployForm/DeployFormFields/DeployFormFields.tsx
Labels: Review: Code +1, Review: QA +1

#1396 Upgrade to @canonical/react-components 0.8.1.
  ui/package.json
  ui/src/app/base/components/ScriptStatus/ScriptStatus.js
  ui/src/app/base/components/TableActions/TableActions.js
  ui/src/app/base/components/Tooltip/Tooltip.js
  ui/src/app/base/components/Tooltip/Tooltip.test.js
  ui/src/app/base/components/Tooltip/__snapshots__/Tooltip.test.js.snap
  ui/src/app/base/components/Tooltip/index.js
  ui/src/app/kvm/views/KVMList/KVMListHeader/KVMListActionMenu/KVMListActionMenu.tsx
  ui/src/app/machines/views/MachineList/MachineListHeader/MachineListActionMenu/MachineListActionMenu.tsx
  ui/src/app/machines/views/MachineList/MachineListTable/CoresColumn/CoresColumn.js
  ui/src/app/machines/views/MachineList/MachineListTable/NameColumn/NameColumn.js
  ui/src/app/machines/views/MachineList/MachineListTable/StatusColumn/StatusColumn.js
  ui/src/app/machines/views/MachineList/MachineListTable/ZoneColumn/ZoneColumn.js
  ui/src/app/preferences/views/SSHKeys/SSHKeyFormFields/SSHKeyFormFields.js
  ui/src/app/settings/components/SettingsTable/SettingsTable.js
  yarn.lock
Labels: Review: Code +1, Review: QA +1

#1395 Build KVM compose machine form with default interface/storage constraints.
  ui/src/app/base/actions/pod/pod.test.ts
  ui/src/app/base/actions/pod/pod.ts
  ui/src/app/base/components/ActionForm/ActionForm.test.tsx
  ui/src/app/base/components/ActionForm/ActionForm.tsx
  ui/src/app/base/reducers/machine/machine.js
  ui/src/app/base/reducers/pod/pod.test.ts
  ui/src/app/base/reducers/pod/pod.ts
  ui/src/app/kvm/components/KVMActionFormWrapper/ComposeForm/ComposeForm.test.js
  ui/src/app/kvm/components/KVMActionFormWrapper/ComposeForm/ComposeForm.tsx
  ui/src/app/kvm/components/KVMActionFormWrapper/ComposeForm/ComposeFormFields/ComposeFormFields.test.tsx
  ui/src/app/kvm/components/KVMActionFormWrapper/ComposeForm/ComposeFormFields/ComposeFormFields.tsx
  ui/src/app/kvm/components/KVMActionFormWrapper/ComposeForm/ComposeFormFields/index.ts
  ui/src/app/kvm/components/KVMActionFormWrapper/ComposeForm/index.ts
  ui/src/app/kvm/components/KVMActionFormWrapper/KVMActionFormWrapper.test.tsx
  ui/src/app/kvm/components/KVMActionFormWrapper/KVMActionFormWrapper.tsx
  ui/src/app/kvm/views/KVMDetails/KVMDetailsHeader/KVMDetailsHeader.tsx
  ui/src/app/store/pod/selectors.ts
  ui/src/app/store/pod/types.ts
  ui/src/scss/_vanilla-overrides.scss
  ui/src/testing/factories/index.ts
  ui/src/testing/factories/nodes.ts
  ui/src/testing/factories/state.ts
Labels: Needs Information ℹ️, Review: Code +1, Review: QA +1

#1414 Fix angular machine list parentClasses bug.
  legacy/src/app/directives/machines_table.js
Labels: Review: Code +1, Review: QA +1

#1413 Add error message to deploy form if no images have been downloaded.
  ui/src/app/machines/views/MachineList/MachineListHeader/ActionFormWrapper/DeployForm/DeployForm.tsx
  ui/src/app/machines/views/MachineList/MachineListHeader/ActionFormWrapper/DeployForm/DeployFormFields/DeployFormFields.test.tsx
  ui/src/app/machines/views/MachineList/MachineListHeader/ActionFormWrapper/DeployForm/DeployFormFields/DeployFormFields.tsx
Labels: Review: Code +1 (with changes), Review: QA +1

#1417 Add fabric, space and vlan models to the store.
  ui/src/__snapshots__/root-reducer.test.js.snap
  ui/src/app/base/actions/fabric/fabric.test.ts
  ui/src/app/base/actions/fabric/fabric.ts
  ui/src/app/base/actions/fabric/index.ts
  ui/src/app/base/actions/index.ts
  ui/src/app/base/actions/space/index.ts
  ui/src/app/base/actions/space/space.test.ts
  ui/src/app/base/actions/space/space.ts
  ui/src/app/base/actions/vlan/index.ts
  ui/src/app/base/actions/vlan/vlan.test.ts
  ui/src/app/base/actions/vlan/vlan.ts
  ui/src/app/base/reducers/fabric/fabric.test.ts
  ui/src/app/base/reducers/fabric/fabric.ts
  ui/src/app/base/reducers/fabric/index.ts
  ui/src/app/base/reducers/index.ts
  ui/src/app/base/reducers/space/index.ts
  ui/src/app/base/reducers/space/space.test.ts
  ui/src/app/base/reducers/space/space.ts
  ui/src/app/base/reducers/vlan/index.ts
  ui/src/app/base/reducers/vlan/vlan.test.ts
  ui/src/app/base/reducers/vlan/vlan.ts
  ui/src/app/kvm/components/KVMActionFormWrapper/ComposeForm/ComposeForm.test.js
  ui/src/app/kvm/components/KVMActionFormWrapper/ComposeForm/ComposeForm.tsx
  ui/src/app/kvm/components/KVMActionFormWrapper/ComposeForm/ComposeFormFields/ComposeFormFields.test.tsx
  ui/src/app/store/fabric/selectors.test.ts
  ui/src/app/store/fabric/selectors.ts
  ui/src/app/store/fabric/types.ts
  ui/src/app/store/root/types.ts
  ui/src/app/store/space/selectors.test.ts
  ui/src/app/store/space/selectors.ts
  ui/src/app/store/space/types.ts
  ui/src/app/store/vlan/selectors.test.ts
  ui/src/app/store/vlan/selectors.ts
  ui/src/app/store/vlan/types.ts
  ui/src/root-reducer.js
  ui/src/testing/factories/fabric.ts
  ui/src/testing/factories/index.ts
  ui/src/testing/factories/space.ts
  ui/src/testing/factories/state.ts
  ui/src/testing/factories/vlan.ts
Labels: Review: Code +1, Review: QA +1

#1418 Add interfaces table to KVM compose form.
  ui/src/app/base/actions/pod/pod.test.ts
  ui/src/app/base/actions/pod/pod.ts
  ui/src/app/base/components/ActionForm/ActionForm.tsx
  ui/src/app/base/components/FormikForm/FormikForm.tsx
  ui/src/app/base/components/TableActions/TableActions.js
  ui/src/app/base/reducers/pod/pod.test.ts
  ui/src/app/base/reducers/pod/pod.ts
  ui/src/app/kvm/components/KVMActionFormWrapper/ComposeForm/ComposeForm.test.js
  ui/src/app/kvm/components/KVMActionFormWrapper/ComposeForm/ComposeForm.tsx
  ui/src/app/kvm/components/KVMActionFormWrapper/ComposeForm/ComposeFormFields/ComposeFormFields.test.tsx
  ui/src/app/kvm/components/KVMActionFormWrapper/ComposeForm/ComposeFormFields/ComposeFormFields.tsx
  ui/src/app/kvm/components/KVMActionFormWrapper/ComposeForm/InterfacesTable/InterfacesTable.test.tsx
  ui/src/app/kvm/components/KVMActionFormWrapper/ComposeForm/InterfacesTable/InterfacesTable.tsx
  ui/src/app/kvm/components/KVMActionFormWrapper/ComposeForm/InterfacesTable/_index.scss
  ui/src/app/kvm/components/KVMActionFormWrapper/ComposeForm/InterfacesTable/index.ts
  ui/src/app/kvm/views/KVMDetails/KVMDetails.tsx
  ui/src/app/store/pod/types.ts
  ui/src/app/store/subnet/selectors.test.ts
  ui/src/app/store/subnet/selectors.ts
  ui/src/scss/_vanilla-overrides.scss
  ui/src/scss/index.scss
  ui/src/testing/factories/index.ts
  ui/src/testing/factories/nodes.ts
Labels: Review: Code +1, Review: QA +1

#1425 Remove react-router-hash-link
  ui/package.json
  yarn.lock
Labels: Maintenance 🔨, Review: Code needed

#1364 Adding snap instruction for add rack controller instruction.
  legacy/src/app/partials/nodes-list.html
Labels: Backport 2.8 :arrow_backward:, Enhancement ✨

#1351 Add @types/yup.
  ui/.betterer.results
  ui/package.json
  ui/src/app/kvm/components/KVMActionFormWrapper/ComposeForm/ComposeForm.tsx
  ui/src/app/kvm/views/KVMList/AddKVMForm/AddKVMForm.tsx
Labels: Review: Code +1

#1440 Fix: Unknown data: undefined
  legacy/src/app/controllers/node_details.js
Labels: Review: Code +1, Review: QA +1
