Repository canonical/maas-ui, pull requests merged in 2020-10, with the labels that each got.

#1722 fix(ci): betterer js counts only src dir
  ui/.betterer.results
  ui/.betterer.ts
Labels: Maintenance 🔨, Review: Code +1, Review: QA +1

#1716 fix(legacy): prevent removal of default commissioning scripts from machine details form
  legacy/src/app/directives/script_select.js
  legacy/src/app/directives/tests/test_script_select.js
  legacy/src/app/partials/add-scripts.html
  legacy/src/scss/_patterns_tag-input.scss
Labels: Legacy 🧟‍♂️, Review: Code +1, Review: QA +1

#1725 fix(ui): address SR-IOV/NUMA design feedback issues
  ui/.betterer.results
  ui/src/app/kvm/components/PodResourcesCard/_index.scss
  ui/src/app/kvm/views/KVMDetails/KVMSummary/KVMSummary.test.tsx
  ui/src/app/kvm/views/KVMDetails/KVMSummary/KVMSummary.tsx
  ui/src/app/machines/views/MachineList/MachineListTable/MachineListTable.js
  ui/src/app/machines/views/MachineList/_index.scss
  ui/src/scss/_utilities.scss
Labels: Review: Code +1, Review: QA +1

#1715 Refactor useSendAnalytics
  ui/.betterer.results
  ui/src/analytics.js
  ui/src/app/base/components/ActionForm/ActionForm.test.tsx
  ui/src/app/base/components/FormikForm/FormikForm.test.js
  ui/src/app/base/components/FormikForm/FormikForm.tsx
  ui/src/app/base/components/UserForm/UserForm.test.js
  ui/src/app/base/hooks.js
  ui/src/app/kvm/components/PodStorage/PodStorage.test.tsx
  ui/src/app/kvm/components/PodStorage/PodStorage.tsx
  ui/src/app/kvm/views/KVMDetails/KVMSummary/KVMNumaResources/KVMNumaResources.test.tsx
  ui/src/app/kvm/views/KVMDetails/KVMSummary/KVMNumaResources/KVMNumaResources.tsx
  ui/src/app/kvm/views/KVMDetails/KVMSummary/KVMSummary.test.tsx
  ui/src/app/kvm/views/KVMDetails/KVMSummary/KVMSummary.tsx
  ui/src/app/machines/views/MachineList/MachineListHeader/ActionFormWrapper/DeployForm/DeployForm.test.tsx
  ui/src/app/machines/views/MachineList/MachineListHeader/ActionFormWrapper/DeployForm/DeployForm.tsx
  ui/src/app/machines/views/MachineList/MachineListHeader/ActionFormWrapper/SetPoolForm/SetPoolForm.test.js
  ui/src/app/machines/views/MachineList/MachineListHeader/ActionFormWrapper/SetPoolForm/SetPoolFormFields/SetPoolFormFields.test.js
  ui/src/app/machines/views/MachineList/MachineListHeader/ActionFormWrapper/SetZoneForm/SetZoneForm.test.js
  ui/src/app/rsd/views/RSDDetails/RSDSummary/RSDSummary.test.tsx
  ui/src/app/settings/views/Configuration/GeneralForm/GeneralForm.tsx
Labels: Review: Code +1, Review: QA +1

#1733 fix(ui): remove mimetype checks for file uploads
  ui/src/app/settings/views/Scripts/ScriptsUpload/ScriptsUpload.js
  ui/src/app/settings/views/Scripts/ScriptsUpload/ScriptsUpload.test.js
Labels: Backport 2.8 :arrow_backward:, Review: Code +1, Review: QA +1

#1732 fix(ui): remove mimetype checks for file uploads
  ui/src/app/settings/views/Scripts/ScriptsUpload.js
  ui/src/app/settings/views/Scripts/ScriptsUpload.test.js
Labels: Backport 2.7 :arrow_backward:, Review: Code +1, Review: QA +1

#1734 fix(legacy): call delete_address_record when removing dns resources
  legacy/src/app/factories/domains.js
  legacy/src/app/factories/tests/test_domains.js
Labels: Backport 2.7 :arrow_backward:, Backport 2.8 :arrow_backward:, Legacy 🧟‍♂️, Review: Code +1, Review: QA +1

#1736 fix(ui): clear kernel selection on OS/release change in deploy form
  ui/src/app/machines/views/MachineList/MachineListHeader/ActionFormWrapper/DeployForm/DeployFormFields/DeployFormFields.test.tsx
  ui/src/app/machines/views/MachineList/MachineListHeader/ActionFormWrapper/DeployForm/DeployFormFields/DeployFormFields.tsx
Labels: Review: Code +1, Review: QA +1

#1731 fix(ui): remove mimetype checks for file uploads
  ui/src/app/machines/views/MachineList/MachineListHeader/ActionFormWrapper/DeployForm/DeployFormFields/UserDataField/UserDataField.test.tsx
  ui/src/app/machines/views/MachineList/MachineListHeader/ActionFormWrapper/DeployForm/DeployFormFields/UserDataField/UserDataField.tsx
  ui/src/app/settings/views/Scripts/ScriptsUpload/ScriptsUpload.js
  ui/src/app/settings/views/Scripts/ScriptsUpload/ScriptsUpload.test.js
Labels: Review: Code +1, Review: QA +1

#1738 fix(legacy): add guards to getEventText function
  legacy/src/app/controllers/node_details.js
  legacy/src/app/controllers/node_events.js
  legacy/src/app/partials/nodedetails/node-details-summary.html
Labels: Legacy 🧟‍♂️, Review: Code +1

#1740 refactor(ui): use hooks from react-components
  ui/src/app/base/components/Meter/Meter.tsx
  ui/src/app/base/hooks.js
  ui/src/app/machines/views/Machines.js
  ui/src/app/settings/views/Configuration/GeneralForm/GeneralForm.tsx
Labels: Review: Code +1, Review: QA +1

#1739 fix(legacy, ui): fix nav links to have full paths
  legacy/src/app/controllers/master.js
  ui/src/app/App.js
Labels: Legacy 🧟‍♂️, Review: Code +1, Review: QA +1

#1741 test(ui): add a test for login with special chars
  ui/package.json
  ui/src/app/base/sagas/http.test.js
  ui/src/setupTests.js
  yarn.lock
Labels: Review: Code +1

#1743 test(cypress): add authentication tests
  integration/cypress/integration/legacy/auth.spec.ts
  integration/cypress/integration/login/login.spec.ts
  integration/cypress/integration/machines/add.spec.ts
  integration/cypress/integration/machines/list.spec.ts
  integration/cypress/integration/settings/users/add.spec.ts
  integration/cypress/integration/settings/users/list.spec.ts
  integration/cypress/integration/utils.ts
  yarn.lock
Labels: Review: Code +1

#1744 test(cypress): improve the cypress machine add test
  integration/cypress/integration/machines/add.spec.ts
Labels: Review: Code +1

#1747 refactor(ui): update fabric to use a slice
  ui/src/__snapshots__/root-reducer.test.js.snap
  ui/src/app/base/actions/fabric/fabric.test.ts
  ui/src/app/base/actions/fabric/fabric.ts
  ui/src/app/base/actions/fabric/index.ts
  ui/src/app/base/actions/index.ts
  ui/src/app/base/reducers/fabric/fabric.test.ts
  ui/src/app/base/reducers/fabric/fabric.ts
  ui/src/app/base/reducers/fabric/index.ts
  ui/src/app/base/reducers/index.ts
  ui/src/app/kvm/components/KVMActionFormWrapper/ComposeForm/ComposeForm.tsx
  ui/src/app/store/fabric/actions.test.ts
  ui/src/app/store/fabric/index.ts
  ui/src/app/store/fabric/reducers.test.ts
  ui/src/app/store/fabric/slice.ts
  ui/src/root-reducer.js
  ui/src/testing/factories/state.ts
Labels: Review: Code +1, Review: QA +1

#1745 feat(legacy): add mark broken error description to machine details
  legacy/src/app/controllers/node_details.js
  legacy/src/app/controllers/tests/test_node_details.js
  legacy/src/app/partials/node-details.html
Labels: Legacy 🧟‍♂️, Review: Code +1, Review: QA +1

#1742 fix(legacy): show the full power type name
  legacy/src/app/controllers/node_details.js
  legacy/src/app/partials/cards/controller.html
  legacy/src/app/partials/cards/machine-overview.html
  shared/src/index.js
  shared/src/utils.js
  shared/src/utils.test.js
Labels: Legacy 🧟‍♂️, Review: Code +1, Review: QA +1

#1719 feat(legacy): display release notifications on the dashboard
  legacy/src/app/controllers/dashboard.js
  legacy/src/app/directives/notifications.js
  legacy/src/app/directives/tests/test_notifications.js
  legacy/src/app/factories/notifications.js
  legacy/src/app/partials/nodelist/notifications.html
  legacy/src/scss/_patterns_notification.scss
Labels: Legacy 🧟‍♂️, Review: Code +1, Review: QA +1

#1748 fix(notifications): fix dismiss all link appearing when none can be dismissed
  legacy/src/app/directives/notifications.js
  legacy/src/app/directives/tests/test_notifications.js
  legacy/src/app/partials/nodelist/notifications.html
  ui/src/app/base/components/NotificationGroup/NotificationGroup.test.tsx
  ui/src/app/base/components/NotificationGroup/NotificationGroup.tsx
Labels: Legacy 🧟‍♂️, Review: Code +1, Review: QA +1

#1749 chore(deps): update react-components to 0.13.0
  ui/package.json
  yarn.lock
Labels: Review: Code +1, Review: QA +1

#1735 docs(shared): update the docs lnks in the footer to the offline docs
  shared/src/components/Footer/Footer.js
  shared/src/components/Footer/__snapshots__/Footer.test.js.snap
Labels: Review: Code +1, Review: QA +1

#1751 build(legacy, ui): minimise legacy and remove profile from ui
  legacy/webpack.prod.js
  ui/package.json
Labels: Legacy 🧟‍♂️, Review: Code +1

#1756 fix(legacy): preselect default commissioning release when using custom image source
  legacy/src/app/directives/boot_images.js
  legacy/src/app/directives/tests/test_boot_images.js
Labels: Legacy 🧟‍♂️, Review: Code +1, Review: QA +1

#1763 fix(ui): add validation for ipmi username config
  ui/src/app/settings/views/Configuration/CommissioningForm/CommissioningForm.tsx
  ui/src/app/settings/views/Configuration/CommissioningFormFields/CommissioningFormFields.tsx
Labels: Review: Code +1, Review: QA +1

#1765 fix(legacy): show VM as NUMA-aligned if its host has only one NUMA node
  legacy/src/app/controllers/node_details.js
  legacy/src/app/controllers/tests/test_node_details.js
  legacy/src/app/partials/cards/machine-overview.html
Labels: Legacy 🧟‍♂️, Review: Code +1, Review: QA +1

#1764 fix(footer): prefix the offline docs with the provided basename
  shared/src/components/Footer/Footer.js
Labels: Review: Code +1, Review: QA +1

#1769 fix(legacy): correctly truncate network summary DHCP column
  legacy/src/app/partials/cards/network.html
Labels: Legacy 🧟‍♂️, Review: Code +1, Review: QA +1

#1758 fix(legacy): only fetch the current machine on machine details
  legacy/src/app/controllers/node_details.js
  legacy/src/app/controllers/tests/test_node_details.js
  legacy/src/app/services/manager.js
Labels: Legacy 🧟‍♂️, Review: Code +1 (with changes), Review: QA +1

#1781 refactor(root): remove errant root yarn.lock
  root/yarn.lock
Labels: Review: Code +1

#1779 fix(shared): highlight the nav for pools
  shared/src/components/Header/Header.js
Labels: Review: Code +1, Review: QA +1

#1780 fix(legacy): fix the events notification link to point to the right node
  legacy/src/app/partials/nodedetails/node-details-summary.html
Labels: Legacy 🧟‍♂️, Review: Code +1, Review: QA +1

#1776 test(ui): add cypress tests for devices and pools
  integration/cypress/integration/pools/list.spec.ts
Labels: Review: Code needed, Review: QA needed

#1786 fix(ui): fix expanding table header misalignment
  ui/src/scss/_vanilla-overrides.scss
Labels: Review: Code needed, Review: QA needed

#1785 refactor(legacy): remove unused css
  legacy/src/css/build.css
  legacy/src/scss/_maas.scss
  legacy/src/scss/_patterns_charts.scss
  legacy/src/scss/_patterns_cores-chart.scss
  legacy/src/scss/_patterns_meter.scss
  legacy/src/scss/_patterns_navigation.scss
  legacy/src/scss/_patterns_option-selector.scss
  legacy/src/scss/_patterns_pod-summary.scss
  legacy/src/scss/_patterns_popovers.scss
  legacy/src/scss/build.scss
Labels: Legacy 🧟‍♂️, Review: Code +1, Review: QA +1

#1778 test(cypress): add Cypress tests for the dashboard, header and login
  .github/workflows/cypress.yml
  integration/cypress.json
  integration/cypress/integration/base/footer.spec.ts
  integration/cypress/integration/base/header.spec.ts
  integration/cypress/integration/legacy/dashboard.spec.ts
  integration/cypress/integration/login/login.spec.ts
  integration/cypress/integration/no-users/login.spec.ts
  ui/src/app/App.js
Labels: Review: Code +1

#1766 refactor(legacy): remove unused legacy auth
  legacy/package.json
  legacy/src/app/directives/login.js
  legacy/src/app/directives/tests/test_login.js
  legacy/src/app/entry.js
  legacy/webpack.common.js
  yarn.lock
Labels: Legacy 🧟‍♂️, Review: Code +1, Review: QA +1

#1789 fix(ui): add a cancel button to the script upload form
  ui/src/app/settings/views/Scripts/ScriptsUpload/ScriptsUpload.js
  ui/src/app/settings/views/Scripts/ScriptsUpload/ScriptsUpload.test.js
Labels: Review: Code +1, Review: QA +1

#1790 fix(ui): search repos by display name
  ui/src/app/settings/views/Repositories/RepositoriesList/RepositoriesList.js
  ui/src/app/settings/views/Repositories/RepositoryForm/RepositoryForm.js
  ui/src/app/settings/views/Repositories/utils.js
  ui/src/app/store/packagerepository/selectors.test.ts
  ui/src/app/store/packagerepository/selectors.ts
  ui/src/app/store/packagerepository/utils.ts
Labels: Review: Code +1, Review: QA +1

#1788 fix(cypress): fix cypress tests rendering incorrect navigation on new MAAS installs
  .github/workflows/cypress.yml
  integration/cypress.json
  integration/cypress/integration/base/header.spec.ts
  integration/cypress/integration/login/login.spec.ts
  integration/cypress/integration/utils.ts
  legacy/src/app/controllers/master.js
  ui/src/app/App.js
Labels: Legacy 🧟‍♂️, Review: Code +1, Review: QA +1

#1798 fix(legacy): fix the legacy navigation css
  legacy/src/scss/_patterns_navigation.scss
  legacy/src/scss/build.scss
Labels: Legacy 🧟‍♂️, Review: Code +1, Review: QA +1

#1797 fix(ui): fix redirect when adding a license key
  ui/.betterer.results
  ui/src/app/base/sagas/http.js
  ui/src/app/settings/views/LicenseKeys/LicenseKeyList/LicenseKeyList.js
  ui/src/app/settings/views/LicenseKeys/LicenseKeyList/LicenseKeyList.test.tsx
Labels: Review: Code +1, Review: QA +1

#1801 fix(cypress): remove header RSD test
  integration/cypress/integration/base/header.spec.ts
Labels: Review: Code +1

#1796 fix(ui): return to the correct login screen when logging out with external auth
  ui/.betterer.results
  ui/src/app/App.test.tsx
  ui/src/app/App.tsx
  ui/src/testing/factories/state.ts
Labels: Review: Code +1, Review: QA +1

#1791 feat(ui): added the machine details route
  ui/.betterer.results
  ui/src/app/Routes.tsx
  ui/src/app/base/actions/machine/machine.js
  ui/src/app/base/actions/machine/machine.test.js
  ui/src/app/base/reducers/machine/machine.js
  ui/src/app/base/reducers/machine/machine.test.js
  ui/src/app/machines/views/MachineDetails/MachineDetails.test.tsx
  ui/src/app/machines/views/MachineDetails/MachineDetails.tsx
  ui/src/app/machines/views/MachineDetails/MachineHeader/MachineHeader.test.tsx
  ui/src/app/machines/views/MachineDetails/MachineHeader/MachineHeader.tsx
  ui/src/app/machines/views/MachineDetails/MachineHeader/__snapshots__/MachineHeader.test.tsx.snap
  ui/src/app/machines/views/MachineDetails/MachineHeader/index.ts
  ui/src/app/machines/views/MachineDetails/MachineSummary/MachineSummary.test.tsx
  ui/src/app/machines/views/MachineDetails/MachineSummary/MachineSummary.tsx
  ui/src/app/machines/views/MachineDetails/MachineSummary/__snapshots__/MachineSummary.test.tsx.snap
  ui/src/app/machines/views/MachineDetails/MachineSummary/index.ts
  ui/src/app/machines/views/MachineDetails/__snapshots__/MachineDetails.test.tsx.snap
  ui/src/app/machines/views/MachineDetails/index.ts
  ui/src/app/machines/views/MachineList/MachineListHeader/ActionFormWrapper/OverrideTestForm/OverrideTestForm.js
  ui/src/app/machines/views/MachineList/MachineListHeader/ActionFormWrapper/OverrideTestForm/OverrideTestForm.test.js
  ui/src/app/machines/views/MachineList/MachineListTable/NameColumn/NameColumn.js
  ui/src/app/machines/views/MachineList/MachineListTable/NameColumn/__snapshots__/NameColumn.test.js.snap
  ui/src/app/settings/views/Dhcp/DhcpTarget/DhcpTarget.js
  ui/src/app/settings/views/Dhcp/DhcpTarget/DhcpTarget.test.js
  ui/src/app/settings/views/Dhcp/DhcpTarget/__snapshots__/DhcpTarget.test.js.snap
Labels: Review: Code +1, Review: QA +1

#1804 feat(ui): add tab strip to machine details
  ui/.betterer.results
  ui/src/app/Routes.tsx
  ui/src/app/machines/views/MachineDetails/MachineDetails.tsx
  ui/src/app/machines/views/MachineDetails/MachineHeader/MachineHeader.test.tsx
  ui/src/app/machines/views/MachineDetails/MachineHeader/MachineHeader.tsx
  ui/src/app/machines/views/MachineDetails/MachineHeader/__snapshots__/MachineHeader.test.tsx.snap
  ui/src/app/machines/views/MachineDetails/MachineSummary/MachineSummary.test.tsx
  ui/src/app/machines/views/MachineDetails/MachineSummary/MachineSummary.tsx
  ui/src/app/store/machine/selectors.ts
  ui/src/app/store/machine/types.ts
  ui/src/testing/factories/index.ts
  ui/src/testing/factories/nodes.ts
Labels: Review: Code +1, Review: QA +1

#1805 fix: use webpack serve
  legacy/package.json
  root/package.json
Labels: Legacy 🧟‍♂️, Review: Code +1, Review: QA +1

#1806 fix(ui): allow admin to change user passwords
  ui/.betterer.results
  ui/src/app/base/actions/auth/auth.js
  ui/src/app/base/actions/auth/auth.test.js
  ui/src/app/base/components/NotificationGroup/__snapshots__/NotificationGroup.test.tsx.snap
  ui/src/app/base/components/NotificationList/__snapshots__/NotificationList.test.tsx.snap
  ui/src/app/base/components/UserForm/UserForm.js
  ui/src/app/base/reducers/auth/auth.js
  ui/src/app/base/reducers/auth/auth.test.js
  ui/src/app/machines/views/MachineDetails/__snapshots__/MachineDetails.test.tsx.snap
  ui/src/app/preferences/views/Details/Details.test.js
  ui/src/app/settings/views/Users/UserForm/UserForm.test.tsx
  ui/src/app/settings/views/Users/UserForm/UserForm.tsx
  ui/src/app/settings/views/Users/UserForm/index.ts
  ui/src/app/store/user/types.ts
  ui/src/testing/factories/user.ts
Labels: Backport 2.9 ◀️, Review: Code +1, Review: QA +1

#1813 fix(legacy): serve the CSS in dev
  legacy/webpack.dev.js
Labels: Legacy 🧟‍♂️, Review: Code +1, Review: QA +1

#1807 chore(ui): add types for machine details model
  ui/src/app/store/machine/types.ts
  ui/src/testing/factories/nodes.ts
Labels: Review: Code +1

#1812 fix(legacy): add type=button to cancel buttons
  legacy/src/app/partials/boot-images.html
  legacy/src/app/partials/dashboard.html
  legacy/src/app/partials/dhcp-snippets-table.html
  legacy/src/app/partials/domain-details.html
  legacy/src/app/partials/networks-list.html
  legacy/src/app/partials/node-details.html
  legacy/src/app/partials/nodedetails/storage/datastores.html
  legacy/src/app/partials/nodedetails/storage/disks-partitions.html
  legacy/src/app/partials/nodedetails/storage/filesystems.html
  legacy/src/app/partials/nodes-list.html
  legacy/src/app/partials/ssh-keys.html
  legacy/src/app/partials/vlan-details.html
  legacy/src/app/partials/zone-details.html
Labels: Legacy 🧟‍♂️, Review: Code +1, Review: QA +1

#1816 fix(legacy): fix broken markup in angularjs templates
  legacy/src/app/partials/boot-images.html
  legacy/src/app/partials/cards/images.html
  legacy/src/app/partials/cards/machine-overview.html
  legacy/src/app/partials/cards/memory.html
  legacy/src/app/partials/dashboard.html
  legacy/src/app/partials/directives/cta.html
  legacy/src/app/partials/directives/os-select.html
  legacy/src/app/partials/directives/power-parameters.html
  legacy/src/app/partials/domain-details.html
  legacy/src/app/partials/domains-list.html
  legacy/src/app/partials/error.html
  legacy/src/app/partials/intro-user.html
  legacy/src/app/partials/node-result.html
  legacy/src/app/partials/nodedetails/storage/disks-partitions.html
  legacy/src/app/partials/nodedetails/storage/filesystems.html
  legacy/src/app/partials/nodes-list.html
  legacy/src/app/partials/ssh-keys.html
  legacy/src/app/partials/subnet-details.html
Labels: Legacy 🧟‍♂️, Maintenance 🔨, Review: Code +1

#1815 Add System card and grid layout to machine details
  ui/.betterer.results
  ui/src/app/base/components/LabelledList/LabelledList.test.tsx
  ui/src/app/base/components/LabelledList/LabelledList.tsx
  ui/src/app/base/components/LabelledList/__snapshots__/LabelledList.test.tsx.snap
  ui/src/app/base/components/LabelledList/_index.scss
  ui/src/app/base/components/LabelledList/index.ts
  ui/src/app/machines/views/MachineDetails/MachineSummary/MachineSummary.tsx
  ui/src/app/machines/views/MachineDetails/MachineSummary/SystemCard/SystemCard.test.tsx
  ui/src/app/machines/views/MachineDetails/MachineSummary/SystemCard/SystemCard.tsx
  ui/src/app/machines/views/MachineDetails/MachineSummary/SystemCard/__snapshots__/SystemCard.test.tsx.snap
  ui/src/app/machines/views/MachineDetails/MachineSummary/SystemCard/index.ts
  ui/src/app/machines/views/MachineDetails/MachineSummary/_index.scss
  ui/src/scss/_patterns_grids.scss
  ui/src/scss/index.scss
  ui/src/testing/factories/nodes.ts
Labels: Review: Code +1, Review: QA +1

#1818 refactor(legacy): run prettier over js and html
  legacy/src/app/controllers/subnet_details.js
  legacy/src/app/factories/tests/test_node_results.js
  legacy/src/app/partials/add-scripts.html
  legacy/src/app/partials/boot-images.html
  legacy/src/app/partials/cards/controller.html
  legacy/src/app/partials/cards/cpu.html
  legacy/src/app/partials/cards/device.html
  legacy/src/app/partials/cards/hardware_info.html
  legacy/src/app/partials/cards/images.html
  legacy/src/app/partials/cards/machine-overview.html
  legacy/src/app/partials/cards/memory.html
  legacy/src/app/partials/cards/network.html
  legacy/src/app/partials/cards/numa.html
  legacy/src/app/partials/cards/services.html
  legacy/src/app/partials/cards/storage.html
  legacy/src/app/partials/cards/system.html
  legacy/src/app/partials/cards/tags.html
  legacy/src/app/partials/dashboard.html
  legacy/src/app/partials/directives/cta.html
  legacy/src/app/partials/directives/error_overlay.html
  legacy/src/app/partials/directives/os-select.html
  legacy/src/app/partials/directives/power-parameters.html
  legacy/src/app/partials/directives/release-options.html
  legacy/src/app/partials/directives/script-runtime.html
  legacy/src/app/partials/domain-details.html
  legacy/src/app/partials/domains-list.html
  legacy/src/app/partials/error.html
  legacy/src/app/partials/fabric-details.html
  legacy/src/app/partials/images.html
  legacy/src/app/partials/intro-user.html
  legacy/src/app/partials/intro.html
  legacy/src/app/partials/ipranges.html
  legacy/src/app/partials/node-details.html
  legacy/src/app/partials/node-events.html
  legacy/src/app/partials/node-result.html
  legacy/src/app/partials/nodedetails/deploy-options.html
  legacy/src/app/partials/nodedetails/node-details-summary.html
  legacy/src/app/partials/nodedetails/storage/disks-partitions.html
  legacy/src/app/partials/nodedetails/storage/filesystems.html
  legacy/src/app/partials/nodelist/nodes-list-filter.html
  legacy/src/app/partials/nodelist/notifications.html
  legacy/src/app/partials/nodes-list.html
  legacy/src/app/partials/script-results-list.html
  legacy/src/app/partials/space-details.html
  legacy/src/app/partials/ssh-keys.html
  legacy/src/app/partials/subnet-details.html
  legacy/src/app/partials/switches-table.html
  legacy/src/app/partials/zones-list.html
Labels: Legacy 🧟‍♂️, Maintenance 🔨, Review: Code +1, Review: QA +1

#1817 refactor(legacy): dedupe the navigation scss
  legacy/src/scss/_patterns_navigation.scss
  legacy/src/scss/build.scss
Labels: Legacy 🧟‍♂️, Review: Code +1, Review: QA +1

#1828 feat(ui): add actions/reducers/selectors for setting an active pod
  ui/.betterer.results
  ui/src/__snapshots__/root-reducer.test.js.snap
  ui/src/app/kvm/views/KVMDetails/KVMDetails.tsx
  ui/src/app/rsd/views/RSDDetails/RSDDetails.tsx
  ui/src/app/store/pod/actions.test.ts
  ui/src/app/store/pod/reducers.test.ts
  ui/src/app/store/pod/selectors.test.ts
  ui/src/app/store/pod/selectors.ts
  ui/src/app/store/pod/slice.ts
  ui/src/app/store/pod/types.ts
  ui/src/app/store/utils/slice.test.ts
  ui/src/testing/factories/state.ts
Labels: Backport 2.9 ◀️, Review: Code +1, Review: QA +1

#1823 fix(legacy): update dnsresource on name change
  legacy/src/app/factories/domains.js
  legacy/src/app/factories/tests/test_domains.js
Labels: Backport 2.9 ◀️, Legacy 🧟‍♂️, Review: Code +1, Review: QA +1

#1827 feat(ui): add action/selector/reducer for setting active machines.
  ui/.betterer.results
  ui/src/__snapshots__/root-reducer.test.js.snap
  ui/src/app/base/actions/machine/machine.js
  ui/src/app/base/actions/machine/machine.test.js
  ui/src/app/base/reducers/machine/machine.js
  ui/src/app/base/reducers/machine/machine.test.js
  ui/src/app/machines/components/ActionFormWrapper/CommissionForm/CommissionForm.test.tsx
  ui/src/app/machines/components/ActionFormWrapper/DeployForm/DeployForm.test.tsx
  ui/src/app/machines/components/ActionFormWrapper/FieldlessForm/FieldlessForm.test.js
  ui/src/app/machines/components/ActionFormWrapper/MarkBrokenForm/MarkBrokenForm.test.tsx
  ui/src/app/machines/components/ActionFormWrapper/OverrideTestForm/OverrideTestForm.test.js
  ui/src/app/machines/components/ActionFormWrapper/SetPoolForm/SetPoolForm.test.js
  ui/src/app/machines/components/ActionFormWrapper/SetZoneForm/SetZoneForm.test.js
  ui/src/app/machines/components/ActionFormWrapper/TagForm/TagForm.test.js
  ui/src/app/machines/components/ActionFormWrapper/TestForm/TestForm.test.js
  ui/src/app/machines/hooks.tsx
  ui/src/app/machines/views/MachineDetails/MachineDetails.test.tsx
  ui/src/app/machines/views/MachineDetails/MachineDetails.tsx
  ui/src/app/store/machine/selectors.test.ts
  ui/src/app/store/machine/selectors.ts
  ui/src/app/store/machine/types.ts
  ui/src/testing/factories/state.ts
Labels: Review: Code +1, Review: QA +1
