Repository canonical/maas-ui, pull requests merged in 2020-08, with the labels that each got.

#1434 add vlan check to displaying disconnected-icon (#1429)
  legacy/src/app/controllers/node_details_networking.js
  legacy/src/app/partials/node-details.html
Labels: Backport 2.8 :arrow_backward:

#1443 Add maas.version tag to Sentry reports.
  legacy/src/app/entry.js
  ui/src/app/base/components/ErrorBoundary/ErrorBoundary.js
Labels: Backport 2.7 :arrow_backward:, Backport 2.8 :arrow_backward:, Enhancement ✨, Review: Code +1

#1427 Add Storage configuration section to KVM compose form.
  ui/src/app/base/components/TagSelector/TagSelector.js
  ui/src/app/base/components/TagSelector/_index.scss
  ui/src/app/kvm/components/KVMActionFormWrapper/ComposeForm/ComposeForm.test.js
  ui/src/app/kvm/components/KVMActionFormWrapper/ComposeForm/ComposeForm.tsx
  ui/src/app/kvm/components/KVMActionFormWrapper/ComposeForm/ComposeFormFields/ComposeFormFields.tsx
  ui/src/app/kvm/components/KVMActionFormWrapper/ComposeForm/InterfacesTable/InterfacesTable.test.tsx
  ui/src/app/kvm/components/KVMActionFormWrapper/ComposeForm/InterfacesTable/InterfacesTable.tsx
  ui/src/app/kvm/components/KVMActionFormWrapper/ComposeForm/InterfacesTable/_index.scss
  ui/src/app/kvm/components/KVMActionFormWrapper/ComposeForm/StorageTable/StorageTable.test.tsx
  ui/src/app/kvm/components/KVMActionFormWrapper/ComposeForm/StorageTable/StorageTable.tsx
  ui/src/app/kvm/components/KVMActionFormWrapper/ComposeForm/StorageTable/_index.scss
  ui/src/app/kvm/components/KVMActionFormWrapper/ComposeForm/StorageTable/index.ts
  ui/src/app/kvm/views/KVMDetails/KVMSummary/KVMSummaryStorage/KVMSummaryStorage.tsx
  ui/src/scss/_patterns_forms.scss
  ui/src/scss/_vanilla-overrides.scss
  ui/src/scss/index.scss
Labels: Review: Code +1, Review: QA +1

#1437 Add release notification setting
  ui/src/app/settings/views/Configuration/GeneralForm/GeneralForm.test.tsx
  ui/src/app/settings/views/Configuration/GeneralForm/GeneralForm.tsx
  ui/src/app/settings/views/Configuration/GeneralForm/index.ts
Labels: Review: Code +1, Review: QA +1

#1436 Display a menu button on release notifications
  ui/src/app/base/components/NotificationGroup/NotificationGroup.test.tsx
  ui/src/app/base/components/NotificationGroup/NotificationGroup.tsx
  ui/src/app/base/components/NotificationList/__snapshots__/NotificationList.test.js.snap
  ui/src/app/store/notification/types.ts
  ui/src/app/store/utils/identifiers.ts
  ui/src/app/store/utils/index.ts
  ui/src/app/store/utils/nodes.ts
  ui/src/scss/_patterns_notifications.scss
Labels: Review: Code +1, Review: QA +1

#1444 add vlan check to displaying disconnected-icon
  legacy/src/app/controllers/node_details_networking.js
  legacy/src/app/partials/node-details.html
Labels: Review: Code +1

#1445 Fix: No item with pk
  legacy/src/app/controllers/node_details.js
  legacy/src/app/controllers/subnet_details.js
  legacy/src/app/controllers/tests/test_node_details.js
  legacy/src/app/services/manager.js
Labels: Review: Code +1, Review: QA +1

#1448 Fix duplicates in ngRepeat.
  legacy/src/app/controllers/node_details.js
  legacy/src/app/controllers/nodes_list.js
  legacy/src/app/controllers/subnet_details.js
  legacy/src/app/controllers/tests/test_subnet_details.js
  legacy/src/app/directives/machines_table.js
  legacy/src/app/filters/remove_duplicates.js
  legacy/src/app/filters/tests/test_remove_duplicates.js
  legacy/src/app/partials/subnet-details.html
Labels: Backport 2.7 :arrow_backward:, Backport 2.8 :arrow_backward:, Review: Code +1, Review: QA +1

#1449 Build SubnetSelect component for KVM compose form.
  ui/src/app/base/components/ContextualMenu/ContextualMenu.js
  ui/src/app/base/components/TableMenu/_index.scss
  ui/src/app/kvm/components/KVMActionFormWrapper/ComposeForm/ComposeFormFields/ComposeFormFields.test.tsx
  ui/src/app/kvm/components/KVMActionFormWrapper/ComposeForm/InterfacesTable/InterfacesTable.test.tsx
  ui/src/app/kvm/components/KVMActionFormWrapper/ComposeForm/InterfacesTable/InterfacesTable.tsx
  ui/src/app/kvm/components/KVMActionFormWrapper/ComposeForm/InterfacesTable/SubnetSelect/SubnetSelect.test.tsx
  ui/src/app/kvm/components/KVMActionFormWrapper/ComposeForm/InterfacesTable/SubnetSelect/SubnetSelect.tsx
  ui/src/app/kvm/components/KVMActionFormWrapper/ComposeForm/InterfacesTable/SubnetSelect/_index.scss
  ui/src/app/kvm/components/KVMActionFormWrapper/ComposeForm/InterfacesTable/SubnetSelect/index.ts
  ui/src/app/kvm/components/KVMActionFormWrapper/ComposeForm/InterfacesTable/_index.scss
  ui/src/app/kvm/components/KVMActionFormWrapper/ComposeForm/StorageTable/StorageTable.test.tsx
  ui/src/app/machines/views/MachineList/MachineListControls/FilterAccordion/__snapshots__/FilterAccordion.test.js.snap
  ui/src/app/machines/views/MachineList/MachineListTable/OwnerColumn/__snapshots__/OwnerColumn.test.js.snap
  ui/src/app/machines/views/MachineList/MachineListTable/PoolColumn/__snapshots__/PoolColumn.test.js.snap
  ui/src/app/machines/views/MachineList/MachineListTable/PowerColumn/__snapshots__/PowerColumn.test.js.snap
  ui/src/app/machines/views/MachineList/MachineListTable/StatusColumn/__snapshots__/StatusColumn.test.js.snap
  ui/src/app/machines/views/MachineList/MachineListTable/ZoneColumn/__snapshots__/ZoneColumn.test.js.snap
  ui/src/scss/_patterns_contextual-menu.scss
  ui/src/scss/index.scss
Labels: Review: Code needed, Review: QA +1

#1447 Connect release notifications setting to the API.
  ui/src/app/settings/views/Configuration/GeneralForm/GeneralForm.test.tsx
  ui/src/app/settings/views/Configuration/GeneralForm/GeneralForm.tsx
  ui/src/app/store/config/selectors.test.ts
  ui/src/app/store/config/selectors.ts
Labels: Review: Code +1, Review: QA +1

#1452 ✨ (legacy): Add cloud-init support to legacy.
  legacy/src/app/controllers/node_details.js
  legacy/src/app/directives/nodedetails/deploy_options.js
  legacy/src/app/directives/nodedetails/user_data_upload.js
  legacy/src/app/directives/os_select.js
  legacy/src/app/directives/tests/test_os_select.js
  legacy/src/app/entry.js
  legacy/src/app/partials/directives/os-select.html
  legacy/src/app/partials/node-details.html
  legacy/src/app/partials/nodedetails/deploy-options.html
Labels: Enhancement ✨, Review: Code +1, Review: QA +1

#1453 Build PoolSelect component for KVM compose form.
  ui/src/app/base/components/Meter/Meter.tsx
  ui/src/app/base/constants.ts
  ui/src/app/kvm/components/KVMActionFormWrapper/ComposeForm/StorageTable/PoolSelect/PoolSelect.test.tsx
  ui/src/app/kvm/components/KVMActionFormWrapper/ComposeForm/StorageTable/PoolSelect/PoolSelect.tsx
  ui/src/app/kvm/components/KVMActionFormWrapper/ComposeForm/StorageTable/PoolSelect/_index.scss
  ui/src/app/kvm/components/KVMActionFormWrapper/ComposeForm/StorageTable/PoolSelect/index.ts
  ui/src/app/kvm/components/KVMActionFormWrapper/ComposeForm/StorageTable/StorageTable.tsx
  ui/src/scss/_patterns_icons.scss
  ui/src/scss/_utilities.scss
  ui/src/scss/index.scss
Labels: Review: Code +1, Review: QA +1

#1455 Fire a Usabilla trigger when the notifications are disabled
  ui/.eslintrc.js
  ui/src/app/settings/views/Configuration/GeneralForm/GeneralForm.test.tsx
  ui/src/app/settings/views/Configuration/GeneralForm/GeneralForm.tsx
Labels: Review: Code +1

#1457 Update KVM list popovers to latest design.
  ui/src/app/kvm/components/KVMActionFormWrapper/ComposeForm/StorageTable/PoolSelect/PoolSelect.test.tsx
  ui/src/app/kvm/components/KVMActionFormWrapper/ComposeForm/StorageTable/PoolSelect/PoolSelect.tsx
  ui/src/app/kvm/components/KVMActionFormWrapper/ComposeForm/StorageTable/PoolSelect/_index.scss
  ui/src/app/kvm/views/KVMList/KVMListTable/CPUColumn/CPUColumn.test.tsx
  ui/src/app/kvm/views/KVMList/KVMListTable/CPUColumn/CPUColumn.tsx
  ui/src/app/kvm/views/KVMList/KVMListTable/CPUColumn/CPUPopover/CPUPopover.test.tsx
  ui/src/app/kvm/views/KVMList/KVMListTable/CPUColumn/CPUPopover/CPUPopover.tsx
  ui/src/app/kvm/views/KVMList/KVMListTable/CPUColumn/CPUPopover/_index.scss
  ui/src/app/kvm/views/KVMList/KVMListTable/RAMColumn/RAMColumn.test.tsx
  ui/src/app/kvm/views/KVMList/KVMListTable/RAMColumn/RAMColumn.tsx
  ui/src/app/kvm/views/KVMList/KVMListTable/RAMColumn/RAMPopover/RAMPopover.test.tsx
  ui/src/app/kvm/views/KVMList/KVMListTable/RAMColumn/RAMPopover/RAMPopover.tsx
  ui/src/app/kvm/views/KVMList/KVMListTable/RAMColumn/RAMPopover/_index.scss
  ui/src/app/kvm/views/KVMList/KVMListTable/StorageColumn/StorageColumn.test.tsx
  ui/src/app/kvm/views/KVMList/KVMListTable/StorageColumn/StorageColumn.tsx
  ui/src/app/kvm/views/KVMList/KVMListTable/StorageColumn/StoragePopover/StoragePopover.test.tsx
  ui/src/app/kvm/views/KVMList/KVMListTable/StorageColumn/StoragePopover/StoragePopover.tsx
  ui/src/app/kvm/views/KVMList/KVMListTable/StorageColumn/StoragePopover/_index.scss
  ui/src/app/utils/formatBytes.ts
  ui/src/scss/_patterns_icons.scss
  ui/src/scss/_patterns_tables.scss
Labels: Review: Code +1, Review: QA +1

#1338 Open machine listing when starting webpack-dev-server.
  root/webpack.dev.js
Labels: Review: Code +1, Review: QA +1

#1463 Add LP to GH issues script and cron
  .github/workflows/lp-to-gh-issues.yml
  scripts/lp-bugs-to-gh-issues.py
Labels: Review: Code +1

#1468 fix(legacy): Correctly redirect to legacy for user intro.
  ui/src/app/App.js
Labels: Affects unreleased :bug:, Bug 🐛, Priority: Critical, Review: Code +1, Review: QA +1

#1467 chore(CI): Add github labeler action.
  .github/labeler.yml
  .github/workflows/labeler.yaml
Labels: Review: Code +1

#1472 Import os migrate script
  .github/workflows/lp-to-gh-issues.yml
  scripts/lp-bugs-to-gh-issues.py
Labels: Review: Code +1

#1465 fix(legacy): Add focal to KVMDeployOSBlacklist.
  legacy/.eslintrc.js
  legacy/src/app/factories/nodes.js
  legacy/src/app/services/osblacklist.js
Labels: Backport 2.7 :arrow_backward:, Backport 2.8 :arrow_backward:, Bug 🐛, Legacy 🧟‍♂️, Review: Code +1, Review: QA +1

#1474 feat(workspace): Add commitizen.
  README.md
  package.json
  yarn.lock
Labels: Maintenance 🔨, Review: Code +1

#1480 Set up scaffolding components and grid layouts for KVM resources cards.
  ui/src/app/base/components/Switch/Switch.tsx
  ui/src/app/kvm/components/KVMResourcesCard/KVMResourcesCard.test.tsx
  ui/src/app/kvm/components/KVMResourcesCard/KVMResourcesCard.tsx
  ui/src/app/kvm/components/KVMResourcesCard/_index.scss
  ui/src/app/kvm/components/KVMResourcesCard/index.ts
  ui/src/app/kvm/views/KVMDetails/KVMDetailsHeader/KVMDetailsHeader.tsx
  ui/src/app/kvm/views/KVMDetails/KVMSummary/KVMAggregateResources/KVMAggregateResources.tsx
  ui/src/app/kvm/views/KVMDetails/KVMSummary/KVMAggregateResources/index.ts
  ui/src/app/kvm/views/KVMDetails/KVMSummary/KVMNumaResources/KVMNumaResources.tsx
  ui/src/app/kvm/views/KVMDetails/KVMSummary/KVMNumaResources/_index.scss
  ui/src/app/kvm/views/KVMDetails/KVMSummary/KVMNumaResources/index.ts
  ui/src/app/kvm/views/KVMDetails/KVMSummary/KVMStorage/KVMStorage.test.tsx
  ui/src/app/kvm/views/KVMDetails/KVMSummary/KVMStorage/KVMStorage.tsx
  ui/src/app/kvm/views/KVMDetails/KVMSummary/KVMStorage/index.ts
  ui/src/app/kvm/views/KVMDetails/KVMSummary/KVMSummary.test.tsx
  ui/src/app/kvm/views/KVMDetails/KVMSummary/KVMSummary.tsx
  ui/src/app/kvm/views/KVMDetails/KVMSummary/KVMSummaryStorage/index.ts
  ui/src/scss/_patterns_buttons.scss
  ui/src/scss/_patterns_grids.scss
  ui/src/scss/_patterns_switches.scss
  ui/src/scss/_patterns_typography.scss
  ui/src/scss/_settings.scss
  ui/src/scss/_utilities.scss
  ui/src/scss/index.scss
Labels: Review: Code +1, Review: QA +1

#1478 fix(legacy): Pass operational functions to commissioning scripts selector
  legacy/src/app/partials/node-details.html
Labels: Backport 2.7 :arrow_backward:, Backport 2.8 :arrow_backward:, Legacy 🧟‍♂️, Review: Code +1, Review: QA +1

#1486 fix(scripts): Authenticate with Launchpad via credentials file
  scripts/lp-bugs-to-gh-issues.py
Labels: Review: Code +1

#1487 fix(scripts): Pass the LAUNCHPAD_CREDENTIALS secret to the bug migrat…
  .github/workflows/lp-to-gh-issues.yml
Labels: Review: Code needed

#1484 feat(ui): Build redesigned KVM storage cards.
  ui/src/app/base/components/Meter/Meter.test.tsx
  ui/src/app/base/components/Meter/Meter.tsx
  ui/src/app/base/components/Meter/__snapshots__/Meter.test.tsx.snap
  ui/src/app/kvm/components/KVMActionFormWrapper/ComposeForm/StorageTable/PoolSelect/PoolSelect.tsx
  ui/src/app/kvm/components/KVMMeter/KVMMeter.test.tsx
  ui/src/app/kvm/components/KVMMeter/KVMMeter.tsx
  ui/src/app/kvm/components/KVMMeter/__snapshots__/KVMMeter.test.tsx.snap
  ui/src/app/kvm/components/KVMMeter/_index.scss
  ui/src/app/kvm/components/KVMMeter/index.ts
  ui/src/app/kvm/views/KVMDetails/KVMSummary/KVMStorage/KVMStorage.test.tsx
  ui/src/app/kvm/views/KVMDetails/KVMSummary/KVMStorage/KVMStorage.tsx
  ui/src/app/kvm/views/KVMDetails/KVMSummary/KVMStorage/_index.scss
  ui/src/app/kvm/views/KVMList/KVMListTable/CPUColumn/CPUColumn.tsx
  ui/src/app/kvm/views/KVMList/KVMListTable/RAMColumn/RAMColumn.tsx
  ui/src/app/kvm/views/KVMList/KVMListTable/StorageColumn/StorageColumn.tsx
  ui/src/app/kvm/views/KVMList/KVMListTable/StorageColumn/StoragePopover/StoragePopover.tsx
  ui/src/scss/_patterns_typography.scss
  ui/src/scss/_utilities.scss
  ui/src/scss/index.scss
Labels: Review: Code +1 (with changes), Review: QA +1

#1491 feat(ui): Improve styling of KVM details RAM tables.
  ui/src/app/kvm/components/KVMActionFormWrapper/ComposeForm/StorageTable/PoolSelect/PoolSelect.tsx
  ui/src/app/kvm/components/KVMMeter/KVMMeter.tsx
  ui/src/app/kvm/components/KVMMeter/__snapshots__/KVMMeter.test.tsx.snap
  ui/src/app/kvm/components/KVMResourcesCard/KVMResourcesCard.tsx
  ui/src/app/kvm/components/KVMResourcesCard/_index.scss
  ui/src/app/kvm/views/KVMList/KVMListTable/CPUColumn/CPUPopover/CPUPopover.tsx
  ui/src/app/kvm/views/KVMList/KVMListTable/RAMColumn/RAMPopover/RAMPopover.tsx
  ui/src/app/kvm/views/KVMList/KVMListTable/StorageColumn/StoragePopover/StoragePopover.tsx
  ui/src/scss/_patterns_icons.scss
Labels: Review: Code +1, Review: QA +1

#1489 Add CPU and VFs meters to KVM resources page.
  ui/src/app/base/components/Meter/Meter.test.tsx
  ui/src/app/base/components/Meter/Meter.tsx
  ui/src/app/kvm/components/KVMMeter/KVMMeter.tsx
  ui/src/app/kvm/components/KVMMeter/__snapshots__/KVMMeter.test.tsx.snap
  ui/src/app/kvm/components/KVMMeter/_index.scss
  ui/src/app/kvm/components/KVMResourcesCard/KVMResourcesCard.test.tsx
  ui/src/app/kvm/components/KVMResourcesCard/KVMResourcesCard.tsx
  ui/src/app/kvm/components/KVMResourcesCard/__snapshots__/KVMResourcesCard.test.tsx.snap
  ui/src/app/kvm/views/KVMDetails/KVMSummary/KVMAggregateResources/KVMAggregateResources.test.tsx
  ui/src/app/kvm/views/KVMDetails/KVMSummary/KVMAggregateResources/KVMAggregateResources.tsx
  ui/src/app/kvm/views/KVMDetails/KVMSummary/KVMNumaResources/KVMNumaResources.tsx
  ui/src/app/kvm/views/KVMDetails/KVMSummary/KVMStorage/KVMStorage.tsx
  ui/src/app/kvm/views/KVMDetails/KVMSummary/KVMSummary.tsx
Labels: Review: Code +1, Review: QA +1

#1482 feat(ui): update Usabilla to the 2.9 campaign
  shared/src/components/Footer/Footer.js
Labels: Review: Code +1, Review: QA +1

#1475 Fix bootstrapping error
  legacy/src/app/bootstrap.js
  legacy/src/app/entry.js
Labels: Legacy 🧟‍♂️, Review: Code +1, Review: QA +1

#1492 feat(ui): Build expanding dropdowns for KVM NUMA and storage cards.
  ui/src/app/kvm/views/KVMDetails/KVMSummary/KVMNumaResources/KVMNumaResources.test.tsx
  ui/src/app/kvm/views/KVMDetails/KVMSummary/KVMNumaResources/KVMNumaResources.tsx
  ui/src/app/kvm/views/KVMDetails/KVMSummary/KVMStorage/KVMStorage.test.tsx
  ui/src/app/kvm/views/KVMDetails/KVMSummary/KVMStorage/KVMStorage.tsx
  ui/src/app/kvm/views/KVMDetails/KVMSummary/KVMSummary.tsx
Labels: Review: Code +1 (with changes), Review: QA +1

#1512 fix(scripts): Find all "ui" bugs in all statuses
  scripts/lp-bugs-to-gh-issues.py
Labels: Review: Code +1

#1488 Improve commissioning scripts selection UX
  ui/src/app/base/components/TagSelector/TagSelector.test.tsx
  ui/src/app/base/components/TagSelector/TagSelector.tsx
  ui/src/app/base/components/TagSelector/__snapshots__/TagSelector.test.tsx.snap
  ui/src/app/base/components/TagSelector/_index.scss
  ui/src/app/base/components/TagSelector/index.ts
  ui/src/app/machines/views/MachineList/MachineListHeader/ActionFormWrapper/ActionFormWrapper.test.tsx
  ui/src/app/machines/views/MachineList/MachineListHeader/ActionFormWrapper/CommissionForm/CommissionForm.js
  ui/src/app/machines/views/MachineList/MachineListHeader/ActionFormWrapper/CommissionForm/CommissionFormFields/CommissionFormFields.js
  ui/src/app/store/scripts/selectors.test.ts
  ui/src/app/store/scripts/selectors.ts
  ui/src/testing/factories/scripts.ts
Labels: Bug 🐛, Priority: High, Review: Code +1, Review: QA +1, Review: UX +1

#1511 feat(ui): update new-release notifications
  ui/src/app/base/components/NotificationGroup/Notification/Notification.test.tsx
  ui/src/app/base/components/NotificationGroup/Notification/Notification.tsx
  ui/src/app/base/components/NotificationGroup/Notification/__snapshots__/Notification.test.tsx.snap
  ui/src/app/base/components/NotificationList/__snapshots__/NotificationList.test.tsx.snap
  ui/src/scss/_patterns_notifications.scss
  yarn.lock
Labels: Review: Code +1, Review: QA +1

#1510 feat(ui): focus on the username when displaying the login form
  ui/package.json
  ui/src/app/base/components/Login/Login.js
  yarn.lock
Labels: Review: Code +1, Review: QA +1

#1573 feat(ui): teach MachineListTable to hide columns
  ui/.betterer.results
  ui/src/app/machines/views/MachineList/MachineListTable/MachineListTable.js
  ui/src/app/machines/views/MachineList/MachineListTable/MachineListTable.test.js
Labels: Review: Code +1 (with changes), Review: QA +1

#1575 feat(ui): Update NUMA view to 4-col design + handle cases of absent data.
  ui/src/app/kvm/components/KVMMeter/KVMMeter.tsx
  ui/src/app/kvm/components/KVMMeter/__snapshots__/KVMMeter.test.tsx.snap
  ui/src/app/kvm/components/KVMResourcesCard/KVMResourcesCard.test.tsx
  ui/src/app/kvm/components/KVMResourcesCard/KVMResourcesCard.tsx
  ui/src/app/kvm/components/KVMResourcesCard/__snapshots__/KVMResourcesCard.test.tsx.snap
  ui/src/app/kvm/components/KVMResourcesCard/_index.scss
  ui/src/app/kvm/views/KVMDetails/KVMSummary/KVMAggregateResources/KVMAggregateResources.tsx
  ui/src/app/kvm/views/KVMDetails/KVMSummary/KVMNumaResources/KVMNumaResources.test.tsx
  ui/src/app/kvm/views/KVMDetails/KVMSummary/KVMNumaResources/KVMNumaResources.tsx
  ui/src/app/kvm/views/KVMDetails/KVMSummary/KVMNumaResources/_index.scss
  ui/src/app/kvm/views/KVMDetails/KVMSummary/KVMSummary.tsx
  ui/src/scss/_patterns_buttons.scss
  ui/src/scss/_settings.scss
  ui/src/scss/_utilities.scss
Labels: Review: Code +1, Review: QA +1

#1574 feat(ui): right align release notification settings link
  ui/src/app/base/components/NotificationGroup/Notification/Notification.tsx
  ui/src/app/base/components/NotificationGroup/Notification/__snapshots__/Notification.test.tsx.snap
  ui/src/app/base/components/NotificationList/__snapshots__/NotificationList.test.tsx.snap
  ui/src/scss/_patterns_notifications.scss
Labels: Review: Code +1, Review: QA +1

#1509 feat(ui): send analytics event for cloud-init data
  ui/src/app/machines/views/MachineList/MachineListHeader/ActionFormWrapper/DeployForm/DeployForm.test.tsx
  ui/src/app/machines/views/MachineList/MachineListHeader/ActionFormWrapper/DeployForm/DeployForm.tsx
Labels: Review: Code +1

#1470 chore(CI): migrate cypress to github actions
  .github/workflows/cypress.yml
  foo
  proxy/cypress.json
  proxy/cypress/integration/utils.ts
Labels: Review: Code +1, Review: QA +1

#1577 Add GA events to KVM details + store NUMA view toggle state in local storage
  ui/src/app/kvm/views/KVMDetails/KVMSummary/KVMNumaResources/KVMNumaResources.test.tsx
  ui/src/app/kvm/views/KVMDetails/KVMSummary/KVMNumaResources/KVMNumaResources.tsx
  ui/src/app/kvm/views/KVMDetails/KVMSummary/KVMStorage/KVMStorage.test.tsx
  ui/src/app/kvm/views/KVMDetails/KVMSummary/KVMStorage/KVMStorage.tsx
  ui/src/app/kvm/views/KVMDetails/KVMSummary/KVMSummary.test.tsx
  ui/src/app/kvm/views/KVMDetails/KVMSummary/KVMSummary.tsx
Labels: Review: Code +1, Review: QA +1

#1578 feat(legacy): add google analytics event for cloud-config.
  legacy/src/app/controllers/node_details.js
  legacy/src/app/controllers/tests/test_node_details.js
Labels: Legacy 🧟‍♂️, Review: Code +1

#1586 feat(ui): add mini machine list to kvm node contextual menus.
  ui/src/app/kvm/components/KVMResourcesCard/KVMResourcesCard.tsx
  ui/src/app/kvm/components/KVMResourcesCard/__snapshots__/KVMResourcesCard.test.tsx.snap
  ui/src/app/kvm/components/KVMResourcesCard/_index.scss
  ui/src/app/machines/views/MachineList/MachineListTable/MachineListTable.js
Labels: Review: Code +1, Review: Design needed, Review: QA +1
