Repository canonical/maas-ui, pull requests merged in 2020-05, with the labels that each got.

#1069 Move contextual menus when the window is resized
  ui/src/app/base/components/ContextualMenu/ContextualMenu.js
  ui/src/app/base/components/ContextualMenu/ContextualMenuDropdown/ContextualMenuDropdown.js
  ui/src/app/base/components/ContextualMenu/ContextualMenuDropdown/ContextualMenuDropdown.test.js
  ui/src/app/base/components/ContextualMenu/ContextualMenuDropdown/__snapshots__/ContextualMenuDropdown.test.js.snap
  ui/src/app/base/components/ContextualMenu/ContextualMenuDropdown/index.js
  ui/src/app/base/components/ContextualMenu/__snapshots__/ContextualMenu.test.js.snap
  ui/src/app/base/hooks.js
Labels: Review: Code +1, Review: QA +1

#1073 Update OverrideFailedTestForm formatting and warning text.
  ui/src/app/machines/components/HeaderStrip/ActionFormWrapper/OverrideTestForm/OverrideTestForm.js
  ui/src/app/machines/components/HeaderStrip/ActionFormWrapper/OverrideTestForm/OverrideTestForm.test.js
Labels: Review: Code +1 (with changes), Review: QA +1

#1075 Close action form when navigating away from /machines.
  ui/src/app/machines/components/HeaderStrip/HeaderStrip.js
  ui/src/app/machines/views/Machines.test.js
Labels: Review: Code +1, Review: QA +1

#1059 Combine available and selected machine strings.
  ui/src/app/machines/components/HeaderStrip/HeaderStrip.js
  ui/src/app/machines/components/HeaderStrip/HeaderStrip.test.js
Labels: Review: Code +1 (with changes), Review: QA +1

#1078 Upgrade Vanilla to 2.10.1
  ui/package.json
  ui/src/app/base/components/Section/_index.scss
  ui/src/scss/_vanilla-overrides.scss
  yarn.lock
Labels: Review: Code +1, Review: QA +1

#1079 Raise an error for unused variables.
  ui/.eslintrc.json
  ui/src/app/settings/views/Repositories/RepositoryFormFields/RepositoryFormFields.js
Labels: Review: Code +1

#1081 Add mixed selection state to machine list checkboxes.
  ui/src/app/machines/views/MachineList/MachineListTable/MachineListTable.js
  ui/src/app/machines/views/MachineList/MachineListTable/MachineListTable.test.js
  ui/src/scss/_patterns_forms.scss
Labels: Review: Code +1, Review: QA +1

#1080 Fix tag selector margin.
  ui/src/app/base/components/TagSelector/_index.scss
Labels: Review: Code +1, Review: QA +1

#1082 Action button progress
  ui/src/app/machines/components/HeaderStrip/ActionFormWrapper/ActionForm/ActionForm.js
  ui/src/app/machines/components/HeaderStrip/ActionFormWrapper/ActionForm/ActionForm.test.js
  ui/src/app/machines/components/HeaderStrip/ActionFormWrapper/ActionFormWrapper.test.js
  ui/src/app/machines/components/HeaderStrip/ActionFormWrapper/CommissionForm/CommissionForm.js
  ui/src/app/machines/components/HeaderStrip/ActionFormWrapper/CommissionForm/CommissionForm.test.js
  ui/src/app/machines/components/HeaderStrip/ActionFormWrapper/DeployForm/DeployForm.js
  ui/src/app/machines/components/HeaderStrip/ActionFormWrapper/DeployForm/DeployForm.test.js
  ui/src/app/machines/components/HeaderStrip/ActionFormWrapper/MachinesProcessing/MachinesProcessing.js
  ui/src/app/machines/components/HeaderStrip/ActionFormWrapper/MachinesProcessing/MachinesProcessing.test.js
  ui/src/app/machines/components/HeaderStrip/ActionFormWrapper/MachinesProcessing/__snapshots__/MachinesProcessing.test.js.snap
  ui/src/app/machines/components/HeaderStrip/ActionFormWrapper/MachinesProcessing/index.js
  ui/src/app/machines/components/HeaderStrip/ActionFormWrapper/OverrideTestForm/OverrideTestForm.js
  ui/src/app/machines/components/HeaderStrip/ActionFormWrapper/OverrideTestForm/OverrideTestForm.test.js
  ui/src/app/machines/components/HeaderStrip/ActionFormWrapper/SetPoolForm/SetPoolForm.js
  ui/src/app/machines/components/HeaderStrip/ActionFormWrapper/SetPoolForm/SetPoolForm.test.js
  ui/src/app/machines/components/HeaderStrip/ActionFormWrapper/SetPoolForm/SetPoolFormFields/SetPoolFormFields.test.js
  ui/src/app/machines/components/HeaderStrip/ActionFormWrapper/SetZoneForm/SetZoneForm.js
  ui/src/app/machines/components/HeaderStrip/ActionFormWrapper/SetZoneForm/SetZoneForm.test.js
  ui/src/app/machines/components/HeaderStrip/ActionFormWrapper/TagForm/TagForm.js
  ui/src/app/machines/components/HeaderStrip/ActionFormWrapper/TagForm/TagForm.test.js
  ui/src/app/machines/components/HeaderStrip/ActionFormWrapper/TestForm/TestForm.js
  ui/src/app/machines/components/HeaderStrip/ActionFormWrapper/TestForm/TestForm.test.js
  ui/src/app/machines/components/HeaderStrip/HeaderStrip.js
  ui/src/app/machines/components/HeaderStrip/HeaderStrip.test.js
  ui/src/app/machines/components/HeaderStrip/hooks.js
  ui/src/app/machines/views/MachineList/MachineList.js
  ui/src/app/machines/views/Machines.js
Labels: Review: Code +1, Review: QA +1

#1072 Add license to monorepo package.json to suppress message.
  package.json
Labels: Maintenance 🔨, Review: Code +1

#1086 Use createSelector for all selectors that can use it
  ui/src/app/base/selectors/controller/controller.js
  ui/src/app/base/selectors/device/device.js
  ui/src/app/base/selectors/dhcpsnippet/dhcpsnippet.js
  ui/src/app/base/selectors/general/osInfo.js
  ui/src/app/base/selectors/general/version.js
  ui/src/app/base/selectors/licensekeys/licensekeys.js
  ui/src/app/base/selectors/machine/machine.js
  ui/src/app/base/selectors/notification/notification.js
  ui/src/app/base/selectors/packagerepository/packagerepository.js
  ui/src/app/base/selectors/resourcepool/resourcepool.js
  ui/src/app/base/selectors/scriptresults/scriptresults.js
  ui/src/app/base/selectors/scripts/scripts.js
  ui/src/app/base/selectors/subnet/subnet.js
  ui/src/app/base/selectors/user/user.js
  ui/src/app/preferences/selectors/token/token.js
Labels: Review: Code +1

#1089 Change LXD KVM password input to type="password".
  legacy/src/app/directives/pod_parameters.js
Labels: Review: Code +1, Review: QA +1

#1088 Remove power fields meant for individual nodes from add chassis form.
  ui/src/app/base/hooks.js
  ui/src/app/machines/components/PowerTypeFields/PowerTypeFields.js
  ui/src/app/machines/components/PowerTypeFields/PowerTypeFields.test.js
  ui/src/app/machines/views/AddChassis/AddChassisForm/AddChassisForm.js
  ui/src/app/machines/views/AddChassis/AddChassisForm/AddChassisForm.test.js
  ui/src/app/machines/views/AddChassis/AddChassisFormFields/AddChassisFormFields.js
  ui/src/app/machines/views/AddChassis/AddChassisFormFields/AddChassisFormFields.test.js
  ui/src/app/machines/views/AddMachine/AddMachineForm/AddMachineForm.js
  ui/src/app/utils/formatPowerParameters.js
  ui/src/app/utils/formatPowerParameters.test.js
  ui/src/app/utils/index.js
  ui/src/app/utils/trimPowerParameters.js
Labels: Review: Code +1 (with changes), Review: QA +1

#1094 Set package public and build on prepublish
  shared/package.json
Labels: Review: Code +1

#1102 Fix markup in script history expanding cell.
  legacy/src/app/partials/script-results-list.html
Labels: Review: Code +1

#1092 Remove all deprecationNotices components/actions/selectors/reducers.
  legacy/src/app/directives/notifications.js
  legacy/src/app/directives/tests/test_notifications.js
  legacy/src/app/partials/nodelist/notifications.html
  ui/src/__snapshots__/root-reducer.test.js.snap
  ui/src/app/App.test.js
  ui/src/app/base/actions/general/general.js
  ui/src/app/base/actions/general/general.test.js
  ui/src/app/base/components/DeprecationNotices/DeprecationNotices.js
  ui/src/app/base/components/DeprecationNotices/DeprecationNotices.test.js
  ui/src/app/base/components/DeprecationNotices/index.js
  ui/src/app/base/components/NotificationGroup/NotificationGroup.js
  ui/src/app/base/components/NotificationGroup/NotificationGroup.test.js
  ui/src/app/base/components/NotificationGroup/__snapshots__/NotificationGroup.test.js.snap
  ui/src/app/base/components/NotificationGroupMessage/NotificationGroupMessage.js
  ui/src/app/base/components/NotificationList/__snapshots__/NotificationList.test.js.snap
  ui/src/app/base/components/Section/Section.js
  ui/src/app/base/reducers/general/general.js
  ui/src/app/base/reducers/general/general.test.js
  ui/src/app/base/selectors/general/deprecationNotices.js
  ui/src/app/base/selectors/general/deprecationNotices.test.js
  ui/src/app/base/selectors/general/index.js
  ui/src/app/base/views/NotFound/NotFound.test.js
  ui/src/app/machines/views/Machines.js
  ui/src/app/machines/views/Machines.test.js
  ui/src/scss/_patterns_notifications.scss
Labels: Review: Code +1, Review: QA +1

#1104 Replace JS pod owner count calculation with backend data.
  legacy/src/app/controllers/pods_list.js
  legacy/src/app/controllers/tests/test_pods_list.js
  legacy/src/app/partials/pods-list.html
Labels: Review: Code +1, Review: QA +1

#1111 Fix KVM list QA issues
  legacy/src/app/controllers/pods_list.js
  legacy/src/app/controllers/tests/test_pods_list.js
  legacy/src/app/partials/pods-list.html
  legacy/src/scss/_patterns_cores-chart.scss
Labels: Review: Code +1 (with changes), Review: QA +1

#1122 Disable production profiling.
  ui/package.json
Labels: Review: Code +1

#1126 Fix machine details links and routing.
  legacy/package.json
  legacy/src/app/controllers/master.js
  legacy/src/app/controllers/pods_list.js
  root/package.json
  ui/src/app/App.js
  ui/src/app/machines/views/MachineList/MachineListTable/NameColumn/NameColumn.js
  ui/src/app/machines/views/MachineList/MachineListTable/NameColumn/__snapshots__/NameColumn.test.js.snap
  yarn.lock
Labels: Review: Code +1, Review: QA +1

#1127 Upgrade legacy vanilla
  legacy/package.json
  legacy/src/app/partials/cards/machine-overview.html
  legacy/src/app/partials/dashboard.html
  legacy/src/app/partials/images.html
  legacy/src/app/partials/ipranges.html
  legacy/src/app/partials/layout.html
  legacy/src/app/partials/node-details.html
  legacy/src/app/partials/node-result.html
  legacy/src/app/partials/nodedetails/storage/disks-partitions.html
  legacy/src/app/partials/nodes-list.html
  legacy/src/app/partials/pod-details.html
  legacy/src/app/partials/pod-details/pod-details-summary.html
  legacy/src/app/partials/pods-list.html
  legacy/src/app/partials/settings.html
  legacy/src/app/partials/subnet-details.html
  legacy/src/scss/_maas.scss
  legacy/src/scss/_patterns_cta.scss
  legacy/src/scss/_patterns_footer.scss
  legacy/src/scss/_patterns_forms.scss
  legacy/src/scss/_patterns_numa.scss
  legacy/src/scss/_patterns_option-selector.scss
  legacy/src/scss/_patterns_page-header.scss
  legacy/src/scss/_patterns_tabs.scss
  legacy/src/scss/grids/_patterns_machine-overview.scss
  legacy/src/scss/lists/_patterns_labelled-list.scss
  legacy/src/scss/tables/_base_tables.scss
  legacy/src/scss/tables/_patterns_double-row.scss
  legacy/src/scss/tables/_patterns_table-controllers.scss
  legacy/src/scss/tables/_patterns_table-machines.scss
  ui/src/app/App.js
  ui/src/scss/index.scss
  yarn.lock
Labels: Review: Code +1, Review: QA +1

#1128 Add root error boundary.
  ui/src/single-spa-entry.js
Labels: Review: Code +1, Review: QA +1

#1130 Update build-all
  package.json
  root/package.json
  root/webpack.config.js
  yarn.lock
Labels: Review: Code +1

#1129 Fix cypress tests
  legacy/package.json
  proxy/package.json
  root/package.json
  root/src/root-application.js
  root/webpack.config.js
  shared/src/components/Header/__snapshots__/Header.test.js.snap
  yarn.lock
Labels: Review: Code +1

#1132 Fix maas init in CircleCI.
  .circleci/config.yml
Labels: Review: Code +1

#1138 Auto-format MAC address field.
  ui/src/app/machines/views/AddMachine/AddMachineFormFields/AddMachineFormFields.js
  ui/src/app/utils/formatMacAddress.js
  ui/src/app/utils/formatMacAddress.test.js
  ui/src/app/utils/index.js
Labels: Review: Code +1, Review: QA +1

#1137 Fix KVM details QA issues.
  legacy/src/app/controllers/pod_details.js
  legacy/src/app/controllers/tests/test_node_details_storage.js
  legacy/src/app/controllers/tests/test_pod_details.js
  legacy/src/app/directives/maas_obj_form.js
  legacy/src/app/directives/tests/test_maas_obj_form.js
  legacy/src/app/filters/format_bytes.js
  legacy/src/app/filters/tests/test_format_bytes.js
  legacy/src/app/partials/pod-details.html
Labels: Review: Code +1 (with changes), Review: QA +1

#1143 Make root app relative.
  root/package.json
  root/src/index.ejs
  root/webpack.common.js
  root/webpack.dev.js
  root/webpack.prod.js
  yarn.lock
Labels: Review: Code +1, Review: QA +1

#1140 Update usabilla script
  shared/src/components/Footer/Footer.js
Labels: Review: Code +1

#1146 Use style-loader in production build.
  package.json
  ui/config-overrides.js
  ui/package.json
  ui/src/app/App.js
  ui/src/index.js
  yarn.lock
Labels: Review: Code +1, Review: QA +1

#1141 Fix interface constraint construction in VM host compose form.
  legacy/src/app/controllers/pod_details.js
  legacy/src/app/controllers/tests/test_pod_details.js
  legacy/src/app/partials/pod-details.html
  legacy/src/scss/_patterns_option-selector.scss
Labels: Review: Code +1, Review: QA +1

#1149 Redirect to full route requested, not subpath.
  ui/src/app/App.js
Labels: Review: Code +1, Review: QA +1

#1150 Use html5mode for routeProvider.
  legacy/.env
  legacy/src/app/controllers/master.js
  legacy/src/app/controllers/nodes_list.js
  legacy/src/app/controllers/tests/test_nodes_list.js
  legacy/src/app/directives/machines_table.js
  legacy/src/app/entry.js
  legacy/src/app/partials/cards/tags.html
  legacy/src/app/partials/dashboard.html
  legacy/src/app/partials/domain-details.html
  legacy/src/app/partials/domains-list.html
  legacy/src/app/partials/fabric-details.html
  legacy/src/app/partials/machines-table.html
  legacy/src/app/partials/networks-list.html
  legacy/src/app/partials/node-details.html
  legacy/src/app/partials/node-events.html
  legacy/src/app/partials/node-result.html
  legacy/src/app/partials/nodedetails/storage/disks-partitions.html
  legacy/src/app/partials/nodes-list.html
  legacy/src/app/partials/pods-list.html
  legacy/src/app/partials/script-results-list.html
  legacy/src/app/partials/settings.html
  legacy/src/app/partials/space-details.html
  legacy/src/app/partials/subnet-details.html
  legacy/src/app/partials/switches-table.html
  legacy/src/app/partials/vlan-details.html
  legacy/src/app/partials/zone-details.html
  legacy/src/app/partials/zones-list.html
  legacy/src/app/routes.js
  proxy/.env
  root/.env
  shared/src/components/Header/Header.js
  shared/src/components/Header/Header.test.js
  shared/src/components/Header/__snapshots__/Header.test.js.snap
  ui/.env.development
  ui/.env.production
  ui/src/app/App.js
  ui/src/app/machines/components/HeaderStrip/ActionFormWrapper/OverrideTestForm/OverrideTestForm.js
  ui/src/app/machines/components/HeaderStrip/ActionFormWrapper/OverrideTestForm/OverrideTestForm.test.js
  ui/src/app/machines/views/MachineList/MachineListTable/StatusColumn/StatusColumn.js
Labels: Review: Code +1, Review: QA +1

#1152 Fix angular routing issues when using $location.
  legacy/src/app/controllers/dashboard.js
  legacy/src/app/controllers/domain_details.js
  legacy/src/app/controllers/fabric_details.js
  legacy/src/app/controllers/intro.js
  legacy/src/app/controllers/intro_user.js
  legacy/src/app/controllers/master.js
  legacy/src/app/controllers/node_details.js
  legacy/src/app/controllers/nodes_list.js
  legacy/src/app/controllers/pod_details.js
  legacy/src/app/controllers/space_details.js
  legacy/src/app/controllers/subnet_details.js
  legacy/src/app/controllers/tests/test_dashboard.js
  legacy/src/app/controllers/tests/test_fabric_details.js
  legacy/src/app/controllers/tests/test_intro.js
  legacy/src/app/controllers/tests/test_intro_user.js
  legacy/src/app/controllers/tests/test_node_details.js
  legacy/src/app/controllers/tests/test_nodes_list.js
  legacy/src/app/controllers/tests/test_pod_details.js
  legacy/src/app/controllers/tests/test_space_details.js
  legacy/src/app/controllers/tests/test_subnet_details.js
  legacy/src/app/controllers/tests/test_vlan_details.js
  legacy/src/app/controllers/vlan_details.js
  legacy/src/app/controllers/zone_details.js
  legacy/src/app/factories/pods.js
  legacy/src/app/partials/cards/images.html
  legacy/src/app/partials/nodedetails/node-details-summary.html
  ui/.env.test
  ui/src/app/machines/views/MachineList/MachineListTable/FabricColumn/__snapshots__/FabricColumn.test.js.snap
  ui/src/app/machines/views/MachineList/MachineListTable/NameColumn/__snapshots__/NameColumn.test.js.snap
  ui/src/app/machines/views/MachineList/MachineListTable/StatusColumn/__snapshots__/StatusColumn.test.js.snap
  ui/src/app/machines/views/MachineList/MachineListTable/ZoneColumn/__snapshots__/ZoneColumn.test.js.snap
  ui/src/app/settings/views/Dhcp/DhcpTarget/DhcpTarget.js
  ui/src/app/settings/views/Dhcp/DhcpTarget/DhcpTarget.test.js
  ui/src/app/settings/views/Dhcp/DhcpTarget/__snapshots__/DhcpTarget.test.js.snap
Labels: Review: Code +1, Review: QA +1

#1153 Set publicPath to '/MAAS/r/' in production.
  root/webpack.prod.js
Labels: Review: Code +1, Review: QA +1

#1147 Autofill VM compose form with defaults + add overcommit sliders for LXD hosts.
  legacy/src/app/controllers/pod_details.js
  legacy/src/app/controllers/tests/test_pod_details.js
  legacy/src/app/directives/pod_parameters.js
  legacy/src/app/directives/tests/test_pod_parameters.js
  legacy/src/app/partials/pod-details.html
Labels: Review: Code +1, Review: QA +1

#1155 Display a favicon
  root/package.json
  root/src/index.ejs
  root/src/maas-favicon-32px.png
  root/webpack.common.js
Labels: Review: Code +1, Review: QA +1

#1169 Fix bond member mac addresses.
  legacy/src/app/partials/node-details.html
Labels: Review: Code +1, Review: QA +1

#1170 Fix VM compose storage capacity input.
  legacy/src/app/partials/pod-details.html
  legacy/src/scss/tables/_patterns_table-pods.scss
Labels: Review: Code +1, Review: QA +1

#1178 Fix duplicate tag manager scripts
  shared/src/components/Header/Header.js
Labels: Review: Code +1, Review: QA +1

#1177 Add hashroute redirect with machine listing fallthrough.
  legacy/src/app/entry.js
  legacy/src/app/routes.js
  legacy/src/app/services/tests/test_region.js
  root/src/root-application.js
Labels: Review: Code +1, Review: QA +1

#1179 Fix styling issues from Vanilla class disordering.
  legacy/src/app/directives/tests/test_call_to_action.js
  legacy/src/app/partials/directives/cta.html
  legacy/src/scss/_patterns_button.scss
  legacy/src/scss/_patterns_cta.scss
  legacy/src/scss/_patterns_icons.scss
  legacy/src/scss/_patterns_numa.scss
  legacy/src/scss/_patterns_option-selector.scss
  legacy/src/scss/build.scss
  legacy/src/scss/tables/_patterns_table-machines.scss
  legacy/src/scss/tables/_patterns_table-sortable.scss
  root/src/index.ejs
  root/src/scss/base.scss
  ui/src/scss/_patterns_buttons.scss
  ui/src/scss/index.scss
Labels: Review: Code +1, Review: QA +1
