Repository canonical/maas-ui, pull requests merged in 2020-03, with the labels that each got.

#850 Reset add machine/chassis form if "add another" button used.
  ui/src/app/base/components/FormikForm/FormikForm.js
  ui/src/app/base/components/FormikForm/FormikForm.test.js
  ui/src/app/base/components/FormikFormContent/FormikFormContent.js
  ui/src/app/machines/views/AddChassis/AddChassisForm/AddChassisForm.js
  ui/src/app/machines/views/AddMachine/AddMachineForm/AddMachineForm.js
  ui/src/app/machines/views/AddMachine/AddMachineFormFields/AddMachineFormFields.js
Labels: Review: Code +1, Review: QA +1

#863 Prevent GA events without category + label + event
  legacy/src/app/filters/send_analytics_event.js
  legacy/src/app/filters/tests/test_send_analytics_data.js
Labels: Review: Code +1

#867 Remove password length restriction for users.
  ui/src/app/base/components/UserForm/UserForm.js
Labels: Review: Code +1, Review: QA +1

#876 Move selected machine state from Machines component into Redux.
  ui/src/__snapshots__/root-reducer.test.js.snap
  ui/src/app/base/actions/machine/machine.js
  ui/src/app/base/reducers/machine/machine.js
  ui/src/app/base/reducers/machine/machine.test.js
  ui/src/app/base/selectors/machine/machine.js
  ui/src/app/machines/components/HeaderStrip/ActionFormWrapper/ActionFormWrapper.js
  ui/src/app/machines/components/HeaderStrip/ActionFormWrapper/ActionFormWrapper.test.js
  ui/src/app/machines/components/HeaderStrip/HeaderStrip.js
  ui/src/app/machines/components/HeaderStrip/HeaderStrip.test.js
  ui/src/app/machines/components/HeaderStrip/TakeActionMenu/TakeActionMenu.js
  ui/src/app/machines/components/HeaderStrip/TakeActionMenu/TakeActionMenu.test.js
  ui/src/app/machines/views/MachineList/MachineList.js
  ui/src/app/machines/views/MachineList/MachineList.test.js
  ui/src/app/machines/views/Machines.js
  ui/src/app/machines/views/Machines.test.js
Labels: Review: Code +1, Review: QA +1

#886 Drop old circleci jobs.
  .circleci/config.yml
Labels: Review: Code +1

#888 Fix parsing of GA event handler.
  legacy/src/app/partials/cards/machine-overview.html
Labels: Review: Code +1

#885 Enable production source maps.
  ui/package.json
Labels: Review: Code +1, Review: QA +1

#887 Fix machine list checkboxes highlighting when action cannot be performed.
  legacy/src/app/directives/machines_table.js
  legacy/src/app/directives/tests/test_machines_table.js
  legacy/src/app/partials/machines-table.html
  legacy/src/scss/tables/_patterns_table-machines.scss
Labels: Review: Code +1, Review: Design +1, Review: QA +1

#900 Upgrade connected-react-router to 6.8.0
  ui/package.json
  yarn.lock
Labels: Review: Code +1

#909 Add back ./run
  run
Labels: Review: Code +1, Review: QA +1

#898 Improve search DSL and add selected filtering
  ui/src/app/base/selectors/machine/machine.js
  ui/src/app/machines/filter-nodes.js
  ui/src/app/machines/filter-nodes.test.js
  ui/src/app/machines/search.js
  ui/src/app/machines/search.test.js
  ui/src/app/machines/views/MachineList/MachineList.js
  ui/src/app/utils/search.js
Labels: Review: Code +1, Review: QA +1

#913 Persist grouping
  ui/package.json
  ui/src/app/machines/views/MachineList/MachineList.js
  ui/src/app/machines/views/MachineList/MachineList.test.js
  yarn.lock
Labels: Review: Code +1 (with changes), Review: QA +1

#912 Link from pools to machines
  ui/src/app/pools/views/Pools.js
  ui/src/app/pools/views/Pools.test.js
Labels: Review: Code +1, Review: QA +1

#917 Release v1.1.0.
  package.json
  ui/package.json
  yarn.lock
Labels: Review: Code needed

#922 Fix one character search matching
  ui/src/app/machines/search.js
  ui/src/app/machines/search.test.js
Labels: Review: Code +1, Review: QA +1

#923 Commit vscode workspace configuration.
  .vscode/settings.json
Labels: Enhancement ✨, Review: QA +1
