Repository canonical/maas-ui, pull requests merged in 2020-12, with the labels that each got.

#1945 refactor(ui): maintain disk/partition hierarchy in storage tables
  ui/.betterer.results
  ui/src/app/machines/views/MachineDetails/MachineStorage/AvailableStorageTable/AddPartition/AddPartition.test.tsx
  ui/src/app/machines/views/MachineDetails/MachineStorage/AvailableStorageTable/AddPartition/AddPartition.tsx
  ui/src/app/machines/views/MachineDetails/MachineStorage/AvailableStorageTable/AddPartitionFields/AddPartitionFields.test.tsx
  ui/src/app/machines/views/MachineDetails/MachineStorage/AvailableStorageTable/AvailableStorageTable.test.tsx
  ui/src/app/machines/views/MachineDetails/MachineStorage/AvailableStorageTable/AvailableStorageTable.tsx
  ui/src/app/machines/views/MachineDetails/MachineStorage/BootStatus/BootStatus.test.tsx
  ui/src/app/machines/views/MachineDetails/MachineStorage/BootStatus/BootStatus.tsx
  ui/src/app/machines/views/MachineDetails/MachineStorage/MachineStorage.tsx
  ui/src/app/machines/views/MachineDetails/MachineStorage/NumaNodes/NumaNodes.test.tsx
  ui/src/app/machines/views/MachineDetails/MachineStorage/NumaNodes/NumaNodes.tsx
  ui/src/app/machines/views/MachineDetails/MachineStorage/UsedStorageTable/UsedStorageTable.test.tsx
  ui/src/app/machines/views/MachineDetails/MachineStorage/UsedStorageTable/UsedStorageTable.tsx
Labels: Review: Code +1, Review: QA +1

#1961 feat(ui): add network table component
  ui/src/app/machines/views/MachineDetails/MachineNetwork/MachineNetwork.tsx
  ui/src/app/machines/views/MachineDetails/MachineNetwork/NetworkTable/NetworkTable.test.tsx
  ui/src/app/machines/views/MachineDetails/MachineNetwork/NetworkTable/NetworkTable.tsx
  ui/src/app/machines/views/MachineDetails/MachineNetwork/NetworkTable/index.ts
Labels: Review: Code +1, Review: QA +1

#1960 feat(ui): add ability to remove disks, partitions and volume groups
  ui/src/app/machines/views/MachineDetails/MachineStorage/AvailableStorageTable/AvailableStorageTable.test.tsx
  ui/src/app/machines/views/MachineDetails/MachineStorage/AvailableStorageTable/AvailableStorageTable.tsx
  ui/src/app/machines/views/MachineDetails/MachineStorage/utils-new.test.ts
  ui/src/app/machines/views/MachineDetails/MachineStorage/utils-new.ts
Labels: Review: Code +1, Review: QA +1

#1963 feat(ui): add checkboxes to available disks and partitons table
  ui/.betterer.results
  ui/src/app/machines/views/MachineDetails/MachineStorage/AvailableStorageTable/AvailableStorageTable.test.tsx
  ui/src/app/machines/views/MachineDetails/MachineStorage/AvailableStorageTable/AvailableStorageTable.tsx
Labels: Review: Code +1, Review: QA +1

#1948 refactor(ui): refactor datastores table to use new utils
  ui/src/app/machines/views/MachineDetails/MachineStorage/DatastoresTable/DatastoresTable.test.tsx
  ui/src/app/machines/views/MachineDetails/MachineStorage/DatastoresTable/DatastoresTable.tsx
  ui/src/app/machines/views/MachineDetails/MachineStorage/DatastoresTable/__snapshots__/DatastoresTable.test.tsx.snap
  ui/src/app/machines/views/MachineDetails/MachineStorage/MachineStorage.test.tsx
  ui/src/app/machines/views/MachineDetails/MachineStorage/MachineStorage.tsx
  ui/src/app/machines/views/MachineDetails/MachineStorage/utils-new.ts
Labels: Review: Code +1 (with changes), Review: QA +1

#1951 refactor(ui): refactor filesystems table to use new utils
  ui/.betterer.results
  ui/src/app/machines/views/MachineDetails/MachineStorage/FilesystemsTable/FilesystemsTable.test.tsx
  ui/src/app/machines/views/MachineDetails/MachineStorage/FilesystemsTable/FilesystemsTable.tsx
  ui/src/app/machines/views/MachineDetails/MachineStorage/MachineStorage.tsx
  ui/src/app/machines/views/MachineDetails/MachineStorage/utils-new.ts
  ui/src/app/store/machine/slice.ts
Labels: Review: Code +1 (with changes), Review: QA +1

#1965 feat(ui): add ability to unmount filesystems
  ui/src/app/machines/views/MachineDetails/MachineStorage/AvailableStorageTable/AvailableStorageTable.tsx
  ui/src/app/machines/views/MachineDetails/MachineStorage/FilesystemsTable/FilesystemsTable.test.tsx
  ui/src/app/machines/views/MachineDetails/MachineStorage/FilesystemsTable/FilesystemsTable.tsx
  ui/src/app/machines/views/MachineDetails/MachineStorage/utils.test.ts
  ui/src/app/machines/views/MachineDetails/MachineStorage/utils.ts
  ui/src/app/store/machine/actions.test.ts
  ui/src/app/store/machine/slice.ts
Labels: Review: Code +1, Review: QA +1

#1966 build(all): replace node-sass with dart-sass
  legacy/package.json
  proxy/package.json
  root/package.json
  root/src/scss/base.scss
  ui/package.json
  yarn.lock
Labels: Legacy 🧟‍♂️, Review: Code +1

#1962 feat(ui): add table of testing results
  ui/.betterer.results
  ui/src/app/base/enum.ts
  ui/src/app/machines/views/MachineDetails/MachineTests/MachineTests.test.tsx
  ui/src/app/machines/views/MachineDetails/MachineTests/MachineTests.tsx
  ui/src/app/machines/views/MachineDetails/MachineTests/MachineTestsTable/MachineTestsTable.test.tsx
  ui/src/app/machines/views/MachineDetails/MachineTests/MachineTestsTable/MachineTestsTable.tsx
  ui/src/app/machines/views/MachineDetails/MachineTests/MachineTestsTable/__snapshots__/MachineTestsTable.test.tsx.snap
  ui/src/app/machines/views/MachineDetails/MachineTests/MachineTestsTable/index.ts
  ui/src/app/machines/views/MachineDetails/MachineTests/__snapshots__/MachineTests.test.tsx.snap
  ui/src/testing/factories/noderesult.ts
Labels: Review: Code needed, Review: QA needed

#1964 feat(ui): add name column to machine network tab
  ui/src/app/machines/views/MachineDetails/MachineNetwork/NetworkTable/NetworkTable.tsx
Labels: Review: Code +1, Review: QA +1

#1969 feat(ui): add edit partition functionality
  ui/.betterer.results
  ui/src/app/machines/views/MachineDetails/MachineStorage/ActionConfirm/ActionConfirm.tsx
  ui/src/app/machines/views/MachineDetails/MachineStorage/AvailableStorageTable/AddPartition/AddPartition.tsx
  ui/src/app/machines/views/MachineDetails/MachineStorage/AvailableStorageTable/AvailableStorageTable.test.tsx
  ui/src/app/machines/views/MachineDetails/MachineStorage/AvailableStorageTable/AvailableStorageTable.tsx
  ui/src/app/machines/views/MachineDetails/MachineStorage/AvailableStorageTable/EditPartition/EditPartition.test.tsx
  ui/src/app/machines/views/MachineDetails/MachineStorage/AvailableStorageTable/EditPartition/EditPartition.tsx
  ui/src/app/machines/views/MachineDetails/MachineStorage/AvailableStorageTable/EditPartition/index.ts
  ui/src/app/machines/views/MachineDetails/MachineStorage/AvailableStorageTable/EditPartitionFields/EditPartitionFields.test.tsx
  ui/src/app/machines/views/MachineDetails/MachineStorage/AvailableStorageTable/EditPartitionFields/EditPartitionFields.tsx
  ui/src/app/machines/views/MachineDetails/MachineStorage/AvailableStorageTable/EditPartitionFields/index.ts
  ui/src/app/machines/views/MachineDetails/MachineStorage/ChangeStorageLayout/ChangeStorageLayout.tsx
  ui/src/app/machines/views/MachineDetails/MachineStorage/FilesystemsTable/AddSpecialFilesystem/AddSpecialFilesystem.tsx
Labels: Review: Code +1 (with changes), Review: QA +1

#1971 refactor(ui): add testing result selectors to noderesult selectors
  ui/.betterer.results
  ui/src/app/machines/views/MachineDetails/MachineTests/MachineTests.test.tsx
  ui/src/app/machines/views/MachineDetails/MachineTests/MachineTests.tsx
  ui/src/app/store/noderesult/selectors.test.tsx
  ui/src/app/store/noderesult/selectors.ts
Labels: Review: Code +1 (with changes), Review: QA +1

#1972 feat(ui): add PXE column to network tab
  ui/src/app/machines/views/MachineDetails/MachineNetwork/NetworkTable/NetworkTable.tsx
  ui/src/app/store/machine/types.ts
  ui/src/app/store/machine/utils.test.tsx
  ui/src/app/store/machine/utils.ts
  ui/src/testing/factories/nodes.ts
Labels: Review: Code +1, Review: QA +1

#1975 feat(ui): add link speed column to the network tab
  ui/src/app/machines/views/MachineDetails/MachineNetwork/NetworkTable/NetworkTable.test.tsx
  ui/src/app/machines/views/MachineDetails/MachineNetwork/NetworkTable/NetworkTable.tsx
  ui/src/app/store/machine/utils.test.tsx
  ui/src/app/store/machine/utils.ts
  ui/src/scss/_patterns_icons.scss
Labels: Review: Code +1, Review: QA +1

#1984 fix(legacy): fix navigating from legacy to legacy via the header
  legacy/src/app/controllers/master.js
Labels: Legacy 🧟‍♂️, Review: Code +1, Review: QA +1

#1981 fix(legacy): ensure user commissioning scripts are selected by default
  legacy/src/app/directives/script_select.js
Labels: Backport 2.9 ◀️, Legacy 🧟‍♂️, Review: Code +1, Review: QA +1

#1979 feat(ui): Add ability to remove datastores
  ui/src/app/machines/views/MachineDetails/MachineStorage/DatastoresTable/DatastoresTable.test.tsx
  ui/src/app/machines/views/MachineDetails/MachineStorage/DatastoresTable/DatastoresTable.tsx
  ui/src/app/machines/views/MachineDetails/MachineStorage/MachineStorage.tsx
  ui/src/app/machines/views/MachineDetails/MachineStorage/utils.test.ts
  ui/src/app/machines/views/MachineDetails/MachineStorage/utils.ts
Labels: Review: Code +1, Review: QA +1

#1980 feat(ui): add ability to remove cache sets
  ui/src/app/machines/views/MachineDetails/MachineStorage/CacheSetsTable/CacheSetsTable.test.tsx
  ui/src/app/machines/views/MachineDetails/MachineStorage/CacheSetsTable/CacheSetsTable.tsx
  ui/src/app/machines/views/MachineDetails/MachineStorage/MachineStorage.tsx
Labels: Review: Code +1, Review: QA +1

#1973 feat(ui): add error handling to machine storage forms
  ui/src/app/machines/hooks.test.tsx
  ui/src/app/machines/hooks.tsx
  ui/src/app/machines/views/MachineDetails/MachineStorage/ActionConfirm/ActionConfirm.test.tsx
  ui/src/app/machines/views/MachineDetails/MachineStorage/ActionConfirm/ActionConfirm.tsx
  ui/src/app/machines/views/MachineDetails/MachineStorage/AvailableStorageTable/AddPartition/AddPartition.test.tsx
  ui/src/app/machines/views/MachineDetails/MachineStorage/AvailableStorageTable/AddPartition/AddPartition.tsx
  ui/src/app/machines/views/MachineDetails/MachineStorage/AvailableStorageTable/AvailableStorageTable.tsx
  ui/src/app/machines/views/MachineDetails/MachineStorage/AvailableStorageTable/EditPartition/EditPartition.test.tsx
  ui/src/app/machines/views/MachineDetails/MachineStorage/AvailableStorageTable/EditPartition/EditPartition.tsx
  ui/src/app/machines/views/MachineDetails/MachineStorage/CacheSetsTable/CacheSetsTable.tsx
  ui/src/app/machines/views/MachineDetails/MachineStorage/ChangeStorageLayout/ChangeStorageLayout.test.tsx
  ui/src/app/machines/views/MachineDetails/MachineStorage/ChangeStorageLayout/ChangeStorageLayout.tsx
  ui/src/app/machines/views/MachineDetails/MachineStorage/DatastoresTable/DatastoresTable.tsx
  ui/src/app/machines/views/MachineDetails/MachineStorage/FilesystemsTable/AddSpecialFilesystem/AddSpecialFilesystem.test.tsx
  ui/src/app/machines/views/MachineDetails/MachineStorage/FilesystemsTable/AddSpecialFilesystem/AddSpecialFilesystem.tsx
  ui/src/app/machines/views/MachineDetails/MachineStorage/FilesystemsTable/FilesystemsTable.tsx
  ui/src/app/machines/views/MachineDetails/MachineStorage/MachineStorage.tsx
Labels: Review: Code needed, Review: QA +1

#1989 refactor(ui): add enum for disk types
  ui/.betterer.results
  ui/src/app/machines/views/MachineDetails/MachineStorage/AvailableStorageTable/AvailableStorageTable.test.tsx
  ui/src/app/machines/views/MachineDetails/MachineStorage/BootStatus/BootStatus.test.tsx
  ui/src/app/machines/views/MachineDetails/MachineStorage/BootStatus/BootStatus.tsx
  ui/src/app/machines/views/MachineDetails/MachineStorage/CacheSetsTable/CacheSetsTable.test.tsx
  ui/src/app/machines/views/MachineDetails/MachineStorage/MachineStorage.test.tsx
  ui/src/app/machines/views/MachineDetails/MachineStorage/UsedStorageTable/UsedStorageTable.test.tsx
  ui/src/app/machines/views/MachineDetails/MachineStorage/utils.test.ts
  ui/src/app/machines/views/MachineDetails/MachineStorage/utils.ts
  ui/src/app/store/machine/types.ts
  ui/src/testing/factories/nodes.ts
Labels: Review: Code +1

#1988 feat(ui): add type/numa column to the network tab
  ui/.betterer.results
  ui/src/app/machines/views/MachineDetails/MachineNetwork/NetworkTable/NetworkTable.test.tsx
  ui/src/app/machines/views/MachineDetails/MachineNetwork/NetworkTable/NetworkTable.tsx
  ui/src/app/store/machine/types.ts
  ui/src/app/store/machine/utils.test.tsx
  ui/src/app/store/machine/utils.ts
  ui/src/testing/factories/nodes.ts
Labels: Review: Code +1, Review: QA +1

#1996 refactor(ui): update selected state handling in available storage table
  ui/src/app/machines/views/MachineDetails/MachineStorage/AvailableStorageTable/AvailableStorageTable.tsx
  ui/src/app/store/machine/utils/index.ts
  ui/src/app/store/machine/utils/storage.test.ts
  ui/src/app/store/machine/utils/storage.ts
Labels: Review: Code +1, Review: QA +1

#2000 feat(ui): add ability to edit logical volumes
  ui/.betterer.results
  ui/src/app/machines/views/MachineDetails/MachineStorage/AvailableStorageTable/AvailableStorageTable.test.tsx
  ui/src/app/machines/views/MachineDetails/MachineStorage/AvailableStorageTable/AvailableStorageTable.tsx
  ui/src/app/machines/views/MachineDetails/MachineStorage/AvailableStorageTable/EditLogicalVolume/EditLogicalVolume.test.tsx
  ui/src/app/machines/views/MachineDetails/MachineStorage/AvailableStorageTable/EditLogicalVolume/EditLogicalVolume.tsx
  ui/src/app/machines/views/MachineDetails/MachineStorage/AvailableStorageTable/EditLogicalVolume/index.ts
  ui/src/app/machines/views/MachineDetails/MachineStorage/AvailableStorageTable/EditLogicalVolumeFields/EditLogicalVolumeFields.tsx
  ui/src/app/machines/views/MachineDetails/MachineStorage/AvailableStorageTable/EditLogicalVolumeFields/index.ts
  ui/src/app/store/machine/actions.test.ts
  ui/src/app/store/machine/slice.ts
Labels: Review: Code +1 (with changes), Review: QA +1

#1999 feat(ui): add ability to create volume groups
  ui/.betterer.results
  ui/src/app/machines/views/MachineDetails/MachineStorage/AvailableStorageTable/AvailableStorageTable.test.tsx
  ui/src/app/machines/views/MachineDetails/MachineStorage/AvailableStorageTable/AvailableStorageTable.tsx
  ui/src/app/machines/views/MachineDetails/MachineStorage/AvailableStorageTable/BulkActions/BulkActions.test.tsx
  ui/src/app/machines/views/MachineDetails/MachineStorage/AvailableStorageTable/BulkActions/BulkActions.tsx
  ui/src/app/machines/views/MachineDetails/MachineStorage/AvailableStorageTable/BulkActions/CreateVolumeGroup/CreateVolumeGroup.test.tsx
  ui/src/app/machines/views/MachineDetails/MachineStorage/AvailableStorageTable/BulkActions/CreateVolumeGroup/CreateVolumeGroup.tsx
  ui/src/app/machines/views/MachineDetails/MachineStorage/AvailableStorageTable/BulkActions/CreateVolumeGroup/index.ts
  ui/src/app/machines/views/MachineDetails/MachineStorage/AvailableStorageTable/BulkActions/index.ts
  ui/src/app/machines/views/MachineDetails/MachineStorage/AvailableStorageTable/index.ts
  ui/src/app/store/machine/actions.test.ts
  ui/src/app/store/machine/slice.ts
  ui/src/app/store/machine/utils/index.ts
  ui/src/app/store/machine/utils/storage.test.ts
  ui/src/app/store/machine/utils/storage.ts
Labels: Review: Code +1 (with changes), Review: QA +1

#2005 fix(ui): correctly validate size when creating a new partition or logical volume
  ui/.betterer.results
  ui/src/app/machines/views/MachineDetails/MachineStorage/AvailableStorageTable/AddLogicalVolume/AddLogicalVolume.test.tsx
  ui/src/app/machines/views/MachineDetails/MachineStorage/AvailableStorageTable/AddLogicalVolume/AddLogicalVolume.tsx
  ui/src/app/machines/views/MachineDetails/MachineStorage/AvailableStorageTable/AddLogicalVolumeFields/AddLogicalVolumeFields.tsx
  ui/src/app/machines/views/MachineDetails/MachineStorage/AvailableStorageTable/AddPartition/AddPartition.test.tsx
  ui/src/app/machines/views/MachineDetails/MachineStorage/AvailableStorageTable/AddPartition/AddPartition.tsx
  ui/src/app/machines/views/MachineDetails/MachineStorage/AvailableStorageTable/AddPartitionFields/AddPartitionFields.tsx
Labels: Review: Code +1 (with changes), Review: QA +1

#2007 refactor(ui): extract common FilesystemFields component from storage forms
  ui/.betterer.results
  ui/src/app/machines/views/MachineDetails/MachineStorage/AvailableStorageTable/AddLogicalVolume/AddLogicalVolume.tsx
  ui/src/app/machines/views/MachineDetails/MachineStorage/AvailableStorageTable/AddLogicalVolumeFields/AddLogicalVolumeFields.tsx
  ui/src/app/machines/views/MachineDetails/MachineStorage/AvailableStorageTable/AddPartition/AddPartition.test.tsx
  ui/src/app/machines/views/MachineDetails/MachineStorage/AvailableStorageTable/AddPartition/AddPartition.tsx
  ui/src/app/machines/views/MachineDetails/MachineStorage/AvailableStorageTable/AddPartitionFields/AddPartitionFields.test.tsx
  ui/src/app/machines/views/MachineDetails/MachineStorage/AvailableStorageTable/AddPartitionFields/AddPartitionFields.tsx
  ui/src/app/machines/views/MachineDetails/MachineStorage/AvailableStorageTable/EditLogicalVolume/EditLogicalVolume.tsx
  ui/src/app/machines/views/MachineDetails/MachineStorage/AvailableStorageTable/EditLogicalVolumeFields/EditLogicalVolumeFields.tsx
  ui/src/app/machines/views/MachineDetails/MachineStorage/AvailableStorageTable/EditPartition/EditPartition.tsx
  ui/src/app/machines/views/MachineDetails/MachineStorage/AvailableStorageTable/EditPartitionFields/EditPartitionFields.test.tsx
  ui/src/app/machines/views/MachineDetails/MachineStorage/AvailableStorageTable/EditPartitionFields/EditPartitionFields.tsx
  ui/src/app/machines/views/MachineDetails/MachineStorage/AvailableStorageTable/FilesystemFields/FilesystemFields.test.tsx
  ui/src/app/machines/views/MachineDetails/MachineStorage/AvailableStorageTable/FilesystemFields/FilesystemFields.tsx
  ui/src/app/machines/views/MachineDetails/MachineStorage/AvailableStorageTable/FilesystemFields/index.ts
  ui/src/app/machines/views/MachineDetails/MachineStorage/FilesystemsTable/AddSpecialFilesystem/AddSpecialFilesystem.test.tsx
  ui/src/app/machines/views/MachineDetails/MachineStorage/FilesystemsTable/AddSpecialFilesystem/AddSpecialFilesystem.tsx
  ui/src/app/store/machine/actions.test.ts
  ui/src/app/store/machine/slice.ts
Labels: Review: Code +1, Review: QA +1

#2009 fix(legacy): stop setting gateway on gateway-less subnets (#1860)
  legacy/src/app/controllers/tests/test_vlan_details.js
  legacy/src/app/controllers/vlan_details.js
Labels: Legacy 🧟‍♂️, Review: Code +1, Review: QA +1

#2013 fix(ui): correctly request script results from the override form
  ui/src/app/machines/components/ActionFormWrapper/OverrideTestForm/OverrideTestForm.js
  ui/src/app/machines/components/ActionFormWrapper/OverrideTestForm/OverrideTestForm.test.js
Labels: Review: Code +1, Review: QA +1

#2018 feat(ui): build edit physical disk form
  ui/.betterer.results
  ui/src/app/machines/views/MachineDetails/MachineStorage/AvailableStorageTable/AvailableStorageTable.test.tsx
  ui/src/app/machines/views/MachineDetails/MachineStorage/AvailableStorageTable/AvailableStorageTable.tsx
  ui/src/app/machines/views/MachineDetails/MachineStorage/AvailableStorageTable/EditPhysicalDisk/EditPhysicalDisk.test.tsx
  ui/src/app/machines/views/MachineDetails/MachineStorage/AvailableStorageTable/EditPhysicalDisk/EditPhysicalDisk.tsx
  ui/src/app/machines/views/MachineDetails/MachineStorage/AvailableStorageTable/EditPhysicalDisk/EditPhysicalDiskFields/EditPhysicalDiskFields.tsx
  ui/src/app/machines/views/MachineDetails/MachineStorage/AvailableStorageTable/EditPhysicalDisk/EditPhysicalDiskFields/index.ts
  ui/src/app/machines/views/MachineDetails/MachineStorage/AvailableStorageTable/EditPhysicalDisk/index.ts
Labels: Review: Code +1, Review: QA +1

#2019 refactor(ui): reorganise AvailableStorageTable files
  ui/src/app/machines/views/MachineDetails/MachineStorage/AvailableStorageTable/AddLogicalVolume/AddLogicalVolume.tsx
  ui/src/app/machines/views/MachineDetails/MachineStorage/AvailableStorageTable/AddLogicalVolume/AddLogicalVolumeFields/AddLogicalVolumeFields.tsx
  ui/src/app/machines/views/MachineDetails/MachineStorage/AvailableStorageTable/AddLogicalVolume/AddLogicalVolumeFields/index.ts
  ui/src/app/machines/views/MachineDetails/MachineStorage/AvailableStorageTable/AddPartition/AddPartition.tsx
  ui/src/app/machines/views/MachineDetails/MachineStorage/AvailableStorageTable/AddPartition/AddPartitionFields/AddPartitionFields.tsx
  ui/src/app/machines/views/MachineDetails/MachineStorage/AvailableStorageTable/AddPartition/AddPartitionFields/index.ts
  ui/src/app/machines/views/MachineDetails/MachineStorage/AvailableStorageTable/AvailableStorageTable.tsx
  ui/src/app/machines/views/MachineDetails/MachineStorage/AvailableStorageTable/EditLogicalVolume/EditLogicalVolume.tsx
  ui/src/app/machines/views/MachineDetails/MachineStorage/AvailableStorageTable/EditLogicalVolume/EditLogicalVolumeFields/EditLogicalVolumeFields.tsx
  ui/src/app/machines/views/MachineDetails/MachineStorage/AvailableStorageTable/EditLogicalVolume/EditLogicalVolumeFields/index.ts
  ui/src/app/machines/views/MachineDetails/MachineStorage/AvailableStorageTable/EditPartition/EditPartition.tsx
  ui/src/app/machines/views/MachineDetails/MachineStorage/AvailableStorageTable/EditPartition/EditPartitionFields/EditPartitionFields.tsx
  ui/src/app/machines/views/MachineDetails/MachineStorage/AvailableStorageTable/EditPartition/EditPartitionFields/index.ts
Labels: Review: Code +1, Review: QA +1
