Repository canonical/maas-ui, pull requests merged in 2021-05, with the labels that each got.

#2605 feat(legacy): display the origin for debs
  legacy/src/app/controllers/nodes_list.js
  legacy/src/app/controllers/tests/test_nodes_list.js
  legacy/src/app/partials/nodes-list.html
Labels: Legacy 🧟‍♂️, Review: Code +1, Review: QA +1

#2609 fix(legacy): fix error when no zone is selected
  legacy/src/app/controllers/nodes_list.js
  legacy/src/app/controllers/tests/test_nodes_list.js
  legacy/src/app/partials/nodes-list.html
Labels: Legacy 🧟‍♂️, Review: Code +1, Review: QA +1

#2610 fix(legacy): fix infinite loop when unselecting controllers
  legacy/src/app/controllers/nodes_list.js
  legacy/src/app/controllers/tests/test_nodes_list.js
Labels: Legacy 🧟‍♂️, Review: Code +1 (with changes), Review: QA +1

#2597 fix(ui): fix spacing between settings buttons
  ui/src/scss/_patterns_table-actions.scss
Labels: Review: Code +1, Review: QA +1

#2600 fix(shared): fix error when closing menu
  shared/src/components/Header/HardwareMenu/HardwareMenu.tsx
Labels: Review: Code +1, Review: QA +1

#2598 feat(all): add 3.0 Usabilla campaign
  shared/src/components/Footer/Footer.tsx
Labels: Review: Code +1, Review: QA +1

#2604 fix(legacy): fix discovery enabled value
  legacy/src/app/partials/dashboard.html
Labels: Legacy 🧟‍♂️, Review: Code +1, Review: QA +1

#2606 fix(legacy): fix controllers when editing VLANs
  legacy/src/app/partials/vlan-details.html
Labels: Legacy 🧟‍♂️, Review: Code +1, Review: QA +1

#2621 feat(ui): display a message when a machine has no DHCP snippets
  ui/src/app/machines/views/MachineDetails/MachineNetwork/DHCPTable/DHCPTable.tsx
Labels: Review: Code +1, Review: QA +1

#2620 fix(ui): fix network table header checkbox
  ui/src/app/base/components/GroupCheckbox/GroupCheckbox.test.tsx
  ui/src/app/base/components/GroupCheckbox/GroupCheckbox.tsx
  ui/src/app/machines/views/MachineDetails/MachineNetwork/NetworkTable/NetworkTable.tsx
  ui/src/app/utils/generateCheckboxHandlers.test.ts
  ui/src/app/utils/generateCheckboxHandlers.ts
Labels: Review: Code +1, Review: QA +1

#2624 feat(ui): scroll to action forms when they open
  ui/src/app/machines/components/ActionFormWrapper/ActionFormWrapper.tsx
Labels: Review: Code +1, Review: QA +1

#2623 fix(legacy): fix subnets pages QA issues
  legacy/src/app/controllers/vlan_details.js
  legacy/src/app/partials/fabric-details.html
  legacy/src/app/partials/networks-list.html
  legacy/src/app/partials/space-details.html
  legacy/src/app/partials/subnet-details.html
  legacy/src/app/partials/vlan-details.html
Labels: Legacy 🧟‍♂️, Review: Code +1, Review: QA +1

#2627 fix(ui): remove old pod.numa_pinning utils + types
  legacy/src/app/controllers/node_details.js
  legacy/src/app/controllers/tests/test_node_details.js
  ui/src/app/machines/views/MachineDetails/MachineSummary/OverviewCard/DetailsCard/DetailsCard.test.tsx
  ui/src/app/machines/views/MachineDetails/MachineSummary/OverviewCard/DetailsCard/DetailsCard.tsx
  ui/src/app/store/pod/types.ts
  ui/src/app/store/pod/utils.ts
  ui/src/testing/factories/index.ts
  ui/src/testing/factories/nodes.ts
Labels: Legacy 🧟‍♂️, Review: Code +1, Review: QA +1

#2628 fix(ui): fix the alignment of previous tests
  ui/src/app/machines/views/MachineDetails/MachineTests/MachineTestsTable/index.scss
Labels: Review: Code +1, Review: QA +1

#2613 feat(legacy): display controller VLAN counts
  legacy/src/app/controllers/nodes_list.js
  legacy/src/app/controllers/tests/test_nodes_list.js
  legacy/src/app/partials/nodes-list.html
Labels: Legacy 🧟‍♂️, Review: Code +1, Review: QA +1

#2631 fix(ui): disable filesystems action menu when not editable
  ui/src/app/machines/views/MachineDetails/MachineStorage/FilesystemsTable/FilesystemsTable.test.tsx
  ui/src/app/machines/views/MachineDetails/MachineStorage/FilesystemsTable/FilesystemsTable.tsx
Labels: Review: Code +1, Review: QA +1

#2634 fix(ui): round free storage values down in machine details
  ui/src/app/machines/views/MachineDetails/MachineStorage/AvailableStorageTable/AddLogicalVolume/AddLogicalVolume.tsx
  ui/src/app/machines/views/MachineDetails/MachineStorage/AvailableStorageTable/AddPartition/AddPartition.tsx
  ui/src/app/store/machine/utils/storage.ts
  ui/src/app/utils/formatBytes.test.ts
  ui/src/app/utils/formatBytes.ts
Labels: Review: Code +1 (with changes), Review: QA +1

#2639 fix(ui): fix loading urls with querystrings
  ui/src/single-spa-entry.js
Labels: Review: Code +1, Review: QA +1

#2640 fix(ui): round free storage values down in KVM compose form
  ui/.betterer.results
  ui/src/app/kvm/components/KVMActionFormWrapper/ComposeForm/ComposeForm.tsx
  ui/src/app/kvm/components/KVMActionFormWrapper/ComposeForm/StorageTable/PoolSelect/PoolSelect.test.tsx
  ui/src/app/kvm/components/KVMActionFormWrapper/ComposeForm/StorageTable/PoolSelect/PoolSelect.tsx
  ui/src/app/kvm/components/KVMActionFormWrapper/ComposeForm/StorageTable/StorageTable.tsx
Labels: Review: Code +1, Review: QA +1

#2655 fix(ui): correctly parse script creation date in settings
  ui/package.json
  ui/src/app/settings/views/Scripts/ScriptsList/ScriptsList.test.tsx
  ui/src/app/settings/views/Scripts/ScriptsList/ScriptsList.tsx
Labels: Backport 3.0 :arrow_backward:, Review: Code +1, Review: QA +1

#2654 fix(ui): update label for kernel parameters in settings
  ui/.betterer.results
  ui/src/app/settings/views/Configuration/KernelParameters/KernelParameters.test.tsx
  ui/src/app/settings/views/Configuration/KernelParameters/KernelParameters.tsx
  ui/src/app/settings/views/Configuration/KernelParameters/index.ts
  ui/src/app/settings/views/Configuration/KernelParametersForm/KernelParametersForm.test.tsx
  ui/src/app/settings/views/Configuration/KernelParametersForm/KernelParametersForm.tsx
  ui/src/app/settings/views/Configuration/KernelParametersForm/index.ts
Labels: Backport 3.0 :arrow_backward:, Review: Code +1, Review: QA +1

#2653 fix(ui): fix machine config forms not using updated values on save
  ui/src/app/machines/views/MachineDetails/MachineConfiguration/MachineForm/MachineForm.tsx
  ui/src/app/machines/views/MachineDetails/MachineConfiguration/PowerForm/PowerForm.tsx
Labels: Backport 3.0 :arrow_backward:, Review: Code +1, Review: QA +1

#2658 fix(legacy): fix removing domains with records
  legacy/src/app/factories/domains.js
  legacy/src/app/factories/tests/test_domains.js
Labels: Backport 3.0 :arrow_backward:, Legacy 🧟‍♂️, Review: Code +1, Review: QA +1

#2661 feat(ui): change use of "unavailable"
  ui/src/app/machines/views/MachineDetails/MachineSummary/WorkloadCard/WorkloadCard.tsx
  ui/src/app/machines/views/MachineDetails/NodeDevices/NodeDevicesWarning/NodeDevicesWarning.tsx
Labels: Backport 3.0 :arrow_backward:, Review: Code +1

#2663 fix(ui): preselect first PXE network when defining composed VM interface
  ui/src/app/kvm/components/KVMActionFormWrapper/ComposeForm/InterfacesTable/InterfacesTable.test.tsx
  ui/src/app/kvm/components/KVMActionFormWrapper/ComposeForm/InterfacesTable/InterfacesTable.tsx
  ui/src/app/kvm/components/KVMActionFormWrapper/ComposeForm/InterfacesTable/SubnetSelect/SubnetSelect.test.tsx
  ui/src/app/store/subnet/selectors.test.ts
  ui/src/app/store/subnet/selectors.ts
Labels: Backport 3.0 :arrow_backward:, Review: Code +1, Review: QA +1

#2665 fix(ui): preselect first PXE network when defining composed VM interface (backport 3.0)
  ui/src/app/kvm/components/KVMActionFormWrapper/ComposeForm/InterfacesTable/InterfacesTable.test.tsx
  ui/src/app/kvm/components/KVMActionFormWrapper/ComposeForm/InterfacesTable/InterfacesTable.tsx
  ui/src/app/kvm/components/KVMActionFormWrapper/ComposeForm/InterfacesTable/SubnetSelect/SubnetSelect.test.tsx
  ui/src/app/store/subnet/selectors.test.ts
  ui/src/app/store/subnet/selectors.ts
Labels: Review: Code +1

#2666 chore(deps): add prettier to list of dependencies that get their own renovate PR
  renovate.json
Labels: Review: Code +1

#2616 feat(legacy): display snap upgrade errors
  legacy/src/app/controllers/nodes_list.js
  legacy/src/app/controllers/tests/test_nodes_list.js
  legacy/src/app/partials/nodes-list.html
  legacy/src/scss/tables/_patterns_table-controllers.scss
  ui/src/app/store/controller/types.ts
Labels: Backport 3.0 :arrow_backward:, Legacy 🧟‍♂️, Review: Code +1, Review: QA +1

#2664 feat(ui): replace legacy pod websocket fields with 'resources' equivalents
  ui/src/app/kvm/views/KVMDetails/KVMDetails.test.tsx
  ui/src/app/kvm/views/KVMDetails/KVMDetailsHeader/KVMDetailsHeader.test.tsx
  ui/src/app/kvm/views/KVMDetails/KVMDetailsHeader/KVMDetailsHeader.tsx
  ui/src/app/kvm/views/KVMDetails/StorageResources/StorageResources.tsx
  ui/src/app/kvm/views/KVMList/LxdTable/LxdTable.tsx
  ui/src/app/kvm/views/KVMList/StorageColumn/StorageColumn.test.tsx
  ui/src/app/kvm/views/KVMList/StorageColumn/StorageColumn.tsx
  ui/src/app/kvm/views/KVMList/VMsColumn/VMsColumn.test.tsx
  ui/src/app/kvm/views/KVMList/VMsColumn/VMsColumn.tsx
  ui/src/app/kvm/views/KVMList/VirshTable/VirshTable.test.tsx
  ui/src/app/kvm/views/KVMList/VirshTable/VirshTable.tsx
  ui/src/app/kvm/views/KVMList/VirshTable/_index.scss
  ui/src/app/store/pod/types.ts
  ui/src/testing/factories/index.ts
  ui/src/testing/factories/nodes.ts
Labels: Backport 3.0 :arrow_backward:, Review: Code +1 (with changes), Review: QA +1

#2671 ci(ci): run actions against the 2.9 branch
  .github/workflows/cypress.yml
  .github/workflows/test.yml
Labels: Backport 2.9 ◀️, Review: Code +1

#2677 feat(legacy): allow disabling boot architectures in subnet details
  legacy/src/app/controllers/subnet_details.js
  legacy/src/app/controllers/tests/test_subnet_details.js
  legacy/src/app/factories/general.js
  legacy/src/app/factories/subnets.js
  legacy/src/app/factories/tests/test_general.js
  legacy/src/app/factories/tests/test_subnets.js
  legacy/src/app/partials/subnet-details.html
  legacy/src/scss/tables/_base_tables.scss
Labels: Backport 3.0 :arrow_backward:, Legacy 🧟‍♂️, Review: Code +1, Review: QA +1

#2682 refactor(ui): use util for optional params
  ui/src/app/store/machine/actions.test.ts
  ui/src/app/store/machine/slice.ts
Labels: Review: Code +1

#2688 feat(ui): use action button for delete confirms
  ui/src/app/base/components/TableDeleteConfirm/TableDeleteConfirm.test.js
  ui/src/app/base/components/TableDeleteConfirm/TableDeleteConfirm.test.tsx
  ui/src/app/base/components/TableDeleteConfirm/TableDeleteConfirm.tsx
  ui/src/app/base/components/TableDeleteConfirm/__snapshots__/TableDeleteConfirm.test.tsx.snap
  ui/src/app/base/components/TableDeleteConfirm/index.ts
  ui/src/app/base/hooks.ts
  ui/src/app/pools/views/Pools.js
  ui/src/app/pools/views/Pools.test.js
  ui/src/app/preferences/views/APIKeys/APIKeyList/APIKeyList.js
  ui/src/app/preferences/views/SSHKeys/SSHKeyList/SSHKeyList.js
  ui/src/app/preferences/views/SSHKeys/SSHKeyList/SSHKeyList.test.js
  ui/src/app/preferences/views/SSLKeys/SSLKeyList/SSLKeyList.js
  ui/src/app/preferences/views/SSLKeys/SSLKeyList/SSLKeyList.test.js
  ui/src/app/settings/views/Dhcp/DhcpList/DhcpList.js
  ui/src/app/settings/views/Dhcp/DhcpList/DhcpList.test.js
  ui/src/app/settings/views/LicenseKeys/LicenseKeyList/LicenseKeyList.js
  ui/src/app/settings/views/Repositories/RepositoriesList/RepositoriesList.js
  ui/src/app/settings/views/Repositories/RepositoriesList/RepositoriesList.test.js
  ui/src/app/settings/views/Scripts/ScriptsList/ScriptsList.test.tsx
  ui/src/app/settings/views/Scripts/ScriptsList/ScriptsList.tsx
  ui/src/app/settings/views/Users/UsersList/UsersList.js
  ui/src/app/settings/views/Users/UsersList/UsersList.test.js
Labels: Review: Code +1, Review: QA +1

#2687 refactor(ui): use the trancated border mixin for all tables
  ui/src/app/machines/views/MachineDetails/MachineNetwork/NetworkTable/NetworkTable.tsx
  ui/src/app/machines/views/MachineDetails/MachineNetwork/NetworkTable/_index.scss
  ui/src/app/machines/views/MachineDetails/NodeDevices/NodeDevices.tsx
  ui/src/app/machines/views/MachineDetails/NodeDevices/_index.scss
  ui/src/app/machines/views/MachineList/MachineListTable/MachineListTable.js
  ui/src/app/machines/views/MachineList/_index.scss
  ui/src/scss/_patterns_tables.scss
  ui/src/scss/_truncated-border.scss
Labels: Review: Code +1 (with changes), Review: QA +1

#2695 feat(scripts): Mark LP bugs as Fix Committed when GH issue is closed
  scripts/lp-bugs-to-gh-issues.py
Labels: Review: Code +1

#2706 fix(legacy): QA fixes for subnet boot architectures form
  legacy/src/app/controllers/subnet_details.js
  legacy/src/app/controllers/tests/test_subnet_details.js
  legacy/src/app/partials/subnet-details.html
  legacy/src/scss/tables/_base_tables.scss
Labels: Backport 3.0 :arrow_backward:, Legacy 🧟‍♂️, Review: Code +1, Review: QA +1
