Repository canonical/maas-ui, pull requests merged in 2021-12, with the labels that each got.

#3368 fix(ui): fix machine storage tables on small screens
  ui/src/app/machines/views/MachineDetails/MachineStorage/AvailableStorageTable/AvailableStorageTable.tsx
  ui/src/app/machines/views/MachineDetails/MachineStorage/CacheSetsTable/CacheSetsTable.tsx
  ui/src/app/machines/views/MachineDetails/MachineStorage/DatastoresTable/DatastoresTable.tsx
  ui/src/app/machines/views/MachineDetails/MachineStorage/FilesystemsTable/FilesystemsTable.tsx
  ui/src/app/machines/views/MachineDetails/MachineStorage/MachineStorage.tsx
  ui/src/app/machines/views/MachineDetails/MachineStorage/UsedStorageTable/UsedStorageTable.tsx
  ui/src/app/machines/views/MachineDetails/MachineStorage/_index.scss
  ui/src/scss/_utilities.scss
  ui/src/scss/_vanilla-overrides.scss
  ui/src/scss/index.scss
Labels: Review: Design +1, Review: QA +1, Review: Code +1 (with changes)

#3370 refactor(ui): make the DHCP table work for all nodes
  ui/src/app/base/components/DHCPTable/DHCPTable.test.tsx
  ui/src/app/base/components/DHCPTable/DHCPTable.tsx
  ui/src/app/base/components/DHCPTable/EditDHCP/EditDHCP.test.tsx
  ui/src/app/base/components/DHCPTable/EditDHCP/EditDHCP.tsx
  ui/src/app/base/components/DHCPTable/EditDHCP/index.ts
  ui/src/app/base/components/DHCPTable/_index.scss
  ui/src/app/base/components/DHCPTable/index.ts
  ui/src/app/machines/views/MachineDetails/MachineNetwork/MachineNetwork.tsx
  ui/src/scss/index.scss
Labels: Review: QA +1, Review: Code +1 (with changes)

#3373 refactor(ui): split up base hooks into logical files
  ui/src/app/base/components/CertificateDetails/CertificateDetails.test.tsx
  ui/src/app/base/components/FormikFormContent/FormikFormContent.test.tsx
  ui/src/app/base/components/NotificationGroup/NotificationGroup.tsx
  ui/src/app/base/hooks.test.tsx
  ui/src/app/base/hooks.ts
  ui/src/app/base/hooks/analytics.ts
  ui/src/app/base/hooks/base.test.tsx
  ui/src/app/base/hooks/base.ts
  ui/src/app/base/hooks/forms.ts
  ui/src/app/base/hooks/index.ts
  ui/src/app/base/hooks/intro.test.tsx
  ui/src/app/base/hooks/intro.ts
  ui/src/app/base/hooks/node.test.tsx
  ui/src/app/base/hooks/node.ts
  ui/src/app/base/hooks/tables.ts
  ui/src/app/intro/views/UserIntro/UserIntro.test.tsx
  ui/src/app/kvm/components/KVMStorageCards/KVMStorageCards.test.tsx
  ui/src/app/kvm/components/LXDHostToolbar/LXDHostToolbar.test.tsx
  ui/src/app/kvm/components/LXDHostVMs/NumaResources/NumaResources.test.tsx
  ui/src/app/machines/components/MachineHeaderForms/ActionFormWrapper/DeployForm/DeployForm.test.tsx
  ui/src/app/machines/views/MachineDetails/ActionConfirm/ActionConfirm.test.tsx
  ui/src/app/machines/views/MachineDetails/MachineStorage/MachineStorage.test.tsx
  ui/src/app/machines/views/MachineDetails/MachineTests/MachineTestsTable/MachineTestsTable.test.tsx
  ui/src/app/machines/views/MachineDetails/MachineTests/MachineTestsTable/TestActions/TestActions.test.tsx
Labels: Review: Code +1

#3369 refactor(ui): add a component for handling the network tab tables/forms state
  ui/src/app/base/components/NodeNetworkTab/NodeNetworkTab.test.tsx
  ui/src/app/base/components/NodeNetworkTab/NodeNetworkTab.tsx
  ui/src/app/base/components/NodeNetworkTab/index.ts
  ui/src/app/machines/views/MachineDetails/MachineDetails.tsx
  ui/src/app/machines/views/MachineDetails/MachineNetwork/MachineNetwork.test.tsx
  ui/src/app/machines/views/MachineDetails/MachineNetwork/MachineNetwork.tsx
  ui/src/app/machines/views/MachineDetails/MachineNetwork/NetworkActions/NetworkActions.test.tsx
  ui/src/app/machines/views/MachineDetails/MachineNetwork/NetworkActions/NetworkActions.tsx
  ui/src/app/machines/views/MachineDetails/MachineNetwork/NetworkTable/NetworkTable.test.tsx
  ui/src/app/machines/views/MachineDetails/MachineNetwork/NetworkTable/NetworkTable.tsx
  ui/src/app/machines/views/MachineDetails/MachineNetwork/NetworkTable/NetworkTableActions/NetworkTableActions.test.tsx
  ui/src/app/machines/views/MachineDetails/MachineNetwork/NetworkTable/NetworkTableActions/NetworkTableActions.tsx
  ui/src/app/machines/views/MachineDetails/MachineNetwork/NetworkTable/NetworkTableConfirmation/NetworkTableConfirmation.test.tsx
  ui/src/app/machines/views/MachineDetails/MachineNetwork/NetworkTable/NetworkTableConfirmation/NetworkTableConfirmation.tsx
  ui/src/app/machines/views/MachineDetails/MachineNetwork/NetworkTable/types.ts
Labels: Review: QA +1, Review: Code +1 (with changes)

#3374 refactor(ui): remove machine selector logic from action forms
  ui/src/app/kvm/components/KVMHeaderForms/KVMHeaderForms.tsx
  ui/src/app/machines/components/MachineHeaderForms/ActionFormWrapper/ActionFormWrapper.test.tsx
  ui/src/app/machines/components/MachineHeaderForms/ActionFormWrapper/ActionFormWrapper.tsx
  ui/src/app/machines/components/MachineHeaderForms/ActionFormWrapper/CloneForm/CloneForm.test.tsx
  ui/src/app/machines/components/MachineHeaderForms/ActionFormWrapper/CloneForm/CloneForm.tsx
  ui/src/app/machines/components/MachineHeaderForms/ActionFormWrapper/CommissionForm/CommissionForm.test.tsx
  ui/src/app/machines/components/MachineHeaderForms/ActionFormWrapper/CommissionForm/CommissionForm.tsx
  ui/src/app/machines/components/MachineHeaderForms/ActionFormWrapper/CommissionForm/CommissionFormFields/CommissionFormFields.test.tsx
  ui/src/app/machines/components/MachineHeaderForms/ActionFormWrapper/DeployForm/DeployForm.test.tsx
  ui/src/app/machines/components/MachineHeaderForms/ActionFormWrapper/DeployForm/DeployForm.tsx
  ui/src/app/machines/components/MachineHeaderForms/ActionFormWrapper/DeployForm/DeployFormFields/DeployFormFields.test.tsx
  ui/src/app/machines/components/MachineHeaderForms/ActionFormWrapper/FieldlessForm/FieldlessForm.test.tsx
  ui/src/app/machines/components/MachineHeaderForms/ActionFormWrapper/FieldlessForm/FieldlessForm.tsx
  ui/src/app/machines/components/MachineHeaderForms/ActionFormWrapper/FieldlessForm/__snapshots__/FieldlessForm.test.tsx.snap
  ui/src/app/machines/components/MachineHeaderForms/ActionFormWrapper/MarkBrokenForm/MarkBrokenForm.test.tsx
  ui/src/app/machines/components/MachineHeaderForms/ActionFormWrapper/MarkBrokenForm/MarkBrokenForm.tsx
  ui/src/app/machines/components/MachineHeaderForms/ActionFormWrapper/OverrideTestForm/OverrideTestForm.test.tsx
  ui/src/app/machines/components/MachineHeaderForms/ActionFormWrapper/OverrideTestForm/OverrideTestForm.tsx
  ui/src/app/machines/components/MachineHeaderForms/ActionFormWrapper/ReleaseForm/ReleaseForm.test.tsx
  ui/src/app/machines/components/MachineHeaderForms/ActionFormWrapper/ReleaseForm/ReleaseForm.tsx
  ui/src/app/machines/components/MachineHeaderForms/ActionFormWrapper/SetPoolForm/SetPoolForm.test.tsx
  ui/src/app/machines/components/MachineHeaderForms/ActionFormWrapper/SetPoolForm/SetPoolForm.tsx
  ui/src/app/machines/components/MachineHeaderForms/ActionFormWrapper/SetPoolForm/SetPoolFormFields/SetPoolFormFields.test.tsx
  ui/src/app/machines/components/MachineHeaderForms/ActionFormWrapper/SetZoneForm/SetZoneForm.test.tsx
  ui/src/app/machines/components/MachineHeaderForms/ActionFormWrapper/SetZoneForm/SetZoneForm.tsx
  ui/src/app/machines/components/MachineHeaderForms/ActionFormWrapper/TagForm/TagForm.test.tsx
  ui/src/app/machines/components/MachineHeaderForms/ActionFormWrapper/TagForm/TagForm.tsx
  ui/src/app/machines/components/MachineHeaderForms/ActionFormWrapper/TagForm/TagFormFields/TagFormFields.test.tsx
  ui/src/app/machines/components/MachineHeaderForms/ActionFormWrapper/TestForm/TestForm.test.tsx
  ui/src/app/machines/components/MachineHeaderForms/ActionFormWrapper/TestForm/TestForm.tsx
  ui/src/app/machines/components/MachineHeaderForms/ActionFormWrapper/TestForm/TestFormFields/TestFormFields.test.tsx
  ui/src/app/machines/components/MachineHeaderForms/MachineHeaderForms.tsx
  ui/src/app/machines/views/MachineDetails/MachineHeader/MachineHeader.tsx
  ui/src/app/machines/views/MachineList/MachineListHeader/MachineListHeader.tsx
  ui/src/app/store/machine/types/index.ts
  ui/src/testing/factories/state.ts
Labels: Review: Code +1, Review: QA +1

#3387 update integration README.md
  integration/README.md
Labels: Review: Code +1

#3375 refactor(ui): update the network actions to be reusable
  ui/src/app/base/components/NetworkActionRow/NetworkActionRow.test.tsx
  ui/src/app/base/components/NetworkActionRow/NetworkActionRow.tsx
  ui/src/app/base/components/NetworkActionRow/index.ts
  ui/src/app/base/hooks/index.ts
  ui/src/app/base/hooks/node-networking.test.tsx
  ui/src/app/base/hooks/node-networking.ts
  ui/src/app/machines/components/MachineHeaderForms/ActionFormWrapper/CloneForm/CloneFormFields/CloneNetworkTable/CloneNetworkTable.tsx
  ui/src/app/machines/views/MachineDetails/MachineNetwork/AddBondForm/AddBondForm.tsx
  ui/src/app/machines/views/MachineDetails/MachineNetwork/EditAliasOrVlanForm/EditAliasOrVlanForm.tsx
  ui/src/app/machines/views/MachineDetails/MachineNetwork/EditBondForm/EditBondForm.tsx
  ui/src/app/machines/views/MachineDetails/MachineNetwork/EditPhysicalForm/EditPhysicalForm.tsx
  ui/src/app/machines/views/MachineDetails/MachineNetwork/MachineNetwork.tsx
  ui/src/app/machines/views/MachineDetails/MachineNetwork/MachineNetworkActions/MachineNetworkActions.test.tsx
  ui/src/app/machines/views/MachineDetails/MachineNetwork/MachineNetworkActions/MachineNetworkActions.tsx
  ui/src/app/machines/views/MachineDetails/MachineNetwork/MachineNetworkActions/index.ts
  ui/src/app/machines/views/MachineDetails/MachineNetwork/NetworkActions/index.ts
  ui/src/app/machines/views/MachineDetails/MachineNetwork/NetworkNotifications/NetworkNotifications.tsx
  ui/src/app/machines/views/MachineDetails/MachineNetwork/NetworkTable/NameColumn/NameColumn.tsx
  ui/src/app/machines/views/MachineDetails/MachineNetwork/NetworkTable/NetworkTable.tsx
  ui/src/app/machines/views/MachineDetails/MachineNetwork/NetworkTable/NetworkTableActions/NetworkTableActions.tsx
  ui/src/app/machines/views/MachineDetails/MachineNetwork/NetworkTable/SubnetColumn/SubnetColumn.tsx
  ui/src/app/store/machine/utils/hooks.test.tsx
  ui/src/app/store/machine/utils/hooks.ts
  ui/src/app/store/machine/utils/index.ts
  ui/src/app/store/utils/identifiers.ts
  ui/src/app/store/utils/index.ts
Labels: Review: QA +1, Review: Code +1 (with changes)

#3378 feat(ui): build device summary page
  ui/src/app/base/components/NodeSummaryNetworkCard/NetworkCardTable/NetworkCardTable.test.tsx
  ui/src/app/base/components/NodeSummaryNetworkCard/NetworkCardTable/NetworkCardTable.tsx
  ui/src/app/base/components/NodeSummaryNetworkCard/NetworkCardTable/_index.scss
  ui/src/app/base/components/NodeSummaryNetworkCard/NetworkCardTable/index.ts
  ui/src/app/base/components/NodeSummaryNetworkCard/NodeSummaryNetworkCard.test.tsx
  ui/src/app/base/components/NodeSummaryNetworkCard/NodeSummaryNetworkCard.tsx
  ui/src/app/base/components/NodeSummaryNetworkCard/index.ts
  ui/src/app/devices/views/DeviceDetails/DeviceDetails.tsx
  ui/src/app/devices/views/DeviceDetails/DeviceSummary/DeviceOverviewCard/DeviceOverviewCard.test.tsx
  ui/src/app/devices/views/DeviceDetails/DeviceSummary/DeviceOverviewCard/DeviceOverviewCard.tsx
  ui/src/app/devices/views/DeviceDetails/DeviceSummary/DeviceOverviewCard/__snapshots__/DeviceOverviewCard.test.tsx.snap
  ui/src/app/devices/views/DeviceDetails/DeviceSummary/DeviceOverviewCard/index.ts
  ui/src/app/devices/views/DeviceDetails/DeviceSummary/DeviceSummary.test.tsx
  ui/src/app/devices/views/DeviceDetails/DeviceSummary/DeviceSummary.tsx
  ui/src/app/devices/views/DeviceDetails/DeviceSummary/_index.scss
  ui/src/app/machines/views/MachineDetails/MachineSummary/MachineSummary.tsx
  ui/src/app/machines/views/MachineDetails/MachineSummary/NetworkCard/NetworkCard.test.tsx
  ui/src/app/machines/views/MachineDetails/MachineSummary/NetworkCard/index.ts
  ui/src/scss/index.scss
Labels: Review: Design +1, Review: Code +1, Review: QA +1

#3377 feat(ui): build device configuration form
  ui/src/app/base/components/TagField/TagField.tsx
  ui/src/app/base/components/TagLinks/TagLinks.test.tsx
  ui/src/app/base/components/TagLinks/TagLinks.tsx
  ui/src/app/base/components/TagLinks/__snapshots__/TagLinks.test.tsx.snap
  ui/src/app/base/components/TagLinks/index.ts
  ui/src/app/devices/views/DeviceDetails/DeviceConfiguration/DeviceConfiguration.test.tsx
  ui/src/app/devices/views/DeviceDetails/DeviceConfiguration/DeviceConfiguration.tsx
  ui/src/app/devices/views/DeviceDetails/DeviceDetails.tsx
  ui/src/app/machines/components/TagLinks/TagLinks.test.tsx
  ui/src/app/machines/components/TagLinks/TagLinks.tsx
  ui/src/app/machines/views/MachineDetails/MachineConfiguration/MachineForm/MachineFormFields/MachineFormFields.tsx
  ui/src/app/machines/views/MachineDetails/MachineStorage/AvailableStorageTable/AvailableStorageTable.tsx
  ui/src/app/machines/views/MachineDetails/MachineStorage/UsedStorageTable/UsedStorageTable.tsx
  ui/src/app/store/device/types/actions.ts
Labels: Review: Code +1, Review: QA +1

#3376 refactor(ui): remove useMachineActionForm hook and actionSelected selectors
  ui/src/app/machines/components/MachineHeaderForms/ActionFormWrapper/ActionFormWrapper.tsx
  ui/src/app/machines/components/MachineHeaderForms/ActionFormWrapper/CloneForm/CloneForm.test.tsx
  ui/src/app/machines/components/MachineHeaderForms/ActionFormWrapper/CloneForm/CloneForm.tsx
  ui/src/app/machines/components/MachineHeaderForms/ActionFormWrapper/CommissionForm/CommissionForm.test.tsx
  ui/src/app/machines/components/MachineHeaderForms/ActionFormWrapper/CommissionForm/CommissionForm.tsx
  ui/src/app/machines/components/MachineHeaderForms/ActionFormWrapper/CommissionForm/CommissionFormFields/CommissionFormFields.test.tsx
  ui/src/app/machines/components/MachineHeaderForms/ActionFormWrapper/DeployForm/DeployForm.test.tsx
  ui/src/app/machines/components/MachineHeaderForms/ActionFormWrapper/DeployForm/DeployForm.tsx
  ui/src/app/machines/components/MachineHeaderForms/ActionFormWrapper/DeployForm/DeployFormFields/DeployFormFields.test.tsx
  ui/src/app/machines/components/MachineHeaderForms/ActionFormWrapper/FieldlessForm/FieldlessForm.test.tsx
  ui/src/app/machines/components/MachineHeaderForms/ActionFormWrapper/FieldlessForm/FieldlessForm.tsx
  ui/src/app/machines/components/MachineHeaderForms/ActionFormWrapper/MarkBrokenForm/MarkBrokenForm.test.tsx
  ui/src/app/machines/components/MachineHeaderForms/ActionFormWrapper/MarkBrokenForm/MarkBrokenForm.tsx
  ui/src/app/machines/components/MachineHeaderForms/ActionFormWrapper/OverrideTestForm/OverrideTestForm.test.tsx
  ui/src/app/machines/components/MachineHeaderForms/ActionFormWrapper/OverrideTestForm/OverrideTestForm.tsx
  ui/src/app/machines/components/MachineHeaderForms/ActionFormWrapper/ReleaseForm/ReleaseForm.test.tsx
  ui/src/app/machines/components/MachineHeaderForms/ActionFormWrapper/ReleaseForm/ReleaseForm.tsx
  ui/src/app/machines/components/MachineHeaderForms/ActionFormWrapper/SetPoolForm/SetPoolForm.test.tsx
  ui/src/app/machines/components/MachineHeaderForms/ActionFormWrapper/SetPoolForm/SetPoolForm.tsx
  ui/src/app/machines/components/MachineHeaderForms/ActionFormWrapper/SetPoolForm/SetPoolFormFields/SetPoolFormFields.test.tsx
  ui/src/app/machines/components/MachineHeaderForms/ActionFormWrapper/SetZoneForm/SetZoneForm.test.tsx
  ui/src/app/machines/components/MachineHeaderForms/ActionFormWrapper/SetZoneForm/SetZoneForm.tsx
  ui/src/app/machines/components/MachineHeaderForms/ActionFormWrapper/TagForm/TagForm.test.tsx
  ui/src/app/machines/components/MachineHeaderForms/ActionFormWrapper/TagForm/TagForm.tsx
  ui/src/app/machines/components/MachineHeaderForms/ActionFormWrapper/TestForm/TestForm.test.tsx
  ui/src/app/machines/components/MachineHeaderForms/ActionFormWrapper/TestForm/TestForm.tsx
  ui/src/app/machines/components/MachineHeaderForms/ActionFormWrapper/TestForm/TestFormFields/TestFormFields.test.tsx
  ui/src/app/machines/hooks.test.tsx
  ui/src/app/machines/hooks.tsx
  ui/src/app/machines/types.ts
  ui/src/app/store/machine/selectors.test.ts
  ui/src/app/store/machine/selectors.ts
Labels: Review: Code +1, Review: QA +1

#3390 feat: add the DHCP table to the devices network tab
  ui/src/app/devices/views/DeviceDetails/DeviceDetails.tsx
  ui/src/app/devices/views/DeviceDetails/DeviceNetwork/DeviceNetwork.test.tsx
  ui/src/app/devices/views/DeviceDetails/DeviceNetwork/DeviceNetwork.tsx
Labels: Review: Code +1, Review: QA +1

#3393 refactor(ui): move the network selected types
  ui/src/app/base/components/node/networking/types.ts
  ui/src/app/machines/views/MachineDetails/MachineNetwork/AddBondForm/AddBondForm.tsx
  ui/src/app/machines/views/MachineDetails/MachineNetwork/AddBridgeForm/AddBridgeForm.tsx
  ui/src/app/machines/views/MachineDetails/MachineNetwork/BondForm/BondFormFields/BondFormFields.tsx
  ui/src/app/machines/views/MachineDetails/MachineNetwork/BondForm/ToggleMembers/ToggleMembers.tsx
  ui/src/app/machines/views/MachineDetails/MachineNetwork/BondForm/utils.ts
  ui/src/app/machines/views/MachineDetails/MachineNetwork/EditBondForm/EditBondForm.tsx
  ui/src/app/machines/views/MachineDetails/MachineNetwork/EditInterface/EditInterface.tsx
  ui/src/app/machines/views/MachineDetails/MachineNetwork/InterfaceFormTable/InterfaceFormTable.tsx
  ui/src/app/machines/views/MachineDetails/MachineNetwork/MachineNetwork.tsx
  ui/src/app/machines/views/MachineDetails/MachineNetwork/MachineNetworkActions/MachineNetworkActions.tsx
  ui/src/app/machines/views/MachineDetails/MachineNetwork/NetworkTable/NameColumn/NameColumn.tsx
  ui/src/app/machines/views/MachineDetails/MachineNetwork/NetworkTable/NetworkTable.tsx
Labels: Review: Code +1

#3392 feat(ui): add the device network actions row
  ui/src/app/devices/views/DeviceDetails/DeviceNetwork/DeviceNetwork.tsx
Labels: Review: Code +1, Review: QA +1

#3391 refactor(ui): improve action form composability
  ui/src/app/base/components/ActionForm/ActionForm.test.tsx
  ui/src/app/base/components/ActionForm/ActionForm.tsx
  ui/src/app/base/hooks/base.test.tsx
  ui/src/app/base/hooks/base.ts
  ui/src/app/kvm/components/KVMHeaderForms/ComposeForm/ComposeForm.tsx
  ui/src/app/kvm/components/KVMHeaderForms/DeleteForm/DeleteForm.test.tsx
  ui/src/app/kvm/components/KVMHeaderForms/DeleteForm/DeleteForm.tsx
  ui/src/app/kvm/components/KVMHeaderForms/RefreshForm/RefreshForm.tsx
  ui/src/app/machines/components/MachineHeaderForms/ActionFormWrapper/ActionFormWrapper.test.tsx
  ui/src/app/machines/components/MachineHeaderForms/ActionFormWrapper/ActionFormWrapper.tsx
  ui/src/app/machines/components/MachineHeaderForms/ActionFormWrapper/CloneForm/CloneForm.tsx
  ui/src/app/machines/components/MachineHeaderForms/ActionFormWrapper/CommissionForm/CommissionForm.tsx
  ui/src/app/machines/components/MachineHeaderForms/ActionFormWrapper/DeployForm/DeployForm.tsx
  ui/src/app/machines/components/MachineHeaderForms/ActionFormWrapper/FieldlessForm/FieldlessForm.tsx
  ui/src/app/machines/components/MachineHeaderForms/ActionFormWrapper/MarkBrokenForm/MarkBrokenForm.tsx
  ui/src/app/machines/components/MachineHeaderForms/ActionFormWrapper/OverrideTestForm/OverrideTestForm.tsx
  ui/src/app/machines/components/MachineHeaderForms/ActionFormWrapper/ReleaseForm/ReleaseForm.tsx
  ui/src/app/machines/components/MachineHeaderForms/ActionFormWrapper/SetPoolForm/SetPoolForm.tsx
  ui/src/app/machines/components/MachineHeaderForms/ActionFormWrapper/SetZoneForm/SetZoneForm.tsx
  ui/src/app/machines/components/MachineHeaderForms/ActionFormWrapper/TagForm/TagForm.tsx
  ui/src/app/machines/components/MachineHeaderForms/ActionFormWrapper/TestForm/TestForm.tsx
  ui/src/app/machines/types.ts
Labels: Review: QA +1, Review: Code +1 (with changes)

#3396 feat(ui): make machine delete and set zone forms works for all node types
  ui/src/app/base/components/node/DeleteForm/DeleteForm.test.tsx
  ui/src/app/base/components/node/DeleteForm/DeleteForm.tsx
  ui/src/app/base/components/node/DeleteForm/index.ts
  ui/src/app/base/components/node/SetZoneForm/SetZoneForm.test.tsx
  ui/src/app/base/components/node/SetZoneForm/SetZoneForm.tsx
  ui/src/app/base/components/node/SetZoneForm/index.ts
  ui/src/app/base/components/node/types.ts
  ui/src/app/base/types.ts
  ui/src/app/devices/components/DeviceHeaderForms/DeviceActionFormWrapper/DeviceActionFormWrapper.tsx
  ui/src/app/machines/components/MachineHeaderForms/ActionFormWrapper/ActionFormWrapper.tsx
  ui/src/app/machines/components/MachineHeaderForms/ActionFormWrapper/FieldlessForm/FieldlessForm.test.tsx
  ui/src/app/machines/components/MachineHeaderForms/ActionFormWrapper/FieldlessForm/FieldlessForm.tsx
  ui/src/app/machines/components/MachineHeaderForms/ActionFormWrapper/SetZoneForm/SetZoneForm.test.tsx
  ui/src/app/machines/components/MachineHeaderForms/ActionFormWrapper/SetZoneForm/SetZoneForm.tsx
  ui/src/app/machines/types.ts
Labels: Review: Code +1, Review: QA +1

#3398 fix(ui): correctly handle device create/delete notify actions
  ui/src/app/store/device/reducers.test.ts
  ui/src/app/store/device/slice.ts
Labels: Review: Code +1, Review: QA +1

#3400 remove redundant clearCookies in afterEach hook
  integration/cypress/integration/base/footer.spec.ts
  integration/cypress/integration/base/header.spec.ts
  integration/cypress/integration/dashboard/dashboard.spec.ts
  integration/cypress/integration/domains/list.spec.ts
  integration/cypress/integration/images/list.spec.ts
  integration/cypress/integration/kvm/list.spec.ts
  integration/cypress/integration/legacy/controllers.spec.ts
  integration/cypress/integration/legacy/devices.spec.ts
  integration/cypress/integration/legacy/subnets.spec.ts
  integration/cypress/integration/login/login.spec.ts
  integration/cypress/integration/machines/add.spec.ts
  integration/cypress/integration/machines/list.spec.ts
  integration/cypress/integration/pools/list.spec.ts
  integration/cypress/integration/preferences/base.spec.ts
  integration/cypress/integration/settings/base.spec.ts
  integration/cypress/integration/settings/users/add.spec.ts
  integration/cypress/integration/settings/users/list.spec.ts
  integration/cypress/integration/zones/list.spec.ts
Labels: Review: Code +1

#3401 refactor Footer.test.tsx using testing library
  shared/jest.config.js
  shared/package.json
  shared/setup-jest.js
  shared/src/components/Footer/Footer.test.tsx
  shared/src/components/Footer/__snapshots__/Footer.test.tsx.snap
Labels: Review: Code +1 (with changes)

#3399 refactor(ui): update networking utils to work with devices
  ui/src/app/base/components/LinkModeSelect/LinkModeSelect.tsx
  ui/src/app/base/components/NodeActionMenu/NodeActionMenu.tsx
  ui/src/app/base/components/node/NodeActionFormWrapper/NodeActionFormWrapper.tsx
  ui/src/app/base/hooks/node-networking.ts
  ui/src/app/devices/utils.ts
  ui/src/app/machines/components/MachineHeaderForms/ActionFormWrapper/CloneForm/CloneFormFields/CloneNetworkTable/CloneNetworkTable.tsx
  ui/src/app/machines/components/MachineHeaderForms/ActionFormWrapper/FieldlessForm/FieldlessForm.tsx
  ui/src/app/machines/utils.ts
  ui/src/app/machines/views/MachineDetails/MachineNetwork/AddAliasOrVlan/AddAliasOrVlanFields/AddAliasOrVlanFields.tsx
  ui/src/app/machines/views/MachineDetails/MachineNetwork/AddBondForm/AddBondForm.tsx
  ui/src/app/machines/views/MachineDetails/MachineNetwork/AddBridgeForm/AddBridgeForm.tsx
  ui/src/app/machines/views/MachineDetails/MachineNetwork/AddInterface/AddInterface.tsx
  ui/src/app/machines/views/MachineDetails/MachineNetwork/BondForm/BondFormFields/BondFormFields.tsx
  ui/src/app/machines/views/MachineDetails/MachineNetwork/BondForm/utils.ts
  ui/src/app/machines/views/MachineDetails/MachineNetwork/EditAliasOrVlanForm/EditAliasOrVlanForm.tsx
  ui/src/app/machines/views/MachineDetails/MachineNetwork/EditBondForm/EditBondForm.tsx
  ui/src/app/machines/views/MachineDetails/MachineNetwork/EditBridgeForm/EditBridgeForm.tsx
  ui/src/app/machines/views/MachineDetails/MachineNetwork/EditInterface/EditInterface.tsx
  ui/src/app/machines/views/MachineDetails/MachineNetwork/EditPhysicalForm/EditPhysicalForm.tsx
  ui/src/app/machines/views/MachineDetails/MachineNetwork/InterfaceFormTable/InterfaceFormTable.tsx
  ui/src/app/machines/views/MachineDetails/MachineNetwork/MachineNetworkActions/MachineNetworkActions.tsx
  ui/src/app/machines/views/MachineDetails/MachineNetwork/NetworkTable/FabricColumn/FabricColumn.tsx
  ui/src/app/machines/views/MachineDetails/MachineNetwork/NetworkTable/IPColumn/IPColumn.tsx
  ui/src/app/machines/views/MachineDetails/MachineNetwork/NetworkTable/NameColumn/NameColumn.tsx
  ui/src/app/machines/views/MachineDetails/MachineNetwork/NetworkTable/NetworkTable.tsx
  ui/src/app/machines/views/MachineDetails/MachineNetwork/NetworkTable/NetworkTableActions/NetworkTableActions.tsx
  ui/src/app/machines/views/MachineDetails/MachineNetwork/NetworkTable/NetworkTableConfirmation/NetworkTableConfirmation.tsx
  ui/src/app/machines/views/MachineDetails/MachineNetwork/NetworkTable/PXEColumn/PXEColumn.tsx
  ui/src/app/machines/views/MachineDetails/MachineNetwork/NetworkTable/SpeedColumn/SpeedColumn.tsx
  ui/src/app/machines/views/MachineDetails/MachineNetwork/NetworkTable/SubnetColumn/SubnetColumn.tsx
  ui/src/app/machines/views/MachineDetails/MachineNetwork/NetworkTable/TypeColumn/TypeColumn.tsx
  ui/src/app/store/controller/types/base.ts
  ui/src/app/store/controller/types/index.ts
  ui/src/app/store/controller/utils/common.test.ts
  ui/src/app/store/controller/utils/common.ts
  ui/src/app/store/controller/utils/index.ts
  ui/src/app/store/machine/selectors.ts
  ui/src/app/store/machine/utils/hooks.ts
  ui/src/app/store/machine/utils/index.ts
  ui/src/app/store/types/node.ts
  ui/src/app/store/utils/index.ts
  ui/src/app/store/utils/node/base.test.ts
  ui/src/app/store/utils/node/base.ts
  ui/src/app/store/utils/node/networking.test.ts
  ui/src/app/store/utils/node/networking.ts
  ui/src/testing/factories/index.ts
  ui/src/testing/factories/nodes.ts
Labels: Review: Code +1 (with changes)

#3405 feat(ui): display the device interfaces
  ui/src/app/base/components/node/networking/SubnetColumn/SubnetColumn.tsx
  ui/src/app/devices/views/DeviceDetails/DeviceNetwork/DeviceNetwork.tsx
  ui/src/app/devices/views/DeviceDetails/DeviceNetwork/DeviceNetworkTable/DeviceNetworkTable.test.tsx
  ui/src/app/devices/views/DeviceDetails/DeviceNetwork/DeviceNetworkTable/DeviceNetworkTable.tsx
  ui/src/app/devices/views/DeviceDetails/DeviceNetwork/DeviceNetworkTable/_index.scss
  ui/src/app/devices/views/DeviceDetails/DeviceNetwork/DeviceNetworkTable/index.ts
  ui/src/app/machines/views/MachineDetails/MachineNetwork/InterfaceFormTable/InterfaceFormTable.tsx
  ui/src/app/machines/views/MachineDetails/MachineNetwork/NetworkTable/NetworkTable.tsx
  ui/src/scss/index.scss
Labels: Review: Code +1, Review: QA +1

#3410 refactor HardwareMenu with testing library
  shared/package.json
  shared/src/components/Header/HardwareMenu/HardwareMenu.test.tsx
  shared/src/components/Header/HardwareMenu/__snapshots__/HardwareMenu.test.tsx.snap
  yarn.lock
Labels: Review: Code +1

#3408 refactor StatusBar with testing library
  shared/src/components/StatusBar/StatusBar.test.tsx
Labels: Review: Code +1

#3416 fix(ui): re-add removed KVM form cancel buttons
  ui/src/app/kvm/components/KVMHeaderForms/ComposeForm/ComposeForm.tsx
  ui/src/app/kvm/components/KVMHeaderForms/DeleteForm/DeleteForm.tsx
  ui/src/app/kvm/components/KVMHeaderForms/RefreshForm/RefreshForm.tsx
Labels: Review: Code +1, Review: QA +1

#3406 feat(ui): build device add interface form
  ui/src/app/devices/views/DeviceDetails/DeviceNetwork/AddInterface/AddInterface.test.tsx
  ui/src/app/devices/views/DeviceDetails/DeviceNetwork/AddInterface/AddInterface.tsx
  ui/src/app/devices/views/DeviceDetails/DeviceNetwork/AddInterface/AddInterfaceFields/AddInterfaceFields.test.tsx
  ui/src/app/devices/views/DeviceDetails/DeviceNetwork/AddInterface/AddInterfaceFields/AddInterfaceFields.tsx
  ui/src/app/devices/views/DeviceDetails/DeviceNetwork/AddInterface/AddInterfaceFields/index.ts
  ui/src/app/devices/views/DeviceDetails/DeviceNetwork/AddInterface/index.ts
  ui/src/app/devices/views/DeviceDetails/DeviceNetwork/DeviceNetwork.tsx
Labels: Review: Code +1, Review: QA +1

#3413 feat(ui): build device delete interface form
  ui/src/app/devices/views/DeviceDetails/DeviceNetwork/DeviceNetworkTable/DeviceNetworkTable.tsx
  ui/src/app/devices/views/DeviceDetails/DeviceNetwork/DeviceNetworkTable/RemoveInterface/RemoveInterface.test.tsx
  ui/src/app/devices/views/DeviceDetails/DeviceNetwork/DeviceNetworkTable/RemoveInterface/RemoveInterface.tsx
  ui/src/app/devices/views/DeviceDetails/DeviceNetwork/DeviceNetworkTable/RemoveInterface/index.ts
Labels: Review: Code needed, Review: QA needed

#3417 enable local cypress configuration
  integration/.gitignore
  integration/README.md
  integration/cypress.json
  integration/package.json
Labels: Review: Code +1 (with changes)

#3412 refactor login to custom cypress command
  integration/cypress/integration/base/footer.spec.ts
  integration/cypress/integration/base/header.spec.ts
  integration/cypress/integration/dashboard/dashboard.spec.ts
  integration/cypress/integration/domains/list.spec.ts
  integration/cypress/integration/images/list.spec.ts
  integration/cypress/integration/kvm/list.spec.ts
  integration/cypress/integration/legacy/auth.spec.ts
  integration/cypress/integration/legacy/controllers.spec.ts
  integration/cypress/integration/legacy/devices.spec.ts
  integration/cypress/integration/legacy/subnets.spec.ts
  integration/cypress/integration/machines/add.spec.ts
  integration/cypress/integration/machines/list.spec.ts
  integration/cypress/integration/pools/list.spec.ts
  integration/cypress/integration/preferences/base.spec.ts
  integration/cypress/integration/settings/base.spec.ts
  integration/cypress/integration/settings/users/add.spec.ts
  integration/cypress/integration/settings/users/list.spec.ts
  integration/cypress/integration/utils.ts
  integration/cypress/integration/zones/list.spec.ts
  integration/cypress/support/commands.js
  integration/cypress/support/commands.ts
  integration/cypress/support/index.js
  integration/cypress/support/index.ts
Labels: Review: Code +1

#3414 feat(ui): change device routes to react version
  integration/cypress/integration/base/header.spec.ts
  integration/cypress/integration/devices/list.spec.ts
  legacy/src/app/routes.js
  shared/src/components/Header/Header.tsx
  ui/src/app/base/components/FormikFormContent/FormikFormContent.tsx
  ui/src/app/dashboard/views/DiscoveryAddForm/DiscoveryAddForm.tsx
  ui/src/app/domains/views/DomainDetails/ResourceRecords/ResourceRecords.tsx
  ui/src/app/settings/views/Dhcp/DhcpTarget/DhcpTarget.tsx
  ui/src/app/zones/views/ZonesList/ZonesListTable/ZonesListTable.tsx
Labels: Review: Code +1, Review: QA +1, Legacy 🧟‍♂️

#3428 fix(single-spa): fix maas in Safari for 3.0
  ui/src/single-spa-entry.js
Labels: Review: Code +1, Review: QA +1, Backport 3.0 :arrow_backward:
