Repository canonical/maas-ui, pull requests merged in 2021-01, with the labels that each got.

#2023 feat(ui): build PCI and USB devices tabs
  ui/src/app/machines/views/MachineDetails/MachineDetails.tsx
  ui/src/app/machines/views/MachineDetails/MachineHeader/MachineHeader.tsx
  ui/src/app/machines/views/MachineDetails/MachinePCIDevices/MachinePCIDevices.tsx
  ui/src/app/machines/views/MachineDetails/MachinePCIDevices/index.ts
  ui/src/app/machines/views/MachineDetails/MachineUSBDevices/MachineUSBDevices.tsx
  ui/src/app/machines/views/MachineDetails/MachineUSBDevices/index.ts
Labels: Review: Code +1, Review: QA +1

#2025 feat(shared): build StatusBar component
  legacy/src/app/controllers/master.js
  legacy/src/app/partials/layout.html
  legacy/src/scss/_patterns_status-bar.scss
  legacy/src/scss/build.scss
  shared/src/components/StatusBar/StatusBar.test.tsx
  shared/src/components/StatusBar/StatusBar.tsx
  shared/src/components/StatusBar/index.ts
  shared/src/index.ts
  ui/src/app/App.tsx
  ui/src/scss/_patterns_status-bar.scss
  ui/src/scss/index.scss
Labels: Legacy 🧟‍♂️, Review: Code +1, Review: QA +1

#2026 feat(ui): add action menu to the network tab
  ui/src/app/machines/views/MachineDetails/MachineNetwork/NetworkTable/NetworkTable.tsx
  ui/src/app/machines/views/MachineDetails/MachineNetwork/NetworkTable/NetworkTableActions/NetworkTableActions.test.tsx
  ui/src/app/machines/views/MachineDetails/MachineNetwork/NetworkTable/NetworkTableActions/NetworkTableActions.tsx
  ui/src/app/machines/views/MachineDetails/MachineNetwork/NetworkTable/NetworkTableActions/index.ts
  ui/src/app/store/machine/utils/hooks.test.tsx
  ui/src/app/store/machine/utils/hooks.ts
  ui/src/app/store/machine/utils/index.ts
Labels: Review: Code +1, Review: QA +1

#2030 feat(ui): move MAAS name and version from footer to status bar
  legacy/src/app/controllers/master.js
  shared/src/components/Footer/Footer.test.tsx
  shared/src/components/Footer/Footer.tsx
  shared/src/components/Footer/__snapshots__/Footer.test.tsx.snap
  shared/src/components/StatusBar/StatusBar.test.tsx
  shared/src/components/StatusBar/StatusBar.tsx
  ui/src/app/App.tsx
Labels: Legacy 🧟‍♂️, Review: Code +1, Review: QA +1

#2014 feat(ui): add workload annotations card to machine summary
  ui/src/app/machines/views/MachineDetails/MachineSummary/MachineSummary.tsx
  ui/src/app/machines/views/MachineDetails/MachineSummary/SystemCard/SystemCard.tsx
  ui/src/app/machines/views/MachineDetails/MachineSummary/SystemCard/__snapshots__/SystemCard.test.tsx.snap
  ui/src/app/machines/views/MachineDetails/MachineSummary/WorkloadCard/WorkloadCard.test.tsx
  ui/src/app/machines/views/MachineDetails/MachineSummary/WorkloadCard/WorkloadCard.tsx
  ui/src/app/machines/views/MachineDetails/MachineSummary/WorkloadCard/index.ts
  ui/src/app/machines/views/MachineDetails/MachineSummary/_index.scss
  ui/src/app/store/machine/types.ts
  ui/src/testing/factories/nodes.ts
Labels: Review: Code +1, Review: QA +1

#2031 fix(ui): only render status bar if required props have loaded
  ui/src/app/App.tsx
Labels: Review: Code +1, Review: QA +1

#2033 feat(ui): prompt user to commission machine if PCI/USB info unavailable
  ui/src/app/machines/views/MachineDetails/MachineDetails.tsx
  ui/src/app/machines/views/MachineDetails/MachinePCIDevices/MachinePCIDevices.test.tsx
  ui/src/app/machines/views/MachineDetails/MachinePCIDevices/MachinePCIDevices.tsx
  ui/src/app/machines/views/MachineDetails/MachineUSBDevices/MachineUSBDevices.test.tsx
  ui/src/app/machines/views/MachineDetails/MachineUSBDevices/MachineUSBDevices.tsx
Labels: Review: Code +1, Review: QA +1

#2038 Release 2.0.1
  legacy/package.json
  proxy/package.json
  root/package.json
  ui/package.json
Labels: Legacy 🧟‍♂️, Review: Code needed

#2035 feat(ui): add nodedevice slice and selectors
  ui/.betterer.results
  ui/src/__snapshots__/root-reducer.test.js.snap
  ui/src/app/machines/views/MachineDetails/MachinePCIDevices/MachinePCIDevices.tsx
  ui/src/app/machines/views/MachineDetails/MachineUSBDevices/MachineUSBDevices.tsx
  ui/src/app/store/nodedevice/index.ts
  ui/src/app/store/nodedevice/reducers.test.ts
  ui/src/app/store/nodedevice/selectors.test.tsx
  ui/src/app/store/nodedevice/selectors.ts
  ui/src/app/store/nodedevice/slice.ts
  ui/src/app/store/nodedevice/types.ts
  ui/src/app/store/root/types.ts
  ui/src/root-reducer.js
  ui/src/testing/factories/index.ts
  ui/src/testing/factories/nodedevice.ts
  ui/src/testing/factories/state.ts
Labels: Review: Code +1, Review: QA +1

#2040 feat(ui): add last commissioning timestamp to status bar of active machine
  shared/src/components/StatusBar/StatusBar.test.tsx
  shared/src/components/StatusBar/StatusBar.tsx
  ui/src/app/App.tsx
  ui/src/app/base/components/StatusBar/StatusBar.test.tsx
  ui/src/app/base/components/StatusBar/StatusBar.tsx
  ui/src/app/base/components/StatusBar/index.ts
  ui/src/app/store/machine/types.ts
  ui/src/testing/factories/nodes.ts
Labels: Review: Code +1, Review: QA +1

#2042 fix(shared): release shared 2.0.1
  shared/package.json
Labels: Review: Code +1

#2043 fix(integration): bump version and dependencies to 2.0.1
  integration/package.json
  package.json
Labels: Maintenance 🔨, Review: Code +1

#2041 feat(ui): add Placeholder component and use in PCI/USB tables
  ui/src/app/base/components/Placeholder/Placeholder.test.tsx
  ui/src/app/base/components/Placeholder/Placeholder.tsx
  ui/src/app/base/components/Placeholder/__snapshots__/Placeholder.test.tsx.snap
  ui/src/app/base/components/Placeholder/_index.scss
  ui/src/app/base/components/Placeholder/index.ts
  ui/src/app/machines/views/MachineDetails/MachinePCIDevices/MachinePCIDevices.test.tsx
  ui/src/app/machines/views/MachineDetails/MachinePCIDevices/MachinePCIDevices.tsx
  ui/src/app/machines/views/MachineDetails/MachineUSBDevices/MachineUSBDevices.test.tsx
  ui/src/app/machines/views/MachineDetails/MachineUSBDevices/MachineUSBDevices.tsx
  ui/src/scss/index.scss
Labels: Review: Code +1, Review: QA +1

#2039 Allow script results to be suppressed and unsuppressed.
  ui/.betterer.results
  ui/src/app/machines/views/MachineDetails/MachineTests/MachineTests.tsx
  ui/src/app/machines/views/MachineDetails/MachineTests/MachineTestsTable/MachineTestsTable.test.tsx
  ui/src/app/machines/views/MachineDetails/MachineTests/MachineTestsTable/MachineTestsTable.tsx
  ui/src/app/machines/views/MachineDetails/MachineTests/MachineTestsTable/__snapshots__/MachineTestsTable.test.tsx.snap
  ui/src/app/store/machine/slice.ts
  ui/src/app/store/scriptresult/reducers.test.ts
  ui/src/app/store/scriptresult/slice.ts
  ui/src/app/store/utils/slice.ts
Labels: Review: Code +1, Review: QA +1

#2046 feat(ui): build PCI devices table
  ui/src/app/base/enum.ts
  ui/src/app/machines/views/MachineDetails/MachinePCIDevices/MachinePCIDevices.test.tsx
  ui/src/app/machines/views/MachineDetails/MachinePCIDevices/MachinePCIDevices.tsx
  ui/src/app/machines/views/MachineDetails/MachineSummary/NumaCard/__snapshots__/NumaCard.test.tsx.snap
  ui/src/app/store/machine/types.ts
  ui/src/app/store/nodedevice/selectors.ts
  ui/src/testing/factories/nodes.ts
Labels: Review: Code +1, Review: QA +1

#2047 feat(ui): build USB devices table
  ui/src/app/machines/views/MachineDetails/MachineUSBDevices/MachineUSBDevices.test.tsx
  ui/src/app/machines/views/MachineDetails/MachineUSBDevices/MachineUSBDevices.tsx
Labels: Review: Code +1, Review: QA +1

#2048 feat(ui): add script result history reducer
  ui/.betterer.results
  ui/src/__snapshots__/root-reducer.test.js.snap
  ui/src/app/machines/views/MachineDetails/MachineTests/MachineTestsTable/MachineTestsTable.tsx
  ui/src/app/machines/views/MachineDetails/MachineTests/MachineTestsTable/__snapshots__/MachineTestsTable.test.tsx.snap
  ui/src/app/store/scriptresult/reducers.test.ts
  ui/src/app/store/scriptresult/slice.ts
  ui/src/app/store/scriptresult/types.ts
  ui/src/testing/factories/index.ts
  ui/src/testing/factories/scriptResult.ts
  ui/src/testing/factories/state.ts
Labels: Review: Code +1, Review: QA +1

#2050 refactor(ui): extract NodeDevice component from commonalities in PCI/USB components
  ui/src/app/machines/views/MachineDetails/MachinePCIDevices/MachinePCIDevices.test.tsx
  ui/src/app/machines/views/MachineDetails/MachinePCIDevices/MachinePCIDevices.tsx
  ui/src/app/machines/views/MachineDetails/MachineUSBDevices/MachineUSBDevices.test.tsx
  ui/src/app/machines/views/MachineDetails/MachineUSBDevices/MachineUSBDevices.tsx
  ui/src/app/machines/views/MachineDetails/NodeDevices/NodeDevices.test.tsx
  ui/src/app/machines/views/MachineDetails/NodeDevices/NodeDevices.tsx
  ui/src/app/machines/views/MachineDetails/NodeDevices/index.ts
Labels: Review: Code +1, Review: QA +1

#2051 feat(ui): make the network table sortable
  ui/src/app/machines/views/MachineDetails/MachineNetwork/NetworkTable/IPColumn/IPColumn.test.tsx
  ui/src/app/machines/views/MachineDetails/MachineNetwork/NetworkTable/IPColumn/IPColumn.tsx
  ui/src/app/machines/views/MachineDetails/MachineNetwork/NetworkTable/NetworkTable.test.tsx
  ui/src/app/machines/views/MachineDetails/MachineNetwork/NetworkTable/NetworkTable.tsx
  ui/src/app/machines/views/MachineDetails/MachineNetwork/NetworkTable/SubnetColumn/SubnetColumn.test.tsx
  ui/src/app/machines/views/MachineDetails/MachineNetwork/NetworkTable/SubnetColumn/SubnetColumn.tsx
  ui/src/app/store/machine/utils/index.ts
  ui/src/app/store/machine/utils/networking.test.ts
  ui/src/app/store/machine/utils/networking.ts
  ui/src/app/store/subnet/utils.test.ts
  ui/src/app/store/subnet/utils.ts
Labels: Review: Code +1, Review: QA +1

#2053 feat(ui): improve styling of PCI/USB device tables
  ui/src/app/machines/views/MachineDetails/NodeDevices/NodeDevices.tsx
  ui/src/app/machines/views/MachineDetails/NodeDevices/_index.scss
  ui/src/scss/index.scss
Labels: Review: Code +1, Review: QA needed

#2057 feat(ui): add ability to create RAID 0 storage devices
  ui/.betterer.results
  ui/src/app/machines/views/MachineDetails/MachineStorage/AvailableStorageTable/AvailableStorageTable.tsx
  ui/src/app/machines/views/MachineDetails/MachineStorage/AvailableStorageTable/BulkActions/BulkActions.tsx
  ui/src/app/machines/views/MachineDetails/MachineStorage/AvailableStorageTable/BulkActions/CreateRaid/CreateRaid.test.tsx
  ui/src/app/machines/views/MachineDetails/MachineStorage/AvailableStorageTable/BulkActions/CreateRaid/CreateRaid.tsx
  ui/src/app/machines/views/MachineDetails/MachineStorage/AvailableStorageTable/BulkActions/CreateRaid/CreateRaidFields/CreateRaidFields.tsx
  ui/src/app/machines/views/MachineDetails/MachineStorage/AvailableStorageTable/BulkActions/CreateRaid/CreateRaidFields/index.ts
  ui/src/app/machines/views/MachineDetails/MachineStorage/AvailableStorageTable/BulkActions/CreateRaid/index.ts
  ui/src/app/store/machine/actions.test.ts
  ui/src/app/store/machine/slice.ts
  ui/src/app/store/machine/utils/index.ts
  ui/src/app/store/machine/utils/storage.test.ts
  ui/src/app/store/machine/utils/storage.ts
Labels: Review: Code +1 (with changes), Review: QA +1

#2055 feat(ui): add ability to filter machines by workload annotation
  ui/src/app/machines/search.js
  ui/src/app/machines/search.test.js
  ui/src/app/machines/views/MachineList/MachineList.test.js
  ui/src/app/machines/views/MachineList/MachineListControls/FilterAccordion/FilterAccordion.js
  ui/src/app/machines/views/MachineList/MachineListControls/FilterAccordion/FilterAccordion.test.js
  ui/src/app/machines/views/Machines.test.js
  ui/src/app/store/machine/types.ts
  ui/src/app/utils/search.js
  ui/src/app/utils/search.test.js
  ui/src/testing/factories/nodes.ts
Labels: Review: Code +1, Review: QA +1

#2061 feat(ui): group bonds and bridges in the network table
  ui/.betterer.results
  ui/src/app/base/hooks.ts
  ui/src/app/machines/views/MachineDetails/MachineNetwork/NetworkTable/NetworkTable.test.tsx
  ui/src/app/machines/views/MachineDetails/MachineNetwork/NetworkTable/NetworkTable.tsx
  ui/src/app/store/machine/utils/index.ts
  ui/src/app/store/machine/utils/networking.test.ts
  ui/src/app/store/machine/utils/networking.ts
Labels: Review: Code +1, Review: QA +1

#2056 feat(ui): add filter links to workload annotations card
  ui/src/app/machines/search.js
  ui/src/app/machines/search.test.js
  ui/src/app/machines/views/MachineDetails/MachineSummary/WorkloadCard/WorkloadCard.test.tsx
  ui/src/app/machines/views/MachineDetails/MachineSummary/WorkloadCard/WorkloadCard.tsx
Labels: Review: Code +1 (with changes), Review: QA +1

#2054 fix(ui): only load node devices once when navigating to PCI/USB tabs
  ui/src/app/machines/views/MachineDetails/NodeDevices/NodeDevices.test.tsx
  ui/src/app/machines/views/MachineDetails/NodeDevices/NodeDevices.tsx
Labels: Review: Code +1, Review: QA +1

#2062 feat(ui): add ability to create RAID 1/5/6/10 devices
  ui/.betterer.results
  ui/src/app/machines/views/MachineDetails/MachineStorage/AvailableStorageTable/BulkActions/CreateRaid/CreateRaid.test.tsx
  ui/src/app/machines/views/MachineDetails/MachineStorage/AvailableStorageTable/BulkActions/CreateRaid/CreateRaid.tsx
  ui/src/app/machines/views/MachineDetails/MachineStorage/AvailableStorageTable/BulkActions/CreateRaid/CreateRaidFields/CreateRaidFields.test.tsx
  ui/src/app/machines/views/MachineDetails/MachineStorage/AvailableStorageTable/BulkActions/CreateRaid/CreateRaidFields/CreateRaidFields.tsx
  ui/src/app/store/machine/constants.ts
Labels: Review: Code +1, Review: QA +1

#2064 feat(ui): add ability to create cache sets
  ui/src/app/machines/views/MachineDetails/MachineStorage/ActionConfirm/ActionConfirm.test.tsx
  ui/src/app/machines/views/MachineDetails/MachineStorage/ActionConfirm/ActionConfirm.tsx
  ui/src/app/machines/views/MachineDetails/MachineStorage/AvailableStorageTable/AvailableStorageTable.test.tsx
  ui/src/app/machines/views/MachineDetails/MachineStorage/AvailableStorageTable/AvailableStorageTable.tsx
  ui/src/app/store/machine/slice.ts
  ui/src/app/store/machine/utils/index.ts
  ui/src/app/store/machine/utils/storage.test.ts
  ui/src/app/store/machine/utils/storage.ts
Labels: Review: Code +1 (with changes), Review: QA +1

#2073 fix(ui): fix broken width interpolation in KVM compose form
  ui/src/app/kvm/components/KVMActionFormWrapper/ComposeForm/InterfacesTable/SubnetSelect/_index.scss
Labels: Backport 2.9 ◀️, Review: Code +1, Review: QA +1

#2063 feat(ui): display script result history
  ui/.betterer.results
  ui/src/app/machines/views/MachineDetails/MachineTests/MachineTestsTable/MachineTestsTable.test.tsx
  ui/src/app/machines/views/MachineDetails/MachineTests/MachineTestsTable/MachineTestsTable.tsx
  ui/src/app/machines/views/MachineDetails/MachineTests/MachineTestsTable/__snapshots__/MachineTestsTable.test.tsx.snap
  ui/src/app/store/scriptresult/selectors.ts
Labels: Review: Code +1 (with changes), Review: QA +1

#2071 docs(tests): add testing docs
  HACKING.md
Labels: Review: Code +1

#2074 feat(ui): add removing of interfaces
  ui/src/app/machines/views/MachineDetails/ActionConfirm/ActionConfirm.test.tsx
  ui/src/app/machines/views/MachineDetails/ActionConfirm/ActionConfirm.tsx
  ui/src/app/machines/views/MachineDetails/ActionConfirm/index.ts
  ui/src/app/machines/views/MachineDetails/MachineNetwork/NetworkTable/NetworkTable.test.tsx
  ui/src/app/machines/views/MachineDetails/MachineNetwork/NetworkTable/NetworkTable.tsx
  ui/src/app/machines/views/MachineDetails/MachineNetwork/NetworkTable/NetworkTableActions/NetworkTableActions.test.tsx
  ui/src/app/machines/views/MachineDetails/MachineNetwork/NetworkTable/NetworkTableActions/NetworkTableActions.tsx
  ui/src/app/machines/views/MachineDetails/MachineNetwork/NetworkTable/NetworkTableConfirmation/NetworkTableConfirmation.test.tsx
  ui/src/app/machines/views/MachineDetails/MachineNetwork/NetworkTable/NetworkTableConfirmation/NetworkTableConfirmation.tsx
  ui/src/app/machines/views/MachineDetails/MachineNetwork/NetworkTable/NetworkTableConfirmation/index.ts
  ui/src/app/machines/views/MachineDetails/MachineNetwork/NetworkTable/types.ts
  ui/src/app/machines/views/MachineDetails/MachineStorage/AvailableStorageTable/AvailableStorageTable.tsx
  ui/src/app/machines/views/MachineDetails/MachineStorage/CacheSetsTable/CacheSetsTable.tsx
  ui/src/app/machines/views/MachineDetails/MachineStorage/DatastoresTable/DatastoresTable.tsx
  ui/src/app/machines/views/MachineDetails/MachineStorage/FilesystemsTable/FilesystemsTable.tsx
  ui/src/app/store/machine/actions.test.ts
  ui/src/app/store/machine/selectors.test.ts
  ui/src/app/store/machine/selectors.ts
  ui/src/app/store/machine/slice.ts
  ui/src/app/store/machine/types.ts
  ui/src/app/store/machine/utils/index.ts
  ui/src/app/store/machine/utils/networking.test.ts
  ui/src/app/store/machine/utils/networking.ts
  ui/src/testing/factories/state.ts
Labels: Review: Code +1, Review: QA +1

#2065 feat(ui): add ability to create bcaches
  ui/.betterer.results
  ui/src/app/machines/views/MachineDetails/MachineStorage/AvailableStorageTable/AvailableStorageTable.test.tsx
  ui/src/app/machines/views/MachineDetails/MachineStorage/AvailableStorageTable/AvailableStorageTable.tsx
  ui/src/app/machines/views/MachineDetails/MachineStorage/AvailableStorageTable/CreateBcache/CreateBcache.test.tsx
  ui/src/app/machines/views/MachineDetails/MachineStorage/AvailableStorageTable/CreateBcache/CreateBcache.tsx
  ui/src/app/machines/views/MachineDetails/MachineStorage/AvailableStorageTable/CreateBcache/CreateBcacheFields/CreateBcacheFields.tsx
  ui/src/app/machines/views/MachineDetails/MachineStorage/AvailableStorageTable/CreateBcache/CreateBcacheFields/index.ts
  ui/src/app/machines/views/MachineDetails/MachineStorage/AvailableStorageTable/CreateBcache/index.ts
  ui/src/app/store/machine/slice.ts
  ui/src/app/store/machine/types.ts
  ui/src/app/store/machine/utils/index.ts
  ui/src/app/store/machine/utils/storage.test.ts
  ui/src/app/store/machine/utils/storage.ts
Labels: Review: Code +1 (with changes), Review: QA +1

#2077 feat(ui) machine details instances table
  ui/src/app/machines/views/MachineDetails/MachineDetails.tsx
  ui/src/app/machines/views/MachineDetails/MachineHeader/MachineHeader.tsx
  ui/src/app/machines/views/MachineDetails/MachineInstances/MachineInstances.test.tsx
  ui/src/app/machines/views/MachineDetails/MachineInstances/MachineInstances.tsx
  ui/src/app/machines/views/MachineDetails/MachineInstances/index.ts
Labels: Review: Code +1 (with changes), Review: QA +1

#2080 refactor(ui): convert DoubleRow and TableMenu to typescript
  ui/src/app/base/components/DoubleRow/DoubleRow.test.tsx
  ui/src/app/base/components/DoubleRow/DoubleRow.tsx
  ui/src/app/base/components/DoubleRow/__snapshots__/DoubleRow.test.tsx.snap
  ui/src/app/base/components/DoubleRow/index.ts
  ui/src/app/base/components/TableMenu/TableMenu.js
  ui/src/app/base/components/TableMenu/TableMenu.test.tsx
  ui/src/app/base/components/TableMenu/TableMenu.tsx
  ui/src/app/base/components/TableMenu/__snapshots__/TableMenu.test.tsx.snap
  ui/src/app/base/components/TableMenu/index.ts
  ui/src/app/base/hooks.ts
  ui/src/app/machines/views/MachineDetails/MachineHeader/MachineHeader.tsx
  ui/src/app/machines/views/MachineDetails/MachineNetwork/NetworkTable/NetworkTableActions/NetworkTableActions.tsx
  ui/src/app/machines/views/MachineList/MachineListTable/OwnerColumn/__snapshots__/OwnerColumn.test.js.snap
  ui/src/app/machines/views/MachineList/MachineListTable/PoolColumn/__snapshots__/PoolColumn.test.js.snap
  ui/src/app/machines/views/MachineList/MachineListTable/PowerColumn/__snapshots__/PowerColumn.test.js.snap
  ui/src/app/machines/views/MachineList/MachineListTable/StatusColumn/StatusColumn.tsx
  ui/src/app/machines/views/MachineList/MachineListTable/StatusColumn/__snapshots__/StatusColumn.test.tsx.snap
  ui/src/app/machines/views/MachineList/MachineListTable/ZoneColumn/__snapshots__/ZoneColumn.test.js.snap
Labels: Review: Code +1, Review: QA +1

#2086 feat(ui): add free disk space to storage table
  ui/src/app/machines/views/MachineDetails/MachineStorage/AvailableStorageTable/AvailableStorageTable.tsx
Labels: Review: Code +1, Review: QA +1

#2085 feat(ui): allow adding storage to existing datastores
  ui/.betterer.results
  ui/src/app/machines/views/MachineDetails/MachineStorage/AvailableStorageTable/AvailableStorageTable.tsx
  ui/src/app/machines/views/MachineDetails/MachineStorage/AvailableStorageTable/BulkActions/BulkActions.test.tsx
  ui/src/app/machines/views/MachineDetails/MachineStorage/AvailableStorageTable/BulkActions/BulkActions.tsx
  ui/src/app/machines/views/MachineDetails/MachineStorage/AvailableStorageTable/BulkActions/CreateDatastore/CreateDatastore.test.tsx
  ui/src/app/machines/views/MachineDetails/MachineStorage/AvailableStorageTable/BulkActions/CreateDatastore/CreateDatastore.tsx
  ui/src/app/machines/views/MachineDetails/MachineStorage/AvailableStorageTable/BulkActions/UpdateDatastore/UpdateDatastore.test.tsx
  ui/src/app/machines/views/MachineDetails/MachineStorage/AvailableStorageTable/BulkActions/UpdateDatastore/UpdateDatastore.tsx
  ui/src/app/machines/views/MachineDetails/MachineStorage/AvailableStorageTable/BulkActions/UpdateDatastore/UpdateDatastoreFields/UpdateDatastoreFields.tsx
  ui/src/app/machines/views/MachineDetails/MachineStorage/AvailableStorageTable/BulkActions/UpdateDatastore/UpdateDatastoreFields/index.ts
  ui/src/app/machines/views/MachineDetails/MachineStorage/AvailableStorageTable/BulkActions/UpdateDatastore/index.ts
  ui/src/app/store/machine/actions.test.ts
  ui/src/app/store/machine/slice.ts
  ui/src/app/store/machine/utils/index.ts
  ui/src/app/store/machine/utils/storage.test.ts
  ui/src/app/store/machine/utils/storage.ts
Labels: Review: Code +1 (with changes), Review: QA +1, Review: QA needed

#2079 feat(ui): add ability to set boot disk from machine storage tab
  ui/src/app/machines/views/MachineDetails/MachineStorage/AvailableStorageTable/AvailableStorageTable.test.tsx
  ui/src/app/machines/views/MachineDetails/MachineStorage/AvailableStorageTable/AvailableStorageTable.tsx
  ui/src/app/store/machine/utils/index.ts
  ui/src/app/store/machine/utils/storage.test.ts
  ui/src/app/store/machine/utils/storage.ts
Labels: Review: Code +1, Review: QA +1

#2088 feat(ui): display block device title
  ui/.betterer.results
  ui/src/app/base/enum.ts
  ui/src/app/machines/views/MachineDetails/MachineTests/MachineTests.test.tsx
  ui/src/app/machines/views/MachineDetails/MachineTests/MachineTests.tsx
  ui/src/app/store/scriptresult/types.ts
Labels: Review: Code +1 (with changes), Review: QA +1

#2089 fix(ui): fix node device table borders in Chrome
  ui/src/app/machines/views/MachineDetails/NodeDevices/_index.scss
Labels: Review: Code +1, Review: QA +1

#2090 feat(shared): make MAAS and machine name bold in status bar
  shared/src/components/StatusBar/StatusBar.tsx
  ui/src/app/base/components/StatusBar/StatusBar.tsx
Labels: Review: Code +1, Review: QA +1

#2087 feat(ui): add metrics to script results view
  ui/.betterer.results
  ui/src/app/base/hooks.ts
  ui/src/app/machines/views/MachineDetails/MachineTests/MachineTestsTable/MachineTestsTable.test.tsx
  ui/src/app/machines/views/MachineDetails/MachineTests/MachineTestsTable/MachineTestsTable.tsx
  ui/src/app/machines/views/MachineDetails/MachineTests/MachineTestsTable/__snapshots__/MachineTestsTable.test.tsx.snap
  ui/src/app/store/scriptresult/types.ts
Labels: Review: Code +1, Review: QA +1

#2091 refactor(ui): row checkboxes shared component
  ui/src/app/base/components/GroupCheckbox/GroupCheckbox.test.tsx
  ui/src/app/base/components/GroupCheckbox/GroupCheckbox.tsx
  ui/src/app/base/components/RowCheckbox/RowCheckbox.test.tsx
  ui/src/app/base/components/RowCheckbox/RowCheckbox.tsx
  ui/src/app/base/components/RowCheckbox/__snapshots__/RowCheckbox.test.tsx.snap
  ui/src/app/base/components/RowCheckbox/index.ts
  ui/src/app/kvm/views/KVMList/KVMListTable/KVMListTable.tsx
  ui/src/app/kvm/views/KVMList/KVMListTable/NameColumn/NameColumn.test.tsx
  ui/src/app/kvm/views/KVMList/KVMListTable/NameColumn/NameColumn.tsx
  ui/src/app/machines/views/MachineDetails/MachineStorage/AvailableStorageTable/AvailableStorageTable.tsx
  ui/src/app/machines/views/MachineList/MachineListTable/MachineListTable.js
  ui/src/app/machines/views/MachineList/MachineListTable/NameColumn/NameColumn.js
  ui/src/app/machines/views/MachineList/MachineListTable/NameColumn/NameColumn.test.js
  ui/src/app/machines/views/MachineList/MachineListTable/NameColumn/__snapshots__/NameColumn.test.js.snap
  ui/src/app/rsd/views/RSDList/RSDListTable/RSDListTable.tsx
  ui/src/app/utils/generateCheckboxHandlers.ts
  ui/src/app/utils/someInArray.ts
Labels: Review: Code +1, Review: QA +1

#2095 feat(ui): add disabled prop to GroupCheckbox
  ui/src/app/base/components/GroupCheckbox/GroupCheckbox.test.tsx
  ui/src/app/base/components/GroupCheckbox/GroupCheckbox.tsx
  ui/src/app/machines/views/MachineDetails/MachineStorage/AvailableStorageTable/AvailableStorageTable.test.tsx
  ui/src/app/machines/views/MachineDetails/MachineStorage/AvailableStorageTable/AvailableStorageTable.tsx
Labels: Review: Code +1 (with changes), Review: QA +1

#2098 feat(ui): add mark as connected/disconnected menu items
  ui/src/app/machines/views/MachineDetails/ActionConfirm/ActionConfirm.test.tsx
  ui/src/app/machines/views/MachineDetails/ActionConfirm/ActionConfirm.tsx
  ui/src/app/machines/views/MachineDetails/MachineNetwork/NetworkTable/NetworkTableActions/NetworkTableActions.test.tsx
  ui/src/app/machines/views/MachineDetails/MachineNetwork/NetworkTable/NetworkTableActions/NetworkTableActions.tsx
  ui/src/app/machines/views/MachineDetails/MachineNetwork/NetworkTable/NetworkTableConfirmation/NetworkTableConfirmation.test.tsx
  ui/src/app/machines/views/MachineDetails/MachineNetwork/NetworkTable/NetworkTableConfirmation/NetworkTableConfirmation.tsx
  ui/src/app/machines/views/MachineDetails/MachineNetwork/NetworkTable/types.ts
  ui/src/app/store/machine/actions.test.ts
  ui/src/app/store/machine/slice.ts
  ui/src/app/store/machine/types.ts
  ui/src/testing/factories/state.ts
Labels: Review: Code +1, Review: QA +1

#2100 ci: add build artifact upload workflow
  .github/workflows/upload.yml
  package.json
Labels: Maintenance 🔨, Review: Code +1

#2106 ci: use github context for upload workflow
  .github/workflows/upload.yml
Labels: Review: Code needed

#2052 feat(ui): update warning messages for when no node devices are found
  ui/src/app/machines/views/MachineDetails/NodeDevices/NodeDevices.test.tsx
  ui/src/app/machines/views/MachineDetails/NodeDevices/NodeDevices.tsx
  ui/src/app/machines/views/MachineDetails/NodeDevices/NodeDevicesWarning/NodeDevicesWarning.test.tsx
  ui/src/app/machines/views/MachineDetails/NodeDevices/NodeDevicesWarning/NodeDevicesWarning.tsx
  ui/src/app/machines/views/MachineDetails/NodeDevices/NodeDevicesWarning/index.ts
Labels: Review: Code +1, Review: QA +1

#2099 feat(ui): add tests details view
  ui/.betterer.results
  ui/src/app/machines/views/MachineDetails/MachineDetails.tsx
  ui/src/app/machines/views/MachineDetails/MachineTests/MachineTestsDetails/MachineTestsDetails.test.tsx
  ui/src/app/machines/views/MachineDetails/MachineTests/MachineTestsDetails/MachineTestsDetails.tsx
  ui/src/app/machines/views/MachineDetails/MachineTests/MachineTestsDetails/__snapshots__/MachineTestsDetails.test.tsx.snap
  ui/src/app/machines/views/MachineDetails/MachineTests/MachineTestsDetails/index.ts
  ui/src/app/machines/views/MachineDetails/MachineTests/MachineTestsTable/MachineTestsTable.test.tsx
  ui/src/app/machines/views/MachineDetails/MachineTests/MachineTestsTable/MachineTestsTable.tsx
  ui/src/app/machines/views/MachineDetails/MachineTests/MachineTestsTable/__snapshots__/MachineTestsTable.test.tsx.snap
Labels: Review: Code +1, Review: QA +1

#2101 feat(ui): link to React version of machine storage tab
  ui/src/app/machines/views/MachineDetails/MachineHeader/MachineHeader.tsx
  ui/src/app/machines/views/MachineDetails/NodeDevices/NodeDevices.test.tsx
  ui/src/app/machines/views/MachineDetails/NodeDevices/NodeDevices.tsx
Labels: Review: Code +1, Review: QA +1
