Repository canonical/maas-ui, pull requests merged in 2021-10, with the labels that each got.

#3092 feat(ui): rename project tab and add kvm button
  ui/src/app/kvm/views/KVMDetails/KVMDetailsHeader/KVMDetailsHeader.tsx
  ui/src/app/kvm/views/KVMList/KVMListHeader/KVMListHeader.tsx
Labels: Review: Code +1

#3093 feat(ui): update vm table columns
  ui/src/app/kvm/views/KVMDetails/LxdProject/ProjectVMs/VMsTable/VMsTable.tsx
Labels: Review: Code needed, Review: QA needed

#3098 feat(ui): make total vms a link
  ui/src/app/kvm/views/KVMDetails/KVMResources/ProjectResourcesCard/ProjectResourcesCard.tsx
  ui/src/app/kvm/views/KVMDetails/KVMResources/ProjectResourcesCard/_index.scss
  ui/src/app/kvm/views/KVMDetails/VmResources/VmResources.tsx
  ui/src/app/kvm/views/KVMDetails/VmResources/_index.scss
Labels: Review: Code needed, Review: QA needed

#3088 fix(ui): fix textarea styling in update LXD certificate form
  ui/src/app/base/components/CertificateDetails/CertificateDetails.tsx
  ui/src/app/base/components/CertificateDetails/_index.scss
  ui/src/app/kvm/views/KVMDetails/KVMSettings/AuthenticationCard/UpdateCertificate/UpdateCertificateFields/UpdateCertificateFields.tsx
  ui/src/scss/_patterns_forms.scss
  ui/src/scss/index.scss
Labels: Review: Code +1, Review: QA +1

#3084 feat(ui): use datalist for LXD address select
  ui/src/app/kvm/components/KVMHeaderForms/AddKVM/AddLxd/CredentialsForm/CredentialsFormFields/CredentialsFormFields.tsx
Labels: Review: QA +1, Review: UX +1, Review: Code +1 (with changes)

#3100 feat(ui): add vmcluster types and factories
  ui/src/app/store/vmcluster/types/base.ts
  ui/src/app/store/vmcluster/types/index.ts
  ui/src/testing/factories/state.ts
  ui/src/testing/factories/vmcluster.ts
Labels: Review: Code +1

#3108 feat(ui): add vmcluster slice
  ui/src/__snapshots__/root-reducer.test.ts.snap
  ui/src/app/store/root/types.ts
  ui/src/app/store/utils/slice.ts
  ui/src/app/store/vmcluster/actions.test.ts
  ui/src/app/store/vmcluster/index.ts
  ui/src/app/store/vmcluster/reducers.test.ts
  ui/src/app/store/vmcluster/slice.ts
  ui/src/app/store/vmcluster/types/base.ts
  ui/src/app/store/vmcluster/types/enum.ts
  ui/src/app/store/vmcluster/types/index.ts
  ui/src/root-reducer.ts
  ui/src/testing/factories/index.ts
  ui/src/testing/factories/state.ts
  ui/src/testing/factories/vmcluster.ts
Labels: Review: Code +1

#3110 feat(ui): make LXD vm list reusable
  ui/src/app/kvm/components/LxdProject/LxdProject.test.tsx
  ui/src/app/kvm/components/LxdProject/LxdProject.tsx
  ui/src/app/kvm/components/LxdProject/ProjectVMs/VMsTable/CoresColumn/CoresColumn.test.tsx
  ui/src/app/kvm/components/LxdProject/ProjectVMs/VMsTable/CoresColumn/CoresColumn.tsx
  ui/src/app/kvm/components/LxdProject/ProjectVMs/VMsTable/HugepagesColumn/HugepagesColumn.test.tsx
  ui/src/app/kvm/components/LxdProject/ProjectVMs/VMsTable/HugepagesColumn/HugepagesColumn.tsx
  ui/src/app/kvm/components/LxdProject/ProjectVMs/index.ts
  ui/src/app/kvm/components/LxdVMs/LxdVMs.test.tsx
  ui/src/app/kvm/components/LxdVMs/LxdVMs.tsx
  ui/src/app/kvm/components/LxdVMs/VMsActionBar/VMsActionBar.test.tsx
  ui/src/app/kvm/components/LxdVMs/VMsActionBar/VMsActionBar.tsx
  ui/src/app/kvm/components/LxdVMs/VMsActionBar/_index.scss
  ui/src/app/kvm/components/LxdVMs/VMsActionBar/index.ts
  ui/src/app/kvm/components/LxdVMs/VMsTable/CoresColumn/CoresColumn.test.tsx
  ui/src/app/kvm/components/LxdVMs/VMsTable/CoresColumn/CoresColumn.tsx
  ui/src/app/kvm/components/LxdVMs/VMsTable/CoresColumn/index.ts
  ui/src/app/kvm/components/LxdVMs/VMsTable/HugepagesColumn/HugepagesColumn.test.tsx
  ui/src/app/kvm/components/LxdVMs/VMsTable/HugepagesColumn/HugepagesColumn.tsx
  ui/src/app/kvm/components/LxdVMs/VMsTable/HugepagesColumn/index.ts
  ui/src/app/kvm/components/LxdVMs/VMsTable/IPColumn/IPColumn.test.tsx
  ui/src/app/kvm/components/LxdVMs/VMsTable/IPColumn/IPColumn.tsx
  ui/src/app/kvm/components/LxdVMs/VMsTable/IPColumn/index.ts
  ui/src/app/kvm/components/LxdVMs/VMsTable/NameColumn/NameColumn.test.tsx
  ui/src/app/kvm/components/LxdVMs/VMsTable/NameColumn/NameColumn.tsx
  ui/src/app/kvm/components/LxdVMs/VMsTable/NameColumn/index.ts
  ui/src/app/kvm/components/LxdVMs/VMsTable/StatusColumn/StatusColumn.test.tsx
  ui/src/app/kvm/components/LxdVMs/VMsTable/StatusColumn/StatusColumn.tsx
  ui/src/app/kvm/components/LxdVMs/VMsTable/StatusColumn/index.ts
  ui/src/app/kvm/components/LxdVMs/VMsTable/VMsTable.test.tsx
  ui/src/app/kvm/components/LxdVMs/VMsTable/VMsTable.tsx
  ui/src/app/kvm/components/LxdVMs/VMsTable/_index.scss
  ui/src/app/kvm/components/LxdVMs/VMsTable/index.ts
  ui/src/app/kvm/components/LxdVMs/index.ts
  ui/src/scss/index.scss
Labels: Review: Code +1, Review: QA +1
