Repository canonical/maas-ui, pull requests merged in 2021-06, with the labels that each got.

#2710 feat(ui): add types for create and update methods
  ui/src/app/base/components/DhcpForm/DhcpForm.tsx
  ui/src/app/machines/views/MachineDetails/MachineHeader/MachineName/MachineName.test.tsx
  ui/src/app/machines/views/MachineDetails/MachineHeader/MachineName/MachineName.tsx
  ui/src/app/store/controller/actions.test.ts
  ui/src/app/store/controller/slice.ts
  ui/src/app/store/device/actions.test.ts
  ui/src/app/store/device/slice.ts
  ui/src/app/store/dhcpsnippet/slice.ts
  ui/src/app/store/domain/actions.test.ts
  ui/src/app/store/domain/slice.ts
  ui/src/app/store/event/slice.ts
  ui/src/app/store/fabric/actions.test.ts
  ui/src/app/store/fabric/slice.ts
  ui/src/app/store/licensekeys/slice.ts
  ui/src/app/store/machine/actions.test.ts
  ui/src/app/store/machine/slice.ts
  ui/src/app/store/message/slice.ts
  ui/src/app/store/nodedevice/slice.ts
  ui/src/app/store/notification/actions.test.ts
  ui/src/app/store/notification/slice.ts
  ui/src/app/store/packagerepository/actions.test.ts
  ui/src/app/store/packagerepository/slice.ts
  ui/src/app/store/pod/actions.test.ts
  ui/src/app/store/pod/slice.ts
  ui/src/app/store/resourcepool/actions.test.ts
  ui/src/app/store/resourcepool/slice.ts
  ui/src/app/store/script/slice.ts
  ui/src/app/store/scriptresult/slice.ts
  ui/src/app/store/service/actions.test.ts
  ui/src/app/store/service/slice.ts
  ui/src/app/store/space/actions.test.ts
  ui/src/app/store/space/slice.ts
  ui/src/app/store/sshkey/slice.ts
  ui/src/app/store/sslkey/slice.ts
  ui/src/app/store/subnet/actions.test.ts
  ui/src/app/store/subnet/slice.ts
  ui/src/app/store/tag/slice.ts
  ui/src/app/store/token/action.test.ts
  ui/src/app/store/token/slice.ts
  ui/src/app/store/user/actions.test.ts
  ui/src/app/store/user/slice.ts
  ui/src/app/store/utils/slice.test.ts
  ui/src/app/store/utils/slice.ts
  ui/src/app/store/vlan/actions.test.ts
  ui/src/app/store/vlan/slice.ts
  ui/src/app/store/zone/actions.test.ts
  ui/src/app/store/zone/slice.ts
Labels: Review: Code +1

#2712 feat(ui): add discovery model to store
  ui/.betterer.results
  ui/src/__snapshots__/root-reducer.test.js.snap
  ui/src/app/store/discovery/actions.test.ts
  ui/src/app/store/discovery/index.ts
  ui/src/app/store/discovery/reducers.test.ts
  ui/src/app/store/discovery/selectors.test.ts
  ui/src/app/store/discovery/selectors.ts
  ui/src/app/store/discovery/slice.ts
  ui/src/app/store/discovery/types.ts
  ui/src/app/store/root/types.ts
  ui/src/app/store/utils/slice.ts
  ui/src/root-reducer.js
  ui/src/testing/factories/discovery.ts
  ui/src/testing/factories/index.ts
  ui/src/testing/factories/state.ts
Labels: Review: Code +1 (with changes)

#2715 fix(ui): correctly type config values
  ui/src/app/store/config/selectors.ts
  ui/src/app/store/config/slice.ts
  ui/src/app/store/config/types.ts
  ui/src/testing/factories/config.ts
Labels: Review: Code +1, Review: QA +1

#2718 refactor(ui): migrate machine list tests to typescript
  ui/.betterer.results
  ui/src/app/machines/components/ActionFormWrapper/OverrideTestForm/OverrideTestForm.test.tsx
  ui/src/app/machines/components/ActionFormWrapper/SetPoolForm/SetPoolForm.test.tsx
  ui/src/app/machines/components/ActionFormWrapper/SetZoneForm/SetZoneForm.test.tsx
  ui/src/app/machines/components/ActionFormWrapper/TagForm/TagForm.test.tsx
  ui/src/app/machines/views/MachineList/MachineList.test.tsx
  ui/src/app/machines/views/MachineList/MachineListHeader/MachineListHeader.test.tsx
  ui/src/app/machines/views/Machines.test.tsx
Labels: Review: Code +1

#2731 Add initial dashboard view
  ui/src/app/Routes.tsx
  ui/src/app/dashboard/urls.ts
  ui/src/app/dashboard/views/Dashboard.tsx
Labels: Review: Code needed, Review: QA needed

#2732 Add basic DNS listing page
  ui/src/app/Routes.tsx
  ui/src/app/domains/urls.ts
  ui/src/app/domains/views/Domains.tsx
  ui/src/app/domains/views/DomainsList/DomainsList.tsx
  ui/src/app/domains/views/DomainsList/index.ts
Labels: Review: Code +1, Review: QA +1

#2734 Add zones-list route and view
  ui/src/app/Routes.tsx
  ui/src/app/zones/urls.ts
  ui/src/app/zones/views/Zones.tsx
Labels: Review: Code +1, Review: QA needed

#2737 Add header component
  ui/src/app/zones/views/Zones.tsx
  ui/src/app/zones/views/ZonesList/ZonesList.tsx
  ui/src/app/zones/views/ZonesList/index.ts
  ui/src/app/zones/views/ZonesListHeader/ZonesListHeader.tsx
  ui/src/app/zones/views/ZonesListHeader/index.ts
  ui/src/app/zones/views/ZonesListTitle/ZonesListTitle.tsx
  ui/src/app/zones/views/ZonesListTitle/index.ts
Labels: Review: Code +1, Review: QA +1

#2735 Add domainList header component
  ui/src/app/domains/views/DomainsList/DomainListHeader/DomainListHeader.test.tsx
  ui/src/app/domains/views/DomainsList/DomainListHeader/DomainListHeader.tsx
  ui/src/app/domains/views/DomainsList/DomainListHeader/index.ts
  ui/src/app/domains/views/DomainsList/DomainsList.tsx
Labels: Review: Code +1, Review: QA +1

#2733 Add basic dashboard header
  ui/src/app/dashboard/views/Dashboard.tsx
  ui/src/app/dashboard/views/DiscoveriesList/DiscoveriesList.tsx
  ui/src/app/dashboard/views/DiscoveriesList/index.ts
  ui/src/app/dashboard/views/DiscoveriesListHeader/DiscoveriesListHeader.tsx
  ui/src/app/dashboard/views/DiscoveriesListHeader/index.ts
Labels: Review: Code +1, Review: QA +1

#2738 Add basic table to domains listing
  ui/src/app/domains/views/DomainsList/DomainsList.test.tsx
  ui/src/app/domains/views/DomainsList/DomainsList.tsx
  ui/src/app/domains/views/DomainsList/DomainsTable/DomainsTable.tsx
  ui/src/app/domains/views/DomainsList/DomainsTable/index.ts
Labels: Review: Code needed, Review: QA +1

#2739 feat(ui): add Images view and route components
  ui/src/app/Routes.tsx
  ui/src/app/images/urls.ts
  ui/src/app/images/views/ImageList/ImageList.test.tsx
  ui/src/app/images/views/ImageList/ImageList.tsx
  ui/src/app/images/views/ImageList/index.ts
  ui/src/app/images/views/Images.tsx
Labels: Review: Code needed, Review: QA needed

#2740 Rename root dashboard route to index
  ui/src/app/Routes.tsx
  ui/src/app/dashboard/urls.ts
  ui/src/app/dashboard/views/Dashboard.tsx
Labels: Review: Code +1

#2743 Build zones table
  ui/src/app/zones/views/ZonesList/ZonesList.test.tsx
  ui/src/app/zones/views/ZonesList/ZonesList.tsx
  ui/src/app/zones/views/ZonesListHeader/ZonesListHeader.tsx
  ui/src/app/zones/views/ZonesListTable/ZonesListTable.tsx
  ui/src/app/zones/views/ZonesListTable/index.ts
  ui/src/app/zones/views/ZonesListTitle/ZonesListTitle.tsx
Labels: Review: Code +1, Review: QA +1

#2745 Add sorting to domains table
  ui/src/app/domains/views/DomainsList/DomainsTable/DomainsTable.test.tsx
  ui/src/app/domains/views/DomainsList/DomainsTable/DomainsTable.tsx
Labels: Review: Code +1, Review: QA +1

#2750 feat(ui): add type aliases for any and empty objects
  ui/src/app/base/components/PowerTypeFields/PowerTypeFields.tsx
  ui/src/app/base/types.ts
  ui/src/app/kvm/components/KVMActionFormWrapper/RefreshForm/RefreshForm.tsx
  ui/src/app/machines/components/ActionFormWrapper/FieldlessForm/FieldlessForm.tsx
  ui/src/app/machines/views/MachineDetails/MachineStorage/ChangeStorageLayout/ChangeStorageLayout.tsx
Labels: Review: Code needed

#2749 refactor(ui): update Formik secondarySubmit to not also run onSubmit
  ui/src/app/base/components/FormikForm/FormikForm.tsx
  ui/src/app/base/components/FormikFormButtons/FormikFormButtons.tsx
  ui/src/app/base/components/FormikFormButtons/index.ts
  ui/src/app/base/components/FormikFormContent/FormikFormContent.tsx
  ui/src/app/machines/views/AddChassis/AddChassisForm/AddChassisForm.js
  ui/src/app/machines/views/AddMachine/AddMachineForm/AddMachineForm.js
  ui/src/app/machines/views/MachineDetails/MachineConfiguration/MachineForm/MachineForm.tsx
  ui/src/app/machines/views/MachineDetails/MachineConfiguration/PowerForm/PowerForm.tsx
  ui/src/app/machines/views/MachineDetails/MachineNetwork/AddAliasOrVlan/AddAliasOrVlan.tsx
Labels: Review: Code +1 (with changes), Review: QA +1

#2751 feat(ui): add the images header
  ui/src/app/images/views/ImageList/ImageList.tsx
  ui/src/app/images/views/ImageList/ImageListHeader/ImageListHeader.test.tsx
  ui/src/app/images/views/ImageList/ImageListHeader/ImageListHeader.tsx
  ui/src/app/images/views/ImageList/ImageListHeader/index.ts
  ui/src/app/store/bootresource/selectors.test.ts
  ui/src/app/store/bootresource/selectors.ts
Labels: Review: Code +1, Review: QA +1

#2744 Add form to Domain header
  ui/.betterer.results
  ui/src/app/domains/views/DomainsList/DomainListHeader/DomainListHeader.tsx
  ui/src/app/domains/views/DomainsList/DomainListHeaderForm/DomainListHeaderForm.test.tsx
  ui/src/app/domains/views/DomainsList/DomainListHeaderForm/DomainListHeaderForm.tsx
  ui/src/app/domains/views/DomainsList/DomainListHeaderForm/index.ts
Labels: Review: Code +1, Review: QA +1

#2754 Domain details view
  ui/src/app/Routes.tsx
  ui/src/app/domains/urls.ts
  ui/src/app/domains/views/DomainDetails/DomainDetails.tsx
  ui/src/app/domains/views/DomainDetails/index.ts
  ui/src/app/domains/views/Domains.tsx
  ui/src/app/domains/views/DomainsList/DomainsTable/DomainsTable.test.tsx
  ui/src/app/domains/views/DomainsList/DomainsTable/DomainsTable.tsx
Labels: Review: Code +1 (with changes), Review: QA +1

#2753 Build zones list form
  ui/.betterer.results
  ui/src/app/base/components/FormikForm/FormikForm.tsx
  ui/src/app/base/components/FormikFormContent/FormikFormContent.tsx
  ui/src/app/store/zone/types/actions.ts
  ui/src/app/zones/views/ZonesListForm/ZonesListForm.test.tsx
  ui/src/app/zones/views/ZonesListForm/ZonesListForm.tsx
  ui/src/app/zones/views/ZonesListForm/index.ts
  ui/src/app/zones/views/ZonesListHeader/ZonesListHeader.tsx
Labels: Review: Code +1 (with changes), Review: QA +1

#2757 docs(ui): document the url function
  ui/src/app/utils/argPath.ts
Labels: Review: Code +1, Review: QA +1

#2759 refactor(ui): migrate the websocket client to TypeScript
  ui/package.json
  ui/src/__mocks__/ws.js
  ui/src/app/base/constants.ts
  ui/src/app/base/sagas/websockets.js
  ui/src/app/base/sagas/websockets.test.js
  ui/src/app/utils/getCookie.ts
  ui/src/websocket-client.test.js
  ui/src/websocket-client.test.ts
  ui/src/websocket-client.ts
  yarn.lock
Labels: Review: Code +1, Review: QA +1

#2758 fix(ui): sprint cleanup Jun 10
  ui/.betterer.results
  ui/src/app/base/components/FormikFormContent/FormikFormContent.test.tsx
  ui/src/app/base/urls.ts
  ui/src/app/base/validation.ts
  ui/src/app/domains/views/DomainDetails/DomainsDetails.test.tsx
  ui/src/app/domains/views/DomainsList/DomainListHeader/DomainListHeader.test.tsx
  ui/src/app/domains/views/DomainsList/DomainListHeaderForm/DomainListHeaderForm.test.tsx
  ui/src/app/domains/views/DomainsList/DomainListHeaderForm/DomainListHeaderForm.tsx
  ui/src/app/domains/views/DomainsList/DomainsTable/DomainsTable.tsx
  ui/src/app/zones/views/ZonesListForm/ZonesListForm.test.tsx
  ui/src/app/zones/views/ZonesListForm/ZonesListForm.tsx
  ui/src/app/zones/views/ZonesListHeader/ZonesListHeader.test.tsx
  ui/src/app/zones/views/ZonesListTable/ZonesListTable.tsx
Labels: Review: Code +1, Review: QA +1

#2761 Add zone detail route and basic component
  ui/src/app/Routes.tsx
  ui/src/app/zones/urls.ts
  ui/src/app/zones/views/ZoneDetails/ZoneDetails.tsx
  ui/src/app/zones/views/ZoneDetails/index.ts
  ui/src/app/zones/views/Zones.tsx
Labels: Review: Code +1, Review: QA +1

#2760 feat(ui): add remaining bootresource actions to slice
  ui/src/__snapshots__/root-reducer.test.js.snap
  ui/src/app/images/views/ImageList/ImageListHeader/ImageListHeader.test.tsx
  ui/src/app/store/bootresource/actions.test.ts
  ui/src/app/store/bootresource/reducers.test.ts
  ui/src/app/store/bootresource/selectors.test.ts
  ui/src/app/store/bootresource/selectors.ts
  ui/src/app/store/bootresource/slice.ts
  ui/src/app/store/bootresource/types/actions.ts
  ui/src/app/store/bootresource/types/base.ts
  ui/src/app/store/bootresource/types/enum.ts
  ui/src/app/store/bootresource/types/index.ts
  ui/src/app/store/bootresource/types/responses.ts
  ui/src/testing/factories/bootresource.ts
  ui/src/testing/factories/index.ts
  ui/src/testing/factories/state.ts
Labels: Review: Code +1

#2766 feat(ui): add automatic sync toggle to images page
  ui/src/app/base/components/Switch/Switch.tsx
  ui/src/app/base/components/Switch/index.ts
  ui/src/app/base/components/SwitchField/SwitchField.tsx
  ui/src/app/images/views/ImageList/ImageList.test.tsx
  ui/src/app/images/views/ImageList/ImageList.tsx
  ui/src/app/images/views/ImageList/ImageListHeader/ImageListHeader.test.tsx
  ui/src/app/images/views/ImageList/ImageListHeader/ImageListHeader.tsx
  ui/src/app/store/config/selectors.test.ts
  ui/src/app/store/config/selectors.ts
  ui/src/app/utils/index.ts
  ui/src/app/utils/unindentString.test.ts
  ui/src/app/utils/unindentString.ts
  ui/src/scss/_utilities.scss
Labels: Review: Code +1, Review: QA +1

#2763 Add dashboard configuration view
  ui/src/app/dashboard/urls.ts
  ui/src/app/dashboard/views/Dashboard.tsx
  ui/src/app/dashboard/views/DashboardConfigurationForm/DashboardConfigurationForm.tsx
  ui/src/app/dashboard/views/DashboardConfigurationForm/index.ts
  ui/src/app/dashboard/views/DiscoveriesListHeader/DiscoveriesListHeader.tsx
Labels: Review: Code +1, Review: QA +1

#2768 feat(ui): add new table confirm component
  ui/.betterer.results
  ui/src/app/base/components/TableConfirm/TableConfirm.test.tsx
  ui/src/app/base/components/TableConfirm/TableConfirm.tsx
  ui/src/app/base/components/TableConfirm/__snapshots__/TableConfirm.test.tsx.snap
  ui/src/app/base/components/TableConfirm/index.ts
  ui/src/app/base/components/TableDeleteConfirm/TableDeleteConfirm.test.tsx
  ui/src/app/base/components/TableDeleteConfirm/TableDeleteConfirm.tsx
  ui/src/app/base/components/TableDeleteConfirm/__snapshots__/TableDeleteConfirm.test.tsx.snap
  ui/src/app/base/constants.ts
  ui/src/app/domains/views/DomainsList/DomainsTable/DomainsTable.test.tsx
  ui/src/app/domains/views/DomainsList/DomainsTable/DomainsTable.tsx
  ui/src/app/pools/views/Pools.js
  ui/src/app/pools/views/Pools.test.js
  ui/src/app/preferences/views/SSHKeys/SSHKeyList/SSHKeyList.test.js
  ui/src/app/preferences/views/SSLKeys/SSLKeyList/SSLKeyList.test.js
  ui/src/app/settings/views/Dhcp/DhcpList/DhcpList.test.js
  ui/src/app/settings/views/Repositories/RepositoriesList/RepositoriesList.test.js
  ui/src/app/settings/views/Scripts/ScriptsList/ScriptsList.test.tsx
  ui/src/app/settings/views/Users/UsersList/UsersList.test.js
  ui/src/app/store/domain/reducers.test.ts
  ui/src/app/store/domain/slice.ts
  ui/src/app/store/domain/types/actions.ts
  ui/src/app/store/domain/types/index.ts
  ui/src/testing/factories/state.ts
Labels: Review: Code +1, Review: QA +1

#2764 Add zone details header component
  ui/src/app/zones/views/ZoneDetails/ZoneDetails.tsx
  ui/src/app/zones/views/ZoneDetails/ZoneDetailsHeader/ZoneDetailsHeader.tsx
  ui/src/app/zones/views/ZoneDetails/ZoneDetailsHeader/ZonesDetailsHeader.test.tsx
  ui/src/app/zones/views/ZoneDetails/ZoneDetailsHeader/index.ts
  ui/src/app/zones/views/ZonesList/ZonesList.tsx
  ui/src/app/zones/views/ZonesList/ZonesListForm/ZonesListForm.test.tsx
  ui/src/app/zones/views/ZonesList/ZonesListForm/ZonesListForm.tsx
  ui/src/app/zones/views/ZonesList/ZonesListForm/index.ts
  ui/src/app/zones/views/ZonesList/ZonesListHeader/ZonesListHeader.test.tsx
  ui/src/app/zones/views/ZonesList/ZonesListHeader/ZonesListHeader.tsx
  ui/src/app/zones/views/ZonesList/ZonesListHeader/ZonesListTitle/ZonesListTitle.tsx
  ui/src/app/zones/views/ZonesList/ZonesListHeader/ZonesListTitle/index.ts
  ui/src/app/zones/views/ZonesList/ZonesListHeader/index.ts
  ui/src/app/zones/views/ZonesList/ZonesListTable/ZonesListTable.tsx
  ui/src/app/zones/views/ZonesList/ZonesListTable/index.ts
Labels: Review: Code +1, Review: QA +1

#2769 feat(ui): add custom source form to images page
  ui/.betterer.results
  ui/src/app/base/components/FormikFormContent/index.ts
  ui/src/app/images/views/ImageList/ImageList.test.tsx
  ui/src/app/images/views/ImageList/ImageList.tsx
  ui/src/app/images/views/ImageList/UbuntuImages/CustomSourceForm/CustomSourceForm.test.tsx
  ui/src/app/images/views/ImageList/UbuntuImages/CustomSourceForm/CustomSourceForm.tsx
  ui/src/app/images/views/ImageList/UbuntuImages/CustomSourceForm/CustomSourceFormFields/CustomSourceFormFields.test.tsx
  ui/src/app/images/views/ImageList/UbuntuImages/CustomSourceForm/CustomSourceFormFields/CustomSourceFormFields.tsx
  ui/src/app/images/views/ImageList/UbuntuImages/CustomSourceForm/CustomSourceFormFields/index.ts
  ui/src/app/images/views/ImageList/UbuntuImages/CustomSourceForm/index.ts
  ui/src/app/images/views/ImageList/UbuntuImages/UbuntuImages.test.tsx
  ui/src/app/images/views/ImageList/UbuntuImages/UbuntuImages.tsx
  ui/src/app/images/views/ImageList/UbuntuImages/index.ts
  ui/src/app/store/bootresource/actions.test.ts
  ui/src/app/store/bootresource/selectors.test.ts
  ui/src/app/store/bootresource/selectors.ts
  ui/src/app/store/bootresource/slice.ts
  ui/src/app/store/bootresource/types/actions.ts
Labels: Review: Code +1, Review: QA +1

#2770 Add zone details page
  ui/.betterer.results
  ui/src/app/zones/views/ZoneDetails/ZoneDetails.tsx
  ui/src/app/zones/views/ZoneDetails/ZoneDetailsContent/ZoneDetailsContent.tsx
  ui/src/app/zones/views/ZoneDetails/ZoneDetailsContent/index.ts
  ui/src/app/zones/views/ZoneDetails/ZoneDetailsForm/ZoneDetailsForm.test.tsx
  ui/src/app/zones/views/ZoneDetails/ZoneDetailsForm/ZoneDetailsForm.tsx
  ui/src/app/zones/views/ZoneDetails/ZoneDetailsForm/index.ts
  ui/src/app/zones/views/ZoneDetails/ZoneDetailsHeader/ZoneDetailsHeader.tsx
  ui/src/app/zones/views/ZoneDetails/ZoneDetailsHeader/ZonesDetailsHeader.test.tsx
Labels: Review: Code +1 (with changes), Review: QA +1

#2771 Add zone delete action
  ui/src/app/base/components/FormikFormContent/FormikFormContent.tsx
  ui/src/app/zones/views/ZoneDetails/ZoneDetails.tsx
  ui/src/app/zones/views/ZoneDetails/ZoneDetailsHeader/DeleteConfirm/DeleteConfirm.test.tsx
  ui/src/app/zones/views/ZoneDetails/ZoneDetailsHeader/DeleteConfirm/DeleteConfirm.tsx
  ui/src/app/zones/views/ZoneDetails/ZoneDetailsHeader/DeleteConfirm/index.ts
  ui/src/app/zones/views/ZoneDetails/ZoneDetailsHeader/ZoneDetailsHeader.tsx
  ui/src/app/zones/views/ZonesList/ZonesListHeader/ZonesListHeader.tsx
Labels: Review: Code +1, Review: QA +1

#2773 feat(ui): close custom source connection form when successfully connected
  ui/.betterer.results
  ui/src/app/images/views/ImageList/UbuntuImages/CustomSource/CustomSource.tsx
  ui/src/app/images/views/ImageList/UbuntuImages/CustomSource/CustomSourceConnect/CustomSourceConnect.test.tsx
  ui/src/app/images/views/ImageList/UbuntuImages/CustomSource/CustomSourceConnect/CustomSourceConnect.tsx
  ui/src/app/images/views/ImageList/UbuntuImages/CustomSource/CustomSourceConnect/CustomSourceConnectFields/CustomSourceConnectFields.test.tsx
  ui/src/app/images/views/ImageList/UbuntuImages/CustomSource/CustomSourceConnect/CustomSourceConnectFields/CustomSourceConnectFields.tsx
  ui/src/app/images/views/ImageList/UbuntuImages/CustomSource/CustomSourceConnect/CustomSourceConnectFields/index.ts
  ui/src/app/images/views/ImageList/UbuntuImages/CustomSource/CustomSourceConnect/index.ts
  ui/src/app/images/views/ImageList/UbuntuImages/CustomSource/CustomSourceImages/CustomSourceImages.tsx
  ui/src/app/images/views/ImageList/UbuntuImages/CustomSource/CustomSourceImages/index.ts
  ui/src/app/images/views/ImageList/UbuntuImages/CustomSource/index.ts
  ui/src/app/images/views/ImageList/UbuntuImages/CustomSourceForm/CustomSourceForm.test.tsx
  ui/src/app/images/views/ImageList/UbuntuImages/CustomSourceForm/CustomSourceForm.tsx
  ui/src/app/images/views/ImageList/UbuntuImages/CustomSourceForm/CustomSourceFormFields/index.ts
  ui/src/app/images/views/ImageList/UbuntuImages/CustomSourceForm/index.ts
  ui/src/app/images/views/ImageList/UbuntuImages/UbuntuImages.test.tsx
  ui/src/app/images/views/ImageList/UbuntuImages/UbuntuImages.tsx
Labels: Review: Code +1, Review: QA +1

#2776 feat(ui): add image release/arch select form fields
  ui/src/app/images/components/UbuntuImageSelect/ArchSelect/ArchSelect.test.tsx
  ui/src/app/images/components/UbuntuImageSelect/ArchSelect/ArchSelect.tsx
  ui/src/app/images/components/UbuntuImageSelect/ArchSelect/index.ts
  ui/src/app/images/components/UbuntuImageSelect/ReleaseSelect/ReleaseSelect.test.tsx
  ui/src/app/images/components/UbuntuImageSelect/ReleaseSelect/ReleaseSelect.tsx
  ui/src/app/images/components/UbuntuImageSelect/ReleaseSelect/index.ts
  ui/src/app/images/components/UbuntuImageSelect/UbuntuImageSelect.test.tsx
  ui/src/app/images/components/UbuntuImageSelect/UbuntuImageSelect.tsx
  ui/src/app/images/components/UbuntuImageSelect/index.ts
  ui/src/app/images/views/ImageList/UbuntuImages/DefaultSource/DefaultSource.test.tsx
  ui/src/app/images/views/ImageList/UbuntuImages/DefaultSource/DefaultSource.tsx
  ui/src/app/images/views/ImageList/UbuntuImages/DefaultSource/index.ts
  ui/src/app/images/views/ImageList/UbuntuImages/UbuntuImages.test.tsx
  ui/src/app/images/views/ImageList/UbuntuImages/UbuntuImages.tsx
  ui/src/app/store/bootresource/selectors.test.ts
  ui/src/app/store/bootresource/selectors.ts
  ui/src/app/store/bootresource/types/actions.ts
  ui/src/app/store/bootresource/types/index.ts
  ui/src/app/store/bootresource/utils.test.ts
  ui/src/app/store/bootresource/utils.ts
  ui/src/app/utils/simpleSortByKey.test.ts
  ui/src/app/utils/simpleSortByKey.ts
Labels: Review: Code +1 (with changes), Review: QA +1

#2784 feat(ui): add selector for determining if user is an admin
  ui/src/app/base/components/NotificationGroup/Notification/Notification.tsx
  ui/src/app/settings/views/Settings.test.tsx
  ui/src/app/settings/views/Settings.tsx
  ui/src/app/store/auth/selectors.test.ts
  ui/src/app/store/auth/selectors.ts
Labels: Review: Code +1

#2786 Zone polish
  shared/src/components/Header/Header.tsx
  ui/src/app/zones/views/ZoneDetails/ZoneDetails.test.tsx
  ui/src/app/zones/views/ZoneDetails/ZoneDetails.tsx
  ui/src/app/zones/views/ZoneDetails/ZoneDetailsForm/ZoneDetailsForm.tsx
  ui/src/app/zones/views/ZoneDetails/ZoneDetailsHeader/ZoneDetailsHeader.tsx
  ui/src/app/zones/views/ZoneDetails/ZoneDetailsHeader/ZonesDetailsHeader.test.tsx
  ui/src/app/zones/views/ZonesList/ZonesList.tsx
  ui/src/app/zones/views/ZonesList/ZonesListForm/ZonesListForm.tsx
Labels: Review: Code +1, Review: QA +1

#2779 Add domains details header
  ui/src/app/domains/views/DomainDetails/DomainDetails.tsx
  ui/src/app/domains/views/DomainDetails/DomainDetailsHeader/DomainDetailsHeader.test.tsx
  ui/src/app/domains/views/DomainDetails/DomainDetailsHeader/DomainDetailsHeader.tsx
  ui/src/app/domains/views/DomainDetails/DomainDetailsHeader/index.ts
  ui/src/app/domains/views/DomainsList/DomainsTable/DomainsTable.tsx
Labels: Review: Code +1, Review: QA +1

#2752 Add discovery list table
  ui/src/app/dashboard/views/DiscoveriesList/DiscoveriesList.tsx
Labels: Review: Code +1, Review: QA +1

#2788 Add delete domain button to domail detail header
  ui/src/app/domains/views/DomainDetails/DomainDetailsHeader/DeleteDomainForm/DeleteDomainForm.test.tsx
  ui/src/app/domains/views/DomainDetails/DomainDetailsHeader/DeleteDomainForm/DeleteDomainForm.tsx
  ui/src/app/domains/views/DomainDetails/DomainDetailsHeader/DeleteDomainForm/index.ts
  ui/src/app/domains/views/DomainDetails/DomainDetailsHeader/DomainDetailsHeader.tsx
Labels: Review: Code +1, Review: QA +1

#2782 feat(ui): build Ubuntu images table
  ui/src/app/images/components/UbuntuImageSelect/ArchSelect/ArchSelect.test.tsx
  ui/src/app/images/components/UbuntuImageSelect/ArchSelect/ArchSelect.tsx
  ui/src/app/images/components/UbuntuImageSelect/ImagesTable/ImagesTable.test.tsx
  ui/src/app/images/components/UbuntuImageSelect/ImagesTable/ImagesTable.tsx
  ui/src/app/images/components/UbuntuImageSelect/ImagesTable/_index.scss
  ui/src/app/images/components/UbuntuImageSelect/ImagesTable/index.ts
  ui/src/app/images/components/UbuntuImageSelect/UbuntuImageSelect.test.tsx
  ui/src/app/images/components/UbuntuImageSelect/UbuntuImageSelect.tsx
  ui/src/app/images/types.ts
  ui/src/app/images/views/ImageList/UbuntuImages/DefaultSource/DefaultSource.test.tsx
  ui/src/app/images/views/ImageList/UbuntuImages/DefaultSource/DefaultSource.tsx
  ui/src/scss/index.scss
Labels: Review: Code +1, Review: QA +1

#2789 refactor(ui): migrate websocket sagas to typescript
  ui/package.json
  ui/src/app/base/hooks.ts
  ui/src/app/base/sagas/websockets.js
  ui/src/app/base/sagas/websockets.test.ts
  ui/src/app/base/sagas/websockets.ts
  ui/src/websocket-client.test.ts
  ui/src/websocket-client.ts
  ui/tsconfig.json
  yarn.lock
Labels: Review: Code +1, Review: QA +1

#2790 feat(ui): rack and region import statuses
  ui/src/app/images/views/ImageList/ImageListHeader/ImageListHeader.test.tsx
  ui/src/app/images/views/ImageList/ImageListHeader/ImageListHeader.tsx
  ui/src/app/store/bootresource/selectors.test.ts
  ui/src/app/store/bootresource/selectors.ts
Labels: Review: Code +1, Review: QA +1

#2793 refactor(ui): removed unnecessary getters and setters
  ui/src/app/base/sagas/websockets.test.ts
  ui/src/app/base/sagas/websockets.ts
Labels: Review: Code +1, Review: QA +1

#2792 feat(ui): make image selection form submittable
  ui/.betterer.results
  ui/src/app/base/components/FormikFormButtons/FormikFormButtons.tsx
  ui/src/app/images/views/ImageList/UbuntuImages/DefaultSource/DefaultSource.test.tsx
  ui/src/app/images/views/ImageList/UbuntuImages/DefaultSource/DefaultSource.tsx
Labels: Review: Code +1 (with changes), Review: QA +1

#2794 feat(ui): prevent removing last image of default commissioning release
  ui/src/app/images/components/UbuntuImageSelect/ArchSelect/ArchSelect.test.tsx
  ui/src/app/images/components/UbuntuImageSelect/ArchSelect/ArchSelect.tsx
  ui/src/app/images/components/UbuntuImageSelect/UbuntuImageSelect.test.tsx
Labels: Review: Code +1, Review: QA +1

#2796 Add "Add record" form to details header
  ui/.betterer.results
  ui/src/app/domains/views/DomainDetails/DomainDetailsHeader/AddRecordDomainForm/AddRecordDomainForm.test.tsx
  ui/src/app/domains/views/DomainDetails/DomainDetailsHeader/AddRecordDomainForm/AddRecordDomainForm.tsx
  ui/src/app/domains/views/DomainDetails/DomainDetailsHeader/AddRecordDomainForm/index.ts
  ui/src/app/domains/views/DomainDetails/DomainDetailsHeader/DomainDetailsHeader.tsx
  ui/src/app/store/domain/actions.test.ts
  ui/src/app/store/domain/slice.ts
Labels: Review: Code +1 (with changes), Review: QA +1

#2800 test(cypress): fix header test pointing to legacy zones url
  integration/cypress/integration/base/header.spec.ts
Labels: Review: Code +1

#2801 test(cypress): fix zones Cypress tests but for real this time
  integration/cypress/integration/zones/list.spec.ts
Labels: Review: Code +1

#2795 Add domain summary form
  ui/.betterer.results
  ui/src/app/domains/views/DomainDetails/DomainSummary/DomainSummary.tsx
  ui/src/app/domains/views/DomainDetails/DomainSummary/DomainsSummary.test.tsx
  ui/src/app/domains/views/DomainsList/DomainListHeaderForm/DomainListHeaderForm.tsx
Labels: Review: Code +1, Review: QA +1

#2804 Add discoveries search bar
  ui/src/app/dashboard/views/DiscoveriesList/DiscoveriesList.test.tsx
  ui/src/app/dashboard/views/DiscoveriesList/DiscoveriesList.tsx
  ui/src/app/store/discovery/selectors.test.ts
  ui/src/app/store/discovery/selectors.ts
Labels: Review: Code +1, Review: QA +1

#2799 Add domain not found header
  ui/src/app/domains/views/DomainDetails/DomainDetails.tsx
  ui/src/app/domains/views/DomainDetails/DomainNotFoundHeader/DomainNotFoundHeader.test.tsx
  ui/src/app/domains/views/DomainDetails/DomainNotFoundHeader/DomainNotFoundHeader.tsx
  ui/src/app/domains/views/DomainDetails/DomainNotFoundHeader/index.ts
  ui/src/app/domains/views/DomainDetails/DomainsDetails.test.tsx
Labels: Review: Code needed, Review: QA needed

#2798 Add dashboard configuration form
  ui/.betterer.results
  ui/src/app/dashboard/views/DashboardConfigurationForm/DashboardConfigurationForm.tsx
  ui/src/app/dashboard/views/DashboardConfigurationSubnetForm/DashboardConfigurationSubnetForm.test.tsx
  ui/src/app/dashboard/views/DashboardConfigurationSubnetForm/DashboardConfigurationSubnetForm.tsx
  ui/src/app/dashboard/views/DashboardConfigurationSubnetForm/index.ts
Labels: Review: Code +1 (with changes), Review: QA +1

#2797 feat(ui): build Other images section on images page
  ui/.betterer.results
  ui/src/app/base/sagas/websockets.ts
  ui/src/app/images/components/ImagesTable/ImagesTable.test.tsx
  ui/src/app/images/components/ImagesTable/ImagesTable.tsx
  ui/src/app/images/components/ImagesTable/_index.scss
  ui/src/app/images/components/ImagesTable/index.ts
  ui/src/app/images/types.ts
  ui/src/app/images/views/ImageList/ImageList.tsx
  ui/src/app/images/views/ImageList/OtherImages/OtherImages.test.tsx
  ui/src/app/images/views/ImageList/OtherImages/OtherImages.tsx
  ui/src/app/images/views/ImageList/OtherImages/OtherImagesSelect/OtherImagesSelect.test.tsx
  ui/src/app/images/views/ImageList/OtherImages/OtherImagesSelect/OtherImagesSelect.tsx
  ui/src/app/images/views/ImageList/OtherImages/OtherImagesSelect/index.ts
  ui/src/app/images/views/ImageList/OtherImages/index.ts
  ui/src/app/images/views/ImageList/UbuntuImages/DefaultSource/DefaultSource.test.tsx
  ui/src/app/images/views/ImageList/UbuntuImages/DefaultSource/DefaultSource.tsx
  ui/src/app/images/views/ImageList/UbuntuImages/UbuntuImageSelect/ArchSelect/ArchSelect.test.tsx
  ui/src/app/images/views/ImageList/UbuntuImages/UbuntuImageSelect/ArchSelect/ArchSelect.tsx
  ui/src/app/images/views/ImageList/UbuntuImages/UbuntuImageSelect/ArchSelect/index.ts
  ui/src/app/images/views/ImageList/UbuntuImages/UbuntuImageSelect/ReleaseSelect/ReleaseSelect.test.tsx
  ui/src/app/images/views/ImageList/UbuntuImages/UbuntuImageSelect/ReleaseSelect/ReleaseSelect.tsx
  ui/src/app/images/views/ImageList/UbuntuImages/UbuntuImageSelect/ReleaseSelect/index.ts
  ui/src/app/images/views/ImageList/UbuntuImages/UbuntuImageSelect/UbuntuImageSelect.test.tsx
  ui/src/app/images/views/ImageList/UbuntuImages/UbuntuImageSelect/UbuntuImageSelect.tsx
  ui/src/app/images/views/ImageList/UbuntuImages/UbuntuImageSelect/index.ts
  ui/src/app/store/bootresource/selectors.test.ts
  ui/src/app/store/bootresource/selectors.ts
  ui/src/app/store/bootresource/utils.test.ts
  ui/src/app/store/bootresource/utils.ts
  ui/src/scss/index.scss
Labels: Review: Code +1 (with changes), Review: QA +1

#2807 feat(ui): only show the polling state on the first load
  ui/src/app/base/hooks.test.ts
  ui/src/app/base/hooks.ts
  ui/src/app/images/views/ImageList/ImageListHeader/ImageListHeader.tsx
Labels: Review: Code +1, Review: QA +1

#2808 fix(ui): update dashboard file organisation + config form
  ui/.betterer.results
  ui/src/app/dashboard/views/Dashboard.tsx
  ui/src/app/dashboard/views/DashboardConfigurationForm/DashboardConfigurationForm.tsx
  ui/src/app/dashboard/views/DashboardConfigurationForm/DashboardConfigurationSubnetForm/DashboardConfigurationSubnetForm.test.tsx
  ui/src/app/dashboard/views/DashboardConfigurationForm/DashboardConfigurationSubnetForm/DashboardConfigurationSubnetForm.tsx
  ui/src/app/dashboard/views/DashboardConfigurationForm/DashboardConfigurationSubnetForm/index.ts
  ui/src/app/dashboard/views/DashboardConfigurationSubnetForm/DashboardConfigurationSubnetForm.test.tsx
  ui/src/app/dashboard/views/DashboardConfigurationSubnetForm/DashboardConfigurationSubnetForm.tsx
  ui/src/app/dashboard/views/DashboardHeader/DashboardHeader.tsx
  ui/src/app/dashboard/views/DashboardHeader/index.ts
  ui/src/app/dashboard/views/DiscoveriesList/DiscoveriesList.tsx
  ui/src/app/dashboard/views/DiscoveriesListHeader/index.ts
  ui/src/app/store/subnet/types/actions.ts
Labels: Review: Code +1, Review: QA +1

#2809 Domain resource edit
  ui/.betterer.results
  ui/src/app/domains/views/DomainDetails/DomainDetailsHeader/AddRecordDomainForm/AddRecordFields/AddRecordFields.tsx
  ui/src/app/domains/views/DomainDetails/DomainDetailsHeader/DomainDetailsHeader.tsx
  ui/src/app/domains/views/DomainDetails/DomainsDetails.test.tsx
  ui/src/app/domains/views/DomainDetails/ResourceRecords/EditRecordDomainForm.test.tsx
  ui/src/app/domains/views/DomainDetails/ResourceRecords/EditRecordDomainForm.tsx
  ui/src/app/domains/views/DomainDetails/ResourceRecords/ResourceRecords.tsx
  ui/src/app/store/domain/slice.ts
  ui/src/app/store/domain/types/actions.ts
  ui/src/app/store/domain/types/index.ts
Labels: Review: Code +1, Review: QA +1

#2812 refactor(legacy): remove legacy zones
  legacy/src/app/controllers/tests/test_zone_details.js
  legacy/src/app/controllers/tests/test_zones_list.js
  legacy/src/app/controllers/zone_details.js
  legacy/src/app/controllers/zones_list.js
  legacy/src/app/entry.js
  legacy/src/app/factories/tests/test_zones.js
  legacy/src/app/factories/zones.js
  legacy/src/app/partials/zone-details.html
  legacy/src/app/partials/zones-list.html
  legacy/src/app/routes.js
  legacy/src/scss/_tables.scss
  legacy/src/scss/tables/_patterns_table-zones.scss
Labels: Legacy 🧟‍♂️, Review: Code +1

#2815 feat(ui): clean up and make discovery table responsive
  ui/src/app/dashboard/views/DiscoveriesList/DiscoveriesList.test.tsx
  ui/src/app/dashboard/views/DiscoveriesList/DiscoveriesList.tsx
  ui/src/app/dashboard/views/DiscoveriesList/_index.scss
  ui/src/scss/index.scss
Labels: Review: Code +1, Review: QA +1

#2817 feat(ui): add a discovery row menu
  ui/src/app/dashboard/views/DiscoveriesList/DiscoveriesList.test.tsx
  ui/src/app/dashboard/views/DiscoveriesList/DiscoveriesList.tsx
Labels: Review: Code +1, Review: QA +1

#2816 fix(ui): domain details cleanup
  ui/.betterer.results
  ui/src/app/domains/components/RecordFields/RecordFields.test.tsx
  ui/src/app/domains/components/RecordFields/RecordFields.tsx
  ui/src/app/domains/components/RecordFields/index.ts
  ui/src/app/domains/views/DomainDetails/DomainDetailsHeader/AddRecordDomainForm/AddRecordFields/index.ts
  ui/src/app/domains/views/DomainDetails/DomainDetailsHeader/AddRecordDomainForm/index.ts
  ui/src/app/domains/views/DomainDetails/DomainDetailsHeader/AddRecordForm/AddRecordForm.test.tsx
  ui/src/app/domains/views/DomainDetails/DomainDetailsHeader/AddRecordForm/AddRecordForm.tsx
  ui/src/app/domains/views/DomainDetails/DomainDetailsHeader/AddRecordForm/index.ts
  ui/src/app/domains/views/DomainDetails/DomainDetailsHeader/DeleteDomainForm/DeleteDomainForm.test.tsx
  ui/src/app/domains/views/DomainDetails/DomainDetailsHeader/DeleteDomainForm/DeleteDomainForm.tsx
  ui/src/app/domains/views/DomainDetails/DomainDetailsHeader/DomainDetailsHeader.test.tsx
  ui/src/app/domains/views/DomainDetails/DomainDetailsHeader/DomainDetailsHeader.tsx
  ui/src/app/domains/views/DomainDetails/DomainSummary/DomainSummary.tsx
  ui/src/app/domains/views/DomainDetails/ResourceRecords/EditRecordDomainForm.test.tsx
  ui/src/app/domains/views/DomainDetails/ResourceRecords/EditRecordDomainForm.tsx
  ui/src/app/domains/views/DomainDetails/ResourceRecords/EditRecordForm/EditRecordForm.test.tsx
  ui/src/app/domains/views/DomainDetails/ResourceRecords/EditRecordForm/EditRecordForm.tsx
  ui/src/app/domains/views/DomainDetails/ResourceRecords/EditRecordForm/index.ts
  ui/src/app/domains/views/DomainDetails/ResourceRecords/ResourceRecords.test.tsx
  ui/src/app/domains/views/DomainDetails/ResourceRecords/ResourceRecords.tsx
  ui/src/app/store/domain/actions.test.ts
  ui/src/app/store/domain/constants.ts
  ui/src/app/store/domain/slice.ts
  ui/src/app/store/domain/types/actions.ts
  ui/src/app/store/domain/types/base.ts
  ui/src/app/store/domain/types/enum.ts
  ui/src/app/store/domain/types/index.ts
  ui/src/app/store/domain/utils.test.ts
  ui/src/app/store/domain/utils.ts
  ui/src/testing/factories/domain.ts
  ui/src/testing/factories/index.ts
Labels: Review: Code +1 (with changes), Review: QA +1

#2819 feat(ui): add device create interface action
  ui/src/app/store/device/actions.test.ts
  ui/src/app/store/device/reducers.test.ts
  ui/src/app/store/device/slice.ts
  ui/src/app/store/device/types/actions.ts
  ui/src/app/store/device/types/index.ts
Labels: Review: Code +1

#2822 feat(ui): show discovery count
  ui/src/app/dashboard/views/DashboardHeader/DashboardHeader.test.tsx
  ui/src/app/dashboard/views/DashboardHeader/DashboardHeader.tsx
Labels: Review: Code +1, Review: QA +1

#2823 feat(ui): delete discovery
  ui/src/app/dashboard/views/DiscoveriesList/DiscoveriesList.test.tsx
  ui/src/app/dashboard/views/DiscoveriesList/DiscoveriesList.tsx
Labels: Review: Code +1 (with changes), Review: QA +1

#2821 feat(ui): disable forms when network discovery is off
  ui/.betterer.results
  ui/src/app/dashboard/views/DashboardConfigurationForm/DashboardConfigurationSubnetForm/DashboardConfigurationSubnetForm.test.tsx
  ui/src/app/dashboard/views/DashboardConfigurationForm/DashboardConfigurationSubnetForm/DashboardConfigurationSubnetForm.tsx
  ui/src/app/settings/views/Network/NetworkDiscoveryForm/NetworkDiscoveryForm.test.tsx
  ui/src/app/settings/views/Network/NetworkDiscoveryForm/NetworkDiscoveryForm.tsx
  ui/src/app/settings/views/Network/NetworkDiscoveryForm/NetworkDiscoveryFormFields/NetworkDiscoveryFormFields.test.tsx
  ui/src/app/settings/views/Network/NetworkDiscoveryForm/NetworkDiscoveryFormFields/NetworkDiscoveryFormFields.tsx
  ui/src/app/settings/views/Network/NetworkDiscoveryForm/NetworkDiscoveryFormFields/index.ts
  ui/src/app/settings/views/Network/NetworkDiscoveryForm/types.ts
  ui/src/app/store/config/selectors.ts
  ui/src/app/store/config/types/enum.ts
  ui/src/app/store/config/types/index.ts
Labels: Review: Code +1, Review: QA +1

#2820 feat(ui): disabled discovery warning
  ui/src/app/dashboard/views/Dashboard.test.tsx
  ui/src/app/dashboard/views/Dashboard.tsx
Labels: Review: Code +1, Review: QA +1

#2669 ci(ci): run actions against the 3.0 branch
  .github/workflows/cypress.yml
  .github/workflows/test.yml
Labels: Backport 3.0 :arrow_backward:, Review: Code +1

#2674 feat(ui): replace legacy pod websocket fields with 'resources' equivalents (backport 3.0)
  ui/src/app/kvm/views/KVMDetails/KVMDetails.test.tsx
  ui/src/app/kvm/views/KVMDetails/KVMDetailsHeader/KVMDetailsHeader.test.tsx
  ui/src/app/kvm/views/KVMDetails/KVMDetailsHeader/KVMDetailsHeader.tsx
  ui/src/app/kvm/views/KVMDetails/StorageResources/StorageResources.tsx
  ui/src/app/kvm/views/KVMList/LxdTable/LxdTable.tsx
  ui/src/app/kvm/views/KVMList/StorageColumn/StorageColumn.test.tsx
  ui/src/app/kvm/views/KVMList/StorageColumn/StorageColumn.tsx
  ui/src/app/kvm/views/KVMList/VMsColumn/VMsColumn.test.tsx
  ui/src/app/kvm/views/KVMList/VMsColumn/VMsColumn.tsx
  ui/src/app/kvm/views/KVMList/VirshTable/VirshTable.test.tsx
  ui/src/app/kvm/views/KVMList/VirshTable/VirshTable.tsx
  ui/src/app/kvm/views/KVMList/VirshTable/_index.scss
  ui/src/app/store/pod/types.ts
  ui/src/testing/factories/index.ts
  ui/src/testing/factories/nodes.ts
Labels: Backport 3.0 :arrow_backward:, Review: Code +1

#2668 feat(legacy): display snap upgrade errors
  legacy/src/app/controllers/nodes_list.js
  legacy/src/app/controllers/tests/test_nodes_list.js
  legacy/src/app/partials/nodes-list.html
  legacy/src/scss/tables/_patterns_table-controllers.scss
  ui/src/app/store/controller/types.ts
Labels: Backport 3.0 :arrow_backward:, Legacy 🧟‍♂️, Review: Code +1

#2825 refactor(all): remove all references to general.navigation_options websocket method (#2683)
  legacy/src/app/bootstrap.js
  legacy/src/app/controllers/dashboard.js
  legacy/src/app/controllers/domain_details.js
  legacy/src/app/controllers/domains_list.js
  legacy/src/app/controllers/fabric_details.js
  legacy/src/app/controllers/images.js
  legacy/src/app/controllers/networks_list.js
  legacy/src/app/controllers/node_details.js
  legacy/src/app/controllers/node_events.js
  legacy/src/app/controllers/node_result.js
  legacy/src/app/controllers/nodes_list.js
  legacy/src/app/controllers/subnet_details.js
  legacy/src/app/controllers/vlan_details.js
  legacy/src/app/controllers/zone_details.js
  legacy/src/app/controllers/zones_list.js
  legacy/src/app/factories/general.js
  legacy/src/app/factories/tests/test_general.js
  ui/.betterer.results
  ui/src/__snapshots__/root-reducer.test.js.snap
  ui/src/app/App.test.tsx
  ui/src/app/App.tsx
  ui/src/app/machines/views/MachineList/MachineListHeader/MachineListHeader.test.js
  ui/src/app/store/general/actions.test.ts
  ui/src/app/store/general/reducers.test.ts
  ui/src/app/store/general/selectors/index.ts
  ui/src/app/store/general/selectors/navigationOptions.test.ts
  ui/src/app/store/general/selectors/navigationOptions.ts
  ui/src/app/store/general/slice.ts
  ui/src/app/store/general/types.ts
  ui/src/testing/factories/general.ts
  ui/src/testing/factories/index.ts
  ui/src/testing/factories/state.ts
Labels: Backport 3.0 :arrow_backward:, Legacy 🧟‍♂️, Review: Code +1, Review: QA +1

#2826 feat(ui): add saga for updating a DNS resource then updating the record
  ui/.betterer.results
  ui/src/app/base/sagas/actions.js
  ui/src/app/base/sagas/actions.test.js
  ui/src/app/base/sagas/actions.test.ts
  ui/src/app/base/sagas/actions.ts
  ui/src/app/base/sagas/websockets.ts
  ui/src/app/domains/components/RecordFields/RecordFields.tsx
  ui/src/app/domains/views/DomainDetails/DomainDetailsHeader/AddRecordForm/AddRecordForm.tsx
  ui/src/app/domains/views/DomainDetails/ResourceRecords/EditRecordForm/EditRecordForm.test.tsx
  ui/src/app/domains/views/DomainDetails/ResourceRecords/EditRecordForm/EditRecordForm.tsx
  ui/src/app/machines/components/ActionFormWrapper/SetPoolForm/SetPoolForm.test.tsx
  ui/src/app/machines/components/ActionFormWrapper/SetPoolForm/SetPoolForm.tsx
  ui/src/app/store/domain/actions.test.ts
  ui/src/app/store/domain/slice.ts
  ui/src/app/store/domain/types/actions.ts
  ui/src/app/store/domain/types/index.ts
  ui/src/app/store/domain/utils.ts
  ui/src/app/store/resourcepool/actions.test.ts
  ui/src/app/store/resourcepool/reducers.test.ts
  ui/src/app/store/resourcepool/slice.ts
  ui/src/app/store/resourcepool/types/actions.ts
  ui/src/app/store/resourcepool/types/index.ts
  ui/src/websocket-client.ts
Labels: Review: Code +1 (with changes), Review: QA +1

#2828 feat(ui): don't call form onSuccess on first render
  ui/src/app/base/components/FormikFormButtons/FormikFormButtons.test.tsx
  ui/src/app/base/components/FormikFormButtons/FormikFormButtons.tsx
  ui/src/app/base/components/FormikFormContent/FormikFormContent.test.tsx
  ui/src/app/base/components/FormikFormContent/FormikFormContent.tsx
  ui/src/app/images/views/ImageList/UbuntuImages/CustomSource/CustomSourceConnect/CustomSourceConnect.test.tsx
  ui/src/app/machines/components/ActionFormWrapper/FieldlessForm/__snapshots__/FieldlessForm.test.tsx.snap
Labels: Review: Code +1, Review: QA +1

#2829 feat(ui): add selectors for the add discovery form
  ui/src/app/store/domain/selectors.test.ts
  ui/src/app/store/domain/selectors.ts
  ui/src/app/store/machine/selectors.test.ts
  ui/src/app/store/machine/selectors.ts
  ui/src/app/store/subnet/selectors.test.ts
  ui/src/app/store/subnet/selectors.ts
Labels: Review: Code +1

#2830 feat(ui): add ability to delete domain records
  ui/.betterer.results
  ui/src/app/base/sagas/actions.test.ts
  ui/src/app/base/sagas/actions.ts
  ui/src/app/domains/views/DomainDetails/ResourceRecords/DeleteRecordForm/DeleteRecordForm.test.tsx
  ui/src/app/domains/views/DomainDetails/ResourceRecords/DeleteRecordForm/DeleteRecordForm.tsx
  ui/src/app/domains/views/DomainDetails/ResourceRecords/DeleteRecordForm/index.ts
  ui/src/app/domains/views/DomainDetails/ResourceRecords/EditRecordForm/EditRecordForm.test.tsx
  ui/src/app/domains/views/DomainDetails/ResourceRecords/EditRecordForm/EditRecordForm.tsx
  ui/src/app/domains/views/DomainDetails/ResourceRecords/ResourceRecords.tsx
  ui/src/app/store/domain/actions.test.ts
  ui/src/app/store/domain/slice.ts
  ui/src/app/store/domain/types/actions.ts
  ui/src/app/store/domain/types/index.ts
Labels: Review: Code +1 (with changes), Review: QA +1

#2833 feat(ui): remove legacy domain files + add redirects
  integration/cypress/integration/base/header.spec.ts
  integration/cypress/integration/domains/list.spec.ts
  legacy/src/app/controllers/add_domain.js
  legacy/src/app/controllers/domain_details.js
  legacy/src/app/controllers/domains_list.js
  legacy/src/app/controllers/tests/test_add_domain.js
  legacy/src/app/controllers/tests/test_domain_details.js
  legacy/src/app/controllers/tests/test_domains_list.js
  legacy/src/app/entry.js
  legacy/src/app/partials/domain-details.html
  legacy/src/app/partials/domains-list.html
  legacy/src/app/routes.js
  shared/src/components/Header/Header.tsx
Labels: Legacy 🧟‍♂️, Review: Code +1 (with changes), Review: QA +1

#2832 feat(ui): clear all form
  ui/.betterer.results
  ui/src/app/dashboard/views/DashboardHeader/ClearAllForm/ClearAllForm.test.tsx
  ui/src/app/dashboard/views/DashboardHeader/ClearAllForm/ClearAllForm.tsx
  ui/src/app/dashboard/views/DashboardHeader/ClearAllForm/index.ts
  ui/src/app/dashboard/views/DashboardHeader/DashboardHeader.test.tsx
  ui/src/app/dashboard/views/DashboardHeader/DashboardHeader.tsx
  ui/src/app/store/discovery/actions.test.ts
  ui/src/app/store/discovery/slice.ts
Labels: Review: Code +1, Review: QA +1

#2831 feat(ui): add discovery form
  ui/.betterer.results
  ui/src/app/dashboard/views/DiscoveriesList/DiscoveriesList.tsx
  ui/src/app/dashboard/views/DiscoveryAddForm/DiscoveryAddForm.test.tsx
  ui/src/app/dashboard/views/DiscoveryAddForm/DiscoveryAddForm.tsx
  ui/src/app/dashboard/views/DiscoveryAddForm/DiscoveryAddFormFields/DiscoveryAddFormFields.test.tsx
  ui/src/app/dashboard/views/DiscoveryAddForm/DiscoveryAddFormFields/DiscoveryAddFormFields.tsx
  ui/src/app/dashboard/views/DiscoveryAddForm/DiscoveryAddFormFields/index.ts
  ui/src/app/dashboard/views/DiscoveryAddForm/index.ts
  ui/src/app/dashboard/views/DiscoveryAddForm/types.ts
  ui/src/app/store/subnet/selectors.ts
  ui/src/app/utils/preparePayload.ts
  ui/src/scss/_utilities.scss
Labels: Review: Code +1, Review: QA +1

#2842 feat(ui): add delete action to images table
  ui/src/app/base/components/TableActions/TableActions.js
  ui/src/app/base/components/TableConfirm/TableConfirm.test.tsx
  ui/src/app/base/components/TableConfirm/TableConfirm.tsx
  ui/src/app/base/components/TableConfirm/__snapshots__/TableConfirm.test.tsx.snap
  ui/src/app/base/components/TableDeleteConfirm/TableDeleteConfirm.tsx
  ui/src/app/images/components/ImagesTable/DeleteImageConfirm/DeleteImageConfirm.test.tsx
  ui/src/app/images/components/ImagesTable/DeleteImageConfirm/DeleteImageConfirm.tsx
  ui/src/app/images/components/ImagesTable/DeleteImageConfirm/index.ts
  ui/src/app/images/components/ImagesTable/ImagesTable.test.tsx
  ui/src/app/images/components/ImagesTable/ImagesTable.tsx
  ui/src/app/images/components/ImagesTable/_index.scss
  ui/src/app/images/views/ImageList/OtherImages/OtherImagesSelect/OtherImagesSelect.test.tsx
  ui/src/app/images/views/ImageList/OtherImages/OtherImagesSelect/OtherImagesSelect.tsx
Labels: Review: Code +1 (with changes), Review: QA +1

#2843 refactor(ui): make filter accordion reusable
  ui/.betterer.results
  ui/src/app/base/components/FilterAccordion/FilterAccordion.test.tsx
  ui/src/app/base/components/FilterAccordion/FilterAccordion.tsx
  ui/src/app/base/components/FilterAccordion/_index.scss
  ui/src/app/base/components/FilterAccordion/index.ts
  ui/src/app/machines/filter-nodes.ts
  ui/src/app/machines/search.ts
  ui/src/app/machines/views/MachineList/MachineList.tsx
  ui/src/app/machines/views/MachineList/MachineListControls/FilterAccordion/FilterAccordion.test.js
  ui/src/app/machines/views/MachineList/MachineListControls/FilterAccordion/__snapshots__/FilterAccordion.test.js.snap
  ui/src/app/machines/views/MachineList/MachineListControls/GroupSelect/GroupSelect.test.tsx
  ui/src/app/machines/views/MachineList/MachineListControls/GroupSelect/GroupSelect.tsx
  ui/src/app/machines/views/MachineList/MachineListControls/GroupSelect/__snapshots__/GroupSelect.test.tsx.snap
  ui/src/app/machines/views/MachineList/MachineListControls/MachineListControls.test.tsx
  ui/src/app/machines/views/MachineList/MachineListControls/MachineListControls.tsx
  ui/src/app/machines/views/MachineList/MachineListControls/MachinesFilterAccordion/MachinesFilterAccordion.test.tsx
  ui/src/app/machines/views/MachineList/MachineListControls/MachinesFilterAccordion/MachinesFilterAccordion.tsx
  ui/src/app/machines/views/MachineList/MachineListControls/MachinesFilterAccordion/index.ts
  ui/src/app/store/machine/utils/index.ts
  ui/src/app/store/machine/utils/search.test.ts
  ui/src/app/store/machine/utils/search.ts
  ui/src/app/utils/index.ts
  ui/src/app/utils/search.js
  ui/src/app/utils/search.test.js
  ui/src/scss/index.scss
Labels: Review: Code +1, Review: QA +1

#2846 fix(ui): don't overwrite events when fetching
  ui/src/app/store/event/reducers.test.ts
  ui/src/app/store/event/slice.ts
Labels: Backport 3.0 :arrow_backward:, Review: Code +1, Review: QA +1

#2848 fix(ui): don't overwrite events when fetching
  ui/src/app/store/event/reducers.test.ts
  ui/src/app/store/event/slice.ts
Labels: Backport 3.0 :arrow_backward:, Review: Code +1, Review: QA +1

#2845 feat(ui): build custom images table
  ui/src/app/images/components/ImagesTable/DeleteImageConfirm/DeleteImageConfirm.tsx
  ui/src/app/images/components/ImagesTable/ImagesTable.test.tsx
  ui/src/app/images/components/ImagesTable/ImagesTable.tsx
  ui/src/app/images/views/ImageList/CustomImages/CustomImages.test.tsx
  ui/src/app/images/views/ImageList/CustomImages/CustomImages.tsx
  ui/src/app/images/views/ImageList/CustomImages/index.ts
  ui/src/app/images/views/ImageList/ImageList.tsx
  ui/src/app/images/views/ImageList/OtherImages/OtherImages.test.tsx
  ui/src/app/images/views/ImageList/OtherImages/OtherImages.tsx
  ui/src/app/images/views/ImageList/OtherImages/OtherImagesSelect/OtherImagesSelect.tsx
  ui/src/app/images/views/ImageList/UbuntuImages/DefaultSource/DefaultSource.tsx
  ui/src/app/images/views/ImageList/UbuntuImages/UbuntuImageSelect/UbuntuImageSelect.tsx
  ui/src/app/images/views/ImageList/UbuntuImages/UbuntuImages.test.tsx
  ui/src/app/images/views/ImageList/UbuntuImages/UbuntuImages.tsx
  ui/src/app/store/bootresource/selectors.test.ts
  ui/src/app/store/bootresource/selectors.ts
Labels: Review: Code +1, Review: QA +1
