Repository canonical/maas-ui, pull requests merged in 2021-04, with the labels that each got.

#2459 feat(ui): add ability to select VMs in LXD VM table
  ui/src/app/kvm/views/KVMDetails/LxdProject/ProjectVMs/ProjectVMs.test.tsx
  ui/src/app/kvm/views/KVMDetails/LxdProject/ProjectVMs/ProjectVMs.tsx
  ui/src/app/kvm/views/KVMDetails/LxdProject/ProjectVMs/VMsActionBar/VMsActionBar.test.tsx
  ui/src/app/kvm/views/KVMDetails/LxdProject/ProjectVMs/VMsActionBar/VMsActionBar.tsx
  ui/src/app/kvm/views/KVMDetails/LxdProject/ProjectVMs/VMsActionBar/__snapshots__/VMsActionBar.test.tsx.snap
  ui/src/app/kvm/views/KVMDetails/LxdProject/ProjectVMs/VMsTable/NameColumn/NameColumn.tsx
  ui/src/app/kvm/views/KVMDetails/LxdProject/ProjectVMs/VMsTable/VMsTable.test.tsx
  ui/src/app/kvm/views/KVMDetails/LxdProject/ProjectVMs/VMsTable/VMsTable.tsx
  ui/src/app/machines/views/MachineList/MachineList.js
  ui/src/app/machines/views/MachineList/MachineList.test.js
Labels: Review: Code +1, Review: QA +1

#2457 fix(ui): only allow hugepages and core pinning for LXD pods
  ui/src/app/kvm/components/KVMActionFormWrapper/ComposeForm/ComposeForm.tsx
  ui/src/app/kvm/components/KVMActionFormWrapper/ComposeForm/ComposeFormFields/ComposeFormFields.test.tsx
  ui/src/app/kvm/components/KVMActionFormWrapper/ComposeForm/ComposeFormFields/ComposeFormFields.tsx
Labels: Review: Code +1, Review: QA +1

#2465 feat(ui): paginate LXD VMs table
  ui/src/app/base/components/ArrowPagination/ArrowPagination.test.tsx
  ui/src/app/base/components/ArrowPagination/ArrowPagination.tsx
  ui/src/app/kvm/views/KVMDetails/LxdProject/ProjectVMs/ProjectVMs.tsx
  ui/src/app/kvm/views/KVMDetails/LxdProject/ProjectVMs/VMsActionBar/VMsActionBar.test.tsx
  ui/src/app/kvm/views/KVMDetails/LxdProject/ProjectVMs/VMsActionBar/VMsActionBar.tsx
  ui/src/app/kvm/views/KVMDetails/LxdProject/ProjectVMs/VMsTable/VMsTable.test.tsx
  ui/src/app/kvm/views/KVMDetails/LxdProject/ProjectVMs/VMsTable/VMsTable.tsx
  ui/src/app/kvm/views/KVMDetails/LxdProject/ProjectVMs/index.ts
Labels: Review: Code +1, Review: QA +1

#2463 feat(ui): build overall LXD resources card
  ui/src/app/kvm/utils.test.ts
  ui/src/app/kvm/utils.ts
  ui/src/app/kvm/views/KVMDetails/KVMDetails.test.tsx
  ui/src/app/kvm/views/KVMDetails/KVMDetails.tsx
  ui/src/app/kvm/views/KVMDetails/LxdProject/LxdProject.tsx
  ui/src/app/kvm/views/KVMDetails/LxdProject/ProjectSummaryCard/ProjectSummaryCard.test.tsx
  ui/src/app/kvm/views/KVMDetails/LxdProject/ProjectSummaryCard/ProjectSummaryCard.tsx
  ui/src/app/kvm/views/KVMDetails/LxdProject/ProjectSummaryCard/_index.scss
  ui/src/app/kvm/views/KVMDetails/LxdProject/ProjectSummaryCard/index.ts
  ui/src/app/kvm/views/KVMDetails/LxdResources/LxdResources.test.tsx
  ui/src/app/kvm/views/KVMDetails/LxdResources/LxdResources.tsx
  ui/src/app/kvm/views/KVMDetails/LxdResources/OverallResourcesCard/OverallCores/OverallCores.test.tsx
  ui/src/app/kvm/views/KVMDetails/LxdResources/OverallResourcesCard/OverallCores/OverallCores.tsx
  ui/src/app/kvm/views/KVMDetails/LxdResources/OverallResourcesCard/OverallCores/__snapshots__/OverallCores.test.tsx.snap
  ui/src/app/kvm/views/KVMDetails/LxdResources/OverallResourcesCard/OverallCores/_index.scss
  ui/src/app/kvm/views/KVMDetails/LxdResources/OverallResourcesCard/OverallCores/index.ts
  ui/src/app/kvm/views/KVMDetails/LxdResources/OverallResourcesCard/OverallRam/OverallRam.test.tsx
  ui/src/app/kvm/views/KVMDetails/LxdResources/OverallResourcesCard/OverallRam/OverallRam.tsx
  ui/src/app/kvm/views/KVMDetails/LxdResources/OverallResourcesCard/OverallRam/__snapshots__/OverallRam.test.tsx.snap
  ui/src/app/kvm/views/KVMDetails/LxdResources/OverallResourcesCard/OverallRam/_index.scss
  ui/src/app/kvm/views/KVMDetails/LxdResources/OverallResourcesCard/OverallRam/index.ts
  ui/src/app/kvm/views/KVMDetails/LxdResources/OverallResourcesCard/OverallResourcesCard.test.tsx
  ui/src/app/kvm/views/KVMDetails/LxdResources/OverallResourcesCard/OverallResourcesCard.tsx
  ui/src/app/kvm/views/KVMDetails/LxdResources/OverallResourcesCard/__snapshots__/OverallResourcesCard.test.tsx.snap
  ui/src/app/kvm/views/KVMDetails/LxdResources/OverallResourcesCard/_index.scss
  ui/src/app/kvm/views/KVMDetails/LxdResources/OverallResourcesCard/index.ts
  ui/src/app/kvm/views/KVMDetails/LxdResources/ProjectResourcesCard/ProjectResourcesCard.tsx
  ui/src/app/kvm/views/KVMDetails/LxdResources/ProjectResourcesCard/index.ts
  ui/src/app/kvm/views/KVMDetails/LxdResources/index.ts
  ui/src/app/kvm/views/KVMDetails/RamResources/RamResources.tsx
  ui/src/scss/index.scss
Labels: Review: Code +1, Review: QA +1

#2467 feat(ui): build LXD project aggregate resources card
  ui/src/app/kvm/views/KVMDetails/LxdResources/LxdResources.tsx
  ui/src/app/kvm/views/KVMDetails/LxdResources/OverallResourcesCard/OverallResourcesCard.tsx
  ui/src/app/kvm/views/KVMDetails/LxdResources/OverallResourcesCard/__snapshots__/OverallResourcesCard.test.tsx.snap
  ui/src/app/kvm/views/KVMDetails/LxdResources/ProjectResourcesCard/ProjectResourcesCard.test.tsx
  ui/src/app/kvm/views/KVMDetails/LxdResources/ProjectResourcesCard/ProjectResourcesCard.tsx
  ui/src/app/kvm/views/KVMDetails/LxdResources/ProjectResourcesCard/_index.scss
  ui/src/app/kvm/views/KVMDetails/RamResources/RamResources.tsx
  ui/src/app/kvm/views/KVMDetails/RamResources/__snapshots__/RamResources.test.tsx.snap
  ui/src/app/kvm/views/KVMDetails/RamResources/_index.scss
  ui/src/app/kvm/views/KVMDetails/StorageResources/StorageResources.test.tsx
  ui/src/app/kvm/views/KVMDetails/StorageResources/StorageResources.tsx
  ui/src/app/kvm/views/KVMDetails/StorageResources/__snapshots__/StorageResources.test.tsx.snap
  ui/src/app/kvm/views/KVMDetails/VfResources/VfResources.test.tsx
  ui/src/app/kvm/views/KVMDetails/VfResources/VfResources.tsx
  ui/src/app/kvm/views/KVMDetails/VfResources/__snapshots__/VfResources.test.tsx.snap
  ui/src/app/kvm/views/KVMDetails/VfResources/_index.scss
  ui/src/app/kvm/views/KVMDetails/VfResources/index.ts
  ui/src/app/kvm/views/KVMDetails/VmResources/VmResources.test.tsx
  ui/src/app/kvm/views/KVMDetails/VmResources/VmResources.tsx
  ui/src/app/kvm/views/KVMDetails/VmResources/_index.scss
  ui/src/app/kvm/views/KVMDetails/VmResources/index.ts
  ui/src/scss/index.scss
Labels: Review: Code +1, Review: QA +1

#2468 feat(ui): add search to LXD VM table
  ui/src/app/kvm/components/PodAggregateResources/PodAggregateResources.tsx
  ui/src/app/kvm/views/KVMDetails/KVMDetails.test.tsx
  ui/src/app/kvm/views/KVMDetails/KVMDetails.tsx
  ui/src/app/kvm/views/KVMDetails/KVMResources/KVMNumaResources/KVMNumaResources.tsx
  ui/src/app/kvm/views/KVMDetails/LxdProject/LxdProject.test.tsx
  ui/src/app/kvm/views/KVMDetails/LxdProject/LxdProject.tsx
  ui/src/app/kvm/views/KVMDetails/LxdProject/ProjectVMs/ProjectVMs.test.tsx
  ui/src/app/kvm/views/KVMDetails/LxdProject/ProjectVMs/ProjectVMs.tsx
  ui/src/app/kvm/views/KVMDetails/LxdProject/ProjectVMs/VMsActionBar/VMsActionBar.test.tsx
  ui/src/app/kvm/views/KVMDetails/LxdProject/ProjectVMs/VMsActionBar/VMsActionBar.tsx
  ui/src/app/kvm/views/KVMDetails/LxdProject/ProjectVMs/VMsTable/VMsTable.test.tsx
  ui/src/app/kvm/views/KVMDetails/LxdProject/ProjectVMs/VMsTable/VMsTable.tsx
  ui/src/app/kvm/views/KVMDetails/LxdResources/ProjectResourcesCard/ProjectResourcesCard.tsx
  ui/src/app/kvm/views/KVMDetails/index.ts
  ui/src/app/store/pod/selectors.test.ts
  ui/src/app/store/pod/selectors.ts
Labels: Review: Code +1, Review: QA +1

#2462 fix(ui): fix active tab and navigation highlights
  ui/src/scss/_vanilla-overrides.scss
Labels: Review: Code +1, Review: QA +1

#2472 feat(ui): rebuild KVM NUMA cards using resources data
  ui/src/app/kvm/views/KVMDetails/LxdResources/LxdResources.test.tsx
  ui/src/app/kvm/views/KVMDetails/LxdResources/LxdResources.tsx
  ui/src/app/kvm/views/KVMDetails/LxdResources/NumaResources/NumaResources.test.tsx
  ui/src/app/kvm/views/KVMDetails/LxdResources/NumaResources/NumaResources.tsx
  ui/src/app/kvm/views/KVMDetails/LxdResources/NumaResources/NumaResourcesCard/NumaResourcesCard.test.tsx
  ui/src/app/kvm/views/KVMDetails/LxdResources/NumaResources/NumaResourcesCard/NumaResourcesCard.tsx
  ui/src/app/kvm/views/KVMDetails/LxdResources/NumaResources/NumaResourcesCard/_index.scss
  ui/src/app/kvm/views/KVMDetails/LxdResources/NumaResources/NumaResourcesCard/index.ts
  ui/src/app/kvm/views/KVMDetails/LxdResources/NumaResources/_index.scss
  ui/src/app/kvm/views/KVMDetails/LxdResources/NumaResources/index.ts
  ui/src/app/kvm/views/KVMDetails/LxdResources/OverallResourcesCard/OverallRam/OverallRam.tsx
  ui/src/app/kvm/views/KVMDetails/LxdResources/OverallResourcesCard/OverallRam/__snapshots__/OverallRam.test.tsx.snap
  ui/src/app/kvm/views/KVMDetails/VfResources/VfResources.tsx
  ui/src/scss/index.scss
Labels: Review: Code +1, Review: QA +1

#2474 fix(ui): correctly select the installation log
  ui/src/app/base/sagas/http.js
  ui/src/app/base/sagas/http.test.js
  ui/src/app/machines/views/MachineDetails/MachineLogs/DownloadMenu/DownloadMenu.test.tsx
  ui/src/app/machines/views/MachineDetails/MachineLogs/InstallationOutput/InstallationOutput.test.tsx
  ui/src/app/machines/views/MachineDetails/MachineLogs/hooks.test.tsx
  ui/src/app/machines/views/MachineDetails/MachineLogs/hooks.ts
  ui/src/app/store/scriptresult/selectors.test.tsx
  ui/src/app/store/scriptresult/selectors.ts
  ui/src/app/store/scriptresult/types.ts
Labels: Review: Code +1, Review: QA +1

#2477 refactor(ui): replace old Pod components with new KVM components
  ui/.betterer.results
  ui/src/app/kvm/components/PodAggregateResources/PodAggregateResources.test.tsx
  ui/src/app/kvm/components/PodAggregateResources/PodAggregateResources.tsx
  ui/src/app/kvm/components/PodAggregateResources/index.ts
  ui/src/app/kvm/components/PodResourcesCard/PodResourcesCard.test.tsx
  ui/src/app/kvm/components/PodResourcesCard/PodResourcesCard.tsx
  ui/src/app/kvm/components/PodResourcesCard/_index.scss
  ui/src/app/kvm/components/PodResourcesCard/index.ts
  ui/src/app/kvm/components/PodStorage/index.ts
  ui/src/app/kvm/views/KVMDetails/KVMDetails.test.tsx
  ui/src/app/kvm/views/KVMDetails/KVMDetails.tsx
  ui/src/app/kvm/views/KVMDetails/KVMResources/KVMNumaResources/KVMNumaResources.test.tsx
  ui/src/app/kvm/views/KVMDetails/KVMResources/KVMNumaResources/KVMNumaResources.tsx
  ui/src/app/kvm/views/KVMDetails/KVMResources/KVMNumaResources/_index.scss
  ui/src/app/kvm/views/KVMDetails/KVMResources/KVMNumaResources/index.ts
  ui/src/app/kvm/views/KVMDetails/KVMResources/KVMResources.test.tsx
  ui/src/app/kvm/views/KVMDetails/KVMResources/KVMResources.tsx
  ui/src/app/kvm/views/KVMDetails/KVMResources/KVMStorageCards/KVMStorageCards.test.tsx
  ui/src/app/kvm/views/KVMDetails/KVMResources/KVMStorageCards/KVMStorageCards.tsx
  ui/src/app/kvm/views/KVMDetails/KVMResources/KVMStorageCards/_index.scss
  ui/src/app/kvm/views/KVMDetails/KVMResources/KVMStorageCards/index.ts
  ui/src/app/kvm/views/KVMDetails/KVMResources/NumaResources/NumaResources.test.tsx
  ui/src/app/kvm/views/KVMDetails/KVMResources/NumaResources/NumaResources.tsx
  ui/src/app/kvm/views/KVMDetails/KVMResources/NumaResources/NumaResourcesCard/NumaResourcesCard.test.tsx
  ui/src/app/kvm/views/KVMDetails/KVMResources/NumaResources/NumaResourcesCard/NumaResourcesCard.tsx
  ui/src/app/kvm/views/KVMDetails/KVMResources/NumaResources/NumaResourcesCard/_index.scss
  ui/src/app/kvm/views/KVMDetails/KVMResources/NumaResources/NumaResourcesCard/index.ts
  ui/src/app/kvm/views/KVMDetails/KVMResources/NumaResources/_index.scss
  ui/src/app/kvm/views/KVMDetails/KVMResources/NumaResources/index.ts
  ui/src/app/kvm/views/KVMDetails/KVMResources/OverallResourcesCard/OverallCores/OverallCores.test.tsx
  ui/src/app/kvm/views/KVMDetails/KVMResources/OverallResourcesCard/OverallCores/OverallCores.tsx
  ui/src/app/kvm/views/KVMDetails/KVMResources/OverallResourcesCard/OverallCores/__snapshots__/OverallCores.test.tsx.snap
  ui/src/app/kvm/views/KVMDetails/KVMResources/OverallResourcesCard/OverallCores/_index.scss
  ui/src/app/kvm/views/KVMDetails/KVMResources/OverallResourcesCard/OverallCores/index.ts
  ui/src/app/kvm/views/KVMDetails/KVMResources/OverallResourcesCard/OverallRam/OverallRam.test.tsx
  ui/src/app/kvm/views/KVMDetails/KVMResources/OverallResourcesCard/OverallRam/OverallRam.tsx
  ui/src/app/kvm/views/KVMDetails/KVMResources/OverallResourcesCard/OverallRam/__snapshots__/OverallRam.test.tsx.snap
  ui/src/app/kvm/views/KVMDetails/KVMResources/OverallResourcesCard/OverallRam/_index.scss
  ui/src/app/kvm/views/KVMDetails/KVMResources/OverallResourcesCard/OverallRam/index.ts
  ui/src/app/kvm/views/KVMDetails/KVMResources/OverallResourcesCard/OverallResourcesCard.test.tsx
  ui/src/app/kvm/views/KVMDetails/KVMResources/OverallResourcesCard/OverallResourcesCard.tsx
  ui/src/app/kvm/views/KVMDetails/KVMResources/OverallResourcesCard/__snapshots__/OverallResourcesCard.test.tsx.snap
  ui/src/app/kvm/views/KVMDetails/KVMResources/OverallResourcesCard/_index.scss
  ui/src/app/kvm/views/KVMDetails/KVMResources/OverallResourcesCard/index.ts
  ui/src/app/kvm/views/KVMDetails/KVMResources/ProjectResourcesCard/ProjectResourcesCard.test.tsx
  ui/src/app/kvm/views/KVMDetails/KVMResources/ProjectResourcesCard/ProjectResourcesCard.tsx
  ui/src/app/kvm/views/KVMDetails/KVMResources/ProjectResourcesCard/_index.scss
  ui/src/app/kvm/views/KVMDetails/KVMResources/ProjectResourcesCard/index.ts
  ui/src/app/kvm/views/KVMDetails/LxdResources/LxdResources.test.tsx
  ui/src/app/kvm/views/KVMDetails/LxdResources/LxdResources.tsx
  ui/src/app/kvm/views/KVMDetails/LxdResources/index.ts
  ui/src/scss/index.scss
Labels: Review: Code +1, Review: QA +1

#2478 feat(ui): make LXD the default host type when adding KVM
  ui/src/app/kvm/views/KVMList/AddKVM/AddKVM.tsx
  ui/src/app/kvm/views/KVMList/AddKVM/KvmTypeSelect/KvmTypeSelect.tsx
Labels: Review: Code +1, Review: QA +1

#2480 fix(ui): fix closing action forms
  ui/src/app/base/components/ActionForm/ActionForm.tsx
  ui/src/app/machines/components/ActionFormWrapper/ActionFormWrapper.test.tsx
  ui/src/app/machines/components/ActionFormWrapper/ActionFormWrapper.tsx
  ui/src/app/machines/components/ActionFormWrapper/CommissionForm/CommissionForm.tsx
  ui/src/app/machines/components/ActionFormWrapper/DeployForm/DeployForm.tsx
  ui/src/app/machines/components/ActionFormWrapper/FieldlessForm/FieldlessForm.js
  ui/src/app/machines/components/ActionFormWrapper/MarkBrokenForm/MarkBrokenForm.tsx
  ui/src/app/machines/components/ActionFormWrapper/OverrideTestForm/OverrideTestForm.js
  ui/src/app/machines/components/ActionFormWrapper/ReleaseForm/ReleaseForm.tsx
  ui/src/app/machines/components/ActionFormWrapper/SetPoolForm/SetPoolForm.js
  ui/src/app/machines/components/ActionFormWrapper/SetZoneForm/SetZoneForm.js
  ui/src/app/machines/components/ActionFormWrapper/TagForm/TagForm.js
  ui/src/app/machines/components/ActionFormWrapper/TestForm/TestForm.tsx
Labels: Review: Code +1, Review: QA +1

#2479 fix(ui): show full Ubuntu release in machine summary page
  ui/src/app/kvm/views/KVMDetails/LxdProject/ProjectVMs/VMsTable/StatusColumn/StatusColumn.tsx
  ui/src/app/machines/views/MachineDetails/MachineSummary/OverviewCard/StatusCard/StatusCard.test.tsx
  ui/src/app/machines/views/MachineList/MachineListTable/StatusColumn/StatusColumn.tsx
  ui/src/app/store/machine/utils/hooks.test.tsx
  ui/src/app/store/machine/utils/hooks.ts
Labels: Review: Code +1, Review: QA +1

#2481 feat(legacy): redirect to new machine details
  legacy/src/app/routes.js
Labels: Legacy 🧟‍♂️, Review: Code +1, Review: QA +1

#2485 feat(ui): allow either LXD or libvirt when deploying machine as VM host
  ui/.betterer.results
  ui/src/app/machines/components/ActionFormWrapper/DeployForm/DeployForm.test.tsx
  ui/src/app/machines/components/ActionFormWrapper/DeployForm/DeployForm.tsx
  ui/src/app/machines/components/ActionFormWrapper/DeployForm/DeployFormFields/DeployFormFields.test.tsx
  ui/src/app/machines/components/ActionFormWrapper/DeployForm/DeployFormFields/DeployFormFields.tsx
Labels: Review: Code +1 (with changes), Review: QA +1

#2501 feat(ui): add machine action forms to LXD VM table
  ui/src/app/kvm/components/KVMActionFormWrapper/KVMActionFormWrapper.test.tsx
  ui/src/app/kvm/components/KVMActionFormWrapper/KVMActionFormWrapper.tsx
  ui/src/app/kvm/views/KVMDetails/KVMDetails.tsx
  ui/src/app/kvm/views/KVMDetails/LxdProject/ProjectVMs/VMsActionBar/VMsActionBar.test.tsx
  ui/src/app/kvm/views/KVMDetails/LxdProject/ProjectVMs/VMsActionBar/VMsActionBar.tsx
  ui/src/app/kvm/views/KVMDetails/LxdProject/ProjectVMs/VMsActionBar/_index.scss
  ui/src/app/machines/components/ActionFormWrapper/ActionFormWrapper.tsx
  ui/src/app/machines/components/TakeActionMenu/TakeActionMenu.test.tsx
  ui/src/app/machines/components/TakeActionMenu/TakeActionMenu.tsx
  ui/src/app/machines/components/TakeActionMenu/_index.scss
  ui/src/scss/index.scss
Labels: Review: Code +1 (with changes), Review: QA +1

#2507 fix(ui): fix KVM page crashing when trying to sort storage pools
  ui/src/app/store/pod/selectors.ts
Labels: Review: Code +1, Review: QA +1

#2509 fix(legacy): fix tooltips in the controllers table
  legacy/src/app/partials/nodes-list.html
  legacy/src/scss/tables/_base_tables.scss
Labels: Legacy 🧟‍♂️, Review: Code +1, Review: QA +1

#2510 fix(ui): fix double tar of logs
  ui/src/app/base/sagas/http.js
  ui/src/app/base/sagas/http.test.js
Labels: Review: Code +1, Review: QA +1

#2513 fix(ui): fix disabled machine details action menu
  ui/.betterer.results
  ui/src/app/machines/components/TakeActionMenu/TakeActionMenu.test.tsx
  ui/src/app/machines/components/TakeActionMenu/TakeActionMenu.tsx
Labels: Review: Code +1, Review: QA +1

#2514 fix(ui): only show curtin logs for failed deployment
  ui/.betterer.results
  ui/src/app/machines/views/MachineDetails/MachineLogs/DownloadMenu/DownloadMenu.test.tsx
  ui/src/app/machines/views/MachineDetails/MachineLogs/DownloadMenu/DownloadMenu.tsx
Labels: Review: Code +1, Review: QA +1

#2515 refactor(ui): remove old action dispatches
  ui/src/app/base/sagas/websockets.js
  ui/src/app/base/sagas/websockets.test.js
Labels: Review: Code +1, Review: QA +1

#2516 feat(legacy): merge image columns
  legacy/src/app/directives/controller_image_status.js
  legacy/src/app/partials/nodes-list.html
  legacy/src/scss/_patterns_icons.scss
  ui/src/scss/index.scss
Labels: Legacy 🧟‍♂️, Review: Code +1 (with changes), Review: QA +1

#2520 feat(ui): define action types for nodes
  ui/src/app/base/hooks.ts
  ui/src/app/machines/components/TakeActionMenu/TakeActionMenu.test.tsx
  ui/src/app/machines/hooks.tsx
  ui/src/app/store/controller/types.ts
  ui/src/app/store/device/types.ts
  ui/src/app/store/general/types.ts
  ui/src/app/store/machine/types.ts
  ui/src/app/store/types/node.ts
  ui/src/testing/factories/nodes.ts
Labels: Review: Code +1

#2518 feat(ui): add dynamic storage pool cards to LXD project summary
  ui/src/app/kvm/views/KVMDetails/StorageResources/StorageCards/StorageCards.test.tsx
  ui/src/app/kvm/views/KVMDetails/StorageResources/StorageCards/StorageCards.tsx
  ui/src/app/kvm/views/KVMDetails/StorageResources/StorageCards/_index.scss
  ui/src/app/kvm/views/KVMDetails/StorageResources/StorageCards/index.ts
  ui/src/app/kvm/views/KVMDetails/StorageResources/StorageMeters/StorageMeters.test.tsx
  ui/src/app/kvm/views/KVMDetails/StorageResources/StorageMeters/StorageMeters.tsx
  ui/src/app/kvm/views/KVMDetails/StorageResources/StorageMeters/__snapshots__/StorageMeters.test.tsx.snap
  ui/src/app/kvm/views/KVMDetails/StorageResources/StorageMeters/_index.scss
  ui/src/app/kvm/views/KVMDetails/StorageResources/StorageMeters/index.ts
  ui/src/app/kvm/views/KVMDetails/StorageResources/StorageResources.test.tsx
  ui/src/app/kvm/views/KVMDetails/StorageResources/StorageResources.tsx
  ui/src/app/kvm/views/KVMDetails/StorageResources/__snapshots__/StorageResources.test.tsx.snap
  ui/src/app/kvm/views/KVMDetails/StorageResources/_index.scss
  ui/src/app/kvm/views/KVMList/StorageColumn/StorageColumn.tsx
  ui/src/app/kvm/views/KVMList/StorageColumn/StoragePopover/StoragePopover.tsx
  ui/src/scss/index.scss
Labels: Review: Code +1, Review: QA +1

#2523 refactor(legacy): remove legacy deploy and release
  legacy/src/app/controllers/node_details.js
  legacy/src/app/controllers/tests/test_node_details.js
  legacy/src/app/directives/nodedetails/deploy_options.js
  legacy/src/app/directives/nodedetails/user_data_upload.js
  legacy/src/app/directives/os_select.js
  legacy/src/app/directives/release_options.js
  legacy/src/app/directives/tests/test_os_select.js
  legacy/src/app/directives/tests/test_release_options.js
  legacy/src/app/entry.js
  legacy/src/app/factories/nodes.js
  legacy/src/app/factories/tests/test_nodes.js
  legacy/src/app/partials/directives/os-select.html
  legacy/src/app/partials/directives/release-options.html
  legacy/src/app/partials/node-details.html
  legacy/src/app/partials/nodedetails/deploy-options.html
  legacy/src/app/services/osblacklist.js
Labels: Legacy 🧟‍♂️, Review: Code +1, Review: QA +1

#2521 feat(ui): scroll to top when changing tabs
  ui/src/app/machines/views/MachineDetails/MachineDetails.test.tsx
  ui/src/app/machines/views/MachineDetails/MachineDetails.tsx
Labels: Review: Code +1, Review: QA +1

#2533 refactor(legacy): remove unused images
  legacy/src/assets/images/89c10794-remove.svg
  legacy/src/assets/images/8b7b3046-loading.png
  legacy/src/assets/images/add-pod.svg
  legacy/src/assets/images/b0b97dfc-contextual-menu.svg
  legacy/src/assets/images/d730daea-error.svg
  legacy/src/assets/images/icons/error.png
  legacy/src/assets/images/icons/error.svg
  legacy/src/assets/images/icons/maas-favicon-32px.png
  legacy/src/assets/images/kvm-graph-tex-filler-light.svg
  legacy/src/assets/images/kvm-graph-tex-filler.svg
Labels: Legacy 🧟‍♂️, Review: Code +1

#2530 refactor(legacy): remove legacy commission
  legacy/src/app/controllers/node_details.js
  legacy/src/app/controllers/tests/test_node_details.js
  legacy/src/app/partials/node-details.html
  legacy/src/app/partials/nodes-list.html
Labels: Legacy 🧟‍♂️, Review: Code +1, Review: QA +1

#2527 refactor(legacy): remove script expander
  legacy/src/app/directives/script_expander.js
  legacy/src/app/directives/tests/test_script_expander.js
  legacy/src/app/entry.js
  legacy/src/scss/_maas.scss
Labels: Legacy 🧟‍♂️, Review: Code +1, Review: QA +1

#2525 refactor(legacy): remove legacy machine summary
  legacy/src/app/controllers/node_details.js
  legacy/src/app/controllers/tests/test_node_details.js
  legacy/src/app/partials/cards/machine-overview.html
  legacy/src/app/partials/cards/network.html
  legacy/src/app/partials/cards/numa.html
  legacy/src/app/partials/cards/system.html
  legacy/src/app/partials/nodedetails/node-details-summary.html
  legacy/src/scss/_grids.scss
  legacy/src/scss/_patterns_numa.scss
  legacy/src/scss/build.scss
  legacy/src/scss/grids/_patterns_machine-overview.scss
  legacy/src/scss/grids/_patterns_machine-summary-cards.scss
Labels: Legacy 🧟‍♂️, Review: Code +1, Review: QA +1

#2536 refactor(legacy): remove fieldless actions
  legacy/src/app/controllers/node_details.js
  legacy/src/app/controllers/tests/test_node_details.js
  legacy/src/app/partials/node-details.html
Labels: Legacy 🧟‍♂️, Review: Code +1, Review: QA +1

#2538 refactor(legacy): remove legacy mark broken form
  legacy/src/app/controllers/node_details.js
  legacy/src/app/controllers/tests/test_node_details.js
  legacy/src/app/partials/node-details.html
Labels: Legacy 🧟‍♂️, Review: Code +1

#2542 refactor(legacy): remove machine tab
  legacy/src/app/partials/node-details.html
Labels: Legacy 🧟‍♂️, Review: Code +1

#2545 refactor(legacy): remove legacy machine config
  legacy/src/app/controllers/node_details.js
  legacy/src/app/controllers/tests/test_node_details.js
  legacy/src/app/partials/node-details.html
Labels: Legacy 🧟‍♂️, Review: Code +1, Review: QA +1

#2544 fix(ui): validate VM compose storage on render
  ui/src/app/kvm/components/KVMActionFormWrapper/ComposeForm/StorageTable/StorageTable.test.tsx
  ui/src/app/kvm/components/KVMActionFormWrapper/ComposeForm/StorageTable/StorageTable.tsx
Labels: Review: Code +1, Review: QA +1

#2546 refactor(legacy): remove machine setup
  legacy/src/app/controllers/node_details.js
  legacy/src/app/controllers/tests/test_node_details.js
Labels: Legacy 🧟‍♂️, Review: Code +1, Review: QA +1

#2551 fix(all): update controller versions
  legacy/src/app/partials/cards/controller.html
  legacy/src/app/partials/nodes-list.html
  ui/src/app/store/controller/types.ts
  ui/src/testing/factories/nodes.ts
Labels: Legacy 🧟‍♂️, Review: Code +1, Review: QA +1

#2554 fix(ui): redirect when machine deleted
  ui/.betterer.results
  ui/src/app/base/components/ActionForm/ActionForm.tsx
  ui/src/app/base/components/ActionForm/index.ts
  ui/src/app/machines/components/ActionFormWrapper/FieldlessForm/FieldlessForm.test.tsx
  ui/src/app/machines/components/ActionFormWrapper/FieldlessForm/FieldlessForm.tsx
  ui/src/app/machines/components/ActionFormWrapper/FieldlessForm/__snapshots__/FieldlessForm.test.tsx.snap
Labels: Review: Code +1, Review: QA +1

#2557 refactor(ui): fix auth tests
  shared/src/components/Header/Header.tsx
  ui/src/app/machines/components/ActionFormWrapper/DeployForm/DeployFormFields/DeployFormFields.test.tsx
  ui/src/app/machines/components/ActionFormWrapper/DeployForm/DeployFormFields/DeployFormFields.tsx
  ui/src/app/machines/views/MachineDetails/MachineSummary/NumaCard/__snapshots__/NumaCard.test.tsx.snap
  ui/src/app/store/auth/reducers.test.ts
  ui/src/app/store/auth/selectors.test.ts
  ui/src/app/store/auth/selectors.ts
  ui/src/app/store/user/types.ts
  ui/src/testing/factories/state.ts
Labels: Review: Code +1

#2559 fix(ui): fix KVM details resource usage calculations
  ui/src/app/base/components/Meter/Meter.test.tsx
  ui/src/app/base/components/Meter/Meter.tsx
  ui/src/app/kvm/views/KVMDetails/KVMResources/KVMResources.tsx
  ui/src/app/kvm/views/KVMDetails/KVMResources/OverallResourcesCard/OverallCores/OverallCores.test.tsx
  ui/src/app/kvm/views/KVMDetails/KVMResources/OverallResourcesCard/OverallCores/OverallCores.tsx
  ui/src/app/kvm/views/KVMDetails/KVMResources/OverallResourcesCard/OverallCores/__snapshots__/OverallCores.test.tsx.snap
  ui/src/app/kvm/views/KVMDetails/KVMResources/OverallResourcesCard/OverallRam/OverallRam.test.tsx
  ui/src/app/kvm/views/KVMDetails/KVMResources/OverallResourcesCard/OverallRam/OverallRam.tsx
  ui/src/app/kvm/views/KVMDetails/KVMResources/OverallResourcesCard/OverallRam/__snapshots__/OverallRam.test.tsx.snap
  ui/src/app/kvm/views/KVMDetails/KVMResources/OverallResourcesCard/OverallResourcesCard.test.tsx
  ui/src/app/kvm/views/KVMDetails/KVMResources/OverallResourcesCard/OverallResourcesCard.tsx
  ui/src/app/kvm/views/KVMDetails/KVMResources/OverallResourcesCard/__snapshots__/OverallResourcesCard.test.tsx.snap
  ui/src/app/kvm/views/KVMDetails/KVMResources/ProjectResourcesCard/ProjectResourcesCard.tsx
  ui/src/app/kvm/views/KVMDetails/LxdProject/ProjectSummaryCard/ProjectSummaryCard.tsx
  ui/src/app/kvm/views/KVMDetails/RamResources/RamResources.test.tsx
  ui/src/app/kvm/views/KVMDetails/RamResources/RamResources.tsx
  ui/src/app/store/pod/utils.test.ts
  ui/src/app/store/pod/utils.ts
Labels: Review: Code +1, Review: QA +1

#2558 fix(ui): fix KVM compose interface constraint validation
  ui/src/app/kvm/components/KVMActionFormWrapper/ComposeForm/ComposeForm.tsx
  ui/src/app/kvm/components/KVMActionFormWrapper/ComposeForm/ComposeFormFields/ComposeFormFields.test.tsx
  ui/src/app/kvm/components/KVMActionFormWrapper/ComposeForm/InterfacesTable/InterfacesTable.test.tsx
  ui/src/app/kvm/components/KVMActionFormWrapper/ComposeForm/InterfacesTable/InterfacesTable.tsx
  ui/src/app/kvm/components/KVMActionFormWrapper/ComposeForm/InterfacesTable/SubnetSelect/SubnetSelect.test.tsx
  ui/src/app/kvm/components/KVMActionFormWrapper/ComposeForm/InterfacesTable/SubnetSelect/SubnetSelect.tsx
  ui/src/app/kvm/components/KVMActionFormWrapper/ComposeForm/InterfacesTable/SubnetSelect/_index.scss
  ui/src/app/kvm/components/KVMActionFormWrapper/ComposeForm/InterfacesTable/_index.scss
Labels: Review: Code +1 (with changes), Review: QA +1

#2563 fix(ui): fix settings spinner alignment
  ui/src/app/settings/components/SettingsTable/_index.scss
Labels: Review: Code needed, Review: QA needed

#2273 feat(ui): kvm/numa pinned cores
  ui/src/app/kvm/views/KVMDetails/CoreResources/CoreResources.test.tsx
  ui/src/app/kvm/views/KVMDetails/CoreResources/CoreResources.tsx
  ui/src/app/kvm/views/KVMDetails/CoreResources/__snapshots__/CoreResources.test.tsx.snap
  ui/src/app/kvm/views/KVMDetails/KVMResources/NumaResources/NumaResourcesCard/NumaResourcesCard.tsx
  ui/src/app/kvm/views/KVMDetails/LxdProject/ProjectVMs/VMsActionBar/VMsActionBar.tsx
  ui/src/app/kvm/views/KVMDetails/LxdProject/ProjectVMs/VMsActionBar/_index.scss
Labels: Review: Code +1, Review: QA +1

#2566 fix(legacy): always display power password fields with type="password"
  legacy/src/app/directives/power_parameters.js
  legacy/src/app/directives/tests/test_power_parameters.js
Labels: Backport 2.9 ◀️, Legacy 🧟‍♂️, Review: Code +1, Review: QA +1

#2567 fix(legacy): always display power password fields with type="password"
  legacy/src/app/directives/power_parameters.js
  legacy/src/app/directives/tests/test_power_parameters.js
Labels: Legacy 🧟‍♂️, Review: Code +1, Review: QA +1

#2553 fix(ui): fix KVM list resource usage calculations
  ui/src/app/kvm/views/KVMDetails/KVMResources/OverallResourcesCard/OverallCores/OverallCores.tsx
  ui/src/app/kvm/views/KVMDetails/KVMResources/OverallResourcesCard/OverallCores/__snapshots__/OverallCores.test.tsx.snap
  ui/src/app/kvm/views/KVMDetails/KVMResources/OverallResourcesCard/OverallRam/OverallRam.tsx
  ui/src/app/kvm/views/KVMDetails/KVMResources/OverallResourcesCard/OverallRam/__snapshots__/OverallRam.test.tsx.snap
  ui/src/app/kvm/views/KVMList/CPUColumn/CPUColumn.test.tsx
  ui/src/app/kvm/views/KVMList/CPUColumn/CPUColumn.tsx
  ui/src/app/kvm/views/KVMList/CPUColumn/CPUPopover/CPUPopover.test.tsx
  ui/src/app/kvm/views/KVMList/CPUColumn/CPUPopover/CPUPopover.tsx
  ui/src/app/kvm/views/KVMList/CPUColumn/CPUPopover/__snapshots__/CPUPopover.test.tsx.snap
  ui/src/app/kvm/views/KVMList/RAMColumn/RAMColumn.test.tsx
  ui/src/app/kvm/views/KVMList/RAMColumn/RAMColumn.tsx
  ui/src/app/kvm/views/KVMList/RAMColumn/RAMPopover/RAMPopover.test.tsx
  ui/src/app/kvm/views/KVMList/RAMColumn/RAMPopover/RAMPopover.tsx
  ui/src/app/kvm/views/KVMList/RAMColumn/RAMPopover/__snapshots__/RAMPopover.test.tsx.snap
Labels: Review: Code +1, Review: QA +1, Review: UX +1

#2569 refactor(ui): add util for cleaning payloads
  ui/src/app/machines/views/MachineDetails/MachineNetwork/AddAliasOrVlan/AddAliasOrVlan.tsx
  ui/src/app/machines/views/MachineDetails/MachineNetwork/AddBondForm/AddBondForm.tsx
  ui/src/app/machines/views/MachineDetails/MachineNetwork/AddBridgeForm/AddBridgeForm.tsx
  ui/src/app/machines/views/MachineDetails/MachineNetwork/AddInterface/AddInterface.tsx
  ui/src/app/machines/views/MachineDetails/MachineNetwork/BondForm/utils.test.ts
  ui/src/app/machines/views/MachineDetails/MachineNetwork/BondForm/utils.ts
  ui/src/app/machines/views/MachineDetails/MachineNetwork/EditAliasOrVlanForm/EditAliasOrVlanForm.tsx
  ui/src/app/machines/views/MachineDetails/MachineNetwork/EditBondForm/EditBondForm.tsx
  ui/src/app/machines/views/MachineDetails/MachineNetwork/EditBridgeForm/EditBridgeForm.tsx
  ui/src/app/machines/views/MachineDetails/MachineNetwork/EditPhysicalForm/EditPhysicalForm.tsx
  ui/src/app/utils/index.ts
  ui/src/app/utils/preparePayload.test.ts
  ui/src/app/utils/preparePayload.ts
Labels: Review: Code +1

#2571 feat(proxy): dev console messages
  proxy/package.json
  proxy/scripts/ready.js
  proxy/scripts/start.js
  proxy/scripts/ui.js
  yarn.lock
Labels: Review: Code +1, Review: QA +1

#2579 feat(ui): add upgrade notifications
  ui/src/app/base/components/NotificationGroup/Notification/Notification.test.tsx
  ui/src/app/base/components/NotificationGroup/Notification/Notification.tsx
  ui/src/app/base/components/NotificationGroup/Notification/__snapshots__/Notification.test.tsx.snap
  ui/src/app/base/components/NotificationList/NotificationList.test.tsx
  ui/src/app/base/components/NotificationList/__snapshots__/NotificationList.test.tsx.snap
  ui/src/app/store/notification/selectors.test.ts
  ui/src/app/store/notification/selectors.ts
  ui/src/app/store/notification/types.ts
  ui/src/app/store/notification/utils.test.ts
  ui/src/app/store/notification/utils.ts
  ui/src/app/store/utils/identifiers.ts
  ui/src/app/store/utils/index.ts
  ui/src/scss/_patterns_notifications.scss
  ui/src/testing/factories/notification.ts
Labels: Review: Code +1, Review: QA +1

#2578 fix(ui): use pod.resources for VM compose validation
  ui/src/app/kvm/components/KVMActionFormWrapper/ComposeForm/ComposeForm.tsx
  ui/src/app/kvm/components/KVMActionFormWrapper/ComposeForm/ComposeFormFields/ComposeFormFields.test.tsx
  ui/src/app/kvm/components/KVMActionFormWrapper/ComposeForm/ComposeFormFields/ComposeFormFields.tsx
  ui/src/app/kvm/components/KVMActionFormWrapper/ComposeForm/StorageTable/StorageTable.test.tsx
  ui/src/app/utils/formatBytes.test.ts
  ui/src/app/utils/formatBytes.ts
Labels: Review: Code +1, Review: QA +1

#2582 fix(ui): add help text to Add LXD project form
  ui/src/app/kvm/views/KVMList/AddKVM/AddLxd/SelectProjectForm/SelectProjectFormFields/SelectProjectFormFields.tsx
Labels: Review: Code +1, Review: QA +1

#2581 feat(legacy): add legacy upgrade notifications
  legacy/src/app/partials/nodelist/notifications.html
  legacy/src/scss/_patterns_notification.scss
Labels: Legacy 🧟‍♂️, Review: Code +1, Review: QA +1

#2583 fix(ui): machine list QA fixes
  ui/src/app/base/components/FormCardButtons/FormCardButtons.tsx
  ui/src/app/machines/components/ActionFormWrapper/ReleaseForm/ReleaseForm.tsx
  ui/src/app/machines/components/ActionFormWrapper/SetPoolForm/SetPoolForm.js
  ui/src/app/machines/components/ActionFormWrapper/SetPoolForm/SetPoolForm.test.js
  ui/src/app/machines/views/MachineList/MachineListTable/OwnerColumn/OwnerColumn.js
  ui/src/app/machines/views/MachineList/MachineListTable/PoolColumn/PoolColumn.js
  ui/src/app/machines/views/MachineList/MachineListTable/ZoneColumn/ZoneColumn.js
  ui/src/scss/_patterns_buttons.scss
Labels: Review: Code +1, Review: QA +1

#2585 feat(ui): add sorting to LXD project list
  ui/.betterer.results
  ui/src/app/kvm/views/KVMList/LxdTable/LxdTable.test.tsx
  ui/src/app/kvm/views/KVMList/LxdTable/LxdTable.tsx
Labels: Review: Code +1, Review: QA +1

#2584 feat(legacy): add available upgrade column
  legacy/src/app/controllers/nodes_list.js
  legacy/src/app/controllers/tests/test_nodes_list.js
  legacy/src/app/partials/nodes-list.html
  legacy/src/scss/tables/_patterns_table-controllers.scss
Labels: Legacy 🧟‍♂️, Review: Code +1, Review: QA +1

#2588 fix(legacy): devices list QA fixes
  legacy/src/app/partials/nodes-list.html
  legacy/src/scss/_patterns_filter.scss
  ui/src/scss/_vanilla-overrides.scss
Labels: Legacy 🧟‍♂️, Review: Code +1, Review: QA +1

#2590 feat(legacy): add controller VLANs column
  legacy/src/app/controllers/nodes_list.js
  legacy/src/app/controllers/tests/test_nodes_list.js
  legacy/src/app/partials/nodes-list.html
  legacy/src/scss/tables/_patterns_table-controllers.scss
  ui/src/app/store/controller/types.ts
Labels: Legacy 🧟‍♂️, Review: Code +1, Review: QA +1

#2592 feat(ui): scroll to top when opening KVM action form
  ui/src/app/kvm/components/KVMActionFormWrapper/KVMActionFormWrapper.tsx
Labels: Review: Code +1, Review: QA +1

#2594 fix(ui): validate available cores + memory on VM compose form render
  ui/src/app/base/components/ActionForm/ActionForm.tsx
  ui/src/app/base/components/DhcpForm/DhcpForm.tsx
  ui/src/app/base/components/DhcpForm/types.ts
  ui/src/app/base/components/FormikForm/FormikForm.tsx
  ui/src/app/kvm/components/KVMActionFormWrapper/ComposeForm/ComposeForm.tsx
  ui/src/app/kvm/components/KVMActionFormWrapper/ComposeForm/ComposeFormFields/ComposeFormFields.test.tsx
  ui/src/app/kvm/components/KVMActionFormWrapper/ComposeForm/ComposeFormFields/ComposeFormFields.tsx
Labels: Review: Code +1 (with changes), Review: QA +1

#2595 feat(legacy): display snap channel
  legacy/src/app/controllers/nodes_list.js
  legacy/src/app/controllers/tests/test_nodes_list.js
  legacy/src/app/partials/nodes-list.html
  ui/src/app/store/controller/types.ts
Labels: Legacy 🧟‍♂️, Review: Code +1, Review: QA +1
