Repository canonical/maas-ui, pull requests merged in 2021-02, with the labels that each got.

#2094 fix(ui): show form fields for mounting non-boot physical disks
  ui/src/app/machines/views/MachineDetails/MachineStorage/AvailableStorageTable/EditPhysicalDisk/EditPhysicalDisk.test.tsx
  ui/src/app/machines/views/MachineDetails/MachineStorage/AvailableStorageTable/EditPhysicalDisk/EditPhysicalDisk.tsx
  ui/src/app/machines/views/MachineDetails/MachineStorage/AvailableStorageTable/EditPhysicalDisk/EditPhysicalDiskFields/EditPhysicalDiskFields.tsx
Labels: Review: Code +1, Review: QA +1

#2104 feat(ui): make the network table responsive
  ui/src/app/machines/views/MachineDetails/MachineNetwork/NetworkTable/NetworkTable.tsx
  ui/src/app/machines/views/MachineDetails/MachineNetwork/NetworkTable/_index.scss
  ui/src/scss/_breakpoint-widths.scss
  ui/src/scss/_patterns_tables.scss
  ui/src/scss/index.scss
Labels: Review: Code +1, Review: QA +1

#2111 fix(ui): add message to PCI/USB tab if machine is commissioning
  ui/src/app/machines/views/MachineDetails/NodeDevices/NodeDevicesWarning/NodeDevicesWarning.test.tsx
  ui/src/app/machines/views/MachineDetails/NodeDevices/NodeDevicesWarning/NodeDevicesWarning.tsx
Labels: Review: Code +1, Review: QA +1

#2120 fix(ui): display correct icons for test results
  ui/.betterer.results
  ui/src/app/machines/views/MachineDetails/MachineTests/MachineTestsTable/MachineTestsTable.tsx
Labels: Bug 🐛, Review: Code +1, Review: QA +1

#2115 feat(ui): add script result metrics to details view
  ui/src/app/machines/views/MachineDetails/MachineTests/MachineTestsDetails/MachineTestsDetails.test.tsx
  ui/src/app/machines/views/MachineDetails/MachineTests/MachineTestsDetails/MachineTestsDetails.tsx
  ui/src/app/machines/views/MachineDetails/MachineTests/MachineTestsTable/__snapshots__/MachineTestsTable.test.tsx.snap
  ui/src/testing/factories/scriptResult.ts
Labels: Review: Code +1 (with changes), Review: QA +1

#2117 fix(ui): add missing edit bcache/RAID forms using generic EditDisk component
  ui/.betterer.results
  ui/src/app/machines/views/MachineDetails/MachineStorage/AvailableStorageTable/AvailableStorageTable.test.tsx
  ui/src/app/machines/views/MachineDetails/MachineStorage/AvailableStorageTable/AvailableStorageTable.tsx
  ui/src/app/machines/views/MachineDetails/MachineStorage/AvailableStorageTable/EditDisk/EditDisk.test.tsx
  ui/src/app/machines/views/MachineDetails/MachineStorage/AvailableStorageTable/EditDisk/EditDisk.tsx
  ui/src/app/machines/views/MachineDetails/MachineStorage/AvailableStorageTable/EditDisk/EditDiskFields/EditDiskFields.tsx
  ui/src/app/machines/views/MachineDetails/MachineStorage/AvailableStorageTable/EditDisk/EditDiskFields/index.ts
  ui/src/app/machines/views/MachineDetails/MachineStorage/AvailableStorageTable/EditDisk/index.ts
  ui/src/app/machines/views/MachineDetails/MachineStorage/AvailableStorageTable/EditLogicalVolume/EditLogicalVolume.test.tsx
  ui/src/app/machines/views/MachineDetails/MachineStorage/AvailableStorageTable/EditLogicalVolume/EditLogicalVolume.tsx
  ui/src/app/machines/views/MachineDetails/MachineStorage/AvailableStorageTable/EditLogicalVolume/EditLogicalVolumeFields/index.ts
  ui/src/app/machines/views/MachineDetails/MachineStorage/AvailableStorageTable/EditLogicalVolume/index.ts
  ui/src/app/machines/views/MachineDetails/MachineStorage/AvailableStorageTable/EditPhysicalDisk/EditPhysicalDiskFields/EditPhysicalDiskFields.tsx
  ui/src/app/machines/views/MachineDetails/MachineStorage/AvailableStorageTable/EditPhysicalDisk/EditPhysicalDiskFields/index.ts
  ui/src/app/machines/views/MachineDetails/MachineStorage/AvailableStorageTable/EditPhysicalDisk/index.ts
Labels: Review: Code +1, Review: QA +1

#2123 refactor(ui): create generic TableActionsDropdown component and use in storage
  ui/.betterer.results
  ui/src/app/base/components/TableActionsDropdown/TableActionsDropdown.test.tsx
  ui/src/app/base/components/TableActionsDropdown/TableActionsDropdown.tsx
  ui/src/app/base/components/TableActionsDropdown/index.ts
  ui/src/app/machines/views/MachineDetails/MachineStorage/AvailableStorageTable/AvailableStorageTable.tsx
  ui/src/app/machines/views/MachineDetails/MachineStorage/AvailableStorageTable/BulkActions/BulkActions.test.tsx
  ui/src/app/machines/views/MachineDetails/MachineStorage/AvailableStorageTable/BulkActions/BulkActions.tsx
  ui/src/app/machines/views/MachineDetails/MachineStorage/AvailableStorageTable/StorageDeviceActions/StorageDeviceActions.tsx
  ui/src/app/machines/views/MachineDetails/MachineStorage/AvailableStorageTable/StorageDeviceActions/index.ts
  ui/src/app/machines/views/MachineDetails/MachineStorage/CacheSetsTable/CacheSetsTable.tsx
  ui/src/app/machines/views/MachineDetails/MachineStorage/DatastoresTable/DatastoresTable.tsx
  ui/src/app/machines/views/MachineDetails/MachineStorage/FilesystemsTable/FilesystemsTable.tsx
Labels: Review: Code +1 (with changes), Review: QA +1

#2119 fix(ui): handle undefined machine workload annotations
  ui/src/app/machines/views/MachineDetails/MachineHeader/MachineHeader.tsx
  ui/src/app/machines/views/MachineDetails/MachineSummary/MachineSummary.tsx
  ui/src/app/utils/search.js
Labels: Review: Code +1, Review: QA +1

#2122 refactor(ui): migrate DHCP forms to typescript
  ui/.betterer.results
  ui/src/app/machines/views/MachineDetails/MachineNetwork/EditDHCP/EditDHCP.test.tsx
  ui/src/app/machines/views/MachineDetails/MachineNetwork/EditDHCP/EditDHCP.tsx
  ui/src/app/machines/views/MachineDetails/MachineNetwork/EditDHCP/index.ts
  ui/src/app/settings/views/Dhcp/DhcpEdit/DhcpEdit.test.tsx
  ui/src/app/settings/views/Dhcp/DhcpEdit/DhcpEdit.tsx
  ui/src/app/settings/views/Dhcp/DhcpEdit/index.ts
  ui/src/app/settings/views/Dhcp/DhcpForm/DhcpForm.test.tsx
  ui/src/app/settings/views/Dhcp/DhcpForm/DhcpForm.tsx
  ui/src/app/settings/views/Dhcp/DhcpForm/index.ts
  ui/src/app/settings/views/Dhcp/DhcpForm/types.ts
  ui/src/app/settings/views/Dhcp/DhcpFormFields/DhcpFormFields.test.tsx
  ui/src/app/settings/views/Dhcp/DhcpFormFields/DhcpFormFields.tsx
  ui/src/app/settings/views/Dhcp/DhcpFormFields/index.ts
Labels: Review: Code +1, Review: QA +1

#2127 refactor(ui): refactor some common form Select components
  ui/src/app/base/components/ArchitectureSelect/ArchitectureSelect.test.tsx
  ui/src/app/base/components/ArchitectureSelect/ArchitectureSelect.tsx
  ui/src/app/base/components/ArchitectureSelect/__snapshots__/ArchitectureSelect.test.tsx.snap
  ui/src/app/base/components/ArchitectureSelect/index.ts
  ui/src/app/base/components/DomainSelect/DomainSelect.test.tsx
  ui/src/app/base/components/DomainSelect/DomainSelect.tsx
  ui/src/app/base/components/DomainSelect/__snapshots__/DomainSelect.test.tsx.snap
  ui/src/app/base/components/DomainSelect/index.ts
  ui/src/app/base/components/FormikField/FormikField.tsx
  ui/src/app/base/components/MinimumKernelSelect/MinimumKernelSelect.test.tsx
  ui/src/app/base/components/MinimumKernelSelect/MinimumKernelSelect.tsx
  ui/src/app/base/components/MinimumKernelSelect/__snapshots__/MinimumKernelSelect.test.tsx.snap
  ui/src/app/base/components/MinimumKernelSelect/index.ts
  ui/src/app/base/components/ResourcePoolSelect/ResourcePoolSelect.test.tsx
  ui/src/app/base/components/ResourcePoolSelect/ResourcePoolSelect.tsx
  ui/src/app/base/components/ResourcePoolSelect/__snapshots__/ResourcePoolSelect.test.tsx.snap
  ui/src/app/base/components/ResourcePoolSelect/index.ts
  ui/src/app/base/components/ZoneSelect/ZoneSelect.test.tsx
  ui/src/app/base/components/ZoneSelect/ZoneSelect.tsx
  ui/src/app/base/components/ZoneSelect/__snapshots__/ZoneSelect.test.tsx.snap
  ui/src/app/base/components/ZoneSelect/index.ts
  ui/src/app/kvm/components/KVMActionFormWrapper/ComposeForm/ComposeFormFields/ComposeFormFields.tsx
  ui/src/app/kvm/components/PodConfiguration/PodConfigurationFields/PodConfigurationFields.tsx
  ui/src/app/kvm/views/KVMList/AddKVMForm/AddKVMFormFields/AddKVMFormFields.tsx
  ui/src/app/machines/components/ActionFormWrapper/SetPoolForm/SetPoolFormFields/SetPoolFormFields.js
  ui/src/app/machines/components/ActionFormWrapper/SetZoneForm/SetZoneForm.js
  ui/src/app/machines/views/AddChassis/AddChassisFormFields/AddChassisFormFields.js
  ui/src/app/machines/views/AddMachine/AddMachineFormFields/AddMachineFormFields.js
Labels: Review: Code +1 (with changes), Review: QA +1

#2138 fix(all): fix machine details tab links in legacy and react
  legacy/src/app/partials/node-details.html
  ui/src/app/machines/views/MachineDetails/MachineDetails.tsx
  ui/src/app/machines/views/MachineDetails/MachineHeader/MachineHeader.tsx
  ui/src/app/machines/views/MachineDetails/MachineSummary/TestResults/TestResults.tsx
  ui/src/app/machines/views/MachineDetails/MachineTests/MachineTestsDetails/MachineTestsDetails.test.tsx
  ui/src/app/machines/views/MachineDetails/MachineTests/MachineTestsDetails/MachineTestsDetails.tsx
Labels: Legacy 🧟‍♂️, Review: Code +1, Review: QA +1

#2136 fix(all): add autoprefixer
  legacy/package.json
  legacy/postcss.config.js
  legacy/webpack.common.js
  root/package.json
  root/postcss.config.js
  root/webpack.common.js
  ui/package.json
  yarn.lock
Labels: Legacy 🧟‍♂️, Review: Code +1, Review: QA +1

#2139 feat(ui): add DHCP edit form to the network tab
  ui/.betterer.results
  ui/src/app/base/components/DhcpForm/DhcpForm.test.tsx
  ui/src/app/base/components/DhcpForm/DhcpForm.tsx
  ui/src/app/base/components/DhcpForm/index.ts
  ui/src/app/base/components/DhcpForm/types.ts
  ui/src/app/base/components/DhcpFormFields/DhcpFormFields.test.tsx
  ui/src/app/base/components/DhcpFormFields/DhcpFormFields.tsx
  ui/src/app/base/components/DhcpFormFields/index.ts
  ui/src/app/base/components/FormikForm/FormikForm.tsx
  ui/src/app/machines/views/MachineDetails/MachineNetwork/DHCPTable/DHCPTable.test.tsx
  ui/src/app/machines/views/MachineDetails/MachineNetwork/DHCPTable/DHCPTable.tsx
  ui/src/app/machines/views/MachineDetails/MachineNetwork/EditDHCP/EditDHCP.test.tsx
  ui/src/app/machines/views/MachineDetails/MachineNetwork/EditDHCP/EditDHCP.tsx
  ui/src/app/settings/views/Dhcp/DhcpEdit/DhcpEdit.test.tsx
  ui/src/app/settings/views/Dhcp/DhcpForm/DhcpForm.test.tsx
  ui/src/app/settings/views/Dhcp/DhcpForm/DhcpForm.tsx
  ui/src/app/store/machine/reducers.test.ts
  ui/src/app/store/machine/slice.ts
Labels: Review: Code +1 (with changes), Review: QA +1

#2150 chore(deps): remove react-components from all-minor-patch renovate group
  renovate.json
Labels: Review: Code +1

#2147 fix(ui): handle pods with undefined storage pools
  ui/src/app/kvm/components/KVMActionFormWrapper/ComposeForm/ComposeForm.tsx
  ui/src/app/kvm/components/KVMActionFormWrapper/ComposeForm/StorageTable/PoolSelect/PoolSelect.tsx
  ui/src/app/kvm/components/KVMActionFormWrapper/ComposeForm/StorageTable/StorageTable.test.tsx
  ui/src/app/kvm/components/PodStorage/PodStorage.tsx
  ui/src/app/kvm/views/KVMList/KVMListTable/StorageColumn/StoragePopover/StoragePopover.tsx
  ui/src/app/store/pod/types.ts
Labels: Review: Code +1 (with changes), Review: QA +1

#2146 feat(ui): build machine configuration form
  ui/.betterer.results
  ui/src/app/base/components/FormikForm/FormikForm.test.js
  ui/src/app/base/components/FormikForm/FormikForm.tsx
  ui/src/app/base/components/FormikFormContent/FormikFormContent.js
  ui/src/app/base/components/FormikFormContent/FormikFormContent.test.js
  ui/src/app/base/components/ResourcePoolSelect/ResourcePoolSelect.tsx
  ui/src/app/base/components/TagSelector/_index.scss
  ui/src/app/machines/components/ActionFormWrapper/FieldlessForm/__snapshots__/FieldlessForm.test.js.snap
  ui/src/app/machines/components/TagLinks/TagLinks.test.tsx
  ui/src/app/machines/components/TagLinks/TagLinks.tsx
  ui/src/app/machines/components/TagLinks/index.ts
  ui/src/app/machines/views/MachineDetails/MachineConfiguration/MachineConfiguration.test.tsx
  ui/src/app/machines/views/MachineDetails/MachineConfiguration/MachineConfiguration.tsx
  ui/src/app/machines/views/MachineDetails/MachineConfiguration/MachineForm/MachineForm.test.tsx
  ui/src/app/machines/views/MachineDetails/MachineConfiguration/MachineForm/MachineForm.tsx
  ui/src/app/machines/views/MachineDetails/MachineConfiguration/MachineForm/MachineFormFields/MachineFormFields.test.tsx
  ui/src/app/machines/views/MachineDetails/MachineConfiguration/MachineForm/MachineFormFields/MachineFormFields.tsx
  ui/src/app/machines/views/MachineDetails/MachineConfiguration/MachineForm/MachineFormFields/index.ts
  ui/src/app/machines/views/MachineDetails/MachineConfiguration/MachineForm/index.ts
  ui/src/app/machines/views/MachineDetails/MachineConfiguration/index.ts
  ui/src/app/machines/views/MachineDetails/MachineDetails.tsx
  ui/src/app/machines/views/MachineDetails/MachineHeader/MachineName/__snapshots__/MachineName.test.tsx.snap
  ui/src/app/machines/views/MachineDetails/MachineStorage/AvailableStorageTable/AvailableStorageTable.tsx
  ui/src/app/machines/views/MachineDetails/MachineStorage/UsedStorageTable/UsedStorageTable.tsx
Labels: Review: Code +1, Review: QA +1

#2149 refactor(ui): migrate formik components to typescript
  ui/.betterer.results
  ui/src/app/base/components/ActionForm/ActionForm.tsx
  ui/src/app/base/components/DhcpForm/DhcpForm.tsx
  ui/src/app/base/components/FormCardButtons/FormCardButtons.test.tsx
  ui/src/app/base/components/FormCardButtons/FormCardButtons.tsx
  ui/src/app/base/components/FormCardButtons/__snapshots__/FormCardButtons.test.tsx.snap
  ui/src/app/base/components/FormCardButtons/index.ts
  ui/src/app/base/components/FormikForm/FormikForm.test.tsx
  ui/src/app/base/components/FormikForm/FormikForm.tsx
  ui/src/app/base/components/FormikForm/index.ts
  ui/src/app/base/components/FormikFormButtons/FormikFormButtons.test.tsx
  ui/src/app/base/components/FormikFormButtons/FormikFormButtons.tsx
  ui/src/app/base/components/FormikFormButtons/__snapshots__/FormikFormButtons.test.tsx.snap
  ui/src/app/base/components/FormikFormButtons/index.ts
  ui/src/app/base/components/FormikFormContent/FormikFormContent.test.tsx
  ui/src/app/base/components/FormikFormContent/FormikFormContent.tsx
  ui/src/app/base/components/FormikFormContent/index.ts
  ui/src/app/base/hooks.ts
  ui/src/app/kvm/components/PodConfiguration/PodConfiguration.tsx
  ui/src/app/machines/components/ActionFormWrapper/OverrideTestForm/OverrideTestForm.js
  ui/src/app/settings/views/Dhcp/DhcpForm/DhcpForm.tsx
Labels: Review: Code +1

#2141 feat(ui) machine details commissioning table
  legacy/src/app/partials/node-details.html
  ui/src/app/machines/views/MachineDetails/MachineCommissioning/MachineCommissioning.test.tsx
  ui/src/app/machines/views/MachineDetails/MachineCommissioning/MachineCommissioning.tsx
  ui/src/app/machines/views/MachineDetails/MachineCommissioning/MachineCommissioningTable/MachineCommissioningTable.test.tsx
  ui/src/app/machines/views/MachineDetails/MachineCommissioning/MachineCommissioningTable/MachineCommissioningTable.tsx
  ui/src/app/machines/views/MachineDetails/MachineCommissioning/MachineCommissioningTable/index.ts
  ui/src/app/machines/views/MachineDetails/MachineCommissioning/index.scss
  ui/src/app/machines/views/MachineDetails/MachineCommissioning/index.ts
  ui/src/app/machines/views/MachineDetails/MachineDetails.tsx
  ui/src/app/store/scriptresult/selectors.test.tsx
  ui/src/app/store/scriptresult/selectors.ts
  ui/src/scss/index.scss
Labels: Legacy 🧟‍♂️, Review: Code +1 (with changes), Review: QA +1

#2153 fix(ui): fix machine searches that start with a number
  ui/src/app/machines/filter-nodes.js
  ui/src/app/machines/filter-nodes.test.js
  ui/src/app/machines/search.test.js
  ui/src/app/machines/views/MachineDetails/MachineHeader/MachineName/__snapshots__/MachineName.test.tsx.snap
  ui/src/app/store/machine/selectors.test.ts
  ui/src/testing/factories/model.ts
  ui/src/testing/factories/nodes.ts
Labels: Backport 2.9 ◀️, Review: Code +1, Review: QA +1

#2156 fix machine searches that start with a number
  ui/src/app/machines/filter-nodes.js
  ui/src/app/machines/filter-nodes.test.js
  ui/src/app/machines/search.test.js
  ui/src/app/store/machine/selectors.test.ts
  ui/src/testing/factories/model.ts
  ui/src/testing/factories/nodes.ts
Labels: Backport 2.9 ◀️, Review: Code +1

#2155 refactor(ui): convert search utilities to typescript
  ui/src/app/machines/components/TagLinks/TagLinks.tsx
  ui/src/app/machines/filter-nodes.test.ts
  ui/src/app/machines/filter-nodes.ts
  ui/src/app/machines/search.test.ts
  ui/src/app/machines/search.ts
  ui/src/app/machines/views/MachineDetails/MachineSummary/WorkloadCard/WorkloadCard.tsx
  ui/src/app/pools/views/Pools.js
  ui/src/app/store/machine/selectors.ts
Labels: Review: Code +1, Review: QA +1

#2154 refactor(ui): convert PowerTypeFields to TS and move to base components
  ui/.betterer.results
  ui/src/app/base/components/PowerTypeFields/PowerTypeFields.test.tsx
  ui/src/app/base/components/PowerTypeFields/PowerTypeFields.tsx
  ui/src/app/base/components/PowerTypeFields/index.ts
  ui/src/app/kvm/components/KVMActionFormWrapper/ComposeForm/ComposeFormFields/ComposeFormFields.test.tsx
  ui/src/app/kvm/views/KVMList/AddKVMForm/AddKVMFormFields/AddKVMFormFields.test.tsx
  ui/src/app/kvm/views/KVMList/AddKVMForm/AddKVMFormFields/AddKVMFormFields.tsx
  ui/src/app/machines/components/PowerTypeFields/PowerTypeFields.js
  ui/src/app/machines/components/PowerTypeFields/PowerTypeFields.test.js
  ui/src/app/machines/views/AddChassis/AddChassisFormFields/AddChassisFormFields.js
  ui/src/app/machines/views/AddChassis/AddChassisFormFields/AddChassisFormFields.tsx
  ui/src/app/machines/views/AddMachine/AddMachineFormFields/AddMachineFormFields.js
  ui/src/app/store/general/types.ts
  ui/src/app/store/machine/types.ts
  ui/src/testing/factories/general.ts
Labels: Review: Code +1, Review: QA +1

#2157 refactor(ui): convert power utils to TS and move to general directory
  ui/.betterer.results
  ui/src/app/base/hooks.ts
  ui/src/app/base/validation.ts
  ui/src/app/kvm/views/KVMList/AddKVMForm/AddKVMForm.tsx
  ui/src/app/machines/views/AddChassis/AddChassisForm/AddChassisForm.js
  ui/src/app/machines/views/AddMachine/AddMachineForm/AddMachineForm.js
  ui/src/app/store/general/utils/hooks.test.tsx
  ui/src/app/store/general/utils/hooks.ts
  ui/src/app/store/general/utils/index.ts
  ui/src/app/store/general/utils/powerTypes.test.ts
  ui/src/app/store/general/utils/powerTypes.ts
  ui/src/app/utils/formatPowerParameters.js
  ui/src/app/utils/formatPowerParameters.test.js
  ui/src/app/utils/index.ts
Labels: Review: Code +1 (with changes), Review: QA +1

#2158 feat(ui): add workloads warning + erase checkboxes to machine release form
  ui/.betterer.results
  ui/src/app/machines/components/ActionFormWrapper/ActionFormWrapper.tsx
  ui/src/app/machines/components/ActionFormWrapper/FieldlessForm/FieldlessForm.js
  ui/src/app/machines/components/ActionFormWrapper/FieldlessForm/FieldlessForm.test.js
  ui/src/app/machines/components/ActionFormWrapper/FieldlessForm/__snapshots__/FieldlessForm.test.js.snap
  ui/src/app/machines/components/ActionFormWrapper/ReleaseForm/ReleaseForm.test.tsx
  ui/src/app/machines/components/ActionFormWrapper/ReleaseForm/ReleaseForm.tsx
  ui/src/app/machines/components/ActionFormWrapper/ReleaseForm/ReleaseFormFields/ReleaseFormFields.test.tsx
  ui/src/app/machines/components/ActionFormWrapper/ReleaseForm/ReleaseFormFields/ReleaseFormFields.tsx
  ui/src/app/machines/components/ActionFormWrapper/ReleaseForm/ReleaseFormFields/index.ts
  ui/src/app/machines/components/ActionFormWrapper/ReleaseForm/index.ts
  ui/src/app/store/machine/actions.test.ts
  ui/src/app/store/machine/slice.ts
Labels: Review: Code +1 (with changes), Review: QA +1

#2162 fix(legacy): fix race condition when loading machine details
  legacy/src/app/services/manager.js
  legacy/src/app/services/tests/test_manager.js
Labels: Backport 2.9 ◀️, Legacy 🧟‍♂️, Review: Code +1, Review: QA +1

#2160 fix(ui): fix add chassis action names in http saga
  ui/src/app/base/sagas/http.js
  ui/src/app/base/sagas/http.test.js
Labels: Review: Code +1, Review: QA +1

#2163 fix(legacy): fix race condition when loading machine details
  legacy/src/app/services/manager.js
  legacy/src/app/services/tests/test_manager.js
Labels: Legacy 🧟‍♂️, Review: Code +1, Review: QA +1

#2166 refactor(ui): create shared tag component
  ui/.betterer.results
  ui/src/app/base/components/FormikField/FormikField.tsx
  ui/src/app/base/components/TagField/TagField.test.tsx
  ui/src/app/base/components/TagField/TagField.tsx
  ui/src/app/base/components/TagField/index.ts
  ui/src/app/base/components/TagSelector/TagSelector.tsx
  ui/src/app/kvm/components/KVMActionFormWrapper/ComposeForm/StorageTable/StorageTable.tsx
  ui/src/app/kvm/components/PodConfiguration/PodConfigurationFields/PodConfigurationFields.tsx
  ui/src/app/machines/components/ActionFormWrapper/TagForm/TagForm.js
  ui/src/app/machines/components/ActionFormWrapper/TagForm/TagForm.test.js
  ui/src/app/machines/components/ActionFormWrapper/TagForm/TagFormFields/TagFormFields.js
  ui/src/app/machines/views/MachineDetails/MachineConfiguration/MachineForm/MachineFormFields/MachineFormFields.tsx
  ui/src/app/machines/views/MachineDetails/MachineStorage/AvailableStorageTable/AddLogicalVolume/AddLogicalVolumeFields/AddLogicalVolumeFields.tsx
  ui/src/app/machines/views/MachineDetails/MachineStorage/AvailableStorageTable/BulkActions/CreateRaid/CreateRaidFields/CreateRaidFields.tsx
  ui/src/app/machines/views/MachineDetails/MachineStorage/AvailableStorageTable/CreateBcache/CreateBcacheFields/CreateBcacheFields.tsx
  ui/src/app/machines/views/MachineDetails/MachineStorage/AvailableStorageTable/EditDisk/EditDiskFields/EditDiskFields.tsx
Labels: Review: Code +1, Review: QA +1

#2173 Update the LP to GH to be hourly
  .github/workflows/lp-to-gh-issues.yml
Labels: Review: Code needed

#2171 fix(ui): only show workloads card for allocated/deployed machines
  ui/src/app/machines/views/MachineDetails/MachineSummary/MachineSummary.test.tsx
  ui/src/app/machines/views/MachineDetails/MachineSummary/MachineSummary.tsx
  ui/src/app/machines/views/MachineDetails/MachineSummary/WorkloadCard/WorkloadCard.tsx
Labels: Review: Code +1, Review: QA +1

#2167 feat(ui) machine details commissioning details view
  ui/.betterer.results
  ui/src/app/machines/views/MachineDetails/MachineCommissioning/MachineCommissioningTable/MachineCommissioningTable.tsx
  ui/src/app/machines/views/MachineDetails/MachineDetails.tsx
  ui/src/app/machines/views/MachineDetails/MachineHeader/MachineHeader.tsx
  ui/src/app/machines/views/MachineDetails/MachineTests/MachineTestsDetails/MachineTestsDetails.tsx
  ui/src/app/machines/views/MachineDetails/MachineTests/MachineTestsTable/MachineTestsTable.tsx
  ui/src/app/machines/views/MachineDetails/MachineTests/MachineTestsTable/__snapshots__/MachineTestsTable.test.tsx.snap
  ui/src/app/machines/views/MachineDetails/utils.ts
Labels: Review: Code +1, Review: QA +1

#2178 fix(ui): fix infinite redirect of death when switching user
  ui/src/app/base/sagas/http.js
Labels: Review: Code +1, Review: QA +1

#2187 fix(ui): fix infinite redirect of death when switching user (#2178)
  ui/src/app/base/sagas/http.js
Labels: Review: Code +1, Review: QA +1

#2184 feat(ui): add interface name generator
  ui/src/app/store/machine/utils/index.ts
  ui/src/app/store/machine/utils/networking.test.ts
  ui/src/app/store/machine/utils/networking.ts
Labels: Review: Code +1

#2182 feat(ui): add action for creating a physical interface
  ui/src/app/store/machine/actions.test.ts
  ui/src/app/store/machine/selectors.test.ts
  ui/src/app/store/machine/selectors.ts
  ui/src/app/store/machine/slice.ts
  ui/src/app/store/machine/types.ts
  ui/src/app/store/subnet/types.ts
  ui/src/testing/factories/state.ts
Labels: Review: Code +1

#2177 feat(ui): allow LXD pods to compose machines with multiple disks
  ui/src/app/kvm/components/KVMActionFormWrapper/ComposeForm/StorageTable/StorageTable.test.tsx
  ui/src/app/kvm/components/KVMActionFormWrapper/ComposeForm/StorageTable/StorageTable.tsx
Labels: Review: Code +1, Review: QA +1

#2193 feat(ui): add analytics to commissioning and testing tabs
  ui/.betterer.results
  ui/src/app/machines/views/MachineDetails/MachineCommissioning/MachineCommissioningTable/MachineCommissioningTable.test.tsx
  ui/src/app/machines/views/MachineDetails/MachineCommissioning/MachineCommissioningTable/MachineCommissioningTable.tsx
  ui/src/app/machines/views/MachineDetails/MachineTests/MachineTestsTable/MachineTestsTable.test.tsx
  ui/src/app/machines/views/MachineDetails/MachineTests/MachineTestsTable/MachineTestsTable.tsx
Labels: Review: Code +1

#2191 Correctly preselect commissioning scripts that don't have 'noauto' tag
  legacy/src/app/directives/script_select.js
  legacy/src/app/partials/node-details.html
  ui/src/app/base/components/TagSelector/TagSelector.js
  ui/src/app/base/components/TagSelector/TagSelector.test.js
  ui/src/app/base/selectors/scripts/scripts.js
  ui/src/app/base/selectors/scripts/scripts.test.js
  ui/src/app/machines/components/HeaderStrip/ActionFormWrapper/CommissionForm/CommissionForm.js
  ui/src/app/machines/components/HeaderStrip/ActionFormWrapper/CommissionForm/CommissionFormFields/CommissionFormFields.js
Labels: Review: Code +1, Review: QA +1

#2192 feat(ui): add the create physical interface form
  root/report.20210218.124724.4180.0.001.json
  ui/.betterer.results
  ui/src/app/base/components/VLANSelect/VLANSelect.test.tsx
  ui/src/app/base/components/VLANSelect/VLANSelect.tsx
  ui/src/app/machines/views/MachineDetails/MachineNetwork/AddInterface/AddInterface.test.tsx
  ui/src/app/machines/views/MachineDetails/MachineNetwork/AddInterface/AddInterface.tsx
  ui/src/app/machines/views/MachineDetails/MachineNetwork/AddInterface/AddInterfaceFormFields/AddInterfaceFormFields.test.tsx
  ui/src/app/machines/views/MachineDetails/MachineNetwork/AddInterface/AddInterfaceFormFields/AddInterfaceFormFields.tsx
  ui/src/app/machines/views/MachineDetails/MachineNetwork/AddInterface/AddInterfaceFormFields/index.ts
  ui/src/app/machines/views/MachineDetails/MachineNetwork/AddInterface/index.ts
  ui/src/app/machines/views/MachineDetails/MachineNetwork/AddInterface/types.ts
  ui/src/app/machines/views/MachineDetails/MachineNetwork/MachineNetwork.test.tsx
  ui/src/app/machines/views/MachineDetails/MachineNetwork/MachineNetwork.tsx
  ui/src/app/machines/views/MachineDetails/MachineNetwork/NetworkActions/NetworkActions.test.tsx
  ui/src/app/machines/views/MachineDetails/MachineNetwork/NetworkActions/NetworkActions.tsx
  ui/src/app/machines/views/MachineDetails/MachineNetwork/NetworkActions/__snapshots__/NetworkActions.test.tsx.snap
  ui/src/app/machines/views/MachineDetails/MachineNetwork/NetworkTable/NetworkTable.test.tsx
  ui/src/app/machines/views/MachineDetails/MachineNetwork/NetworkTable/NetworkTable.tsx
  ui/src/app/machines/views/MachineDetails/MachineNetwork/NetworkTable/types.ts
Labels: Review: Code +1, Review: QA +1

#2196 fix(ui) align the machine test table columns
  ui/src/app/machines/views/MachineDetails/MachineTests/MachineTestsTable/MachineTestsTable.tsx
  ui/src/app/machines/views/MachineDetails/MachineTests/MachineTestsTable/__snapshots__/MachineTestsTable.test.tsx.snap
  ui/src/app/machines/views/MachineDetails/MachineTests/MachineTestsTable/index.scss
  ui/src/scss/index.scss
Labels: Review: Code +1, Review: QA +1

#2199 refactor(ui): make adding and updating interface actions consistent
  ui/src/app/machines/views/MachineDetails/MachineNetwork/NetworkTable/NetworkTableConfirmation/NetworkTableConfirmation.tsx
  ui/src/app/store/machine/actions.test.ts
  ui/src/app/store/machine/slice.ts
Labels: Review: Code +1, Review: QA +1

#2204 refactor(ui): move network fields to component
  ui/src/app/machines/views/MachineDetails/MachineNetwork/AddInterface/AddInterface.tsx
  ui/src/app/machines/views/MachineDetails/MachineNetwork/AddInterface/AddInterfaceFormFields/AddInterfaceFormFields.tsx
  ui/src/app/machines/views/MachineDetails/MachineNetwork/AddInterface/AddInterfaceFormFields/index.ts
  ui/src/app/machines/views/MachineDetails/MachineNetwork/AddInterface/types.ts
  ui/src/app/machines/views/MachineDetails/MachineNetwork/NetworkFields/NetworkFields.test.tsx
  ui/src/app/machines/views/MachineDetails/MachineNetwork/NetworkFields/NetworkFields.tsx
  ui/src/app/machines/views/MachineDetails/MachineNetwork/NetworkFields/index.ts
Labels: Review: Code +1, Review: QA +1

#2202 refactor(ui): move network table columns to individual components
  ui/src/app/machines/views/MachineDetails/MachineNetwork/NetworkTable/DHCPColumn/DHCPColumn.test.tsx
  ui/src/app/machines/views/MachineDetails/MachineNetwork/NetworkTable/DHCPColumn/DHCPColumn.tsx
  ui/src/app/machines/views/MachineDetails/MachineNetwork/NetworkTable/DHCPColumn/index.ts
  ui/src/app/machines/views/MachineDetails/MachineNetwork/NetworkTable/FabricColumn/FabricColumn.test.tsx
  ui/src/app/machines/views/MachineDetails/MachineNetwork/NetworkTable/FabricColumn/FabricColumn.tsx
  ui/src/app/machines/views/MachineDetails/MachineNetwork/NetworkTable/FabricColumn/index.ts
  ui/src/app/machines/views/MachineDetails/MachineNetwork/NetworkTable/NameColumn/NameColumn.test.tsx
  ui/src/app/machines/views/MachineDetails/MachineNetwork/NetworkTable/NameColumn/NameColumn.tsx
  ui/src/app/machines/views/MachineDetails/MachineNetwork/NetworkTable/NameColumn/index.ts
  ui/src/app/machines/views/MachineDetails/MachineNetwork/NetworkTable/NetworkTable.test.tsx
  ui/src/app/machines/views/MachineDetails/MachineNetwork/NetworkTable/NetworkTable.tsx
  ui/src/app/machines/views/MachineDetails/MachineNetwork/NetworkTable/SpeedColumn/SpeedColumn.test.tsx
  ui/src/app/machines/views/MachineDetails/MachineNetwork/NetworkTable/SpeedColumn/SpeedColumn.tsx
  ui/src/app/machines/views/MachineDetails/MachineNetwork/NetworkTable/SpeedColumn/index.ts
  ui/src/app/machines/views/MachineDetails/MachineNetwork/NetworkTable/TypeColumn/TypeColumn.test.tsx
  ui/src/app/machines/views/MachineDetails/MachineNetwork/NetworkTable/TypeColumn/TypeColumn.tsx
  ui/src/app/machines/views/MachineDetails/MachineNetwork/NetworkTable/TypeColumn/index.ts
  ui/src/app/store/machine/utils/networking.ts
Labels: Review: Code +1, Review: QA +1

#2198 fix(ui): show correct count when deleting items from list
  ui/src/app/base/components/ActionForm/ActionForm.test.tsx
  ui/src/app/base/components/ActionForm/ActionForm.tsx
  ui/src/app/machines/hooks.test.tsx
  ui/src/app/machines/hooks.tsx
  ui/src/testing/utils.js
Labels: Review: Code +1, Review: QA +1

#2207 refactor(ui): break MachineTestsTable into smaller components
  ui/.betterer.results
  ui/src/app/machines/views/MachineDetails/MachineTests/MachineTests.test.tsx
  ui/src/app/machines/views/MachineDetails/MachineTests/MachineTestsTable/MachineTestsTable.test.tsx
  ui/src/app/machines/views/MachineDetails/MachineTests/MachineTestsTable/MachineTestsTable.tsx
  ui/src/app/machines/views/MachineDetails/MachineTests/MachineTestsTable/TestActions/TestActions.test.tsx
  ui/src/app/machines/views/MachineDetails/MachineTests/MachineTestsTable/TestActions/TestActions.tsx
  ui/src/app/machines/views/MachineDetails/MachineTests/MachineTestsTable/TestActions/index.ts
  ui/src/app/machines/views/MachineDetails/MachineTests/MachineTestsTable/TestHistory/TestHistory.test.tsx
  ui/src/app/machines/views/MachineDetails/MachineTests/MachineTestsTable/TestHistory/TestHistory.tsx
  ui/src/app/machines/views/MachineDetails/MachineTests/MachineTestsTable/TestHistory/index.ts
  ui/src/app/machines/views/MachineDetails/MachineTests/MachineTestsTable/TestMetrics/TestMetrics.test.tsx
  ui/src/app/machines/views/MachineDetails/MachineTests/MachineTestsTable/TestMetrics/TestMetrics.tsx
  ui/src/app/machines/views/MachineDetails/MachineTests/MachineTestsTable/TestMetrics/index.ts
  ui/src/app/machines/views/MachineDetails/MachineTests/MachineTestsTable/__snapshots__/MachineTestsTable.test.tsx.snap
  ui/src/app/machines/views/MachineDetails/MachineTests/MachineTestsTable/index.scss
  ui/src/app/machines/views/MachineDetails/MachineTests/MachineTestsTable/index.ts
  ui/src/app/machines/views/MachineDetails/MachineTests/__snapshots__/MachineTests.test.tsx.snap
  ui/src/app/store/scriptresult/selectors.ts
Labels: Review: Code +1, Review: QA +1

#2210 fix(ui): only fetch scripts if they have not been fetched before
  ui/src/app/machines/components/ActionFormWrapper/CommissionForm/CommissionForm.test.tsx
  ui/src/app/machines/components/ActionFormWrapper/CommissionForm/CommissionForm.tsx
  ui/src/app/machines/components/ActionFormWrapper/TestForm/TestForm.tsx
  ui/src/app/machines/views/MachineList/MachineListTable/MachineListTable.js
  ui/src/app/settings/views/Scripts/ScriptsList/ScriptsList.test.tsx
  ui/src/app/settings/views/Scripts/ScriptsList/ScriptsList.tsx
Labels: Review: Code +1, Review: QA +1

#2211 feat(ui): scroll to the interface form when opened
  ui/.betterer.results
  ui/src/app/base/hooks.test.ts
  ui/src/app/base/hooks.ts
  ui/src/app/machines/views/MachineDetails/MachineNetwork/AddInterface/AddInterface.tsx
Labels: Review: Code +1, Review: QA +1

#2214 feat(ui): improve and align styling of machine commissioning+tests tabs
  ui/src/app/base/components/ScriptResultStatus/ScriptResultStatus.test.tsx
  ui/src/app/base/components/ScriptResultStatus/ScriptResultStatus.tsx
  ui/src/app/base/components/ScriptResultStatus/__snapshots__/ScriptResultStatus.test.tsx.snap
  ui/src/app/base/components/ScriptResultStatus/index.ts
  ui/src/app/machines/views/MachineDetails/MachineCommissioning/MachineCommissioning.tsx
  ui/src/app/machines/views/MachineDetails/MachineCommissioning/MachineCommissioningTable/MachineCommissioningTable.test.tsx
  ui/src/app/machines/views/MachineDetails/MachineCommissioning/MachineCommissioningTable/MachineCommissioningTable.tsx
  ui/src/app/machines/views/MachineDetails/MachineCommissioning/MachineCommissioningTable/index.ts
  ui/src/app/machines/views/MachineDetails/MachineCommissioning/index.scss
  ui/src/app/machines/views/MachineDetails/MachineTests/MachineTestsDetails/MachineTestsDetails.tsx
  ui/src/app/machines/views/MachineDetails/MachineTests/MachineTestsTable/MachineTestsTable.test.tsx
  ui/src/app/machines/views/MachineDetails/MachineTests/MachineTestsTable/MachineTestsTable.tsx
  ui/src/app/machines/views/MachineDetails/MachineTests/MachineTestsTable/TestActions/TestActions.test.tsx
  ui/src/app/machines/views/MachineDetails/MachineTests/MachineTestsTable/TestActions/TestActions.tsx
  ui/src/app/machines/views/MachineDetails/MachineTests/MachineTestsTable/TestHistory/TestHistory.tsx
  ui/src/app/machines/views/MachineDetails/MachineTests/MachineTestsTable/index.scss
  ui/src/scss/index.scss
Labels: Review: Code +1, Review: QA +1

#2238 Backport changes to allow admins to update users' passwords.
  ui/src/app/base/actions/auth/auth.js
  ui/src/app/base/actions/auth/auth.test.js
  ui/src/app/base/components/UserForm/UserForm.js
  ui/src/app/base/reducers/auth/auth.js
  ui/src/app/base/reducers/auth/auth.test.js
  ui/src/app/settings/views/Scripts/ScriptsList/ScriptsList.test.js
  ui/src/app/settings/views/Users/UserForm/UserForm.js
  ui/src/app/settings/views/Users/UserForm/UserForm.test.js
Labels: Backport 2.8 :arrow_backward:, Review: Code +1, Review: QA +1

#2241 Backport changes to allow admins to update users' passwords.
  ui/src/app/base/actions/auth/auth.js
  ui/src/app/base/actions/auth/auth.test.js
  ui/src/app/base/components/UserForm/UserForm.js
  ui/src/app/base/reducers/auth/auth.js
  ui/src/app/base/reducers/auth/auth.test.js
  ui/src/app/settings/views/Users/UserForm/UserForm.js
  ui/src/app/settings/views/Users/UserForm/UserForm.test.js
Labels: Backport 2.7 :arrow_backward:, Review: Code +1, Review: QA +1

#2247 feat(ui): remove KVM list action menu
  ui/src/app/kvm/views/KVMList/KVMListHeader/KVMListActionMenu/KVMListActionMenu.test.tsx
  ui/src/app/kvm/views/KVMList/KVMListHeader/KVMListActionMenu/KVMListActionMenu.tsx
  ui/src/app/kvm/views/KVMList/KVMListHeader/KVMListActionMenu/index.ts
  ui/src/app/kvm/views/KVMList/KVMListHeader/KVMListHeader.test.tsx
  ui/src/app/kvm/views/KVMList/KVMListHeader/KVMListHeader.tsx
  ui/src/app/kvm/views/KVMList/KVMListTable/KVMListTable.test.tsx
  ui/src/app/kvm/views/KVMList/KVMListTable/KVMListTable.tsx
  ui/src/app/kvm/views/KVMList/KVMListTable/NameColumn/NameColumn.test.tsx
  ui/src/app/kvm/views/KVMList/KVMListTable/NameColumn/NameColumn.tsx
Labels: Review: Code +1, Review: QA +1

#2251 feat(ui): add api support for linking subnets
  ui/src/app/store/machine/actions.test.ts
  ui/src/app/store/machine/selectors.test.ts
  ui/src/app/store/machine/selectors.ts
  ui/src/app/store/machine/slice.ts
  ui/src/app/store/machine/types.ts
  ui/src/testing/factories/state.ts
Labels: Review: Code +1

#2249 feat(ui): add api support for creating vlan interfaces
  ui/src/app/store/machine/actions.test.ts
  ui/src/app/store/machine/selectors.ts
  ui/src/app/store/machine/slice.ts
  ui/src/app/store/machine/types.ts
  ui/src/testing/factories/state.ts
Labels: Review: Code +1

#2248 feat(ui): add action to navigate to edit aliases and vlans
  ui/src/app/machines/views/MachineDetails/MachineNetwork/EditInterface/EditInterface.test.tsx
  ui/src/app/machines/views/MachineDetails/MachineNetwork/EditInterface/EditInterface.tsx
Labels: Review: Code +1, Review: QA +1

#2257 feat(ui): remove pod selected state/actions/reducers
  ui/.betterer.results
  ui/src/__snapshots__/root-reducer.test.js.snap
  ui/src/app/kvm/components/KVMActionFormWrapper/DeleteForm/DeleteForm.test.js
  ui/src/app/kvm/components/KVMActionFormWrapper/DeleteForm/DeleteForm.test.tsx
  ui/src/app/kvm/components/KVMActionFormWrapper/DeleteForm/DeleteForm.tsx
  ui/src/app/kvm/components/KVMActionFormWrapper/RefreshForm/RefreshForm.test.js
  ui/src/app/kvm/components/KVMActionFormWrapper/RefreshForm/RefreshForm.test.tsx
  ui/src/app/kvm/components/KVMActionFormWrapper/RefreshForm/RefreshForm.tsx
  ui/src/app/kvm/views/KVMList/KVMListHeader/KVMListHeader.test.tsx
  ui/src/app/kvm/views/KVMList/KVMListHeader/KVMListHeader.tsx
  ui/src/app/store/pod/actions.test.ts
  ui/src/app/store/pod/reducers.test.ts
  ui/src/app/store/pod/selectors.test.ts
  ui/src/app/store/pod/selectors.ts
  ui/src/app/store/pod/slice.ts
  ui/src/app/store/pod/types.ts
  ui/src/app/store/pod/utils.ts
  ui/src/app/store/utils/slice.test.ts
  ui/src/testing/factories/state.ts
Labels: Review: Code +1, Review: QA +1

#2259 fix(ui): aliases shouldn't have mark connection action
  ui/src/app/machines/views/MachineDetails/MachineNetwork/NetworkTable/NetworkTableActions/NetworkTableActions.test.tsx
  ui/src/app/machines/views/MachineDetails/MachineNetwork/NetworkTable/NetworkTableActions/NetworkTableActions.tsx
Labels: Review: Code +1, Review: QA +1

#2260 feat(ui): add selectors for grouping/getting pods by LXD address
  ui/src/app/kvm/components/KVMActionFormWrapper/ComposeForm/ComposeFormFields/ComposeFormFields.test.tsx
  ui/src/app/kvm/components/KVMActionFormWrapper/ComposeForm/StorageTable/StorageTable.test.tsx
  ui/src/app/kvm/components/KVMActionFormWrapper/KVMActionFormWrapper.test.tsx
  ui/src/app/kvm/components/PodConfiguration/PodConfiguration.tsx
  ui/src/app/kvm/components/PodConfiguration/PodConfigurationFields/PodConfigurationFields.test.tsx
  ui/src/app/kvm/views/KVMDetails/KVMSummary/KVMSummary.tsx
  ui/src/app/kvm/views/KVMList/KVMListTable/TypeColumn/TypeColumn.test.tsx
  ui/src/app/machines/views/MachineDetails/MachineSummary/OverviewCard/DetailsCard/DetailsCard.test.tsx
  ui/src/app/store/pod/selectors.test.ts
  ui/src/app/store/pod/selectors.ts
  ui/src/app/store/pod/types.ts
  ui/src/app/store/pod/utils.ts
  ui/src/testing/factories/nodes.ts
Labels: Review: Code +1

#2261 feat(ui): separate KVM table into LXD and virsh KVMs
  ui/.betterer.results
  ui/src/app/kvm/views/KVMList/CPUColumn/CPUColumn.test.tsx
  ui/src/app/kvm/views/KVMList/CPUColumn/CPUColumn.tsx
  ui/src/app/kvm/views/KVMList/CPUColumn/CPUPopover/CPUPopover.test.tsx
  ui/src/app/kvm/views/KVMList/CPUColumn/CPUPopover/CPUPopover.tsx
  ui/src/app/kvm/views/KVMList/CPUColumn/CPUPopover/_index.scss
  ui/src/app/kvm/views/KVMList/CPUColumn/CPUPopover/index.ts
  ui/src/app/kvm/views/KVMList/CPUColumn/index.ts
  ui/src/app/kvm/views/KVMList/KVMList.test.tsx
  ui/src/app/kvm/views/KVMList/KVMList.tsx
  ui/src/app/kvm/views/KVMList/KVMListTable/KVMListTable.test.tsx
  ui/src/app/kvm/views/KVMList/KVMListTable/OSColumn/OSColumn.test.tsx
  ui/src/app/kvm/views/KVMList/KVMListTable/OSColumn/OSColumn.tsx
  ui/src/app/kvm/views/KVMList/KVMListTable/OSColumn/index.ts
  ui/src/app/kvm/views/KVMList/KVMListTable/PowerColumn/PowerColumn.test.tsx
  ui/src/app/kvm/views/KVMList/KVMListTable/PowerColumn/PowerColumn.tsx
  ui/src/app/kvm/views/KVMList/KVMListTable/PowerColumn/index.ts
  ui/src/app/kvm/views/KVMList/KVMListTable/TypeColumn/TypeColumn.test.tsx
  ui/src/app/kvm/views/KVMList/KVMListTable/TypeColumn/TypeColumn.tsx
  ui/src/app/kvm/views/KVMList/KVMListTable/TypeColumn/index.ts
  ui/src/app/kvm/views/KVMList/KVMListTable/_index.scss
  ui/src/app/kvm/views/KVMList/KVMListTable/index.ts
  ui/src/app/kvm/views/KVMList/LxdTable/LxdTable.tsx
  ui/src/app/kvm/views/KVMList/LxdTable/index.ts
  ui/src/app/kvm/views/KVMList/NameColumn/NameColumn.test.tsx
  ui/src/app/kvm/views/KVMList/NameColumn/NameColumn.tsx
  ui/src/app/kvm/views/KVMList/NameColumn/index.ts
  ui/src/app/kvm/views/KVMList/PoolColumn/PoolColumn.test.tsx
  ui/src/app/kvm/views/KVMList/PoolColumn/PoolColumn.tsx
  ui/src/app/kvm/views/KVMList/PoolColumn/index.ts
  ui/src/app/kvm/views/KVMList/RAMColumn/RAMColumn.test.tsx
  ui/src/app/kvm/views/KVMList/RAMColumn/RAMColumn.tsx
  ui/src/app/kvm/views/KVMList/RAMColumn/RAMPopover/RAMPopover.test.tsx
  ui/src/app/kvm/views/KVMList/RAMColumn/RAMPopover/RAMPopover.tsx
  ui/src/app/kvm/views/KVMList/RAMColumn/RAMPopover/_index.scss
  ui/src/app/kvm/views/KVMList/RAMColumn/RAMPopover/index.ts
  ui/src/app/kvm/views/KVMList/RAMColumn/index.ts
  ui/src/app/kvm/views/KVMList/StorageColumn/StorageColumn.test.tsx
  ui/src/app/kvm/views/KVMList/StorageColumn/StorageColumn.tsx
  ui/src/app/kvm/views/KVMList/StorageColumn/StoragePopover/StoragePopover.test.tsx
  ui/src/app/kvm/views/KVMList/StorageColumn/StoragePopover/StoragePopover.tsx
  ui/src/app/kvm/views/KVMList/StorageColumn/StoragePopover/_index.scss
  ui/src/app/kvm/views/KVMList/StorageColumn/StoragePopover/index.ts
  ui/src/app/kvm/views/KVMList/StorageColumn/index.ts
  ui/src/app/kvm/views/KVMList/VMsColumn/VMsColumn.test.tsx
  ui/src/app/kvm/views/KVMList/VMsColumn/VMsColumn.tsx
  ui/src/app/kvm/views/KVMList/VMsColumn/index.ts
  ui/src/app/kvm/views/KVMList/VirshTable/VirshTable.test.tsx
  ui/src/app/kvm/views/KVMList/VirshTable/VirshTable.tsx
  ui/src/app/kvm/views/KVMList/VirshTable/index.ts
  ui/src/app/store/pod/selectors.ts
  ui/src/app/store/pod/types.ts
  ui/src/scss/index.scss
Labels: Review: Code +1, Review: QA +1

#2265 feat(ui): add a component to handle selects with dynamic values
  ui/.betterer.results
  ui/src/app/base/components/DynamicSelect/DynamicSelect.test.tsx
  ui/src/app/base/components/DynamicSelect/DynamicSelect.tsx
  ui/src/app/base/components/DynamicSelect/index.ts
  ui/src/app/base/components/FabricSelect/FabricSelect.tsx
  ui/src/app/base/components/SubnetSelect/SubnetSelect.test.tsx
  ui/src/app/base/components/SubnetSelect/SubnetSelect.tsx
  ui/src/app/base/components/VLANSelect/VLANSelect.test.tsx
  ui/src/app/base/components/VLANSelect/VLANSelect.tsx
  ui/src/app/machines/views/MachineDetails/MachineNetwork/AddInterface/AddInterface.tsx
  ui/src/app/machines/views/MachineDetails/MachineNetwork/NetworkFields/NetworkFields.test.tsx
  ui/src/app/machines/views/MachineDetails/MachineNetwork/NetworkFields/NetworkFields.tsx
  ui/src/app/utils/index.ts
  ui/src/app/utils/toFormikNumber.test.ts
  ui/src/app/utils/toFormikNumber.ts
Labels: Review: Code +1, Review: QA +1

#2267 docs(shared): link to docs root instead of named file
  integration/cypress/integration/base/footer.spec.ts
  shared/src/components/Footer/Footer.tsx
  shared/src/components/Footer/__snapshots__/Footer.test.tsx.snap
Labels: Review: Code +1, Review: QA +1

#2270 refactor(ui): move script+node base enums to their store directories
  ui/.betterer.results
  ui/src/app/base/components/ScriptResultStatus/ScriptResultStatus.test.tsx
  ui/src/app/base/components/ScriptResultStatus/ScriptResultStatus.tsx
  ui/src/app/base/components/ScriptStatus/ScriptStatus.js
  ui/src/app/base/components/ScriptStatus/ScriptStatus.test.js
  ui/src/app/base/enum.ts
  ui/src/app/machines/components/ActionFormWrapper/OverrideTestForm/OverrideTestForm.test.js
  ui/src/app/machines/views/MachineDetails/MachineNetwork/NetworkTable/IPColumn/IPColumn.test.tsx
  ui/src/app/machines/views/MachineDetails/MachineStorage/StorageNotifications/StorageNotifications.test.tsx
  ui/src/app/machines/views/MachineDetails/MachineStorage/TestStatus/TestStatus.test.tsx
  ui/src/app/machines/views/MachineDetails/MachineStorage/TestStatus/TestStatus.tsx
  ui/src/app/machines/views/MachineDetails/MachineSummary/MachineSummary.test.tsx
  ui/src/app/machines/views/MachineDetails/MachineSummary/MachineSummary.tsx
  ui/src/app/machines/views/MachineDetails/MachineSummary/OverviewCard/StatusCard/StatusCard.tsx
  ui/src/app/machines/views/MachineDetails/MachineTests/MachineTests.test.tsx
  ui/src/app/machines/views/MachineDetails/MachineTests/MachineTestsTable/MachineTestsTable.test.tsx
  ui/src/app/machines/views/MachineDetails/MachineTests/MachineTestsTable/MachineTestsTable.tsx
  ui/src/app/machines/views/MachineDetails/MachineTests/MachineTestsTable/TestActions/TestActions.test.tsx
  ui/src/app/machines/views/MachineDetails/MachineTests/MachineTestsTable/TestActions/TestActions.tsx
  ui/src/app/machines/views/MachineDetails/MachineTests/MachineTestsTable/TestHistory/TestHistory.tsx
  ui/src/app/machines/views/MachineDetails/NodeDevices/NodeDevicesWarning/NodeDevicesWarning.test.tsx
  ui/src/app/machines/views/MachineDetails/NodeDevices/NodeDevicesWarning/NodeDevicesWarning.tsx
  ui/src/app/machines/views/MachineList/MachineList.test.js
  ui/src/app/machines/views/MachineList/MachineListTable/DisksColumn/DisksColumn.test.js
  ui/src/app/machines/views/MachineList/MachineListTable/MachineListTable.js
  ui/src/app/machines/views/MachineList/MachineListTable/MachineListTable.test.js
  ui/src/app/machines/views/MachineList/MachineListTable/RamColumn/RamColumn.test.js
  ui/src/app/machines/views/MachineList/MachineListTable/StatusColumn/StatusColumn.test.tsx
  ui/src/app/machines/views/MachineList/MachineListTable/StatusColumn/StatusColumn.tsx
  ui/src/app/machines/views/Machines.test.js
  ui/src/app/store/machine/utils/hooks.test.tsx
  ui/src/app/store/machine/utils/storage.test.ts
  ui/src/app/store/machine/utils/storage.ts
  ui/src/app/store/scriptresult/selectors.test.tsx
  ui/src/app/store/scriptresult/selectors.ts
  ui/src/app/store/scriptresult/types.ts
  ui/src/app/store/scriptresult/utils.ts
  ui/src/app/store/types/node.ts
  ui/src/app/utils/getStatusText.test.ts
  ui/src/app/utils/getStatusText.ts
Labels: Review: Code +1
