Repository canonical/maas-ui, pull requests merged in 2021-08, with the labels that each got.

#2905 fix(cypress): fix images and intro Cypress tests
  integration/cypress/integration/base/header.spec.ts
  integration/cypress/integration/images/list.spec.ts
  integration/cypress/integration/login/login.spec.ts
  ui/src/app/App.tsx
  ui/src/app/intro/views/Intro.tsx
Labels: Review: Code +1

#2920 Decouple machine take action menu from API
  ui/.betterer.results
  ui/src/app/base/components/ActionForm/ActionForm.tsx
  ui/src/app/kvm/views/KVMDetails/LxdProject/ProjectVMs/VMsActionBar/VMsActionBar.tsx
  ui/src/app/machines/components/ActionFormWrapper/ActionFormWrapper.tsx
  ui/src/app/machines/components/TakeActionMenu/TakeActionMenu.test.tsx
  ui/src/app/machines/components/TakeActionMenu/TakeActionMenu.tsx
  ui/src/app/machines/views/MachineList/MachineListHeader/MachineListHeader.test.tsx
  ui/src/app/machines/views/types.ts
Labels: Review: Code +1, Review: QA +1

#2923 feat(ui): add basic clone form
  ui/src/app/base/components/ActionForm/ActionForm.tsx
  ui/src/app/machines/components/ActionFormWrapper/ActionFormWrapper.tsx
  ui/src/app/machines/components/ActionFormWrapper/CloneForm/CloneForm.tsx
  ui/src/app/machines/components/ActionFormWrapper/CloneForm/CloneFormFields/CloneFormFields.tsx
  ui/src/app/machines/components/ActionFormWrapper/CloneForm/CloneFormFields/index.ts
  ui/src/app/machines/components/ActionFormWrapper/CloneForm/index.ts
  ui/src/app/machines/components/TakeActionMenu/TakeActionMenu.tsx
  ui/src/app/machines/utils.test.ts
  ui/src/app/machines/utils.ts
  ui/src/app/store/machine/index.ts
  ui/src/app/store/machine/selectors.ts
  ui/src/app/store/machine/slice.ts
  ui/src/app/store/machine/types/base.ts
  ui/src/app/store/types/node.ts
  ui/src/testing/factories/state.ts
Labels: Review: Code +1, Review: QA +1

#2928 feat(ui): build source machine select in cloning form
  ui/src/app/machines/components/ActionFormWrapper/CloneForm/CloneForm.tsx
  ui/src/app/machines/components/ActionFormWrapper/CloneForm/CloneFormFields/CloneFormFields.tsx
  ui/src/app/machines/components/ActionFormWrapper/CloneForm/CloneFormFields/SourceMachineSelect/SourceMachineSelect.test.tsx
  ui/src/app/machines/components/ActionFormWrapper/CloneForm/CloneFormFields/SourceMachineSelect/SourceMachineSelect.tsx
  ui/src/app/machines/components/ActionFormWrapper/CloneForm/CloneFormFields/SourceMachineSelect/_index.scss
  ui/src/app/machines/components/ActionFormWrapper/CloneForm/CloneFormFields/SourceMachineSelect/index.ts
  ui/src/app/store/machine/selectors.test.ts
  ui/src/app/store/machine/selectors.ts
  ui/src/scss/index.scss
Labels: Review: Code +1 (with changes), Review: QA +1

#2932 feat(ui): fetch full machine details from machine cloning form
  ui/src/app/base/components/LabelledList/_index.scss
  ui/src/app/machines/components/ActionFormWrapper/CloneForm/CloneFormFields/CloneFormFields.test.tsx
  ui/src/app/machines/components/ActionFormWrapper/CloneForm/CloneFormFields/CloneFormFields.tsx
  ui/src/app/machines/components/ActionFormWrapper/CloneForm/CloneFormFields/SourceMachineSelect/SourceMachineDetails/SourceMachineDetails.test.tsx
  ui/src/app/machines/components/ActionFormWrapper/CloneForm/CloneFormFields/SourceMachineSelect/SourceMachineDetails/SourceMachineDetails.tsx
  ui/src/app/machines/components/ActionFormWrapper/CloneForm/CloneFormFields/SourceMachineSelect/SourceMachineDetails/__snapshots__/SourceMachineDetails.test.tsx.snap
  ui/src/app/machines/components/ActionFormWrapper/CloneForm/CloneFormFields/SourceMachineSelect/SourceMachineDetails/index.ts
  ui/src/app/machines/components/ActionFormWrapper/CloneForm/CloneFormFields/SourceMachineSelect/SourceMachineSelect.test.tsx
  ui/src/app/machines/components/ActionFormWrapper/CloneForm/CloneFormFields/SourceMachineSelect/SourceMachineSelect.tsx
  ui/src/app/machines/components/ActionFormWrapper/CloneForm/CloneFormFields/SourceMachineSelect/_index.scss
  ui/src/app/machines/views/MachineDetails/MachineHeader/MachineHeader.tsx
Labels: Review: QA +1, Review: Code +1 (with changes)

#2934 feat(ui): update Placeholder to show real content when loaded
  ui/src/app/base/components/Placeholder/Placeholder.test.tsx
  ui/src/app/base/components/Placeholder/Placeholder.tsx
  ui/src/app/base/components/Placeholder/__snapshots__/Placeholder.test.tsx.snap
  ui/src/app/machines/components/ActionFormWrapper/CloneForm/CloneFormFields/SourceMachineSelect/SourceMachineDetails/SourceMachineDetails.test.tsx
  ui/src/app/machines/components/ActionFormWrapper/CloneForm/CloneFormFields/SourceMachineSelect/SourceMachineDetails/SourceMachineDetails.tsx
  ui/src/app/machines/components/ActionFormWrapper/CloneForm/CloneFormFields/SourceMachineSelect/SourceMachineDetails/__snapshots__/SourceMachineDetails.test.tsx.snap
Labels: Review: Code +1, Review: QA +1

#2937 feat(ui): set up clone form table styling
  ui/src/app/machines/components/ActionFormWrapper/CloneForm/CloneFormFields/CloneFormFields.test.tsx
  ui/src/app/machines/components/ActionFormWrapper/CloneForm/CloneFormFields/CloneFormFields.tsx
  ui/src/app/machines/components/ActionFormWrapper/CloneForm/CloneFormFields/SourceMachineSelect/SourceMachineSelect.tsx
  ui/src/app/machines/components/ActionFormWrapper/CloneForm/CloneFormFields/SourceMachineSelect/_index.scss
  ui/src/app/machines/components/ActionFormWrapper/CloneForm/CloneFormFields/_index.scss
  ui/src/scss/index.scss
Labels: Review: Code +1, Review: QA +1

#2942 fix(ui): infer correct prop types for formik fields
  ui/src/app/base/components/DhcpFormFields/DhcpFormFields.tsx
  ui/src/app/base/components/DomainSelect/DomainSelect.tsx
  ui/src/app/base/components/DynamicSelect/DynamicSelect.tsx
  ui/src/app/base/components/FormikField/FormikField.test.tsx
  ui/src/app/base/components/FormikField/FormikField.tsx
  ui/src/app/base/components/FormikField/__snapshots__/FormikField.test.tsx.snap
  ui/src/app/base/components/MacAddressField/MacAddressField.tsx
  ui/src/app/base/components/MinimumKernelSelect/MinimumKernelSelect.tsx
  ui/src/app/base/components/MinimumKernelSelect/__snapshots__/MinimumKernelSelect.test.tsx.snap
  ui/src/app/base/components/ResourcePoolSelect/ResourcePoolSelect.tsx
  ui/src/app/machines/components/ActionFormWrapper/DeployForm/DeployFormFields/DeployFormFields.tsx
  ui/src/app/machines/components/ActionFormWrapper/DeployForm/DeployFormFields/UserDataField/UserDataField.tsx
  ui/src/app/machines/components/ActionFormWrapper/TestForm/TestFormFields/TestFormFields.tsx
  ui/src/app/machines/views/MachineDetails/MachineNetwork/BondForm/BondFormFields/BondFormFields.tsx
  ui/src/app/machines/views/MachineDetails/MachineStorage/AvailableStorageTable/AddLogicalVolume/AddLogicalVolumeFields/AddLogicalVolumeFields.tsx
  ui/src/app/machines/views/MachineDetails/MachineStorage/AvailableStorageTable/AddPartition/AddPartitionFields/AddPartitionFields.tsx
  ui/src/app/machines/views/MachineDetails/MachineStorage/AvailableStorageTable/FilesystemFields/FilesystemFields.tsx
  ui/src/app/preferences/views/SSLKeys/AddSSLKey/AddSSLKey.tsx
  ui/src/app/settings/views/Configuration/CommissioningFormFields/CommissioningFormFields.tsx
  ui/src/app/settings/views/Network/NetworkDiscoveryForm/NetworkDiscoveryFormFields/NetworkDiscoveryFormFields.tsx
Labels: Review: Code +1

#2944 fix(cypress): fix cookies being set in cypress tests
  integration/cypress/integration/base/footer.spec.ts
  integration/cypress/integration/base/header.spec.ts
  integration/cypress/integration/dashboard/dashboard.spec.ts
  integration/cypress/integration/domains/list.spec.ts
  integration/cypress/integration/images/list.spec.ts
  integration/cypress/integration/kvm/list.spec.ts
  integration/cypress/integration/legacy/controllers.spec.ts
  integration/cypress/integration/legacy/devices.spec.ts
  integration/cypress/integration/legacy/subnets.spec.ts
  integration/cypress/integration/login/login.spec.ts
  integration/cypress/integration/machines/add.spec.ts
  integration/cypress/integration/machines/list.spec.ts
  integration/cypress/integration/pools/list.spec.ts
  integration/cypress/integration/preferences/base.spec.ts
  integration/cypress/integration/settings/base.spec.ts
  integration/cypress/integration/settings/users/add.spec.ts
  integration/cypress/integration/settings/users/list.spec.ts
  integration/cypress/integration/utils.ts
  integration/cypress/integration/zones/list.spec.ts
  ui/.betterer.results
  ui/src/app/App.tsx
  ui/src/app/base/hooks.test.tsx
  ui/src/app/base/hooks.ts
  ui/src/app/intro/views/Intro.tsx
  ui/src/app/intro/views/UserIntro/UserIntro.tsx
  ui/src/app/store/auth/selectors.test.ts
  ui/src/app/store/auth/selectors.ts
  ui/src/app/store/config/selectors.ts
  ui/src/app/store/status/slice.ts
Labels: Review: Code +1

#2946 feat(ui): add storage table to cloning form
  ui/src/app/machines/components/ActionFormWrapper/CloneForm/CloneFormFields/CloneFormFields.test.tsx
  ui/src/app/machines/components/ActionFormWrapper/CloneForm/CloneFormFields/CloneFormFields.tsx
  ui/src/app/machines/components/ActionFormWrapper/CloneForm/CloneFormFields/CloneStorageTable/CloneStorageTable.test.tsx
  ui/src/app/machines/components/ActionFormWrapper/CloneForm/CloneFormFields/CloneStorageTable/CloneStorageTable.tsx
  ui/src/app/machines/components/ActionFormWrapper/CloneForm/CloneFormFields/CloneStorageTable/index.ts
  ui/src/app/machines/components/ActionFormWrapper/CloneForm/CloneFormFields/_index.scss
  ui/src/app/machines/views/MachineDetails/MachineStorage/AvailableStorageTable/AvailableStorageTable.tsx
  ui/src/app/machines/views/MachineDetails/MachineStorage/NumaNodes/NumaNodes.tsx
Labels: Review: Code +1, Review: QA +1

#2947 feat(ui): add network table to cloning form
  ui/src/app/machines/components/ActionFormWrapper/CloneForm/CloneFormFields/CloneFormFields.test.tsx
  ui/src/app/machines/components/ActionFormWrapper/CloneForm/CloneFormFields/CloneFormFields.tsx
  ui/src/app/machines/components/ActionFormWrapper/CloneForm/CloneFormFields/CloneNetworkTable/CloneNetworkTable.test.tsx
  ui/src/app/machines/components/ActionFormWrapper/CloneForm/CloneFormFields/CloneNetworkTable/CloneNetworkTable.tsx
  ui/src/app/machines/components/ActionFormWrapper/CloneForm/CloneFormFields/CloneNetworkTable/index.ts
  ui/src/app/machines/components/ActionFormWrapper/CloneForm/CloneFormFields/CloneStorageTable/CloneStorageTable.test.tsx
  ui/src/app/machines/components/ActionFormWrapper/CloneForm/CloneFormFields/CloneStorageTable/CloneStorageTable.tsx
  ui/src/app/machines/components/ActionFormWrapper/CloneForm/CloneFormFields/SourceMachineSelect/SourceMachineSelect.test.tsx
  ui/src/app/machines/components/ActionFormWrapper/CloneForm/CloneFormFields/SourceMachineSelect/SourceMachineSelect.tsx
  ui/src/app/machines/components/ActionFormWrapper/CloneForm/CloneFormFields/_index.scss
Labels: Review: QA +1, Review: Code +1 (with changes)

#2948 feat(ui): add warning to clone form if no source machines available
  ui/src/app/machines/components/ActionFormWrapper/CloneForm/CloneFormFields/SourceMachineSelect/SourceMachineSelect.test.tsx
  ui/src/app/machines/components/ActionFormWrapper/CloneForm/CloneFormFields/SourceMachineSelect/SourceMachineSelect.tsx
Labels: Review: Code +1, Review: QA +1

#2950 feat(ui): add clone action to machine slice
  ui/.betterer.results
  ui/src/app/machines/components/ActionFormWrapper/CloneForm/CloneForm.test.tsx
  ui/src/app/machines/components/ActionFormWrapper/CloneForm/CloneForm.tsx
  ui/src/app/store/machine/actions.test.ts
  ui/src/app/store/machine/reducers.test.ts
  ui/src/app/store/machine/slice.ts
  ui/src/app/store/machine/types/actions.ts
  ui/src/app/store/machine/types/index.ts
Labels: Review: Code +1, Review: QA +1

#2949 feat(ui): add help text to clone form
  ui/src/app/base/components/ActionForm/ActionForm.tsx
  ui/src/app/base/components/FormikForm/FormikForm.tsx
  ui/src/app/base/components/FormikFormButtons/FormikFormButtons.test.tsx
  ui/src/app/base/components/FormikFormButtons/FormikFormButtons.tsx
  ui/src/app/base/components/FormikFormButtons/_index.scss
  ui/src/app/machines/components/ActionFormWrapper/CloneForm/CloneForm.tsx
  ui/src/app/machines/components/ActionFormWrapper/FieldlessForm/__snapshots__/FieldlessForm.test.tsx.snap
  ui/src/app/machines/views/AddChassis/AddChassisForm/AddChassisForm.js
  ui/src/app/machines/views/AddMachine/AddMachineForm/AddMachineForm.js
  ui/src/app/machines/views/MachineDetails/MachineHeader/MachineName/__snapshots__/MachineName.test.tsx.snap
  ui/src/app/machines/views/MachineDetails/MachineHeader/MachineNameFields/MachineNameFields.tsx
  ui/src/app/machines/views/MachineDetails/MachineHeader/MachineNameFields/__snapshots__/MachineNameFields.test.tsx.snap
  ui/src/scss/index.scss
Labels: Review: QA +1, Review: Code +1 (with changes)

#2956 feat(ui): add validation to clone form
  ui/src/app/machines/components/ActionFormWrapper/CloneForm/CloneForm.test.tsx
  ui/src/app/machines/components/ActionFormWrapper/CloneForm/CloneForm.tsx
  ui/src/app/machines/components/ActionFormWrapper/CloneForm/CloneFormFields/CloneFormFields.tsx
Labels: Review: Code +1, Review: QA +1

#2960 refactor(ui): migrate login component to TypeScript
  ui/src/app/base/components/Login/Login.test.tsx
  ui/src/app/base/components/Login/Login.tsx
  ui/src/app/store/status/selectors.ts
Labels: Review: Code +1

#2964 refactor(ui): migrate user forms to TypeScript
  ui/src/app/base/components/UserForm/UserForm.test.tsx
  ui/src/app/base/components/UserForm/UserForm.tsx
  ui/src/app/base/proptypes.js
  ui/src/app/preferences/views/Details/Details.test.tsx
  ui/src/app/preferences/views/Details/Details.tsx
  ui/src/app/settings/views/Users/UserAdd/UserAdd.test.tsx
  ui/src/app/settings/views/Users/UserAdd/UserAdd.tsx
  ui/src/app/settings/views/Users/UserEdit/UserEdit.test.tsx
  ui/src/app/settings/views/Users/UserEdit/UserEdit.tsx
  ui/src/app/settings/views/Users/UserForm/UserForm.test.tsx
  ui/src/app/settings/views/Users/UserForm/UserForm.tsx
Labels: Review: Code +1

#2961 refactor(ui): migrate SideNav to TypeScript
  ui/src/app/base/components/SideNav/SideNav.test.tsx
  ui/src/app/base/components/SideNav/SideNav.tsx
  ui/src/app/base/components/SideNav/__snapshots__/SideNav.test.tsx.snap
Labels: Review: Code +1

#2959 refactor(ui): migrate ErrorBoundary to TypeScript
  ui/src/app/base/components/ErrorBoundary/ErrorBoundary.test.tsx
  ui/src/app/base/components/ErrorBoundary/ErrorBoundary.tsx
Labels: Review: Code +1

#2965 refactor(ui): convert HTTP sagas to TypeScript
  ui/src/app/base/sagas/http.test.ts
  ui/src/app/base/sagas/http.ts
  ui/src/app/utils/getCookie.test.ts
  ui/src/app/utils/getCookie.ts
Labels: Review: Code +1

#2966 refactor(ui): migrate NotFound component to TypeScript
  ui/src/app/base/views/NotFound/NotFound.test.tsx
  ui/src/app/base/views/NotFound/NotFound.tsx
  ui/src/app/base/views/NotFound/__snapshots__/NotFound.test.tsx.snap
Labels: Review: Code +1

#2970 refactor(ui): migrate utils to TypeScript
  ui/src/app/kvm/components/KVMActionFormWrapper/ComposeForm/InterfacesTable/InterfacesTable.tsx
  ui/src/app/kvm/components/KVMActionFormWrapper/ComposeForm/InterfacesTable/SubnetSelect/SubnetSelect.tsx
  ui/src/app/utils/formatMacAddress.test.ts
  ui/src/app/utils/formatMacAddress.ts
  ui/src/app/utils/formatSpeedUnits.test.ts
  ui/src/app/utils/formatSpeedUnits.ts
  ui/src/app/utils/groupAsMap.test.ts
  ui/src/app/utils/groupAsMap.ts
  ui/src/app/utils/isVersionNewer.test.ts
  ui/src/app/utils/isVersionNewer.ts
  ui/src/app/utils/kebabToCamelCase.test.ts
  ui/src/app/utils/kebabToCamelCase.ts
  ui/src/app/utils/redux.js
  ui/src/app/utils/redux.test.js
Labels: Review: Code +1

#2969 refactor(ui): migrate root files to TypeScript
  ui/.betterer.results
  ui/src/__snapshots__/root-reducer.test.ts.snap
  ui/src/app/base/sagas/actions.ts
  ui/src/app/base/sagas/websockets.test.ts
  ui/src/app/base/sagas/websockets.ts
  ui/src/app/store/root/types.ts
  ui/src/app/store/user/slice.ts
  ui/src/bakery.ts
  ui/src/index.tsx
  ui/src/macaroon-bakery.d.ts
  ui/src/root-reducer.test.ts
  ui/src/root-reducer.ts
  ui/src/root-saga.ts
  ui/src/websocket-client.test.ts
  ui/src/websocket-client.ts
Labels: Review: Code +1

#2971 refactor(ui): migrate pool components to TypeScript
  ui/src/app/pools/views/PoolAdd/PoolAdd.test.tsx
  ui/src/app/pools/views/PoolAdd/PoolAdd.tsx
  ui/src/app/pools/views/PoolEdit/PoolEdit.tsx
  ui/src/app/pools/views/PoolForm/PoolForm.test.tsx
  ui/src/app/pools/views/PoolForm/PoolForm.tsx
  ui/src/app/pools/views/Pools.test.tsx
  ui/src/app/pools/views/Pools.tsx
Labels: Review: Code +1

#2972 refactor(ui): migrate action form field components to TypeScript
  ui/src/app/machines/components/ActionFormWrapper/CommissionForm/CommissionForm.tsx
  ui/src/app/machines/components/ActionFormWrapper/CommissionForm/CommissionFormFields/CommissionFormFields.test.tsx
  ui/src/app/machines/components/ActionFormWrapper/CommissionForm/CommissionFormFields/CommissionFormFields.tsx
  ui/src/app/machines/components/ActionFormWrapper/CommissionForm/types.ts
  ui/src/app/machines/components/ActionFormWrapper/SetPoolForm/SetPoolForm.tsx
  ui/src/app/machines/components/ActionFormWrapper/SetPoolForm/SetPoolFormFields/SetPoolFormFields.test.tsx
  ui/src/app/machines/components/ActionFormWrapper/SetPoolForm/SetPoolFormFields/SetPoolFormFields.tsx
  ui/src/app/machines/components/ActionFormWrapper/SetPoolForm/types.ts
  ui/src/app/machines/components/ActionFormWrapper/TagForm/TagFormFields/TagFormFields.test.tsx
  ui/src/app/machines/components/ActionFormWrapper/TagForm/TagFormFields/TagFormFields.tsx
Labels: Review: Code +1

#2973 feat(ui): add clone completion section to clone form
  ui/.betterer.results
  ui/src/app/machines/components/ActionFormWrapper/CloneForm/CloneForm.test.tsx
  ui/src/app/machines/components/ActionFormWrapper/CloneForm/CloneForm.tsx
  ui/src/app/machines/components/ActionFormWrapper/CloneForm/CloneFormFields/CloneFormFields.test.tsx
  ui/src/app/machines/components/ActionFormWrapper/CloneForm/CloneFormFields/CloneFormFields.tsx
  ui/src/app/machines/components/ActionFormWrapper/CloneForm/CloneResults/CloneResults.test.tsx
  ui/src/app/machines/components/ActionFormWrapper/CloneForm/CloneResults/CloneResults.tsx
  ui/src/app/machines/components/ActionFormWrapper/CloneForm/CloneResults/index.ts
Labels: Review: QA +1, Review: Code +1 (with changes)

#2974 refactor(ui): migrate add machine and chassis forms to TypeScript
  ui/src/app/machines/views/AddChassis/AddChassisForm/AddChassisForm.test.tsx
  ui/src/app/machines/views/AddChassis/AddChassisForm/AddChassisForm.tsx
  ui/src/app/machines/views/AddChassis/AddChassisFormFields/AddChassisFormFields.test.tsx
  ui/src/app/machines/views/AddMachine/AddMachineForm/AddMachineForm.test.tsx
  ui/src/app/machines/views/AddMachine/AddMachineForm/AddMachineForm.tsx
  ui/src/app/machines/views/AddMachine/AddMachineFormFields/AddMachineFormFields.test.tsx
  ui/src/app/machines/views/AddMachine/AddMachineFormFields/AddMachineFormFields.tsx
  ui/src/app/machines/views/AddMachine/types.ts
  ui/src/app/machines/views/MachineDetails/MachineConfiguration/PowerForm/PowerForm.tsx
  ui/src/app/store/general/utils/powerTypes.ts
Labels: Review: Code +1

#2976 feat(ui): improve responsiveness of clone form
  ui/src/app/machines/components/ActionFormWrapper/CloneForm/CloneFormFields/_index.scss
  ui/src/app/machines/components/ActionFormWrapper/CloneForm/CloneResults/CloneResults.tsx
  ui/src/app/machines/components/ActionFormWrapper/CloneForm/CloneResults/_index.scss
  ui/src/scss/index.scss
Labels: Review: Code +1, Review: QA +1

#2977 refactor(ui): migrate network settings components to TypeScript
  ui/src/app/settings/views/Network/DnsForm/DnsForm.test.tsx
  ui/src/app/settings/views/Network/DnsForm/DnsForm.tsx
  ui/src/app/settings/views/Network/NtpForm/NtpForm.test.tsx
  ui/src/app/settings/views/Network/NtpForm/NtpForm.tsx
  ui/src/app/settings/views/Network/ProxyForm/ProxyForm.test.tsx
  ui/src/app/settings/views/Network/ProxyForm/ProxyForm.tsx
  ui/src/app/settings/views/Network/ProxyForm/types.ts
  ui/src/app/settings/views/Network/ProxyFormFields/ProxyFormFields.test.tsx
  ui/src/app/settings/views/Network/ProxyFormFields/ProxyFormFields.tsx
  ui/src/app/settings/views/Network/SyslogForm/SyslogForm.test.tsx
  ui/src/app/settings/views/Network/SyslogForm/SyslogForm.tsx
Labels: Review: Code +1

#2978 refactor(ui): migrate Image settings components to TypeScript
  ui/src/app/settings/views/Images/ThirdPartyDrivers/ThirdPartyDrivers.test.tsx
  ui/src/app/settings/views/Images/ThirdPartyDrivers/ThirdPartyDrivers.tsx
  ui/src/app/settings/views/Images/ThirdPartyDriversForm/ThirdPartyDriversForm.test.tsx
  ui/src/app/settings/views/Images/ThirdPartyDriversForm/ThirdPartyDriversForm.tsx
  ui/src/app/settings/views/Images/ThirdPartyDriversForm/__snapshots__/ThirdPartyDriversForm.test.tsx.snap
  ui/src/app/settings/views/Images/VMWare/VMWare.test.tsx
  ui/src/app/settings/views/Images/VMWare/VMWare.tsx
  ui/src/app/settings/views/Images/VMWareForm/VMWareForm.test.tsx
  ui/src/app/settings/views/Images/VMWareForm/VMWareForm.tsx
  ui/src/app/settings/views/Images/VMWareForm/__snapshots__/VMWareForm.test.tsx.snap
  ui/src/app/settings/views/Images/Windows/Windows.test.tsx
  ui/src/app/settings/views/Images/Windows/Windows.tsx
  ui/src/app/settings/views/Images/WindowsForm/WindowsForm.test.tsx
  ui/src/app/settings/views/Images/WindowsForm/WindowsForm.tsx
  ui/src/app/settings/views/Images/WindowsForm/__snapshots__/WindowsForm.test.tsx.snap
Labels: Review: Code +1

#2979 refactor(ui): migrate Repository settings components to TypeScript
  root/report.20210218.124724.4180.0.001.json
  ui/src/app/settings/proptypes.js
  ui/src/app/settings/views/Repositories/RepositoriesList/RepositoriesList.test.tsx
  ui/src/app/settings/views/Repositories/RepositoriesList/RepositoriesList.tsx
  ui/src/app/settings/views/Repositories/RepositoryAdd/RepositoryAdd.test.tsx
  ui/src/app/settings/views/Repositories/RepositoryAdd/RepositoryAdd.tsx
  ui/src/app/settings/views/Repositories/RepositoryEdit/RepositoryEdit.test.tsx
  ui/src/app/settings/views/Repositories/RepositoryEdit/RepositoryEdit.tsx
  ui/src/app/settings/views/Repositories/RepositoryForm/RepositoryForm.test.tsx
  ui/src/app/settings/views/Repositories/RepositoryForm/RepositoryForm.tsx
  ui/src/app/settings/views/Repositories/RepositoryForm/types.ts
  ui/src/app/settings/views/Repositories/RepositoryFormFields/RepositoryFormFields.test.tsx
  ui/src/app/settings/views/Repositories/RepositoryFormFields/RepositoryFormFields.tsx
Labels: Review: Code +1

#2980 refactor(ui): migrate DHCP settings components to TypeScript
  ui/src/app/settings/hooks.ts
  ui/src/app/settings/views/Dhcp/DhcpAdd/DhcpAdd.test.tsx
  ui/src/app/settings/views/Dhcp/DhcpAdd/DhcpAdd.tsx
  ui/src/app/settings/views/Dhcp/DhcpAdd/__snapshots__/DhcpAdd.test.tsx.snap
  ui/src/app/settings/views/Dhcp/DhcpList/DhcpList.test.tsx
  ui/src/app/settings/views/Dhcp/DhcpList/DhcpList.tsx
  ui/src/app/settings/views/Dhcp/DhcpTarget/DhcpTarget.js
  ui/src/app/settings/views/Dhcp/DhcpTarget/DhcpTarget.test.tsx
  ui/src/app/settings/views/Dhcp/DhcpTarget/DhcpTarget.tsx
  ui/src/app/settings/views/Dhcp/DhcpTarget/__snapshots__/DhcpTarget.test.tsx.snap
Labels: Review: Code +1

#2981 refactor(ui): migrate LicenseKey settings components to TypeScript
  ui/src/app/settings/views/LicenseKeys/LicenseKeyAdd/LicenseKeyAdd.tsx
  ui/src/app/settings/views/LicenseKeys/LicenseKeyEdit/LicenseKeyEdit.test.tsx
  ui/src/app/settings/views/LicenseKeys/LicenseKeyEdit/LicenseKeyEdit.tsx
  ui/src/app/settings/views/LicenseKeys/LicenseKeyForm/LicenseKeyForm.test.tsx
  ui/src/app/settings/views/LicenseKeys/LicenseKeyForm/LicenseKeyForm.tsx
  ui/src/app/settings/views/LicenseKeys/LicenseKeyForm/types.ts
  ui/src/app/settings/views/LicenseKeys/LicenseKeyFormFields/LicenseKeyFormFields.test.js
  ui/src/app/settings/views/LicenseKeys/LicenseKeyFormFields/LicenseKeyFormFields.test.tsx
  ui/src/app/settings/views/LicenseKeys/LicenseKeyFormFields/LicenseKeyFormFields.tsx
  ui/src/app/settings/views/LicenseKeys/LicenseKeyList/LicenseKeyList.tsx
Labels: Review: Code +1

#2982 refactor(ui): migrate Configuration settings components to TypeScript
  ui/src/app/settings/views/Configuration/Commissioning/Commissioning.test.tsx
  ui/src/app/settings/views/Configuration/Commissioning/Commissioning.tsx
  ui/src/app/settings/views/Configuration/Deploy/Deploy.test.tsx
  ui/src/app/settings/views/Configuration/Deploy/Deploy.tsx
  ui/src/app/settings/views/Configuration/DeployForm/DeployForm.tsx
  ui/src/app/settings/views/Configuration/DeployForm/types.ts
  ui/src/app/settings/views/Configuration/DeployFormFields/DeployFormFields.test.tsx
  ui/src/app/settings/views/Configuration/DeployFormFields/DeployFormFields.tsx
  ui/src/app/settings/views/Configuration/General/General.test.tsx
  ui/src/app/settings/views/Configuration/General/General.tsx
Labels: Review: Code +1

#2983 refactor(ui): migrate Script settings components to TypeScript
  ui/package.json
  ui/src/app/settings/views/Scripts/ScriptsUpload/ScriptsUpload.test.tsx
  ui/src/app/settings/views/Scripts/ScriptsUpload/ScriptsUpload.tsx
  ui/src/app/settings/views/Scripts/ScriptsUpload/readScript.test.tsx
  ui/src/app/settings/views/Scripts/ScriptsUpload/readScript.tsx
  ui/src/app/store/script/slice.ts
  yarn.lock
Labels: Review: Code +1

#2984 refactor(ui): migrate Storage settings components to TypeScript
  ui/src/app/settings/views/Storage/StorageForm/StorageForm.test.tsx
  ui/src/app/settings/views/Storage/StorageForm/StorageForm.tsx
  ui/src/app/settings/views/Storage/StorageForm/types.ts
  ui/src/app/settings/views/Storage/StorageFormFields/StorageFormFields.test.tsx
  ui/src/app/settings/views/Storage/StorageFormFields/StorageFormFields.tsx
Labels: Review: Code +1

#2986 refactor(ui): migrate remaining miscellaneous files to TypeScript
  ui/src/__mocks__/nanoid.js
  ui/src/__mocks__/nanoid.ts
  ui/src/__mocks__/ws.ts
  ui/src/app/base/components/DhcpForm/DhcpForm.tsx
  ui/src/app/kvm/components/KVMActionFormWrapper/ComposeForm/ComposeForm.test.tsx
  ui/src/app/kvm/components/KVMActionFormWrapper/ComposeForm/ComposeForm.tsx
  ui/src/app/settings/components/Nav/Nav.test.tsx
  ui/src/app/settings/components/Nav/Nav.tsx
  ui/src/app/settings/components/Routes/Routes.tsx
  ui/src/app/settings/proptypes.js
  ui/src/app/settings/utils.test.ts
  ui/src/app/settings/utils.ts
  ui/src/app/settings/views/Dhcp/DhcpForm/DhcpForm.tsx
  ui/src/setupTests.ts
  ui/src/testing/utils.tsx
Labels: Review: Code +1

#2985 refactor(ui): migrate User settings components to TypeScript
  ui/src/app/settings/views/Users/UsersList/UsersList.test.tsx
  ui/src/app/settings/views/Users/UsersList/UsersList.tsx
Labels: Review: Code +1

#2997 refactor(ui): remove TSFixMes and replace with correct types
  ui/.betterer.results
  ui/src/app/base/components/SectionHeader/SectionHeader.tsx
  ui/src/app/base/components/TableActionsDropdown/TableActionsDropdown.tsx
  ui/src/app/base/types.ts
  ui/src/app/kvm/views/KVMList/AddKVM/AddVirsh/AddVirsh.tsx
  ui/src/app/machines/components/ActionFormWrapper/CommissionForm/CommissionForm.tsx
  ui/src/app/machines/components/ActionFormWrapper/CommissionForm/CommissionFormFields/CommissionFormFields.tsx
  ui/src/app/machines/components/ActionFormWrapper/DeployForm/DeployFormFields/UserDataField/UserDataField.test.tsx
  ui/src/app/machines/components/ActionFormWrapper/TestForm/TestForm.tsx
  ui/src/app/machines/components/ActionFormWrapper/TestForm/TestFormFields/TestFormFields.tsx
  ui/src/app/machines/components/TakeActionMenu/TakeActionMenu.tsx
  ui/src/app/machines/views/MachineDetails/MachineStorage/AvailableStorageTable/AvailableStorageTable.tsx
  ui/src/app/machines/views/MachineDetails/MachineStorage/CacheSetsTable/CacheSetsTable.tsx
  ui/src/app/machines/views/MachineDetails/MachineStorage/DatastoresTable/DatastoresTable.tsx
  ui/src/app/machines/views/MachineDetails/MachineStorage/FilesystemsTable/FilesystemsTable.tsx
  ui/src/app/machines/views/MachineDetails/MachineStorage/UsedStorageTable/UsedStorageTable.tsx
  ui/src/app/machines/views/MachineDetails/MachineTests/MachineTestsTable/MachineTestsTable.tsx
  ui/src/app/machines/views/MachineDetails/MachineTests/MachineTestsTable/TestActions/TestActions.tsx
  ui/src/app/settings/views/Configuration/CommissioningFormFields/CommissioningFormFields.tsx
  ui/src/app/store/script/types/base.ts
  ui/src/app/store/script/utils.test.ts
  ui/src/app/store/script/utils.ts
Labels: Review: Code +1 (with changes)

#2999 refactor(ui): use the simulate function for change events
  ui/.betterer.results
  ui/src/app/base/components/DhcpFormFields/DhcpFormFields.test.tsx
  ui/src/app/base/components/FormikFormContent/FormikFormContent.test.tsx
  ui/src/app/base/components/SSHKeyForm/SSHKeyFormFields/SSHKeyFormFields.test.tsx
  ui/src/app/kvm/components/KVMActionFormWrapper/ComposeForm/InterfacesTable/SubnetSelect/SubnetSelect.test.tsx
  ui/src/app/kvm/components/KVMActionFormWrapper/ComposeForm/StorageTable/PoolSelect/PoolSelect.test.tsx
  ui/src/app/kvm/components/KVMActionFormWrapper/ComposeForm/StorageTable/StorageTable.test.tsx
  ui/src/app/machines/views/MachineDetails/MachineLogs/EventLogs/EventLogs.test.tsx
  ui/src/app/machines/views/MachineDetails/MachineStorage/AvailableStorageTable/AddLogicalVolume/AddLogicalVolume.test.tsx
  ui/src/app/machines/views/MachineDetails/MachineStorage/AvailableStorageTable/AddPartition/AddPartition.test.tsx
  ui/src/app/machines/views/MachineList/MachineListControls/MachineListControls.test.tsx
Labels: Review: Code +1

#2995 fix(ui): fix ordering of CSS in standalone React mode
  ui/src/app/App.tsx
  ui/src/index.tsx
Labels: Review: Code +1, Review: QA +1

#3000 refactor(ui): update tests to find components so that their props are inferred
  ui/.betterer.results
  ui/package.json
  ui/src/app/base/components/DynamicSelect/DynamicSelect.tsx
  ui/src/app/base/components/FabricSelect/FabricSelect.test.tsx
  ui/src/app/base/components/LinkModeSelect/LinkModeSelect.test.tsx
  ui/src/app/base/components/VLANSelect/VLANSelect.test.tsx
  ui/src/app/base/views/NotFound/__snapshots__/NotFound.test.tsx.snap
  ui/src/app/intro/views/Intro.test.tsx
  ui/src/app/kvm/components/KVMActionFormWrapper/ComposeForm/InterfacesTable/InterfacesTable.test.tsx
  ui/src/app/machines/views/MachineDetails/MachineLogs/DownloadMenu/DownloadMenu.test.tsx
  ui/src/app/machines/views/MachineDetails/MachineLogs/InstallationOutput/InstallationOutput.test.tsx
  ui/src/app/machines/views/MachineDetails/MachineNetwork/BondForm/BondModeSelect/BondModeSelect.test.tsx
  ui/src/app/machines/views/MachineDetails/MachineNetwork/BondForm/HashPolicySelect/HashPolicySelect.test.tsx
  ui/src/app/machines/views/MachineDetails/MachineNetwork/BondForm/HashPolicySelect/HashPolicySelect.tsx
  ui/src/app/machines/views/MachineDetails/MachineNetwork/BondForm/LACPRateSelect/LACPRateSelect.test.tsx
  ui/src/app/preferences/views/SSLKeys/SSLKeyList/SSLKeyList.test.tsx
  ui/src/app/preferences/views/SSLKeys/SSLKeyList/SSLKeyList.tsx
  ui/src/app/settings/views/Scripts/ScriptsList/ScriptsList.test.tsx
  ui/src/app/settings/views/Scripts/ScriptsList/ScriptsList.tsx
Labels: Review: Code +1

#2955 feat(ui): add UI support for VMFS7
  ui/.betterer.results
  ui/src/app/machines/views/MachineDetails/MachineStorage/ChangeStorageLayout/ChangeStorageLayout.tsx
  ui/src/app/machines/views/MachineDetails/MachineStorage/DatastoresTable/DatastoresTable.tsx
  ui/src/app/machines/views/MachineDetails/MachineStorage/MachineStorage.tsx
  ui/src/app/settings/views/Storage/StorageForm/StorageForm.tsx
  ui/src/app/settings/views/Storage/StorageForm/StorageFormFields/StorageFormFields.test.tsx
  ui/src/app/settings/views/Storage/StorageForm/StorageFormFields/StorageFormFields.tsx
  ui/src/app/settings/views/Storage/StorageForm/StorageFormFields/index.ts
  ui/src/app/store/config/selectors.ts
  ui/src/app/store/machine/types/enum.ts
  ui/src/app/store/machine/utils/index.ts
  ui/src/app/store/machine/utils/storage.test.ts
  ui/src/app/store/machine/utils/storage.ts
Labels: Review: Code +1, Review: QA +1
