Repository canonical/maas-ui, pull requests merged in 2021-09, with the labels that each got.

#3021 fix(legacy): fix legacy edit DHCP snippets enabled value (3.0 backport #3006)
  legacy/src/app/directives/dhcp_snippets_table.js
  legacy/src/app/directives/tests/test_dhcp_snippets_table.js
  legacy/src/app/partials/dhcp-snippets-table.html
Labels: Review: Code +1, Review: QA +1, Legacy 🧟‍♂️, Backport 3.0 :arrow_backward:

#3022 fix(legacy): fix legacy edit DHCP snippets enabled value (2.9 backport #3006)
  legacy/src/app/directives/dhcp_snippets_table.js
  legacy/src/app/directives/tests/test_dhcp_snippets_table.js
  legacy/src/app/partials/dhcp-snippets-table.html
Labels: Review: Code +1, Review: QA +1, Legacy 🧟‍♂️, Backport 2.9 ◀️

#3028 feat(ui): use correct counts for grouped clone errors
  ui/src/app/machines/components/ActionFormWrapper/CloneForm/CloneResults/CloneResults.test.tsx
  ui/src/app/machines/components/ActionFormWrapper/CloneForm/CloneResults/CloneResults.tsx
Labels: Review: Code +1, Review: QA +1

#3033 feat(ui): hide header subtitle and buttons if form is open
  ui/src/app/base/components/SectionHeader/SectionHeader.test.tsx
  ui/src/app/base/components/SectionHeader/SectionHeader.tsx
  ui/src/app/domains/views/DomainDetails/DomainDetailsHeader/DomainDetailsHeader.tsx
  ui/src/app/kvm/views/KVMDetails/KVMDetailsHeader/KVMDetailsHeader.tsx
  ui/src/app/kvm/views/KVMList/KVMListHeader/KVMListHeader.tsx
  ui/src/app/machines/views/MachineDetails/MachineHeader/MachineHeader.tsx
Labels: Review: Code +1, Review: QA +1

#3032 feat(ui): add ability to filter machines by clone error
  ui/src/app/base/types.ts
  ui/src/app/kvm/components/KVMHeaderForms/KVMHeaderForms.tsx
  ui/src/app/kvm/types.ts
  ui/src/app/kvm/views/KVMDetails/KVMDetails.tsx
  ui/src/app/kvm/views/KVMDetails/KVMDetailsHeader/KVMDetailsHeader.test.tsx
  ui/src/app/kvm/views/KVMDetails/KVMDetailsHeader/KVMDetailsHeader.tsx
  ui/src/app/kvm/views/KVMDetails/LxdProject/LxdProject.tsx
  ui/src/app/kvm/views/KVMDetails/LxdProject/ProjectVMs/ProjectVMs.tsx
  ui/src/app/kvm/views/KVMDetails/LxdProject/ProjectVMs/VMsActionBar/VMsActionBar.tsx
  ui/src/app/machines/components/ActionFormWrapper/ActionFormWrapper.tsx
  ui/src/app/machines/components/ActionFormWrapper/CloneForm/CloneForm.tsx
  ui/src/app/machines/components/ActionFormWrapper/CloneForm/CloneResults/CloneResults.test.tsx
  ui/src/app/machines/components/ActionFormWrapper/CloneForm/CloneResults/CloneResults.tsx
  ui/src/app/machines/views/MachineDetails/MachineHeader/MachineHeader.tsx
  ui/src/app/machines/views/MachineList/MachineList.tsx
  ui/src/app/machines/views/MachineList/MachineListHeader/MachineListHeader.tsx
Labels: Review: QA +1, Review: Code +1 (with changes)

#3036 fix(ui): update clone error message for invalid items
  ui/src/app/machines/components/ActionFormWrapper/CloneForm/CloneResults/CloneResults.tsx
Labels: Review: Code +1

#3038 feat(ui): update pod to use new power_parameters shape
  ui/src/app/kvm/components/KVMHeaderForms/AddKVM/AddLxd/SelectProjectForm/SelectProjectFormFields/SelectProjectFormFields.test.tsx
  ui/src/app/kvm/components/KVMHeaderForms/AddKVM/AddLxd/SelectProjectForm/SelectProjectFormFields/SelectProjectFormFields.tsx
  ui/src/app/kvm/views/KVMDetails/KVMConfiguration/KVMConfiguration.test.tsx
  ui/src/app/kvm/views/KVMDetails/KVMConfiguration/KVMConfiguration.tsx
  ui/src/app/kvm/views/KVMDetails/KVMConfiguration/KVMConfigurationFields/KVMConfigurationFields.test.tsx
  ui/src/app/kvm/views/KVMDetails/KVMConfiguration/KVMConfigurationFields/KVMConfigurationFields.tsx
  ui/src/app/kvm/views/KVMDetails/KVMDetailsHeader/KVMDetailsHeader.test.tsx
  ui/src/app/kvm/views/KVMDetails/KVMDetailsHeader/KVMDetailsHeader.tsx
  ui/src/app/kvm/views/KVMDetails/KVMResources/KVMResources.test.tsx
  ui/src/app/kvm/views/KVMDetails/KVMResources/KVMResources.tsx
  ui/src/app/kvm/views/KVMDetails/LxdProject/LxdProject.test.tsx
  ui/src/app/kvm/views/KVMDetails/LxdProject/LxdProject.tsx
  ui/src/app/kvm/views/KVMList/LxdTable/LxdTable.test.tsx
  ui/src/app/kvm/views/KVMList/NameColumn/NameColumn.test.tsx
  ui/src/app/kvm/views/KVMList/NameColumn/NameColumn.tsx
  ui/src/app/store/pod/selectors.test.ts
  ui/src/app/store/pod/selectors.ts
  ui/src/app/store/pod/types/base.ts
  ui/src/app/store/pod/types/index.ts
  ui/src/testing/factories/index.ts
  ui/src/testing/factories/nodes.ts
Labels: Review: Code +1, Review: QA +1

#3041 fix(ui): validate destination machine status before cloning
  ui/src/app/machines/components/MachineHeaderForms/ActionFormWrapper/CloneForm/CloneFormFields/SourceMachineSelect/_index.scss
  ui/src/app/machines/utils.test.ts
  ui/src/app/machines/utils.ts
Labels: Review: Code +1, Review: QA +1

#3043 feat(ui): add Authentication step to Add LXD VM host flow
  ui/src/app/kvm/components/KVMHeaderForms/AddKVM/AddLxd/AddLxd.test.tsx
  ui/src/app/kvm/components/KVMHeaderForms/AddKVM/AddLxd/AddLxd.tsx
  ui/src/app/kvm/components/KVMHeaderForms/AddKVM/AddLxd/AuthenticateForm/AuthenticateForm.test.tsx
  ui/src/app/kvm/components/KVMHeaderForms/AddKVM/AddLxd/AuthenticateForm/AuthenticateForm.tsx
  ui/src/app/kvm/components/KVMHeaderForms/AddKVM/AddLxd/AuthenticateForm/AuthenticateFormFields/AuthenticateFormFields.tsx
  ui/src/app/kvm/components/KVMHeaderForms/AddKVM/AddLxd/AuthenticateForm/AuthenticateFormFields/index.ts
  ui/src/app/kvm/components/KVMHeaderForms/AddKVM/AddLxd/AuthenticateForm/index.ts
  ui/src/app/kvm/components/KVMHeaderForms/AddKVM/AddLxd/AuthenticationForm/AuthenticationForm.test.tsx
  ui/src/app/kvm/components/KVMHeaderForms/AddKVM/AddLxd/AuthenticationForm/AuthenticationForm.tsx
  ui/src/app/kvm/components/KVMHeaderForms/AddKVM/AddLxd/AuthenticationForm/AuthenticationFormFields/AuthenticationFormFields.tsx
  ui/src/app/kvm/components/KVMHeaderForms/AddKVM/AddLxd/AuthenticationForm/AuthenticationFormFields/index.ts
  ui/src/app/kvm/components/KVMHeaderForms/AddKVM/AddLxd/AuthenticationForm/index.ts
  ui/src/app/kvm/components/KVMHeaderForms/AddKVM/AddLxd/CredentialsForm/CredentialsForm.test.tsx
  ui/src/app/kvm/components/KVMHeaderForms/AddKVM/AddLxd/CredentialsForm/CredentialsForm.tsx
  ui/src/app/kvm/components/KVMHeaderForms/AddKVM/AddLxd/CredentialsForm/CredentialsFormFields/CredentialsFormFields.tsx
  ui/src/app/kvm/components/KVMHeaderForms/AddKVM/AddLxd/CredentialsForm/CredentialsFormFields/index.ts
  ui/src/app/kvm/components/KVMHeaderForms/AddKVM/AddLxd/CredentialsForm/index.ts
  ui/src/app/kvm/components/KVMHeaderForms/AddKVM/AddLxd/SelectProjectForm/SelectProjectForm.test.tsx
  ui/src/app/kvm/components/KVMHeaderForms/AddKVM/AddLxd/SelectProjectForm/SelectProjectForm.tsx
  ui/src/app/kvm/components/KVMHeaderForms/AddKVM/AddLxd/SelectProjectForm/SelectProjectFormFields/SelectProjectFormFields.test.tsx
  ui/src/app/kvm/components/KVMHeaderForms/AddKVM/AddLxd/SelectProjectForm/SelectProjectFormFields/SelectProjectFormFields.tsx
  ui/src/app/kvm/components/KVMHeaderForms/AddKVM/AddLxd/index.ts
  ui/src/app/kvm/components/KVMHeaderForms/AddKVM/AddLxd/types.ts
  ui/src/app/store/pod/actions.test.ts
  ui/src/app/store/pod/reducers.test.ts
  ui/src/app/store/pod/slice.ts
  ui/src/app/store/pod/types/actions.ts
  ui/src/scss/index.scss
Labels: Review: Code +1, Review: QA +1

#3035 feat(ui): add Authentication card to VM host config
  ui/src/app/base/components/FormCard/FormCard.tsx
  ui/src/app/base/components/LabelledList/_index.scss
  ui/src/app/kvm/views/KVMDetails/KVMConfiguration/AuthenticationCard/AuthenticationCard.test.tsx
  ui/src/app/kvm/views/KVMDetails/KVMConfiguration/AuthenticationCard/AuthenticationCard.tsx
  ui/src/app/kvm/views/KVMDetails/KVMConfiguration/AuthenticationCard/_index.scss
  ui/src/app/kvm/views/KVMDetails/KVMConfiguration/AuthenticationCard/index.ts
  ui/src/app/kvm/views/KVMDetails/KVMConfiguration/KVMConfiguration.tsx
  ui/src/app/store/pod/types/base.ts
  ui/src/app/store/pod/types/index.ts
  ui/src/app/store/pod/utils.ts
  ui/src/scss/index.scss
  ui/src/testing/factories/index.ts
  ui/src/testing/factories/nodes.ts
  yarn.lock
Labels: Review: Code +1, Review: QA +1

#3051 feat(ui): build Stepper component
  ui/src/app/base/components/Stepper/Stepper.test.tsx
  ui/src/app/base/components/Stepper/Stepper.tsx
  ui/src/app/base/components/Stepper/__snapshots__/Stepper.test.tsx.snap
  ui/src/app/base/components/Stepper/_index.scss
  ui/src/app/base/components/Stepper/index.ts
  ui/src/app/kvm/components/KVMHeaderForms/AddKVM/AddLxd/AddLxd.tsx
  ui/src/app/kvm/components/KVMHeaderForms/AddKVM/AddLxd/AuthenticationForm/AuthenticationForm.tsx
  ui/src/scss/index.scss
Labels: Review: Code +1, Review: QA +1

#3050 feat(ui): add ability to generate client certificate when adding LXD VM host
  ui/src/__snapshots__/root-reducer.test.ts.snap
  ui/src/app/kvm/components/KVMHeaderForms/AddKVM/AddLxd/AddLxd.test.tsx
  ui/src/app/kvm/components/KVMHeaderForms/AddKVM/AddLxd/AddLxd.tsx
  ui/src/app/kvm/components/KVMHeaderForms/AddKVM/AddLxd/AuthenticationForm/AuthenticationFormFields/AuthenticationFormFields.tsx
  ui/src/app/kvm/components/KVMHeaderForms/AddKVM/AddLxd/AuthenticationForm/AuthenticationFormFields/_index.scss
  ui/src/app/kvm/components/KVMHeaderForms/AddKVM/AddLxd/CredentialsForm/CredentialsForm.test.tsx
  ui/src/app/kvm/components/KVMHeaderForms/AddKVM/AddLxd/CredentialsForm/CredentialsForm.tsx
  ui/src/app/kvm/components/KVMHeaderForms/AddKVM/AddLxd/CredentialsForm/CredentialsFormFields/CredentialsFormFields.tsx
  ui/src/app/store/general/actions.test.ts
  ui/src/app/store/general/reducers.test.ts
  ui/src/app/store/general/selectors/generatedCertificate.test.ts
  ui/src/app/store/general/selectors/generatedCertificate.ts
  ui/src/app/store/general/selectors/index.ts
  ui/src/app/store/general/slice.ts
  ui/src/app/store/general/types/actions.ts
  ui/src/app/store/general/types/base.ts
  ui/src/app/store/general/types/index.ts
  ui/src/scss/index.scss
  ui/src/testing/factories/general.ts
  ui/src/testing/factories/index.ts
  ui/src/testing/factories/state.ts
Labels: Review: Code needed, Review: QA needed

#3053 feat(ui): add customised auth fields for LXD power type
  ui/src/app/base/components/AuthenticationFields/AuthenticationFields.test.tsx
  ui/src/app/base/components/AuthenticationFields/AuthenticationFields.tsx
  ui/src/app/base/components/AuthenticationFields/index.ts
  ui/src/app/base/components/PowerTypeFields/PowerTypeFields.test.tsx
  ui/src/app/base/components/PowerTypeFields/PowerTypeFields.tsx
  ui/src/app/kvm/components/KVMHeaderForms/AddKVM/AddLxd/AddLxd.tsx
  ui/src/app/kvm/components/KVMHeaderForms/AddKVM/AddLxd/AuthenticationForm/AuthenticationForm.tsx
  ui/src/app/kvm/components/KVMHeaderForms/AddKVM/AddLxd/CredentialsForm/CredentialsFormFields/CredentialsFormFields.tsx
  ui/src/app/machines/views/MachineDetails/MachineConfiguration/PowerForm/PowerFormFields/PowerFormFields.tsx
  ui/src/app/store/general/slice.ts
  ui/src/scss/index.scss
Labels: Review: QA +1, Review: Code +1 (with changes)

#3054 feat(ui): add ability to poll LXD server for authentication status
  ui/src/app/base/components/FormikFormContent/FormikFormContent.test.tsx
  ui/src/app/base/components/FormikFormContent/FormikFormContent.tsx
  ui/src/app/kvm/components/KVMHeaderForms/AddKVM/AddLxd/AddLxd.test.tsx
  ui/src/app/kvm/components/KVMHeaderForms/AddKVM/AddLxd/AddLxd.tsx
  ui/src/app/kvm/components/KVMHeaderForms/AddKVM/AddLxd/AuthenticationForm/AuthenticationForm.test.tsx
  ui/src/app/kvm/components/KVMHeaderForms/AddKVM/AddLxd/AuthenticationForm/AuthenticationForm.tsx
  ui/src/app/kvm/components/KVMHeaderForms/AddKVM/AddLxd/AuthenticationForm/AuthenticationFormFields/AuthenticationFormFields.tsx
  ui/src/app/kvm/components/KVMHeaderForms/AddKVM/AddLxd/CredentialsForm/CredentialsForm.test.tsx
  ui/src/app/kvm/components/KVMHeaderForms/AddKVM/AddLxd/CredentialsForm/CredentialsForm.tsx
  ui/src/app/kvm/components/KVMHeaderForms/AddKVM/AddLxd/SelectProjectForm/SelectProjectFormFields/SelectProjectFormFields.tsx
  ui/src/app/store/pod/actions.test.ts
  ui/src/app/store/pod/reducers.test.ts
  ui/src/app/store/pod/slice.ts
  ui/src/app/store/pod/types/actions.ts
  ui/src/app/store/pod/types/index.ts
  ui/src/app/utils/index.ts
  ui/src/app/utils/splitCertificateName.test.ts
  ui/src/app/utils/splitCertificateName.ts
Labels: Review: QA +1, Review: Code +1 (with changes)

#3063 feat(ui): add ability to download generated certificates
  ui/src/app/kvm/components/CertificateDownload/CertificateDownload.test.tsx
  ui/src/app/kvm/components/CertificateDownload/CertificateDownload.tsx
  ui/src/app/kvm/components/CertificateDownload/__snapshots__/CertificateDownload.test.tsx.snap
  ui/src/app/kvm/components/KVMHeaderForms/AddKVM/AddLxd/AuthenticationForm/AuthenticationFormFields/AuthenticationFormFields.tsx
  ui/src/app/kvm/views/KVMDetails/KVMSettings/AuthenticationCard/UpdateCertificate/UpdateCertificateFields/UpdateCertificateFields.tsx
Labels: Review: Code +1, Review: QA +1

#3062 feat(ui): build UploadTextArea component
  ui/src/app/base/components/AuthenticationFields/AuthenticationFields.tsx
  ui/src/app/base/components/UploadTextArea/UploadTextArea.test.tsx
  ui/src/app/base/components/UploadTextArea/UploadTextArea.tsx
  ui/src/app/base/components/UploadTextArea/index.ts
  ui/src/app/machines/components/MachineHeaderForms/ActionFormWrapper/DeployForm/DeployFormFields/DeployFormFields.tsx
  ui/src/app/machines/components/MachineHeaderForms/ActionFormWrapper/DeployForm/DeployFormFields/UserDataField/UserDataField.test.tsx
  ui/src/app/machines/components/MachineHeaderForms/ActionFormWrapper/DeployForm/DeployFormFields/UserDataField/UserDataField.tsx
  ui/src/app/machines/components/MachineHeaderForms/ActionFormWrapper/DeployForm/DeployFormFields/UserDataField/index.ts
Labels: Review: Code +1, Review: QA +1

#3065 fix(ui): prevent advancing "Add LXD" steps if errors are present
  ui/src/app/kvm/components/KVMHeaderForms/AddKVM/AddLxd/AuthenticationForm/AuthenticationForm.tsx
  ui/src/app/kvm/components/KVMHeaderForms/AddKVM/AddLxd/CredentialsForm/CredentialsForm.test.tsx
  ui/src/app/kvm/components/KVMHeaderForms/AddKVM/AddLxd/CredentialsForm/CredentialsForm.tsx
Labels: Review: Code +1, Review: QA +1

#3068 feat(ui): add tooltip to power column if machine power is in error state
  ui/src/app/base/components/ScriptStatus/ScriptStatus.test.tsx
  ui/src/app/base/components/ScriptStatus/ScriptStatus.tsx
  ui/src/app/machines/views/MachineList/MachineListTable/PowerColumn/PowerColumn.test.tsx
  ui/src/app/machines/views/MachineList/MachineListTable/PowerColumn/PowerColumn.tsx
  ui/src/app/machines/views/MachineList/MachineListTable/PowerColumn/__snapshots__/PowerColumn.test.tsx.snap
Labels: Review: Code +1, Review: QA +1

#3067 feat(ui): split PowerTypeFields into subcomponents that allow for customisation
  ui/src/app/base/components/PowerTypeFields/BasePowerField/BasePowerField.test.tsx
  ui/src/app/base/components/PowerTypeFields/BasePowerField/BasePowerField.tsx
  ui/src/app/base/components/PowerTypeFields/BasePowerField/index.ts
  ui/src/app/base/components/PowerTypeFields/LXDPowerFields/LXDPowerFields.test.tsx
  ui/src/app/base/components/PowerTypeFields/LXDPowerFields/LXDPowerFields.tsx
  ui/src/app/base/components/PowerTypeFields/LXDPowerFields/index.ts
  ui/src/app/base/components/PowerTypeFields/PowerTypeFields.test.tsx
  ui/src/app/base/components/PowerTypeFields/PowerTypeFields.tsx
  ui/src/app/machines/views/MachineDetails/MachineConfiguration/PowerForm/PowerFormFields/PowerFormFields.tsx
Labels: Review: Code +1, Review: QA +1

#3070 feat(ui): add custom certificate fields in LXD machine config
  ui/src/app/base/components/AuthenticationFields/index.ts
  ui/src/app/base/components/CertificateDetails/CertificateDetails.test.tsx
  ui/src/app/base/components/CertificateDetails/CertificateDetails.tsx
  ui/src/app/base/components/CertificateDetails/_index.scss
  ui/src/app/base/components/CertificateDetails/index.ts
  ui/src/app/base/components/CertificateDownload/CertificateDownload.test.tsx
  ui/src/app/base/components/CertificateDownload/CertificateDownload.tsx
  ui/src/app/base/components/CertificateDownload/_index.scss
  ui/src/app/base/components/CertificateDownload/index.ts
  ui/src/app/base/components/CertificateFields/CertificateFields.test.tsx
  ui/src/app/base/components/CertificateFields/CertificateFields.tsx
  ui/src/app/base/components/CertificateFields/index.ts
  ui/src/app/base/components/CertificateMetadata/CertificateMetadata.test.tsx
  ui/src/app/base/components/CertificateMetadata/CertificateMetadata.tsx
  ui/src/app/base/components/CertificateMetadata/__snapshots__/CertificateMetadata.test.tsx.snap
  ui/src/app/base/components/CertificateMetadata/_index.scss
  ui/src/app/base/components/CertificateMetadata/index.ts
  ui/src/app/base/components/PowerTypeFields/LXDPowerFields/LXDPowerFields.test.tsx
  ui/src/app/base/components/PowerTypeFields/LXDPowerFields/LXDPowerFields.tsx
  ui/src/app/kvm/components/KVMHeaderForms/AddKVM/AddLxd/AuthenticationForm/AuthenticationForm.tsx
  ui/src/app/kvm/components/KVMHeaderForms/AddKVM/AddLxd/AuthenticationForm/AuthenticationFormFields/AuthenticationFormFields.tsx
  ui/src/app/kvm/components/KVMHeaderForms/AddKVM/AddLxd/CredentialsForm/CredentialsForm.tsx
  ui/src/app/kvm/components/KVMHeaderForms/AddKVM/AddLxd/CredentialsForm/CredentialsFormFields/CredentialsFormFields.tsx
  ui/src/app/kvm/views/KVMDetails/KVMSettings/AuthenticationCard/AuthenticationCard.test.tsx
  ui/src/app/kvm/views/KVMDetails/KVMSettings/AuthenticationCard/AuthenticationCard.tsx
  ui/src/app/kvm/views/KVMDetails/KVMSettings/AuthenticationCard/UpdateCertificate/UpdateCertificateFields/UpdateCertificateFields.tsx
  ui/src/app/kvm/views/KVMDetails/KVMSettings/AuthenticationCard/_index.scss
  ui/src/app/machines/views/MachineDetails/MachineConfiguration/PowerForm/PowerForm.test.tsx
  ui/src/app/machines/views/MachineDetails/MachineConfiguration/PowerForm/PowerFormFields/PowerFormFields.tsx
  ui/src/app/store/general/types/base.ts
  ui/src/app/store/general/types/index.ts
  ui/src/app/store/general/utils/certificates.test.ts
  ui/src/app/store/general/utils/certificates.ts
  ui/src/app/store/general/utils/index.ts
  ui/src/app/store/machine/types/base.ts
  ui/src/app/store/pod/types/base.ts
  ui/src/app/store/pod/types/index.ts
  ui/src/app/utils/index.ts
  ui/src/app/utils/splitCertificateName.test.ts
  ui/src/app/utils/splitCertificateName.ts
  ui/src/scss/index.scss
  ui/src/testing/factories/general.ts
  ui/src/testing/factories/index.ts
  ui/src/testing/factories/nodes.ts
Labels: Review: QA +1, Review: UX +1, Review: Code +1 (with changes)

#3073 ci(ui): create an issue when Cypress fails
  .github/ISSUE_TEMPLATE/cypress-failure.md
  .github/workflows/cypress.yml
Labels: Review: Code +1

#3082 ci(ui): create an issue when Cypress fails (#3073) - backport 3.0
  .github/ISSUE_TEMPLATE/cypress-failure.md
  .github/workflows/cypress.yml
Labels: Review: Code +1, Backport 3.0 :arrow_backward:

#3081 ci(ui): create an issue when Cypress fails (#3073) - backport 2.9
  .github/ISSUE_TEMPLATE/cypress-failure.md
  .github/workflows/cypress.yml
Labels: Review: Code +1, Backport 2.9 ◀️

#3083 feat(ui): move lxd and virsh tables to tabs
  ui/src/app/base/components/SectionHeader/SectionHeader.tsx
  ui/src/app/kvm/urls.ts
  ui/src/app/kvm/views/KVM.tsx
  ui/src/app/kvm/views/KVMDetails/KVMDetailsHeader/KVMDetailsHeader.tsx
  ui/src/app/kvm/views/KVMList/KVMList.test.tsx
  ui/src/app/kvm/views/KVMList/KVMList.tsx
  ui/src/app/kvm/views/KVMList/KVMListHeader/KVMListHeader.test.tsx
  ui/src/app/kvm/views/KVMList/KVMListHeader/KVMListHeader.tsx
Labels: Review: Code +1, Review: QA +1
