Repository canonical/maas-ui, pull requests merged in 2021-07, with the labels that each got.

#2852 feat(ui): convert PCI table product columns to a double row
  ui/src/app/machines/views/MachineDetails/NodeDevices/NodeDevices.tsx
  ui/src/app/machines/views/MachineDetails/NodeDevices/_index.scss
Labels: Review: Code +1, Review: QA +1

#2849 feat(ui): build generated images table
  ui/src/app/images/views/ImageList/GeneratedImages/GeneratedImages.test.tsx
  ui/src/app/images/views/ImageList/GeneratedImages/GeneratedImages.tsx
  ui/src/app/images/views/ImageList/GeneratedImages/index.ts
  ui/src/app/images/views/ImageList/ImageList.tsx
Labels: Review: Code +1, Review: QA +1

#2853 feat(ui): update FilterAccordion to work with any model
  ui/src/app/base/components/FilterAccordion/FilterAccordion.test.tsx
  ui/src/app/base/components/FilterAccordion/FilterAccordion.tsx
  ui/src/app/machines/views/MachineList/MachineListControls/MachinesFilterAccordion/MachinesFilterAccordion.tsx
  ui/src/app/utils/search/filter-handlers.test.ts
  ui/src/app/utils/search/filter-handlers.ts
  ui/src/app/utils/search/filter-items.ts
Labels: Review: Code +1, Review: QA +1

#2855 feat(ui): add discovery filtering
  ui/src/app/dashboard/views/DiscoveriesList/DiscoveriesFilterAccordion/DiscoveriesFilterAccordion.test.tsx
  ui/src/app/dashboard/views/DiscoveriesList/DiscoveriesFilterAccordion/DiscoveriesFilterAccordion.tsx
  ui/src/app/dashboard/views/DiscoveriesList/DiscoveriesFilterAccordion/index.ts
  ui/src/app/dashboard/views/DiscoveriesList/DiscoveriesList.tsx
  ui/src/app/store/discovery/selectors.test.ts
  ui/src/app/store/discovery/selectors.ts
  ui/src/app/store/discovery/utils/index.ts
  ui/src/app/store/discovery/utils/search.test.ts
  ui/src/app/store/discovery/utils/search.ts
  ui/src/app/utils/search/filter-items.ts
Labels: Review: Code +1, Review: QA +1

#2857 feat(ui): admin only dashboard
  ui/src/app/dashboard/views/Dashboard.test.tsx
  ui/src/app/dashboard/views/Dashboard.tsx
Labels: Review: Code +1, Review: QA +1

#2858 feat(all): update dashboard URL to the React version
  legacy/src/app/partials/subnet-details.html
  legacy/src/app/routes.js
  shared/src/components/Header/Header.test.tsx
  shared/src/components/Header/Header.tsx
  shared/src/components/Header/__snapshots__/Header.test.tsx.snap
  ui/src/app/App.tsx
Labels: Legacy 🧟‍♂️, Review: Code +1, Review: QA +1

#2860 refactor(ui): reorganise images components to follow fetching image flow
  ui/.betterer.results
  ui/src/app/base/components/FormikFormButtons/FormikFormButtons.tsx
  ui/src/app/images/components/UbuntuImageSelect/ArchSelect/ArchSelect.test.tsx
  ui/src/app/images/components/UbuntuImageSelect/ArchSelect/ArchSelect.tsx
  ui/src/app/images/components/UbuntuImageSelect/ArchSelect/index.ts
  ui/src/app/images/components/UbuntuImageSelect/ReleaseSelect/ReleaseSelect.test.tsx
  ui/src/app/images/components/UbuntuImageSelect/ReleaseSelect/ReleaseSelect.tsx
  ui/src/app/images/components/UbuntuImageSelect/ReleaseSelect/index.ts
  ui/src/app/images/components/UbuntuImageSelect/UbuntuImageSelect.test.tsx
  ui/src/app/images/components/UbuntuImageSelect/UbuntuImageSelect.tsx
  ui/src/app/images/components/UbuntuImageSelect/index.ts
  ui/src/app/images/views/ImageList/ImageList.tsx
  ui/src/app/images/views/ImageList/SyncedImages/ChangeSource/ChangeSource.tsx
  ui/src/app/images/views/ImageList/SyncedImages/ChangeSource/FetchImagesForm/FetchImagesForm.test.tsx
  ui/src/app/images/views/ImageList/SyncedImages/ChangeSource/FetchImagesForm/FetchImagesForm.tsx
  ui/src/app/images/views/ImageList/SyncedImages/ChangeSource/FetchImagesForm/FetchImagesFormFields/FetchImagesFormFields.test.tsx
  ui/src/app/images/views/ImageList/SyncedImages/ChangeSource/FetchImagesForm/FetchImagesFormFields/FetchImagesFormFields.tsx
  ui/src/app/images/views/ImageList/SyncedImages/ChangeSource/FetchImagesForm/FetchImagesFormFields/index.ts
  ui/src/app/images/views/ImageList/SyncedImages/ChangeSource/FetchImagesForm/index.ts
  ui/src/app/images/views/ImageList/SyncedImages/ChangeSource/FetchedImages/FetchedImages.tsx
  ui/src/app/images/views/ImageList/SyncedImages/ChangeSource/FetchedImages/index.ts
  ui/src/app/images/views/ImageList/SyncedImages/ChangeSource/index.ts
  ui/src/app/images/views/ImageList/SyncedImages/OtherImages/OtherImages.test.tsx
  ui/src/app/images/views/ImageList/SyncedImages/OtherImages/OtherImages.tsx
  ui/src/app/images/views/ImageList/SyncedImages/OtherImages/OtherImagesSelect/OtherImagesSelect.test.tsx
  ui/src/app/images/views/ImageList/SyncedImages/OtherImages/OtherImagesSelect/OtherImagesSelect.tsx
  ui/src/app/images/views/ImageList/SyncedImages/OtherImages/OtherImagesSelect/index.ts
  ui/src/app/images/views/ImageList/SyncedImages/OtherImages/index.ts
  ui/src/app/images/views/ImageList/SyncedImages/SyncedImages.test.tsx
  ui/src/app/images/views/ImageList/SyncedImages/SyncedImages.tsx
  ui/src/app/images/views/ImageList/SyncedImages/UbuntuImages/UbuntuImages.test.tsx
  ui/src/app/images/views/ImageList/SyncedImages/UbuntuImages/UbuntuImages.tsx
  ui/src/app/images/views/ImageList/SyncedImages/UbuntuImages/index.ts
  ui/src/app/images/views/ImageList/SyncedImages/index.ts
  ui/src/app/images/views/ImageList/UbuntuImages/CustomSource/CustomSource.tsx
  ui/src/app/images/views/ImageList/UbuntuImages/CustomSource/CustomSourceConnect/CustomSourceConnectFields/CustomSourceConnectFields.test.tsx
  ui/src/app/images/views/ImageList/UbuntuImages/CustomSource/CustomSourceConnect/CustomSourceConnectFields/CustomSourceConnectFields.tsx
  ui/src/app/images/views/ImageList/UbuntuImages/CustomSource/CustomSourceConnect/CustomSourceConnectFields/index.ts
  ui/src/app/images/views/ImageList/UbuntuImages/CustomSource/CustomSourceConnect/index.ts
  ui/src/app/images/views/ImageList/UbuntuImages/CustomSource/CustomSourceImages/CustomSourceImages.tsx
  ui/src/app/images/views/ImageList/UbuntuImages/CustomSource/CustomSourceImages/index.ts
  ui/src/app/images/views/ImageList/UbuntuImages/CustomSource/index.ts
  ui/src/app/images/views/ImageList/UbuntuImages/DefaultSource/index.ts
  ui/src/app/images/views/ImageList/UbuntuImages/UbuntuImages.test.tsx
  ui/src/app/images/views/ImageList/UbuntuImages/UbuntuImages.tsx
  ui/src/app/store/bootresource/actions.test.ts
  ui/src/app/store/bootresource/reducers.test.ts
  ui/src/app/store/bootresource/selectors.test.ts
  ui/src/app/store/bootresource/selectors.ts
  ui/src/app/store/bootresource/slice.ts
Labels: Review: Code +1, Review: QA +1

#2856 refactor(legacy): remove legacy dashboard
  integration/cypress/integration/dashboard/dashboard.spec.ts
  legacy/src/app/controllers/dashboard.js
  legacy/src/app/controllers/tests/test_dashboard.js
  legacy/src/app/entry.js
  legacy/src/app/factories/discoveries.js
  legacy/src/app/factories/tests/test_discoveries.js
  legacy/src/app/partials/dashboard.html
  legacy/src/app/services/manager.js
  legacy/src/app/services/pollingmanager.js
  legacy/src/app/services/tests/test_pollingmanager.js
  legacy/src/scss/_grids.scss
  legacy/src/scss/_patterns_page-header.scss
  legacy/src/scss/_tables.scss
  legacy/src/scss/build.scss
  legacy/src/scss/grids/_base_grids.scss
  legacy/src/scss/grids/_patterns_network-discovery-config.scss
  legacy/src/scss/tables/_patterns_table-network-discovery.scss
Labels: Legacy 🧟‍♂️, Review: Code +1 (with changes), Review: QA +1

#2861 feat(ui) build fetched images table
  ui/.betterer.results
  ui/src/app/images/components/UbuntuImageSelect/ArchSelect/ArchSelect.tsx
  ui/src/app/images/components/UbuntuImageSelect/ReleaseSelect/ReleaseSelect.tsx
  ui/src/app/images/components/UbuntuImageSelect/UbuntuImageSelect.test.tsx
  ui/src/app/images/components/UbuntuImageSelect/UbuntuImageSelect.tsx
  ui/src/app/images/views/ImageList/SyncedImages/ChangeSource/ChangeSource.tsx
  ui/src/app/images/views/ImageList/SyncedImages/ChangeSource/FetchImagesForm/FetchImagesForm.test.tsx
  ui/src/app/images/views/ImageList/SyncedImages/ChangeSource/FetchImagesForm/FetchImagesForm.tsx
  ui/src/app/images/views/ImageList/SyncedImages/ChangeSource/FetchedImages/FetchedImages.test.tsx
  ui/src/app/images/views/ImageList/SyncedImages/ChangeSource/FetchedImages/FetchedImages.tsx
  ui/src/app/images/views/ImageList/SyncedImages/SyncedImages.test.tsx
  ui/src/app/images/views/ImageList/SyncedImages/SyncedImages.tsx
  ui/src/app/images/views/ImageList/SyncedImages/UbuntuImages/UbuntuImages.test.tsx
  ui/src/app/images/views/ImageList/SyncedImages/UbuntuImages/UbuntuImages.tsx
  ui/src/app/store/bootresource/types/actions.ts
  ui/src/app/store/bootresource/types/index.ts
Labels: Review: Code +1, Review: QA +1

#2866 fix(ui): update integration test to React dashboard URL
  integration/cypress/integration/base/header.spec.ts
  integration/cypress/integration/dashboard/dashboard.spec.ts
Labels: Review: Code +1

#2872 fix(ui): keep arch column and allow clearing selection in images table
  ui/src/app/base/components/TableActions/TableActions.test.tsx
  ui/src/app/base/components/TableActions/TableActions.tsx
  ui/src/app/images/components/ImagesTable/ImagesTable.test.tsx
  ui/src/app/images/components/ImagesTable/ImagesTable.tsx
  ui/src/app/images/components/ImagesTable/_index.scss
  ui/src/app/images/components/NonUbuntuImageSelect/NonUbuntuImageSelect.tsx
  ui/src/app/images/components/UbuntuImageSelect/UbuntuImageSelect.tsx
  ui/src/app/images/views/ImageList/SyncedImages/ChangeSource/FetchedImages/FetchedImages.test.tsx
  ui/src/app/kvm/components/KVMActionFormWrapper/ComposeForm/StorageTable/StorageTable.tsx
  ui/src/app/settings/views/Scripts/ScriptsList/ScriptsList.tsx
Labels: Review: Code +1, Review: QA +1

#2854 Intro name form
  HACKING.md
  ui/.betterer.results
  ui/src/app/base/components/Section/Section.test.tsx
  ui/src/app/base/components/Section/Section.tsx
  ui/src/app/base/components/Section/__snapshots__/Section.test.tsx.snap
  ui/src/app/intro/views/MaasIntro/MaasIntro.test.tsx
  ui/src/app/intro/views/MaasIntro/MaasIntro.tsx
  ui/src/app/intro/views/MaasIntro/MaasIntroFields/MaasIntroFields.test.tsx
  ui/src/app/intro/views/MaasIntro/MaasIntroFields/MaasIntroFields.tsx
  ui/src/app/intro/views/MaasIntro/MaasIntroFields/index.ts
  ui/src/app/intro/views/MaasIntro/_index.scss
  ui/src/app/intro/views/MaasIntro/types.ts
  ui/src/app/store/config/selectors.test.ts
  ui/src/app/store/config/selectors.ts
  ui/src/scss/_utilities.scss
  ui/src/scss/index.scss
  ui/tsconfig.json
Labels: Review: Code +1 (with changes), Review: QA +1

#2874 fix(ui): explicitly poll server after image action success
  ui/src/app/images/components/ImagesTable/DeleteImageConfirm/DeleteImageConfirm.tsx
  ui/src/app/images/views/ImageList/ImageList.tsx
  ui/src/app/images/views/ImageList/SyncedImages/ChangeSource/FetchedImages/FetchedImages.tsx
  ui/src/app/images/views/ImageList/SyncedImages/OtherImages/OtherImages.tsx
  ui/src/app/images/views/ImageList/SyncedImages/UbuntuCoreImages/UbuntuCoreImages.tsx
  ui/src/app/images/views/ImageList/SyncedImages/UbuntuImages/UbuntuImages.tsx
  ui/src/app/store/bootresource/actions.test.ts
  ui/src/app/store/bootresource/slice.ts
Labels: Review: Code +1, Review: QA +1

#2880 build(all): upgrade to Vanilla 2.31.0
  legacy/package.json
  legacy/src/scss/_patterns_tabs.scss
  root/package.json
  ui/package.json
  ui/src/scss/_vanilla-overrides.scss
  yarn.lock
Labels: Legacy 🧟‍♂️, Review: Code +1, Review: QA +1

#2882 fix(ui): select correct VLAN when creating a bond
  ui/src/app/base/components/DynamicSelect/DynamicSelect.test.tsx
  ui/src/app/machines/views/MachineDetails/MachineNetwork/AddBondForm/AddBondForm.test.tsx
  ui/src/app/machines/views/MachineDetails/MachineNetwork/AddBondForm/AddBondForm.tsx
Labels: Review: Code +1, Review: QA +1

#2885 fix(ui): select the VLAN when creating a bond
  ui/src/app/base/components/DynamicSelect/DynamicSelect.test.tsx
  ui/src/app/machines/views/MachineDetails/MachineNetwork/AddBondForm/AddBondForm.test.tsx
  ui/src/app/machines/views/MachineDetails/MachineNetwork/AddBondForm/AddBondForm.tsx
Labels: Backport 3.0 :arrow_backward:, Review: Code +1

#2884 refactor(ui): migrate preferences to TypeScript
  ui/.betterer.results
  ui/src/app/base/hooks.ts
  ui/src/app/preferences/components/Nav/Nav.test.tsx
  ui/src/app/preferences/components/Nav/Nav.tsx
  ui/src/app/preferences/components/Routes/Routes.tsx
  ui/src/app/preferences/views/APIKeys/APIKeyAdd/APIKeyAdd.test.tsx
  ui/src/app/preferences/views/APIKeys/APIKeyAdd/APIKeyAdd.tsx
  ui/src/app/preferences/views/APIKeys/APIKeyEdit/APIKeyEdit.test.tsx
  ui/src/app/preferences/views/APIKeys/APIKeyEdit/APIKeyEdit.tsx
  ui/src/app/preferences/views/APIKeys/APIKeyForm/APIKeyForm.test.tsx
  ui/src/app/preferences/views/APIKeys/APIKeyForm/APIKeyForm.tsx
  ui/src/app/preferences/views/APIKeys/APIKeyList/APIKeyList.test.tsx
  ui/src/app/preferences/views/APIKeys/APIKeyList/APIKeyList.tsx
  ui/src/app/preferences/views/Details/Details.test.tsx
  ui/src/app/preferences/views/Details/Details.tsx
  ui/src/app/preferences/views/Preferences.test.tsx
  ui/src/app/preferences/views/Preferences.tsx
  ui/src/app/preferences/views/SSHKeys/AddSSHKey/AddSSHKey.test.tsx
  ui/src/app/preferences/views/SSHKeys/AddSSHKey/AddSSHKey.tsx
  ui/src/app/preferences/views/SSHKeys/SSHKeyFormFields/SSHKeyFormFields.test.tsx
  ui/src/app/preferences/views/SSHKeys/SSHKeyFormFields/SSHKeyFormFields.tsx
  ui/src/app/preferences/views/SSHKeys/SSHKeyFormFields/types.ts
  ui/src/app/preferences/views/SSHKeys/SSHKeyList/SSHKeyList.test.tsx
  ui/src/app/preferences/views/SSHKeys/SSHKeyList/SSHKeyList.tsx
  ui/src/app/preferences/views/SSLKeys/AddSSLKey/AddSSLKey.test.tsx
  ui/src/app/preferences/views/SSLKeys/AddSSLKey/AddSSLKey.tsx
  ui/src/app/preferences/views/SSLKeys/SSLKeyList/SSLKeyList.test.tsx
  ui/src/app/preferences/views/SSLKeys/SSLKeyList/SSLKeyList.tsx
  ui/src/app/store/sshkey/types/base.ts
  ui/src/testing/factories/sshkey.ts
Labels: Review: Code +1, Review: QA +1

#2883 feat(ui): add basic user intro form
  ui/src/app/intro/views/UserIntro/UserIntro.test.tsx
  ui/src/app/intro/views/UserIntro/UserIntro.tsx
Labels: Review: Code +1, Review: QA +1

#2886 feat(ui): add connectivity card to MAAS intro form
  ui/.betterer.results
  ui/src/app/intro/views/MaasIntro/ConnectivityCard/ConnectivityCard.test.tsx
  ui/src/app/intro/views/MaasIntro/ConnectivityCard/ConnectivityCard.tsx
  ui/src/app/intro/views/MaasIntro/ConnectivityCard/index.ts
  ui/src/app/intro/views/MaasIntro/MaasIntro.test.tsx
  ui/src/app/intro/views/MaasIntro/MaasIntro.tsx
  ui/src/app/intro/views/MaasIntro/MaasIntroFields/index.ts
  ui/src/app/intro/views/MaasIntro/NameCard/NameCard.test.tsx
  ui/src/app/intro/views/MaasIntro/NameCard/NameCard.tsx
  ui/src/app/intro/views/MaasIntro/NameCard/index.ts
  ui/src/app/intro/views/MaasIntro/types.ts
  ui/src/app/store/packagerepository/selectors.test.ts
  ui/src/app/store/packagerepository/selectors.ts
Labels: Review: Code +1 (with changes), Review: QA +1

#2887 refactor(ui): make SSH key components reusable
  ui/.betterer.results
  ui/src/app/base/components/SSHKeyForm/SSHKeyForm.test.tsx
  ui/src/app/base/components/SSHKeyForm/SSHKeyForm.tsx
  ui/src/app/base/components/SSHKeyForm/SSHKeyFormFields/SSHKeyFormFields.test.tsx
  ui/src/app/base/components/SSHKeyForm/SSHKeyFormFields/SSHKeyFormFields.tsx
  ui/src/app/base/components/SSHKeyForm/SSHKeyFormFields/index.ts
  ui/src/app/base/components/SSHKeyForm/index.ts
  ui/src/app/base/components/SSHKeyForm/types.ts
  ui/src/app/base/components/SSHKeyList/SSHKeyList.test.tsx
  ui/src/app/base/components/SSHKeyList/SSHKeyList.tsx
  ui/src/app/base/components/SSHKeyList/_index.scss
  ui/src/app/base/components/SSHKeyList/index.ts
  ui/src/app/preferences/views/SSHKeys/AddSSHKey/AddSSHKey.test.tsx
  ui/src/app/preferences/views/SSHKeys/AddSSHKey/AddSSHKey.tsx
  ui/src/app/preferences/views/SSHKeys/SSHKeyList/SSHKeyList.test.tsx
  ui/src/app/preferences/views/SSHKeys/SSHKeyList/SSHKeyList.tsx
  ui/src/app/settings/components/SettingsTable/SettingsTable.js
  ui/src/app/settings/components/SettingsTable/SettingsTable.test.tsx
  ui/src/app/settings/components/SettingsTable/SettingsTable.tsx
  ui/src/app/settings/components/SettingsTable/__snapshots__/SettingsTable.test.tsx.snap
  ui/src/app/settings/views/Scripts/ScriptsList/ScriptsList.tsx
  ui/src/scss/index.scss
Labels: Review: Code +1, Review: QA +1

#2889 feat(ui): add images section to intro flow
  ui/src/app/images/components/ImagesTable/ImagesTable.test.tsx
  ui/src/app/images/components/ImagesTable/ImagesTable.tsx
  ui/src/app/images/views/ImageList/SyncedImages/ChangeSource/ChangeSource.tsx
  ui/src/app/images/views/ImageList/SyncedImages/ChangeSource/FetchImagesForm/FetchImagesForm.tsx
  ui/src/app/images/views/ImageList/SyncedImages/SyncedImages.test.tsx
  ui/src/app/images/views/ImageList/SyncedImages/SyncedImages.tsx
  ui/src/app/intro/urls.ts
  ui/src/app/intro/views/ImagesIntro/ImagesIntro.test.tsx
  ui/src/app/intro/views/ImagesIntro/ImagesIntro.tsx
  ui/src/app/intro/views/ImagesIntro/index.ts
  ui/src/app/intro/views/Intro.tsx
  ui/src/app/intro/views/MaasIntro/MaasIntro.tsx
Labels: Review: Code +1 (with changes), Review: QA +1

#2890 feat(ui): add success page to MAAS intro flow
  ui/src/app/intro/urls.ts
  ui/src/app/intro/views/ImagesIntro/ImagesIntro.tsx
  ui/src/app/intro/views/Intro.tsx
  ui/src/app/intro/views/MaasIntro/ConnectivityCard/ConnectivityCard.tsx
  ui/src/app/intro/views/MaasIntro/NameCard/NameCard.tsx
  ui/src/app/intro/views/MaasIntroSuccess/MaasIntroSuccess.test.tsx
  ui/src/app/intro/views/MaasIntroSuccess/MaasIntroSuccess.tsx
  ui/src/app/intro/views/MaasIntroSuccess/index.ts
  ui/src/app/intro/views/UserIntro/UserIntro.tsx
Labels: Review: Code +1 (with changes), Review: QA +1

#2891 feat(ui): add ssh key form to user intro
  ui/.betterer.results
  ui/src/app/base/components/SSHKeyForm/SSHKeyForm.test.tsx
  ui/src/app/base/components/SSHKeyForm/SSHKeyForm.tsx
  ui/src/app/base/components/SSHKeyForm/SSHKeyFormFields/SSHKeyFormFields.tsx
  ui/src/app/base/components/SSHKeyList/SSHKeyList.test.tsx
  ui/src/app/base/components/SSHKeyList/SSHKeyList.tsx
  ui/src/app/intro/views/UserIntro/UserIntro.test.tsx
  ui/src/app/intro/views/UserIntro/UserIntro.tsx
  ui/src/app/preferences/views/SSHKeys/AddSSHKey/AddSSHKey.tsx
Labels: Review: Code +1, Review: QA +1

#2892 feat(ui): add ability to skip initial MAAS setup
  shared/src/components/Header/Header.test.tsx
  shared/src/components/Header/Header.tsx
  ui/src/app/App.tsx
  ui/src/app/base/components/TableConfirm/TableConfirm.tsx
  ui/src/app/intro/views/MaasIntro/MaasIntro.test.tsx
  ui/src/app/intro/views/MaasIntro/MaasIntro.tsx
Labels: Review: Code +1 (with changes), Review: QA +1

#2893 feat(ui): mark completed_intro in the user intro
  ui/src/__snapshots__/root-reducer.test.js.snap
  ui/src/app/base/components/FormikFormContent/FormikFormContent.tsx
  ui/src/app/base/components/FormikFormContent/index.ts
  ui/src/app/base/components/TableConfirm/TableConfirm.tsx
  ui/src/app/base/types.ts
  ui/src/app/images/views/ImageList/SyncedImages/ChangeSource/FetchImagesForm/FetchImagesForm.tsx
  ui/src/app/intro/views/UserIntro/UserIntro.test.tsx
  ui/src/app/intro/views/UserIntro/UserIntro.tsx
  ui/src/app/machines/components/ActionFormWrapper/FieldlessForm/__snapshots__/FieldlessForm.test.tsx.snap
  ui/src/app/store/user/actions.test.ts
  ui/src/app/store/user/reducers.test.ts
  ui/src/app/store/user/selectors.test.ts
  ui/src/app/store/user/selectors.ts
  ui/src/app/store/user/slice.ts
  ui/src/app/store/user/types/base.ts
  ui/src/app/utils/formatErrors.js
  ui/src/app/utils/formatErrors.test.js
  ui/src/app/utils/formatErrors.test.ts
  ui/src/app/utils/formatErrors.ts
  ui/src/testing/factories/index.ts
  ui/src/testing/factories/state.ts
  ui/src/testing/factories/user.ts
Labels: Review: Code +1, Review: QA +1

#2896 feat(ui): add user intro skip
  ui/src/app/base/components/TableConfirm/TableConfirm.tsx
  ui/src/app/intro/views/MaasIntro/MaasIntro.tsx
  ui/src/app/intro/views/UserIntro/UserIntro.test.tsx
  ui/src/app/intro/views/UserIntro/UserIntro.tsx
Labels: Review: Code +1, Review: QA +1

#2895 feat(legacy): remove legacy intro/images pages and set up redirects
  legacy/src/app/controllers/images.js
  legacy/src/app/controllers/intro.js
  legacy/src/app/controllers/intro_user.js
  legacy/src/app/controllers/master.js
  legacy/src/app/controllers/tests/test_images.js
  legacy/src/app/controllers/tests/test_intro.js
  legacy/src/app/controllers/tests/test_intro_user.js
  legacy/src/app/directives/boot_images.js
  legacy/src/app/directives/tests/test_boot_images.js
  legacy/src/app/entry.js
  legacy/src/app/factories/bootresources.js
  legacy/src/app/factories/tests/test_bootresources.js
  legacy/src/app/factories/users.js
  legacy/src/app/partials/boot-images.html
  legacy/src/app/partials/images.html
  legacy/src/app/partials/intro-user.html
  legacy/src/app/partials/intro.html
  legacy/src/app/routes.js
  legacy/src/scss/_patterns_page-header.scss
  legacy/src/scss/_tables.scss
  legacy/src/scss/tables/_patterns_table-images.scss
  shared/src/components/Header/Header.test.tsx
  shared/src/components/Header/Header.tsx
Labels: Legacy 🧟‍♂️, Review: Code +1 (with changes), Review: QA +1

#2898 feat(ui): add intro redirects
  ui/.betterer.results
  ui/src/app/images/views/ImageList/SyncedImages/OtherImages/OtherImages.tsx
  ui/src/app/images/views/ImageList/SyncedImages/SyncedImages.tsx
  ui/src/app/intro/views/ImagesIntro/ImagesIntro.tsx
  ui/src/app/intro/views/Intro.test.tsx
  ui/src/app/intro/views/Intro.tsx
Labels: Review: Code +1 (with changes), Review: QA +1
