Repository canonical/maas-ui, pull requests merged in 2022-08, with the labels that each got.

#4294 fix: show reverse proxy for region or region+rack
  src/app/controllers/views/ControllerDetails/ControllerSummary/ServicesCard/ServicesCard.test.tsx
  src/app/controllers/views/ControllerDetails/ControllerSummary/ServicesCard/ServicesCard.tsx
Labels: Review: Code +1 (with changes)

#4305 refactor(machines): update details loading states
  src/app/machines/components/MachineHeaderForms/ActionFormWrapper/CloneForm/CloneFormFields/CloneFormFields.tsx
  src/app/machines/views/MachineDetails/MachineDetails.tsx
  src/app/store/machine/selectors.ts
  src/app/store/machine/utils/hooks.ts
Labels: Review: Code +1, Review: QA +1

#4296 feat(machines): add machine.count API support
  src/__snapshots__/root-reducer.test.ts.snap
  src/app/store/machine/actions.test.ts
  src/app/store/machine/reducers.test.ts
  src/app/store/machine/slice.ts
  src/app/store/machine/types/base.ts
  src/testing/factories/index.ts
  src/testing/factories/state.ts
Labels: Review: Code +1, Review: QA +1

#4309 refactor(redux): rename requestId
  src/app/base/sagas/websockets.test.ts
  src/app/base/sagas/websockets.ts
  src/app/store/machine/actions.test.ts
  src/app/store/machine/slice.ts
  src/app/store/machine/utils/hooks.ts
  src/app/store/utils/slice.ts
  src/websocket-client.ts
Labels: Review: Code +1

#4308 refactor(ui): update machine link
  src/app/base/components/MachineLink/MachineLink.test.tsx
  src/app/base/components/MachineLink/MachineLink.tsx
  src/app/machines/components/MachineHeaderForms/ActionFormWrapper/CloneForm/CloneFormFields/CloneFormFields.tsx
  src/app/machines/views/MachineDetails/MachineDetails.tsx
  src/app/store/machine/utils/hooks.test.tsx
  src/app/store/machine/utils/hooks.ts
Labels: Review: QA +1, Review: Code +1 (with changes)

#4310 Clarify header for Virtual Functions table in LXD VM hosts
  src/app/kvm/components/VfResources/VfResources.tsx
  src/app/kvm/components/VfResources/__snapshots__/VfResources.test.tsx.snap
Labels: Review: Code +1, Review: UX +1

#4312 feat: clean up machine requests
  src/app/store/machine/slice.ts
  src/app/store/machine/utils/hooks.test.tsx
  src/app/store/machine/utils/hooks.ts
Labels: Review: QA +1, Review: Code +1 (with changes)

#4311 feat(redux): add filter options
  src/app/store/machine/actions.test.ts
  src/app/store/machine/reducers.test.ts
  src/app/store/machine/slice.ts
  src/app/store/machine/types/base.ts
  src/app/store/machine/types/index.ts
  src/testing/factories/nodes.ts
Labels: Review: Code +1, Review: QA +1

#4316 fix: IP address tooltip
  src/app/machines/views/MachineList/MachineListTable/NameColumn/NameColumn.test.tsx
  src/app/machines/views/MachineList/MachineListTable/NameColumn/NameColumn.tsx
  src/app/machines/views/MachineList/MachineListTable/NameColumn/__snapshots__/NameColumn.test.tsx.snap
  src/scss/_patterns_double-row.scss
Labels: Review: QA +1, Review: UX +1, Review: Code +1 (with changes)

#4313 Side identity - MAAS theme live preview
  cypress/e2e/with-users/settings/configuration/general.spec.ts
  src/app/App.tsx
  src/app/base/components/Header/Header.tsx
  src/app/base/theme-preview-context.ts
  src/app/settings/views/Configuration/GeneralForm/GeneralForm.tsx
  src/app/settings/views/Configuration/GeneralForm/ThemedRadioButton/ThemedRadioButton.tsx
Labels: Review: UX needed, Review: Code +1, Review: QA +1

#4315 feat(dhcp): update dhcp hook to get machines
  src/app/settings/hooks.test.tsx
  src/app/settings/hooks.ts
  src/app/settings/views/Dhcp/DhcpList/DhcpList.tsx
Labels: Review: Code +1, Review: QA +1

#4320 Migrate Enzyme to RTL - settings/views/Network
  src/app/settings/views/Network/DnsForm/DnsForm.test.tsx
  src/app/settings/views/Network/NetworkDiscoveryForm/NetworkDiscoveryForm.test.tsx
  src/app/settings/views/Network/NetworkDiscoveryForm/NetworkDiscoveryFormFields/NetworkDiscoveryFormFields.test.tsx
  src/app/settings/views/Network/NtpForm/NtpForm.test.tsx
  src/app/settings/views/Network/ProxyForm/ProxyForm.test.tsx
  src/app/settings/views/Network/ProxyFormFields/ProxyFormFields.test.tsx
  src/app/settings/views/Network/SyslogForm/SyslogForm.test.tsx
Labels: Review: Code needed

#4317 feat(machines): search machines using the new API
  package.json
  src/app/machines/views/MachineList/MachineList.test.tsx
  src/app/machines/views/MachineList/MachineList.tsx
  src/app/machines/views/MachineList/MachineListTable/MachineListTable.test.tsx
  src/app/store/machine/selectors.test.ts
  src/app/store/machine/selectors.ts
  src/app/store/machine/slice.ts
  src/app/store/machine/utils/hooks.test.tsx
  src/app/store/machine/utils/hooks.ts
  src/app/utils/search/filter-items.ts
  yarn.lock
Labels: Review: Code +1, Review: QA +1, Maintenance 🔨

#4324 refactor(machines): generate action params
  src/app/store/machine/slice.ts
Labels: Review: Code +1, Review: QA +1

#4319 Add unsubscribe hook and saga
  src/app/base/sagas/actions.ts
  src/app/base/sagas/websockets.test.ts
  src/app/base/sagas/websockets.ts
  src/app/store/machine/actions.test.ts
  src/app/store/machine/reducers.test.ts
  src/app/store/machine/selectors.test.ts
  src/app/store/machine/selectors.ts
  src/app/store/machine/slice.ts
  src/app/store/machine/utils/hooks.test.tsx
  src/app/store/machine/utils/hooks.ts
  src/websocket-client.ts
Labels: Review: Code +1, Review: QA +1

#4327 refactor(machines): useFetchMachine
  src/app/base/components/MachineLink/MachineLink.tsx
  src/app/machines/components/MachineHeaderForms/ActionFormWrapper/CloneForm/CloneFormFields/CloneFormFields.tsx
  src/app/machines/views/MachineDetails/MachineDetails.tsx
  src/app/machines/views/MachineDetails/MachineHeader/MachineHeader.tsx
  src/app/machines/views/MachineDetails/MachineSummary/MachineSummary.tsx
  src/app/settings/hooks.ts
  src/app/store/machine/utils/hooks.test.tsx
  src/app/store/machine/utils/hooks.ts
Labels: Review: Code +1, Review: QA +1

#4326 feat(machines): machine listing count API
  src/app/base/components/node/MachinesHeader/MachinesHeader.test.tsx
  src/app/base/components/node/MachinesHeader/MachinesHeader.tsx
  src/app/machines/views/MachineList/MachineListHeader/MachineListHeader.test.tsx
  src/app/machines/views/MachineList/MachineListHeader/MachineListHeader.tsx
  src/app/store/machine/selectors.test.ts
  src/app/store/machine/selectors.ts
  src/app/store/machine/slice.ts
  src/app/store/machine/utils/hooks.test.tsx
  src/app/store/machine/utils/hooks.ts
  src/testing/factories/index.ts
Labels: Review: QA +1, Review: Code +1 (with changes)

#4325 Migrate Enzyme to RTL - src/app/settings/views/Users
  src/app/base/components/UserForm/UserForm.tsx
  src/app/settings/views/Users/UserAdd/UserAdd.test.tsx
  src/app/settings/views/Users/UserEdit/UserEdit.test.tsx
  src/app/settings/views/Users/UserForm/UserForm.test.tsx
  src/app/settings/views/Users/UserForm/UserForm.tsx
  src/app/settings/views/Users/UsersList/UsersList.test.tsx
Labels: Review: Code +1 (with changes)

#4328 Migrate Enzyme to RTL - src/app/settings/views/Dhcp
  src/app/base/components/ColumnToggle/ColumnToggle.tsx
  src/app/settings/views/Dhcp/DhcpAdd/DhcpAdd.test.tsx
  src/app/settings/views/Dhcp/DhcpAdd/__snapshots__/DhcpAdd.test.tsx.snap
  src/app/settings/views/Dhcp/DhcpEdit/DhcpEdit.test.tsx
  src/app/settings/views/Dhcp/DhcpForm/DhcpForm.test.tsx
  src/app/settings/views/Dhcp/DhcpForm/DhcpForm.tsx
  src/app/settings/views/Dhcp/DhcpList/DhcpList.test.tsx
  src/app/settings/views/Dhcp/DhcpTarget/DhcpTarget.test.tsx
  src/app/settings/views/Dhcp/DhcpTarget/__snapshots__/DhcpTarget.test.tsx.snap
Labels: Review: Code +1 (with changes)

#4331 refactor(machines): use count API in tag delete form
  src/app/store/machine/actions.test.ts
  src/app/store/machine/slice.ts
  src/app/tags/components/TagsHeader/DeleteTagForm/DeleteTagForm.test.tsx
  src/app/tags/components/TagsHeader/DeleteTagForm/DeleteTagFormWarnings/DeleteTagFormWarnings.test.tsx
  src/app/tags/components/TagsHeader/DeleteTagForm/DeleteTagFormWarnings/DeleteTagFormWarnings.tsx
Labels: Review: Code +1, Review: QA +1

#4332 refactor(machines): define specific filters
  src/app/store/machine/types/actions.ts
  src/app/store/types/node.ts
  src/app/tags/components/TagsHeader/DeleteTagForm/DeleteTagFormWarnings/DeleteTagFormWarnings.tsx
Labels: Review: Code +1 (with changes)

#4321 Migrate Enzyme to RTL - src/app/settings/views/Repositories
  src/app/settings/views/Repositories/RepositoriesList/RepositoriesList.test.tsx
  src/app/settings/views/Repositories/RepositoriesList/RepositoriesList.tsx
  src/app/settings/views/Repositories/RepositoryAdd/RepositoryAdd.test.tsx
  src/app/settings/views/Repositories/RepositoryEdit/RepositoryEdit.test.tsx
  src/app/settings/views/Repositories/RepositoryForm/RepositoryForm.test.tsx
  src/app/settings/views/Repositories/RepositoryForm/RepositoryForm.tsx
  src/app/settings/views/Repositories/RepositoryFormFields/RepositoryFormFields.test.tsx
  src/app/settings/views/Repositories/RepositoryFormFields/RepositoryFormFields.tsx
Labels: Review: Code +1 (with changes)

#4338 Change column size on General form to 9
  src/app/settings/views/Configuration/General/General.tsx
  src/app/settings/views/Configuration/GeneralForm/_index.scss
Labels: Review: Code +1

#4333 feat(machines): display fetch machines errors
  src/app/machines/views/MachineList/ErrorsNotification/ErrorsNotification.test.tsx
  src/app/machines/views/MachineList/ErrorsNotification/ErrorsNotification.tsx
  src/app/machines/views/MachineList/ErrorsNotification/index.ts
  src/app/machines/views/MachineList/MachineList.test.tsx
  src/app/machines/views/MachineList/MachineList.tsx
  src/app/store/machine/selectors.ts
  src/app/store/machine/utils/hooks.ts
Labels: Review: QA +1, Review: Code +1 (with changes)

#4323 refactor(machines): move machine select table to a reusable component
  src/app/base/components/LabelledList/LabelledList.tsx
  src/app/base/components/MachineSelectTable/MachineSelectTable.test.tsx
  src/app/base/components/MachineSelectTable/MachineSelectTable.tsx
  src/app/base/components/MachineSelectTable/_index.scss
  src/app/base/components/MachineSelectTable/index.ts
  src/app/machines/components/MachineHeaderForms/ActionFormWrapper/CloneForm/CloneForm.test.tsx
  src/app/machines/components/MachineHeaderForms/ActionFormWrapper/CloneForm/CloneFormFields/CloneFormFields.test.tsx
  src/app/machines/components/MachineHeaderForms/ActionFormWrapper/CloneForm/CloneFormFields/SourceMachineSelect/SourceMachineDetails/SourceMachineDetails.tsx
  src/app/machines/components/MachineHeaderForms/ActionFormWrapper/CloneForm/CloneFormFields/SourceMachineSelect/SourceMachineDetails/__snapshots__/SourceMachineDetails.test.tsx.snap
  src/app/machines/components/MachineHeaderForms/ActionFormWrapper/CloneForm/CloneFormFields/SourceMachineSelect/SourceMachineSelect.test.tsx
  src/app/machines/components/MachineHeaderForms/ActionFormWrapper/CloneForm/CloneFormFields/SourceMachineSelect/SourceMachineSelect.tsx
  src/app/machines/components/MachineHeaderForms/ActionFormWrapper/CloneForm/CloneFormFields/SourceMachineSelect/_index.scss
  src/scss/index.scss
Labels: Review: QA +1, Review: Code +1 (with changes)

#4337 refactor(machines): update edit tag warning
  src/app/base/components/node/MachinesHeader/MachinesHeader.test.tsx
  src/app/tags/components/KernelOptionsField/KernelOptionsField.test.tsx
  src/app/tags/components/KernelOptionsField/KernelOptionsField.tsx
Labels: Review: Code +1, Review: QA +1

#4330 feat(redux): add selectedMachines state
  src/__snapshots__/root-reducer.test.ts.snap
  src/app/store/machine/reducers.test.ts
  src/app/store/machine/slice.ts
  src/app/store/machine/types/base.ts
  src/app/store/machine/types/index.ts
  src/testing/factories/state.ts
Labels: Review: Code +1

#4336 refactor(machines): remove count request
  src/app/store/machine/reducers.test.ts
  src/app/store/machine/slice.ts
Labels: Review: Code +1, Review: QA +1

#4329 feat(machines): add support for action filters
  src/app/store/machine/actions.test.ts
  src/app/store/machine/slice.ts
  src/app/store/machine/types/actions.ts
  src/app/store/machine/types/index.ts
Labels: Review: Code +1, Review: QA +1

#4334 fix(machines): update filter group types
  src/app/store/machine/reducers.test.ts
  src/app/store/machine/slice.ts
  src/app/store/machine/types/base.ts
Labels: Review: Code +1

#4335 feat(machines): add group to fetch calls
  src/app/machines/views/MachineList/MachineList.tsx
  src/app/machines/views/MachineList/MachineListControls/GroupSelect/GroupSelect.test.tsx
  src/app/machines/views/MachineList/MachineListControls/GroupSelect/GroupSelect.tsx
  src/app/machines/views/MachineList/MachineListControls/GroupSelect/__snapshots__/GroupSelect.test.tsx.snap
  src/app/machines/views/MachineList/MachineListControls/MachineListControls.test.tsx
  src/app/machines/views/MachineList/MachineListControls/MachineListControls.tsx
  src/app/machines/views/MachineList/MachineListTable/MachineListTable.test.tsx
  src/app/machines/views/MachineList/MachineListTable/MachineListTable.tsx
  src/app/store/machine/types/actions.ts
  src/app/store/machine/utils/hooks.test.tsx
  src/app/store/machine/utils/hooks.ts
Labels: Review: Code +1, Review: QA +1

#4341 refactor(machines): ignore removed count requests
  src/app/store/machine/reducers.test.ts
  src/app/store/machine/slice.ts
Labels: Review: Code +1, Review: QA +1

#4340 test: add react no-multi-comp rule
  .eslintrc.js
  src/app/base/components/NodeName/NodeNameFields/NodeNameFields.tsx
  src/app/base/components/SideNav/SideNav.tsx
  src/app/base/components/TitledSection/TitledSection.tsx
  src/app/controllers/views/ControllerDetails/ControllerVLANs/ControllerVLANsTable/ControllerVLANsTable.tsx
  src/app/machines/components/MachineHeaderForms/ActionFormWrapper/TagForm/TagFormChanges/TagFormChanges.tsx
  src/app/preferences/views/SSLKeys/AddSSLKey/AddSSLKey.tsx
  src/app/subnets/views/FormActions/components/AddSubnet.tsx
  src/app/subnets/views/SubnetsList/SubnetsTable/components.tsx
  src/testing/utils.tsx
Labels: Review: Code +1

#4346 Migrate to RTL - app/pools
  src/app/pools/components/PoolForm/PoolForm.test.tsx
  src/app/pools/components/PoolForm/PoolForm.tsx
  src/app/pools/views/PoolAdd/PoolAdd.test.tsx
  src/app/pools/views/PoolList/PoolList.test.tsx
  src/app/pools/views/PoolList/PoolList.tsx
Labels: Review: Code +1 (with changes)

#4347 Migrate Enzyme to RTL - app/settings/views/Scripts
  src/app/settings/views/Scripts/ScriptDetails/ScriptDetails.test.tsx
  src/app/settings/views/Scripts/ScriptsList/ScriptsList.test.tsx
  src/app/settings/views/Scripts/ScriptsList/ScriptsList.tsx
  src/app/settings/views/Scripts/ScriptsUpload/ScriptsUpload.test.tsx
  src/app/settings/views/Scripts/ScriptsUpload/ScriptsUpload.tsx
Labels: Review: Code +1 (with changes)

#4348 Migrate Enzyme to RTL - app/preferences
  src/app/preferences/components/Nav/Nav.test.tsx
  src/app/preferences/views/APIKeys/APIKeyAdd/APIKeyAdd.test.tsx
  src/app/preferences/views/APIKeys/APIKeyEdit/APIKeyEdit.test.tsx
  src/app/preferences/views/APIKeys/APIKeyEdit/APIKeyEdit.tsx
  src/app/preferences/views/APIKeys/APIKeyForm/APIKeyForm.test.tsx
  src/app/preferences/views/APIKeys/APIKeyForm/APIKeyForm.tsx
  src/app/preferences/views/APIKeys/APIKeyList/APIKeyList.test.tsx
  src/app/preferences/views/Details/Details.test.tsx
  src/app/preferences/views/Preferences.test.tsx
  src/app/preferences/views/Preferences.tsx
  src/app/preferences/views/SSHKeys/AddSSHKey/AddSSHKey.test.tsx
  src/app/preferences/views/SSHKeys/AddSSHKey/AddSSHKey.tsx
  src/app/preferences/views/SSHKeys/SSHKeyList/SSHKeyList.test.tsx
  src/app/preferences/views/SSLKeys/AddSSLKey/AddSSLKey.test.tsx
  src/app/preferences/views/SSLKeys/AddSSLKey/AddSSLKey.tsx
  src/app/preferences/views/SSLKeys/SSLKeyList/SSLKeyList.test.tsx
  src/app/preferences/views/SSLKeys/SSLKeyList/SSLKeyList.tsx
Labels: Review: Code +1 (with changes)

#4349 Fix vanishing radio button dot for theme selector
  src/app/settings/views/Configuration/GeneralForm/ThemedRadioButton/_index.scss
Labels: Review: QA +1, Review: Code +1 (with changes)

#4339 refactor(machines): remove in:selected from machines DSL
  src/app/machines/views/MachineList/MachineList.tsx
  src/app/store/machine/selectors.test.ts
  src/app/store/machine/selectors.ts
  src/app/store/machine/utils/hooks.ts
Labels: Review: Code +1

#4343 fix(machines): fix deploy with mismatched default release and kernel
  src/app/machines/components/MachineHeaderForms/ActionFormWrapper/DeployForm/DeployFormFields/DeployFormFields.test.tsx
  src/app/machines/components/MachineHeaderForms/ActionFormWrapper/DeployForm/DeployFormFields/DeployFormFields.tsx
Labels: Review: Code +1, Review: QA +1

#4354 Migrate Enzyme to RTL - /domains
  src/app/domains/components/RecordFields/RecordFields.test.tsx
  src/app/domains/components/RecordFields/RecordFields.tsx
  src/app/domains/views/DomainDetails/DomainDetails.test.tsx
  src/app/domains/views/DomainDetails/DomainDetailsHeader/AddRecordForm/AddRecordForm.test.tsx
  src/app/domains/views/DomainDetails/DomainDetailsHeader/AddRecordForm/AddRecordForm.tsx
  src/app/domains/views/DomainDetails/DomainDetailsHeader/DeleteDomainForm/DeleteDomainForm.test.tsx
  src/app/domains/views/DomainDetails/DomainDetailsHeader/DeleteDomainForm/DeleteDomainForm.tsx
  src/app/domains/views/DomainDetails/DomainDetailsHeader/DomainDetailsHeader.test.tsx
  src/app/domains/views/DomainDetails/DomainDetailsHeader/DomainDetailsHeader.tsx
  src/app/domains/views/DomainDetails/DomainSummary/DomainSummary.test.tsx
  src/app/domains/views/DomainDetails/DomainSummary/DomainSummary.tsx
  src/app/domains/views/DomainDetails/ResourceRecords/DeleteRecordForm/DeleteRecordForm.test.tsx
  src/app/domains/views/DomainDetails/ResourceRecords/DeleteRecordForm/DeleteRecordForm.tsx
  src/app/domains/views/DomainDetails/ResourceRecords/EditRecordForm/EditRecordForm.test.tsx
  src/app/domains/views/DomainDetails/ResourceRecords/EditRecordForm/EditRecordForm.tsx
  src/app/domains/views/DomainDetails/ResourceRecords/ResourceRecords.test.tsx
  src/app/domains/views/DomainDetails/ResourceRecords/ResourceRecords.tsx
  src/app/domains/views/DomainsList/DomainListHeader/DomainListHeader.test.tsx
  src/app/domains/views/DomainsList/DomainListHeader/DomainListHeader.tsx
  src/app/domains/views/DomainsList/DomainListHeaderForm/DomainListHeaderForm.test.tsx
  src/app/domains/views/DomainsList/DomainListHeaderForm/DomainListHeaderForm.tsx
  src/app/domains/views/DomainsList/DomainsList.test.tsx
  src/app/domains/views/DomainsList/DomainsTable/DomainsTable.test.tsx
  src/app/domains/views/DomainsList/DomainsTable/DomainsTable.tsx
Labels: Review: Code +1 (with changes)

#4345 feat(machines): sort the machine list via the API
  src/app/kvm/components/VmResources/VmResources.tsx
  src/app/machines/views/MachineList/MachineList.tsx
  src/app/machines/views/MachineList/MachineListTable/MachineListTable.test.tsx
  src/app/machines/views/MachineList/MachineListTable/MachineListTable.tsx
  src/app/machines/views/MachineList/MachineListTable/index.ts
  src/app/store/machine/actions.test.ts
  src/app/store/machine/types/actions.ts
  src/app/store/machine/utils/hooks.test.tsx
  src/app/store/machine/utils/hooks.ts
  src/app/tags/views/TagMachines/TagMachines.tsx
Labels: Review: Code +1, Review: QA +1

#4344 feat(machines): paginate using the new API
  src/app/kvm/components/VmResources/VmResources.tsx
  src/app/machines/views/MachineList/MachineList.test.tsx
  src/app/machines/views/MachineList/MachineList.tsx
  src/app/machines/views/MachineList/MachineListTable/MachineListTable.test.tsx
  src/app/machines/views/MachineList/MachineListTable/MachineListTable.tsx
  src/app/store/machine/selectors.test.ts
  src/app/store/machine/selectors.ts
  src/app/store/machine/utils/hooks.test.tsx
  src/app/store/machine/utils/hooks.ts
  src/app/tags/views/TagMachines/TagMachines.tsx
Labels: Review: Code +1, Review: QA +1

#4355 feat(machines): add set selected action/reducer
  src/app/store/machine/actions.test.ts
  src/app/store/machine/reducers.test.ts
  src/app/store/machine/slice.ts
  src/app/store/machine/types/base.ts
  src/app/store/machine/types/index.ts
Labels: Review: Code +1

#4356 feat(redux): add selected machines selector
  src/app/store/machine/selectors.test.ts
  src/app/store/machine/selectors.ts
Labels: Review: Code +1

#4358 feat(testing): support passing the store to render methods
  src/testing/utils.tsx
Labels: Review: Code +1

#4357 feat(redux): add list group selector
  src/app/store/machine/selectors.test.ts
  src/app/store/machine/selectors.ts
Labels: Review: Code +1

#4352 refactor(github): rename org to canonical
  .github/workflows/sitespeed.yml
  README.md
  docs/HACKING.md
  docs/RELEASE.md
  package.json
  scripts/lp-bugs-to-gh-issues.py
  src/app/base/components/DhcpFormFields/DhcpFormFields.tsx
  src/app/base/components/TableMenu/TableMenu.tsx
  src/app/base/components/node/NodeTestDetails/NodeTestDetailsLogs/NodeTestDetailsLogs.tsx
  src/app/base/sagas/websockets.ts
  src/app/base/validation.ts
  src/app/controllers/components/ControllerHeaderForms/ControllerHeaderForms.tsx
  src/app/devices/components/DeviceHeaderForms/DeviceHeaderForms.tsx
  src/app/domains/views/DomainsList/DomainsTable/DomainsTable.tsx
  src/app/kvm/components/KVMHeaderForms/KVMHeaderForms.tsx
  src/app/kvm/utils.ts
  src/app/kvm/views/KVMList/LxdTable/LxdTable.tsx
  src/app/machines/components/MachineHeaderForms/ActionFormWrapper/CloneForm/CloneResults/CloneResults.tsx
  src/app/machines/components/MachineHeaderForms/ActionFormWrapper/DeployForm/DeployFormFields/DeployFormFields.tsx
  src/app/machines/components/MachineHeaderForms/MachineHeaderForms.tsx
  src/app/machines/views/MachineDetails/MachineStorage/ChangeStorageLayout/ChangeStorageLayout.tsx
  src/app/machines/views/MachineList/_index.scss
  src/app/preferences/views/SSLKeys/AddSSLKey/AddSSLKey.tsx
  src/app/settings/views/Configuration/CommissioningFormFields/CommissioningFormFields.tsx
  src/app/settings/views/Configuration/DeployForm/DeployForm.test.tsx
  src/app/settings/views/Configuration/Security/TLSEnabled/TLSEnabledFields/_index.scss
  src/app/settings/views/Network/DnsForm/DnsForm.tsx
  src/app/settings/views/Network/NetworkDiscoveryForm/NetworkDiscoveryFormFields/NetworkDiscoveryFormFields.tsx
  src/app/store/machine/constants.ts
  src/app/store/utils/node/storage.ts
  src/scss/_patterns_links.scss
  src/scss/_vanilla-overrides.scss
Labels: Review: Code +1 (with changes), Maintenance 🔨

#4359 feat(machines): display groups from API
  src/app/machines/views/MachineList/MachineList.test.tsx
  src/app/machines/views/MachineList/MachineList.tsx
  src/app/machines/views/MachineList/MachineListTable/MachineListTable.test.tsx
  src/app/machines/views/MachineList/MachineListTable/MachineListTable.tsx
  src/app/store/machine/selectors.test.ts
  src/app/store/machine/selectors.ts
  src/app/store/machine/utils/hooks.ts
  src/app/tags/views/TagMachines/TagMachines.test.tsx
Labels: Review: Code +1, Review: QA +1

#4361 feat(machines): pass loading states to machine list
  src/app/machines/views/MachineList/MachineList.test.tsx
  src/app/machines/views/MachineList/MachineList.tsx
  src/app/machines/views/MachineList/MachineListHeader/MachineListHeader.test.tsx
  src/app/machines/views/MachineList/MachineListHeader/MachineListHeader.tsx
  src/app/machines/views/MachineList/MachineListTable/MachineListTable.test.tsx
  src/app/machines/views/MachineList/MachineListTable/MachineListTable.tsx
  src/app/store/machine/selectors.test.ts
  src/app/store/machine/selectors.ts
  src/app/store/machine/utils/hooks.test.tsx
  src/app/store/machine/utils/hooks.ts
Labels: Review: QA +1, Review: Code +1 (with changes)

#4360 feat: add navigation background transition
  src/scss/_patterns_navigation.scss
Labels: Review: Code needed, Review: QA needed

#4362 refactor(machines): pass an options object to useFetchMachines
  src/app/machines/views/MachineList/MachineList.tsx
  src/app/store/machine/utils/hooks.test.tsx
  src/app/store/machine/utils/hooks.ts
Labels: Review: Code +1, Review: QA +1

#4372 fix(testing): correctly pass the store to the testing utils
  src/app/settings/views/Settings.test.tsx
  src/testing/utils.tsx
Labels: Review: Code +1

#4370 feat(actions): remove take action counts and show all options
  src/app/base/components/NodeActionMenu/NodeActionMenu.test.tsx
  src/app/base/components/NodeActionMenu/NodeActionMenu.tsx
  src/app/controllers/views/ControllerDetails/ControllerDetailsHeader/ControllerDetailsHeader.tsx
  src/app/controllers/views/ControllerList/ControllerListHeader/ControllerListHeader.tsx
  src/app/devices/views/DeviceDetails/DeviceDetailsHeader/DeviceDetailsHeader.tsx
  src/app/devices/views/DeviceList/DeviceListHeader/DeviceListHeader.tsx
  src/app/kvm/components/LXDVMsTable/VMsActionBar/VMsActionBar.tsx
  src/app/machines/views/MachineDetails/MachineHeader/MachineHeader.tsx
  src/app/machines/views/MachineList/MachineListHeader/MachineListHeader.tsx
Labels: Review: Code +1, Review: QA +1

#4369 feat(machines): add skeleton while machines are loading
  src/app/base/components/Placeholder/Placeholder.tsx
  src/app/base/components/Placeholder/__snapshots__/Placeholder.test.tsx.snap
  src/app/machines/views/MachineList/MachineListTable/MachineListPagination/MachineListPagination.test.tsx
  src/app/machines/views/MachineList/MachineListTable/MachineListPagination/MachineListPagination.tsx
  src/app/machines/views/MachineList/MachineListTable/MachineListPagination/index.ts
  src/app/machines/views/MachineList/MachineListTable/MachineListTable.test.tsx
  src/app/machines/views/MachineList/MachineListTable/MachineListTable.tsx
  src/app/machines/views/MachineList/_index.scss
Labels: Review: Design +1, Review: QA +1, Review: Code +1 (with changes)

#4373 feat(machines): remove "update selection" link
  src/app/machines/components/MachineHeaderForms/ActionFormWrapper/ActionFormWrapper.test.tsx
  src/app/machines/components/MachineHeaderForms/ActionFormWrapper/ActionFormWrapper.tsx
  src/testing/utils.tsx
Labels: Review: QA +1, Review: Code +1 (with changes)

#4353 feat(machines): select machines using the new types
  src/app/machines/components/TableCheckbox/TableCheckbox.test.tsx
  src/app/machines/components/TableCheckbox/TableCheckbox.tsx
  src/app/machines/components/TableCheckbox/index.ts
  src/app/machines/views/MachineList/MachineList.test.tsx
  src/app/machines/views/MachineList/MachineList.tsx
  src/app/machines/views/MachineList/MachineListTable/AllCheckbox/AllCheckbox.test.tsx
  src/app/machines/views/MachineList/MachineListTable/AllCheckbox/AllCheckbox.tsx
  src/app/machines/views/MachineList/MachineListTable/AllCheckbox/index.ts
  src/app/machines/views/MachineList/MachineListTable/GroupCheckbox/GroupCheckbox.test.tsx
  src/app/machines/views/MachineList/MachineListTable/GroupCheckbox/GroupCheckbox.tsx
  src/app/machines/views/MachineList/MachineListTable/GroupCheckbox/index.ts
  src/app/machines/views/MachineList/MachineListTable/MachineCheckbox/MachineCheckbox.test.tsx
  src/app/machines/views/MachineList/MachineListTable/MachineCheckbox/MachineCheckbox.tsx
  src/app/machines/views/MachineList/MachineListTable/MachineCheckbox/index.ts
  src/app/machines/views/MachineList/MachineListTable/MachineListTable.test.tsx
  src/app/machines/views/MachineList/MachineListTable/MachineListTable.tsx
  src/app/machines/views/MachineList/MachineListTable/NameColumn/NameColumn.test.tsx
  src/app/machines/views/MachineList/MachineListTable/NameColumn/NameColumn.tsx
  src/app/machines/views/MachineList/MachineListTable/NameColumn/__snapshots__/NameColumn.test.tsx.snap
  src/app/machines/views/MachineList/MachineListTable/constants.ts
  src/app/machines/views/MachineList/MachineListTable/index.ts
  src/app/store/machine/selectors.ts
  src/app/store/machine/types/base.ts
  src/app/tags/views/TagMachines/TagMachines.tsx
  src/scss/_patterns_forms.scss
Labels: Review: QA +1, Review: Code +1 (with changes)

#4365 feat(machines): parse search DSL and send to new API
  .eslintrc.js
  src/app/machines/views/MachineList/MachineList.test.tsx
  src/app/machines/views/MachineList/MachineList.tsx
  src/app/machines/views/MachineList/MachineListTable/MachineListTable.tsx
  src/app/store/machine/types/actions.ts
  src/app/store/machine/utils/index.ts
  src/app/store/machine/utils/search.test.ts
  src/app/store/machine/utils/search.ts
Labels: Review: Code +1, Review: QA +1
