Repository canonical/maas-ui, pull requests merged in 2022-03, with the labels that each got.

#3657 feat(ui): display tag details
  ui/src/app/Routes.tsx
  ui/src/app/machines/views/MachineList/MachineListHeader/MachineListHeader.tsx
  ui/src/app/machines/views/Machines.tsx
  ui/src/app/tags/urls.ts
  ui/src/app/tags/views/TagDetails/TagDetails.test.tsx
  ui/src/app/tags/views/TagDetails/TagDetails.tsx
  ui/src/app/tags/views/TagDetails/index.ts
  ui/src/app/tags/views/Tags.test.tsx
  ui/src/app/tags/views/Tags.tsx
Labels: Review: Code +1, Review: QA +1

#3653 feat(ui): tag table
  ui/src/app/tags/views/TagList/TagList.test.tsx
  ui/src/app/tags/views/TagList/TagList.tsx
  ui/src/app/tags/views/TagList/index.ts
  ui/src/app/tags/views/Tags.test.tsx
  ui/src/app/tags/views/Tags.tsx
Labels: Review: Code +1, Review: QA +1

#3661 refactor(ui): update machine header to support tag forms
  shared/src/components/Header/Header.test.tsx
  shared/src/components/Header/Header.tsx
  ui/src/app/Routes.test.tsx
  ui/src/app/Routes.tsx
  ui/src/app/base/components/node/MachinesHeader/MachinesHeader.test.tsx
  ui/src/app/base/components/node/MachinesHeader/MachinesHeader.tsx
  ui/src/app/base/components/node/MachinesHeader/index.ts
  ui/src/app/machines/views/MachineList/MachineListHeader/MachineListHeader.test.tsx
  ui/src/app/machines/views/MachineList/MachineListHeader/MachineListHeader.tsx
  ui/src/app/machines/views/Machines.test.tsx
  ui/src/app/machines/views/Machines.tsx
  ui/src/app/pools/components/PoolForm/PoolForm.test.tsx
  ui/src/app/pools/components/PoolForm/PoolForm.tsx
  ui/src/app/pools/components/PoolForm/index.ts
  ui/src/app/pools/components/TagHeaderForms/TagHeaderForms.test.tsx
  ui/src/app/pools/components/TagHeaderForms/TagHeaderForms.tsx
  ui/src/app/pools/components/TagHeaderForms/index.ts
  ui/src/app/pools/views/PoolAdd/PoolAdd.tsx
  ui/src/app/pools/views/PoolEdit/PoolEdit.tsx
  ui/src/app/pools/views/PoolList/PoolList.test.tsx
  ui/src/app/pools/views/PoolList/PoolList.tsx
  ui/src/app/pools/views/PoolList/index.ts
  ui/src/app/pools/views/Pools.test.tsx
  ui/src/app/pools/views/Pools.tsx
  ui/src/app/tags/components/TagsHeader/TagsHeader.test.tsx
  ui/src/app/tags/components/TagsHeader/TagsHeader.tsx
  ui/src/app/tags/components/TagsHeader/index.ts
  ui/src/app/tags/constants.ts
  ui/src/app/tags/types.ts
  ui/src/app/tags/views/Tags.tsx
Labels: Review: Code +1, Review: QA +1

#3667 feat(ui): add tag create, update and delete actions
  ui/src/app/store/tag/actions.test.ts
  ui/src/app/store/tag/reducers.test.ts
  ui/src/app/store/tag/slice.ts
  ui/src/app/store/tag/types/actions.ts
  ui/src/app/store/tag/types/index.ts
  ui/src/testing/factories/state.ts
Labels: Review: Code +1

#3665 feat(ui): tag form three column layout
  ui/src/app/base/components/ActionForm/ActionForm.test.tsx
  ui/src/app/base/components/ActionForm/ActionForm.tsx
  ui/src/app/machines/components/MachineHeaderForms/ActionFormWrapper/TagForm/TagForm.tsx
  ui/src/app/machines/components/MachineHeaderForms/ActionFormWrapper/TagForm/TagFormFields/TagFormFields.tsx
  ui/src/app/machines/components/MachineHeaderForms/ActionFormWrapper/TagForm/_index.scss
  ui/src/app/machines/views/MachineDetails/MachineSummary/OverviewCard/_index.scss
  ui/src/scss/_pseudo-border.scss
  ui/src/scss/index.scss
Labels: Review: Code +1, Review: QA +1

#3670 test: cleanup subnet tests
  ui/.eslintrc.js
  ui/src/app/base/hooks/base.test.tsx
  ui/src/app/subnets/components/ReservedRangeForm/ReservedRangeForm.test.tsx
  ui/src/app/subnets/components/ReservedRanges/ReservedRanges.test.tsx
  ui/src/app/subnets/views/FabricDetails/FabricSummary/FabricSummary.test.tsx
  ui/src/app/subnets/views/FormActions/components/AddSubnet.test.tsx
  ui/src/app/subnets/views/FormActions/components/AddVlan.test.tsx
  ui/src/app/subnets/views/SpaceDetails/SpaceSummary/SpaceSummary.test.tsx
  ui/src/app/subnets/views/SubnetDetails/StaticRoutes/AddStaticRouteForm/AddStaticRouteForm.test.tsx
  ui/src/app/subnets/views/SubnetDetails/StaticRoutes/StaticRoutes.test.tsx
  ui/src/app/subnets/views/SubnetDetails/SubnetDetailsHeader/SubnetActionForms/components/EditBootArchitectures/EditBootArchitectures.test.tsx
  ui/src/app/subnets/views/SubnetDetails/SubnetDetailsHeader/SubnetActionForms/components/MapSubnet/MapSubnet.test.tsx
  ui/src/app/subnets/views/SubnetDetails/SubnetDetailsHeader/SubnetDetailsHeader.test.tsx
  ui/src/app/subnets/views/SubnetDetails/SubnetSummary/SubnetSummary.test.tsx
  ui/src/app/subnets/views/SubnetDetails/SubnetSummary/SubnetSummaryForm/SubnetSummaryForm.test.tsx
  ui/src/app/subnets/views/SubnetDetails/SubnetSummary/SubnetSummaryForm/SubnetSummaryFormFields/SubnetSummaryFormFields.test.tsx
  ui/src/app/subnets/views/SubnetDetails/SubnetUsedIPs/SubnetUsedIPs.test.tsx
  ui/src/app/subnets/views/VLANDetails/ConfigureDHCP/ConfigureDHCP.test.tsx
  ui/src/app/subnets/views/VLANDetails/ConfigureDHCP/DHCPReservedRanges/DHCPReservedRanges.test.tsx
  ui/src/app/subnets/views/VLANDetails/EditVLAN/EditVLAN.test.tsx
  ui/src/app/subnets/views/VLANDetails/VLANDetailsHeader/VLANDetailsHeader.test.tsx
  ui/src/app/tags/views/TagList/TagTable/TagTable.test.tsx
Labels: Review: Code +1

#3673 add waitForPageToLoad cypress command
  integration/cypress/integration/accessibility/accessibility.spec.ts
  integration/cypress/support/commands.ts
  integration/cypress/support/index.ts
Labels: Review: Code +1

#3669 feat(ui): display new label for tag action
  ui/src/app/base/components/NodeActionMenu/NodeActionMenu.test.tsx
  ui/src/app/base/components/NodeActionMenu/NodeActionMenu.tsx
  ui/src/app/machines/views/MachineList/MachineListHeader/MachineListHeader.test.tsx
  ui/src/app/machines/views/MachineList/MachineListHeader/MachineListHeader.tsx
Labels: Review: Code +1, Review: QA +1

#3682 feat(ui): update tag selector
  ui/src/app/base/components/TagSelector/TagSelector.test.tsx
  ui/src/app/base/components/TagSelector/TagSelector.tsx
  ui/src/app/base/components/TagSelector/_index.scss
  ui/src/app/machines/components/MachineHeaderForms/ActionFormWrapper/TagForm/TagFormFields/TagFormFields.tsx
  ui/src/app/store/tag/selectors.test.ts
  ui/src/app/store/tag/selectors.ts
Labels: Review: Code +1, Review: QA +1

#3672 feat(ui): add create tag form
  ui/src/app/base/components/TagSelector/_index.scss
  ui/src/app/pools/components/TagHeaderForms/TagHeaderForms.test.tsx
  ui/src/app/preferences/views/SSLKeys/AddSSLKey/AddSSLKey.tsx
  ui/src/app/preferences/views/SSLKeys/AddSSLKey/_index.scss
  ui/src/app/store/tag/selectors.test.ts
  ui/src/app/store/tag/selectors.ts
  ui/src/app/store/tag/types/actions.ts
  ui/src/app/tags/components/TagsHeader/AddTagForm/AddTagForm.test.tsx
  ui/src/app/tags/components/TagsHeader/AddTagForm/AddTagForm.tsx
  ui/src/app/tags/components/TagsHeader/AddTagForm/AddTagFormFields/AddTagFormFields.test.tsx
  ui/src/app/tags/components/TagsHeader/AddTagForm/AddTagFormFields/AddTagFormFields.tsx
  ui/src/app/tags/components/TagsHeader/AddTagForm/AddTagFormFields/index.ts
  ui/src/app/tags/components/TagsHeader/AddTagForm/index.ts
  ui/src/app/tags/components/TagsHeader/TagHeaderForms/TagHeaderForms.test.tsx
  ui/src/app/tags/components/TagsHeader/TagHeaderForms/TagHeaderForms.tsx
  ui/src/app/tags/components/TagsHeader/TagHeaderForms/index.ts
  ui/src/app/tags/components/TagsHeader/TagsHeader.test.tsx
  ui/src/app/tags/components/TagsHeader/TagsHeader.tsx
  ui/src/scss/_utilities.scss
Labels: Review: QA +1, Review: Code +1 (with changes)

#3690 fix(ui): fix loading machine details
  ui/src/app/machines/views/MachineDetails/MachineHeader/MachineHeader.test.tsx
  ui/src/app/machines/views/MachineDetails/MachineHeader/MachineHeader.tsx
Labels: Review: Code +1, Review: QA +1

#3636 fix(ui): handle "None" workaround flag for IPMI power field
  ui/src/app/base/components/PowerTypeFields/IPMIPowerFields/IPMIPowerFields.test.tsx
  ui/src/app/base/components/PowerTypeFields/IPMIPowerFields/IPMIPowerFields.tsx
  ui/src/app/base/components/PowerTypeFields/IPMIPowerFields/index.ts
  ui/src/app/base/components/PowerTypeFields/PowerTypeFields.tsx
Labels: Review: QA +1, Review: Code +1 (with changes)

#3689 feat(ui): display manual and automatic tags in the tag form
  ui/src/app/machines/components/MachineHeaderForms/ActionFormWrapper/TagForm/TagForm.tsx
  ui/src/app/machines/components/MachineHeaderForms/ActionFormWrapper/TagForm/TagFormChanges/TagFormChanges.test.tsx
  ui/src/app/machines/components/MachineHeaderForms/ActionFormWrapper/TagForm/TagFormChanges/TagFormChanges.tsx
  ui/src/app/machines/components/MachineHeaderForms/ActionFormWrapper/TagForm/TagFormChanges/index.ts
  ui/src/app/machines/components/MachineHeaderForms/ActionFormWrapper/TagForm/TagFormFields/TagFormFields.tsx
  ui/src/app/machines/components/MachineHeaderForms/ActionFormWrapper/TagForm/TagList/TagList.test.tsx
  ui/src/app/machines/components/MachineHeaderForms/ActionFormWrapper/TagForm/TagList/TagList.tsx
  ui/src/app/machines/components/MachineHeaderForms/ActionFormWrapper/TagForm/TagList/index.ts
  ui/src/app/store/machine/utils/common.test.ts
  ui/src/app/store/machine/utils/common.ts
  ui/src/app/store/machine/utils/index.ts
  ui/src/app/store/tag/selectors.test.ts
  ui/src/app/store/tag/selectors.ts
  ui/src/scss/_vanilla-overrides.scss
  ui/src/testing/factories/tag.ts
Labels: Review: Code +1, Review: QA +1

#3696 feat(ui): delete tags
  ui/src/app/tags/components/TagsHeader/DeleteTagForm/DeleteTagForm.test.tsx
  ui/src/app/tags/components/TagsHeader/DeleteTagForm/DeleteTagForm.tsx
  ui/src/app/tags/components/TagsHeader/DeleteTagForm/DeleteTagFormWarnings/DeleteTagFormWarnings.test.tsx
  ui/src/app/tags/components/TagsHeader/DeleteTagForm/DeleteTagFormWarnings/DeleteTagFormWarnings.tsx
  ui/src/app/tags/components/TagsHeader/DeleteTagForm/DeleteTagFormWarnings/_index.scss
  ui/src/app/tags/components/TagsHeader/DeleteTagForm/DeleteTagFormWarnings/index.ts
  ui/src/app/tags/components/TagsHeader/DeleteTagForm/index.ts
  ui/src/app/tags/components/TagsHeader/TagHeaderForms/TagHeaderForms.test.tsx
  ui/src/app/tags/components/TagsHeader/TagHeaderForms/TagHeaderForms.tsx
  ui/src/app/tags/components/TagsHeader/TagsHeader.test.tsx
  ui/src/app/tags/components/TagsHeader/TagsHeader.tsx
  ui/src/app/tags/constants.ts
  ui/src/app/tags/types.ts
  ui/src/app/tags/views/TagDetails/TagDetails.test.tsx
  ui/src/app/tags/views/TagDetails/TagDetails.tsx
  ui/src/app/tags/views/TagList/TagList.test.tsx
  ui/src/app/tags/views/TagList/TagList.tsx
  ui/src/app/tags/views/TagList/TagTable/TagTable.test.tsx
  ui/src/app/tags/views/TagList/TagTable/TagTable.tsx
  ui/src/app/tags/views/Tags.tsx
  ui/src/scss/index.scss
Labels: Review: QA +1, Review: Code +1 (with changes)

#3698 fix(ui): Update machine types with latest shapes
  ui/src/app/machines/views/MachineDetails/MachineCommissioning/MachineCommissioning.tsx
  ui/src/app/store/machine/types/base.ts
  ui/src/testing/factories/nodes.ts
Labels: Review: Code +1

#3697 [Subnets] Add search
  integration/cypress/integration/subnets/subnets.spec.ts
  ui/package.json
  ui/src/app/subnets/views/SubnetsList/SubnetsControls/SubnetsControls.test.tsx
  ui/src/app/subnets/views/SubnetsList/SubnetsControls/SubnetsControls.tsx
  ui/src/app/subnets/views/SubnetsList/SubnetsTable/FabricTable/FabricTable.tsx
  ui/src/app/subnets/views/SubnetsList/SubnetsTable/SpaceTable/SpaceTable.tsx
  ui/src/app/subnets/views/SubnetsList/SubnetsTable/SubnetsTable.test.tsx
  ui/src/app/subnets/views/SubnetsList/SubnetsTable/SubnetsTable.tsx
  ui/src/app/subnets/views/SubnetsList/SubnetsTable/constants.ts
  ui/src/app/subnets/views/SubnetsList/SubnetsTable/hooks.ts
  ui/src/app/subnets/views/SubnetsList/SubnetsTable/utils.test.tsx
  ui/src/app/subnets/views/SubnetsList/SubnetsTable/utils.tsx
  ui/src/app/subnets/views/SubnetsList/_index.scss
  yarn.lock
Labels: Review: Code +1, Review: QA +1

#3701 Subnets table improvements
  ui/package.json
  ui/src/app/subnets/views/SubnetsList/SubnetsTable/SubnetsTable.tsx
  ui/src/app/subnets/views/SubnetsList/SubnetsTable/hooks.ts
  yarn.lock
Labels: Review: Code needed, Review: QA +1

#3684 feat(ui): [Subnets table] Add pagination, search, performance improvements
  integration/cypress/integration/subnets/add.spec.ts
  integration/cypress/integration/subnets/subnets.spec.ts
  ui/package.json
  ui/src/app/subnets/views/SubnetsList/SubnetsControls/SubnetsControls.test.tsx
  ui/src/app/subnets/views/SubnetsList/SubnetsControls/SubnetsControls.tsx
  ui/src/app/subnets/views/SubnetsList/SubnetsTable/FabricTable/FabricTable.tsx
  ui/src/app/subnets/views/SubnetsList/SubnetsTable/SpaceTable/SpaceTable.tsx
  ui/src/app/subnets/views/SubnetsList/SubnetsTable/SubnetsTable.test.tsx
  ui/src/app/subnets/views/SubnetsList/SubnetsTable/SubnetsTable.tsx
  ui/src/app/subnets/views/SubnetsList/SubnetsTable/components.tsx
  ui/src/app/subnets/views/SubnetsList/SubnetsTable/constants.ts
  ui/src/app/subnets/views/SubnetsList/SubnetsTable/hooks.ts
  ui/src/app/subnets/views/SubnetsList/SubnetsTable/types.ts
  ui/src/app/subnets/views/SubnetsList/SubnetsTable/utils.test.tsx
  ui/src/app/subnets/views/SubnetsList/SubnetsTable/utils.tsx
  ui/src/app/subnets/views/SubnetsList/_index.scss
  yarn.lock
Labels: Review: Design +1, Review: Code +1, Review: QA +1, Performance ⚡️, Feature 🎁

#3702 refactor(ui): make tag form components reusable
  ui/src/app/store/types/node.ts
  ui/src/app/tags/components/AppliedTo/AppliedTo.test.tsx
  ui/src/app/tags/components/AppliedTo/AppliedTo.tsx
  ui/src/app/tags/components/AppliedTo/index.ts
  ui/src/app/tags/components/DefinitionField/DefinitionField.test.tsx
  ui/src/app/tags/components/DefinitionField/DefinitionField.tsx
  ui/src/app/tags/components/DefinitionField/index.ts
  ui/src/app/tags/components/KernelOptionsField/KernelOptionsField.tsx
  ui/src/app/tags/components/KernelOptionsField/index.ts
  ui/src/app/tags/components/NodesTagsLink/NodesTagsLink.test.tsx
  ui/src/app/tags/components/NodesTagsLink/NodesTagsLink.tsx
  ui/src/app/tags/components/NodesTagsLink/index.ts
  ui/src/app/tags/components/TagsHeader/AddTagForm/AddTagForm.test.tsx
  ui/src/app/tags/components/TagsHeader/AddTagForm/AddTagForm.tsx
  ui/src/app/tags/components/TagsHeader/AddTagForm/AddTagFormFields/AddTagFormFields.tsx
  ui/src/app/tags/components/TagsHeader/AddTagForm/AddTagFormFields/index.ts
  ui/src/app/tags/components/TagsHeader/TagHeaderForms/TagHeaderForms.test.tsx
  ui/src/app/tags/components/TagsHeader/TagsHeader.test.tsx
  ui/src/app/tags/views/TagDetails/TagDetails.test.tsx
  ui/src/app/tags/views/TagDetails/TagDetails.tsx
  ui/src/app/tags/views/TagList/TagTable/TagTable.test.tsx
  ui/src/app/tags/views/TagList/TagTable/TagTable.tsx
Labels: Review: Code +1, Review: QA +1

#3711 feat(ui): add xpath analytics
  ui/src/app/tags/components/DefinitionField/DefinitionField.test.tsx
  ui/src/app/tags/components/DefinitionField/DefinitionField.tsx
  ui/src/app/tags/components/TagsHeader/AddTagForm/AddTagForm.test.tsx
  ui/src/app/tags/components/TagsHeader/AddTagForm/AddTagForm.tsx
Labels: Review: Code +1 (with changes)

#3719 Fix cypress failures
  integration/cypress.json
  integration/cypress/integration/accessibility/accessibility.spec.ts
  integration/cypress/integration/login/login.spec.ts
  integration/cypress/integration/subnets/add.spec.ts
  integration/cypress/support/commands.ts
Labels: Review: Code +1

#3703 feat(subnets): add search query to url params
  ui/src/app/subnets/enum.ts
  ui/src/app/subnets/types.ts
  ui/src/app/subnets/urls.ts
  ui/src/app/subnets/views/FabricDetails/FabricDetails.tsx
  ui/src/app/subnets/views/FabricDetails/FabricDetailsHeader/FabricDeleteForm/FabricDeleteForm.tsx
  ui/src/app/subnets/views/SpaceDetails/SpaceDetails.tsx
  ui/src/app/subnets/views/SpaceDetails/SpaceDetailsHeader/SpaceDelete/SpaceDelete.tsx
  ui/src/app/subnets/views/SubnetDetails/SubnetDetails.tsx
  ui/src/app/subnets/views/SubnetsList/SubnetsControls/SubnetsControls.tsx
  ui/src/app/subnets/views/SubnetsList/SubnetsList.test.tsx
  ui/src/app/subnets/views/SubnetsList/SubnetsList.tsx
  ui/src/app/subnets/views/SubnetsList/SubnetsTable/SubnetsTable.test.tsx
  ui/src/app/subnets/views/SubnetsList/SubnetsTable/SubnetsTable.tsx
  ui/src/app/subnets/views/VLANDetails/VLANDetails.tsx
  ui/src/testing/utils.tsx
Labels: Review: Code +1, Review: QA +1

#3722 fix(ui): fix minor spacing issues from Vanilla 3 update
  ui/src/app/base/components/GroupCheckbox/GroupCheckbox.tsx
  ui/src/app/base/components/GroupCheckbox/__snapshots__/GroupCheckbox.test.tsx.snap
  ui/src/app/base/components/RowCheckbox/RowCheckbox.tsx
  ui/src/app/base/components/RowCheckbox/__snapshots__/RowCheckbox.test.tsx.snap
  ui/src/app/base/components/SectionHeader/SectionHeader.tsx
  ui/src/app/base/components/SectionHeader/_index.scss
  ui/src/app/images/views/ImageList/ImageListHeader/ImageListHeader.tsx
  ui/src/app/kvm/components/CoreResources/CoreResources.tsx
  ui/src/app/kvm/components/CoreResources/__snapshots__/CoreResources.test.tsx.snap
  ui/src/app/kvm/components/KVMResourceMeter/KVMResourceMeter.tsx
  ui/src/app/kvm/components/StorageResources/StorageResources.tsx
  ui/src/app/machines/views/MachineList/MachineListTable/NameColumn/__snapshots__/NameColumn.test.tsx.snap
  ui/src/scss/_utilities.scss
  ui/src/scss/_vanilla-overrides.scss
Labels: Review: Code +1, Review: QA +1

#3724 feat(ui): single-col tag form
  ui/src/app/machines/components/MachineHeaderForms/ActionFormWrapper/TagForm/TagChip/TagChip.test.tsx
  ui/src/app/machines/components/MachineHeaderForms/ActionFormWrapper/TagForm/TagChip/TagChip.tsx
  ui/src/app/machines/components/MachineHeaderForms/ActionFormWrapper/TagForm/TagChip/index.ts
  ui/src/app/machines/components/MachineHeaderForms/ActionFormWrapper/TagForm/TagFormChanges/TagFormChanges.test.tsx
  ui/src/app/machines/components/MachineHeaderForms/ActionFormWrapper/TagForm/TagFormChanges/TagFormChanges.tsx
  ui/src/app/machines/components/MachineHeaderForms/ActionFormWrapper/TagForm/TagFormFields/TagFormFields.tsx
  ui/src/app/machines/components/MachineHeaderForms/ActionFormWrapper/TagForm/TagList/TagList.test.tsx
  ui/src/app/machines/components/MachineHeaderForms/ActionFormWrapper/TagForm/TagList/TagList.tsx
  ui/src/app/machines/components/MachineHeaderForms/ActionFormWrapper/TagForm/TagList/index.ts
  ui/src/app/machines/components/MachineHeaderForms/ActionFormWrapper/TagForm/_index.scss
  ui/src/scss/_patterns_tables.scss
  ui/src/scss/_vanilla-overrides.scss
Labels: Review: QA +1, Review: Code +1 (with changes)

#3715 Migrate formik form test to testing library
  ui/src/app/base/components/FormikForm/FormikForm.test.tsx
Labels: Review: Code +1

#3713 migrate FormikFormButtons.test to testing-library
  ui/src/app/base/components/FormikFormButtons/FormikFormButtons.test.tsx
Labels: Review: Code +1

#3717 fix: deploy input options misaligned
  ui/src/app/machines/components/MachineHeaderForms/ActionFormWrapper/DeployForm/DeployFormFields/DeployFormFields.tsx
Labels: Review: QA +1, Review: Code +1 (with changes)

#3725 feat(ui): upgrade react-components to 0.34.0
  ui/package.json
  ui/src/app/base/components/ArchitectureSelect/__snapshots__/ArchitectureSelect.test.tsx.snap
  ui/src/app/base/components/DomainSelect/__snapshots__/DomainSelect.test.tsx.snap
  ui/src/app/base/components/FormikField/__snapshots__/FormikField.test.tsx.snap
  ui/src/app/base/components/MinimumKernelSelect/__snapshots__/MinimumKernelSelect.test.tsx.snap
  ui/src/app/base/components/NodeName/NodeNameFields/__snapshots__/NodeNameFields.test.tsx.snap
  ui/src/app/base/components/NodeName/__snapshots__/NodeName.test.tsx.snap
  ui/src/app/base/components/ResourcePoolSelect/__snapshots__/ResourcePoolSelect.test.tsx.snap
  ui/src/app/base/components/TagSelector/__snapshots__/TagSelector.test.tsx.snap
  ui/src/app/base/components/ZoneSelect/__snapshots__/ZoneSelect.test.tsx.snap
  ui/src/app/images/views/ImageList/SyncedImages/ChangeSource/FetchImagesForm/FetchImagesForm.test.tsx
  ui/src/app/machines/components/MachineHeaderForms/ActionFormWrapper/TagForm/TagChip/TagChip.test.tsx
  ui/src/app/machines/views/MachineList/MachineListTable/NameColumn/__snapshots__/NameColumn.test.tsx.snap
  ui/src/scss/_vanilla-overrides.scss
  yarn.lock
Labels: Review: Code +1, Review: QA +1

#3731 feat(ui): display a confirmation message when tag successfully deleted
  ui/src/app/tags/components/TagsHeader/DeleteTagForm/DeleteTagForm.test.tsx
  ui/src/app/tags/components/TagsHeader/DeleteTagForm/DeleteTagForm.tsx
Labels: Review: Code +1, Review: QA +1

#3732 feat(ui): show a confirmation notification when changing tag definition
  ui/src/app/tags/views/TagUpdate/TagUpdate.test.tsx
  ui/src/app/tags/views/TagUpdate/TagUpdate.tsx
Labels: Review: QA +1, Review: Code +1 (with changes)

#3734 feat(ui): show a confirmation when adding a new automatic tag
  ui/src/app/tags/components/TagsHeader/AddTagForm/AddTagForm.test.tsx
  ui/src/app/tags/components/TagsHeader/AddTagForm/AddTagForm.tsx
  ui/src/app/tags/constants.ts
  ui/src/app/tags/views/TagUpdate/TagUpdate.test.tsx
  ui/src/app/tags/views/TagUpdate/TagUpdate.tsx
Labels: Review: Code +1, Review: QA +1

#3733 feat(ui): tag details modal
  ui/src/app/machines/components/MachineHeaderForms/ActionFormWrapper/TagForm/TagFormChanges/TagFormChanges.test.tsx
  ui/src/app/machines/components/MachineHeaderForms/ActionFormWrapper/TagForm/TagFormChanges/TagFormChanges.tsx
  ui/src/app/tags/components/TagDetails/TagDetails.test.tsx
  ui/src/app/tags/components/TagDetails/TagDetails.tsx
  ui/src/app/tags/components/TagDetails/index.ts
  ui/src/app/tags/views/TagDetails/TagDetails.tsx
Labels: Review: Code +1, Review: QA +1

#3738 feat(ui): build read-only machine tags section in config tab
  ui/src/app/machines/views/MachineDetails/MachineConfiguration/MachineConfiguration.tsx
  ui/src/app/machines/views/MachineDetails/MachineConfiguration/TagForm/TagForm.test.tsx
  ui/src/app/machines/views/MachineDetails/MachineConfiguration/TagForm/TagForm.tsx
  ui/src/app/machines/views/MachineDetails/MachineConfiguration/TagForm/index.ts
Labels: Review: Code +1, Review: QA +1

#3739 feat(ui): add tags to machines
  ui/src/app/base/components/TagSelector/TagSelector.test.tsx
  ui/src/app/base/components/TagSelector/TagSelector.tsx
  ui/src/app/machines/components/MachineHeaderForms/ActionFormWrapper/TagForm/TagForm.tsx
  ui/src/app/machines/components/MachineHeaderForms/ActionFormWrapper/TagForm/TagFormChanges/TagFormChanges.test.tsx
  ui/src/app/machines/components/MachineHeaderForms/ActionFormWrapper/TagForm/TagFormChanges/TagFormChanges.tsx
  ui/src/app/machines/components/MachineHeaderForms/ActionFormWrapper/TagForm/TagFormFields/TagFormFields.test.tsx
  ui/src/app/machines/components/MachineHeaderForms/ActionFormWrapper/TagForm/TagFormFields/TagFormFields.tsx
  ui/src/app/machines/components/MachineHeaderForms/ActionFormWrapper/TagForm/hooks.test.tsx
  ui/src/app/machines/components/MachineHeaderForms/ActionFormWrapper/TagForm/hooks.ts
  ui/src/app/machines/components/MachineHeaderForms/ActionFormWrapper/TagForm/types.ts
Labels: Review: QA +1, Review: Code +1 (with changes)

#3737 [Periodic hardware sync] - machine details - add statusbar sync information
  shared/src/components/StatusBar/StatusBar.test.tsx
  shared/src/components/StatusBar/StatusBar.tsx
  ui/src/app/base/components/StatusBar/StatusBar.test.tsx
  ui/src/app/base/components/StatusBar/StatusBar.tsx
  ui/src/app/store/machine/types/base.ts
  ui/src/testing/factories/nodes.ts
  ui/src/testing/utils.tsx
Labels: Review: QA +1, Review: Code +1 (with changes)

#3746 fix(ui): fix required tag selectors
  ui/src/app/base/components/node/TestForm/TestFormFields/TestFormFields.tsx
  ui/src/app/machines/components/MachineHeaderForms/ActionFormWrapper/CommissionForm/CommissionFormFields/CommissionFormFields.tsx
Labels: Review: Code +1, Review: QA +1
