Repository canonical/maas-ui, pull requests merged in 2022-11, with the labels that each got.

#4540 fix(vault): Make notification more clear for incomplete migration status
  src/app/base/components/VaultNotification/VaultNotification.tsx
  src/app/machines/views/MachineList/MachineList.test.tsx
Labels: Review: Code +1

#4542 feat: set background to white
  src/app/App.tsx
  src/app/base/components/Footer/Footer.tsx
  src/scss/index.scss
Labels: Review: Code +1

#4549 enable GA in prod
  src/app/base/hooks/analytics.ts
Labels: Review: Code +1, Review: QA +1

#4550 test: Migrate src/app/devices/components to RTL
  src/app/devices/components/DeviceHeaderForms/AddDeviceForm/AddDeviceForm.test.tsx
  src/app/devices/components/DeviceHeaderForms/AddDeviceForm/AddDeviceForm.tsx
  src/app/devices/components/DeviceHeaderForms/AddDeviceForm/AddDeviceInterfaces/AddDeviceInterfaces.test.tsx
  src/app/devices/components/DeviceHeaderForms/AddDeviceForm/types.ts
  src/app/devices/components/DeviceHeaderForms/DeviceActionFormWrapper/DeviceActionFormWrapper.test.tsx
  src/app/devices/components/DeviceHeaderForms/DeviceHeaderForms.test.tsx
Labels: Review: Code +1 (with changes)

#4547 chore: Update Usabilla form to new tracking for 3.3
  src/app/base/hooks/analytics.ts
Labels: Review: Code +1

#4552 fix(machines): keep acton form open on group addition
  src/app/machines/views/MachineList/MachineListHeader/MachineListHeader.test.tsx
  src/app/machines/views/MachineList/MachineListHeader/MachineListHeader.tsx
Labels: Review: Code +1, Review: QA +1

#4563 fix(vault): Hide warning if Vault setup has not started
  src/app/base/components/VaultNotification/VaultNotification.test.tsx
  src/app/base/components/VaultNotification/VaultNotification.tsx
Labels: Review: QA +1, Review: Code +1 (with changes)

#4548 Add machine actions analytics events
  src/app/controllers/views/ControllerDetails/ControllerDetailsHeader/ControllerDetailsHeader.tsx
  src/app/controllers/views/ControllerList/ControllerListHeader/ControllerListHeader.tsx
  src/app/kvm/components/LXDVMsTable/VMsActionBar/VMsActionBar.tsx
  src/app/machines/components/MachineHeaderForms/MachineActionFormWrapper/ReleaseForm/ReleaseForm.tsx
  src/app/machines/views/MachineDetails/MachineHeader/MachineHeader.tsx
  src/app/machines/views/MachineList/MachineListHeader/MachineListHeader.tsx
Labels: Review: Code +1, Review: QA +1

#4561 test: Migrate devices/views/details to RTL
  src/app/dashboard/views/DiscoveryAddForm/DiscoveryAddForm.test.tsx
  src/app/dashboard/views/DiscoveryAddForm/DiscoveryAddForm.tsx
  src/app/devices/views/DeviceDetails/DeviceDetails.test.tsx
  src/app/devices/views/DeviceDetails/DeviceDetailsHeader/DeviceDetailsHeader.test.tsx
  src/app/devices/views/DeviceDetails/DeviceDetailsHeader/DeviceName/DeviceName.test.tsx
  src/app/devices/views/DeviceDetails/DeviceNetwork/AddInterface/AddInterface.test.tsx
  src/app/devices/views/DeviceDetails/DeviceNetwork/DeviceNetwork.test.tsx
  src/app/devices/views/DeviceDetails/DeviceNetwork/DeviceNetworkTable/DeviceNetworkTable.test.tsx
  src/app/devices/views/DeviceDetails/DeviceNetwork/DeviceNetworkTable/DeviceNetworkTable.tsx
  src/app/devices/views/DeviceDetails/DeviceNetwork/DeviceNetworkTable/RemoveInterface/RemoveInterface.test.tsx
  src/app/devices/views/DeviceDetails/DeviceNetwork/EditInterface/EditInterface.test.tsx
  src/app/devices/views/DeviceDetails/DeviceNetwork/EditInterface/EditInterfaceTable/EditInterfaceTable.test.tsx
  src/app/devices/views/DeviceDetails/DeviceNetwork/InterfaceForm/InterfaceForm.test.tsx
  src/app/devices/views/DeviceDetails/DeviceNetwork/InterfaceForm/InterfaceFormFields/InterfaceFormFields.test.tsx
  src/app/devices/views/DeviceDetails/DeviceNetwork/InterfaceForm/InterfaceFormFields/InterfaceFormFields.tsx
  src/app/devices/views/DeviceDetails/DeviceSummary/DeviceOverviewCard/DeviceOverviewCard.test.tsx
  src/app/devices/views/DeviceDetails/DeviceSummary/DeviceSummary.test.tsx
  src/app/store/device/types/actions.ts
Labels: Review: Code +1 (with changes)

#4566 feat(machines): display error message for no machines
  src/app/base/components/ActionForm/ActionForm.test.tsx
  src/app/base/components/ActionForm/ActionForm.tsx
  src/app/base/components/FormikFormContent/FormikFormContent.test.tsx
  src/app/base/components/node/NodeActionFormWrapper/NodeActionFormWrapper.tsx
  src/app/base/components/node/NodeActionWarning/NodeActionWarning.test.tsx
  src/app/base/components/node/NodeActionWarning/NodeActionWarning.tsx
  src/app/base/components/node/NodeActionWarning/index.ts
  src/app/machines/components/MachineHeaderForms/MachineActionFormWrapper/MachineActionFormWrapper.test.tsx
  src/app/machines/components/MachineHeaderForms/MachineActionFormWrapper/MachineActionFormWrapper.tsx
  src/app/store/machine/reducers.test.ts
  src/app/store/machine/slice.ts
Labels: Review: QA +1, Review: Code +1 (with changes)

#4568 fix: renaming dns record #4556
  src/app/base/sagas/actions.test.ts
  src/app/base/sagas/actions.ts
  src/app/domains/views/DomainDetails/ResourceRecords/EditRecordForm/EditRecordForm.test.tsx
  src/app/store/domain/slice.ts
Labels: Review: Code +1, Review: QA +1

#4572 refactor(machines): rename selectedMachines state
  src/app/machines/components/MachineHeaderForms/MachineActionFormWrapper/ReleaseForm/ReleaseForm.test.tsx
  src/app/machines/views/MachineDetails/MachineNetwork/AddBridgeForm/AddBridgeForm.test.tsx
  src/app/machines/views/MachineDetails/MachineNetwork/AddInterface/AddInterface.test.tsx
  src/app/machines/views/MachineDetails/MachineNetwork/EditBridgeForm/EditBridgeForm.test.tsx
  src/app/machines/views/MachineList/MachineList.tsx
  src/app/machines/views/MachineList/MachineListTable/MachineListTable.test.tsx
  src/app/machines/views/MachineList/MachineListTable/MachineListTable.tsx
  src/app/store/machine/selectors.test.ts
  src/app/store/machine/selectors.ts
Labels: Review: Code needed, Review: QA +1

#4573 refactor(machines): remove previous filtering
  src/app/kvm/components/LXDVMsTable/LXDVMsTable.tsx
  src/app/kvm/components/LXDVMsTable/VMsTable/VMsTable.tsx
  src/app/machines/components/MachineHeaderForms/MachineActionFormWrapper/CloneForm/CloneFormFields/SourceMachineSelect/SourceMachineSelect.tsx
  src/app/machines/components/MachineHeaderForms/MachineActionFormWrapper/TagForm/hooks.ts
  src/app/machines/views/MachineList/MachineList.tsx
  src/app/machines/views/MachineList/MachineListHeader/MachineListHeader.tsx
  src/app/machines/views/MachineList/MachineListTable/MachineListTable.tsx
  src/app/store/machine/utils/hooks.ts
  src/app/store/machine/utils/index.ts
  src/app/store/machine/utils/search.test.ts
  src/app/store/machine/utils/search.ts
  src/app/utils/search/filter-items.test.ts
Labels: Review: Code +1, Review: QA +1

#4575 add analytics to inline machines actions
  src/app/machines/views/MachineList/MachineListTable/MachineListTable.tsx
Labels: Review: Code +1, Review: QA +1

#4574 refactor(machines): move mapSortDirection into hook
  src/app/kvm/components/LXDVMsTable/LXDVMsTable.tsx
  src/app/kvm/components/VmResources/VmResources.tsx
  src/app/machines/views/MachineList/MachineList.tsx
  src/app/store/machine/utils/common.test.ts
  src/app/store/machine/utils/common.ts
  src/app/store/machine/utils/hooks.ts
  src/app/tags/views/TagMachines/TagMachines.tsx
Labels: Review: Code +1, Review: QA +1

#4579 fix(vault): show icon in controller listing if all controllers are configured but secrets are not migrated
  src/app/controllers/views/ControllerList/ControllerListTable/ControllerListTable.tsx
Labels: Review: Code +1, Review: QA +1

#4578 feat(machines): integrate suppress_failed_script_results action
  src/app/machines/components/MachineHeaderForms/MachineActionFormWrapper/OverrideTestForm/OverrideTestForm.test.tsx
  src/app/machines/components/MachineHeaderForms/MachineActionFormWrapper/OverrideTestForm/OverrideTestForm.tsx
  src/app/store/machine/slice.ts
  src/app/store/machine/types/base.ts
  src/app/store/types/node.ts
Labels: Review: Code +1, Review: QA +1

#4584 log generic websocket errors to the console
  src/app/base/sagas/websockets.ts
Labels: Review: Code +1, Review: QA +1

#4581 feat(vault): render error message instead of content if vault is sealed
  src/app/App.test.tsx
  src/app/App.tsx
Labels: Review: Code +1, Review: QA +1

#4586 fix(vault): Hide additional notifications if a Vault error is displayed
  src/app/App.tsx
  src/app/base/components/Section/Section.tsx
Labels: Review: QA +1, Review: Code +1 (with changes)

#4588 fix: incorrect machine count on clear filter after selection #4583
  src/app/machines/views/MachineList/MachineListHeader/MachineListHeader.test.tsx
  src/app/machines/views/MachineList/MachineListHeader/MachineListHeader.tsx
Labels: Review: Code +1, Review: QA +1

#4591 chore: Rename "Section" to "MainContentSection"
  src/app/App.tsx
  src/app/base/components/MainContentSection/MainContentSection.test.tsx
  src/app/base/components/MainContentSection/MainContentSection.tsx
  src/app/base/components/MainContentSection/__snapshots__/MainContentSection.test.tsx.snap
  src/app/base/components/MainContentSection/_index.scss
  src/app/base/components/MainContentSection/index.ts
  src/app/base/components/ModelNotFound/ModelNotFound.tsx
  src/app/base/components/Section/index.ts
  src/app/base/views/NotFound/NotFound.test.tsx
  src/app/base/views/NotFound/NotFound.tsx
  src/app/controllers/views/ControllerDetails/ControllerDetails.tsx
  src/app/controllers/views/ControllerList/ControllerList.tsx
  src/app/dashboard/views/Dashboard.tsx
  src/app/devices/views/DeviceDetails/DeviceDetails.tsx
  src/app/devices/views/DeviceList/DeviceList.tsx
  src/app/domains/views/DomainDetails/DomainDetails.tsx
  src/app/domains/views/DomainsList/DomainsList.tsx
  src/app/images/views/ImageList/ImageList.tsx
  src/app/intro/components/IntroSection/IntroSection.tsx
  src/app/intro/views/Intro.tsx
  src/app/kvm/views/KVMList/KVMList.tsx
  src/app/kvm/views/LXDClusterDetails/LXDClusterDetails.tsx
  src/app/kvm/views/LXDSingleDetails/LXDSingleDetails.tsx
  src/app/kvm/views/VirshDetails/VirshDetails.tsx
  src/app/machines/views/MachineDetails/MachineDetails.tsx
  src/app/machines/views/Machines.tsx
  src/app/pools/views/Pools.tsx
  src/app/preferences/views/Preferences.tsx
  src/app/settings/views/Settings.tsx
  src/app/subnets/views/FabricDetails/FabricDetails.tsx
  src/app/subnets/views/SpaceDetails/SpaceDetails.tsx
  src/app/subnets/views/SubnetDetails/SubnetDetails.tsx
  src/app/subnets/views/SubnetsList/SubnetsList.tsx
  src/app/subnets/views/VLANDetails/VLANDetails.tsx
  src/app/tags/views/Tags.tsx
  src/app/zones/views/ZoneDetails/ZoneDetails.tsx
  src/app/zones/views/ZonesList/ZonesList.tsx
  src/scss/index.scss
Labels: Review: Code +1

#4593 fix: machine suppress failed test results
  src/app/machines/components/MachineHeaderForms/MachineActionFormWrapper/OverrideTestForm/OverrideTestForm.tsx
  src/app/store/machine/actions.test.ts
  src/app/store/machine/slice.ts
  src/app/store/machine/types/base.ts
  src/app/store/types/node.ts
Labels: Review: Code +1, Review: QA +1

#4598 test: migrate KVMDetailsHeader to RTL
  src/app/kvm/components/KVMDetailsHeader/KVMDetailsHeader.test.tsx
  src/app/kvm/components/KVMHeaderForms/ComposeForm/ComposeForm.tsx
  src/app/kvm/views/LXDClusterDetails/LXDClusterHosts/LXDClusterHosts.test.tsx
  src/testing/utils.tsx
Labels: Review: Code +1
