Repository canonical/maas-ui, pull requests merged in 2022-04, with the labels that each got.

#3749 feat(ui): center machine power form and create utils for common functions
  ui/src/app/base/components/PowerTypeFields/PowerTypeFields.tsx
  ui/src/app/machines/views/MachineDetails/MachineConfiguration/PowerForm/PowerForm.test.tsx
  ui/src/app/machines/views/MachineDetails/MachineConfiguration/PowerForm/PowerForm.tsx
  ui/src/app/machines/views/MachineDetails/MachineConfiguration/PowerForm/PowerFormFields/PowerFormFields.tsx
  ui/src/app/store/general/utils/index.ts
  ui/src/app/store/general/utils/powerTypes.test.ts
  ui/src/app/store/general/utils/powerTypes.ts
  ui/src/app/store/machine/utils/common.test.ts
  ui/src/app/store/machine/utils/common.ts
  ui/src/app/store/machine/utils/index.ts
Labels: Review: QA +1, Review: Code +1 (with changes)

#3742 [Hardware sync] add machine feature status
  ui/src/app/base/types.ts
  ui/src/app/machines/views/MachineDetails/MachineSummary/OverviewCard/StatusCard/StatusCard.test.tsx
  ui/src/app/machines/views/MachineDetails/MachineSummary/OverviewCard/StatusCard/StatusCard.tsx
  ui/src/app/store/machine/types/base.ts
  ui/src/testing/factories/nodes.ts
Labels: Review: Code +1, Review: QA +1

#3743 [Hardware sync] settings - default hardware sync interval option
  ui/src/app/settings/views/Configuration/DeployForm/DeployForm.tsx
  ui/src/app/settings/views/Configuration/DeployForm/types.ts
  ui/src/app/settings/views/Configuration/DeployFormFields/DeployFormFields.test.tsx
  ui/src/app/settings/views/Configuration/DeployFormFields/DeployFormFields.tsx
  ui/src/app/store/config/selectors.ts
Labels: Review: QA +1, Review: Code +1 (with changes)

#3740 feat: periodic hardware sync
  shared/src/components/StatusBar/StatusBar.test.tsx
  shared/src/components/StatusBar/StatusBar.tsx
  ui/src/app/base/components/StatusBar/StatusBar.test.tsx
  ui/src/app/base/components/StatusBar/StatusBar.tsx
  ui/src/app/base/types.ts
  ui/src/app/machines/views/MachineDetails/MachineSummary/OverviewCard/StatusCard/StatusCard.test.tsx
  ui/src/app/machines/views/MachineDetails/MachineSummary/OverviewCard/StatusCard/StatusCard.tsx
  ui/src/app/settings/views/Configuration/DeployForm/DeployForm.tsx
  ui/src/app/settings/views/Configuration/DeployForm/types.ts
  ui/src/app/settings/views/Configuration/DeployFormFields/DeployFormFields.test.tsx
  ui/src/app/settings/views/Configuration/DeployFormFields/DeployFormFields.tsx
  ui/src/app/store/config/selectors.ts
  ui/src/app/store/machine/types/base.ts
  ui/src/testing/factories/nodes.ts
  ui/src/testing/utils.tsx
Labels: Review: Code +1

#3747 feat(ui): create tag form
  ui/src/app/base/components/TagSelector/TagSelector.test.tsx
  ui/src/app/base/components/TagSelector/TagSelector.tsx
  ui/src/app/base/components/TagSelector/__snapshots__/TagSelector.test.tsx.snap
  ui/src/app/machines/components/MachineHeaderForms/ActionFormWrapper/TagForm/AddTagForm/AddTagForm.test.tsx
  ui/src/app/machines/components/MachineHeaderForms/ActionFormWrapper/TagForm/AddTagForm/AddTagForm.tsx
  ui/src/app/machines/components/MachineHeaderForms/ActionFormWrapper/TagForm/AddTagForm/index.ts
  ui/src/app/machines/components/MachineHeaderForms/ActionFormWrapper/TagForm/TagFormChanges/TagFormChanges.tsx
  ui/src/app/machines/components/MachineHeaderForms/ActionFormWrapper/TagForm/TagFormFields/TagFormFields.test.tsx
  ui/src/app/machines/components/MachineHeaderForms/ActionFormWrapper/TagForm/TagFormFields/TagFormFields.tsx
  ui/src/app/machines/components/MachineHeaderForms/ActionFormWrapper/TagForm/_index.scss
  ui/src/app/tags/components/KernelOptionsField/KernelOptionsField.test.tsx
  ui/src/app/tags/components/KernelOptionsField/KernelOptionsField.tsx
  ui/src/scss/_utilities.scss
Labels: Review: QA +1, Review: Code +1 (with changes)

#3748 feat(ui): build read-only machine power config section
  ui/src/app/base/components/PowerTypeFields/BasePowerField/BasePowerField.test.tsx
  ui/src/app/base/components/PowerTypeFields/BasePowerField/BasePowerField.tsx
  ui/src/app/base/components/PowerTypeFields/IPMIPowerFields/IPMIPowerFields.tsx
  ui/src/app/base/components/PowerTypeFields/LXDPowerFields/LXDPowerFields.test.tsx
  ui/src/app/base/components/PowerTypeFields/LXDPowerFields/LXDPowerFields.tsx
  ui/src/app/base/components/PowerTypeFields/LXDPowerFields/index.ts
  ui/src/app/base/components/PowerTypeFields/PowerTypeFields.test.tsx
  ui/src/app/base/components/PowerTypeFields/PowerTypeFields.tsx
  ui/src/app/machines/views/MachineDetails/MachineConfiguration/PowerForm/PowerForm.test.tsx
  ui/src/app/machines/views/MachineDetails/MachineConfiguration/PowerForm/PowerForm.tsx
  ui/src/app/machines/views/MachineDetails/MachineConfiguration/PowerForm/PowerFormFields/PowerFormFields.test.tsx
  ui/src/app/machines/views/MachineDetails/MachineConfiguration/PowerForm/PowerFormFields/PowerFormFields.tsx
  ui/src/app/machines/views/MachineDetails/MachineConfiguration/PowerForm/PowerParameters/PowerParameterDefinition/PowerParameterDefinition.test.tsx
  ui/src/app/machines/views/MachineDetails/MachineConfiguration/PowerForm/PowerParameters/PowerParameterDefinition/PowerParameterDefinition.tsx
  ui/src/app/machines/views/MachineDetails/MachineConfiguration/PowerForm/PowerParameters/PowerParameterDefinition/index.ts
  ui/src/app/machines/views/MachineDetails/MachineConfiguration/PowerForm/PowerParameters/PowerParameters.test.tsx
  ui/src/app/machines/views/MachineDetails/MachineConfiguration/PowerForm/PowerParameters/PowerParameters.tsx
  ui/src/app/machines/views/MachineDetails/MachineConfiguration/PowerForm/PowerParameters/index.ts
  ui/src/app/store/machine/types/actions.ts
  ui/src/app/store/machine/types/base.ts
  ui/src/app/store/types/node.ts
Labels: Review: Code +1, Review: QA +1

#3762 fix: default value for subnets search query
  ui/src/app/subnets/urls.ts
Labels: Review: Code +1, Review: QA +1

#3757 feat(ui): remove existing tags
  ui/src/app/base/components/TagSelector/TagSelector.tsx
  ui/src/app/base/components/TagSelector/__snapshots__/TagSelector.test.tsx.snap
  ui/src/app/machines/components/MachineHeaderForms/ActionFormWrapper/TagForm/TagForm.test.tsx
  ui/src/app/machines/components/MachineHeaderForms/ActionFormWrapper/TagForm/TagForm.tsx
  ui/src/app/machines/components/MachineHeaderForms/ActionFormWrapper/TagForm/TagFormChanges/TagFormChanges.test.tsx
  ui/src/app/machines/components/MachineHeaderForms/ActionFormWrapper/TagForm/TagFormChanges/TagFormChanges.tsx
  ui/src/app/machines/components/MachineHeaderForms/ActionFormWrapper/TagForm/TagFormFields/TagFormFields.test.tsx
  ui/src/app/machines/components/MachineHeaderForms/ActionFormWrapper/TagForm/TagFormFields/TagFormFields.tsx
  ui/src/app/machines/components/MachineHeaderForms/ActionFormWrapper/TagForm/hooks.test.tsx
  ui/src/app/machines/components/MachineHeaderForms/ActionFormWrapper/TagForm/hooks.ts
  ui/src/app/machines/components/MachineHeaderForms/ActionFormWrapper/TagForm/types.ts
Labels: Review: Code +1, Review: QA +1

#3759 [Hardware sync] periodic sync checkbox redux & api integration
  ui/src/app/machines/components/MachineHeaderForms/ActionFormWrapper/DeployForm/DeployForm.test.tsx
  ui/src/app/machines/components/MachineHeaderForms/ActionFormWrapper/DeployForm/DeployForm.tsx
  ui/src/app/machines/components/MachineHeaderForms/ActionFormWrapper/DeployForm/DeployFormFields/DeployFormFields.test.tsx
  ui/src/app/machines/components/MachineHeaderForms/ActionFormWrapper/DeployForm/DeployFormFields/DeployFormFields.tsx
  ui/src/app/store/machine/types/actions.ts
Labels: Review: QA +1, Review: Code +1 (with changes)

#3765 feat(ui): add support for untag machine action
  ui/src/app/base/components/ActionForm/ActionForm.tsx
  ui/src/app/machines/components/MachineHeaderForms/ActionFormWrapper/ActionFormWrapper.test.tsx
  ui/src/app/machines/components/MachineHeaderForms/ActionFormWrapper/ActionFormWrapper.tsx
  ui/src/app/machines/components/MachineHeaderForms/ActionFormWrapper/TagForm/TagForm.test.tsx
  ui/src/app/machines/components/MachineHeaderForms/ActionFormWrapper/TagForm/TagForm.tsx
  ui/src/app/machines/components/MachineHeaderForms/ActionFormWrapper/TagForm/TagFormChanges/index.ts
  ui/src/app/machines/components/MachineHeaderForms/ActionFormWrapper/TagForm/TagFormFields/index.ts
  ui/src/app/store/machine/actions.test.ts
  ui/src/app/store/machine/reducers.test.ts
  ui/src/app/store/machine/selectors.test.ts
  ui/src/app/store/machine/selectors.ts
  ui/src/app/store/machine/slice.ts
  ui/src/app/store/machine/types/actions.ts
  ui/src/app/store/machine/types/base.ts
  ui/src/app/store/machine/types/index.ts
  ui/src/app/store/types/node.ts
Labels: Review: Code +1, Review: QA +1

#3752 feat(ui): increase space for tag names in machine tag form
  ui/src/app/machines/components/MachineHeaderForms/ActionFormWrapper/TagForm/TagFormChanges/TagFormChanges.tsx
  ui/src/app/machines/components/MachineHeaderForms/ActionFormWrapper/TagForm/_index.scss
Labels: Review: Code +1, Review: QA +1

#3771 feat(ui): machine list tag notification
  ui/src/app/machines/components/MachineHeaderForms/ActionFormWrapper/TagForm/TagForm.test.tsx
  ui/src/app/machines/components/MachineHeaderForms/ActionFormWrapper/TagForm/TagForm.tsx
Labels: Review: Code +1, Review: QA +1

#3772 feat(ui): show tag action form in machine config page
  ui/src/app/base/components/ActionForm/ActionForm.test.tsx
  ui/src/app/base/components/ActionForm/ActionForm.tsx
  ui/src/app/machines/components/MachineHeaderForms/ActionFormWrapper/TagForm/TagForm.test.tsx
  ui/src/app/machines/components/MachineHeaderForms/ActionFormWrapper/TagForm/TagForm.tsx
  ui/src/app/machines/components/MachineHeaderForms/ActionFormWrapper/TagForm/TagFormFields/TagFormFields.tsx
  ui/src/app/machines/views/MachineDetails/MachineConfiguration/TagForm/TagForm.test.tsx
  ui/src/app/machines/views/MachineDetails/MachineConfiguration/TagForm/TagForm.tsx
Labels: Review: Code +1, Review: QA +1

#3780 feat(ui): create common EditableSection component
  ui/src/app/base/components/EditableSection/EditableSection.test.tsx
  ui/src/app/base/components/EditableSection/EditableSection.tsx
  ui/src/app/base/components/EditableSection/index.ts
  ui/src/app/base/components/TitledSection/TitledSection.test.tsx
  ui/src/app/base/components/TitledSection/TitledSection.tsx
  ui/src/app/base/components/TitledSection/index.ts
  ui/src/app/machines/views/MachineDetails/MachineConfiguration/MachineConfiguration.tsx
  ui/src/app/machines/views/MachineDetails/MachineConfiguration/MachineForm/MachineForm.test.tsx
  ui/src/app/machines/views/MachineDetails/MachineConfiguration/MachineForm/MachineForm.tsx
  ui/src/app/machines/views/MachineDetails/MachineConfiguration/PowerForm/PowerForm.test.tsx
  ui/src/app/machines/views/MachineDetails/MachineConfiguration/PowerForm/PowerForm.tsx
  ui/src/app/machines/views/MachineDetails/MachineConfiguration/TagForm/TagForm.test.tsx
  ui/src/app/machines/views/MachineDetails/MachineConfiguration/TagForm/TagForm.tsx
Labels: Review: Code +1, Review: QA +1

#3776 migrate ActionBar, Settings to testing-library
  ui/src/app/base/components/ActionBar/ActionBar.test.tsx
  ui/src/app/settings/views/Settings.test.tsx
Labels: Review: Code +1

#3768 [hardware sync] - settings - verify api integration
  integration/cypress/integration/settings/configuration/deploy.spec.ts
  ui/src/app/base/types.ts
  ui/src/app/machines/components/MachineHeaderForms/ActionFormWrapper/DeployForm/DeployFormFields/DeployFormFields.test.tsx
  ui/src/app/machines/components/MachineHeaderForms/ActionFormWrapper/DeployForm/DeployFormFields/DeployFormFields.tsx
  ui/src/app/settings/views/Configuration/Deploy/Deploy.test.tsx
  ui/src/app/settings/views/Configuration/DeployForm/DeployForm.test.tsx
  ui/src/app/settings/views/Configuration/DeployForm/DeployForm.tsx
  ui/src/app/settings/views/Configuration/DeployForm/types.ts
  ui/src/app/settings/views/Configuration/DeployFormFields/DeployFormFields.tsx
  ui/src/app/store/config/selectors.ts
  ui/src/app/utils/index.ts
  ui/src/app/utils/timeSpan.test.ts
  ui/src/app/utils/timeSpan.ts
Labels: Review: Code +1, Review: QA +1

#3766 use standard link variant in hardware sync tooltip
  ui/src/app/machines/views/MachineDetails/MachineSummary/OverviewCard/StatusCard/StatusCard.tsx
  ui/src/scss/_patterns_links.scss
Labels: Review: Code +1, Review: QA +1

#3783 [tag management] update docs links
  ui/src/app/tags/components/DefinitionField/DefinitionField.test.tsx
  ui/src/app/tags/components/DefinitionField/DefinitionField.tsx
  ui/src/app/tags/components/KernelOptionsField/KernelOptionsField.tsx
  ui/src/app/tags/views/TagList/TagTable/TagTable.tsx
  ui/src/app/tags/views/TagUpdate/TagUpdateFormFields/TagUpdateFormFields.tsx
Labels: Review: Code +1, Review: QA +1

#3785 fix(ui): use == in NodesTagsLink
  ui/src/app/tags/components/AppliedTo/AppliedTo.test.tsx
  ui/src/app/tags/components/NodesTagsLink/NodesTagsLink.test.tsx
  ui/src/app/tags/components/NodesTagsLink/NodesTagsLink.tsx
  ui/src/app/tags/views/TagList/TagTable/TagTable.test.tsx
Labels: Review: QA +1, Review: Code +1 (with changes)

#3773 feat(legacy): create tags in the controller config form
  legacy/src/app/controllers/node_details.js
  legacy/src/app/controllers/tests/test_node_details.js
  legacy/src/app/factories/tags.js
  legacy/src/app/factories/tests/test_tags.js
  legacy/src/app/partials/node-details.html
Labels: Review: Code +1, Review: QA +1, Blocked ⛔, Legacy 🧟‍♂️

#3789 fix(ui): fix display of mixed selection checkboxes
  ui/src/app/base/components/GroupCheckbox/GroupCheckbox.test.tsx
  ui/src/app/base/components/GroupCheckbox/GroupCheckbox.tsx
  ui/src/app/base/components/GroupCheckbox/__snapshots__/GroupCheckbox.test.tsx.snap
  ui/src/app/machines/views/MachineList/MachineListTable/MachineListTable.test.tsx
  ui/src/app/machines/views/MachineList/MachineListTable/MachineListTable.tsx
  ui/src/scss/_patterns_forms.scss
Labels: Review: Code +1, Review: QA +1

#3788 feat(ui): show "NEW" prefix for newly created tags in machine tag form
  ui/src/app/machines/components/MachineHeaderForms/ActionFormWrapper/TagForm/TagForm.tsx
  ui/src/app/machines/components/MachineHeaderForms/ActionFormWrapper/TagForm/TagFormChanges/TagFormChanges.test.tsx
  ui/src/app/machines/components/MachineHeaderForms/ActionFormWrapper/TagForm/TagFormChanges/TagFormChanges.tsx
  ui/src/app/machines/components/MachineHeaderForms/ActionFormWrapper/TagForm/TagFormFields/TagFormFields.test.tsx
  ui/src/app/machines/components/MachineHeaderForms/ActionFormWrapper/TagForm/TagFormFields/TagFormFields.tsx
Labels: Review: Code +1, Review: QA +1

#3787 feat(ui): add validation to tag name in add tag form
  ui/src/app/base/validation.ts
  ui/src/app/tags/components/TagsHeader/AddTagForm/AddTagForm.test.tsx
  ui/src/app/tags/components/TagsHeader/AddTagForm/AddTagForm.tsx
Labels: Review: Code +1, Review: QA +1

#3786 refactor(ui): standardise use of EditableSection component
  ui/src/app/devices/views/DeviceDetails/DeviceConfiguration/DeviceConfiguration.test.tsx
  ui/src/app/devices/views/DeviceDetails/DeviceConfiguration/DeviceConfiguration.tsx
  ui/src/app/domains/views/DomainDetails/DomainSummary/DomainSummary.test.tsx
  ui/src/app/domains/views/DomainDetails/DomainSummary/DomainSummary.tsx
  ui/src/app/domains/views/DomainDetails/ResourceRecords/ResourceRecords.tsx
  ui/src/app/subnets/views/FabricDetails/EditFabric/EditFabric.tsx
  ui/src/app/subnets/views/FabricDetails/FabricSummary/FabricSummary.test.tsx
  ui/src/app/subnets/views/FabricDetails/FabricSummary/FabricSummary.tsx
  ui/src/app/subnets/views/SpaceDetails/SpaceSummary/SpaceSummary.test.tsx
  ui/src/app/subnets/views/SpaceDetails/SpaceSummary/SpaceSummary.tsx
  ui/src/app/subnets/views/SpaceDetails/SpaceSummary/SpaceSummaryForm/SpaceSummaryForm.tsx
  ui/src/app/subnets/views/SubnetDetails/SubnetSummary/SubnetSummary.tsx
  ui/src/app/subnets/views/VLANDetails/VLANSummary/VLANSummary.tsx
  ui/src/app/zones/views/ZoneDetails/ZoneDetails.test.tsx
  ui/src/app/zones/views/ZoneDetails/ZoneDetails.tsx
  ui/src/app/zones/views/ZoneDetails/ZoneDetailsContent/ZoneDetailsContent.tsx
  ui/src/app/zones/views/ZoneDetails/ZoneDetailsForm/ZoneDetailsForm.tsx
Labels: Review: Code +1, Review: QA +1

#3790 fix(ui): unset IP mode when removing subnet
  ui/src/app/base/components/FabricSelect/FabricSelect.tsx
  ui/src/app/base/components/LinkModeSelect/LinkModeSelect.tsx
  ui/src/app/base/components/SubnetSelect/SubnetSelect.tsx
  ui/src/app/base/components/VLANSelect/VLANSelect.tsx
  ui/src/app/machines/views/MachineDetails/MachineNetwork/NetworkFields/NetworkFields.test.tsx
  ui/src/app/machines/views/MachineDetails/MachineNetwork/NetworkFields/NetworkFields.tsx
Labels: Review: Code +1, Review: QA +1

#3791 fix(ui): open links in new tab
  ui/src/app/base/components/DHCPTable/DHCPTable.tsx
  ui/src/app/base/components/SSHKeyForm/SSHKeyFormFields/SSHKeyFormFields.tsx
  ui/src/app/controllers/components/ControllerHeaderForms/AddController/AddController.tsx
  ui/src/app/controllers/views/ControllerList/ControllerListTable/StatusColumn/StatusColumn.tsx
  ui/src/app/dashboard/views/DashboardHeader/ClearAllForm/ClearAllForm.tsx
  ui/src/app/machines/components/MachineHeaderForms/ActionFormWrapper/DeployForm/DeployFormFields/DeployFormFields.tsx
  ui/src/app/preferences/views/SSHKeys/SSHKeyList/SSHKeyList.tsx
  ui/src/app/settings/views/Configuration/CommissioningFormFields/CommissioningFormFields.tsx
  ui/src/app/settings/views/Configuration/GeneralForm/GeneralForm.tsx
  ui/src/app/subnets/components/ReservedRanges/ReservedRanges.tsx
  ui/src/app/subnets/views/VLANDetails/ConfigureDHCP/ConfigureDHCP.tsx
  ui/src/app/subnets/views/VLANDetails/DHCPStatus/DHCPStatus.tsx
  ui/src/app/tags/components/DefinitionField/DefinitionField.tsx
  ui/src/app/tags/components/KernelOptionsField/KernelOptionsField.tsx
  ui/src/app/tags/views/TagList/TagTable/TagTable.tsx
  ui/src/app/tags/views/TagUpdate/TagUpdateFormFields/TagUpdateFormFields.tsx
Labels: Review: QA +1, Review: Code +1 (with changes)

#3792 feat(ui): display a message in tag form if no machines have tags
  ui/src/app/machines/components/MachineHeaderForms/ActionFormWrapper/TagForm/TagFormChanges/TagFormChanges.test.tsx
  ui/src/app/machines/components/MachineHeaderForms/ActionFormWrapper/TagForm/TagFormChanges/TagFormChanges.tsx
Labels: Review: Code +1, Review: QA +1

#3793 fix(ui): make sure OS info is loaded before initialising deploy form
  ui/src/app/machines/components/MachineHeaderForms/ActionFormWrapper/DeployForm/DeployForm.test.tsx
  ui/src/app/machines/components/MachineHeaderForms/ActionFormWrapper/DeployForm/DeployForm.tsx
Labels: Review: Code +1

#3797 fix(ui): fix edit VLAN form inadvertently creating an alias
  ui/src/app/machines/views/MachineDetails/MachineNetwork/EditAliasOrVlanForm/EditAliasOrVlanForm.test.tsx
  ui/src/app/machines/views/MachineDetails/MachineNetwork/EditAliasOrVlanForm/EditAliasOrVlanForm.tsx
Labels: Review: Code +1, Review: QA +1

#3805 fix(ui): fix machine name validation
  ui/src/app/base/components/FormikField/FormikField.test.tsx
  ui/src/app/base/components/FormikField/FormikField.tsx
  ui/src/app/base/components/FormikForm/FormikForm.tsx
  ui/src/app/base/components/FormikFormContent/FormikFormContent.test.tsx
  ui/src/app/base/components/FormikFormContent/FormikFormContent.tsx
  ui/src/app/base/components/NodeName/NodeName.test.tsx
  ui/src/app/base/components/NodeName/NodeName.tsx
  ui/src/app/base/components/NodeName/NodeNameFields/NodeNameFields.test.tsx
  ui/src/app/base/components/NodeName/NodeNameFields/NodeNameFields.tsx
  ui/src/app/base/components/NodeName/NodeNameFields/__snapshots__/NodeNameFields.test.tsx.snap
  ui/src/app/base/components/NodeName/__snapshots__/NodeName.test.tsx.snap
  ui/src/app/base/components/NodeName/_index.scss
  ui/src/app/base/components/SectionHeader/SectionHeader.test.tsx
  ui/src/app/base/components/SectionHeader/SectionHeader.tsx
  ui/src/app/base/components/SectionHeader/__snapshots__/SectionHeader.test.tsx.snap
  ui/src/app/machines/views/MachineDetails/MachineHeader/MachineHeader.tsx
Labels: Review: Code +1, Review: QA +1

#3807 fix(ui): fix machine name after removing all content
  ui/src/app/base/components/NodeName/NodeNameFields/NodeNameFields.tsx
  ui/src/app/base/components/NodeName/NodeNameFields/__snapshots__/NodeNameFields.test.tsx.snap
  ui/src/app/base/components/NodeName/__snapshots__/NodeName.test.tsx.snap
  ui/src/app/base/components/NodeName/_index.scss
Labels: Review: Code +1, Review: QA +1

#3804 disable eslint cypress/no-force warning
  integration/cypress/integration/machines/list.spec.ts
Labels: Review: Code +1

#3798 [Periodic hardware sync] - hardware sync failed notification
  ui/src/app/machines/views/MachineDetails/MachineNotifications/MachineNotifications.test.tsx
  ui/src/app/machines/views/MachineDetails/MachineNotifications/MachineNotifications.tsx
  ui/src/app/machines/views/MachineDetails/MachineNotifications/__snapshots__/MachineNotifications.test.tsx.snap
  ui/src/app/machines/views/MachineDetails/MachineSummary/SummaryNotifications/SummaryNotifications.test.tsx
  ui/src/app/machines/views/MachineDetails/MachineSummary/SummaryNotifications/SummaryNotifications.tsx
  ui/src/app/store/machine/types/base.ts
  ui/src/app/store/machine/utils/common.test.ts
  ui/src/app/store/machine/utils/common.ts
  ui/src/app/utils/timeSpan.ts
  ui/src/testing/factories/nodes.ts
Labels: Review: Code +1, Review: QA +1

#3801 fix(deps): update dependency @canonical/react-components to v0.34.1
  ui/package.json
  ui/src/app/base/components/FormikField/__snapshots__/FormikField.test.tsx.snap
  ui/src/app/base/components/FormikFormButtons/FormikFormButtons.test.tsx
  ui/src/app/base/components/NodeName/NodeNameFields/__snapshots__/NodeNameFields.test.tsx.snap
  ui/src/app/base/components/NodeName/__snapshots__/NodeName.test.tsx.snap
  ui/src/app/base/components/TagSelector/__snapshots__/TagSelector.test.tsx.snap
  ui/src/app/machines/components/MachineHeaderForms/ActionFormWrapper/DeployForm/DeployFormFields/DeployFormFields.test.tsx
  ui/src/app/machines/components/MachineHeaderForms/ActionFormWrapper/DeployForm/DeployFormFields/DeployFormFields.tsx
  ui/src/app/machines/views/MachineList/MachineListTable/CoresColumn/__snapshots__/CoresColumn.test.tsx.snap
  ui/src/app/machines/views/MachineList/MachineListTable/NameColumn/__snapshots__/NameColumn.test.tsx.snap
  ui/src/app/machines/views/MachineList/MachineListTable/PowerColumn/__snapshots__/PowerColumn.test.tsx.snap
  yarn.lock
Labels: Review: Code +1, Review: QA +1

#3810 refactor: add aria-label directly to Spinner component
  ui/src/app/base/components/ControllerLink/ControllerLink.tsx
  ui/src/app/base/components/DeviceLink/DeviceLink.tsx
  ui/src/app/base/components/FabricLink/FabricLink.tsx
  ui/src/app/base/components/MachineLink/MachineLink.tsx
  ui/src/app/base/components/SectionHeader/SectionHeader.tsx
  ui/src/app/base/components/SpaceLink/SpaceLink.tsx
  ui/src/app/base/components/SubnetLink/SubnetLink.tsx
  ui/src/app/base/components/VLANLink/VLANLink.tsx
Labels: Review: Code +1

#3811 fix(ui): standardise shape of node actions
  ui/src/app/base/components/node/FieldlessForm/FieldlessForm.tsx
  ui/src/app/base/hooks/node.ts
  ui/src/app/base/sagas/actions.ts
  ui/src/app/controllers/components/ControllerHeaderForms/ControllerActionFormWrapper/ControllerActionFormWrapper.tsx
  ui/src/app/devices/components/DeviceHeaderForms/DeviceActionFormWrapper/DeviceActionFormWrapper.tsx
  ui/src/app/machines/components/MachineHeaderForms/ActionFormWrapper/ActionFormWrapper.tsx
  ui/src/app/machines/components/MachineHeaderForms/ActionFormWrapper/CommissionForm/CommissionForm.test.tsx
  ui/src/app/machines/components/MachineHeaderForms/ActionFormWrapper/CommissionForm/CommissionForm.tsx
  ui/src/app/machines/components/MachineHeaderForms/ActionFormWrapper/CommissionForm/types.ts
  ui/src/app/machines/components/MachineHeaderForms/ActionFormWrapper/DeployForm/DeployForm.test.tsx
  ui/src/app/machines/components/MachineHeaderForms/ActionFormWrapper/DeployForm/DeployForm.tsx
  ui/src/app/machines/components/MachineHeaderForms/ActionFormWrapper/MarkBrokenForm/MarkBrokenForm.tsx
  ui/src/app/machines/components/MachineHeaderForms/ActionFormWrapper/OverrideTestForm/OverrideTestForm.tsx
  ui/src/app/machines/components/MachineHeaderForms/ActionFormWrapper/ReleaseForm/ReleaseForm.tsx
  ui/src/app/machines/components/MachineHeaderForms/ActionFormWrapper/SetPoolForm/SetPoolForm.tsx
  ui/src/app/machines/components/MachineHeaderForms/ActionFormWrapper/TagForm/TagForm.test.tsx
  ui/src/app/machines/components/MachineHeaderForms/ActionFormWrapper/TagForm/TagForm.tsx
  ui/src/app/machines/views/MachineList/MachineListTable/PoolColumn/PoolColumn.tsx
  ui/src/app/machines/views/MachineList/MachineListTable/PowerColumn/PowerColumn.tsx
  ui/src/app/machines/views/MachineList/MachineListTable/ZoneColumn/ZoneColumn.tsx
  ui/src/app/store/controller/actions.test.ts
  ui/src/app/store/controller/slice.ts
  ui/src/app/store/controller/types/actions.ts
  ui/src/app/store/controller/types/index.ts
  ui/src/app/store/device/actions.test.ts
  ui/src/app/store/device/slice.ts
  ui/src/app/store/device/types/actions.ts
  ui/src/app/store/machine/actions.test.ts
  ui/src/app/store/machine/slice.ts
  ui/src/app/store/machine/types/actions.ts
  ui/src/app/store/machine/types/index.ts
  ui/src/app/store/types/node.ts
Labels: Review: Code +1, Review: QA +1

#3809 [periodic hardware sync] verify back-end integration
  ui/src/app/base/components/StatusBar/StatusBar.test.tsx
  ui/src/app/machines/components/MachineHeaderForms/ActionFormWrapper/DeployForm/DeployFormFields/DeployFormFields.test.tsx
  ui/src/app/machines/components/MachineHeaderForms/ActionFormWrapper/DeployForm/DeployFormFields/DeployFormFields.tsx
  ui/src/app/machines/views/MachineDetails/MachineSummary/OverviewCard/StatusCard/StatusCard.test.tsx
  ui/src/app/store/machine/types/base.ts
  ui/src/app/store/machine/utils/common.ts
  ui/src/app/utils/timeSpan.test.ts
  ui/src/app/utils/timeSpan.ts
  ui/src/testing/factories/nodes.ts
Labels: Review: Code +1, Review: QA +1

#3815 remove FETCH_HEAD file
  FETCH_HEAD
Labels: Review: Code +1

#3817 feat(ui): add tls_certificate to general slice
  ui/src/__snapshots__/root-reducer.test.ts.snap
  ui/src/app/store/general/actions.test.ts
  ui/src/app/store/general/reducers.test.ts
  ui/src/app/store/general/selectors/index.ts
  ui/src/app/store/general/selectors/tlsCertificate.test.ts
  ui/src/app/store/general/selectors/tlsCertificate.ts
  ui/src/app/store/general/slice.ts
  ui/src/app/store/general/types/base.ts
  ui/src/app/store/general/types/index.ts
  ui/src/app/store/general/utils/certificates.test.ts
  ui/src/app/store/general/utils/certificates.ts
  ui/src/testing/factories/general.ts
  ui/src/testing/factories/index.ts
  ui/src/testing/factories/state.ts
Labels: Review: Code +1

#3816 feat(ui): add Security tab to Settings page
  ui/src/app/settings/components/Nav/Nav.tsx
  ui/src/app/settings/components/Routes/Routes.tsx
  ui/src/app/settings/urls.ts
  ui/src/app/settings/views/Configuration/Security/Security.test.tsx
  ui/src/app/settings/views/Configuration/Security/Security.tsx
  ui/src/app/settings/views/Configuration/Security/TLSDisabled/TLSDisabled.tsx
  ui/src/app/settings/views/Configuration/Security/TLSDisabled/index.ts
  ui/src/app/settings/views/Configuration/Security/TLSEnabled/TLSEnabled.tsx
  ui/src/app/settings/views/Configuration/Security/TLSEnabled/index.ts
  ui/src/app/settings/views/Configuration/Security/index.ts
  ui/src/app/store/general/utils/index.ts
  ui/src/scss/index.scss
Labels: Review: Code +1, Review: QA +1

#3813 [periodic hardware sync] - QA fixes
  ui/src/app/base/components/StatusBar/StatusBar.tsx
  ui/src/app/machines/views/MachineDetails/MachineSummary/SummaryNotifications/SummaryNotifications.test.tsx
  ui/src/app/machines/views/MachineDetails/MachineSummary/SummaryNotifications/SummaryNotifications.tsx
  ui/src/app/store/machine/utils/common.test.ts
  ui/src/app/store/machine/utils/common.ts
  ui/src/app/utils/timeSpan.test.ts
Labels: Review: QA +1, Review: Code +1 (with changes)

#3819 feat(ui): add TLS certificate to API authentication page
  ui/src/app/preferences/components/Nav/Nav.tsx
  ui/src/app/preferences/components/Routes.test.tsx
  ui/src/app/preferences/components/Routes/Routes.tsx
  ui/src/app/preferences/urls.ts
  ui/src/app/preferences/views/APIAuthentication/APIAuthentication.tsx
  ui/src/app/preferences/views/APIAuthentication/APIKeyAdd/APIKeyAdd.test.tsx
  ui/src/app/preferences/views/APIAuthentication/APIKeyAdd/APIKeyAdd.tsx
  ui/src/app/preferences/views/APIAuthentication/APIKeyAdd/index.ts
  ui/src/app/preferences/views/APIAuthentication/APIKeyEdit/APIKeyEdit.test.tsx
  ui/src/app/preferences/views/APIAuthentication/APIKeyEdit/APIKeyEdit.tsx
  ui/src/app/preferences/views/APIAuthentication/APIKeyEdit/index.ts
  ui/src/app/preferences/views/APIAuthentication/APIKeyForm/APIKeyForm.test.tsx
  ui/src/app/preferences/views/APIAuthentication/APIKeyForm/APIKeyForm.tsx
  ui/src/app/preferences/views/APIAuthentication/APIKeyForm/index.ts
  ui/src/app/preferences/views/APIAuthentication/APIKeyList/APIKeyList.test.tsx
  ui/src/app/preferences/views/APIAuthentication/APIKeyList/APIKeyList.tsx
  ui/src/app/preferences/views/APIAuthentication/APIKeyList/_index.scss
  ui/src/app/preferences/views/APIAuthentication/APIKeyList/index.ts
  ui/src/app/preferences/views/APIAuthentication/TLSCertificate/TLSCertificate.test.tsx
  ui/src/app/preferences/views/APIAuthentication/TLSCertificate/TLSCertificate.tsx
  ui/src/app/preferences/views/APIAuthentication/TLSCertificate/index.ts
  ui/src/app/preferences/views/APIAuthentication/index.ts
  ui/src/app/settings/components/SettingsTable/SettingsTable.test.tsx
  ui/src/app/settings/components/SettingsTable/SettingsTable.tsx
  ui/src/scss/_vanilla-overrides.scss
  ui/src/scss/index.scss
Labels: Review: Code +1, Review: QA +1

#3814 feat(tls): add reverse-proxy service
  legacy/src/app/partials/cards/services.html
Labels: Legacy 🧟‍♂️

#3820 feat(ui): add selectors for TLS expiration notification config
  ui/src/app/base/types.ts
  ui/src/app/preferences/views/APIAuthentication/TLSCertificate/TLSCertificate.test.tsx
  ui/src/app/preferences/views/APIAuthentication/TLSCertificate/TLSCertificate.tsx
  ui/src/app/settings/views/Configuration/Security/Security.test.tsx
  ui/src/app/settings/views/Configuration/Security/Security.tsx
  ui/src/app/store/config/selectors.test.ts
  ui/src/app/store/config/selectors.ts
  ui/src/app/store/general/types/base.ts
  ui/src/app/store/general/utils/certificates.test.ts
  ui/src/app/store/general/utils/certificates.ts
  ui/src/app/store/general/utils/index.ts
  ui/src/app/utils/timeSpan.ts
Labels: Review: Code needed

#3823 refactor: remove timespan date mock
  ui/src/app/utils/timeSpan.test.ts
Labels: Review: Code +1

#3824 refactor(shared): make shared click-outside hook
  shared/.eslintrc.js
  shared/.eslintrc.json
  shared/package.json
  shared/src/components/Footer/Footer.test.tsx
  shared/src/components/Footer/Footer.tsx
  shared/src/components/Header/HardwareMenu/HardwareMenu.test.tsx
  shared/src/components/Header/HardwareMenu/HardwareMenu.tsx
  shared/src/components/Header/Header.test.tsx
  shared/src/components/Header/Header.tsx
  shared/src/components/StatusBar/StatusBar.test.tsx
  shared/src/components/StatusBar/StatusBar.tsx
  shared/src/index.ts
  shared/src/utils.test.tsx
  shared/src/utils.ts
  ui/src/app/base/components/TagSelector/TagSelector.tsx
  ui/src/app/base/components/TagSelector/__snapshots__/TagSelector.test.tsx.snap
  yarn.lock
Labels: Review: Code +1, Review: QA +1

#3821 feat(ui): build "TLS enabled" version of security settings
  ui/src/app/settings/views/Configuration/Security/TLSEnabled/TLSEnabled.test.tsx
  ui/src/app/settings/views/Configuration/Security/TLSEnabled/TLSEnabled.tsx
  ui/src/app/settings/views/Configuration/Security/TLSEnabled/TLSEnabledFields/TLSEnabledFields.tsx
  ui/src/app/settings/views/Configuration/Security/TLSEnabled/TLSEnabledFields/_index.scss
  ui/src/app/settings/views/Configuration/Security/TLSEnabled/TLSEnabledFields/index.ts
  ui/src/app/store/config/types/enum.ts
  ui/src/app/store/config/types/index.ts
  ui/src/scss/index.scss
Labels: Review: Code +1, Review: QA +1

#3825 add hardware sync docs links
  ui/package.json
  ui/src/app/base/components/TableMenu/TableMenu.test.tsx
  ui/src/app/base/components/TableMenu/TableMenu.tsx
  ui/src/app/base/components/TableMenu/__snapshots__/TableMenu.test.tsx.snap
  ui/src/app/base/maasDocsUrls.ts
  ui/src/app/machines/components/MachineHeaderForms/ActionFormWrapper/DeployForm/DeployFormFields/DeployFormFields.tsx
  ui/src/app/machines/views/MachineDetails/MachineStorage/FilesystemsTable/AddSpecialFilesystem/AddSpecialFilesystem.tsx
  ui/src/app/machines/views/MachineDetails/MachineStorage/FilesystemsTable/FilesystemsTable.test.tsx
  ui/src/app/machines/views/MachineDetails/MachineSummary/OverviewCard/StatusCard/StatusCard.test.tsx
  ui/src/app/machines/views/MachineDetails/MachineSummary/OverviewCard/StatusCard/StatusCard.tsx
  ui/src/app/machines/views/MachineList/MachineListTable/CoresColumn/__snapshots__/CoresColumn.test.tsx.snap
  ui/src/app/machines/views/MachineList/MachineListTable/OwnerColumn/__snapshots__/OwnerColumn.test.tsx.snap
  ui/src/app/machines/views/MachineList/MachineListTable/PoolColumn/__snapshots__/PoolColumn.test.tsx.snap
  ui/src/app/machines/views/MachineList/MachineListTable/PowerColumn/__snapshots__/PowerColumn.test.tsx.snap
  ui/src/app/machines/views/MachineList/MachineListTable/StatusColumn/__snapshots__/StatusColumn.test.tsx.snap
  ui/src/app/machines/views/MachineList/MachineListTable/ZoneColumn/__snapshots__/ZoneColumn.test.tsx.snap
  yarn.lock
Labels: Review: Code +1, Review: QA +1, Don't merge

#3832 fix(proxy): fix proxy server crashing when proxying to TLS-enabled MAAS
  proxy/index.js
  proxy/ui.js
Labels: Review: Code +1, Review: QA +1

#3831 fix(ui): fix instances of link buttons having incorrect spacing
  ui/src/app/base/components/ModelListSubtitle/ModelListSubtitle.tsx
  ui/src/app/base/components/NotificationGroup/NotificationGroup.tsx
  ui/src/app/base/components/NotificationGroup/__snapshots__/NotificationGroup.test.tsx.snap
  ui/src/app/base/components/UserForm/UserForm.tsx
  ui/src/app/base/components/node/NodeActionFormWrapper/NodeActionFormWrapper.tsx
  ui/src/app/images/views/ImageList/SyncedImages/ChangeSource/FetchImagesForm/FetchImagesFormFields/FetchImagesFormFields.tsx
  ui/src/app/machines/views/MachineDetails/MachineSummary/TestResults/TestResults.tsx
Labels: Review: Code +1, Review: QA +1

#3836 fix(ui): update TLS sections based on latest changes
  ui/src/app/preferences/views/APIAuthentication/TLSCertificate/TLSCertificate.test.tsx
  ui/src/app/preferences/views/APIAuthentication/TLSCertificate/TLSCertificate.tsx
  ui/src/app/settings/views/Configuration/Security/TLSEnabled/TLSEnabled.test.tsx
  ui/src/app/settings/views/Configuration/Security/TLSEnabled/TLSEnabled.tsx
  ui/src/app/store/config/types/enum.ts
Labels: Review: QA +1, Review: Code +1 (with changes)

#3838 fix(ui) fix minor styling bugs in KVM pages
  ui/src/app/kvm/components/KVMHeaderForms/ComposeForm/ComposeFormFields/ComposeFormFields.tsx
  ui/src/app/kvm/components/KVMHeaderForms/ComposeForm/StorageTable/StorageTable.tsx
  ui/src/app/kvm/components/LXDVMsTable/VMsActionBar/VMsActionBar.tsx
  ui/src/app/kvm/views/KVMList/LxdTable/LxdKVMHostTable/LxdKVMHostTable.tsx
  ui/src/app/kvm/views/KVMList/LxdTable/LxdTable.tsx
  ui/src/app/kvm/views/KVMList/VirshTable/VirshTable.tsx
  ui/src/app/kvm/views/LXDClusterDetails/LXDClusterHosts/LXDClusterHostsActionBar/LXDClusterHostsActionBar.tsx
Labels: Review: Code +1, Review: QA +1

#3833 feat(ui): build Navigation component. Update MAAS logo
  legacy/package.json
  legacy/src/app/controllers/master.js
  legacy/src/scss/_settings.scss
  root/package.json
  root/src/scss/_settings.scss
  shared/package.json
  shared/src/components/Header/HardwareMenu/HardwareMenu.test.tsx
  shared/src/components/Header/HardwareMenu/HardwareMenu.tsx
  shared/src/components/Header/HardwareMenu/index.ts
  shared/src/components/Header/Header.test.tsx
  shared/src/components/Header/Header.tsx
  shared/src/components/Header/types.ts
  shared/src/components/Navigation/Navigation.test.tsx
  shared/src/components/Navigation/Navigation.tsx
  shared/src/components/Navigation/NavigationLink/NavigationLink.test.tsx
  shared/src/components/Navigation/NavigationLink/NavigationLink.tsx
  shared/src/components/Navigation/NavigationLink/index.ts
  shared/src/components/Navigation/NavigationMenu/NavigationMenu.test.tsx
  shared/src/components/Navigation/NavigationMenu/NavigationMenu.tsx
  shared/src/components/Navigation/NavigationMenu/index.ts
  shared/src/components/Navigation/index.ts
  shared/src/components/Navigation/types.ts
  ui/package.json
  ui/src/app/App.tsx
  ui/src/scss/_patterns_navigation.scss
  ui/src/scss/_settings.scss
  ui/src/scss/index.scss
  yarn.lock
Labels: Review: QA +1, Review: Code +1 (with changes), Legacy 🧟‍♂️

#3839 fix(ui): fix subnets icon breaking layout
  ui/src/app/subnets/views/SubnetsList/SubnetsControls/SubnetsControls.tsx
  ui/src/app/subnets/views/SubnetsList/_index.scss
Labels: Review: Code +1, Review: QA +1

#3845 fix(ui): select correct fabric/VLAN when adding an alias or VLAN to nic (#3796)
  ui/src/app/machines/views/MachineDetails/MachineNetwork/AddAliasOrVlan/AddAliasOrVlan.test.tsx
  ui/src/app/machines/views/MachineDetails/MachineNetwork/AddAliasOrVlan/AddAliasOrVlan.tsx
Labels: Review: Code needed, Backport 3.0 :arrow_backward:

#3844 fix(ui): select correct fabric/VLAN when adding an alias or VLAN to nic (#3796)
  ui/src/app/machines/views/MachineDetails/MachineNetwork/AddAliasOrVlan/AddAliasOrVlan.test.tsx
  ui/src/app/machines/views/MachineDetails/MachineNetwork/AddAliasOrVlan/AddAliasOrVlan.tsx
Labels: Review: Code +1, Review: QA +1, Backport 3.1 :arrow_backward:

#3843 Revert "feat(ui): add TLS certificate to API authentication page (#3819)"
  ui/src/app/preferences/components/Nav/Nav.tsx
  ui/src/app/preferences/components/Routes.test.tsx
  ui/src/app/preferences/components/Routes/Routes.tsx
  ui/src/app/preferences/urls.ts
  ui/src/app/preferences/views/APIAuthentication/APIAuthentication.tsx
  ui/src/app/preferences/views/APIAuthentication/TLSCertificate/TLSCertificate.test.tsx
  ui/src/app/preferences/views/APIAuthentication/TLSCertificate/TLSCertificate.tsx
  ui/src/app/preferences/views/APIAuthentication/TLSCertificate/index.ts
  ui/src/app/preferences/views/APIAuthentication/index.ts
  ui/src/app/preferences/views/APIKeys/APIKeyAdd/APIKeyAdd.test.tsx
  ui/src/app/preferences/views/APIKeys/APIKeyAdd/APIKeyAdd.tsx
  ui/src/app/preferences/views/APIKeys/APIKeyAdd/index.ts
  ui/src/app/preferences/views/APIKeys/APIKeyEdit/APIKeyEdit.test.tsx
  ui/src/app/preferences/views/APIKeys/APIKeyEdit/APIKeyEdit.tsx
  ui/src/app/preferences/views/APIKeys/APIKeyEdit/index.ts
  ui/src/app/preferences/views/APIKeys/APIKeyForm/APIKeyForm.test.tsx
  ui/src/app/preferences/views/APIKeys/APIKeyForm/APIKeyForm.tsx
  ui/src/app/preferences/views/APIKeys/APIKeyForm/index.ts
  ui/src/app/preferences/views/APIKeys/APIKeyList/APIKeyList.test.tsx
  ui/src/app/preferences/views/APIKeys/APIKeyList/APIKeyList.tsx
  ui/src/app/preferences/views/APIKeys/APIKeyList/_index.scss
  ui/src/app/preferences/views/APIKeys/APIKeyList/index.ts
  ui/src/app/settings/components/SettingsTable/SettingsTable.test.tsx
  ui/src/app/settings/components/SettingsTable/SettingsTable.tsx
  ui/src/scss/_vanilla-overrides.scss
  ui/src/scss/index.scss
Labels: Review: Code +1, Review: QA +1

#3847 fix(ui): fix styling of script column toggles
  ui/src/app/base/components/ColumnToggle/ColumnToggle.tsx
  ui/src/app/base/components/ColumnToggle/__snapshots__/ColumnToggle.test.tsx.snap
  ui/src/app/base/components/ColumnToggle/_index.scss
Labels: Review: Code +1, Review: QA +1

#3840 feat(ui): add hostname validation for all node forms
  ui/src/app/base/components/NodeName/NodeName.tsx
  ui/src/app/base/components/NodeName/__snapshots__/NodeName.test.tsx.snap
  ui/src/app/base/validation.test.ts
  ui/src/app/base/validation.ts
  ui/src/app/dashboard/views/DiscoveryAddForm/DiscoveryAddForm.tsx
  ui/src/app/devices/components/DeviceHeaderForms/AddDeviceForm/AddDeviceForm.tsx
  ui/src/app/kvm/components/KVMHeaderForms/ComposeForm/ComposeForm.tsx
  ui/src/app/machines/components/MachineHeaderForms/AddMachine/AddMachineForm/AddMachineForm.tsx
Labels: Review: Code +1, Review: QA +1

#3848 refactor: use current page selector
  ui/src/app/subnets/views/SubnetsList/SubnetsTable/SubnetsTable.test.tsx
Labels: Review: Code +1

#3849 fix: cypress failures
  integration/cypress/integration/login/login.spec.ts
Labels: Review: Code +1

#3850 fix: cypress non admin header test
  .github/workflows/cypress.yml
  integration/cypress.json
  integration/cypress/integration/base/header.spec.ts
  integration/cypress/support/commands.ts
  integration/cypress/support/index.ts
Labels: Review: Code +1

#3853 fix: display alternative text for empty string
  ui/src/app/base/components/Definition/Definition.test.tsx
  ui/src/app/base/components/Definition/Definition.tsx
Labels: Review: Code +1 (with changes)

#3861 fix: invalid links to tags on controllers page
  legacy/src/app/partials/cards/tags.html
Labels: Review: Code +1, Review: QA +1, Legacy 🧟‍♂️

#3863 add e2e tests for controllers tag management
  integration/cypress/integration/controllers/list.spec.ts
  legacy/src/app/partials/cards/tags.html
  legacy/src/app/partials/node-details.html
  ui/src/app/controllers/views/ControllerList/ControllerListTable/ControllerListTable.tsx
Labels: Review: Code +1, Legacy 🧟‍♂️

#3869 fix(ui): fix mobile styling of "VLANs on this fabric" table
  ui/src/app/subnets/views/FabricDetails/FabricVLANs/FabricVLANs.tsx
  ui/src/app/subnets/views/FabricDetails/FabricVLANs/_index.scss
Labels: Review: Code +1, Review: QA +1

#3866 fix(ui): fix table headings on small screens for non-MainTables
  ui/src/app/base/components/NodeSummaryNetworkCard/NetworkCardTable/NetworkCardTable.tsx
  ui/src/app/kvm/components/KVMHeaderForms/ComposeForm/InterfacesTable/InterfacesTable.test.tsx
  ui/src/app/kvm/components/KVMHeaderForms/ComposeForm/InterfacesTable/InterfacesTable.tsx
  ui/src/app/kvm/components/KVMHeaderForms/ComposeForm/StorageTable/StorageTable.tsx
Labels: Review: Code +1, Review: QA +1

#3855 fix(ui): update redirects & broken maas.io docs links
  ui/src/app/base/components/DHCPTable/DHCPTable.tsx
  ui/src/app/base/components/SSHKeyForm/SSHKeyFormFields/SSHKeyFormFields.tsx
  ui/src/app/base/docsUrls.ts
  ui/src/app/base/maasDocsUrls.ts
  ui/src/app/controllers/components/ControllerHeaderForms/AddController/AddController.tsx
  ui/src/app/dashboard/views/DashboardHeader/ClearAllForm/ClearAllForm.tsx
  ui/src/app/intro/views/IncompleteCard/IncompleteCard.tsx
  ui/src/app/intro/views/IncompleteCard/__snapshots__/IncompleteCard.test.tsx.snap
  ui/src/app/intro/views/MaasIntro/NameCard/NameCard.tsx
  ui/src/app/machines/components/MachineHeaderForms/ActionFormWrapper/DeployForm/DeployFormFields/DeployFormFields.tsx
  ui/src/app/machines/components/MachineHeaderForms/AddChassis/AddChassisForm/AddChassisForm.tsx
  ui/src/app/machines/components/MachineHeaderForms/AddMachine/AddMachineForm/AddMachineForm.tsx
  ui/src/app/machines/views/MachineDetails/MachineStorage/MachineStorage.tsx
  ui/src/app/machines/views/MachineDetails/MachineSummary/OverviewCard/StatusCard/StatusCard.test.tsx
  ui/src/app/machines/views/MachineDetails/MachineSummary/OverviewCard/StatusCard/StatusCard.tsx
  ui/src/app/preferences/views/SSHKeys/SSHKeyList/SSHKeyList.tsx
  ui/src/app/settings/views/Configuration/CommissioningFormFields/CommissioningFormFields.tsx
  ui/src/app/settings/views/Dhcp/DhcpList/DhcpList.tsx
  ui/src/app/subnets/components/ReservedRanges/ReservedRanges.tsx
  ui/src/app/subnets/views/VLANDetails/ConfigureDHCP/ConfigureDHCP.tsx
  ui/src/app/subnets/views/VLANDetails/DHCPStatus/DHCPStatus.tsx
  ui/src/app/tags/components/DefinitionField/DefinitionField.tsx
  ui/src/app/tags/components/KernelOptionsField/KernelOptionsField.tsx
  ui/src/app/tags/views/TagList/TagTable/TagTable.tsx
  ui/src/app/tags/views/TagUpdate/TagUpdateFormFields/TagUpdateFormFields.tsx
Labels: Review: Code +1 (with changes)
