Repository canonical/maas-ui, pull requests merged in 2022-10, with the labels that each got.

#4438 refactor(machines): add action result count to redux store
  src/app/base/types.ts
  src/app/store/machine/slice.ts
  src/app/store/utils/slice.ts
  src/testing/factories/state.ts
Labels: Review: Code +1, Review: QA +1

#4440 feat: use filter key for machine details actions
  src/app/base/components/node/FieldlessForm/FieldlessForm.tsx
  src/app/kvm/components/KVMHeaderForms/KVMHeaderForms.test.tsx
  src/app/kvm/components/KVMHeaderForms/KVMHeaderForms.tsx
  src/app/machines/components/MachineHeaderForms/MachineActionFormWrapper/MachineActionFormWrapper.test.tsx
  src/app/machines/components/MachineHeaderForms/MachineActionFormWrapper/MachineActionFormWrapper.tsx
  src/app/machines/types.ts
  src/app/machines/views/MachineDetails/MachineHeader/MachineHeader.tsx
  src/app/store/machine/utils/hooks.test.tsx
  src/app/store/machine/utils/hooks.ts
  src/testing/factories/index.ts
  src/testing/factories/state.ts
Labels: Review: Code +1, Review: QA +1

#4439 test(cypress): fix machine name generation
  cypress/support/commands.ts
Labels: Review: Code +1

#4447 feat(machines): handle bulk actions results
  src/app/base/components/ActionForm/ActionForm.tsx
  src/app/base/components/node/FieldlessForm/FieldlessForm.tsx
  src/app/base/components/node/TestForm/TestForm.tsx
  src/app/base/components/node/types.ts
  src/app/base/types.ts
  src/app/kvm/components/KVMHeaderForms/KVMHeaderForms.tsx
  src/app/machines/components/MachineHeaderForms/MachineActionFormWrapper/CommissionForm/CommissionForm.tsx
  src/app/machines/components/MachineHeaderForms/MachineActionFormWrapper/DeployForm/DeployForm.tsx
  src/app/machines/components/MachineHeaderForms/MachineActionFormWrapper/MachineActionFormWrapper.test.tsx
  src/app/machines/components/MachineHeaderForms/MachineActionFormWrapper/MachineActionFormWrapper.tsx
  src/app/machines/components/MachineHeaderForms/MachineActionFormWrapper/MarkBrokenForm/MarkBrokenForm.tsx
  src/app/machines/components/MachineHeaderForms/MachineActionFormWrapper/OverrideTestForm/OverrideTestForm.tsx
  src/app/machines/components/MachineHeaderForms/MachineActionFormWrapper/ReleaseForm/ReleaseForm.tsx
  src/app/machines/components/MachineHeaderForms/MachineActionFormWrapper/SetPoolForm/SetPoolForm.tsx
  src/app/machines/components/MachineHeaderForms/MachineActionFormWrapper/TagForm/TagForm.test.tsx
  src/app/machines/components/MachineHeaderForms/MachineActionFormWrapper/TagForm/TagForm.tsx
  src/app/machines/components/MachineHeaderForms/MachineHeaderForms.tsx
  src/app/machines/types.ts
  src/app/machines/views/MachineDetails/MachineHeader/MachineHeader.tsx
  src/app/machines/views/MachineList/MachineListHeader/MachineListHeader.tsx
  src/app/store/machine/slice.ts
  src/app/store/machine/types/base.ts
  src/app/store/machine/utils/hooks.test.tsx
  src/app/store/machine/utils/hooks.ts
  src/app/store/pod/slice.ts
  src/app/store/utils/slice.test.ts
  src/app/store/utils/slice.ts
  src/testing/factories/state.ts
Labels: Review: Code +1, Review: QA +1

#4445 test: Migrate Enzyme to RTL - src/app/machines/views/MachineDetails/MachineNetwork *Part 2*
  src/app/machines/views/MachineDetails/MachineNetwork/BondForm/BondModeSelect/BondModeSelect.test.tsx
  src/app/machines/views/MachineDetails/MachineNetwork/BondForm/HashPolicySelect/HashPolicySelect.test.tsx
  src/app/machines/views/MachineDetails/MachineNetwork/BondForm/LACPRateSelect/LACPRateSelect.test.tsx
  src/app/machines/views/MachineDetails/MachineNetwork/BondForm/ToggleMembers/ToggleMembers.test.tsx
  src/app/machines/views/MachineDetails/MachineNetwork/BridgeFormFields/BridgeFormFields.test.tsx
  src/app/machines/views/MachineDetails/MachineNetwork/BridgeFormFields/BridgeFormFields.tsx
  src/app/machines/views/MachineDetails/MachineNetwork/EditAliasOrVlanForm/EditAliasOrVlanForm.test.tsx
Labels: Review: Code +1

#4448 feat: update error boundary notification
  src/app/base/components/ErrorBoundary/ErrorBoundary.tsx
Labels: Review: Code +1, Review: QA +1

#4449 fix: kvm page non-admin error
  src/app/base/components/node/NodePowerParameters/NodePowerDefinitions/NodePowerDefinitions.tsx
  src/app/kvm/components/KVMConfigurationCard/KVMConfigurationCard.test.tsx
  src/app/kvm/components/KVMConfigurationCard/KVMConfigurationCard.tsx
  src/app/kvm/components/KVMConfigurationCard/KVMConfigurationCardFields/KVMConfigurationCardFields.test.tsx
  src/app/kvm/components/KVMHeaderForms/AddLxd/SelectProjectForm/SelectProjectFormFields/SelectProjectFormFields.tsx
  src/app/kvm/components/NameColumn/NameColumn.test.tsx
  src/app/kvm/views/KVMList/LxdTable/LxdTable.tsx
  src/app/kvm/views/KVMList/VirshTable/VirshTable.tsx
  src/app/kvm/views/LXDClusterDetails/LXDClusterHosts/LXDClusterHostsTable/LXDClusterHostsTable.tsx
  src/app/kvm/views/LXDSingleDetails/LXDSingleDetailsHeader/LXDSingleDetailsHeader.tsx
  src/app/kvm/views/LXDSingleDetails/LXDSingleSettings/AuthenticationCard/AuthenticationCard.test.tsx
  src/app/kvm/views/LXDSingleDetails/LXDSingleSettings/AuthenticationCard/AuthenticationCard.tsx
  src/app/kvm/views/VirshDetails/VirshDetailsHeader/VirshDetailsHeader.tsx
  src/app/store/pod/selectors.ts
  src/app/store/pod/types/base.ts
Labels: Review: QA +1, Review: Code +1 (with changes)

#4453 fix: cannot resolve none into field
  src/app/machines/views/MachineList/MachineList.test.tsx
  src/app/machines/views/MachineList/MachineList.tsx
  src/app/machines/views/MachineList/MachineListTable/constants.ts
  src/app/store/machine/types/actions.ts
Labels: Review: Code +1, Review: QA +1

#4454 feat: DHCP Snippets IP Ranges inputs
  src/app/base/components/DHCPTable/DHCPTable.tsx
  src/app/base/components/DhcpForm/DhcpForm.tsx
  src/app/base/components/DhcpForm/types.ts
  src/app/base/components/DhcpFormFields/DhcpFormFields.test.tsx
  src/app/base/components/DhcpFormFields/DhcpFormFields.tsx
  src/app/base/components/DhcpSnippetType/DhcpSnippetType.tsx
  src/app/settings/hooks.ts
  src/app/settings/views/Dhcp/DhcpList/DhcpList.tsx
  src/app/store/dhcpsnippet/types/actions.ts
  src/app/store/dhcpsnippet/types/base.ts
  src/app/store/iprange/utils.ts
  src/app/subnets/components/DHCPSnippets/DHCPSnippets.tsx
  src/testing/factories/dhcpsnippet.ts
Labels: Review: Code +1, Review: QA +1, Review: UX +1

#4459 refactor(machines): multiple tag lists handling
  src/__snapshots__/root-reducer.test.ts.snap
  src/app/store/tag/actions.test.ts
  src/app/store/tag/reducers.test.ts
  src/app/store/tag/selectors.test.ts
  src/app/store/tag/selectors.ts
  src/app/store/tag/slice.ts
  src/app/store/tag/types/base.ts
  src/testing/factories/state.ts
Labels: Review: Code +1, Review: QA +1

#4460 feat(machines): update clone form machine search API
  src/app/base/components/ActionForm/ActionForm.tsx
  src/app/base/components/DebounceSearchBox/DebounceSearchBox.tsx
  src/app/base/components/node/types.ts
  src/app/machines/components/MachineHeaderForms/MachineActionFormWrapper/CloneForm/CloneForm.test.tsx
  src/app/machines/components/MachineHeaderForms/MachineActionFormWrapper/CloneForm/CloneForm.tsx
  src/app/machines/components/MachineHeaderForms/MachineActionFormWrapper/CloneForm/CloneFormFields/CloneFormFields.test.tsx
  src/app/machines/components/MachineHeaderForms/MachineActionFormWrapper/CloneForm/CloneFormFields/CloneFormFields.tsx
  src/app/machines/components/MachineHeaderForms/MachineActionFormWrapper/CloneForm/CloneFormFields/SourceMachineSelect/SourceMachineSelect.test.tsx
  src/app/machines/components/MachineHeaderForms/MachineActionFormWrapper/CloneForm/CloneFormFields/SourceMachineSelect/SourceMachineSelect.tsx
  src/app/machines/components/MachineHeaderForms/MachineActionFormWrapper/CloneForm/CloneResults/CloneResults.test.tsx
  src/app/machines/components/MachineHeaderForms/MachineActionFormWrapper/CloneForm/CloneResults/CloneResults.tsx
  src/app/machines/types.ts
  src/app/store/machine/actions.test.ts
  src/app/store/machine/reducers.test.ts
  src/app/store/machine/slice.ts
  src/app/store/machine/types/actions.ts
  src/app/store/machine/types/base.ts
  src/app/store/machine/utils/search.test.ts
  src/app/store/machine/utils/search.ts
Labels: Review: Code +1, Review: QA +1

#4461 rename tag filter param to node_filter
  src/app/store/tag/actions.test.ts
  src/app/store/tag/slice.ts
Labels: Review: Code needed, Review: QA +1

#4462 fix: vCenter password field text is visible in settings #4427
  src/app/settings/views/Images/VMWareForm/VMWareForm.test.tsx
  src/app/settings/views/Images/VMWareForm/VMWareForm.tsx
Labels: Review: QA +1, Review: Code +1 (with changes)

#4425 feat(machines): add group by parent
  cypress/e2e/with-users/machines/list.spec.ts
  src/app/machines/views/MachineList/MachineListControls/GroupSelect/GroupSelect.test.tsx
  src/app/machines/views/MachineList/MachineListControls/GroupSelect/GroupSelect.tsx
  src/app/machines/views/MachineList/MachineListControls/GroupSelect/__snapshots__/GroupSelect.test.tsx.snap
Labels: Review: Code +1, Review: QA +1

#4466 feat(machines): tag actions using the new API
  src/app/machines/components/MachineHeaderForms/MachineActionFormWrapper/TagForm/AddTagForm/AddTagForm.tsx
  src/app/machines/components/MachineHeaderForms/MachineActionFormWrapper/TagForm/TagChip/TagChip.tsx
  src/app/machines/components/MachineHeaderForms/MachineActionFormWrapper/TagForm/TagForm.test.tsx
  src/app/machines/components/MachineHeaderForms/MachineActionFormWrapper/TagForm/TagForm.tsx
  src/app/machines/components/MachineHeaderForms/MachineActionFormWrapper/TagForm/TagFormChanges/TagFormChanges.test.tsx
  src/app/machines/components/MachineHeaderForms/MachineActionFormWrapper/TagForm/TagFormChanges/TagFormChanges.tsx
  src/app/machines/components/MachineHeaderForms/MachineActionFormWrapper/TagForm/TagFormFields/TagFormFields.test.tsx
  src/app/machines/components/MachineHeaderForms/MachineActionFormWrapper/TagForm/TagFormFields/TagFormFields.tsx
  src/app/machines/components/MachineHeaderForms/MachineActionFormWrapper/TagForm/hooks.test.tsx
  src/app/machines/components/MachineHeaderForms/MachineActionFormWrapper/TagForm/hooks.ts
  src/app/machines/views/MachineDetails/MachineConfiguration/TagForm/TagForm.tsx
  src/app/store/machine/slice.ts
  src/app/store/tag/reducers.test.ts
  src/app/store/tag/selectors.ts
  src/app/store/tag/slice.ts
  src/app/store/tag/utils.ts
Labels: Review: Code +1, Review: QA +1

#4467 fix(machines): browser history navigation between pages
  src/app/store/machine/reducers.test.ts
  src/app/store/machine/slice.ts
Labels: Review: Code +1, Review: QA +1

#4472 fix: machine delete success
  cypress/e2e/with-users/machines/details.spec.ts
  src/app/base/components/node/DeleteForm/DeleteForm.tsx
Labels: Review: Code +1, Review: QA +1

#4475 fix: info icons disappearing on toggle
  src/app/subnets/views/SubnetDetails/SubnetSummary/SubnetSummary.tsx
  src/app/subnets/views/SubnetDetails/SubnetSummary/SubnetSummaryForm/SubnetSummaryFormFields/SubnetSummaryFormFields.tsx
  src/app/subnets/views/SubnetDetails/SubnetSummary/components/ActiveDiscoveryLabel/ActiveDiscoveryLabel.test.tsx
  src/app/subnets/views/SubnetDetails/SubnetSummary/components/ActiveDiscoveryLabel/ActiveDiscoveryLabel.tsx
  src/app/subnets/views/SubnetDetails/SubnetSummary/components/ManagedAllocationLabel/ManagedAllocationLabel.test.tsx
  src/app/subnets/views/SubnetDetails/SubnetSummary/components/ManagedAllocationLabel/ManagedAllocationLabel.tsx
Labels: Review: Code needed, Review: QA +1

#4476 fix: enable jammy kvm host option
  src/app/machines/components/MachineHeaderForms/MachineActionFormWrapper/DeployForm/DeployFormFields/DeployFormFields.tsx
Labels: Review: Code +1, Review: QA +1

#4478 fix(machines): warning message for deployed machines
  src/app/machines/components/MachineHeaderForms/MachineActionFormWrapper/TagForm/AddTagForm/AddTagForm.test.tsx
  src/app/machines/components/MachineHeaderForms/MachineActionFormWrapper/TagForm/AddTagForm/AddTagForm.tsx
  src/app/machines/components/MachineHeaderForms/MachineActionFormWrapper/TagForm/TagFormFields/TagFormFields.tsx
  src/app/store/machine/utils/common.ts
  src/app/store/machine/utils/hooks.test.tsx
  src/app/store/machine/utils/hooks.ts
  src/app/tags/components/AddTagForm/AddTagForm.tsx
  src/app/tags/components/KernelOptionsField/KernelOptionsField.test.tsx
  src/app/tags/components/KernelOptionsField/KernelOptionsField.tsx
Labels: Review: QA +1, Review: Code +1 (with changes)

#4483 test: create a machine before action tests
  cypress/e2e/with-users/machines/actions.spec.ts
Labels: Review: Code +1

#4492 fix: misaligned filter items
  src/app/base/components/FilterAccordion/_index.scss
Labels: Review: Code +1, Review: QA +1

#4489 feat(vault): add backend integration
  src/__snapshots__/root-reducer.test.ts.snap
  src/app/store/controller/selectors.test.ts
  src/app/store/controller/selectors.ts
  src/app/store/controller/types/base.ts
  src/app/store/general/actions.test.ts
  src/app/store/general/reducers.test.ts
  src/app/store/general/selectors/index.ts
  src/app/store/general/selectors/vaultEnabled.test.ts
  src/app/store/general/selectors/vaultEnabled.ts
  src/app/store/general/slice.ts
  src/app/store/general/types/base.ts
  src/app/store/general/types/index.ts
  src/testing/factories/index.ts
  src/testing/factories/nodes.ts
  src/testing/factories/state.ts
Labels: Review: Code +1

#4490 feat: update override failed test form with new api
  src/app/machines/components/MachineHeaderForms/MachineActionFormWrapper/OverrideTestForm/OverrideTestForm.test.tsx
  src/app/machines/components/MachineHeaderForms/MachineActionFormWrapper/OverrideTestForm/OverrideTestForm.tsx
Labels: Review: Code +1, Review: QA +1

#4496 fix: clone form search regex
  src/app/base/components/MachineSelectTable/MachineSelectTable.test.tsx
  src/app/base/components/MachineSelectTable/MachineSelectTable.tsx
Labels: Review: Code +1, Review: QA +1

#4495 fix: encoded amp character
  src/app/intro/views/MaasIntro/ConnectivityCard/ConnectivityCard.test.tsx
  src/app/intro/views/MaasIntro/ConnectivityCard/ConnectivityCard.tsx
Labels: Review: Code +1

#4493 test: update machine action button regex
  cypress/e2e/with-users/machines/actions.spec.ts
Labels: Review: Code +1

#4501 test: update sitespeed maasdb
  .github/workflows/sitespeed.yml
Labels: Review: Code +1

#4502 fix(machines): remove pxe_mac_vendor
  src/app/machines/views/MachineList/MachineListTable/NameColumn/NameColumn.tsx
  src/app/store/controller/types/base.ts
  src/app/store/machine/types/base.ts
  src/testing/factories/nodes.ts
Labels: Review: Code +1, Review: QA +1

#4497 fix(machines): repeated machine.count API calls
  src/app/base/components/node/MachinesHeader/MachinesHeader.test.tsx
  src/app/base/components/node/MachinesHeader/MachinesHeader.tsx
  src/app/machines/views/MachineList/MachineListHeader/MachineListHeader.test.tsx
  src/app/machines/views/MachineList/MachineListHeader/MachineListHeader.tsx
  src/app/pools/views/Pools.tsx
  src/app/store/machine/utils/hooks.test.tsx
  src/app/store/machine/utils/hooks.ts
  src/app/store/machine/utils/search.test.ts
  src/app/store/machine/utils/search.ts
  src/app/tags/components/TagsHeader/TagsHeader.tsx
Labels: Review: Code +1, Review: QA +1

#4498 feat(vault): Add vault setup instructions to settings
  src/app/base/docsUrls.ts
  src/app/settings/views/Configuration/Security/Security.test.tsx
  src/app/settings/views/Configuration/Security/Security.tsx
  src/app/settings/views/Configuration/Security/VaultSettings/VaultSettings.test.tsx
  src/app/settings/views/Configuration/Security/VaultSettings/VaultSettings.tsx
  src/app/settings/views/Configuration/Security/VaultSettings/index.ts
  src/scss/_patterns_icons.scss
Labels: Review: Code needed, Review: QA needed

#4504 feat(vault): Display warning icon next to controller nav link if not all region controllers are configured with Vault
  src/app/base/components/Header/Header.test.tsx
  src/app/base/components/Header/Header.tsx
  src/app/base/components/Header/_index.scss
Labels: Review: Code +1 (with changes)

#4508 feat(kvm): pass selected state to action forms
  src/app/kvm/components/KVMDetailsHeader/KVMDetailsHeader.tsx
  src/app/kvm/components/KVMHeaderForms/KVMHeaderForms.tsx
  src/app/kvm/components/LXDVMsTable/LXDVMsTable.tsx
  src/app/kvm/components/LXDVMsTable/VMsTable/VMsTable.test.tsx
  src/app/kvm/components/LXDVMsTable/VMsTable/VMsTable.tsx
Labels: Review: Code +1, Review: QA +1

#4499 feat(vault): Add status icons and warning message to controller list
  src/app/controllers/views/ControllerList/ControllerList.tsx
  src/app/controllers/views/ControllerList/ControllerListTable/ControllerListTable.test.tsx
  src/app/controllers/views/ControllerList/ControllerListTable/ControllerListTable.tsx
Labels: Review: Code +1 (with changes)

#4509 chore: Upgrade GitHub actions to Ubuntu 22.04
  .github/workflows/accessibility.yml
  .github/workflows/cypress.yml
  .github/workflows/lp-to-gh-issues.yml
  .github/workflows/sitespeed.yml
  .github/workflows/test.yml
  .github/workflows/upload.yml
Labels: Review: Code +1

#4503 feat(vault): Add incomplete setup warning to machine list
  src/app/machines/views/MachineList/MachineList.test.tsx
  src/app/machines/views/MachineList/MachineList.tsx
Labels: Review: QA +1, Review: Code +1 (with changes)

#4517 fix(vault): Change icon colours to accessible grey
  src/scss/_patterns_icons.scss
Labels: Review: Design +1, Review: Code +1

#4405 expose maas-ui version info
  package.json
  src/index.tsx
Labels: Review: Code needed, Maintenance 🔨

#4519 add release info to sentry
  src/app/App.tsx
Labels: Review: Code needed

#4521 fix(vault): Hide warning message in controller list before Vault setup
  src/app/controllers/views/ControllerList/ControllerList.tsx
Labels: Priority: Medium, Review: Code needed, Review: QA needed

#4523 fix: display vault notification once loaded
  src/app/base/components/VaultNotification/VaultNotification.test.tsx
  src/app/base/components/VaultNotification/VaultNotification.tsx
  src/app/base/components/VaultNotification/index.ts
  src/app/controllers/views/ControllerList/ControllerList.tsx
  src/app/machines/views/MachineList/MachineList.tsx
Labels: Review: Code +1, Review: QA +1

#4525 fix: render routes on auth loaded
  src/app/App.tsx
Labels: Review: Code +1, Review: QA +1

#4527 fix: clear machine list selection on delete success
  src/app/base/components/node/DeleteForm/DeleteForm.tsx
  src/app/machines/components/MachineHeaderForms/MachineActionFormWrapper/MachineActionFormWrapper.test.tsx
  src/app/machines/components/MachineHeaderForms/MachineActionFormWrapper/MachineActionFormWrapper.tsx
Labels: Review: Code +1, Review: QA +1

#4529 add sitespeed workflow to 3.2
  .github/workflows/sitespeed.yml
  package.json
  sitespeed.io/config.json
  sitespeed.io/login.js
  sitespeed.io/scripts/machines.js
  sitespeed.io/utils.js
Labels: Review: Code +1, Maintenance 🔨, Backport 3.2 :arrow_backward:

#4532 fix: refetch machines on after delete
  cypress/e2e/with-users/machines/list.spec.ts
  src/app/kvm/components/KVMHeaderForms/DeleteForm/DeleteForm.tsx
  src/app/machines/components/MachineHeaderForms/MachineActionFormWrapper/MachineActionFormWrapper.test.tsx
  src/app/machines/components/MachineHeaderForms/MachineActionFormWrapper/MachineActionFormWrapper.tsx
  src/app/store/machine/reducers.test.ts
  src/app/store/machine/selectors.ts
  src/app/store/machine/slice.ts
  src/app/store/machine/types/base.ts
  src/app/store/machine/utils/hooks.test.tsx
  src/app/store/machine/utils/hooks.ts
  src/testing/factories/state.ts
Labels: Review: Code +1, Review: QA +1

#4534 fix: remove colon from filters label
  src/app/base/components/FilterAccordion/FilterAccordion.tsx
  src/app/dashboard/views/DiscoveriesList/DiscoveriesFilterAccordion/DiscoveriesFilterAccordion.test.tsx
  src/app/machines/views/MachineList/MachineListControls/MachinesFilterAccordion/MachinesFilterAccordion.tsx
Labels: Review: Code +1, Review: QA +1
