Repository canonical/maas-ui, pull requests merged in 2022-02, with the labels that each got.

#3565 feat(ui): add a form to delete a VLAN
  ui/src/app/subnets/views/VLANDetails/VLANDetailsHeader/VLANDeleteForm/VLANDeleteForm.test.tsx
  ui/src/app/subnets/views/VLANDetails/VLANDetailsHeader/VLANDeleteForm/VLANDeleteForm.tsx
  ui/src/app/subnets/views/VLANDetails/VLANDetailsHeader/VLANDeleteForm/index.ts
  ui/src/app/subnets/views/VLANDetails/VLANDetailsHeader/VLANDetailsHeader.tsx
Labels: Review: Code +1, Review: QA +1

#3566 feat(ui): add helper components for rendering network model links
  ui/src/app/base/components/FabricLink/FabricLink.test.tsx
  ui/src/app/base/components/FabricLink/FabricLink.tsx
  ui/src/app/base/components/FabricLink/index.ts
  ui/src/app/base/components/SpaceLink/SpaceLink.test.tsx
  ui/src/app/base/components/SpaceLink/SpaceLink.tsx
  ui/src/app/base/components/SpaceLink/index.ts
  ui/src/app/base/components/SubnetLink/SubnetLink.test.tsx
  ui/src/app/base/components/SubnetLink/SubnetLink.tsx
  ui/src/app/base/components/SubnetLink/index.ts
  ui/src/app/base/components/VLANLink/VLANLink.test.tsx
  ui/src/app/base/components/VLANLink/VLANLink.tsx
  ui/src/app/base/components/VLANLink/index.ts
  ui/src/app/subnets/views/VLANDetails/VLANSummary/VLANSummary.tsx
Labels: Review: QA +1, Review: Code +1 (with changes)

#3567 feat(ui): add DHCP snippets table to subnet and vlan details
  ui/src/app/base/components/DHCPTable/DHCPTable.test.tsx
  ui/src/app/base/components/DHCPTable/DHCPTable.tsx
  ui/src/app/devices/views/DeviceDetails/DeviceNetwork/DeviceNetwork.tsx
  ui/src/app/machines/views/MachineDetails/MachineNetwork/MachineNetwork.tsx
  ui/src/app/store/dhcpsnippet/selectors.test.ts
  ui/src/app/store/dhcpsnippet/selectors.ts
  ui/src/app/store/subnet/selectors.test.ts
  ui/src/app/store/subnet/selectors.ts
  ui/src/app/subnets/components/DHCPSnippets/DHCPSnippets.test.tsx
  ui/src/app/subnets/components/DHCPSnippets/DHCPSnippets.tsx
  ui/src/app/subnets/views/SubnetDetails/SubnetDetails.tsx
  ui/src/app/subnets/views/VLANDetails/VLANDetails.tsx
Labels: Review: QA +1, Review: Code +1 (with changes)

#3570 fix(ui): close the dhcp form on success
  ui/src/app/base/components/DhcpForm/DhcpForm.test.tsx
  ui/src/app/base/components/DhcpForm/DhcpForm.tsx
Labels: Review: Code +1, Review: QA +1

#3569 feat(ui): build Subnets in this VLAN table
  ui/src/app/subnets/views/VLANDetails/VLANDetails.tsx
  ui/src/app/subnets/views/VLANDetails/VLANSubnets/VLANSubnets.test.tsx
  ui/src/app/subnets/views/VLANDetails/VLANSubnets/VLANSubnets.tsx
  ui/src/app/subnets/views/VLANDetails/VLANSubnets/_index.scss
  ui/src/scss/index.scss
Labels: Review: QA +1, Review: Code +1 (with changes)

#3571 refactor: subnet take action
  ui/src/app/subnets/views/SubnetDetails/SubnetDetailsHeader/SubnetActionForms/SubnetActionForms.tsx
  ui/src/app/subnets/views/SubnetDetails/SubnetDetailsHeader/SubnetActionForms/components/DeleteSubnet.tsx
  ui/src/app/subnets/views/SubnetDetails/SubnetDetailsHeader/SubnetActionForms/components/EditBootArchitectures.tsx
  ui/src/app/subnets/views/SubnetDetails/SubnetDetailsHeader/SubnetActionForms/components/MapSubnet.tsx
  ui/src/app/subnets/views/SubnetDetails/SubnetDetailsHeader/SubnetActionForms/index.ts
  ui/src/app/subnets/views/SubnetDetails/SubnetDetailsHeader/SubnetDetailsHeader.test.tsx
  ui/src/app/subnets/views/SubnetDetails/SubnetDetailsHeader/SubnetDetailsHeader.tsx
  ui/src/app/subnets/views/SubnetDetails/constants.ts
  ui/src/app/subnets/views/SubnetDetails/types.ts
Labels: Review: QA +1, Review: Code +1 (with changes)

#3576 add VisuallyHidden and useId utils
  ui/src/app/base/components/VisuallyHidden/VisuallyHidden.test.tsx
  ui/src/app/base/components/VisuallyHidden/VisuallyHidden.tsx
  ui/src/app/base/components/VisuallyHidden/_index.scss
  ui/src/app/base/components/VisuallyHidden/index.ts
  ui/src/app/base/hooks/base.test.tsx
  ui/src/app/base/hooks/base.ts
  ui/src/app/subnets/views/SpaceDetails/SpaceSummary/SpaceSummary.tsx
  ui/src/app/subnets/views/VLANDetails/VLANSummary/VLANSummary.tsx
Labels: Review: Code +1

#3572 refactor: button to delete fabric
  ui/src/app/subnets/views/FabricDetails/FabricDetailsHeader/FabricDetailsHeader.test.tsx
  ui/src/app/subnets/views/FabricDetails/FabricDetailsHeader/FabricDetailsHeader.tsx
Labels: Review: QA +1, Review: Code +1 (with changes)

#3577 feat(ui): add reusable titled component to subnets
  ui/src/app/base/components/DHCPTable/DHCPTable.tsx
  ui/src/app/base/components/TitledSection/TitledSection.test.tsx
  ui/src/app/base/components/TitledSection/TitledSection.tsx
  ui/src/app/base/components/TitledSection/index.ts
  ui/src/app/base/hooks/base.test.tsx
  ui/src/app/devices/views/DeviceDetails/DeviceNetwork/DeviceNetwork.tsx
  ui/src/app/machines/views/MachineDetails/MachineNetwork/MachineNetwork.tsx
  ui/src/app/subnets/components/DHCPSnippets/DHCPSnippets.tsx
  ui/src/app/subnets/components/ReservedRanges/ReservedRanges.tsx
  ui/src/app/subnets/views/FabricDetails/FabricSummary/FabricSummary.tsx
  ui/src/app/subnets/views/FabricDetails/FabricVLANs/FabricVLANs.tsx
  ui/src/app/subnets/views/SpaceDetails/SpaceSubnets/SpaceSubnets.tsx
  ui/src/app/subnets/views/SpaceDetails/SpaceSummary/SpaceSummary.tsx
  ui/src/app/subnets/views/SubnetDetails/StaticRoutes/StaticRoutes.tsx
  ui/src/app/subnets/views/SubnetDetails/SubnetSummary/SubnetSummary.tsx
  ui/src/app/subnets/views/SubnetDetails/UsedIPs/SubnetUsedIPs.tsx
  ui/src/app/subnets/views/SubnetDetails/Utilisation/SubnetUtilisation.tsx
  ui/src/app/subnets/views/VLANDetails/DHCPStatus/DHCPStatus.tsx
  ui/src/app/subnets/views/VLANDetails/VLANSubnets/VLANSubnets.tsx
  ui/src/app/subnets/views/VLANDetails/VLANSummary/VLANSummary.tsx
Labels: Review: Code +1, Review: QA +1

#3578 fix(ui): update delete fabric form
  ui/src/app/store/subnet/selectors.test.ts
  ui/src/app/store/subnet/selectors.ts
  ui/src/app/subnets/views/FabricDetails/FabricDetails.test.tsx
  ui/src/app/subnets/views/FabricDetails/FabricDetails.tsx
  ui/src/app/subnets/views/FabricDetails/FabricDetailsHeader/FabricDeleteForm/FabricDeleteForm.test.tsx
  ui/src/app/subnets/views/FabricDetails/FabricDetailsHeader/FabricDeleteForm/FabricDeleteForm.tsx
  ui/src/app/subnets/views/FabricDetails/FabricDetailsHeader/FabricDeleteForm/index.ts
  ui/src/app/subnets/views/FabricDetails/FabricDetailsHeader/FabricDetailsHeader.test.tsx
  ui/src/app/subnets/views/FabricDetails/FabricDetailsHeader/FabricDetailsHeader.tsx
  ui/src/app/subnets/views/VLANDetails/VLANDetailsHeader/VLANDeleteForm/VLANDeleteForm.test.tsx
  ui/src/app/subnets/views/VLANDetails/VLANDetailsHeader/VLANDeleteForm/VLANDeleteForm.tsx
  ui/src/app/subnets/views/VLANDetails/VLANDetailsHeader/VLANDetailsHeader.test.tsx
  ui/src/app/subnets/views/VLANDetails/VLANDetailsHeader/VLANDetailsHeader.tsx
Labels: Review: QA +1, Review: Code +1 (with changes)

#3579 feat(ui): add VLAN summary edit form
  ui/src/app/base/components/FormikFormContent/FormikFormContent.tsx
  ui/src/app/base/components/SpaceSelect/SpaceSelect.tsx
  ui/src/app/store/types/enum.ts
  ui/src/app/subnets/views/FormActions/components/AddVlan.test.tsx
  ui/src/app/subnets/views/VLANDetails/EditVLAN/EditVLAN.test.tsx
  ui/src/app/subnets/views/VLANDetails/EditVLAN/EditVLAN.tsx
  ui/src/app/subnets/views/VLANDetails/EditVLAN/index.ts
  ui/src/app/subnets/views/VLANDetails/VLANSummary/VLANControllers/VLANControllers.test.tsx
  ui/src/app/subnets/views/VLANDetails/VLANSummary/VLANControllers/VLANControllers.tsx
  ui/src/app/subnets/views/VLANDetails/VLANSummary/VLANControllers/index.ts
  ui/src/app/subnets/views/VLANDetails/VLANSummary/VLANSummary.test.tsx
  ui/src/app/subnets/views/VLANDetails/VLANSummary/VLANSummary.tsx
Labels: Review: Code +1, Review: QA +1

#3575 Build VLANs on fabric table
  ui/src/app/subnets/views/FabricDetails/FabricDetails.tsx
  ui/src/app/subnets/views/FabricDetails/FabricVLANs/FabricVLANs.test.tsx
  ui/src/app/subnets/views/FabricDetails/FabricVLANs/FabricVLANs.tsx
Labels: Review: Code needed, Review: QA +1

#3580 feat(ui): build VLAN DHCP status section
  ui/src/app/base/components/ControllerLink/ControllerLink.test.tsx
  ui/src/app/base/components/ControllerLink/ControllerLink.tsx
  ui/src/app/base/components/FabricLink/FabricLink.test.tsx
  ui/src/app/base/components/FabricLink/FabricLink.tsx
  ui/src/app/base/components/SpaceLink/SpaceLink.test.tsx
  ui/src/app/base/components/SpaceLink/SpaceLink.tsx
  ui/src/app/base/components/SubnetLink/SubnetLink.test.tsx
  ui/src/app/base/components/SubnetLink/SubnetLink.tsx
  ui/src/app/base/components/VLANLink/VLANLink.test.tsx
  ui/src/app/base/components/VLANLink/VLANLink.tsx
  ui/src/app/controllers/views/ControllerList/ControllerListTable/ControllerListTable.tsx
  ui/src/app/subnets/views/FabricDetails/FabricSummary/FabricSummary.tsx
  ui/src/app/subnets/views/VLANDetails/DHCPStatus/DHCPStatus.test.tsx
  ui/src/app/subnets/views/VLANDetails/DHCPStatus/DHCPStatus.tsx
  ui/src/app/subnets/views/VLANDetails/VLANDetails.test.tsx
  ui/src/app/subnets/views/VLANDetails/VLANDetails.tsx
  ui/src/app/subnets/views/VLANDetails/VLANDetailsHeader/VLANDetailsHeader.tsx
  ui/src/app/subnets/views/VLANDetails/VLANSummary/VLANControllers/VLANControllers.tsx
  ui/src/app/subnets/views/VLANDetails/VLANSummary/VLANSummary.tsx
Labels: Review: QA +1, Review: Code +1 (with changes)

#3573 refactor: subnet delete action
  integration/cypress/integration/subnets/add.spec.ts
  ui/src/app/base/components/FormikFormButtons/FormikFormButtons.tsx
  ui/src/app/base/components/TitledSection/TitledSection.test.tsx
  ui/src/app/base/components/TitledSection/TitledSection.tsx
  ui/src/app/store/subnet/utils.ts
  ui/src/app/subnets/views/FormActions/components/AddSubnet.tsx
  ui/src/app/subnets/views/SubnetDetails/SubnetDetailsHeader/SubnetActionForms/SubnetActionForms.tsx
  ui/src/app/subnets/views/SubnetDetails/SubnetDetailsHeader/SubnetActionForms/components/DeleteSubnet.tsx
  ui/src/app/subnets/views/SubnetDetails/SubnetDetailsHeader/SubnetActionForms/components/DeleteSubnet/DeleteSubnet.test.tsx
  ui/src/app/subnets/views/SubnetDetails/SubnetDetailsHeader/SubnetActionForms/components/DeleteSubnet/DeleteSubnet.tsx
  ui/src/app/subnets/views/SubnetDetails/SubnetDetailsHeader/SubnetActionForms/components/DeleteSubnet/index.ts
  ui/src/app/subnets/views/SubnetDetails/SubnetDetailsHeader/SubnetDetailsHeader.tsx
  ui/src/app/subnets/views/SubnetDetails/constants.ts
  ui/src/app/subnets/views/SubnetDetails/types.ts
Labels: Review: QA +1, Review: Code +1 (with changes)

#3583 feat(ui): add iprange slice
  ui/src/__snapshots__/root-reducer.test.ts.snap
  ui/src/app/store/iprange/action.test.ts
  ui/src/app/store/iprange/index.ts
  ui/src/app/store/iprange/reducers.test.ts
  ui/src/app/store/iprange/selectors.test.ts
  ui/src/app/store/iprange/selectors.ts
  ui/src/app/store/iprange/slice.ts
  ui/src/app/store/iprange/types/actions.ts
  ui/src/app/store/iprange/types/base.ts
  ui/src/app/store/iprange/types/enum.ts
  ui/src/app/store/iprange/types/index.ts
  ui/src/app/store/root/types.ts
  ui/src/root-reducer.ts
  ui/src/testing/factories/index.ts
  ui/src/testing/factories/iprange.ts
  ui/src/testing/factories/state.ts
Labels: Review: Code +1 (with changes)

#3586 Build subnet summary section
  ui/src/app/subnets/views/SubnetDetails/SubnetDetails.tsx
  ui/src/app/subnets/views/SubnetDetails/SubnetSummary/SubnetSummary.test.tsx
  ui/src/app/subnets/views/SubnetDetails/SubnetSummary/SubnetSummary.tsx
Labels: Review: QA +1, Review: Code +1 (with changes)

#3582 feat(ui): improve UX of fabric VLANs table
  ui/src/app/store/vlan/selectors.test.ts
  ui/src/app/store/vlan/selectors.ts
  ui/src/app/subnets/views/FabricDetails/FabricVLANs/FabricVLANs.test.tsx
  ui/src/app/subnets/views/FabricDetails/FabricVLANs/FabricVLANs.tsx
  ui/src/app/subnets/views/FabricDetails/FabricVLANs/_index.scss
  ui/src/scss/index.scss
Labels: Review: Code +1, Review: QA +1

#3584 refactor: edit fabric form
  ui/src/app/subnets/views/FabricDetails/EditFabric/EditFabric.test.tsx
  ui/src/app/subnets/views/FabricDetails/EditFabric/EditFabric.tsx
  ui/src/app/subnets/views/FabricDetails/EditFabric/index.tsx
  ui/src/app/subnets/views/FabricDetails/FabricSummary/FabricController/FabricController.test.tsx
  ui/src/app/subnets/views/FabricDetails/FabricSummary/FabricController/FabricControllers.tsx
  ui/src/app/subnets/views/FabricDetails/FabricSummary/FabricController/index.tsx
  ui/src/app/subnets/views/FabricDetails/FabricSummary/FabricSummary.test.tsx
  ui/src/app/subnets/views/FabricDetails/FabricSummary/FabricSummary.tsx
Labels: Review: Code needed, Review: QA +1

#3585 refactor: subnets on this space
  ui/src/app/store/subnet/selectors.ts
  ui/src/app/subnets/views/SpaceDetails/SpaceDetails.tsx
  ui/src/app/subnets/views/SpaceDetails/SpaceSubnets/SpaceSubnets.test.tsx
  ui/src/app/subnets/views/SpaceDetails/SpaceSubnets/SpaceSubnets.tsx
Labels: Review: Code needed, Review: QA needed

#3588 Update subnet details to display definition labels above the content.
  ui/src/app/base/components/Definition/Definition.tsx
  ui/src/app/subnets/views/SubnetDetails/SubnetDetails.tsx
  ui/src/app/subnets/views/SubnetDetails/SubnetSummary/SubnetSummary.test.tsx
  ui/src/app/subnets/views/SubnetDetails/SubnetSummary/SubnetSummary.tsx
Labels: Review: Code +1, Review: QA +1

#3591 refactor: subnet utilisation section
  ui/src/app/subnets/views/SubnetDetails/SubnetDetails.tsx
  ui/src/app/subnets/views/SubnetDetails/SubnetDetailsHeader/SubnetActionForms/components/DeleteSubnet/DeleteSubnet.test.tsx
  ui/src/app/subnets/views/SubnetDetails/Utilisation/SubnetUtilisation.test.tsx
  ui/src/app/subnets/views/SubnetDetails/Utilisation/SubnetUtilisation.tsx
Labels: Review: Code +1, Review: QA +1

#3590 feat(ui): first pass at building DHCP configuration form
  ui/src/app/store/vlan/selectors.test.ts
  ui/src/app/store/vlan/selectors.ts
  ui/src/app/store/vlan/types/actions.ts
  ui/src/app/subnets/views/VLANDetails/ConfigureDHCP/ConfigureDHCP.test.tsx
  ui/src/app/subnets/views/VLANDetails/ConfigureDHCP/ConfigureDHCP.tsx
  ui/src/app/subnets/views/VLANDetails/ConfigureDHCP/ConfigureDHCPFields/ConfigureDHCPFields.tsx
  ui/src/app/subnets/views/VLANDetails/ConfigureDHCP/ConfigureDHCPFields/index.ts
  ui/src/app/subnets/views/VLANDetails/ConfigureDHCP/index.ts
  ui/src/app/subnets/views/VLANDetails/DHCPStatus/DHCPStatus.test.tsx
  ui/src/app/subnets/views/VLANDetails/DHCPStatus/DHCPStatus.tsx
  ui/src/app/subnets/views/VLANDetails/VLANDetails.tsx
Labels: Review: QA +1, Review: Code +1 (with changes)

#3589 feat(ui): add reserved ranges table
  ui/src/app/store/iprange/selectors.test.ts
  ui/src/app/store/iprange/selectors.ts
  ui/src/app/subnets/components/ReservedRanges/ReservedRanges.test.tsx
  ui/src/app/subnets/components/ReservedRanges/ReservedRanges.tsx
  ui/src/app/subnets/components/ReservedRanges/_index.scss
  ui/src/app/subnets/views/SubnetDetails/SubnetDetails.tsx
  ui/src/app/subnets/views/SubnetsList/_index.scss
  ui/src/app/subnets/views/VLANDetails/VLANDetails.tsx
  ui/src/scss/index.scss
Labels: Review: Code +1, Review: QA +1

#3587 fix(ui): small fixes in networking details pages
  ui/src/app/subnets/views/FabricDetails/EditFabric/EditFabric.tsx
  ui/src/app/subnets/views/FabricDetails/FabricSummary/FabricController/FabricControllers.tsx
  ui/src/app/subnets/views/FabricDetails/FabricSummary/FabricSummary.tsx
  ui/src/app/subnets/views/FabricDetails/FabricVLANs/FabricVLANs.test.tsx
  ui/src/app/subnets/views/FabricDetails/FabricVLANs/FabricVLANs.tsx
  ui/src/app/subnets/views/FabricDetails/FabricVLANs/_index.scss
  ui/src/app/subnets/views/SpaceDetails/SpaceSubnets/SpaceSubnets.tsx
Labels: Review: QA +1, Review: Code +1 (with changes)

#3594 feat(ui): delete reserved ranges
  ui/src/app/subnets/components/ReservedRanges/ReservedRanges.test.tsx
  ui/src/app/subnets/components/ReservedRanges/ReservedRanges.tsx
Labels: Review: Code +1, Review: QA +1

#3595 feat(ui): edit reserved ranges
  ui/src/app/subnets/components/ReservedRangeForm/ReservedRangeForm.test.tsx
  ui/src/app/subnets/components/ReservedRangeForm/ReservedRangeForm.tsx
  ui/src/app/subnets/components/ReservedRangeForm/index.ts
  ui/src/app/subnets/components/ReservedRanges/ReservedRanges.test.tsx
  ui/src/app/subnets/components/ReservedRanges/ReservedRanges.tsx
Labels: Review: Code +1, Review: QA +1

#3596 feat(ui): add reserved ranges table/form to Configure DHCP section
  ui/src/app/store/iprange/utils.test.ts
  ui/src/app/store/iprange/utils.ts
  ui/src/app/subnets/components/ReservedRanges/ReservedRanges.tsx
  ui/src/app/subnets/views/VLANDetails/ConfigureDHCP/ConfigureDHCP.test.tsx
  ui/src/app/subnets/views/VLANDetails/ConfigureDHCP/ConfigureDHCP.tsx
  ui/src/app/subnets/views/VLANDetails/ConfigureDHCP/ConfigureDHCPFields/ConfigureDHCPFields.tsx
  ui/src/app/subnets/views/VLANDetails/ConfigureDHCP/DHCPReservedRanges/DHCPReservedRanges.test.tsx
  ui/src/app/subnets/views/VLANDetails/ConfigureDHCP/DHCPReservedRanges/DHCPReservedRanges.tsx
  ui/src/app/subnets/views/VLANDetails/ConfigureDHCP/DHCPReservedRanges/index.ts
Labels: Review: Code +1, Review: QA +1

#3599 feat(ui): add forms for reserving ranges
  ui/src/app/subnets/components/ReservedRangeForm/ReservedRangeForm.test.tsx
  ui/src/app/subnets/components/ReservedRangeForm/ReservedRangeForm.tsx
  ui/src/app/subnets/components/ReservedRanges/ReservedRanges.test.tsx
  ui/src/app/subnets/components/ReservedRanges/ReservedRanges.tsx
  ui/src/app/subnets/views/VLANDetails/VLANDetails.tsx
Labels: Review: Code +1, Review: QA +1

#3597 feat(ui): build Map Subnet form in Subnet details page.
  ui/src/app/store/subnet/types/base.ts
  ui/src/app/subnets/views/SubnetDetails/SubnetDetailsHeader/SubnetActionForms/components/MapSubnet.tsx
  ui/src/app/subnets/views/SubnetDetails/SubnetDetailsHeader/SubnetActionForms/components/MapSubnet/MapSubnet.test.tsx
  ui/src/app/subnets/views/SubnetDetails/SubnetDetailsHeader/SubnetActionForms/components/MapSubnet/MapSubnet.tsx
  ui/src/app/subnets/views/SubnetDetails/SubnetDetailsHeader/SubnetActionForms/components/MapSubnet/index.ts
  ui/src/testing/factories/subnet.ts
Labels: Review: Code +1, Review: QA +1

#3598 fix(ui): improve validation of Configure DHCP form.
  ui/src/app/subnets/views/VLANDetails/ConfigureDHCP/ConfigureDHCP.test.tsx
  ui/src/app/subnets/views/VLANDetails/ConfigureDHCP/ConfigureDHCP.tsx
  ui/src/app/subnets/views/VLANDetails/ConfigureDHCP/ConfigureDHCPFields/ConfigureDHCPFields.tsx
  ui/src/app/subnets/views/VLANDetails/ConfigureDHCP/DHCPReservedRanges/DHCPReservedRanges.test.tsx
  ui/src/app/subnets/views/VLANDetails/ConfigureDHCP/DHCPReservedRanges/DHCPReservedRanges.tsx
Labels: Review: Code +1, Review: QA +1

#3601 feat(ui): set up known_boot_architectures in general state
  ui/src/__snapshots__/root-reducer.test.ts.snap
  ui/src/app/store/general/actions.test.ts
  ui/src/app/store/general/reducers.test.ts
  ui/src/app/store/general/selectors/index.ts
  ui/src/app/store/general/selectors/knownBootArchitectures.test.ts
  ui/src/app/store/general/selectors/knownBootArchitectures.ts
  ui/src/app/store/general/slice.ts
  ui/src/app/store/general/types/base.ts
  ui/src/app/store/general/types/enum.ts
  ui/src/app/store/general/types/index.ts
  ui/src/app/store/subnet/types/base.ts
  ui/src/app/subnets/views/SubnetDetails/SubnetDetailsHeader/SubnetActionForms/components/EditBootArchitectures.tsx
  ui/src/app/subnets/views/SubnetDetails/SubnetDetailsHeader/SubnetActionForms/components/EditBootArchitectures/EditBootArchitectures.test.tsx
  ui/src/app/subnets/views/SubnetDetails/SubnetDetailsHeader/SubnetActionForms/components/EditBootArchitectures/EditBootArchitectures.tsx
  ui/src/app/subnets/views/SubnetDetails/SubnetDetailsHeader/SubnetActionForms/components/EditBootArchitectures/index.ts
  ui/src/testing/factories/general.ts
  ui/src/testing/factories/index.ts
  ui/src/testing/factories/state.ts
Labels: Review: Code +1, Review: QA +1

#3602 refactor: static routes section
  ui/src/app/subnets/views/SubnetDetails/StaticRoutes/StaticRoutes.test.tsx
  ui/src/app/subnets/views/SubnetDetails/StaticRoutes/StaticRoutes.tsx
  ui/src/app/subnets/views/SubnetDetails/SubnetDetails.tsx
Labels: Review: Code needed, Review: QA +1

#3605 fix(ui): minor fixes in Subnet Static Routes section
  ui/src/app/subnets/views/SubnetDetails/StaticRoutes/StaticRoutes.tsx
Labels: Review: Code +1, Review: QA +1

#3604 refactor(ui): turn subnet utils into hooks
  ui/src/app/store/subnet/hooks.test.tsx
  ui/src/app/store/subnet/hooks.ts
  ui/src/app/store/subnet/utils.test.ts
  ui/src/app/store/subnet/utils.ts
  ui/src/app/subnets/views/SpaceDetails/SpaceDetailsHeader/SpaceDelete/SpaceDelete.tsx
  ui/src/app/subnets/views/SubnetDetails/SubnetDetailsHeader/SubnetActionForms/components/DeleteSubnet/DeleteSubnet.test.tsx
  ui/src/app/subnets/views/SubnetDetails/SubnetDetailsHeader/SubnetActionForms/components/DeleteSubnet/DeleteSubnet.tsx
Labels: Review: Code +1, Review: QA +1

#3607 feat(ui): build "Edit boot architectures" form in subnet details
  ui/src/app/subnets/views/SubnetDetails/SubnetDetailsHeader/SubnetActionForms/components/EditBootArchitectures/BootArchitecturesTable/BootArchitecturesTable.test.tsx
  ui/src/app/subnets/views/SubnetDetails/SubnetDetailsHeader/SubnetActionForms/components/EditBootArchitectures/BootArchitecturesTable/BootArchitecturesTable.tsx
  ui/src/app/subnets/views/SubnetDetails/SubnetDetailsHeader/SubnetActionForms/components/EditBootArchitectures/BootArchitecturesTable/_index.scss
  ui/src/app/subnets/views/SubnetDetails/SubnetDetailsHeader/SubnetActionForms/components/EditBootArchitectures/BootArchitecturesTable/index.ts
  ui/src/app/subnets/views/SubnetDetails/SubnetDetailsHeader/SubnetActionForms/components/EditBootArchitectures/EditBootArchitectures.test.tsx
  ui/src/app/subnets/views/SubnetDetails/SubnetDetailsHeader/SubnetActionForms/components/EditBootArchitectures/EditBootArchitectures.tsx
  ui/src/scss/index.scss
Labels: Review: QA +1, Review: Code +1 (with changes)

#3600 Build subnet summary edit form
  ui/src/app/base/components/VLANSelect/VLANSelect.test.tsx
  ui/src/app/base/components/VLANSelect/VLANSelect.tsx
  ui/src/app/subnets/views/SubnetDetails/SubnetSummary/SubnetSummary.tsx
  ui/src/app/subnets/views/SubnetDetails/SubnetSummary/SubnetSummaryForm/SubnetSummaryForm.test.tsx
  ui/src/app/subnets/views/SubnetDetails/SubnetSummary/SubnetSummaryForm/SubnetSummaryForm.tsx
  ui/src/app/subnets/views/SubnetDetails/SubnetSummary/SubnetSummaryForm/SubnetSummaryFormFields/SubnetSummaryFormFields.tsx
  ui/src/app/subnets/views/SubnetDetails/SubnetSummary/SubnetSummaryForm/SubnetSummaryFormFields/index.ts
  ui/src/app/subnets/views/SubnetDetails/SubnetSummary/SubnetSummaryForm/index.ts
  ui/src/app/subnets/views/SubnetDetails/SubnetSummary/SubnetSummaryForm/types.ts
Labels: Review: Code +1, Review: QA +1

#3609 feat(ui): add useScrollToTop hook
  ui/src/app/base/hooks/base.test.tsx
  ui/src/app/base/hooks/base.ts
  ui/src/app/base/hooks/index.ts
  ui/src/app/subnets/views/Subnets.tsx
Labels: Review: Code +1, Review: QA +1

#3610 generate unique ids when mocking nanoid
  ui/package.json
  ui/src/__mocks__/@reduxjs/toolkit.ts
  ui/src/app/base/components/ArchitectureSelect/__snapshots__/ArchitectureSelect.test.tsx.snap
  ui/src/app/base/components/DomainSelect/__snapshots__/DomainSelect.test.tsx.snap
  ui/src/app/base/components/DoughnutChart/__snapshots__/DoughnutChart.test.tsx.snap
  ui/src/app/base/components/GroupCheckbox/__snapshots__/GroupCheckbox.test.tsx.snap
  ui/src/app/base/components/MinimumKernelSelect/__snapshots__/MinimumKernelSelect.test.tsx.snap
  ui/src/app/base/components/NodeName/NodeNameFields/__snapshots__/NodeNameFields.test.tsx.snap
  ui/src/app/base/components/NodeName/__snapshots__/NodeName.test.tsx.snap
  ui/src/app/base/components/ResourcePoolSelect/__snapshots__/ResourcePoolSelect.test.tsx.snap
  ui/src/app/base/components/RowCheckbox/__snapshots__/RowCheckbox.test.tsx.snap
  ui/src/app/base/components/ZoneSelect/__snapshots__/ZoneSelect.test.tsx.snap
  ui/src/app/base/hooks/base.ts
  ui/src/app/machines/views/MachineDetails/MachineLogs/DownloadMenu/DownloadMenu.test.tsx
  ui/src/app/machines/views/MachineList/MachineListTable/NameColumn/__snapshots__/NameColumn.test.tsx.snap
  ui/src/setupTests.ts
Labels: Review: Code +1

#3608 refactor: subnets add static route form
  ui/src/app/base/components/FormikField/FormikField.tsx
  ui/src/app/store/user/selectors.ts
  ui/src/app/subnets/views/SubnetDetails/StaticRoutes/AddStaticRouteForm/AddStaticRouteForm.test.tsx
  ui/src/app/subnets/views/SubnetDetails/StaticRoutes/AddStaticRouteForm/AddStaticRouteForm.tsx
  ui/src/app/subnets/views/SubnetDetails/StaticRoutes/AddStaticRouteForm/index.ts
  ui/src/app/subnets/views/SubnetDetails/StaticRoutes/StaticRoutes.test.tsx
  ui/src/app/subnets/views/SubnetDetails/StaticRoutes/StaticRoutes.tsx
  ui/src/app/subnets/views/SubnetDetails/SubnetDetails.tsx
Labels: Review: QA +1, Review: Code +1 (with changes)

#3612 fix(ui): minor improvements to subnet summary edit form
  ui/src/app/subnets/views/SubnetDetails/SubnetSummary/SubnetSpace/SubnetSpace.test.tsx
  ui/src/app/subnets/views/SubnetDetails/SubnetSummary/SubnetSpace/SubnetSpace.tsx
  ui/src/app/subnets/views/SubnetDetails/SubnetSummary/SubnetSpace/index.ts
  ui/src/app/subnets/views/SubnetDetails/SubnetSummary/SubnetSummary.tsx
  ui/src/app/subnets/views/SubnetDetails/SubnetSummary/SubnetSummaryForm/SubnetSummaryForm.test.tsx
  ui/src/app/subnets/views/SubnetDetails/SubnetSummary/SubnetSummaryForm/SubnetSummaryFormFields/SubnetSummaryFormFields.test.tsx
  ui/src/app/subnets/views/SubnetDetails/SubnetSummary/SubnetSummaryForm/SubnetSummaryFormFields/SubnetSummaryFormFields.tsx
Labels: Review: Code +1, Review: QA +1

#3613 fix(ui): reserved ranges layout
  ui/src/app/subnets/components/ReservedRangeForm/ReservedRangeForm.test.tsx
  ui/src/app/subnets/components/ReservedRangeForm/ReservedRangeForm.tsx
  ui/src/app/subnets/components/ReservedRanges/ReservedRanges.tsx
  ui/src/app/subnets/components/ReservedRanges/_index.scss
Labels: Review: Code +1, Review: QA +1

#3611 fix(ui): add static route form improvements
  ui/src/app/base/components/SubnetSelect/SubnetSelect.test.tsx
  ui/src/app/base/components/SubnetSelect/SubnetSelect.tsx
  ui/src/app/store/user/selectors.ts
  ui/src/app/subnets/views/SubnetDetails/StaticRoutes/AddStaticRouteForm/AddStaticRouteForm.tsx
  ui/src/app/subnets/views/SubnetDetails/StaticRoutes/StaticRoutes.tsx
Labels: Review: Code +1, Review: QA +1

#3614 refactor: subnet used IPs
  ui/src/app/store/subnet/types/enum.ts
  ui/src/app/subnets/views/SubnetDetails/SubnetDetails.tsx
  ui/src/app/subnets/views/SubnetDetails/UsedIPs/SubnetUsedIPs.test.tsx
  ui/src/app/subnets/views/SubnetDetails/UsedIPs/SubnetUsedIPs.tsx
  ui/src/app/subnets/views/SubnetDetails/UsedIPs/_index.scss
  ui/src/scss/index.scss
Labels: Review: QA +1, Review: Code +1 (with changes)

#3606 refactor: update links to the react subnets pages
  FETCH_HEAD
  legacy/src/app/controllers/master.js
  legacy/src/app/partials/cards/images.html
  legacy/src/app/partials/node-details.html
  shared/src/components/Header/Header.test.tsx
  shared/src/components/Header/Header.tsx
  shared/src/components/Header/types.ts
  ui/src/app/App.tsx
  ui/src/app/base/components/ControllerLink/ControllerLink.test.tsx
  ui/src/app/base/components/ControllerLink/ControllerLink.tsx
  ui/src/app/base/components/node/networking/FabricColumn/FabricColumn.test.tsx
  ui/src/app/base/components/node/networking/FabricColumn/FabricColumn.tsx
  ui/src/app/base/components/node/networking/SubnetColumn/SubnetColumn.test.tsx
  ui/src/app/base/components/node/networking/SubnetColumn/SubnetColumn.tsx
  ui/src/app/base/urls.ts
  ui/src/app/controllers/urls.ts
  ui/src/app/controllers/views/ControllerList/ControllerListTable/ControllerListTable.test.tsx
  ui/src/app/controllers/views/ControllerList/ControllerListTable/VLANsColumn/VLANsColumn.tsx
  ui/src/app/dashboard/views/DashboardConfigurationForm/DashboardConfigurationSubnetForm/DashboardConfigurationSubnetForm.test.tsx
  ui/src/app/dashboard/views/DashboardConfigurationForm/DashboardConfigurationSubnetForm/DashboardConfigurationSubnetForm.tsx
  ui/src/app/dashboard/views/DiscoveryAddForm/DiscoveryAddFormFields/DiscoveryAddFormFields.tsx
  ui/src/app/devices/views/DeviceDetails/DeviceNetwork/DeviceNetworkTable/DeviceNetworkTable.test.tsx
  ui/src/app/devices/views/DeviceDetails/DeviceNetwork/EditInterface/EditInterfaceTable/EditInterfaceTable.test.tsx
  ui/src/app/domains/views/DomainDetails/ResourceRecords/ResourceRecords.tsx
  ui/src/app/machines/components/MachineHeaderForms/ActionFormWrapper/DeployForm/DeployFormFields/DeployFormFields.tsx
  ui/src/app/machines/views/MachineDetails/MachineNetwork/NetworkTable/NetworkTable.test.tsx
  ui/src/app/machines/views/MachineDetails/MachineSummary/SummaryNotifications/SummaryNotifications.tsx
  ui/src/app/machines/views/MachineList/MachineListTable/FabricColumn/FabricColumn.tsx
  ui/src/app/machines/views/MachineList/MachineListTable/FabricColumn/__snapshots__/FabricColumn.test.tsx.snap
  ui/src/app/machines/views/MachineList/MachineListTable/ZoneColumn/ZoneColumn.tsx
  ui/src/app/machines/views/MachineList/MachineListTable/ZoneColumn/__snapshots__/ZoneColumn.test.tsx.snap
  ui/src/app/settings/views/Dhcp/DhcpTarget/DhcpTarget.test.tsx
  ui/src/app/settings/views/Dhcp/DhcpTarget/DhcpTarget.tsx
  ui/src/app/subnets/views/VLANDetails/DHCPStatus/DHCPStatus.test.tsx
  ui/src/app/subnets/views/VLANDetails/VLANSummary/VLANControllers/VLANControllers.test.tsx
  ui/src/app/subnets/views/VLANDetails/VLANSummary/VLANSummary.test.tsx
Labels: Review: QA +1, Review: Code +1 (with changes), Legacy 🧟‍♂️

#3616 feat(ui): display a subnet column for VLAN reserved ranges
  ui/src/app/subnets/components/ReservedRangeForm/ReservedRangeForm.tsx
  ui/src/app/subnets/components/ReservedRanges/ReservedRanges.test.tsx
  ui/src/app/subnets/components/ReservedRanges/ReservedRanges.tsx
  ui/src/app/subnets/components/ReservedRanges/_index.scss
Labels: Review: QA +1, Review: Code +1 (with changes)

#3618 fix(ui): allow adding VLANs without a space
  ui/src/app/subnets/views/FormActions/components/AddVlan.tsx
Labels: Review: Code +1, Review: QA +1

#3620 refactor: remove legacy cypress subnets tests
  integration/cypress/integration/legacy/subnets.spec.ts
  integration/cypress/integration/subnets/subnets.spec.ts
Labels: Review: Code +1

#3621 refactor: use not.toBeInTheDocument assertions
  ui/src/app/subnets/components/ReservedRangeForm/ReservedRangeForm.test.tsx
  ui/src/app/subnets/views/SubnetDetails/SubnetDetailsHeader/SubnetActionForms/components/DeleteSubnet/DeleteSubnet.test.tsx
  ui/src/app/subnets/views/SubnetDetails/SubnetSummary/SubnetSummary.test.tsx
  ui/src/app/subnets/views/VLANDetails/VLANSummary/VLANSummary.test.tsx
Labels: Review: Code +1

#3628 test: update cypress networks path
  integration/cypress/integration/accessibility/accessibility.spec.ts
  integration/cypress/integration/base/header.spec.ts
Labels: Review: Code +1

#3632 fix(ui): fix validation of VLAN DHCP configuration form
  ui/src/app/subnets/views/VLANDetails/ConfigureDHCP/ConfigureDHCPFields/ConfigureDHCPFields.tsx
Labels: Review: Code +1, Review: QA +1

#3625 fix(ui): use consistent naming for machine allocation action
  ui/src/app/base/components/ActionForm/ActionForm.tsx
  ui/src/app/base/components/node/NodeActionFormWrapper/NodeActionFormWrapper.tsx
  ui/src/app/machines/views/MachineList/MachineListTable/OwnerColumn/OwnerColumn.test.tsx
  ui/src/app/store/general/selectors/machineActions.test.ts
  ui/src/app/store/utils/node/base.ts
Labels: Review: Code +1, Review: QA +1

#3638 test: fix nanoid mock to return unique ids
  ui/src/__mocks__/nanoid.ts
  ui/src/app/machines/views/MachineList/MachineListTable/OwnerColumn/__snapshots__/OwnerColumn.test.tsx.snap
  ui/src/app/machines/views/MachineList/MachineListTable/PoolColumn/__snapshots__/PoolColumn.test.tsx.snap
  ui/src/app/machines/views/MachineList/MachineListTable/PowerColumn/__snapshots__/PowerColumn.test.tsx.snap
  ui/src/app/machines/views/MachineList/MachineListTable/StatusColumn/__snapshots__/StatusColumn.test.tsx.snap
  ui/src/app/machines/views/MachineList/MachineListTable/ZoneColumn/__snapshots__/ZoneColumn.test.tsx.snap
Labels: Review: Code +1

#3637 fix(ui): fix KVM config form disabled submit button after initial submit
  ui/src/app/kvm/components/KVMConfigurationCard/KVMConfigurationCard.test.tsx
  ui/src/app/kvm/components/KVMConfigurationCard/KVMConfigurationCard.tsx
  ui/src/app/store/pod/types/actions.ts
Labels: Review: Code +1, Review: QA +1

#3643 fix(ui): include cert and key values when adding LXD host with a trust password
  ui/src/app/kvm/components/KVMHeaderForms/AddLxd/AuthenticationForm/AuthenticationForm.test.tsx
  ui/src/app/kvm/components/KVMHeaderForms/AddLxd/AuthenticationForm/AuthenticationForm.tsx
  ui/src/app/store/pod/reducers.test.ts
  ui/src/app/store/pod/slice.ts
Labels: Review: Code +1, Review: QA +1, Backport 3.1 :arrow_backward:

#3642 fix(ui): correctly handle add machine form validation asynchronously
  ui/src/app/base/components/PowerTypeFields/PowerTypeFields.tsx
  ui/src/app/machines/components/MachineHeaderForms/AddMachine/AddMachineForm/AddMachineForm.test.tsx
  ui/src/app/machines/components/MachineHeaderForms/AddMachine/AddMachineForm/AddMachineForm.tsx
  ui/src/app/machines/components/MachineHeaderForms/AddMachine/AddMachineFormFields/AddMachineFormFields.tsx
  ui/src/app/machines/components/MachineHeaderForms/AddMachine/types.ts
  ui/src/app/store/machine/types/actions.ts
Labels: Review: Code +1, Review: QA +1

#3641 refactor(ui): allow hidden machine table columns
  integration/cypress/integration/machines/list.spec.ts
  ui/src/app/base/components/FilterAccordion/FilterAccordion.tsx
  ui/src/app/base/components/FilterAccordion/_index.scss
  ui/src/app/base/components/NonBreakingSpace/NonBreakingSpace.test.tsx
  ui/src/app/base/components/NonBreakingSpace/NonBreakingSpace.tsx
  ui/src/app/base/components/NonBreakingSpace/index.ts
  ui/src/app/machines/constants.ts
  ui/src/app/machines/views/MachineList/MachineListControls/HiddenColumnsSelect/HiddenColumnsSelect.test.tsx
  ui/src/app/machines/views/MachineList/MachineListControls/HiddenColumnsSelect/HiddenColumnsSelect.tsx
  ui/src/app/machines/views/MachineList/MachineListControls/HiddenColumnsSelect/index.ts
  ui/src/app/machines/views/MachineList/MachineListControls/MachineListControls.test.tsx
  ui/src/app/machines/views/MachineList/MachineListControls/MachineListControls.tsx
  ui/src/app/machines/views/MachineList/MachineListTable/MachineListTable.test.tsx
  ui/src/app/machines/views/MachineList/MachineListTable/MachineListTable.tsx
  ui/src/app/machines/views/MachineList/MachineListTable/NameColumn/NameColumn.tsx
  ui/src/app/machines/views/MachineList/MachineListTable/NameColumn/__snapshots__/NameColumn.test.tsx.snap
  ui/src/app/machines/views/MachineList/_index.scss
Labels: Review: Code +1, Review: QA +1

#3644 test: add eslint-plugin-testing-library
  ui/.eslintrc.js
  ui/package.json
  ui/src/app/base/hooks/base.test.tsx
  ui/src/app/subnets/views/FabricDetails/FabricSummary/FabricSummary.test.tsx
  ui/src/app/subnets/views/FormActions/components/AddFabric.test.tsx
  ui/src/app/subnets/views/FormActions/components/AddSubnet.test.tsx
  ui/src/app/subnets/views/FormActions/components/AddVlan.test.tsx
  ui/src/app/subnets/views/SpaceDetails/SpaceDetails.test.tsx
  ui/src/app/subnets/views/SpaceDetails/SpaceSummary/SpaceSummary.test.tsx
  ui/src/app/subnets/views/SubnetDetails/StaticRoutes/AddStaticRouteForm/AddStaticRouteForm.test.tsx
  ui/src/app/subnets/views/SubnetDetails/StaticRoutes/StaticRoutes.test.tsx
  yarn.lock
Labels: Review: Code +1, Maintenance 🔨

#3649 test: use mock-nanoid prefix
  ui/src/__mocks__/@reduxjs/toolkit.ts
  ui/src/app/base/components/ArchitectureSelect/__snapshots__/ArchitectureSelect.test.tsx.snap
  ui/src/app/base/components/DomainSelect/__snapshots__/DomainSelect.test.tsx.snap
  ui/src/app/base/components/DoughnutChart/__snapshots__/DoughnutChart.test.tsx.snap
  ui/src/app/base/components/GroupCheckbox/__snapshots__/GroupCheckbox.test.tsx.snap
  ui/src/app/base/components/MinimumKernelSelect/__snapshots__/MinimumKernelSelect.test.tsx.snap
  ui/src/app/base/components/NodeName/NodeNameFields/__snapshots__/NodeNameFields.test.tsx.snap
  ui/src/app/base/components/NodeName/__snapshots__/NodeName.test.tsx.snap
  ui/src/app/base/components/ResourcePoolSelect/__snapshots__/ResourcePoolSelect.test.tsx.snap
  ui/src/app/base/components/RowCheckbox/__snapshots__/RowCheckbox.test.tsx.snap
  ui/src/app/base/components/ZoneSelect/__snapshots__/ZoneSelect.test.tsx.snap
  ui/src/app/machines/views/MachineList/MachineListTable/NameColumn/__snapshots__/NameColumn.test.tsx.snap
Labels: Review: Code +1

#3646 fix: skip link, contain all content by landmarks
  shared/src/components/Header/Header.tsx
  shared/src/components/StatusBar/StatusBar.tsx
  ui/src/app/App.tsx
  ui/src/app/base/components/Login/Login.tsx
  ui/src/app/base/components/Section/Section.tsx
  ui/src/app/base/components/Section/__snapshots__/Section.test.tsx.snap
  ui/src/app/controllers/views/ControllerList/ControllerListTable/ControllerListTable.tsx
  ui/src/app/devices/views/DeviceList/DeviceListTable/DeviceListTable.tsx
  ui/src/app/intro/views/IncompleteCard/__snapshots__/IncompleteCard.test.tsx.snap
  ui/src/scss/_patterns_links.scss
Labels: Review: Code +1, Review: QA +1, Accessibility
