Repository canonical/maas-ui, pull requests merged in 2022-01, with the labels that each got.

#3447 feat(ui): add a selector for getting a device interface
  ui/src/app/machines/views/MachineDetails/MachineNetwork/BondForm/BondFormFields/BondFormFields.tsx
  ui/src/app/machines/views/MachineDetails/MachineNetwork/BondForm/utils.ts
  ui/src/app/machines/views/MachineDetails/MachineNetwork/InterfaceFormTable/InterfaceFormTable.tsx
  ui/src/app/machines/views/MachineDetails/MachineNetwork/MachineNetworkActions/MachineNetworkActions.tsx
  ui/src/app/store/device/selectors.test.ts
  ui/src/app/store/device/selectors.ts
  ui/src/app/store/machine/selectors.ts
  ui/src/app/store/utils/node/networking.ts
Labels: Review: Code +1

#3448 refactor(ui): make the device interface form reusable
  ui/src/app/devices/views/DeviceDetails/DeviceNetwork/AddInterface/AddInterface.tsx
  ui/src/app/devices/views/DeviceDetails/DeviceNetwork/AddInterface/AddInterfaceFields/index.ts
  ui/src/app/devices/views/DeviceDetails/DeviceNetwork/InterfaceForm/InterfaceForm.test.tsx
  ui/src/app/devices/views/DeviceDetails/DeviceNetwork/InterfaceForm/InterfaceForm.tsx
  ui/src/app/devices/views/DeviceDetails/DeviceNetwork/InterfaceForm/InterfaceFormFields/InterfaceFormFields.test.tsx
  ui/src/app/devices/views/DeviceDetails/DeviceNetwork/InterfaceForm/InterfaceFormFields/InterfaceFormFields.tsx
  ui/src/app/devices/views/DeviceDetails/DeviceNetwork/InterfaceForm/InterfaceFormFields/index.ts
  ui/src/app/devices/views/DeviceDetails/DeviceNetwork/InterfaceForm/index.ts
Labels: Review: Code +1, Review: QA +1

#3450 ci(all): use Node.js v16 in CI
  .github/workflows/test.yml
  .github/workflows/upload.yml
Labels: Review: Code +1

#3423 feat(ui): edit device interface form
  ui/src/app/devices/views/DeviceDetails/DeviceNetwork/DeviceNetwork.tsx
  ui/src/app/devices/views/DeviceDetails/DeviceNetwork/DeviceNetworkTable/DeviceNetworkTable.tsx
  ui/src/app/devices/views/DeviceDetails/DeviceNetwork/EditInterface/EditInterface.test.tsx
  ui/src/app/devices/views/DeviceDetails/DeviceNetwork/EditInterface/EditInterface.tsx
  ui/src/app/devices/views/DeviceDetails/DeviceNetwork/EditInterface/index.ts
Labels: Review: Code +1, Review: QA +1

#3451 feat(ui): split ip address and mode column
  ui/src/app/devices/views/DeviceDetails/DeviceNetwork/DeviceNetworkTable/DeviceNetworkTable.test.tsx
  ui/src/app/devices/views/DeviceDetails/DeviceNetwork/DeviceNetworkTable/DeviceNetworkTable.tsx
  ui/src/app/devices/views/DeviceDetails/DeviceNetwork/DeviceNetworkTable/_index.scss
Labels: Review: Code +1, Review: QA +1

#3452 feat(ui): add the edit interface form table
  ui/src/app/devices/views/DeviceDetails/DeviceNetwork/EditInterface/EditInterface.tsx
  ui/src/app/devices/views/DeviceDetails/DeviceNetwork/EditInterface/EditInterfaceTable/EditInterfaceTable.test.tsx
  ui/src/app/devices/views/DeviceDetails/DeviceNetwork/EditInterface/EditInterfaceTable/EditInterfaceTable.tsx
  ui/src/app/devices/views/DeviceDetails/DeviceNetwork/EditInterface/EditInterfaceTable/index.ts
Labels: Review: Code +1, Review: QA +1

#3427 Remove legacy devices
  legacy/src/app/controllers/add_device.js
  legacy/src/app/controllers/node_details.js
  legacy/src/app/controllers/node_details_networking.js
  legacy/src/app/controllers/nodes_list.js
  legacy/src/app/controllers/tests/test_add_device.js
  legacy/src/app/controllers/tests/test_node_details.js
  legacy/src/app/controllers/tests/test_node_details_networking.js
  legacy/src/app/controllers/tests/test_nodes_list.js
  legacy/src/app/directives/dhcp_snippets_table.js
  legacy/src/app/directives/tests/test_dhcp_snippets_table.js
  legacy/src/app/entry.js
  legacy/src/app/factories/devices.js
  legacy/src/app/factories/tests/test_devices.js
  legacy/src/app/partials/dhcp-snippets-table.html
  legacy/src/app/partials/node-details.html
  legacy/src/app/partials/nodes-list.html
  legacy/src/scss/_tables.scss
  legacy/src/scss/tables/_patterns_table-controllers.scss
  legacy/src/scss/tables/_patterns_table-devices.scss
Labels: Review: Code +1, Review: QA +1, Legacy 🧟‍♂️

#3431 fix(ui): fix Header accessibility issues, migrate to testing library
  legacy/src/app/controllers/master.js
  shared/src/components/Header/HardwareMenu/HardwareMenu.test.tsx
  shared/src/components/Header/HardwareMenu/HardwareMenu.tsx
  shared/src/components/Header/Header.test.tsx
  shared/src/components/Header/Header.tsx
  shared/src/components/Header/__snapshots__/Header.test.tsx.snap
  shared/src/components/Header/types.ts
  ui/src/app/App.tsx
Labels: Review: Code +1, Review: QA +1, Legacy 🧟‍♂️

#3453 fix(all): fix webpack-dev-server config
  legacy/package.json
  legacy/webpack.dev.js
  root/package.json
  root/webpack.dev.js
Labels: Review: Code +1, Review: QA +1, Legacy 🧟‍♂️

#3424 test: add cypress-axe accessibility tests
  integration/cypress.json
  integration/cypress/integration/accessibility/accessibility.spec.ts
  integration/cypress/integration/base/footer.spec.ts
  integration/cypress/integration/login/login.spec.ts
  integration/cypress/integration/machines/add.spec.ts
  integration/cypress/integration/settings/users/add.spec.ts
  integration/cypress/integration/settings/users/list.spec.ts
  integration/cypress/plugins/index.js
  integration/cypress/support/commands.ts
  integration/cypress/support/index.ts
  integration/cypress/tsconfig.json
  integration/package.json
  legacy/src/app/partials/networks-list.html
  ui/src/app/base/components/Login/Login.tsx
  ui/src/app/base/components/SectionHeader/SectionHeader.tsx
  ui/src/app/intro/components/IntroCard/IntroCard.tsx
  ui/src/app/intro/views/IncompleteCard/__snapshots__/IncompleteCard.test.tsx.snap
  yarn.lock
Labels: Review: Code +1 (with changes), Legacy 🧟‍♂️

#3457 refactor(ui): handle undefined URL params
  ui/src/app/base/components/ModelNotFound/ModelNotFound.tsx
  ui/src/app/base/hooks/urls.test.tsx
  ui/src/app/base/hooks/urls.ts
  ui/src/app/base/types.ts
  ui/src/app/devices/views/DeviceDetails/DeviceDetails.tsx
  ui/src/app/domains/views/DomainDetails/DomainDetails.tsx
  ui/src/app/kvm/hooks.tsx
  ui/src/app/kvm/views/LXDClusterDetails/LXDClusterDetails.tsx
  ui/src/app/kvm/views/LXDClusterDetails/types.ts
  ui/src/app/kvm/views/LXDSingleDetails/LXDSingleDetails.tsx
  ui/src/app/kvm/views/VirshDetails/VirshDetails.tsx
  ui/src/app/machines/views/MachineDetails/MachineCommissioning/MachineCommissioning.tsx
  ui/src/app/machines/views/MachineDetails/MachineConfiguration/MachineConfiguration.tsx
  ui/src/app/machines/views/MachineDetails/MachineDetails.tsx
  ui/src/app/machines/views/MachineDetails/MachineInstances/MachineInstances.tsx
  ui/src/app/machines/views/MachineDetails/MachinePCIDevices/MachinePCIDevices.tsx
  ui/src/app/machines/views/MachineDetails/MachineStorage/MachineStorage.tsx
  ui/src/app/machines/views/MachineDetails/MachineSummary/MachineSummary.tsx
  ui/src/app/machines/views/MachineDetails/MachineTests/MachineTests.tsx
  ui/src/app/machines/views/MachineDetails/MachineTests/MachineTestsDetails/MachineTestsDetails.tsx
  ui/src/app/machines/views/MachineDetails/MachineUSBDevices/MachineUSBDevices.tsx
  ui/src/app/pools/views/PoolEdit/PoolEdit.tsx
  ui/src/app/preferences/views/APIKeys/APIKeyEdit/APIKeyEdit.tsx
  ui/src/app/settings/views/Dhcp/DhcpEdit/DhcpEdit.tsx
  ui/src/app/settings/views/LicenseKeys/LicenseKeyEdit/LicenseKeyEdit.tsx
  ui/src/app/settings/views/Repositories/RepositoryAdd/RepositoryAdd.tsx
  ui/src/app/settings/views/Repositories/RepositoryEdit/RepositoryEdit.tsx
  ui/src/app/settings/views/Users/UserEdit/UserEdit.tsx
  ui/src/app/store/licensekeys/selectors.ts
  ui/src/app/store/scriptresult/selectors.ts
  ui/src/app/utils/index.ts
  ui/src/app/utils/isId.test.ts
  ui/src/app/utils/isId.ts
  ui/src/app/utils/parseNumberId.test.ts
  ui/src/app/utils/parseNumberId.ts
  ui/src/app/zones/views/ZoneDetails/ZoneDetails.tsx
Labels: Review: Code +1, Review: QA +1

#3458 fix(legacy): fix the webpack dev server websocket port
  legacy/webpack.dev.js
Labels: Review: Code +1, Review: QA +1, Legacy 🧟‍♂️

#3464 refactor(ui): use a map instead of an array of paths
  ui/src/app/Routes.tsx
  ui/src/app/dashboard/views/Dashboard.tsx
  ui/src/app/devices/views/Devices.tsx
  ui/src/app/images/views/Images.tsx
  ui/src/app/kvm/views/KVM.tsx
  ui/src/app/machines/views/MachineDetails/MachineLogs/MachineLogs.tsx
  ui/src/app/zones/views/Zones.tsx
Labels: Review: Code +1, Review: QA +1

#3466 refactor(ui): update routes to pass the component as a child
  ui/src/app/Routes.tsx
  ui/src/app/devices/views/DeviceList/DeviceList.test.tsx
  ui/src/app/machines/views/Machines.test.tsx
  ui/src/app/settings/components/Routes/Routes.tsx
  ui/src/app/settings/views/Scripts/ScriptsUpload/ScriptsUpload.test.tsx
Labels: Review: Code +1

#3467 feat(ui): add support for multiple choice power fields
  ui/src/app/base/components/PowerTypeFields/BasePowerField/BasePowerField.test.tsx
  ui/src/app/base/components/PowerTypeFields/BasePowerField/BasePowerField.tsx
  ui/src/app/store/general/types/base.ts
  ui/src/app/store/general/types/enum.ts
  ui/src/app/store/general/utils/powerTypes.ts
  ui/src/app/store/types/node.ts
Labels: Review: Code +1, Review: QA +1

#3468 feat(ui): add statuses, event errors etc. to the controller slice
  ui/src/__snapshots__/root-reducer.test.ts.snap
  ui/src/app/store/controller/actions.test.ts
  ui/src/app/store/controller/reducers.test.ts
  ui/src/app/store/controller/selectors.ts
  ui/src/app/store/controller/slice.ts
  ui/src/app/store/controller/types/base.ts
  ui/src/app/store/controller/types/index.ts
  ui/src/app/store/controller/utils/index.ts
  ui/src/app/store/controller/utils/search.test.ts
  ui/src/app/store/controller/utils/search.ts
  ui/src/app/store/utils/slice.ts
  ui/src/testing/factories/index.ts
  ui/src/testing/factories/state.ts
Labels: Review: Code +1

#3470 feat(ui): set up controller list
  ui/src/app/Routes.tsx
  ui/src/app/controllers/constants.ts
  ui/src/app/controllers/types.ts
  ui/src/app/controllers/urls.ts
  ui/src/app/controllers/utils.ts
  ui/src/app/controllers/views/ControllerList/ControllerList.test.tsx
  ui/src/app/controllers/views/ControllerList/ControllerList.tsx
  ui/src/app/controllers/views/ControllerList/ControllerListControls/ControllerListControls.test.tsx
  ui/src/app/controllers/views/ControllerList/ControllerListControls/ControllerListControls.tsx
  ui/src/app/controllers/views/ControllerList/ControllerListControls/index.ts
  ui/src/app/controllers/views/ControllerList/ControllerListHeader/ControllerListHeader.test.tsx
  ui/src/app/controllers/views/ControllerList/ControllerListHeader/ControllerListHeader.tsx
  ui/src/app/controllers/views/ControllerList/ControllerListHeader/index.ts
  ui/src/app/controllers/views/ControllerList/index.ts
  ui/src/app/controllers/views/Controllers.tsx
Labels: Review: Code +1, Review: QA +1

#3471 feat(ui): add controller actions
  ui/src/app/store/controller/actions.test.ts
  ui/src/app/store/controller/selectors.test.ts
  ui/src/app/store/controller/selectors.ts
  ui/src/app/store/controller/slice.ts
  ui/src/app/store/controller/types/actions.ts
  ui/src/app/store/controller/types/base.ts
  ui/src/app/store/controller/types/index.ts
  ui/src/app/store/machine/selectors.ts
Labels: Review: Code +1

#3461 refactor(deps): remove enzyme from maas-ui-shared
  shared/package.json
  shared/setup-jest.js
Labels: Review: Code +1

#3482 add @testing-library/cypress
  integration/cypress/support/commands.ts
  integration/cypress/tsconfig.json
  integration/package.json
  yarn.lock
Labels: Review: Code +1

#3477 feat(ui): add check_images handlers to the controller slice
  ui/src/__snapshots__/root-reducer.test.ts.snap
  ui/src/app/base/sagas/websockets.test.ts
  ui/src/app/base/sagas/websockets.ts
  ui/src/app/settings/views/Configuration/CommissioningForm/CommissioningForm.test.tsx
  ui/src/app/settings/views/Network/DnsForm/DnsForm.test.tsx
  ui/src/app/settings/views/Network/NetworkDiscoveryForm/NetworkDiscoveryForm.test.tsx
  ui/src/app/settings/views/Network/NtpForm/NtpForm.test.tsx
  ui/src/app/settings/views/Network/SyslogForm/SyslogForm.test.tsx
  ui/src/app/settings/views/Storage/StorageForm/StorageForm.test.tsx
  ui/src/app/store/config/actions.test.ts
  ui/src/app/store/config/slice.ts
  ui/src/app/store/controller/actions.test.ts
  ui/src/app/store/controller/reducers.test.ts
  ui/src/app/store/controller/selectors.test.ts
  ui/src/app/store/controller/selectors.ts
  ui/src/app/store/controller/slice.ts
  ui/src/app/store/controller/types/base.ts
  ui/src/app/store/controller/types/enum.ts
  ui/src/app/store/utils/slice.ts
  ui/src/testing/factories/index.ts
  ui/src/testing/factories/state.ts
  ui/src/websocket-client.ts
Labels: Review: Code +1

#3487 feat(ui): make the machine test and fieldless forms reusable
  ui/src/app/base/components/node/FieldlessForm/FieldlessForm.test.tsx
  ui/src/app/base/components/node/FieldlessForm/FieldlessForm.tsx
  ui/src/app/base/components/node/FieldlessForm/index.ts
  ui/src/app/base/components/node/TestForm/TestForm.test.tsx
  ui/src/app/base/components/node/TestForm/TestForm.tsx
  ui/src/app/base/components/node/TestForm/TestFormFields/TestFormFields.test.tsx
  ui/src/app/base/components/node/TestForm/TestFormFields/TestFormFields.tsx
  ui/src/app/base/components/node/TestForm/TestFormFields/index.ts
  ui/src/app/base/components/node/TestForm/index.ts
  ui/src/app/machines/components/MachineHeaderForms/ActionFormWrapper/ActionFormWrapper.tsx
  ui/src/app/machines/components/MachineHeaderForms/ActionFormWrapper/FieldlessForm/FieldlessForm.tsx
Labels: Review: Code +1, Review: QA +1

#3472 Controller table
  ui/src/app/controllers/views/ControllerList/ControllerList.tsx
  ui/src/app/controllers/views/ControllerList/ControllerListTable/ControllerListTable.test.tsx
  ui/src/app/controllers/views/ControllerList/ControllerListTable/ControllerListTable.tsx
  ui/src/app/controllers/views/ControllerList/ControllerListTable/VLANsColumn/VLANsColumn.test.tsx
  ui/src/app/controllers/views/ControllerList/ControllerListTable/VLANsColumn/VLANsColumn.tsx
  ui/src/app/controllers/views/ControllerList/ControllerListTable/VLANsColumn/index.ts
  ui/src/app/controllers/views/ControllerList/ControllerListTable/VersionColumn/VersionColumn.test.tsx
  ui/src/app/controllers/views/ControllerList/ControllerListTable/VersionColumn/VersionColumn.tsx
  ui/src/app/controllers/views/ControllerList/ControllerListTable/VersionColumn/index.ts
  ui/src/app/controllers/views/ControllerList/ControllerListTable/_index.scss
  ui/src/app/controllers/views/ControllerList/ControllerListTable/index.ts
  ui/src/scss/index.scss
  ui/src/testing/factories/index.ts
  ui/src/testing/factories/nodes.ts
Labels: Review: Code +1, Review: QA +1

#3488 feat(ui): add controller statuses
  ui/src/app/controllers/components/ControllerStatus/ControllerStatus.test.tsx
  ui/src/app/controllers/components/ControllerStatus/ControllerStatus.tsx
  ui/src/app/controllers/components/ControllerStatus/index.ts
  ui/src/app/controllers/components/ImageStatus/ImageStatus.test.tsx
  ui/src/app/controllers/components/ImageStatus/ImageStatus.tsx
  ui/src/app/controllers/components/ImageStatus/index.ts
  ui/src/app/controllers/views/ControllerList/ControllerListTable/ControllerListTable.tsx
  ui/src/app/controllers/views/ControllerList/ControllerListTable/StatusColumn/StatusColumn.test.tsx
  ui/src/app/controllers/views/ControllerList/ControllerListTable/StatusColumn/StatusColumn.tsx
  ui/src/app/controllers/views/ControllerList/ControllerListTable/StatusColumn/index.ts
  ui/src/app/store/controller/selectors.test.ts
  ui/src/app/store/controller/selectors.ts
Labels: Review: Code +1, Review: QA +1

#3490 Controllers header link
  integration/cypress/integration/accessibility/accessibility.spec.ts
  integration/cypress/integration/base/header.spec.ts
  integration/cypress/integration/controllers/list.spec.ts
  legacy/src/app/controllers/node_details.js
  legacy/src/app/controllers/tests/test_node_details.js
  legacy/src/app/routes.js
  shared/src/components/Header/Header.tsx
  ui/src/app/base/urls.ts
  ui/src/app/zones/views/ZonesList/ZonesListTable/ZonesListTable.tsx
Labels: Review: Code +1, Review: QA +1, Legacy 🧟‍♂️

#3489 feat(ui): add controller header forms
  ui/src/app/controllers/components/ControllerHeaderForms/ControllerActionFormWrapper/ControllerActionFormWrapper.test.tsx
  ui/src/app/controllers/components/ControllerHeaderForms/ControllerActionFormWrapper/ControllerActionFormWrapper.tsx
  ui/src/app/controllers/components/ControllerHeaderForms/ControllerActionFormWrapper/index.ts
  ui/src/app/controllers/components/ControllerHeaderForms/ControllerHeaderForms.test.tsx
  ui/src/app/controllers/components/ControllerHeaderForms/ControllerHeaderForms.tsx
  ui/src/app/controllers/components/ControllerHeaderForms/index.ts
  ui/src/app/controllers/views/ControllerList/ControllerListHeader/ControllerListHeader.tsx
  ui/src/app/machines/components/MachineHeaderForms/ActionFormWrapper/ActionFormWrapper.tsx
  ui/src/app/store/utils/node/base.ts
Labels: Review: QA +1, Review: Code +1 (with changes)

#3493 refactor(ui): update script results for all nodes
  ui/src/app/machines/components/MachineHeaderForms/ActionFormWrapper/OverrideTestForm/OverrideTestForm.test.tsx
  ui/src/app/machines/components/MachineHeaderForms/ActionFormWrapper/OverrideTestForm/OverrideTestForm.tsx
  ui/src/app/machines/views/MachineDetails/MachineCommissioning/MachineCommissioning.test.tsx
  ui/src/app/machines/views/MachineDetails/MachineCommissioning/MachineCommissioning.tsx
  ui/src/app/machines/views/MachineDetails/MachineLogs/DownloadMenu/DownloadMenu.tsx
  ui/src/app/machines/views/MachineDetails/MachineLogs/hooks.ts
  ui/src/app/machines/views/MachineDetails/MachineNetwork/NetworkTable/IPColumn/IPColumn.tsx
  ui/src/app/machines/views/MachineDetails/MachineTests/MachineTests.test.tsx
  ui/src/app/machines/views/MachineDetails/MachineTests/MachineTests.tsx
  ui/src/app/store/nodescriptresult/reducers.test.ts
  ui/src/app/store/nodescriptresult/slice.ts
  ui/src/app/store/scriptresult/reducers.test.ts
  ui/src/app/store/scriptresult/selectors.test.tsx
  ui/src/app/store/scriptresult/selectors.ts
  ui/src/app/store/scriptresult/slice.ts
Labels: Review: Code needed, Review: QA needed

#3492 feat(ui): add controller instructions
  ui/src/app/controllers/components/ControllerHeaderForms/AddController/AddController.test.tsx
  ui/src/app/controllers/components/ControllerHeaderForms/AddController/AddController.tsx
  ui/src/app/controllers/components/ControllerHeaderForms/AddController/index.ts
  ui/src/app/controllers/components/ControllerHeaderForms/ControllerHeaderForms.test.tsx
  ui/src/app/controllers/components/ControllerHeaderForms/ControllerHeaderForms.tsx
  ui/src/app/store/config/selectors.test.ts
  ui/src/app/store/config/selectors.ts
Labels: Review: Code +1, Review: QA +1

#3491 feat(legacy): remove legacy controllers list
  legacy/src/app/controllers/nodes_list.js
  legacy/src/app/controllers/tests/test_nodes_list.js
  legacy/src/app/directives/nodelist/nodes_list_filter.js
  legacy/src/app/directives/tests/test_nodes_list_filter.js
  legacy/src/app/entry.js
  legacy/src/app/filters/nodes.js
  legacy/src/app/filters/tests/test_nodes.js
  legacy/src/app/partials/nodelist/nodes-list-filter.html
  legacy/src/app/partials/nodes-list.html
  legacy/src/app/routes.js
  legacy/src/app/services/search.js
  legacy/src/app/services/tests/test_search.js
  legacy/src/scss/tables/_patterns_table-controllers.scss
Labels: Review: Code +1, Review: QA +1, Legacy 🧟‍♂️

#3497 feat(ui): add controller override testing
  ui/src/app/controllers/components/ControllerHeaderForms/ControllerActionFormWrapper/ControllerActionFormWrapper.tsx
Labels: Review: Code +1, Review: QA +1

#3500 fix(ui): fix incorrect status tooltip
  ui/src/app/controllers/components/ControllerStatus/ControllerStatus.test.tsx
  ui/src/app/controllers/components/ControllerStatus/ControllerStatus.tsx
  ui/src/app/store/service/types/base.ts
  ui/src/app/store/service/types/enum.ts
  ui/src/app/store/service/types/index.ts
  ui/src/testing/factories/service.ts
Labels: Review: Code +1, Review: QA +1

#3501 fix(ui): improve responsiveness of controller list
  ui/src/app/controllers/components/ImageStatus/ImageStatus.tsx
  ui/src/app/controllers/views/ControllerList/ControllerListTable/ControllerListTable.tsx
  ui/src/app/controllers/views/ControllerList/ControllerListTable/VLANsColumn/VLANsColumn.tsx
  ui/src/app/controllers/views/ControllerList/ControllerListTable/_index.scss
  ui/src/app/store/controller/types/index.ts
Labels: Review: Code +1, Review: QA +1

#3483 refactor(ui): setup Subnets React page
  integration/cypress/integration/legacy/subnets.spec.ts
  legacy/src/app/partials/networks-list.html
  ui/src/app/Routes.tsx
  ui/src/app/subnets/urls.ts
  ui/src/app/subnets/views/Subnets.tsx
  ui/src/app/subnets/views/SubnetsList.tsx
Labels: Review: Code +1, Review: QA +1, Legacy 🧟‍♂️

#3506 feat(ui): migrate to redux-first-history
  ui/package.json
  ui/src/__snapshots__/root-reducer.test.ts.snap
  ui/src/app/store/notification/selectors.ts
  ui/src/app/store/root/types.ts
  ui/src/index.tsx
  ui/src/root-reducer.test.ts
  ui/src/root-reducer.ts
  ui/src/testing/factories/state.ts
  yarn.lock
Labels: Review: Code +1, Review: QA +1

#3504 refactor(ui): subnets header, add fabric, add space
  integration/cypress/integration/subnets/add.spec.ts
  integration/cypress/integration/utils.ts
  ui/.eslintrc.js
  ui/src/app/base/components/ArchitectureSelect/__snapshots__/ArchitectureSelect.test.tsx.snap
  ui/src/app/base/components/DomainSelect/__snapshots__/DomainSelect.test.tsx.snap
  ui/src/app/base/components/FormikField/FormikField.tsx
  ui/src/app/base/components/FormikField/__snapshots__/FormikField.test.tsx.snap
  ui/src/app/base/components/MinimumKernelSelect/__snapshots__/MinimumKernelSelect.test.tsx.snap
  ui/src/app/base/components/NodeName/NodeNameFields/__snapshots__/NodeNameFields.test.tsx.snap
  ui/src/app/base/components/ResourcePoolSelect/__snapshots__/ResourcePoolSelect.test.tsx.snap
  ui/src/app/base/components/ZoneSelect/__snapshots__/ZoneSelect.test.tsx.snap
  ui/src/app/store/fabric/types/actions.ts
  ui/src/app/store/space/types/actions.ts
  ui/src/app/subnets/enum.ts
  ui/src/app/subnets/types.ts
  ui/src/app/subnets/views/FormActions/FormActions.tsx
  ui/src/app/subnets/views/FormActions/components/AddFabric.test.tsx
  ui/src/app/subnets/views/FormActions/components/AddFabric.tsx
  ui/src/app/subnets/views/FormActions/components/AddSpace.test.tsx
  ui/src/app/subnets/views/FormActions/components/AddSpace.tsx
  ui/src/app/subnets/views/FormActions/index.ts
  ui/src/app/subnets/views/SubnetsList.tsx
Labels: Review: Code +1, Review: QA +1

#3508 refactor(ui): wrap routes in component prop
  ui/src/app/Routes.tsx
  ui/src/app/base/hooks/urls.test.tsx
  ui/src/app/controllers/views/ControllerList/ControllerList.test.tsx
  ui/src/app/controllers/views/Controllers.tsx
  ui/src/app/dashboard/views/Dashboard.tsx
  ui/src/app/devices/views/DeviceDetails/DeviceDetails.tsx
  ui/src/app/devices/views/DeviceList/DeviceList.test.tsx
  ui/src/app/devices/views/Devices.tsx
  ui/src/app/domains/views/Domains.tsx
  ui/src/app/domains/views/DomainsList/DomainsList.tsx
  ui/src/app/images/views/Images.tsx
  ui/src/app/intro/views/Intro.tsx
  ui/src/app/kvm/views/KVM.tsx
  ui/src/app/kvm/views/LXDClusterDetails/LXDClusterDetails.tsx
  ui/src/app/kvm/views/LXDSingleDetails/LXDSingleDetails.tsx
  ui/src/app/kvm/views/VirshDetails/VirshDetails.tsx
  ui/src/app/machines/views/MachineDetails/MachineCommissioning/MachineCommissioning.test.tsx
  ui/src/app/machines/views/MachineDetails/MachineDetails.tsx
  ui/src/app/machines/views/MachineDetails/MachineLogs/MachineLogs.tsx
  ui/src/app/machines/views/MachineDetails/MachineTests/MachineTests.test.tsx
  ui/src/app/machines/views/MachineDetails/MachineTests/MachineTestsDetails/MachineTestsDetails.test.tsx
  ui/src/app/machines/views/Machines.test.tsx
  ui/src/app/machines/views/Machines.tsx
  ui/src/app/settings/components/Routes/Routes.tsx
  ui/src/app/settings/views/Scripts/ScriptsUpload/ScriptsUpload.test.tsx
  ui/src/app/zones/views/Zones.tsx
Labels: Review: Code +1, Review: QA +1

#3515 fix(all): display node tags as names instead of IDs
  legacy/src/app/controllers/node_details.js
  legacy/src/app/controllers/tests/test_node_details.js
  legacy/src/app/partials/cards/tags.html
  ui/src/app/devices/views/DeviceDetails/DeviceConfiguration/DeviceConfiguration.test.tsx
  ui/src/app/devices/views/DeviceDetails/DeviceConfiguration/DeviceConfiguration.tsx
  ui/src/app/devices/views/DeviceDetails/DeviceDetails.tsx
  ui/src/app/devices/views/DeviceDetails/DeviceSummary/DeviceOverviewCard/DeviceOverviewCard.test.tsx
  ui/src/app/devices/views/DeviceDetails/DeviceSummary/DeviceOverviewCard/DeviceOverviewCard.tsx
  ui/src/app/devices/views/DeviceDetails/DeviceSummary/DeviceOverviewCard/__snapshots__/DeviceOverviewCard.test.tsx.snap
  ui/src/app/devices/views/DeviceDetails/DeviceSummary/DeviceSummary.tsx
  ui/src/app/devices/views/DeviceList/DeviceList.tsx
  ui/src/app/devices/views/DeviceList/DeviceListTable/DeviceListTable.test.tsx
  ui/src/app/devices/views/DeviceList/DeviceListTable/DeviceListTable.tsx
  ui/src/app/devices/views/DeviceList/DeviceListTable/OwnerColumn/OwnerColumn.test.tsx
  ui/src/app/devices/views/DeviceList/DeviceListTable/OwnerColumn/OwnerColumn.tsx
  ui/src/app/devices/views/DeviceList/DeviceListTable/OwnerColumn/index.ts
  ui/src/app/machines/components/MachineHeaderForms/ActionFormWrapper/CloneForm/CloneFormFields/SourceMachineSelect/SourceMachineSelect.test.tsx
  ui/src/app/machines/views/MachineDetails/MachineConfiguration/MachineForm/MachineForm.test.tsx
  ui/src/app/machines/views/MachineDetails/MachineConfiguration/MachineForm/MachineForm.tsx
  ui/src/app/machines/views/MachineDetails/MachineConfiguration/MachineForm/MachineFormFields/MachineFormFields.tsx
  ui/src/app/machines/views/MachineDetails/MachineDetails.tsx
  ui/src/app/machines/views/MachineDetails/MachineSummary/OverviewCard/DetailsCard/DetailsCard.test.tsx
  ui/src/app/machines/views/MachineDetails/MachineSummary/OverviewCard/DetailsCard/DetailsCard.tsx
  ui/src/app/machines/views/MachineDetails/MachineSummary/OverviewCard/StatusCard/StatusCard.tsx
  ui/src/app/machines/views/MachineList/MachineListTable/OwnerColumn/OwnerColumn.test.tsx
  ui/src/app/machines/views/MachineList/MachineListTable/OwnerColumn/OwnerColumn.tsx
  ui/src/app/machines/views/MachineList/MachineListTable/OwnerColumn/__snapshots__/OwnerColumn.test.tsx.snap
  ui/src/app/store/controller/utils/search.test.ts
  ui/src/app/store/device/utils/search.test.ts
  ui/src/app/store/tag/selectors.test.ts
  ui/src/app/store/tag/selectors.ts
  ui/src/app/store/tag/types/base.ts
  ui/src/app/store/tag/utils.ts
  ui/src/app/store/types/node.ts
  ui/src/app/utils/search/filter-items.test.ts
  ui/src/testing/factories/tag.ts
Labels: Review: Code +1, Review: QA +1, Legacy 🧟‍♂️

#3524 feat(ui): add get and set_active actions to networking models
  ui/src/__snapshots__/root-reducer.test.ts.snap
  ui/src/app/store/fabric/actions.test.ts
  ui/src/app/store/fabric/reducers.test.ts
  ui/src/app/store/fabric/selectors.test.ts
  ui/src/app/store/fabric/selectors.ts
  ui/src/app/store/fabric/slice.ts
  ui/src/app/store/fabric/types/base.ts
  ui/src/app/store/space/actions.test.ts
  ui/src/app/store/space/reducers.test.ts
  ui/src/app/store/space/selectors.test.ts
  ui/src/app/store/space/selectors.ts
  ui/src/app/store/space/slice.ts
  ui/src/app/store/space/types/base.ts
  ui/src/app/store/subnet/actions.test.ts
  ui/src/app/store/subnet/reducers.test.ts
  ui/src/app/store/subnet/selectors.test.ts
  ui/src/app/store/subnet/selectors.ts
  ui/src/app/store/subnet/slice.ts
  ui/src/app/store/subnet/types/base.ts
  ui/src/app/store/vlan/actions.test.ts
  ui/src/app/store/vlan/reducers.test.ts
  ui/src/app/store/vlan/selectors.test.ts
  ui/src/app/store/vlan/selectors.ts
  ui/src/app/store/vlan/slice.ts
  ui/src/app/store/vlan/types/base.ts
  ui/src/testing/factories/state.ts
Labels: Review: Code +1

#3510 refactor: subnets add VLAN
  integration/cypress/integration/subnets/add.spec.ts
  ui/src/app/base/components/FabricSelect/FabricSelect.test.tsx
  ui/src/app/base/components/FabricSelect/FabricSelect.tsx
  ui/src/app/base/components/SpaceSelect/SpaceSelect.test.tsx
  ui/src/app/base/components/SpaceSelect/SpaceSelect.tsx
  ui/src/app/base/components/SpaceSelect/index.ts
  ui/src/app/store/vlan/types/actions.ts
  ui/src/app/subnets/views/FormActions/FormActions.tsx
  ui/src/app/subnets/views/FormActions/components/AddFabric.tsx
  ui/src/app/subnets/views/FormActions/components/AddSpace.tsx
  ui/src/app/subnets/views/FormActions/components/AddVlan.test.tsx
  ui/src/app/subnets/views/FormActions/components/AddVlan.tsx
Labels: Review: Design +1, Review: QA +1, Review: Code +1 (with changes)

#3525 fix(ui): handle tags in machine and device config
  ui/src/app/base/components/TagField/TagField.test.tsx
  ui/src/app/base/components/TagField/TagField.tsx
  ui/src/app/base/components/TagIdField/TagIdField.test.tsx
  ui/src/app/base/components/TagIdField/TagIdField.tsx
  ui/src/app/base/components/TagIdField/index.ts
  ui/src/app/base/components/TagLinks/TagLinks.tsx
  ui/src/app/base/components/TagNameField/TagNameField.test.tsx
  ui/src/app/base/components/TagNameField/TagNameField.tsx
  ui/src/app/base/components/TagNameField/index.ts
  ui/src/app/devices/views/DeviceDetails/DeviceConfiguration/DeviceConfiguration.tsx
  ui/src/app/devices/views/DeviceDetails/DeviceNetwork/InterfaceForm/InterfaceFormFields/InterfaceFormFields.tsx
  ui/src/app/kvm/components/KVMConfigurationCard/KVMConfigurationCardFields/KVMConfigurationCardFields.tsx
  ui/src/app/kvm/components/KVMHeaderForms/ComposeForm/StorageTable/StorageTable.tsx
  ui/src/app/machines/components/MachineHeaderForms/ActionFormWrapper/TagForm/TagFormFields/TagFormFields.tsx
  ui/src/app/machines/views/MachineDetails/MachineConfiguration/MachineForm/MachineFormFields/MachineFormFields.tsx
  ui/src/app/machines/views/MachineDetails/MachineNetwork/AddAliasOrVlan/AddAliasOrVlanFields/AddAliasOrVlanFields.test.tsx
  ui/src/app/machines/views/MachineDetails/MachineNetwork/AddAliasOrVlan/AddAliasOrVlanFields/AddAliasOrVlanFields.tsx
  ui/src/app/machines/views/MachineDetails/MachineNetwork/AddInterface/AddInterface.tsx
  ui/src/app/machines/views/MachineDetails/MachineNetwork/BondForm/BondFormFields/BondFormFields.tsx
  ui/src/app/machines/views/MachineDetails/MachineNetwork/BridgeFormFields/BridgeFormFields.tsx
  ui/src/app/machines/views/MachineDetails/MachineNetwork/EditAliasOrVlanForm/EditAliasOrVlanForm.test.tsx
  ui/src/app/machines/views/MachineDetails/MachineNetwork/EditAliasOrVlanForm/EditAliasOrVlanForm.tsx
  ui/src/app/machines/views/MachineDetails/MachineNetwork/EditPhysicalForm/EditPhysicalFields/EditPhysicalFields.tsx
  ui/src/app/machines/views/MachineDetails/MachineStorage/AvailableStorageTable/AddLogicalVolume/AddLogicalVolumeFields/AddLogicalVolumeFields.tsx
  ui/src/app/machines/views/MachineDetails/MachineStorage/AvailableStorageTable/BulkActions/CreateRaid/CreateRaidFields/CreateRaidFields.tsx
  ui/src/app/machines/views/MachineDetails/MachineStorage/AvailableStorageTable/CreateBcache/CreateBcacheFields/CreateBcacheFields.tsx
  ui/src/app/machines/views/MachineDetails/MachineStorage/AvailableStorageTable/EditDisk/EditDiskFields/EditDiskFields.tsx
Labels: Review: Code +1, Review: QA +1

#3527 feat(ui): set up scaffolding for networking details components
  ui/src/app/Routes.tsx
  ui/src/app/base/sagas/websockets.ts
  ui/src/app/store/fabric/slice.ts
  ui/src/app/store/space/slice.ts
  ui/src/app/store/subnet/slice.ts
  ui/src/app/store/vlan/slice.ts
  ui/src/app/subnets/urls.ts
  ui/src/app/subnets/views/FabricDetails/FabricDetails.test.tsx
  ui/src/app/subnets/views/FabricDetails/FabricDetails.tsx
  ui/src/app/subnets/views/FabricDetails/FabricDetailsHeader/FabricDetailsHeader.test.tsx
  ui/src/app/subnets/views/FabricDetails/FabricDetailsHeader/FabricDetailsHeader.tsx
  ui/src/app/subnets/views/FabricDetails/FabricDetailsHeader/index.ts
  ui/src/app/subnets/views/FabricDetails/index.ts
  ui/src/app/subnets/views/SpaceDetails/SpaceDetails.test.tsx
  ui/src/app/subnets/views/SpaceDetails/SpaceDetails.tsx
  ui/src/app/subnets/views/SpaceDetails/SpaceDetailsHeader/SpaceDetailsHeader.test.tsx
  ui/src/app/subnets/views/SpaceDetails/SpaceDetailsHeader/SpaceDetailsHeader.tsx
  ui/src/app/subnets/views/SpaceDetails/SpaceDetailsHeader/index.ts
  ui/src/app/subnets/views/SpaceDetails/index.ts
  ui/src/app/subnets/views/SubnetDetails/SubnetDetails.test.tsx
  ui/src/app/subnets/views/SubnetDetails/SubnetDetails.tsx
  ui/src/app/subnets/views/SubnetDetails/SubnetDetailsHeader/SubnetDetailsHeader.test.tsx
  ui/src/app/subnets/views/SubnetDetails/SubnetDetailsHeader/SubnetDetailsHeader.tsx
  ui/src/app/subnets/views/SubnetDetails/SubnetDetailsHeader/index.ts
  ui/src/app/subnets/views/SubnetDetails/index.ts
  ui/src/app/subnets/views/Subnets.tsx
  ui/src/app/subnets/views/VLANDetails/VLANDetails.test.tsx
  ui/src/app/subnets/views/VLANDetails/VLANDetails.tsx
  ui/src/app/subnets/views/VLANDetails/VLANDetailsHeader/VLANDetailsHeader.test.tsx
  ui/src/app/subnets/views/VLANDetails/VLANDetailsHeader/VLANDetailsHeader.tsx
  ui/src/app/subnets/views/VLANDetails/VLANDetailsHeader/index.ts
  ui/src/app/subnets/views/VLANDetails/index.ts
Labels: Review: QA +1, Review: Code +1 (with changes)

#3529 test: fix vlan cypress test
  integration/cypress/integration/subnets/add.spec.ts
Labels: Review: Code +1

#3530 fix(legacy): fix updating tags on a controller
  legacy/src/app/controllers/node_details.js
  legacy/src/app/controllers/tests/test_node_details.js
  legacy/src/app/factories/tags.js
  legacy/src/app/factories/tests/test_tags.js
  legacy/src/app/partials/node-details.html
Labels: Review: Code +1, Review: QA +1, Legacy 🧟‍♂️

#3522 refactor(legacy): add subnet
  ui/src/app/base/components/FormikFormContent/FormikFormContent.tsx
  ui/src/app/base/components/VLANSelect/VLANSelect.test.tsx
  ui/src/app/base/components/VLANSelect/VLANSelect.tsx
  ui/src/app/machines/views/MachineDetails/MachineNetwork/NetworkFields/NetworkFields.tsx
  ui/src/app/store/subnet/types/actions.ts
  ui/src/app/subnets/views/FormActions/FormActions.tsx
  ui/src/app/subnets/views/FormActions/components/AddSubnet.test.tsx
  ui/src/app/subnets/views/FormActions/components/AddSubnet.tsx
Labels: Review: QA +1, Review: Code +1 (with changes)

#3532 fix(ui): fix filtering nodes by tag
  ui/src/app/base/components/FilterAccordion/FilterAccordion.test.tsx
  ui/src/app/base/components/FilterAccordion/FilterAccordion.tsx
  ui/src/app/controllers/views/ControllerList/ControllerList.tsx
  ui/src/app/dashboard/views/DiscoveriesList/DiscoveriesFilterAccordion/DiscoveriesFilterAccordion.tsx
  ui/src/app/devices/views/DeviceList/DeviceListControls/DeviceFilterAccordion/DeviceFilterAccordion.test.tsx
  ui/src/app/devices/views/DeviceList/DeviceListControls/DeviceFilterAccordion/DeviceFilterAccordion.tsx
  ui/src/app/kvm/components/LXDHostVMs/LXDHostVMs.tsx
  ui/src/app/kvm/views/LXDClusterDetails/LXDClusterHosts/LXDClusterHosts.tsx
  ui/src/app/kvm/views/LXDClusterDetails/LXDClusterVMs/LXDClusterVMs.tsx
  ui/src/app/machines/views/MachineList/MachineList.tsx
  ui/src/app/machines/views/MachineList/MachineListControls/MachinesFilterAccordion/MachinesFilterAccordion.test.tsx
  ui/src/app/machines/views/MachineList/MachineListControls/MachinesFilterAccordion/MachinesFilterAccordion.tsx
  ui/src/app/store/controller/selectors.test.ts
  ui/src/app/store/controller/selectors.ts
  ui/src/app/store/controller/utils/search.test.ts
  ui/src/app/store/controller/utils/search.ts
  ui/src/app/store/device/selectors.test.ts
  ui/src/app/store/device/selectors.ts
  ui/src/app/store/device/utils/search.test.ts
  ui/src/app/store/device/utils/search.ts
  ui/src/app/store/machine/selectors.test.ts
  ui/src/app/store/machine/selectors.ts
  ui/src/app/store/machine/utils/search.test.ts
  ui/src/app/store/machine/utils/search.ts
  ui/src/app/store/pod/selectors.ts
  ui/src/app/store/tag/utils.test.ts
  ui/src/app/store/tag/utils.ts
  ui/src/app/store/vmcluster/selectors.ts
  ui/src/app/utils/search/filter-items.test.ts
  ui/src/app/utils/search/filter-items.ts
Labels: Review: Code +1, Review: QA +1

#3535 fix(ui): fix route rerenders
  ui/src/app/Routes.tsx
  ui/src/app/base/components/SideNav/SideNav.test.tsx
  ui/src/app/base/hooks/urls.test.tsx
  ui/src/app/controllers/views/ControllerList/ControllerList.test.tsx
  ui/src/app/controllers/views/Controllers.tsx
  ui/src/app/dashboard/views/Dashboard.tsx
  ui/src/app/devices/views/DeviceDetails/DeviceDetails.test.tsx
  ui/src/app/devices/views/DeviceDetails/DeviceDetails.tsx
  ui/src/app/devices/views/DeviceList/DeviceList.test.tsx
  ui/src/app/devices/views/Devices.tsx
  ui/src/app/domains/views/DomainDetails/DomainDetails.test.tsx
  ui/src/app/domains/views/Domains.tsx
  ui/src/app/domains/views/DomainsList/DomainsList.tsx
  ui/src/app/images/views/Images.tsx
  ui/src/app/intro/views/Intro.tsx
  ui/src/app/kvm/views/KVM.tsx
  ui/src/app/kvm/views/LXDClusterDetails/LXDClusterDetails.test.tsx
  ui/src/app/kvm/views/LXDClusterDetails/LXDClusterDetails.tsx
  ui/src/app/kvm/views/LXDSingleDetails/LXDSingleDetails.test.tsx
  ui/src/app/kvm/views/LXDSingleDetails/LXDSingleDetails.tsx
  ui/src/app/kvm/views/VirshDetails/VirshDetails.tsx
  ui/src/app/machines/views/MachineDetails/MachineCommissioning/MachineCommissioning.test.tsx
  ui/src/app/machines/views/MachineDetails/MachineDetails.test.tsx
  ui/src/app/machines/views/MachineDetails/MachineDetails.tsx
  ui/src/app/machines/views/MachineDetails/MachineInstances/MachineInstances.test.tsx
  ui/src/app/machines/views/MachineDetails/MachineLogs/MachineLogs.tsx
  ui/src/app/machines/views/MachineDetails/MachinePCIDevices/MachinePCIDevices.test.tsx
  ui/src/app/machines/views/MachineDetails/MachineStorage/MachineStorage.test.tsx
  ui/src/app/machines/views/MachineDetails/MachineSummary/MachineSummary.test.tsx
  ui/src/app/machines/views/MachineDetails/MachineTests/MachineTests.test.tsx
  ui/src/app/machines/views/MachineDetails/MachineTests/MachineTestsDetails/MachineTestsDetails.test.tsx
  ui/src/app/machines/views/MachineDetails/MachineUSBDevices/MachineUSBDevices.test.tsx
  ui/src/app/machines/views/Machines.test.tsx
  ui/src/app/machines/views/Machines.tsx
  ui/src/app/preferences/components/Nav/Nav.test.tsx
  ui/src/app/preferences/components/Routes/Routes.tsx
  ui/src/app/preferences/views/APIKeys/APIKeyEdit/APIKeyEdit.test.tsx
  ui/src/app/settings/components/Nav/Nav.test.tsx
  ui/src/app/settings/components/Routes/Routes.tsx
  ui/src/app/settings/views/Dhcp/DhcpEdit/DhcpEdit.test.tsx
  ui/src/app/settings/views/LicenseKeys/LicenseKeyEdit/LicenseKeyEdit.test.tsx
  ui/src/app/settings/views/Repositories/RepositoryAdd/RepositoryAdd.test.tsx
  ui/src/app/settings/views/Repositories/RepositoryEdit/RepositoryEdit.test.tsx
  ui/src/app/settings/views/Scripts/ScriptsUpload/ScriptsUpload.test.tsx
  ui/src/app/settings/views/Users/UserEdit/UserEdit.test.tsx
  ui/src/app/subnets/views/Subnets.tsx
  ui/src/app/zones/views/ZoneDetails/ZoneDetails.test.tsx
  ui/src/app/zones/views/ZoneDetails/ZoneDetailsHeader/ZoneDetailsHeader.test.tsx
  ui/src/app/zones/views/Zones.tsx
Labels: Review: Code +1, Review: QA +1

#3536 fix(ui): fix tag names in the vms table and clone form
  ui/src/app/kvm/components/LXDVMsTable/VMsTable/VMsTable.test.tsx
  ui/src/app/kvm/components/LXDVMsTable/VMsTable/VMsTable.tsx
  ui/src/app/machines/components/MachineHeaderForms/ActionFormWrapper/CloneForm/CloneFormFields/SourceMachineSelect/SourceMachineSelect.test.tsx
  ui/src/app/machines/components/MachineHeaderForms/ActionFormWrapper/CloneForm/CloneFormFields/SourceMachineSelect/SourceMachineSelect.tsx
Labels: Review: Code +1, Review: QA +1

#3534 feat(ui): add types and utils for detailed subnets and VLANs
  ui/src/app/store/subnet/types/base.ts
  ui/src/app/store/subnet/types/enum.ts
  ui/src/app/store/subnet/types/index.ts
  ui/src/app/store/subnet/utils.test.ts
  ui/src/app/store/subnet/utils.ts
  ui/src/app/store/vlan/types/base.ts
  ui/src/app/store/vlan/types/index.ts
  ui/src/app/store/vlan/utils.test.ts
  ui/src/app/store/vlan/utils.ts
  ui/src/app/subnets/views/SubnetDetails/SubnetDetailsHeader/SubnetDetailsHeader.test.tsx
  ui/src/app/subnets/views/SubnetDetails/SubnetDetailsHeader/SubnetDetailsHeader.tsx
  ui/src/app/subnets/views/VLANDetails/VLANDetailsHeader/VLANDetailsHeader.test.tsx
  ui/src/app/subnets/views/VLANDetails/VLANDetailsHeader/VLANDetailsHeader.tsx
  ui/src/testing/factories/index.ts
  ui/src/testing/factories/subnet.ts
  ui/src/testing/factories/vlan.ts
Labels: Review: Code +1 (with changes)

#3538 feat(ui): add missing keys and actions to subnet slice
  ui/src/__snapshots__/root-reducer.test.ts.snap
  ui/src/app/store/subnet/actions.test.ts
  ui/src/app/store/subnet/reducers.test.ts
  ui/src/app/store/subnet/selectors.test.ts
  ui/src/app/store/subnet/selectors.ts
  ui/src/app/store/subnet/slice.ts
  ui/src/app/store/subnet/types/base.ts
  ui/src/app/store/subnet/types/index.ts
  ui/src/app/store/utils/slice.ts
  ui/src/app/subnets/views/Subnets.tsx
  ui/src/testing/factories/index.ts
  ui/src/testing/factories/state.ts
  ui/src/testing/factories/subnet.ts
Labels: Review: Code +1, Review: QA +1

#3539 feat(ui): add missing keys and actions to vlan slice
  ui/src/__snapshots__/root-reducer.test.ts.snap
  ui/src/app/store/utils/slice.ts
  ui/src/app/store/vlan/actions.test.ts
  ui/src/app/store/vlan/reducers.test.ts
  ui/src/app/store/vlan/selectors.test.ts
  ui/src/app/store/vlan/selectors.ts
  ui/src/app/store/vlan/slice.ts
  ui/src/app/store/vlan/types/actions.ts
  ui/src/app/store/vlan/types/base.ts
  ui/src/app/store/vlan/types/index.ts
  ui/src/testing/factories/index.ts
  ui/src/testing/factories/state.ts
Labels: Review: Code +1, Review: QA +1

#3528 add formik-devtools-extension
  ui/package.json
  ui/src/app/base/components/FormikFormContent/FormikFormContent.tsx
  yarn.lock
Labels: Review: Code +1, Review: QA +1

#3541 feat(ui): add more scaffolding components for network details pages
  ui/src/app/base/hooks/index.ts
  ui/src/app/subnets/components/DHCPSnippets/DHCPSnippets.tsx
  ui/src/app/subnets/components/DHCPSnippets/index.ts
  ui/src/app/subnets/components/ReservedRanges/ReservedRanges.tsx
  ui/src/app/subnets/components/ReservedRanges/index.ts
  ui/src/app/subnets/views/FabricDetails/FabricDetails.tsx
  ui/src/app/subnets/views/FabricDetails/FabricSummary/FabricSummary.tsx
  ui/src/app/subnets/views/FabricDetails/FabricSummary/index.ts
  ui/src/app/subnets/views/FabricDetails/FabricVLANs/FabricVLANs.tsx
  ui/src/app/subnets/views/FabricDetails/FabricVLANs/index.ts
  ui/src/app/subnets/views/SpaceDetails/SpaceDetails.tsx
  ui/src/app/subnets/views/SpaceDetails/SpaceSubnets/SpaceSubnets.tsx
  ui/src/app/subnets/views/SpaceDetails/SpaceSubnets/index.ts
  ui/src/app/subnets/views/SpaceDetails/SpaceSummary/SpaceSummary.tsx
  ui/src/app/subnets/views/SpaceDetails/SpaceSummary/index.ts
  ui/src/app/subnets/views/SubnetDetails/StaticRoutes/StaticRoutes.tsx
  ui/src/app/subnets/views/SubnetDetails/StaticRoutes/index.ts
  ui/src/app/subnets/views/SubnetDetails/SubnetDetails.tsx
  ui/src/app/subnets/views/SubnetDetails/SubnetSummary/SubnetSummary.tsx
  ui/src/app/subnets/views/SubnetDetails/SubnetSummary/index.ts
  ui/src/app/subnets/views/SubnetDetails/UsedIPs/SubnetUsedIPs.tsx
  ui/src/app/subnets/views/SubnetDetails/UsedIPs/index.ts
  ui/src/app/subnets/views/SubnetDetails/Utilisation/SubnetUtilisation.tsx
  ui/src/app/subnets/views/SubnetDetails/Utilisation/index.ts
  ui/src/app/subnets/views/VLANDetails/DHCPStatus/DHCPStatus.tsx
  ui/src/app/subnets/views/VLANDetails/DHCPStatus/index.ts
  ui/src/app/subnets/views/VLANDetails/VLANDetails.tsx
  ui/src/app/subnets/views/VLANDetails/VLANSubnets/VLANSubnets.tsx
  ui/src/app/subnets/views/VLANDetails/VLANSubnets/index.ts
  ui/src/app/subnets/views/VLANDetails/VLANSummary/VLANSummary.tsx
  ui/src/app/subnets/views/VLANDetails/VLANSummary/index.ts
Labels: Review: QA +1, Review: Code +1 (with changes)

#3546 feat(ui): add tags view
  ui/src/app/Routes.tsx
  ui/src/app/machines/views/MachineList/MachineListHeader/MachineListHeader.test.tsx
  ui/src/app/machines/views/MachineList/MachineListHeader/MachineListHeader.tsx
  ui/src/app/machines/views/Machines.test.tsx
  ui/src/app/machines/views/Machines.tsx
  ui/src/app/tags/urls.ts
  ui/src/app/tags/views/Tags.test.tsx
  ui/src/app/tags/views/Tags.tsx
  yarn.lock
Labels: Review: Code +1, Review: QA +1

#3542 feat(ui): add staticroute slice and selectors
  ui/src/__snapshots__/root-reducer.test.ts.snap
  ui/src/app/store/root/types.ts
  ui/src/app/store/staticroute/action.test.ts
  ui/src/app/store/staticroute/index.ts
  ui/src/app/store/staticroute/reducers.test.ts
  ui/src/app/store/staticroute/selectors.test.ts
  ui/src/app/store/staticroute/selectors.ts
  ui/src/app/store/staticroute/slice.ts
  ui/src/app/store/staticroute/types/actions.ts
  ui/src/app/store/staticroute/types/base.ts
  ui/src/app/store/staticroute/types/enum.ts
  ui/src/app/store/staticroute/types/index.ts
  ui/src/app/subnets/views/SubnetDetails/SubnetDetails.test.tsx
  ui/src/app/subnets/views/SubnetDetails/SubnetDetails.tsx
  ui/src/root-reducer.ts
  ui/src/testing/factories/index.ts
  ui/src/testing/factories/state.ts
  ui/src/testing/factories/staticroute.ts
Labels: Review: QA +1, Review: Code +1 (with changes)

#3548 refactor: subnets fabric summary
  ui/src/app/base/components/ControllerLink/ControllerLink.test.tsx
  ui/src/app/base/components/ControllerLink/ControllerLink.tsx
  ui/src/app/base/components/ControllerLink/index.ts
  ui/src/app/base/components/Definition/Definition.test.tsx
  ui/src/app/base/components/Definition/Definition.tsx
  ui/src/app/base/components/Definition/index.ts
  ui/src/app/controllers/views/ControllerList/ControllerListTable/ControllerListTable.tsx
  ui/src/app/devices/views/DeviceDetails/DeviceConfiguration/DeviceConfiguration.tsx
  ui/src/app/store/controller/selectors.ts
  ui/src/app/store/controller/utils/search.ts
  ui/src/app/store/fabric/types/actions.ts
  ui/src/app/subnets/views/FabricDetails/FabricDetails.tsx
  ui/src/app/subnets/views/FabricDetails/FabricSummary/FabricSummary.test.tsx
  ui/src/app/subnets/views/FabricDetails/FabricSummary/FabricSummary.tsx
  ui/src/app/subnets/views/FormActions/components/AddFabric.test.tsx
  ui/src/app/subnets/views/FormActions/components/AddFabric.tsx
Labels: Review: QA +1, Review: Code +1 (with changes)

#3543 refactor: subnets table view
  integration/cypress/integration/legacy/subnets.spec.ts
  integration/cypress/integration/subnets/add.spec.ts
  integration/cypress/integration/subnets/subnets.spec.ts
  integration/cypress/integration/utils.ts
  ui/package.json
  ui/src/app/base/components/FormikForm/FormikForm.tsx
  ui/src/app/base/components/FormikFormContent/FormikFormContent.tsx
  ui/src/app/base/hooks/urls.ts
  ui/src/app/store/fabric/utils.ts
  ui/src/app/store/space/utils.ts
  ui/src/app/store/subnet/utils.ts
  ui/src/app/store/vlan/utils.ts
  ui/src/app/subnets/urls.ts
  ui/src/app/subnets/views/FormActions/components/AddFabric.tsx
  ui/src/app/subnets/views/FormActions/components/AddSpace.tsx
  ui/src/app/subnets/views/FormActions/components/AddSubnet.tsx
  ui/src/app/subnets/views/FormActions/components/AddVlan.tsx
  ui/src/app/subnets/views/Subnets.tsx
  ui/src/app/subnets/views/SubnetsList/SubnetsControls/SubnetsControls.test.tsx
  ui/src/app/subnets/views/SubnetsList/SubnetsControls/SubnetsControls.tsx
  ui/src/app/subnets/views/SubnetsList/SubnetsControls/index.ts
  ui/src/app/subnets/views/SubnetsList/SubnetsList.tsx
  ui/src/app/subnets/views/SubnetsList/SubnetsTable/FabricTable/FabricTable.tsx
  ui/src/app/subnets/views/SubnetsList/SubnetsTable/FabricTable/index.ts
  ui/src/app/subnets/views/SubnetsList/SubnetsTable/SpaceTable/SpaceTable.tsx
  ui/src/app/subnets/views/SubnetsList/SubnetsTable/SpaceTable/index.ts
  ui/src/app/subnets/views/SubnetsList/SubnetsTable/SubnetsTable.tsx
  ui/src/app/subnets/views/SubnetsList/SubnetsTable/components.tsx
  ui/src/app/subnets/views/SubnetsList/SubnetsTable/hooks.ts
  ui/src/app/subnets/views/SubnetsList/SubnetsTable/index.ts
  ui/src/app/subnets/views/SubnetsList/SubnetsTable/types.ts
  ui/src/app/subnets/views/SubnetsList/SubnetsTable/utils.test.tsx
  ui/src/app/subnets/views/SubnetsList/SubnetsTable/utils.tsx
  ui/src/app/subnets/views/SubnetsList/_index.scss
  ui/src/app/subnets/views/SubnetsList/index.ts
  ui/src/scss/_utilities.scss
  ui/src/scss/index.scss
  yarn.lock
Labels: Review: QA +1, Review: Code +1 (with changes)

#3552 refactor: build subnets space summary
  ui/src/app/subnets/views/SpaceDetails/SpaceDetails.test.tsx
  ui/src/app/subnets/views/SpaceDetails/SpaceDetails.tsx
  ui/src/app/subnets/views/SpaceDetails/SpaceSummary/SpaceSummary.test.tsx
  ui/src/app/subnets/views/SpaceDetails/SpaceSummary/SpaceSummary.tsx
Labels: Review: Code +1, Review: QA +1

#3551 refactor(ui): add timestamped model
  ui/src/app/base/components/NotificationGroup/__snapshots__/NotificationGroup.test.tsx.snap
  ui/src/app/store/controller/types/base.ts
  ui/src/app/store/device/types/base.ts
  ui/src/app/store/dhcpsnippet/types/base.ts
  ui/src/app/store/domain/types/base.ts
  ui/src/app/store/event/types/base.ts
  ui/src/app/store/fabric/types/base.ts
  ui/src/app/store/machine/types/base.ts
  ui/src/app/store/nodedevice/types/base.ts
  ui/src/app/store/notification/types/base.ts
  ui/src/app/store/packagerepository/types/base.ts
  ui/src/app/store/pod/types/base.ts
  ui/src/app/store/resourcepool/types/base.ts
  ui/src/app/store/script/types/base.ts
  ui/src/app/store/space/types/base.ts
  ui/src/app/store/sshkey/types/base.ts
  ui/src/app/store/sslkey/types/base.ts
  ui/src/app/store/staticroute/types/base.ts
  ui/src/app/store/subnet/types/base.ts
  ui/src/app/store/tag/types/base.ts
  ui/src/app/store/types/model.ts
  ui/src/app/store/types/node.ts
  ui/src/app/store/vlan/types/base.ts
  ui/src/app/store/zone/types/base.ts
  ui/src/testing/factories/dhcpsnippet.ts
  ui/src/testing/factories/domain.ts
  ui/src/testing/factories/event.ts
  ui/src/testing/factories/fabric.ts
  ui/src/testing/factories/model.ts
  ui/src/testing/factories/nodedevice.ts
  ui/src/testing/factories/nodes.ts
  ui/src/testing/factories/notification.ts
  ui/src/testing/factories/packagerepository.ts
  ui/src/testing/factories/resourcepool.ts
  ui/src/testing/factories/script.ts
  ui/src/testing/factories/space.ts
  ui/src/testing/factories/sshkey.ts
  ui/src/testing/factories/sslkey.ts
  ui/src/testing/factories/staticroute.ts
  ui/src/testing/factories/subnet.ts
  ui/src/testing/factories/tag.ts
  ui/src/testing/factories/vlan.ts
  ui/src/testing/factories/zone.ts
Labels: Review: Code +1

#3553 test: remove redundant cypress test
  integration/cypress.json
  integration/cypress/integration/subnets/add.spec.ts
Labels: Review: Code +1

#3555 fix(ui): handle non-json bootresource responses
  ui/src/app/base/sagas/websockets.test.ts
  ui/src/app/base/sagas/websockets.ts
  ui/src/app/store/bootresource/actions.test.ts
  ui/src/app/store/bootresource/slice.ts
  ui/src/websocket-client.ts
Labels: Review: Code +1, Review: QA +1

#3562 fix(ui): fix subnets table routes
  ui/src/app/subnets/urls.ts
  ui/src/app/subnets/views/SubnetsList/SubnetsTable/components.tsx
  ui/src/app/subnets/views/SubnetsList/SubnetsTable/utils.test.tsx
Labels: Review: Code +1, Review: QA +1

#3557 refactor(legacy): remove unused legacy code
  legacy/src/app/controllers/node_result.js
  legacy/src/app/controllers/tests/test_node_result.js
  legacy/src/app/directives/action_button.js
  legacy/src/app/directives/dbl_click_overlay.js
  legacy/src/app/directives/enter_blur.js
  legacy/src/app/directives/navigation_dropdown.js
  legacy/src/app/directives/navigation_mobile.js
  legacy/src/app/directives/ssh_keys.js
  legacy/src/app/directives/tests/test_action_button.js
  legacy/src/app/directives/tests/test_dbl_click_overlay.js
  legacy/src/app/directives/tests/test_enter_blur.js
  legacy/src/app/directives/tests/test_ssh_keys.js
  legacy/src/app/directives/tests/test_version_reloader.js
  legacy/src/app/directives/version_reloader.js
  legacy/src/app/entry.js
  legacy/src/app/enum.js
  legacy/src/app/factories/packagerepositories.js
  legacy/src/app/factories/resourcepools.js
  legacy/src/app/factories/sshkeys.js
  legacy/src/app/factories/tests/test_packagerepositories.js
  legacy/src/app/factories/tests/test_resourcepools.js
  legacy/src/app/factories/tests/test_sshkeys.js
  legacy/src/app/factories/tests/test_users.js
  legacy/src/app/factories/users.js
  legacy/src/app/filters/format_storage_type.js
  legacy/src/app/filters/tests/test_storage_type.js
  legacy/src/app/partials/ssh-keys.html
  legacy/src/app/services/browser.js
  legacy/src/app/services/tests/test_browser.js
  legacy/src/scss/_base_typography.scss
  legacy/src/scss/_maas.scss
  legacy/src/scss/_patterns_action-button.scss
  legacy/src/scss/_patterns_button.scss
  legacy/src/scss/_patterns_code.scss
  legacy/src/scss/_patterns_filter.scss
  legacy/src/scss/_patterns_icons.scss
  legacy/src/scss/_tables.scss
  legacy/src/scss/_utils.scss
  legacy/src/scss/build.scss
  legacy/src/scss/lists/_patterns_inline-list.scss
  legacy/src/scss/tables/_base_tables.scss
  legacy/src/scss/tables/_patterns_table-dns.scss
  legacy/src/scss/tables/_patterns_table-network-summary.scss
  legacy/src/scss/tables/_patterns_table-sortable.scss
  legacy/src/scss/tables/_patterns_table-ssh-keys.scss
Labels: Review: Code +1, Review: QA +1, Legacy 🧟‍♂️

#3563 feat(ui): display the VLAN title and delete button
  ui/src/app/subnets/views/VLANDetails/VLANDetails.tsx
  ui/src/app/subnets/views/VLANDetails/VLANDetailsHeader/VLANDetailsHeader.test.tsx
  ui/src/app/subnets/views/VLANDetails/VLANDetailsHeader/VLANDetailsHeader.tsx
Labels: Review: Code +1, Review: QA +1

#3564 feat(ui): build VLAN summary
  ui/src/app/store/controller/selectors.test.ts
  ui/src/app/store/controller/selectors.ts
  ui/src/app/store/vlan/types/base.ts
  ui/src/app/subnets/views/VLANDetails/VLANDetails.test.tsx
  ui/src/app/subnets/views/VLANDetails/VLANDetails.tsx
  ui/src/app/subnets/views/VLANDetails/VLANDetailsHeader/VLANDetailsHeader.tsx
  ui/src/app/subnets/views/VLANDetails/VLANSummary/VLANSummary.test.tsx
  ui/src/app/subnets/views/VLANDetails/VLANSummary/VLANSummary.tsx
Labels: Review: QA +1, Review: Code +1 (with changes)

#3559 refactor: subnets/space build delete space form
  integration/cypress.json
  integration/cypress/integration/subnets/add.spec.ts
  ui/src/app/store/space/utils.ts
  ui/src/app/subnets/urls.ts
  ui/src/app/subnets/views/FabricDetails/FabricDetails.tsx
  ui/src/app/subnets/views/SpaceDetails/SpaceDetails.tsx
  ui/src/app/subnets/views/SpaceDetails/SpaceDetailsHeader/SpaceDelete/SpaceDelete.tsx
  ui/src/app/subnets/views/SpaceDetails/SpaceDetailsHeader/SpaceDelete/index.ts
  ui/src/app/subnets/views/SpaceDetails/SpaceDetailsHeader/SpaceDetailsHeader.test.tsx
  ui/src/app/subnets/views/SpaceDetails/SpaceDetailsHeader/SpaceDetailsHeader.tsx
  ui/src/app/subnets/views/SubnetDetails/SubnetDetails.tsx
  ui/src/app/subnets/views/VLANDetails/VLANDetails.tsx
Labels: Review: Code +1 (with changes)
