Repository canonical/maas-ui, pull requests merged in 2022-06, with the labels that each got.

#3971 refactor(ui): refactor used storage table to work with controllers
  ui/src/app/base/components/node/StorageTables/StorageTables.tsx
  ui/src/app/base/components/node/StorageTables/UsedStorageTable/UsedStorageTable.test.tsx
  ui/src/app/base/components/node/StorageTables/UsedStorageTable/UsedStorageTable.tsx
  ui/src/app/controllers/views/ControllerDetails/ControllerStorage/ControllerStorage.test.tsx
  ui/src/app/controllers/views/ControllerDetails/ControllerStorage/ControllerStorage.tsx
Labels: Review: Code +1, Review: QA +1

#3975 feat(ui): set up controller network tab and DCHP snippets
  ui/src/app/base/components/NodeNetworkTab/NodeNetworkTab.tsx
  ui/src/app/controllers/views/ControllerDetails/ControllerNetwork/ControllerNetwork.test.tsx
  ui/src/app/controllers/views/ControllerDetails/ControllerNetwork/ControllerNetwork.tsx
  ui/src/app/machines/views/MachineDetails/MachineNetwork/MachineNetwork.test.tsx
  ui/src/app/machines/views/MachineDetails/MachineNetwork/MachineNetwork.tsx
Labels: Review: Code +1, Review: QA +1

#3968 refactor: build VLANs tab
  ui/src/app/controllers/views/ControllerDetails/ControllerVLANs/ControllerVLANs.tsx
  ui/src/app/controllers/views/ControllerDetails/ControllerVLANs/ControllerVLANsTable/ControllerVLANsTable.test.tsx
  ui/src/app/controllers/views/ControllerDetails/ControllerVLANs/ControllerVLANsTable/ControllerVLANsTable.tsx
  ui/src/app/controllers/views/ControllerDetails/ControllerVLANs/ControllerVLANsTable/_index.scss
  ui/src/app/controllers/views/ControllerDetails/ControllerVLANs/ControllerVLANsTable/constants.ts
  ui/src/app/controllers/views/ControllerDetails/ControllerVLANs/ControllerVLANsTable/hooks.ts
  ui/src/app/controllers/views/ControllerDetails/ControllerVLANs/ControllerVLANsTable/index.ts
  ui/src/app/controllers/views/ControllerDetails/ControllerVLANs/ControllerVLANsTable/types.ts
  ui/src/scss/index.scss
Labels: Review: QA +1, Review: Code +1 (with changes)

#3976 refactor(ui): refactor datastores table to work with controllers
  ui/src/app/base/components/node/StorageTables/DatastoresTable/DatastoresTable.test.tsx
  ui/src/app/base/components/node/StorageTables/DatastoresTable/DatastoresTable.tsx
  ui/src/app/base/components/node/StorageTables/StorageTables.tsx
Labels: Review: Code +1, Review: QA +1

#3978 refactor(ui): refactor available storage table to work with controllers
  ui/src/app/base/components/node/StorageTables/AvailableStorageTable/AddLogicalVolume/AddLogicalVolume.tsx
  ui/src/app/base/components/node/StorageTables/AvailableStorageTable/AddPartition/AddPartition.tsx
  ui/src/app/base/components/node/StorageTables/AvailableStorageTable/AvailableStorageTable.test.tsx
  ui/src/app/base/components/node/StorageTables/AvailableStorageTable/AvailableStorageTable.tsx
  ui/src/app/base/components/node/StorageTables/AvailableStorageTable/CreateBcache/CreateBcache.tsx
  ui/src/app/base/components/node/StorageTables/AvailableStorageTable/EditDisk/EditDisk.tsx
  ui/src/app/base/components/node/StorageTables/AvailableStorageTable/EditPartition/EditPartition.tsx
  ui/src/app/base/components/node/StorageTables/StorageTables.tsx
Labels: Review: Code +1, Review: QA +1

#3984 feat(ui): show last image sync timestamp in controller status bar
  ui/src/app/base/components/StatusBar/StatusBar.test.tsx
  ui/src/app/base/components/StatusBar/StatusBar.tsx
Labels: Review: Code +1, Review: QA +1

#3985 refactor(ui): refactor machine PCI/USB tabs to work with controllers
  ui/src/app/base/components/node/NodeDevices/NodeDevices.test.tsx
  ui/src/app/base/components/node/NodeDevices/NodeDevices.tsx
  ui/src/app/base/components/node/NodeDevices/NodeDevicesWarning/NodeDevicesWarning.test.tsx
  ui/src/app/base/components/node/NodeDevices/NodeDevicesWarning/NodeDevicesWarning.tsx
  ui/src/app/base/components/node/NodeDevices/NodeDevicesWarning/index.ts
  ui/src/app/base/components/node/NodeDevices/_index.scss
  ui/src/app/base/components/node/NodeDevices/index.ts
  ui/src/app/controllers/views/ControllerDetails/ControllerPCIDevices/ControllerPCIDevices.tsx
  ui/src/app/controllers/views/ControllerDetails/ControllerUSBDevices/ControllerUSBDevices.tsx
  ui/src/app/machines/views/MachineDetails/MachinePCIDevices/MachinePCIDevices.test.tsx
  ui/src/app/machines/views/MachineDetails/MachinePCIDevices/MachinePCIDevices.tsx
  ui/src/app/machines/views/MachineDetails/MachineUSBDevices/MachineUSBDevices.test.tsx
  ui/src/app/machines/views/MachineDetails/MachineUSBDevices/MachineUSBDevices.tsx
  ui/src/app/store/nodedevice/reducers.test.ts
  ui/src/app/store/nodedevice/selectors.test.tsx
  ui/src/app/store/nodedevice/selectors.ts
  ui/src/app/store/nodedevice/slice.ts
  ui/src/app/store/nodescriptresult/reducers.test.ts
  ui/src/scss/index.scss
Labels: Review: Code +1, Review: QA +1

#3987 refactor(ui): refactor machine system card to work with controllers
  ui/src/app/base/components/node/HardwareCard/HardwareCard.test.tsx
  ui/src/app/base/components/node/HardwareCard/HardwareCard.tsx
  ui/src/app/base/components/node/HardwareCard/__snapshots__/HardwareCard.test.tsx.snap
  ui/src/app/base/components/node/HardwareCard/index.ts
  ui/src/app/machines/views/MachineDetails/MachineSummary/MachineSummary.test.tsx
  ui/src/app/machines/views/MachineDetails/MachineSummary/MachineSummary.tsx
  ui/src/app/machines/views/MachineDetails/MachineSummary/SystemCard/SystemCard.test.tsx
  ui/src/app/machines/views/MachineDetails/MachineSummary/SystemCard/SystemCard.tsx
  ui/src/app/machines/views/MachineDetails/MachineSummary/SystemCard/__snapshots__/SystemCard.test.tsx.snap
  ui/src/app/machines/views/MachineDetails/MachineSummary/SystemCard/index.ts
  ui/src/app/machines/views/MachineDetails/MachineSummary/_index.scss
Labels: Review: Code +1, Review: QA +1

#3986 feat(ui): display controller interfaces
  ui/src/app/base/components/node/networking/NetworkTable/NetworkTable.test.tsx
  ui/src/app/base/components/node/networking/NetworkTable/NetworkTable.tsx
  ui/src/app/base/components/node/networking/NetworkTable/_index.scss
  ui/src/app/controllers/views/ControllerDetails/ControllerNetwork/ControllerNetwork.tsx
  ui/src/app/machines/views/MachineDetails/MachineNetwork/NetworkTable/NetworkTableActions/NetworkTableActions.tsx
Labels: Review: Code +1, Review: QA +1

#3980 refactor(ui): refactor machine overview card to work with controllers
  ui/src/app/base/components/node/OverviewCard/ControllerStatusCard/ControllerStatusCard.tsx
  ui/src/app/base/components/node/OverviewCard/ControllerStatusCard/index.ts
  ui/src/app/base/components/node/OverviewCard/CpuCard/CpuCard.test.tsx
  ui/src/app/base/components/node/OverviewCard/CpuCard/CpuCard.tsx
  ui/src/app/base/components/node/OverviewCard/CpuCard/index.ts
  ui/src/app/base/components/node/OverviewCard/DetailsCard/DetailsCard.test.tsx
  ui/src/app/base/components/node/OverviewCard/DetailsCard/DetailsCard.tsx
  ui/src/app/base/components/node/OverviewCard/DetailsCard/index.ts
  ui/src/app/base/components/node/OverviewCard/MachineStatusCard/MachineStatusCard.test.tsx
  ui/src/app/base/components/node/OverviewCard/MachineStatusCard/MachineStatusCard.tsx
  ui/src/app/base/components/node/OverviewCard/MachineStatusCard/index.ts
  ui/src/app/base/components/node/OverviewCard/MemoryCard/MemoryCard.test.tsx
  ui/src/app/base/components/node/OverviewCard/MemoryCard/MemoryCard.tsx
  ui/src/app/base/components/node/OverviewCard/MemoryCard/index.ts
  ui/src/app/base/components/node/OverviewCard/OverviewCard.test.tsx
  ui/src/app/base/components/node/OverviewCard/OverviewCard.tsx
  ui/src/app/base/components/node/OverviewCard/StorageCard/StorageCard.test.tsx
  ui/src/app/base/components/node/OverviewCard/StorageCard/StorageCard.tsx
  ui/src/app/base/components/node/OverviewCard/StorageCard/index.ts
  ui/src/app/base/components/node/OverviewCard/_index.scss
  ui/src/app/base/components/node/OverviewCard/index.ts
  ui/src/app/base/components/node/TestResults/TestResults.test.tsx
  ui/src/app/base/components/node/TestResults/TestResults.tsx
  ui/src/app/base/components/node/TestResults/index.ts
  ui/src/app/controllers/views/ControllerDetails/ControllerSummary/ControllerSummary.tsx
  ui/src/app/controllers/views/ControllerDetails/ControllerSummary/_index.scss
  ui/src/app/machines/views/MachineDetails/MachineSummary/MachineSummary.tsx
  ui/src/app/machines/views/MachineDetails/MachineSummary/OverviewCard/CpuCard/CpuCard.tsx
  ui/src/app/machines/views/MachineDetails/MachineSummary/OverviewCard/DetailsCard/DetailsCard.test.tsx
  ui/src/app/machines/views/MachineDetails/MachineSummary/OverviewCard/DetailsCard/DetailsCard.tsx
  ui/src/app/machines/views/MachineDetails/MachineSummary/OverviewCard/MemoryCard/MemoryCard.tsx
  ui/src/app/machines/views/MachineDetails/MachineSummary/OverviewCard/OverviewCard.tsx
  ui/src/app/machines/views/MachineDetails/MachineSummary/OverviewCard/StatusCard/index.ts
  ui/src/app/machines/views/MachineDetails/MachineSummary/OverviewCard/StorageCard/StorageCard.tsx
  ui/src/app/machines/views/MachineDetails/MachineSummary/_index.scss
  ui/src/scss/index.scss
Labels: Review: Code +1, Review: QA +1

#3982 test: increment test entity names by default
  ui/src/app/machines/views/MachineList/MachineListTable/NameColumn/__snapshots__/NameColumn.test.tsx.snap
  ui/src/app/store/vlan/utils.test.ts
  ui/src/app/subnets/views/FabricDetails/FabricSummary/FabricSummary.test.tsx
  ui/src/app/subnets/views/SubnetsList/SubnetsTable/utils.test.tsx
  ui/src/testing/factories/domain.ts
  ui/src/testing/factories/fabric.ts
  ui/src/testing/factories/general.ts
  ui/src/testing/factories/nodes.ts
  ui/src/testing/factories/packagerepository.ts
  ui/src/testing/factories/resourcepool.ts
  ui/src/testing/factories/script.ts
  ui/src/testing/factories/scriptResult.ts
  ui/src/testing/factories/service.ts
  ui/src/testing/factories/space.ts
  ui/src/testing/factories/sshkey.ts
  ui/src/testing/factories/sslkey.ts
  ui/src/testing/factories/subnet.ts
  ui/src/testing/factories/tag.ts
  ui/src/testing/factories/token.ts
  ui/src/testing/factories/vlan.ts
  ui/src/testing/factories/vmcluster.ts
  ui/src/testing/factories/zone.ts
Labels: Review: Code +1

#3981 update .gitignore
  .gitignore
  .vscode/settings.json
Labels: Review: Code +1

#3991 feat(ui): add logs to controllers
  ui/src/app/base/components/node/NodeLogs/DownloadMenu/DownloadMenu.test.tsx
  ui/src/app/base/components/node/NodeLogs/DownloadMenu/DownloadMenu.tsx
  ui/src/app/base/components/node/NodeLogs/EventLogs/EventLogs.test.tsx
  ui/src/app/base/components/node/NodeLogs/EventLogs/EventLogs.tsx
  ui/src/app/base/components/node/NodeLogs/EventLogs/EventLogsTable/EventLogsTable.test.tsx
  ui/src/app/base/components/node/NodeLogs/EventLogs/EventLogsTable/EventLogsTable.tsx
  ui/src/app/base/components/node/NodeLogs/InstallationOutput/InstallationOutput.test.tsx
  ui/src/app/base/components/node/NodeLogs/InstallationOutput/InstallationOutput.tsx
  ui/src/app/base/components/node/NodeLogs/NodeLogs.test.tsx
  ui/src/app/base/components/node/NodeLogs/NodeLogs.tsx
  ui/src/app/base/components/node/NodeLogs/hooks.ts
  ui/src/app/controllers/urls.ts
  ui/src/app/controllers/views/ControllerDetails/ControllerDetails.tsx
  ui/src/app/controllers/views/ControllerDetails/ControllerDetailsHeader/ControllerDetailsHeader.tsx
  ui/src/app/controllers/views/ControllerDetails/ControllerLogs/ControllerLogs.test.tsx
  ui/src/app/controllers/views/ControllerDetails/ControllerLogs/ControllerLogs.tsx
  ui/src/app/controllers/views/Controllers.tsx
  ui/src/app/machines/views/MachineDetails/MachineLogs/MachineLogs.tsx
  ui/src/app/store/controller/actions.test.ts
  ui/src/app/store/controller/slice.ts
  ui/src/app/store/controller/types/actions.ts
  ui/src/app/store/controller/types/base.ts
Labels: Review: Code +1, Review: QA +1

#3983 refactor: controller details header
  ui/src/app/base/components/NodeName/NodeName.tsx
  ui/src/app/base/components/NodeName/NodeNameFields/NodeNameFields.test.tsx
  ui/src/app/base/components/NodeName/NodeNameFields/NodeNameFields.tsx
  ui/src/app/base/components/NodeName/NodeNameFields/__snapshots__/NodeNameFields.test.tsx.snap
  ui/src/app/base/components/NodeName/__snapshots__/NodeName.test.tsx.snap
  ui/src/app/base/components/NodeName/_index.scss
  ui/src/app/controllers/views/ControllerDetails/ControllerDetailsHeader/ControllerDetailsHeader.tsx
  ui/src/app/controllers/views/ControllerDetails/ControllerDetailsHeader/ControllerName/ControllerName.test.tsx
  ui/src/app/controllers/views/ControllerDetails/ControllerDetailsHeader/ControllerName/ControllerName.tsx
  ui/src/app/controllers/views/ControllerDetails/ControllerDetailsHeader/ControllerName/index.ts
Labels: Review: Code +1, Review: QA +1

#3992 refactor(cypress): merge the integration package
  .env.test
  .github/workflows/accessibility.yml
  .github/workflows/cypress.yml
  .gitignore
  README.md
  cypress.json
  cypress/.eslintrc.js
  cypress/constants.ts
  cypress/fixtures/example.json
  cypress/integration/accessibility/accessibility.spec.ts
  cypress/integration/docs-links/docs-links.spec.ts
  cypress/integration/no-users/login.spec.ts
  cypress/integration/utils.ts
  cypress/integration/with-users/base/footer.spec.ts
  cypress/integration/with-users/base/header.spec.ts
  cypress/integration/with-users/controllers/list.spec.ts
  cypress/integration/with-users/dashboard/dashboard.spec.ts
  cypress/integration/with-users/devices/list.spec.ts
  cypress/integration/with-users/domains/list.spec.ts
  cypress/integration/with-users/images/list.spec.ts
  cypress/integration/with-users/kvm/list.spec.ts
  cypress/integration/with-users/legacy/auth.spec.ts
  cypress/integration/with-users/login/login.spec.ts
  cypress/integration/with-users/machines/add.spec.ts
  cypress/integration/with-users/machines/list.spec.ts
  cypress/integration/with-users/pools/list.spec.ts
  cypress/integration/with-users/preferences/base.spec.ts
  cypress/integration/with-users/settings/base.spec.ts
  cypress/integration/with-users/settings/configuration/deploy.spec.ts
  cypress/integration/with-users/settings/users/add.spec.ts
  cypress/integration/with-users/settings/users/list.spec.ts
  cypress/integration/with-users/subnets/add.spec.ts
  cypress/integration/with-users/subnets/subnets.spec.ts
  cypress/integration/with-users/zones/list.spec.ts
  cypress/percy.sh
  cypress/percy/percy.spec.ts
  cypress/plugins/index.js
  cypress/support/commands.ts
  cypress/support/index.ts
  cypress/tsconfig.json
  docs/HACKING.md
  docs/INTEGRATION.md
  docs/RELEASE.md
  integration/.gitignore
  integration/package.json
  integration/percy.sh
  package.json
Labels: Review: Code +1, Review: QA +1, Maintenance 🔨

#3996 refactor(proxy): merge the proxy with the main package
  .env
  docs/HACKING.md
  nodemon.json
  package.json
  proxy/.gitignore
  proxy/nodemon.json
  proxy/package.json
Labels: Review: Code +1, Review: QA +1, Maintenance 🔨

#4017 fix(cypress): fix workflow cypress path
  .github/workflows/accessibility.yml
  .github/workflows/cypress.yml
Labels: Review: Code +1

#3993 feat(ui): build controller services card
  ui/src/app/controllers/views/ControllerDetails/ControllerSummary/ServicesCard/ServiceStatus/ServiceStatus.test.tsx
  ui/src/app/controllers/views/ControllerDetails/ControllerSummary/ServicesCard/ServiceStatus/ServiceStatus.tsx
  ui/src/app/controllers/views/ControllerDetails/ControllerSummary/ServicesCard/ServiceStatus/index.ts
  ui/src/app/controllers/views/ControllerDetails/ControllerSummary/ServicesCard/ServicesCard.test.tsx
  ui/src/app/controllers/views/ControllerDetails/ControllerSummary/ServicesCard/ServicesCard.tsx
  ui/src/app/store/service/types/base.ts
  ui/src/app/store/service/types/enum.ts
  ui/src/app/store/service/types/index.ts
  ui/src/app/store/service/utils.ts
  ui/src/scss/_patterns_list-trees.scss
  ui/src/scss/index.scss
  ui/src/testing/factories/service.ts
Labels: Review: QA +1, Review: Code +1 (with changes)

#4022 refactor(shared): use the Navigation component from react-components
  package.json
  shared/package.json
  shared/src/components/Header/Header.tsx
  shared/src/components/Navigation/Navigation.test.tsx
  shared/src/components/Navigation/Navigation.tsx
  shared/src/components/Navigation/NavigationLink/NavigationLink.test.tsx
  shared/src/components/Navigation/NavigationLink/NavigationLink.tsx
  shared/src/components/Navigation/NavigationLink/index.ts
  shared/src/components/Navigation/NavigationMenu/NavigationMenu.test.tsx
  shared/src/components/Navigation/NavigationMenu/NavigationMenu.tsx
  shared/src/components/Navigation/NavigationMenu/index.ts
  shared/src/components/Navigation/index.ts
  shared/src/components/Navigation/types.ts
  ui/package.json
  ui/src/app/App.tsx
  yarn.lock
Labels: Review: Code +1, Review: QA +1, Maintenance 🔨

#3990 feat(ui): controller configuration tab
  ui/src/app/base/components/NodeConfigurationFields/NodeConfigurationFields.test.tsx
  ui/src/app/base/components/NodeConfigurationFields/NodeConfigurationFields.tsx
  ui/src/app/base/components/NodeConfigurationFields/index.ts
  ui/src/app/base/components/NodeConfigurationFields/types.ts
  ui/src/app/base/components/node/NodePowerParameters/NodePowerDefinitions/NodePowerDefinitions.tsx
  ui/src/app/base/components/node/NodePowerParameters/NodePowerDefinitions/PowerParameterDefinition/PowerParameterDefinition.test.tsx
  ui/src/app/base/components/node/NodePowerParameters/NodePowerDefinitions/PowerParameterDefinition/PowerParameterDefinition.tsx
  ui/src/app/base/components/node/NodePowerParameters/NodePowerDefinitions/PowerParameterDefinition/index.ts
  ui/src/app/base/components/node/NodePowerParameters/NodePowerDefinitions/index.ts
  ui/src/app/base/components/node/NodePowerParameters/NodePowerNotifications/NodePowerNotifications.tsx
  ui/src/app/base/components/node/NodePowerParameters/NodePowerNotifications/index.ts
  ui/src/app/base/components/node/NodePowerParameters/NodePowerParameters.test.tsx
  ui/src/app/base/components/node/NodePowerParameters/NodePowerParameters.tsx
  ui/src/app/base/components/node/NodePowerParameters/index.ts
  ui/src/app/controllers/views/ControllerDetails/ControllerConfiguration/ControllerConfiguration.test.tsx
  ui/src/app/controllers/views/ControllerDetails/ControllerConfiguration/ControllerConfiguration.tsx
  ui/src/app/controllers/views/ControllerDetails/ControllerConfiguration/ControllerConfigurationForm.tsx
  ui/src/app/controllers/views/ControllerDetails/ControllerConfiguration/ControllerPowerConfiguration.tsx
  ui/src/app/controllers/views/ControllerDetails/ControllerConfiguration/types.ts
  ui/src/app/devices/views/DeviceDetails/DeviceConfiguration/DeviceConfiguration.test.tsx
  ui/src/app/devices/views/DeviceDetails/DeviceConfiguration/DeviceConfiguration.tsx
  ui/src/app/devices/views/DeviceDetails/DeviceConfiguration/DeviceConfigurationFields/index.ts
  ui/src/app/machines/views/MachineDetails/MachineConfiguration/PowerForm/PowerForm.tsx
  ui/src/app/machines/views/MachineDetails/MachineConfiguration/PowerForm/PowerParameters/PowerParameters.tsx
  ui/src/app/machines/views/MachineDetails/MachineConfiguration/PowerForm/PowerParameters/index.ts
  ui/src/app/store/controller/types/actions.ts
  ui/src/app/store/controller/types/base.ts
  ui/src/app/store/general/utils/powerTypes.ts
Labels: Review: Code +1, Review: QA +1

#4020 fix(ui): controller details calling setActive on every route change
  ui/src/app/controllers/constants.ts
  ui/src/app/controllers/views/ControllerDetails/ControllerDetailsHeader/ControllerDetailsHeader.tsx
  ui/src/app/controllers/views/Controllers.test.tsx
  ui/src/app/controllers/views/Controllers.tsx
Labels: Review: Code +1, Review: QA +1

#4025 feat(ui): scroll to top on controller route changes
  ui/src/app/controllers/views/Controllers.tsx
Labels: Review: Code +1, Review: QA +1

#4023 refactor(ui): move shared utils to ui
  .env
  cypress/integration/accessibility/accessibility.spec.ts
  cypress/integration/no-users/login.spec.ts
  cypress/integration/utils.ts
  cypress/integration/with-users/base/footer.spec.ts
  cypress/integration/with-users/base/header.spec.ts
  cypress/integration/with-users/controllers/list.spec.ts
  cypress/integration/with-users/dashboard/dashboard.spec.ts
  cypress/integration/with-users/devices/list.spec.ts
  cypress/integration/with-users/domains/list.spec.ts
  cypress/integration/with-users/images/list.spec.ts
  cypress/integration/with-users/kvm/list.spec.ts
  cypress/integration/with-users/legacy/auth.spec.ts
  cypress/integration/with-users/login/login.spec.ts
  cypress/integration/with-users/machines/add.spec.ts
  cypress/integration/with-users/machines/list.spec.ts
  cypress/integration/with-users/pools/list.spec.ts
  cypress/integration/with-users/preferences/base.spec.ts
  cypress/integration/with-users/settings/base.spec.ts
  cypress/integration/with-users/settings/configuration/deploy.spec.ts
  cypress/integration/with-users/settings/users/add.spec.ts
  cypress/integration/with-users/settings/users/list.spec.ts
  cypress/integration/with-users/subnets/add.spec.ts
  cypress/integration/with-users/subnets/subnets.spec.ts
  cypress/integration/with-users/zones/list.spec.ts
  cypress/percy/percy.spec.ts
  cypress/support/commands.ts
  shared/src/index.ts
  shared/src/utils.test.tsx
  shared/src/utils.ts
  ui/.env
  ui/src/app/base/components/TagSelector/TagSelector.tsx
  ui/src/app/base/components/node/OverviewCard/DetailsCard/DetailsCard.tsx
  ui/src/app/utils/extractPowerType.test.ts
  ui/src/app/utils/extractPowerType.ts
  ui/src/app/utils/index.ts
  ui/src/index.tsx
  ui/src/single-spa-entry.js
  ui/src/websocket-client.ts
Labels: Review: Code +1

#4024 refactor(ui): refactor machine tests table to work with controllers
  docs/HACKING.md
  ui/src/app/base/components/node/NodeTestsTable/NodeTestsTable.test.tsx
  ui/src/app/base/components/node/NodeTestsTable/NodeTestsTable.tsx
  ui/src/app/base/components/node/NodeTestsTable/ScriptRunTime/ScriptRunTime.test.tsx
  ui/src/app/base/components/node/NodeTestsTable/ScriptRunTime/ScriptRunTime.tsx
  ui/src/app/base/components/node/NodeTestsTable/ScriptRunTime/index.ts
  ui/src/app/base/components/node/NodeTestsTable/TestActions/TestActions.test.tsx
  ui/src/app/base/components/node/NodeTestsTable/TestActions/TestActions.tsx
  ui/src/app/base/components/node/NodeTestsTable/TestActions/index.ts
  ui/src/app/base/components/node/NodeTestsTable/TestHistory/TestHistory.test.tsx
  ui/src/app/base/components/node/NodeTestsTable/TestHistory/TestHistory.tsx
  ui/src/app/base/components/node/NodeTestsTable/TestHistory/index.ts
  ui/src/app/base/components/node/NodeTestsTable/TestMetrics/TestMetrics.test.tsx
  ui/src/app/base/components/node/NodeTestsTable/TestMetrics/TestMetrics.tsx
  ui/src/app/base/components/node/NodeTestsTable/TestMetrics/index.ts
  ui/src/app/base/components/node/NodeTestsTable/index.scss
  ui/src/app/base/components/node/NodeTestsTable/index.ts
  ui/src/app/controllers/urls.ts
  ui/src/app/controllers/views/ControllerDetails/ControllerCommissioning/ControllerCommissioning.test.tsx
  ui/src/app/controllers/views/ControllerDetails/ControllerCommissioning/ControllerCommissioning.tsx
  ui/src/app/controllers/views/ControllerDetails/ControllerDetails.tsx
  ui/src/app/controllers/views/ControllerDetails/ControllerDetailsHeader/ControllerDetailsHeader.tsx
  ui/src/app/controllers/views/Controllers.tsx
  ui/src/app/machines/views/MachineDetails/MachineCommissioning/MachineCommissioning.tsx
  ui/src/app/machines/views/MachineDetails/MachineTests/MachineTests.tsx
  ui/src/app/machines/views/MachineDetails/MachineTests/MachineTestsTable/index.ts
  ui/src/scss/index.scss
Labels: Review: Code +1, Review: QA +1

#4029 fix(cypress): fix Cypress utils imports
  cypress/integration/with-users/base/footer.spec.ts
  cypress/integration/with-users/controllers/list.spec.ts
  cypress/integration/with-users/devices/list.spec.ts
  cypress/integration/with-users/legacy/auth.spec.ts
Labels: Review: Code +1

#4031 refactor(proxy): use env vars for the proxy basenames
  proxy/index.js
  proxy/ui.js
Labels: Review: Code +1, Review: QA +1

#4033 refactor(ui): add shared components to the ui workspace
  ui/src/app/App.tsx
  ui/src/app/base/components/Footer/Footer.test.tsx
  ui/src/app/base/components/Footer/Footer.tsx
  ui/src/app/base/components/Footer/index.ts
  ui/src/app/base/components/Header/Header.test.tsx
  ui/src/app/base/components/Header/Header.tsx
  ui/src/app/base/components/Header/index.ts
  ui/src/app/base/components/StatusBar/StatusBar.tsx
  ui/src/app/base/types.ts
  ui/src/app/settings/views/Configuration/GeneralForm/GeneralForm.tsx
Labels: Review: Code +1, Review: QA +1

#4039 feat(ui): update controller details links to react
  ui/src/app/base/components/ControllerLink/ControllerLink.test.tsx
  ui/src/app/base/components/ControllerLink/ControllerLink.tsx
  ui/src/app/base/components/LegacyLink/LegacyLink.test.tsx
  ui/src/app/base/components/LegacyLink/LegacyLink.tsx
  ui/src/app/base/components/LegacyLink/__snapshots__/LegacyLink.test.tsx.snap
  ui/src/app/base/components/LegacyLink/index.ts
  ui/src/app/controllers/views/ControllerDetails/ControllerVLANs/ControllerVLANsTable/hooks.ts
  ui/src/app/controllers/views/ControllerList/ControllerListTable/ControllerListTable.test.tsx
  ui/src/app/controllers/views/ControllerList/ControllerListTable/VLANsColumn/VLANsColumn.test.tsx
  ui/src/app/controllers/views/ControllerList/ControllerListTable/VLANsColumn/VLANsColumn.tsx
  ui/src/app/domains/views/DomainDetails/ResourceRecords/ResourceRecords.tsx
  ui/src/app/settings/views/Dhcp/DhcpTarget/DhcpTarget.tsx
  ui/src/app/subnets/views/VLANDetails/DHCPStatus/DHCPStatus.test.tsx
  ui/src/app/subnets/views/VLANDetails/VLANSummary/VLANControllers/VLANControllers.test.tsx
  ui/src/app/subnets/views/VLANDetails/VLANSummary/VLANSummary.test.tsx
Labels: Review: Code +1, Review: QA +1

#4042 fix: tag edit button icon contrast
  ui/src/app/tags/views/TagDetails/TagDetails.tsx
Labels: Review: Code +1, Review: QA +1

#4038 Move store to own file
  ui/src/bakery.ts
  ui/src/index.tsx
  ui/src/redux-store.ts
Labels: Review: Code +1, Review: QA +1

#4035 refactor(ui): refactor machine test details to work with controllers
  ui/src/app/base/components/node/NodeTestDetails/NodeTestDetails.test.tsx
  ui/src/app/base/components/node/NodeTestDetails/NodeTestDetails.tsx
  ui/src/app/base/components/node/NodeTestDetails/NodeTestDetailsLogs/NodeTestDetailsLogs.test.tsx
  ui/src/app/base/components/node/NodeTestDetails/NodeTestDetailsLogs/NodeTestDetailsLogs.tsx
  ui/src/app/base/components/node/NodeTestDetails/NodeTestDetailsLogs/index.ts
  ui/src/app/base/components/node/NodeTestDetails/index.ts
  ui/src/app/controllers/views/ControllerDetails/ControllerDetails.tsx
  ui/src/app/controllers/views/Controllers.tsx
  ui/src/app/machines/views/MachineDetails/MachineDetails.test.tsx
  ui/src/app/machines/views/MachineDetails/MachineDetails.tsx
  ui/src/app/machines/views/MachineDetails/MachineTests/MachineTestsDetails/__snapshots__/MachineTestsDetails.test.tsx.snap
  ui/src/app/machines/views/MachineDetails/MachineTests/MachineTestsDetails/index.ts
Labels: Review: Code +1, Review: QA +1

#4032 feat(ui): add status section to controller summary
  ui/src/app/base/components/StatusBar/StatusBar.test.tsx
  ui/src/app/base/components/StatusBar/StatusBar.tsx
  ui/src/app/base/components/node/OverviewCard/ControllerStatusCard/ControllerStatusCard.test.tsx
  ui/src/app/base/components/node/OverviewCard/ControllerStatusCard/ControllerStatusCard.tsx
  ui/src/app/base/components/node/OverviewCard/CpuCard/CpuCard.tsx
  ui/src/app/store/controller/utils/common.test.ts
  ui/src/app/store/controller/utils/common.ts
  ui/src/app/store/controller/utils/index.ts
Labels: Review: Code +1, Review: QA +1

#4043 Serve UI only
  package.json
  proxy/scripts/ready.js
  proxy/scripts/start.js
  proxy/ui.js
  scripts/proxy-ready.js
  scripts/proxy.js
  ui/package.json
  ui/src/index.tsx
  ui/src/scss/index.scss
Labels: Review: Code +1, Review: QA +1, Maintenance 🔨

#4047 refactor(ui): remove header url generation
  ui/src/app/App.tsx
  ui/src/app/base/components/Header/Header.test.tsx
  ui/src/app/base/components/Header/Header.tsx
Labels: Review: Code +1, Review: QA +1

#4041 fix: cannot save controller or device configuration with automatic tags
  ui/src/app/base/components/NodeConfigurationFields/NodeConfigurationFields.test.tsx
  ui/src/app/base/components/NodeConfigurationFields/NodeConfigurationFields.tsx
Labels: Review: Code +1, Review: QA +1

#4050 test: add default state to test utils
  ui/src/app/base/components/Header/Header.test.tsx
  ui/src/testing/utils.tsx
Labels: Review: Code +1

#4051 refactor: update header to use url definitions
  ui/src/app/base/components/Header/Header.tsx
  ui/src/app/base/urls.ts
  ui/src/app/controllers/urls.ts
  ui/src/app/devices/urls.ts
  ui/src/app/domains/urls.ts
  ui/src/app/images/urls.ts
  ui/src/app/kvm/urls.ts
  ui/src/app/machines/urls.ts
  ui/src/app/settings/urls.ts
  ui/src/app/subnets/urls.ts
  ui/src/app/tags/urls.ts
  ui/src/app/zones/urls.ts
Labels: Review: Code +1, Review: QA +1

#4045 fix(cypress): fix controller cypress tests
  cypress/integration/with-users/controllers/list.spec.ts
  ui/src/app/base/components/TagSelector/TagSelector.tsx
Labels: Review: Code +1

#4055 refactor(root): remove single-spa
  .vscode/settings.json
  package.json
  root/.editorconfig
  root/.eslintignore
  root/.eslintrc
  root/.gitignore
  root/package.json
  root/postcss.config.js
  root/src/index.ejs
  root/src/root-application.js
  root/src/scss/_settings.scss
  root/src/scss/base.scss
  root/webpack.common.js
  root/webpack.dev.js
  root/webpack.prod.js
  ui/package.json
  ui/src/single-spa-entry.js
  yarn.lock
Labels: Review: Code +1, Maintenance 🔨

#4076 refactor(lint): merge eslint configs
  .eslintrc.js
  cypress/.eslintrc.js
  eslint/common.js
  eslint/react.js
  package.json
Labels: Review: Code +1, Maintenance 🔨

#4084 feat: update locations for LXD host/cluster actions
  src/app/base/components/ActionBar/ActionBar.tsx
  src/app/base/components/ActionBar/_index.scss
  src/app/kvm/components/LXDHostToolbar/LXDHostToolbar.test.tsx
  src/app/kvm/components/LXDHostToolbar/LXDHostToolbar.tsx
  src/app/kvm/components/LXDHostToolbar/_index.scss
  src/app/kvm/components/LXDHostVMs/LXDHostVMs.test.tsx
  src/app/kvm/components/LXDHostVMs/LXDHostVMs.tsx
  src/app/kvm/components/LXDVMsTable/LXDVMsTable.test.tsx
  src/app/kvm/components/LXDVMsTable/LXDVMsTable.tsx
  src/app/kvm/components/LXDVMsTable/VMsActionBar/VMsActionBar.test.tsx
  src/app/kvm/components/LXDVMsTable/VMsActionBar/VMsActionBar.tsx
  src/app/kvm/views/LXDClusterDetails/LXDClusterDetailsHeader/LXDClusterDetailsHeader.test.tsx
  src/app/kvm/views/LXDClusterDetails/LXDClusterDetailsHeader/LXDClusterDetailsHeader.tsx
  src/app/kvm/views/LXDClusterDetails/LXDClusterHostVMs/LXDClusterHostVMs.tsx
  src/app/kvm/views/LXDClusterDetails/LXDClusterHosts/LXDClusterHosts.tsx
  src/app/kvm/views/LXDClusterDetails/LXDClusterHosts/LXDClusterHostsActionBar/LXDClusterHostsActionBar.test.tsx
  src/app/kvm/views/LXDClusterDetails/LXDClusterHosts/LXDClusterHostsActionBar/LXDClusterHostsActionBar.tsx
  src/app/kvm/views/LXDClusterDetails/LXDClusterVMs/LXDClusterVMs.tsx
  src/app/kvm/views/LXDSingleDetails/LXDSingleDetailsHeader/LXDSingleDetailsHeader.test.tsx
  src/app/kvm/views/LXDSingleDetails/LXDSingleDetailsHeader/LXDSingleDetailsHeader.tsx
  src/app/kvm/views/LXDSingleDetails/LXDSingleVMs/LXDSingleVMs.tsx
Labels: Review: Code +1, Review: QA +1

#4088 docs(docs): update docs to reflect new codebase
  README.md
  docs/HACKING.md
  docs/INTEGRATION.md
  docs/RELEASE.md
Labels: Review: Code +1

#4090 fix(proxy): fix watching proxy files
  nodemon.json
  scripts/proxy-ready.js
  scripts/proxy.js
Labels: Review: Code +1, Review: QA +1

#4092 refactor(deps): clean up dependencies
  package.json
  src/app/base/components/CopyButton/CopyButton.tsx
  src/app/base/components/DhcpFormFields/DhcpFormFields.tsx
  src/app/base/components/Meter/Meter.tsx
  src/app/base/components/Switch/Switch.tsx
  src/app/base/components/SwitchField/SwitchField.tsx
  src/app/machines/views/MachineList/MachineListTable/PowerColumn/PowerColumn.tsx
  src/app/machines/views/MachineList/MachineListTable/StatusColumn/StatusColumn.tsx
  src/app/settings/views/Scripts/ScriptsList/ScriptsList.tsx
  yarn.lock
Labels: Review: Code +1, Review: QA +1, Maintenance 🔨

#4101 fix: remove packages. Fix lint.
  package.json
  src/app/base/components/Footer/Footer.test.tsx
  src/app/base/hooks/base.test.tsx
  src/app/devices/components/DeviceHeaderForms/DeviceHeaderForms.test.tsx
  src/app/kvm/components/LXDVMsTable/VMsTable/IPColumn/IPColumn.test.tsx
  src/app/kvm/components/StorageColumn/StorageColumn.test.tsx
  src/app/machines/components/MachineHeaderForms/AddChassis/AddChassisForm/AddChassisForm.test.tsx
  src/app/machines/views/MachineList/MachineList.test.tsx
  src/app/machines/views/MachineList/MachineListHeader/AddHardwareMenu/AddHardwareMenu.test.tsx
  src/app/store/service/reducers.test.ts
  src/app/utils/extractPowerType.ts
  yarn.lock
Labels: Review: Code +1, Maintenance 🔨

#4103 refactor: connect Header and Footer components to the store
  src/app/App.tsx
  src/app/base/components/Footer/Footer.test.tsx
  src/app/base/components/Footer/Footer.tsx
  src/app/base/components/Header/Header.test.tsx
  src/app/base/components/Header/Header.tsx
  src/app/base/hooks/analytics.ts
  src/app/base/hooks/index.ts
Labels: Review: Code +1, Review: QA +1

#4100 refactor: replace instances of fireEvent with userEvent and enforce with linting
  .eslintrc.js
  src/app/base/components/NodeConfigurationFields/NodeConfigurationFields.test.tsx
  src/app/devices/views/DeviceDetails/DeviceConfiguration/DeviceConfiguration.test.tsx
  src/app/devices/views/DeviceDetails/DeviceConfiguration/DeviceConfiguration.tsx
  src/app/kvm/components/KVMConfigurationCard/KVMConfigurationCard.test.tsx
  src/app/machines/components/MachineHeaderForms/ActionFormWrapper/TagForm/TagFormFields/TagFormFields.test.tsx
  src/app/machines/components/MachineHeaderForms/AddMachine/AddMachineForm/AddMachineForm.test.tsx
  src/app/machines/views/MachineDetails/MachineConfiguration/PowerForm/PowerForm.test.tsx
  src/app/machines/views/MachineDetails/MachineNetwork/NetworkFields/NetworkFields.test.tsx
  src/app/subnets/components/ReservedRangeForm/ReservedRangeForm.test.tsx
  src/app/subnets/components/ReservedRanges/ReservedRanges.test.tsx
  src/app/subnets/views/SubnetDetails/SubnetDetailsHeader/SubnetActionForms/components/EditBootArchitectures/EditBootArchitectures.test.tsx
  src/app/subnets/views/SubnetDetails/SubnetDetailsHeader/SubnetActionForms/components/MapSubnet/MapSubnet.test.tsx
  src/app/subnets/views/SubnetDetails/SubnetSummary/SubnetSummaryForm/SubnetSummaryForm.test.tsx
  src/app/subnets/views/SubnetDetails/SubnetSummary/SubnetSummaryForm/SubnetSummaryFormFields/SubnetSummaryFormFields.test.tsx
  src/app/subnets/views/VLANDetails/ConfigureDHCP/DHCPReservedRanges/DHCPReservedRanges.test.tsx
  src/app/subnets/views/VLANDetails/EditVLAN/EditVLAN.test.tsx
  src/app/tags/components/AddTagForm/AddTagForm.test.tsx
  src/app/tags/components/AddTagForm/AddTagForm.tsx
  src/app/tags/components/TagsHeader/AddTagForm/AddTagForm.test.tsx
  src/app/tags/components/TagsHeader/DeleteTagForm/DeleteTagForm.test.tsx
  src/app/tags/views/TagUpdate/TagUpdate.test.tsx
  src/app/tags/views/Tags.test.tsx
Labels: Review: Code +1

#4095 refactor: replace remaining header url strings
  src/app/App.tsx
  src/app/base/components/Header/Header.tsx
  src/app/base/components/node/MachinesHeader/MachinesHeader.tsx
Labels: Review: Code +1, Review: QA +1

#4089 Fix eslint on save
  .vscode/settings.json
Labels: Review: Code +1, Review: QA +1

#4111 fix: render datastore actions for VMFS7 layout
  src/app/base/components/node/StorageTables/AvailableStorageTable/BulkActions/BulkActions.test.tsx
  src/app/base/components/node/StorageTables/AvailableStorageTable/BulkActions/BulkActions.tsx
Labels: Review: Code +1, Review: QA +1

#4115 Publish asset server action
  .github/workflows/upload.yml
Labels: Review: Code needed, Review: QA needed

#4096 fix: rack controller instructions for correct version
  src/app/controllers/components/ControllerHeaderForms/AddController/AddController.test.tsx
  src/app/controllers/components/ControllerHeaderForms/AddController/AddController.tsx
Labels: Review: Design +1, Review: Code +1, Review: QA +1

#4136 Fix the CI env var in the upload action
  .github/workflows/upload.yml
Labels: Review: Code +1

#4132 test: update cypress tests
  cypress/e2e/with-users/base/footer.spec.ts
  src/app/devices/views/DeviceDetails/DeviceConfiguration/DeviceConfiguration.tsx
Labels: Review: Code +1 (with changes)

#4130 fix: initial config URL validation
  src/app/base/validation.test.ts
  src/app/base/validation.ts
  src/app/intro/views/MaasIntro/MaasIntro.test.tsx
  src/app/intro/views/MaasIntro/MaasIntro.tsx
  src/app/settings/views/Network/ProxyForm/ProxyForm.tsx
Labels: Review: QA +1, Review: Code +1 (with changes)

#4124 refactor: migrate base components to RTL part 1
  src/app/base/components/ActionForm/ActionForm.test.tsx
  src/app/base/components/ActionForm/ActionForm.tsx
  src/app/base/components/ArchitectureSelect/ArchitectureSelect.test.tsx
  src/app/base/components/ArchitectureSelect/ArchitectureSelect.tsx
  src/app/base/components/ArchitectureSelect/__snapshots__/ArchitectureSelect.test.tsx.snap
  src/app/base/components/ArrowPagination/ArrowPagination.test.tsx
  src/app/base/components/ArrowPagination/ArrowPagination.tsx
  src/app/base/components/ArrowPagination/index.ts
  src/app/base/components/CertificateDetails/CertificateDetails.test.tsx
  src/app/base/components/CertificateDetails/CertificateDetails.tsx
  src/app/base/components/CertificateDownload/CertificateDownload.test.tsx
  src/app/base/components/CertificateDownload/CertificateDownload.tsx
  src/app/base/components/CertificateFields/CertificateFields.test.tsx
  src/app/base/components/CertificateFields/CertificateFields.tsx
  src/app/base/components/CertificateMetadata/CertificateMetadata.test.tsx
  src/app/base/components/CertificateMetadata/__snapshots__/CertificateMetadata.test.tsx.snap
  src/app/base/components/ColumnToggle/ColumnToggle.test.tsx
  src/app/base/components/ColumnToggle/__snapshots__/ColumnToggle.test.tsx.snap
  src/app/base/components/ControllerLink/ControllerLink.test.tsx
  src/app/base/components/ControllerLink/ControllerLink.tsx
  src/app/base/components/CopyButton/CopyButton.test.tsx
  src/app/base/components/CopyButton/__snapshots__/CopyButton.test.tsx.snap
  src/app/base/components/FormikFormButtons/FormikFormButtons.tsx
  src/app/base/components/FormikFormButtons/index.ts
  src/app/base/components/UploadTextArea/UploadTextArea.tsx
  src/app/base/components/node/NodeLogs/EventLogs/EventLogs.test.tsx
Labels: Review: Code +1 (with changes)

#4126 refactor: migrate base components to RTL part 2
  src/app/base/components/DHCPTable/DHCPTable.test.tsx
  src/app/base/components/DHCPTable/DHCPTable.tsx
  src/app/base/components/DHCPTable/EditDHCP/EditDHCP.test.tsx
  src/app/base/components/DebounceSearchBox/DebounceSearchBox.test.tsx
  src/app/base/components/DebounceSearchBox/DebounceSearchBox.tsx
  src/app/base/components/DeviceLink/DeviceLink.test.tsx
  src/app/base/components/DeviceLink/DeviceLink.tsx
  src/app/base/components/DhcpForm/DhcpForm.test.tsx
  src/app/base/components/DhcpForm/DhcpForm.tsx
  src/app/base/components/DhcpForm/index.ts
  src/app/base/components/DhcpFormFields/DhcpFormFields.test.tsx
  src/app/base/components/DhcpFormFields/DhcpFormFields.tsx
  src/app/base/components/DhcpFormFields/index.ts
  src/app/base/components/DomainSelect/DomainSelect.test.tsx
  src/app/base/components/DomainSelect/DomainSelect.tsx
  src/app/base/components/DomainSelect/__snapshots__/DomainSelect.test.tsx.snap
  src/app/base/components/DoubleRow/DoubleRow.test.tsx
  src/app/base/components/DoubleRow/DoubleRow.tsx
  src/app/base/components/DoubleRow/__snapshots__/DoubleRow.test.tsx.snap
  src/app/base/components/DoughnutChart/DoughnutChart.test.tsx
  src/app/base/components/DoughnutChart/DoughnutChart.tsx
  src/app/base/components/DoughnutChart/__snapshots__/DoughnutChart.test.tsx.snap
  src/app/base/components/DynamicSelect/DynamicSelect.test.tsx
  src/app/machines/views/MachineList/MachineListTable/PowerColumn/__snapshots__/PowerColumn.test.tsx.snap
  src/app/machines/views/MachineList/MachineListTable/StatusColumn/__snapshots__/StatusColumn.test.tsx.snap
Labels: Review: Code +1 (with changes)

#4140 refactor: migrate base components to RTL part 3
  src/app/base/components/ErrorBoundary/ErrorBoundary.test.tsx
  src/app/base/components/ErrorBoundary/ErrorBoundary.tsx
  src/app/base/components/FabricLink/FabricLink.test.tsx
  src/app/base/components/FabricLink/FabricLink.tsx
  src/app/base/components/FabricSelect/FabricSelect.test.tsx
  src/app/base/components/FabricSelect/FabricSelect.tsx
  src/app/base/components/FilterAccordion/FilterAccordion.test.tsx
  src/app/base/components/FilterAccordion/FilterAccordion.tsx
  src/app/base/components/FormCard/FormCard.test.tsx
  src/app/base/components/FormCard/FormCard.tsx
  src/app/base/components/FormCard/__snapshots__/FormCard.test.tsx.snap
  src/app/base/components/FormikField/FormikField.test.tsx
  src/app/base/components/FormikField/__snapshots__/FormikField.test.tsx.snap
  src/app/base/components/FormikFormContent/FormikFormContent.test.tsx
  src/app/base/components/GroupCheckbox/GroupCheckbox.test.tsx
  src/app/base/components/GroupCheckbox/__snapshots__/GroupCheckbox.test.tsx.snap
  src/app/base/components/IpAssignmentSelect/IpAssignmentSelect.test.tsx
  src/app/base/components/IpAssignmentSelect/IpAssignmentSelect.tsx
  src/app/base/components/LabelledList/LabelledList.test.tsx
  src/app/base/components/LabelledList/__snapshots__/LabelledList.test.tsx.snap
Labels: Review: Code +1

#4091 refactor: update zone state shape in Redux
  src/__snapshots__/root-reducer.test.ts.snap
  src/app/base/components/ZoneSelect/ZoneSelect.test.tsx
  src/app/base/components/ZoneSelect/ZoneSelect.tsx
  src/app/base/components/node/SetZoneForm/SetZoneForm.test.tsx
  src/app/base/constants.ts
  src/app/base/sagas/websockets.test.ts
  src/app/base/sagas/websockets.ts
  src/app/base/types.ts
  src/app/controllers/views/ControllerDetails/ControllerConfiguration/ControllerConfiguration.test.tsx
  src/app/devices/components/DeviceHeaderForms/AddDeviceForm/AddDeviceForm.test.tsx
  src/app/devices/views/DeviceDetails/DeviceConfiguration/DeviceConfiguration.test.tsx
  src/app/kvm/components/KVMConfigurationCard/KVMConfigurationCard.test.tsx
  src/app/kvm/components/KVMHeaderForms/AddLxd/AddLxd.test.tsx
  src/app/kvm/components/KVMHeaderForms/AddLxd/AuthenticationForm/AuthenticationForm.test.tsx
  src/app/kvm/components/KVMHeaderForms/AddLxd/CredentialsForm/CredentialsForm.test.tsx
  src/app/kvm/components/KVMHeaderForms/AddLxd/SelectProjectForm/SelectProjectForm.test.tsx
  src/app/kvm/components/KVMHeaderForms/AddVirsh/AddVirsh.test.tsx
  src/app/kvm/components/KVMHeaderForms/AddVirsh/AddVirshFields/AddVirshFields.test.tsx
  src/app/kvm/components/KVMHeaderForms/ComposeForm/ComposeForm.test.tsx
  src/app/kvm/components/KVMHeaderForms/ComposeForm/ComposeFormFields/ComposeFormFields.test.tsx
  src/app/kvm/components/KVMHeaderForms/ComposeForm/InterfacesTable/InterfacesTable.test.tsx
  src/app/kvm/components/KVMHeaderForms/ComposeForm/InterfacesTable/SubnetSelect/SubnetSelect.test.tsx
  src/app/kvm/components/KVMHeaderForms/ComposeForm/StorageTable/PoolSelect/PoolSelect.test.tsx
  src/app/kvm/components/KVMHeaderForms/ComposeForm/StorageTable/StorageTable.test.tsx
  src/app/kvm/views/KVMList/VirshTable/VirshTable.test.tsx
  src/app/kvm/views/LXDSingleDetails/LXDSingleDetails.test.tsx
  src/app/kvm/views/LXDSingleDetails/LXDSingleSettings/LXDSingleSettings.test.tsx
  src/app/kvm/views/VirshDetails/VirshDetails.test.tsx
  src/app/kvm/views/VirshDetails/VirshSettings/VirshSettings.test.tsx
  src/app/machines/components/MachineHeaderForms/AddMachine/AddMachineForm/AddMachineForm.test.tsx
  src/app/machines/components/MachineHeaderForms/AddMachine/AddMachineFormFields/AddMachineFormFields.test.tsx
  src/app/machines/views/MachineList/MachineListTable/MachineListTable.test.tsx
  src/app/machines/views/MachineList/MachineListTable/ZoneColumn/ZoneColumn.test.tsx
  src/app/store/utils/slice.ts
  src/app/store/zone/actions.test.ts
  src/app/store/zone/constants.ts
  src/app/store/zone/index.ts
  src/app/store/zone/reducers.test.ts
  src/app/store/zone/selectors.test.ts
  src/app/store/zone/selectors.ts
  src/app/store/zone/slice.ts
  src/app/store/zone/types/actions.ts
  src/app/store/zone/types/base.ts
  src/app/store/zone/types/index.ts
  src/app/zones/views/ZoneDetails/ZoneDetails.test.tsx
  src/app/zones/views/ZoneDetails/ZoneDetailsForm/ZoneDetailsForm.test.tsx
  src/app/zones/views/ZoneDetails/ZoneDetailsForm/ZoneDetailsForm.tsx
  src/app/zones/views/ZoneDetails/ZoneDetailsHeader/DeleteConfirm/DeleteConfirm.test.tsx
  src/app/zones/views/ZoneDetails/ZoneDetailsHeader/DeleteConfirm/DeleteConfirm.tsx
  src/app/zones/views/ZoneDetails/ZoneDetailsHeader/ZoneDetailsHeader.test.tsx
  src/app/zones/views/ZoneDetails/ZoneDetailsHeader/ZoneDetailsHeader.tsx
  src/app/zones/views/ZonesList/ZonesListForm/ZonesListForm.tsx
  src/testing/factories/index.ts
  src/testing/factories/state.ts
  src/websocket-client.ts
Labels: Review: Code +1, Review: QA +1

#4148 fix: proxy url required
  cypress/e2e/with-users/intro/intro.ts
  src/app/base/validation.test.ts
  src/app/base/validation.ts
Labels: Review: Code +1, Review: QA +1

#4146 feat: use local ubuntu font assets
  assets/fonts/502cc3a1-Ubuntu-Th_W.woff
  assets/fonts/7af50859-Ubuntu-R_W.woff
  assets/fonts/7f100985-Ubuntu-Th_W.woff2
  assets/fonts/85edb898-UbuntuMono-R_W.woff
  assets/fonts/8619add2-Ubuntu-L_W.woff
  assets/fonts/8be89d02-Ubuntu-LI_W.woff
  assets/fonts/dd4acb63-UbuntuMono-B.woff2
  assets/fonts/e8c07df6-Ubuntu-L_W.woff2
  assets/fonts/e8e36b19-UbuntuMono-B.woff
  assets/fonts/f0898c72-ubuntu-ri-webfont.woff
  assets/fonts/f8097dea-Ubuntu-LI_W.woff2
  assets/fonts/fca66073-ubuntu-ri-webfont.woff2
  assets/fonts/fdd692b9-UbuntuMono-R_W.woff2
  assets/fonts/fff37993-Ubuntu-R_W.woff2
  src/scss/_settings.scss
Labels: Review: Code +1, Review: QA +1

#4152 refactor: migrate base components to RTL part 4
  src/app/base/components/LinkModeSelect/LinkModeSelect.test.tsx
  src/app/base/components/LinkModeSelect/LinkModeSelect.tsx
  src/app/base/components/Login/Login.test.tsx
  src/app/base/components/Login/Login.tsx
  src/app/base/components/MacAddressField/MacAddressField.test.tsx
  src/app/base/components/MachineLink/MachineLink.test.tsx
  src/app/base/components/MachineLink/MachineLink.tsx
  src/app/base/components/Meter/Meter.test.tsx
  src/app/base/components/Meter/Meter.tsx
  src/app/base/components/Meter/__snapshots__/Meter.test.tsx.snap
  src/app/base/components/MinimumKernelSelect/MinimumKernelSelect.test.tsx
  src/app/base/components/MinimumKernelSelect/MinimumKernelSelect.tsx
  src/app/base/components/MinimumKernelSelect/__snapshots__/MinimumKernelSelect.test.tsx.snap
  src/app/base/components/ModelListSubtitle/ModelListSubtitle.test.tsx
  src/app/base/components/ModelListSubtitle/ModelListSubtitle.tsx
  src/app/base/components/ModelNotFound/ModelNotFound.test.tsx
  src/app/base/components/ModelNotFound/ModelNotFound.tsx
Labels: Review: Code +1

#4150 Migrate zones components to RTL part 1
  src/app/zones/views/ZonesList/ZonesList.test.tsx
  src/app/zones/views/ZonesList/ZonesListForm/ZonesListForm.test.tsx
  src/app/zones/views/ZonesList/ZonesListForm/ZonesListForm.tsx
  src/app/zones/views/ZonesList/ZonesListHeader/ZonesListHeader.test.tsx
  src/app/zones/views/ZonesList/ZonesListTable/ZonesListTable.tsx
Labels: Review: Code +1

#4154 fix: ip hidden instead of subnet
  cypress/e2e/with-users/machines/details.spec.ts
  src/app/base/components/node/networking/NetworkTable/_index.scss
  src/app/machines/views/MachineList/MachineListTable/MachineListTable.tsx
Labels: Review: Code +1, Review: QA +1

#4125 test: add run-dotrun github action
  .github/workflows/test.yml
  package.json
Labels: Review: Code +1 (with changes), Maintenance 🔨

#4162 Migrate zones components to RTL part 2
  src/app/zones/views/ZoneDetails/ZoneDetails.test.tsx
  src/app/zones/views/ZoneDetails/ZoneDetailsForm/ZoneDetailsForm.test.tsx
  src/app/zones/views/ZoneDetails/ZoneDetailsHeader/DeleteConfirm/DeleteConfirm.test.tsx
  src/app/zones/views/ZoneDetails/ZoneDetailsHeader/ZoneDetailsHeader.test.tsx
  src/app/zones/views/Zones.test.tsx
Labels: Review: Code +1
