Repository canonical/maas-ui, pull requests merged in 2022-07, with the labels that each got.

#4170 fix(ui): machine details routes
  cypress/e2e/utils.ts
  cypress/e2e/with-users/machines/details.spec.ts
  src/app/base/components/node/NodeTestsTable/NodeTestsTable.tsx
  src/app/machines/views/MachineDetails/MachineDetails.test.tsx
  src/app/machines/views/MachineDetails/MachineDetails.tsx
Labels: Review: QA +1, Review: Code +1 (with changes)

#3635 Set up sitespeed.io CI job.
  .github/workflows/sitespeed.yml
  .gitignore
  docs/HACKING.md
  package.json
  sitespeed.io/config.json
  sitespeed.io/login.js
  sitespeed.io/scripts/machines.js
  sitespeed.io/utils.js
Labels: Review: Code +1, Review: QA +1, Maintenance 🔨

#4178 fix: subnet icons misaligned
  src/app/subnets/views/SubnetDetails/SubnetSummary/components/ActiveDiscoveryLabel/ActiveDiscoveryLabel.tsx
  src/app/subnets/views/SubnetDetails/SubnetSummary/components/AllowDNSResolutionLabel/AllowDNSResolutionLabel.tsx
  src/app/subnets/views/SubnetDetails/SubnetSummary/components/ManagedAllocationLabel/ManagedAllocationLabel.tsx
  src/app/subnets/views/SubnetDetails/SubnetSummary/components/ProxyAccessLabel/ProxyAccessLabel.tsx
Labels: Review: Code +1, Review: QA +1

#4176 fix(ui): controller details scriptresult not found
  cypress/e2e/with-users/controllers/details.spec.ts
  cypress/e2e/with-users/controllers/list.spec.ts
  cypress/e2e/with-users/machines/details.spec.ts
  src/app/controllers/views/ControllerDetails/ControllerDetails.test.tsx
  src/app/controllers/views/ControllerDetails/ControllerDetails.tsx
Labels: Review: Code +1, Review: QA +1

#4185 fix(settings): fix settings sub routes
  src/app/settings/components/Routes/Routes.test.tsx
  src/app/settings/components/Routes/Routes.tsx
  src/app/settings/views/LicenseKeys/LicenseKeyEdit/LicenseKeyEdit.test.tsx
  src/app/settings/views/LicenseKeys/LicenseKeyEdit/LicenseKeyEdit.tsx
  src/app/settings/views/Repositories/RepositoryAdd/RepositoryAdd.test.tsx
  src/app/settings/views/Repositories/RepositoryAdd/RepositoryAdd.tsx
Labels: Review: QA +1, Review: Code +1 (with changes)

#4201 test: add no-only eslint rule to cypress tests
  .eslintrc.js
Labels: Review: Code +1, Review: QA +1

#4213 Site identity - MAAS name emoji help
  src/app/settings/views/Configuration/GeneralForm/GeneralForm.tsx
Labels: Review: Code +1, Review: QA +1

#4187 refactor(dashboard): update dashboard to RRv6
  src/app/dashboard/views/Dashboard.test.tsx
  src/app/dashboard/views/Dashboard.tsx
  src/app/dashboard/views/DashboardConfigurationForm/DashboardConfigurationForm.tsx
  src/app/dashboard/views/DiscoveriesList/DiscoveriesList.tsx
Labels: Review: Code +1, Review: QA +1

#4208 refactor(images): remove wrapping images component
  src/app/Routes.test.tsx
  src/app/Routes.tsx
  src/app/images/views/Images.test.tsx
  src/app/images/views/Images.tsx
Labels: Review: Code +1, Review: QA +1

#4198 refactor(device): update device details to RRv6
  src/app/devices/views/DeviceDetails/DeviceConfiguration/DeviceConfiguration.tsx
  src/app/devices/views/DeviceDetails/DeviceDetails.test.tsx
  src/app/devices/views/DeviceDetails/DeviceDetails.tsx
  src/app/devices/views/DeviceDetails/DeviceNetwork/DeviceNetwork.tsx
  src/app/devices/views/DeviceDetails/DeviceSummary/DeviceSummary.tsx
Labels: Review: Code +1, Review: QA +1

#4200 refactor(pools): update pools to RRv6
  src/app/pools/components/PoolForm/PoolForm.tsx
  src/app/pools/views/PoolAdd/PoolAdd.tsx
  src/app/pools/views/PoolEdit/PoolEdit.tsx
  src/app/pools/views/PoolList/PoolList.tsx
  src/app/pools/views/Pools.test.tsx
  src/app/pools/views/Pools.tsx
Labels: Review: Code +1, Review: QA +1

#4202 refactor(tags): update tags to RRv6
  src/app/base/components/node/MachinesHeader/MachinesHeader.tsx
  src/app/tags/views/Tags.test.tsx
  src/app/tags/views/Tags.tsx
Labels: Review: Code needed, Review: QA needed

#4215 Changed status bar colour to dark theme default
  src/scss/_patterns_status-bar.scss
Labels: Review: Code +1, Review: QA +1

#4218 fix(ui): settings top-level item no longer bold
  src/app/base/components/SideNav/SideNav.tsx
  src/app/base/components/SideNav/__snapshots__/SideNav.test.tsx.snap
Labels: Review: Code +1, Review: QA +1

#4210 refactor(machines): remove routing from machine list
  src/app/Routes.tsx
  src/app/machines/views/Machines.test.tsx
  src/app/machines/views/Machines.tsx
Labels: Review: Code +1, Review: QA +1

#4199 refactor(devices): remove wrapping domains component
  src/app/Routes.test.tsx
  src/app/Routes.tsx
  src/app/domains/views/Domains.test.tsx
  src/app/domains/views/Domains.tsx
  src/app/domains/views/DomainsList/DomainsList.test.tsx
  src/app/domains/views/DomainsList/DomainsList.tsx
Labels: Review: Code +1, Review: QA +1

#4175 feat: enable PR demos with polong
  .dockerignore
  Dockerfile
  konf/site.yaml
  package.json
  scripts/proxy.js
Labels: Review: Code +1, Review: QA +1, Maintenance 🔨

#4204 refactor(preferences): migrate preferences to React Router v6
  src/app/base/components/FormCard/FormCard.tsx
  src/app/pools/views/PoolAdd/PoolAdd.tsx
  src/app/pools/views/PoolEdit/PoolEdit.tsx
  src/app/preferences/components/Routes.test.tsx
  src/app/preferences/components/Routes/Routes.test.tsx
  src/app/preferences/components/Routes/Routes.tsx
  src/app/preferences/views/APIKeys/APIKeyForm/APIKeyForm.tsx
  src/app/preferences/views/APIKeys/APIKeyList/APIKeyList.tsx
  src/app/preferences/views/Details/Details.tsx
  src/app/preferences/views/SSHKeys/AddSSHKey/AddSSHKey.tsx
  src/app/preferences/views/SSHKeys/SSHKeyList/SSHKeyList.tsx
  src/app/preferences/views/SSLKeys/AddSSLKey/AddSSLKey.tsx
  src/app/preferences/views/SSLKeys/SSLKeyList/SSLKeyList.tsx
Labels: Review: Code +1, Review: QA +1

#4211 refactor(controllers): update controllers to React Router v6
  src/app/Routes.test.tsx
  src/app/Routes.tsx
  src/app/controllers/views/ControllerDetails/ControllerDetails.test.tsx
  src/app/controllers/views/ControllerDetails/ControllerDetails.tsx
  src/app/controllers/views/Controllers.test.tsx
  src/app/controllers/views/Controllers.tsx
Labels: Review: Code +1, Review: QA +1

#4238 refactor(machine): remove created machine handling
  src/app/store/machine/reducers.test.ts
  src/app/store/machine/slice.ts
Labels: Review: Code +1

#4237 fix cypress test failure
  cypress/e2e/with-users/controllers/details.spec.ts
Labels: Review: Code +1

#4226 refactor(pools): remove machine fetching from pools
  src/app/pools/views/PoolList/PoolList.test.tsx
  src/app/pools/views/PoolList/PoolList.tsx
Labels: Review: Code +1, Review: QA +1

#4227 refactor(machine list): remove machine fetching from deploy form
  src/app/machines/components/MachineHeaderForms/ActionFormWrapper/DeployForm/DeployForm.tsx
Labels: Review: Code +1, Review: QA +1

#4236 Site Identity - MAAS Theme Colours
  src/app/base/components/Header/Header.tsx
  src/app/base/components/Header/_index.scss
  src/app/settings/views/Configuration/GeneralForm/GeneralForm.test.tsx
  src/app/settings/views/Configuration/GeneralForm/GeneralForm.tsx
  src/app/settings/views/Configuration/GeneralForm/ThemedRadioButton/ThemedRadioButton.test.tsx
  src/app/settings/views/Configuration/GeneralForm/ThemedRadioButton/ThemedRadioButton.tsx
  src/app/settings/views/Configuration/GeneralForm/ThemedRadioButton/_index.scss
  src/app/settings/views/Configuration/GeneralForm/ThemedRadioButton/index.ts
  src/app/settings/views/Configuration/GeneralForm/_index.scss
  src/app/store/config/selectors.ts
  src/app/store/config/types/enum.ts
  src/scss/index.scss
Labels: Review: Design needed, Review: QA +1, Review: Code +1 (with changes)

#4232 refactor(machine): add a hook for getting a machine
  src/app/machines/components/MachineHeaderForms/ActionFormWrapper/CloneForm/CloneFormFields/CloneFormFields.tsx
  src/app/machines/views/MachineDetails/MachineDetails.test.tsx
  src/app/machines/views/MachineDetails/MachineDetails.tsx
  src/app/machines/views/MachineDetails/MachineHeader/MachineHeader.tsx
  src/app/machines/views/MachineDetails/MachineSummary/MachineSummary.tsx
  src/app/store/machine/utils/hooks.test.tsx
  src/app/store/machine/utils/hooks.ts
Labels: Review: Code +1, Review: QA +1

#4254 feat(machine): add details to machine store
  src/__snapshots__/root-reducer.test.ts.snap
  src/app/base/sagas/websockets.test.ts
  src/app/base/sagas/websockets.ts
  src/app/machines/components/MachineHeaderForms/ActionFormWrapper/CloneForm/CloneFormFields/CloneFormFields.test.tsx
  src/app/store/machine/actions.test.ts
  src/app/store/machine/reducers.test.ts
  src/app/store/machine/slice.ts
  src/app/store/machine/types/base.ts
  src/app/store/machine/utils/hooks.test.tsx
  src/app/store/machine/utils/hooks.ts
  src/testing/factories/state.ts
  src/websocket-client.ts
Labels: Review: Code +1

#4247 feat: add analyze bundle size script
  package.json
Labels: Review: Code +1, Review: QA +1, Maintenance 🔨

#4239 feat(machine): add machine unsubscribe action
  src/app/store/machine/actions.test.ts
  src/app/store/machine/reducers.test.ts
  src/app/store/machine/slice.ts
  src/app/store/machine/types/base.ts
Labels: Review: Code +1, Review: QA +1

#4266 Migrate Enzyme to RTL- app/settings/views/Storage
  src/app/settings/views/Storage/StorageForm/StorageForm.test.tsx
  src/app/settings/views/Storage/StorageForm/StorageFormFields/StorageFormFields.test.tsx
  src/app/settings/views/Storage/StorageForm/StorageFormFields/StorageFormFields.tsx
Labels: Review: Code +1

#4246 fix: configure VLAN DHCP
  src/app/subnets/views/VLANDetails/ConfigureDHCP/ConfigureDHCP.test.tsx
  src/app/subnets/views/VLANDetails/ConfigureDHCP/ConfigureDHCP.tsx
  src/app/subnets/views/VLANDetails/ConfigureDHCP/ConfigureDHCPFields/ConfigureDHCPFields.tsx
Labels: Review: QA +1, Review: Code +1 (with changes), Backport 3.2 :arrow_backward:

#4270 Migrate Enzyme to RTL - app/settings/views/LicenseKeys
  src/app/settings/views/LicenseKeys/LicenseKeyEdit/LicenseKeyEdit.test.tsx
  src/app/settings/views/LicenseKeys/LicenseKeyEdit/LicenseKeyEdit.tsx
  src/app/settings/views/LicenseKeys/LicenseKeyForm/LicenseKeyForm.test.tsx
  src/app/settings/views/LicenseKeys/LicenseKeyForm/LicenseKeyForm.tsx
  src/app/settings/views/LicenseKeys/LicenseKeyFormFields/LicenseKeyFormFields.test.tsx
  src/app/settings/views/LicenseKeys/LicenseKeyFormFields/LicenseKeyFormFields.tsx
  src/app/settings/views/LicenseKeys/LicenseKeyList/LicenseKeyList.test.tsx
Labels: Review: Code +1

#4269 Migrate Enzyme to RTL - src/app/settings/views/Images
  src/app/settings/views/Images/ThirdPartyDrivers/ThirdPartyDrivers.test.tsx
  src/app/settings/views/Images/ThirdPartyDrivers/ThirdPartyDrivers.tsx
  src/app/settings/views/Images/ThirdPartyDriversForm/ThirdPartyDriversForm.test.tsx
  src/app/settings/views/Images/ThirdPartyDriversForm/ThirdPartyDriversForm.tsx
  src/app/settings/views/Images/VMWare/VMWare.test.tsx
  src/app/settings/views/Images/VMWare/VMWare.tsx
  src/app/settings/views/Images/VMWareForm/VMWareForm.test.tsx
  src/app/settings/views/Images/VMWareForm/VMWareForm.tsx
  src/app/settings/views/Images/Windows/Windows.test.tsx
  src/app/settings/views/Images/Windows/Windows.tsx
  src/app/settings/views/Images/WindowsForm/WindowsForm.test.tsx
  src/app/settings/views/Images/WindowsForm/WindowsForm.tsx
Labels: Review: Code +1

#4265 Migrate Enzyme to RTL - app/settings/views/Configuration
  src/app/base/components/FormikFormButtons/FormikFormButtons.tsx
  src/app/settings/views/Configuration/Commissioning/Commissioning.test.tsx
  src/app/settings/views/Configuration/Commissioning/Commissioning.tsx
  src/app/settings/views/Configuration/CommissioningForm/CommissioningForm.test.tsx
  src/app/settings/views/Configuration/CommissioningForm/CommissioningForm.tsx
  src/app/settings/views/Configuration/CommissioningFormFields/CommissioningFormFields.test.tsx
  src/app/settings/views/Configuration/CommissioningFormFields/CommissioningFormFields.tsx
  src/app/settings/views/Configuration/General/General.test.tsx
  src/app/settings/views/Configuration/General/General.tsx
  src/app/settings/views/Configuration/GeneralForm/GeneralForm.tsx
  src/app/settings/views/Configuration/KernelParameters/KernelParameters.test.tsx
  src/app/settings/views/Configuration/KernelParameters/KernelParameters.tsx
  src/app/settings/views/Configuration/KernelParametersForm/KernelParametersForm.test.tsx
  src/app/settings/views/Configuration/KernelParametersForm/KernelParametersForm.tsx
Labels: Review: Code +1 (with changes)

#4260 upgrade @canonical/macaroon-bakery to v1.2.2
  package.json
  yarn.lock
Labels: Review: Code +1, Review: QA +1, Maintenance 🔨

#4278 feat(redux): add machine lists to the redux store
  src/__snapshots__/root-reducer.test.ts.snap
  src/app/store/machine/reducers.test.ts
  src/app/store/machine/slice.ts
  src/app/store/machine/types/base.ts
  src/app/store/machine/types/index.ts
  src/testing/factories/index.ts
  src/testing/factories/state.ts
Labels: Review: Code +1

#4267 refactor(machines): move machine fetching to a hook
  src/app/base/components/DhcpForm/DhcpForm.tsx
  src/app/base/components/MachineLink/MachineLink.tsx
  src/app/base/components/node/MachinesHeader/MachinesHeader.tsx
  src/app/dashboard/views/DiscoveryAddForm/DiscoveryAddForm.tsx
  src/app/kvm/components/KVMResourcesCard/KVMResourcesCard.test.tsx
  src/app/kvm/components/KVMResourcesCard/KVMResourcesCard.tsx
  src/app/kvm/components/LXDHostVMs/NumaResources/NumaResourcesCard/NumaResourcesCard.test.tsx
  src/app/kvm/components/LXDHostVMs/NumaResources/NumaResourcesCard/NumaResourcesCard.tsx
  src/app/kvm/components/LXDVMsTable/LXDVMsTable.test.tsx
  src/app/kvm/components/LXDVMsTable/LXDVMsTable.tsx
  src/app/machines/components/MachineHeaderForms/ActionFormWrapper/CloneForm/CloneFormFields/CloneFormFields.tsx
  src/app/machines/views/MachineList/MachineListHeader/MachineListHeader.tsx
  src/app/settings/hooks.ts
  src/app/settings/views/Dhcp/DhcpList/DhcpList.tsx
  src/app/store/machine/actions.test.ts
  src/app/store/machine/slice.ts
  src/app/store/machine/utils/hooks.test.tsx
  src/app/store/machine/utils/hooks.ts
  src/app/tags/views/TagMachines/TagMachines.test.tsx
  src/app/tags/views/TagMachines/TagMachines.tsx
Labels: Review: Code +1, Review: QA +1

#4285 fix(ui): fix main machine list
  src/app/store/machine/reducers.test.ts
  src/app/store/machine/slice.ts
Labels: Priority: Critical, Review: Code +1, Review: QA +1

#4288 fix(ui): subsequent ga pageview events
  src/app/base/hooks/analytics.ts
Labels: Review: QA +1, Review: Code +1 (with changes)

#4286 fix: configure VLAN DHCP (#4246)
  ui/src/app/subnets/views/VLANDetails/ConfigureDHCP/ConfigureDHCP.test.tsx
  ui/src/app/subnets/views/VLANDetails/ConfigureDHCP/ConfigureDHCP.tsx
  ui/src/app/subnets/views/VLANDetails/ConfigureDHCP/ConfigureDHCPFields/ConfigureDHCPFields.tsx
Labels: Review: Code +1, Review: QA +1, Backport 3.2 :arrow_backward:

#4287 feat(ui): add kernel option description
  src/app/machines/components/MachineHeaderForms/ActionFormWrapper/TagForm/TagFormChanges/TagFormChanges.tsx
  src/app/machines/components/MachineHeaderForms/ActionFormWrapper/TagForm/TagFormFields/TagFormFields.tsx
Labels: Review: Code +1, Review: QA +1

#4264 feat(machine): add filter groups actions
  src/__snapshots__/root-reducer.test.ts.snap
  src/app/store/machine/actions.test.ts
  src/app/store/machine/reducers.test.ts
  src/app/store/machine/slice.ts
  src/app/store/machine/types/base.ts
  src/app/store/machine/types/index.ts
  src/app/store/machine/types/responses.ts
  src/testing/factories/index.ts
  src/testing/factories/nodes.ts
  src/testing/factories/state.ts
Labels: Review: QA +1, Review: Code +1 (with changes)

#4259 feat(machine): store result of machine.get
  src/app/base/sagas/websockets.test.ts
  src/app/base/sagas/websockets.ts
  src/app/store/machine/reducers.test.ts
  src/app/store/machine/slice.ts
  src/app/store/utils/slice.ts
  src/testing/factories/index.ts
  src/testing/factories/state.ts
Labels: Review: Code +1, Review: QA +1

#4293 fix: show reverse proxy for region or region+rack
  legacy/src/app/partials/cards/services.html
Labels: Review: Code +1, Review: QA +1, Legacy 🧟‍♂️, Backport 3.2 :arrow_backward:
