Repository canonical/maas-ui, pull requests merged in 2022-09, with the labels that each got.

#4374 Migrate Enzyme to RTL - src/app/images
  src/app/base/components/TableDeleteConfirm/TableDeleteConfirm.tsx
  src/app/images/components/ImagesTable/DeleteImageConfirm/DeleteImageConfirm.test.tsx
  src/app/images/components/ImagesTable/DeleteImageConfirm/DeleteImageConfirm.tsx
  src/app/images/components/ImagesTable/ImagesTable.test.tsx
  src/app/images/components/ImagesTable/ImagesTable.tsx
  src/app/images/components/NonUbuntuImageSelect/NonUbuntuImageSelect.test.tsx
  src/app/images/components/UbuntuImageSelect/ArchSelect/ArchSelect.test.tsx
  src/app/images/components/UbuntuImageSelect/ArchSelect/ArchSelect.tsx
  src/app/images/components/UbuntuImageSelect/ReleaseSelect/ReleaseSelect.test.tsx
  src/app/images/components/UbuntuImageSelect/UbuntuImageSelect.test.tsx
  src/app/images/views/ImageList/CustomImages/CustomImages.test.tsx
  src/app/images/views/ImageList/GeneratedImages/GeneratedImages.test.tsx
  src/app/images/views/ImageList/ImageList.test.tsx
  src/app/images/views/ImageList/ImageList.tsx
  src/app/images/views/ImageList/ImageListHeader/ImageListHeader.test.tsx
  src/app/images/views/ImageList/ImageListHeader/ImageListHeader.tsx
  src/app/images/views/ImageList/SyncedImages/ChangeSource/FetchImagesForm/FetchImagesForm.test.tsx
  src/app/images/views/ImageList/SyncedImages/ChangeSource/FetchImagesForm/FetchImagesForm.tsx
  src/app/images/views/ImageList/SyncedImages/ChangeSource/FetchImagesForm/FetchImagesFormFields/FetchImagesFormFields.test.tsx
  src/app/images/views/ImageList/SyncedImages/ChangeSource/FetchImagesForm/FetchImagesFormFields/FetchImagesFormFields.tsx
  src/app/images/views/ImageList/SyncedImages/ChangeSource/FetchedImages/FetchedImages.test.tsx
  src/app/images/views/ImageList/SyncedImages/ChangeSource/FetchedImages/FetchedImages.tsx
  src/app/images/views/ImageList/SyncedImages/OtherImages/OtherImages.test.tsx
  src/app/images/views/ImageList/SyncedImages/OtherImages/OtherImages.tsx
  src/app/images/views/ImageList/SyncedImages/SyncedImages.test.tsx
  src/app/images/views/ImageList/SyncedImages/SyncedImages.tsx
  src/app/images/views/ImageList/SyncedImages/UbuntuCoreImages/UbuntuCoreImages.test.tsx
  src/app/images/views/ImageList/SyncedImages/UbuntuCoreImages/UbuntuCoreImages.tsx
  src/app/images/views/ImageList/SyncedImages/UbuntuImages/UbuntuImages.test.tsx
  src/app/images/views/ImageList/SyncedImages/UbuntuImages/UbuntuImages.tsx
Labels: Review: Code +1

#4385 fix(ui): lxd cluster route infinite loading
  src/app/kvm/views/LXDClusterDetails/LXDClusterDetails.tsx
  src/app/kvm/views/LXDClusterDetails/LXDClusterHostVMs/LXDClusterHostVMs.tsx
Labels: Review: Code +1, Review: QA +1

#4384 Migrate Enzyme to RTL: src/app/intro
  src/app/base/components/SSHKeyList/SSHKeyList.tsx
  src/app/intro/components/IntroCard/IntroCard.test.tsx
  src/app/intro/components/IntroCard/IntroCard.tsx
  src/app/intro/components/IntroSection/IntroSection.test.tsx
  src/app/intro/views/ImagesIntro/ImagesIntro.test.tsx
  src/app/intro/views/ImagesIntro/ImagesIntro.tsx
  src/app/intro/views/IncompleteCard/IncompleteCard.test.tsx
  src/app/intro/views/IncompleteCard/IncompleteCard.tsx
  src/app/intro/views/IncompleteCard/__snapshots__/IncompleteCard.test.tsx.snap
  src/app/intro/views/Intro.test.tsx
  src/app/intro/views/MaasIntro/ConnectivityCard/ConnectivityCard.test.tsx
  src/app/intro/views/MaasIntro/ConnectivityCard/ConnectivityCard.tsx
  src/app/intro/views/MaasIntro/MaasIntro.test.tsx
  src/app/intro/views/MaasIntro/MaasIntro.tsx
  src/app/intro/views/MaasIntro/NameCard/NameCard.test.tsx
  src/app/intro/views/MaasIntro/NameCard/NameCard.tsx
  src/app/intro/views/MaasIntroSuccess/MaasIntroSuccess.test.tsx
  src/app/intro/views/MaasIntroSuccess/MaasIntroSuccess.tsx
  src/app/intro/views/UserIntro/UserIntro.test.tsx
  src/app/intro/views/UserIntro/UserIntro.tsx
Labels: Review: Code +1 (with changes)

#4379 feat(kvm): update KVM tables to fetch via the new API
  src/app/kvm/components/LXDHostVMs/LXDHostVMs.test.tsx
  src/app/kvm/components/LXDHostVMs/LXDHostVMs.tsx
  src/app/kvm/components/LXDVMsTable/LXDVMsTable.test.tsx
  src/app/kvm/components/LXDVMsTable/LXDVMsTable.tsx
  src/app/kvm/components/LXDVMsTable/VMsActionBar/VMsActionBar.test.tsx
  src/app/kvm/components/LXDVMsTable/VMsActionBar/VMsActionBar.tsx
  src/app/kvm/components/LXDVMsTable/VMsTable/VMsTable.test.tsx
  src/app/kvm/components/LXDVMsTable/VMsTable/VMsTable.tsx
  src/app/kvm/views/LXDClusterDetails/LXDClusterVMs/LXDClusterVMs.test.tsx
  src/app/kvm/views/LXDClusterDetails/LXDClusterVMs/LXDClusterVMs.tsx
  src/app/machines/views/MachineList/MachineList.test.tsx
  src/app/machines/views/MachineList/MachineList.tsx
  src/app/machines/views/MachineList/MachineListTable/MachineListTable.test.tsx
  src/app/machines/views/MachineList/MachineListTable/MachineListTable.tsx
  src/app/store/pod/selectors.test.ts
  src/app/store/pod/selectors.ts
  src/app/store/vmcluster/selectors.test.ts
  src/app/store/vmcluster/selectors.ts
Labels: Review: Code +1, Review: QA +1

#4380 feat(machines): add not number types
  src/app/store/machine/types/actions.ts
  src/app/store/machine/types/base.ts
Labels: Review: Code +1

#4378 feat(kvm): update KVM tables to use new selected state
  src/app/kvm/components/LXDVMsTable/LXDVMsTable.tsx
  src/app/kvm/components/LXDVMsTable/VMsActionBar/VMsActionBar.test.tsx
  src/app/kvm/components/LXDVMsTable/VMsActionBar/VMsActionBar.tsx
  src/app/kvm/components/LXDVMsTable/VMsTable/NameColumn/NameColumn.tsx
  src/app/kvm/components/LXDVMsTable/VMsTable/VMsTable.test.tsx
  src/app/kvm/components/LXDVMsTable/VMsTable/VMsTable.tsx
  src/app/machines/views/MachineList/MachineListHeader/MachineListHeader.test.tsx
  src/app/machines/views/MachineList/MachineListHeader/MachineListHeader.tsx
  src/app/store/machine/utils/hooks.test.tsx
  src/app/store/machine/utils/hooks.ts
Labels: Review: Code +1, Review: QA +1

#4382 Fix MAAS UI team 404 link in README
  README.md
Labels: Review: Code +1

#4376 feat(machines): collapse groups via the API
  src/app/base/components/node/MachinesHeader/MachinesHeader.tsx
  src/app/machines/views/MachineList/MachineList.test.tsx
  src/app/machines/views/MachineList/MachineList.tsx
  src/app/machines/views/MachineList/MachineListTable/MachineListTable.test.tsx
  src/app/machines/views/MachineList/MachineListTable/MachineListTable.tsx
  src/app/store/machine/reducers.test.ts
  src/app/store/machine/types/actions.ts
  src/app/store/machine/types/base.ts
  src/app/store/machine/types/responses.ts
  src/app/store/machine/utils/hooks.ts
  src/testing/factories/state.ts
Labels: Review: Code +1, Review: QA +1

#4392 test: add test debug command
  package.json
Labels: Review: Code +1, Maintenance 🔨

#4388 fix(ui): discovery add form
  src/app/dashboard/views/DiscoveryAddForm/DiscoveryAddForm.test.tsx
  src/app/dashboard/views/DiscoveryAddForm/DiscoveryAddForm.tsx
  src/app/dashboard/views/DiscoveryAddForm/DiscoveryAddFormFields/DiscoveryAddFormFields.tsx
Labels: Review: Code +1, Review: QA +1

#4393 test: add mockFormikFormSaved util
  src/app/base/components/NodeConfigurationFields/NodeConfigurationFields.test.tsx
  src/app/base/components/node/NodeActionFormWrapper/NodeActionFormWrapper.test.tsx
  src/app/machines/components/MachineHeaderForms/ActionFormWrapper/TagForm/TagForm.test.tsx
  src/app/machines/components/MachineHeaderForms/ActionFormWrapper/TagForm/TagFormFields/TagFormFields.test.tsx
  src/app/tags/components/AddTagForm/AddTagForm.test.tsx
  src/app/tags/components/TagsHeader/AddTagForm/AddTagForm.test.tsx
  src/app/tags/views/TagUpdate/TagUpdate.test.tsx
  src/testing/mockFormikFormSaved.tsx
Labels: Review: Code +1

#4402 fix(machines): fix the machines loading state
  src/app/store/machine/reducers.test.ts
  src/app/store/machine/slice.ts
Labels: Review: Code +1, Review: QA +1

#4398 Migrate Enzyme to RTL - src/app/Routes.test.tsx
  src/app/Routes.test.tsx
Labels: Review: Code +1

#4377 fix(UI): Node summary page
  src/app/base/components/LabelledList/LabelledList.tsx
  src/app/base/components/LabelledList/LabelledListItem/LabelledListItem.tsx
  src/app/base/components/LabelledList/LabelledListItem/index.ts
  src/app/base/components/NodeSummaryNetworkCard/NodeSummaryNetworkCard.tsx
  src/app/base/components/NodeSummaryNetworkCard/_index.scss
  src/app/base/components/node/HardwareCard/HardwareCard.test.tsx
  src/app/base/components/node/HardwareCard/HardwareCard.tsx
  src/app/base/components/node/HardwareCard/__snapshots__/HardwareCard.test.tsx.snap
  src/app/base/components/node/HardwareCard/_index.scss
  src/app/base/components/node/OverviewCard/CpuCard/CpuCard.tsx
  src/app/base/components/node/OverviewCard/DetailsCard/DetailsCard.test.tsx
  src/app/base/components/node/OverviewCard/DetailsCard/DetailsCard.tsx
  src/app/base/components/node/OverviewCard/MachineStatusCard/MachineStatusCard.tsx
  src/app/base/components/node/OverviewCard/MemoryCard/MemoryCard.tsx
  src/app/base/components/node/OverviewCard/StorageCard/StorageCard.tsx
  src/app/base/components/node/OverviewCard/_index.scss
  src/app/base/components/node/TestResults/TestResults.tsx
  src/app/machines/components/MachineHeaderForms/ActionFormWrapper/CloneForm/CloneFormFields/SourceMachineSelect/SourceMachineDetails/SourceMachineDetails.test.tsx
  src/app/machines/components/MachineHeaderForms/ActionFormWrapper/CloneForm/CloneFormFields/SourceMachineSelect/SourceMachineDetails/SourceMachineDetails.tsx
  src/app/machines/components/MachineHeaderForms/ActionFormWrapper/CloneForm/CloneFormFields/SourceMachineSelect/SourceMachineDetails/__snapshots__/SourceMachineDetails.test.tsx.snap
  src/app/machines/views/MachineDetails/MachineSummary/NumaCard/NumaCard.test.tsx
  src/app/machines/views/MachineDetails/MachineSummary/NumaCard/NumaCard.tsx
  src/app/machines/views/MachineDetails/MachineSummary/NumaCard/NumaCardDetails/NumaCardDetails.test.tsx
  src/app/machines/views/MachineDetails/MachineSummary/NumaCard/NumaCardDetails/NumaCardDetails.tsx
  src/app/machines/views/MachineDetails/MachineSummary/NumaCard/NumaCardDetails/__snapshots__/NumaCardDetails.test.tsx.snap
  src/app/machines/views/MachineDetails/MachineSummary/NumaCard/__snapshots__/NumaCard.test.tsx.snap
  src/app/machines/views/MachineDetails/MachineSummary/NumaCard/_index.scss
  src/scss/index.scss
Labels: Review: Design +1, Review: QA +1

#4400 Migrate Enzyme to RTL - src/app/dashboard
  src/app/dashboard/views/DashboardConfigurationForm/DashboardConfigurationSubnetForm/DashboardConfigurationSubnetForm.test.tsx
  src/app/dashboard/views/DashboardConfigurationForm/DashboardConfigurationSubnetForm/DashboardConfigurationSubnetForm.tsx
  src/app/dashboard/views/DashboardHeader/ClearAllForm/ClearAllForm.test.tsx
  src/app/dashboard/views/DashboardHeader/ClearAllForm/ClearAllForm.tsx
  src/app/dashboard/views/DashboardHeader/DashboardHeader.test.tsx
  src/app/dashboard/views/DashboardHeader/DashboardHeader.tsx
  src/app/dashboard/views/DiscoveryAddForm/DiscoveryAddForm.test.tsx
  src/app/dashboard/views/DiscoveryAddForm/DiscoveryAddForm.tsx
  src/app/dashboard/views/DiscoveryAddForm/DiscoveryAddFormFields/DiscoveryAddFormFields.test.tsx
  src/app/dashboard/views/DiscoveryAddForm/DiscoveryAddFormFields/DiscoveryAddFormFields.tsx
Labels: Review: Code needed

#4403 Migrate Enzyme to RTL - src/app/dashboard part 2
  src/app/base/components/FilterAccordion/FilterAccordion.tsx
  src/app/dashboard/views/Dashboard.test.tsx
  src/app/dashboard/views/DiscoveriesList/DiscoveriesFilterAccordion/DiscoveriesFilterAccordion.test.tsx
  src/app/dashboard/views/DiscoveriesList/DiscoveriesFilterAccordion/DiscoveriesFilterAccordion.tsx
  src/app/dashboard/views/DiscoveriesList/DiscoveriesList.test.tsx
  src/app/dashboard/views/DiscoveriesList/DiscoveriesList.tsx
  src/app/dashboard/views/DiscoveryAddForm/DiscoveryAddForm.tsx
Labels: Review: Code +1 (with changes)

#4386 feat(kvm): display skeleton when loading VMs
  src/app/kvm/components/LXDVMsTable/LXDVMsTable.tsx
  src/app/kvm/components/LXDVMsTable/VMsActionBar/VMsActionBar.tsx
  src/app/kvm/components/LXDVMsTable/VMsTable/VMsTable.test.tsx
  src/app/kvm/components/LXDVMsTable/VMsTable/VMsTable.tsx
  src/app/machines/views/MachineList/MachineListTable/MachineListPagination/MachineListPagination.tsx
  src/app/store/machine/utils/hooks.ts
  src/app/store/machine/utils/index.ts
Labels: Review: Code +1, Review: QA +1

#4395 feat(machines): remove filtering by selected when opening action forms
  src/app/machines/views/Machines.test.tsx
  src/app/machines/views/Machines.tsx
Labels: Review: Code +1, Review: QA +1

#4394 feat(machines): display the count of selected machines
  src/app/machines/views/MachineList/MachineListHeader/MachineListHeader.test.tsx
  src/app/machines/views/MachineList/MachineListHeader/MachineListHeader.tsx
  src/app/machines/views/MachineList/MachineListTable/GroupCheckbox/GroupCheckbox.test.tsx
  src/app/machines/views/MachineList/MachineListTable/GroupCheckbox/GroupCheckbox.tsx
  src/app/machines/views/MachineList/MachineListTable/MachineListTable.tsx
  src/app/machines/views/Machines.tsx
  src/app/store/machine/slice.ts
  src/app/store/machine/types/actions.ts
  src/app/store/machine/types/base.ts
  src/app/store/machine/utils/common.test.ts
  src/app/store/machine/utils/common.ts
  src/app/store/machine/utils/hooks.ts
  src/app/store/machine/utils/index.ts
Labels: Review: QA +1, Review: Code +1 (with changes)

#4409 feat(machines): reset useFetchMachines page on filters change
  src/app/kvm/components/LXDVMsTable/LXDVMsTable.tsx
  src/app/kvm/components/VmResources/VmResources.tsx
  src/app/machines/views/MachineList/MachineList.tsx
  src/app/store/machine/utils/hooks.test.tsx
  src/app/store/machine/utils/hooks.ts
  src/app/tags/views/TagMachines/TagMachines.tsx
Labels: Review: Code +1, Review: QA +1

#4407 Migrate Enzyme to RTL - src/app/machines/views/MachineDetails/MachineNetwork *Part 1*
  src/app/machines/views/MachineDetails/MachineNetwork/AddAliasOrVlan/AddAliasOrVlan.test.tsx
  src/app/machines/views/MachineDetails/MachineNetwork/AddAliasOrVlan/AddAliasOrVlan.tsx
  src/app/machines/views/MachineDetails/MachineNetwork/AddAliasOrVlan/AddAliasOrVlanFields/AddAliasOrVlanFields.test.tsx
  src/app/machines/views/MachineDetails/MachineNetwork/AddBondForm/AddBondForm.test.tsx
  src/app/machines/views/MachineDetails/MachineNetwork/AddBridgeForm/AddBridgeForm.test.tsx
  src/app/machines/views/MachineDetails/MachineNetwork/AddInterface/AddInterface.test.tsx
  src/app/machines/views/MachineDetails/MachineNetwork/BondForm/BondFormFields/BondFormFields.test.tsx
  src/app/machines/views/MachineDetails/MachineNetwork/BondForm/BondFormFields/BondFormFields.tsx
  src/testing/factories/nodes.ts
Labels: Review: Code needed

#4410 feat(machines): close action form when deselected
  src/app/machines/views/MachineList/MachineListHeader/MachineListHeader.test.tsx
  src/app/machines/views/MachineList/MachineListHeader/MachineListHeader.tsx
Labels: Review: Code +1, Review: QA +1

#4391 test(machines): add test for no search results
  src/app/machines/views/MachineList/MachineListTable/MachineListTable.test.tsx
  src/app/machines/views/MachineList/MachineListTable/MachineListTable.tsx
Labels: Review: Code +1

#4389 feat(machines): update DHCP and discovery forms to use the new API #1116
  cypress/e2e/with-users/settings/dhcp.spec.ts
  cypress/support/commands.ts
  cypress/support/e2e.ts
  src/app/base/components/DebounceSearchBox/DebounceSearchBox.tsx
  src/app/base/components/DhcpFormFields/DhcpFormFields.test.tsx
  src/app/base/components/DhcpFormFields/DhcpFormFields.tsx
  src/app/base/components/DhcpFormFields/MachineSelect/MachineSelect.test.tsx
  src/app/base/components/DhcpFormFields/MachineSelect/MachineSelect.tsx
  src/app/base/components/DhcpFormFields/MachineSelect/MachineSelectBox/MachineSelectBox.test.tsx
  src/app/base/components/DhcpFormFields/MachineSelect/MachineSelectBox/MachineSelectBox.tsx
  src/app/base/components/DhcpFormFields/MachineSelect/MachineSelectBox/index.ts
  src/app/base/components/DhcpFormFields/MachineSelect/_index.scss
  src/app/base/components/DhcpFormFields/MachineSelect/index.ts
  src/app/base/components/MachineSelectTable/MachineSelectTable.test.tsx
  src/app/base/components/MachineSelectTable/MachineSelectTable.tsx
  src/app/base/components/OutsideClickHandler/OutsideClickHandler.test.tsx
  src/app/base/components/OutsideClickHandler/OutsideClickHandler.tsx
  src/app/base/components/OutsideClickHandler/index.ts
  src/app/base/components/SelectButton/SelectButton.test.tsx
  src/app/base/components/SelectButton/SelectButton.tsx
  src/app/base/components/SelectButton/_index.scss
  src/app/base/components/SelectButton/index.ts
  src/app/base/hooks/base.test.tsx
  src/app/base/hooks/base.ts
  src/app/base/hooks/index.ts
  src/app/dashboard/views/DiscoveriesList/_index.scss
  src/app/dashboard/views/DiscoveryAddForm/DiscoveryAddFormFields/DiscoveryAddFormFields.tsx
  src/app/machines/components/MachineHeaderForms/ActionFormWrapper/DeployForm/DeployFormFields/DeployFormFields.tsx
  src/app/settings/views/Configuration/CommissioningFormFields/CommissioningFormFields.tsx
  src/app/settings/views/Network/NetworkDiscoveryForm/NetworkDiscoveryFormFields/NetworkDiscoveryFormFields.tsx
  src/app/store/machine/utils/hooks.ts
  src/scss/index.scss
Labels: Review: Design +1, Review: Code +1, Review: QA +1

#4414 add websocket debug in development
  .env
  .env.development
  src/websocket-client.ts
Labels: Review: Code needed, Review: QA needed

#4415 feat(machines): update action forms to use new API
  src/app/base/components/node/NodeActionFormWrapper/NodeActionFormWrapper.tsx
  src/app/machines/components/MachineHeaderForms/ActionFormWrapper/ActionFormWrapper.tsx
  src/app/machines/components/MachineHeaderForms/MachineHeaderForms.tsx
  src/app/machines/views/MachineList/MachineListHeader/MachineListHeader.test.tsx
  src/app/machines/views/MachineList/MachineListHeader/MachineListHeader.tsx
  src/app/store/machine/utils/hooks.test.tsx
  src/app/store/machine/utils/hooks.ts
Labels: Review: Code +1, Review: QA +1

#4418 fix: kernel parameters reset after save #4417
  cypress/e2e/with-users/settings/configuration/kernel-parameters.spec.ts
  src/app/settings/views/Configuration/KernelParametersForm/KernelParametersForm.tsx
Labels: Review: Code +1, Review: QA +1

#4416 increase test timeout for jest debug
  package.json
Labels: Review: Code +1, Maintenance 🔨

#4424 feat: add parent fetch filter
  src/app/store/machine/types/actions.ts
  src/app/store/machine/types/base.ts
Labels: Review: Code +1

#4420 fix: cancel does not reset general settings
  cypress/e2e/with-users/settings/configuration/general.spec.ts
  src/app/settings/views/Configuration/GeneralForm/GeneralForm.tsx
Labels: Review: Code +1, Review: QA +1

#4428 fix: machine details take action list
  src/app/base/components/NodeActionMenu/NodeActionMenu.test.tsx
  src/app/base/components/NodeActionMenu/NodeActionMenu.tsx
  src/app/machines/views/MachineDetails/MachineHeader/MachineHeader.tsx
Labels: Review: Code +1, Review: QA +1

#4432 fix(settings): updating multiple fields
  src/app/base/sagas/websockets.test.ts
  src/app/base/sagas/websockets.ts
Labels: Review: Code needed, Review: QA +1
