Repository canonical/maas-ui, pull requests merged in 2023-03, with the labels that each got.

#4804 refactor(machines): cache machine list selectors
  package.json
  src/app/base/components/TableMenu/TableMenu.tsx
  src/app/base/hooks/node.ts
  src/app/machines/views/MachineList/MachineList.tsx
  src/app/machines/views/MachineList/MachineListTable/OwnerColumn/OwnerColumn.tsx
  src/app/machines/views/MachineList/MachineListTable/StatusColumn/StatusColumn.test.tsx
  src/app/machines/views/MachineList/MachineListTable/StatusColumn/StatusColumn.tsx
  src/app/machines/views/MachineList/MachineListTable/StatusColumn/__snapshots__/StatusColumn.test.tsx.snap
  src/app/store/general/selectors/osInfo.ts
  src/app/store/machine/selectors.ts
  src/app/store/machine/utils/hooks.ts
  src/app/store/tag/selectors.ts
  src/app/store/user/selectors.ts
  src/app/store/utils/selectors.ts
  yarn.lock
Labels: Review: QA +1, Review: Code +1 (with changes), Maintenance 🔨

#4806 refactor(machines): remove active row state
  src/app/machines/hooks.tsx
  src/app/machines/types.ts
  src/app/machines/views/MachineList/MachineListTable/MachineListTable.tsx
  src/app/machines/views/MachineList/MachineListTable/OwnerColumn/OwnerColumn.tsx
  src/app/machines/views/MachineList/MachineListTable/PoolColumn/PoolColumn.tsx
  src/app/machines/views/MachineList/MachineListTable/PowerColumn/PowerColumn.tsx
  src/app/machines/views/MachineList/MachineListTable/StatusColumn/StatusColumn.tsx
  src/app/machines/views/MachineList/MachineListTable/ZoneColumn/ZoneColumn.tsx
Labels: Review: Code +1, Review: QA +1

#4812 refactor(machines): use machineActions property accessor
  src/app/base/hooks/node.ts
Labels: Review: Code +1

#4813 test: update cypress tests #4779
  cypress/e2e/with-users/base/navigation.spec.ts
  cypress/e2e/with-users/kvm/list.spec.ts
  cypress/e2e/with-users/login/login.spec.ts
  cypress/e2e/with-users/machines/actions.spec.ts
  cypress/e2e/with-users/machines/list.spec.ts
  cypress/e2e/with-users/pools/list.spec.ts
  cypress/e2e/with-users/settings/configuration/general.spec.ts
  cypress/e2e/with-users/settings/dhcp.spec.ts
  cypress/support/commands.ts
  cypress/support/e2e.ts
Labels: Review: Code +1

#4828 chore: remove launchpad to github issue replication
  .github/workflows/lp-to-gh-issues.yml
  README.md
  scripts/lp-bugs-to-gh-issues.py
Labels: Review: Code +1

#4818 fix(auth): Log out user if session has expired MAASENG-1414
  cypress/e2e/with-users/settings/security/session-timeout.spec.ts
  src/app/App.tsx
  src/app/base/components/Login/Login.tsx
  src/app/base/sagas/websockets.test.ts
  src/app/base/sagas/websockets.ts
  src/app/settings/views/Security/SessionTimeout/SessionTimeout.tsx
  src/app/store/status/slice.ts
  src/app/utils/timeSpan.ts
Labels: Review: Design +1, Review: Code +1, Review: QA +1

#4831 test: migrate DiskTestStatus, NameColumn, NodeActionFormWrapper, VirshSettings, LXDHostToolbar to RTL
  src/app/base/components/node/DiskTestStatus/DiskTestStatus.test.tsx
  src/app/base/components/node/DiskTestStatus/DiskTestStatus.tsx
  src/app/base/components/node/NodeActionFormWrapper/NodeActionFormWrapper.test.tsx
  src/app/base/components/node/networking/NameColumn/NameColumn.test.tsx
  src/app/kvm/components/LXDHostToolbar/LXDHostToolbar.test.tsx
  src/app/kvm/views/VirshDetails/VirshSettings/VirshSettings.test.tsx
Labels: Review: Code +1

#4832 refactor: login errors mapping MAASENG-1489
  cypress/e2e/with-users/login/login.spec.ts
  src/app/App.tsx
  src/app/base/components/Login/Login.tsx
  src/app/utils/formatErrors.ts
Labels: Review: Code needed, Review: QA needed

#4840 test: enzyme to RTL shallow tests migration
  src/app/base/components/Placeholder/Placeholder.test.tsx
  src/app/base/components/Placeholder/__snapshots__/Placeholder.test.tsx.snap
  src/app/base/components/PowerIcon/PowerIcon.test.tsx
  src/app/base/components/PowerIcon/__snapshots__/PowerIcon.test.tsx.snap
  src/app/base/components/Stepper/Stepper.test.tsx
  src/app/base/components/Stepper/__snapshots__/Stepper.test.tsx.snap
  src/app/base/components/Switch/Switch.test.tsx
  src/app/base/components/Switch/__snapshots__/Switch.test.tsx.snap
  src/app/base/components/TableActions/TableActions.test.tsx
  src/app/base/components/TableDeleteConfirm/TableDeleteConfirm.test.tsx
  src/app/base/components/TableDeleteConfirm/__snapshots__/TableDeleteConfirm.test.tsx.snap
Labels: Review: Code +1

#4843 fix: check filter groups loaded MAASENG-1522
  src/app/machines/views/MachineList/MachineListControls/MachinesFilterAccordion/MachinesFilterAccordion.test.tsx
  src/app/machines/views/MachineList/MachineListControls/MachinesFilterAccordion/MachinesFilterAccordion.tsx
Labels: Review: Code +1, Review: QA +1

#4837 feat(machines): Add button set on machine listing page MAASENG-1425
  cypress/e2e/with-users/machines/actions.spec.ts
  cypress/e2e/with-users/machines/list.spec.ts
  cypress/support/commands.ts
  src/app/base/components/NodeActionMenuGroup/index.scss
  src/app/base/components/SectionHeader/SectionHeader.tsx
  src/app/base/components/node/MachinesHeader/MachinesHeader.test.tsx
  src/app/base/components/node/MachinesHeader/MachinesHeader.tsx
  src/app/machines/views/MachineList/MachineList.test.tsx
  src/app/machines/views/MachineList/MachineList.tsx
  src/app/machines/views/MachineList/MachineListControls/MachineListControls.test.tsx
  src/app/machines/views/MachineList/MachineListControls/MachineListControls.tsx
  src/app/machines/views/MachineList/MachineListHeader/AddHardwareMenu/AddHardwareMenu.tsx
  src/app/machines/views/MachineList/MachineListHeader/MachineListHeader.test.tsx
  src/app/machines/views/MachineList/MachineListHeader/MachineListHeader.tsx
  src/app/machines/views/MachineList/_index.scss
  src/app/machines/views/Machines.test.tsx
  src/app/machines/views/Machines.tsx
  src/scss/_patterns_icons.scss
  src/scss/_utilities.scss
Labels: Review: Design needed, Review: QA +1, Review: Code +1 (with changes)

#4848 ci: move docs checker to separate workflow
  .github/workflows/cypress.yml
  .github/workflows/links-checker.yml
  src/app/base/docsUrls.ts
Labels: Review: Code needed
