Repository canonical/maas-ui, pull requests merged in 2023-08, with the labels that each got.

#5090 fix: nullable field error lp#2030095
  src/app/settings/views/Images/WindowsForm/WindowsForm.tsx
Labels: Review: Code needed

#5091 feat: add temporal & agent services
  src/app/controllers/views/ControllerDetails/ControllerSummary/ServicesCard/ServicesCard.tsx
  src/app/store/service/types/enum.ts
Labels: Review: QA +1, Review: Code +1 (with changes), Review: Core needed

#5096 fix: use valid default formik form values MAASENG-2099
  src/app/base/components/FormikForm/FormikForm.tsx
  src/app/base/components/FormikForm/index.ts
  src/app/machines/views/MachineDetails/MachineConfiguration/PowerForm/PowerForm.tsx
  src/app/settings/views/Images/ThirdPartyDriversForm/ThirdPartyDriversForm.tsx
  src/app/settings/views/Images/VMWareForm/VMWareForm.tsx
  src/app/settings/views/Network/NtpForm/NtpForm.tsx
  src/app/subnets/views/VLANDetails/EditVLAN/EditVLAN.tsx
Labels: Review: Code +1, Review: QA +1

#5087 chore: upgrade vanilla v4 MAASENG-2086
  assets/fonts/086e42aa-Ubuntu[wdth,wght]-cyrillic.woff2
  assets/fonts/0bd4277a-UbuntuMono[wght]-latin.woff2
  assets/fonts/15be2ffe-UbuntuBeta0.865[wdth,wght]-latin.woff2
  assets/fonts/57fdffc1-Ubuntu[wdth,wght]-greek.woff2
  assets/fonts/77e5f6a2-Ubuntu[wdth,wght]-greek-extended.woff2
  assets/fonts/7d55b1fc-Ubuntu[wdth,wght]-cyrillic-extended.woff2
  assets/fonts/90b59210-Ubuntu-Italic[wdth,wght]-latin-v0.896a.woff2
  assets/fonts/a312a7ed-Ubuntu[wdth,wght]-latin-extended.woff2
  assets/fonts/a84821f4-UbuntuBeta0.865-Italic[wdth,wght]-latin.woff2
  assets/fonts/c1b12cdf-Ubuntu-Italic[wdth,wght]-latin.woff2
  assets/fonts/d5fc1819-UbuntuMono[wght]-latin-v0.869.woff2
  assets/fonts/ec568c8f-UbuntuMonoBeta0.865[wght]-latin.woff2
  assets/fonts/f1ea362b-Ubuntu[wdth,wght]-latin-v0.896a.woff2
  assets/fonts/f3b9cc97-Ubuntu[wdth,wght]-latin.woff2
  package.json
  src/app/base/components/AppSideNavigation/_index.scss
  src/app/base/components/SecondaryNavigation/SecondaryNavigation.tsx
  src/app/base/components/SectionHeader/_index.scss
  src/app/base/components/Stepper/_index.scss
  src/app/base/components/node/OverviewCard/ControllerStatusCard/ControllerStatusCard.tsx
  src/app/base/components/node/OverviewCard/CpuCard/CpuCard.tsx
  src/app/base/components/node/OverviewCard/MachineStatusCard/MachineStatusCard.tsx
  src/app/base/components/node/OverviewCard/MemoryCard/MemoryCard.tsx
  src/app/base/components/node/OverviewCard/StorageCard/StorageCard.tsx
  yarn.lock
Labels: Review: Code +1, Review: QA +1, Maintenance 🔨

#5102 feat: global "/" search key shortcut
  src/app/base/components/ActionBar/ActionBar.tsx
  src/app/base/components/DebounceSearchBox/DebounceSearchBox.tsx
  src/app/base/components/SearchBox/SearchBox.test.tsx
  src/app/base/components/SearchBox/SearchBox.tsx
  src/app/base/components/SearchBox/index.ts
  src/app/base/components/node/NodeLogs/EventLogs/EventLogs.tsx
  src/app/base/constants.ts
  src/app/dashboard/views/DiscoveriesList/DiscoveriesList.tsx
  src/app/settings/components/SettingsTable/SettingsTable.tsx
Labels: Review: Code +1, Review: QA +1

#5104 Maaseng 2102 extend storage card fullwifth
  src/app/kvm/components/LXDVMsTable/VMsTable/_index.scss
  src/app/kvm/components/StorageResources/StorageResources.tsx
  src/app/kvm/components/StorageResources/_index.scss
Labels: Review: QA +1, Review: Code +1 (with changes)

#5106 fix: use defaultChecked in ThemedRadioButton
  src/app/settings/views/Configuration/GeneralForm/ThemedRadioButton/ThemedRadioButton.tsx
Labels: Review: Code +1, Review: QA +1

#5105 refactor: use builder callback MAASENG-1855
  src/app/store/auth/slice.ts
  src/app/store/scriptresult/slice.ts
Labels: Review: Code +1, Review: QA +1

#5110 test: set BondFormFields initialValues
  src/app/base/components/FormikField/FormikField.test.tsx
  src/app/dashboard/views/DiscoveryAddForm/DiscoveryAddForm.test.tsx
  src/app/machines/views/MachineDetails/MachineNetwork/BondForm/BondFormFields/BondFormFields.test.tsx
  src/app/settings/views/Configuration/DeployForm/DeployForm.test.tsx
  src/app/settings/views/Security/SecurityProtocols/TLSEnabled/TLSEnabled.test.tsx
  src/app/tags/components/DefinitionField/DefinitionField.test.tsx
  src/app/tags/components/TagsHeader/AddTagForm/AddTagForm.test.tsx
Labels: Review: Code +1

#5113 ci: fix upload workflow sha
  .github/workflows/upload.yml
Labels: Review: Code +1

#5124 feat(machines): bulk failure reason MAASENG-1689
  src/app/base/components/FormikFormContent/FormikFormContent.test.tsx
  src/app/base/components/FormikFormContent/FormikFormContent.tsx
  src/app/base/hooks/forms.ts
  src/app/base/types.ts
  src/app/machines/components/ErrorDetails/ErrorDetails.test.tsx
  src/app/machines/components/ErrorDetails/ErrorDetails.tsx
  src/app/machines/components/ErrorDetails/index.ts
  src/app/machines/components/MachineForms/MachineActionFormWrapper/MachineActionFormWrapper.test.tsx
  src/app/machines/components/MachineHostname/MachineHostname.test.tsx
  src/app/machines/components/MachineHostname/MachineHostname.tsx
  src/app/machines/components/MachineHostname/index.ts
  src/app/store/machine/slice.ts
  src/app/store/machine/types/base.ts
  src/app/store/machine/utils/hooks.test.tsx
  src/app/store/machine/utils/hooks.tsx
Labels: Review: Code +1, Review: QA +1

#5123 chore: upgrade react components
  package.json
  src/app/base/components/FormikFormButtons/FormikFormButtons.test.tsx
  src/app/base/components/FormikFormContent/FormikFormContent.tsx
  src/app/base/components/NetworkActionRow/NetworkActionRow.test.tsx
  src/app/base/components/NodeActionMenu/NodeActionMenu.test.tsx
  src/app/base/components/NodeActionMenuGroup/NodeActionMenuGroup.test.tsx
  src/app/base/components/NodeSummaryNetworkCard/NetworkCardTable/NetworkCardTable.test.tsx
  src/app/base/components/ScriptStatus/ScriptStatus.test.tsx
  src/app/base/components/TableActions/TableActions.test.tsx
  src/app/base/components/node/DiskNumaNodes/DiskNumaNodes.test.tsx
  src/app/base/components/node/NodeTestsTable/NodeTestsTable.test.tsx
  src/app/base/components/node/OverviewCard/ControllerStatusCard/ControllerStatusCard.test.tsx
  src/app/base/components/node/OverviewCard/MemoryCard/MemoryCard.test.tsx
  src/app/base/components/node/OverviewCard/StorageCard/StorageCard.test.tsx
  src/app/base/components/node/StorageTables/AvailableStorageTable/BulkActions/BulkActions.test.tsx
  src/app/base/hooks/base.ts
  src/app/controllers/components/ControllerStatus/ControllerStatus.test.tsx
  src/app/controllers/views/ControllerList/ControllerList.tsx
  src/app/controllers/views/ControllerList/ControllerListTable/ControllerListTable.test.tsx
  src/app/controllers/views/ControllerList/ControllerListTable/ControllerListTable.tsx
  src/app/controllers/views/ControllerList/ControllerListTable/StatusColumn/StatusColumn.test.tsx
  src/app/controllers/views/ControllerList/ControllerListTable/VersionColumn/VersionColumn.test.tsx
  src/app/devices/views/DeviceList/DeviceList.tsx
  src/app/images/components/UbuntuImageSelect/ArchSelect/ArchSelect.test.tsx
  src/app/images/views/ImageList/SyncedImages/SyncedImages.test.tsx
  src/app/intro/views/ImagesIntro/ImagesIntro.test.tsx
  src/app/kvm/components/KVMForms/ComposeForm/ComposeFormFields/ComposeFormFields.test.tsx
  src/app/machines/components/MachineForms/MachineActionFormWrapper/DeployForm/DeployFormFields/DeployFormFields.test.tsx
  src/app/machines/components/MachineForms/MachineActionFormWrapper/TagForm/TagFormChanges/TagFormChanges.tsx
  src/app/machines/views/MachineDetails/MachineNetwork/AddAliasOrVlan/AddAliasOrVlan.test.tsx
  src/app/machines/views/MachineDetails/MachineNetwork/MachineNetworkActions/MachineNetworkActions.test.tsx
  src/app/machines/views/MachineDetails/MachineNetwork/NetworkTable/NetworkTableActions/NetworkTableActions.test.tsx
  src/app/machines/views/MachineList/MachineListTable/CoresColumn/CoresColumn.test.tsx
  src/app/machines/views/MachineList/MachineListTable/DisksColumn/DisksColumn.test.tsx
  src/app/machines/views/MachineList/MachineListTable/MachineListPagination/MachineListPagination.tsx
  src/app/machines/views/MachineList/MachineListTable/NameColumn/NameColumn.test.tsx
  src/app/machines/views/MachineList/MachineListTable/PageSizeSelect/PageSizeSelect.tsx
  src/app/machines/views/MachineList/MachineListTable/PowerColumn/PowerColumn.test.tsx
  src/app/machines/views/MachineList/MachineListTable/RamColumn/RamColumn.test.tsx
  src/app/machines/views/MachineList/MachineListTable/StatusColumn/StatusColumn.test.tsx
  src/app/machines/views/MachineList/MachineListTable/ZoneColumn/ZoneColumn.test.tsx
  src/app/settings/components/SettingsTable/SettingsTable.test.tsx
  src/app/settings/views/Scripts/ScriptsUpload/ScriptsUpload.test.tsx
  src/app/store/machine/utils/hooks.tsx
  src/app/subnets/views/SubnetsList/SubnetsList.tsx
  src/testing/utils.tsx
  yarn.lock
Labels: Review: Code +1, Review: QA +1, Maintenance 🔨

#5125 ci: update install command for cypress
  .github/workflows/accessibility.yml
  .github/workflows/cypress.yml
Labels: Review: Code +1

#5118 5111 fix docs link tests
  cypress/support/e2e.ts
  src/app/base/docsUrls.ts
  src/app/machines/views/MachineDetails/MachineStorage/MachineStorage.tsx
Labels: Review: Code needed

#5128 remove cz-conventional-changelog MAASENG-1335
  package.json
  yarn.lock
Labels: Review: Code +1, Maintenance 🔨
