Repository canonical/maas-ui, pull requests merged in 2023-10, with the labels that each got.

#5184 ci: update demo MAAS_URL
  konf/site.yaml
Labels: Review: Code +1, Review: QA +1

#5177 MAASENG-2182 address cypress intermittent failures
  cypress/e2e/with-users/machines/actions.spec.ts
  cypress/support/commands.ts
Labels: Review: Code +1

#5187 docs: update pull_request_template.md
  .github/pull_request_template.md
Labels: Review: Code +1

#5186 fix: use config bulk_update lp#1839788
  src/app/settings/views/Configuration/CommissioningForm/CommissioningForm.test.tsx
  src/app/settings/views/Configuration/CommissioningForm/CommissioningForm.tsx
  src/app/settings/views/Configuration/DeployForm/DeployForm.test.tsx
  src/app/settings/views/Configuration/DeployForm/DeployForm.tsx
  src/app/settings/views/Configuration/GeneralForm/GeneralForm.tsx
  src/app/settings/views/Configuration/KernelParametersForm/KernelParametersForm.tsx
  src/app/settings/views/Images/ThirdPartyDriversForm/ThirdPartyDriversForm.tsx
  src/app/settings/views/Images/VMWareForm/VMWareForm.tsx
  src/app/settings/views/Images/WindowsForm/WindowsForm.tsx
  src/app/settings/views/Network/DnsForm/DnsForm.test.tsx
  src/app/settings/views/Network/DnsForm/DnsForm.tsx
  src/app/settings/views/Network/NetworkDiscoveryForm/NetworkDiscoveryForm.test.tsx
  src/app/settings/views/Network/NetworkDiscoveryForm/NetworkDiscoveryForm.tsx
  src/app/settings/views/Network/NtpForm/NtpForm.test.tsx
  src/app/settings/views/Network/NtpForm/NtpForm.tsx
  src/app/settings/views/Network/ProxyForm/ProxyForm.tsx
  src/app/settings/views/Network/SyslogForm/SyslogForm.test.tsx
  src/app/settings/views/Network/SyslogForm/SyslogForm.tsx
  src/app/settings/views/Security/IpmiSettings/IpmiSettings.test.tsx
  src/app/settings/views/Security/IpmiSettings/IpmiSettings.tsx
  src/app/settings/views/Storage/StorageForm/StorageForm.test.tsx
  src/app/settings/views/Storage/StorageForm/StorageForm.tsx
  src/app/store/config/actions.test.ts
  src/app/store/config/slice.ts
Labels: Review: Code +1, Review: QA +1

#5188 ci: add validate pr title
  .github/workflows/pr-labeler.yaml
  .github/workflows/pr-lint.yml
Labels: Review: Code +1, Review: QA +1

#5185 docs: Add machine list bulk action errors to storybook MAASENG-2219
  src/app/machines/components/MachineForms/MachineActionFormWrapper/MachineActionFormWrapper.stories.tsx
  src/app/machines/components/MachineForms/MachineActionFormWrapper/MachineActionFormWrapper.tsx
Labels: Review: Code +1, Review: QA +1

#5189 fix: add table empty state for all tables on MAAS-UI
  src/app/base/components/DHCPTable/DHCPTable.test.tsx
  src/app/base/components/DHCPTable/DHCPTable.tsx
  src/app/base/components/SSHKeyList/SSHKeyList.test.tsx
  src/app/base/components/SSHKeyList/SSHKeyList.tsx
  src/app/base/components/node/NodeLogs/EventLogs/EventLogsTable/EventLogsTable.test.tsx
  src/app/base/components/node/NodeLogs/EventLogs/EventLogsTable/EventLogsTable.tsx
  src/app/base/components/node/NodeTestsTable/NodeTestsTable.test.tsx
  src/app/base/components/node/NodeTestsTable/NodeTestsTable.tsx
  src/app/base/components/node/StorageTables/CacheSetsTable/CacheSetsTable.tsx
  src/app/base/components/node/networking/NetworkTable/NetworkTable.test.tsx
  src/app/base/components/node/networking/NetworkTable/NetworkTable.tsx
  src/app/controllers/views/ControllerList/ControllerListTable/ControllerListTable.test.tsx
  src/app/controllers/views/ControllerList/ControllerListTable/ControllerListTable.tsx
  src/app/dashboard/views/DiscoveriesList/DiscoveriesList.tsx
  src/app/devices/views/DeviceDetails/DeviceNetwork/DeviceNetworkTable/DeviceNetworkTable.test.tsx
  src/app/devices/views/DeviceDetails/DeviceNetwork/DeviceNetworkTable/DeviceNetworkTable.tsx
  src/app/devices/views/DeviceList/DeviceListTable/DeviceListTable.test.tsx
  src/app/devices/views/DeviceList/DeviceListTable/DeviceListTable.tsx
  src/app/domains/views/DomainsList/DomainsTable/DomainsTable.test.tsx
  src/app/domains/views/DomainsList/DomainsTable/DomainsTable.tsx
  src/app/kvm/components/LXDVMsTable/VMsTable/VMsTable.test.tsx
  src/app/kvm/components/LXDVMsTable/VMsTable/VMsTable.tsx
  src/app/kvm/views/KVMList/LxdTable/LxdKVMHostTable/LxdKVMHostTable.test.tsx
  src/app/kvm/views/KVMList/LxdTable/LxdKVMHostTable/LxdKVMHostTable.tsx
  src/app/kvm/views/KVMList/VirshTable/VirshTable.test.tsx
  src/app/kvm/views/KVMList/VirshTable/VirshTable.tsx
  src/app/machines/views/MachineList/MachineListTable/MachineListTable.test.tsx
  src/app/machines/views/MachineList/MachineListTable/MachineListTable.tsx
  src/app/pools/views/PoolList/PoolList.test.tsx
  src/app/pools/views/PoolList/PoolList.tsx
  src/app/preferences/views/APIKeys/APIKeyList/APIKeyList.test.tsx
  src/app/preferences/views/APIKeys/APIKeyList/APIKeyList.tsx
  src/app/preferences/views/SSLKeys/SSLKeyList/SSLKeyList.test.tsx
  src/app/preferences/views/SSLKeys/SSLKeyList/SSLKeyList.tsx
  src/app/settings/components/SettingsTable/SettingsTable.tsx
  src/app/settings/views/Dhcp/DhcpList/DhcpList.test.tsx
  src/app/settings/views/Dhcp/DhcpList/DhcpList.tsx
  src/app/settings/views/LicenseKeys/LicenseKeyList/LicenseKeyList.test.tsx
  src/app/settings/views/LicenseKeys/LicenseKeyList/LicenseKeyList.tsx
  src/app/settings/views/Repositories/RepositoriesList/RepositoriesList.test.tsx
  src/app/settings/views/Repositories/RepositoriesList/RepositoriesList.tsx
  src/app/settings/views/Scripts/ScriptsList/ScriptsList.test.tsx
  src/app/settings/views/Scripts/ScriptsList/ScriptsList.tsx
  src/app/settings/views/Users/UsersList/UsersList.test.tsx
  src/app/settings/views/Users/UsersList/UsersList.tsx
  src/app/subnets/components/ReservedRanges/ReservedRanges.tsx
  src/app/subnets/views/FabricDetails/FabricVLANs/FabricVLANs.tsx
  src/app/subnets/views/SubnetDetails/SubnetDetailsHeader/SubnetActionForms/components/EditBootArchitectures/BootArchitecturesTable/BootArchitecturesTable.tsx
  src/app/utils/index.ts
  src/app/utils/table/generateEmptyStateMsg.test.ts
  src/app/utils/table/generateEmptyStateMsg.tsx
  src/app/utils/table/getTableStatus.test.ts
  src/app/utils/table/getTableStatus.ts
  src/app/utils/table/index.ts
  src/app/zones/views/ZonesList/ZonesList.test.tsx
  src/app/zones/views/ZonesList/ZonesListTable/ZonesListTable.tsx
Labels: Review: Code +1, Review: QA +1

#5194 refactor: use Meter from maas-react-components
  package.json
  src/app/base/components/Meter/Meter.stories.tsx
  src/app/base/components/Meter/Meter.test.tsx
  src/app/base/components/Meter/Meter.tsx
  src/app/base/components/Meter/_index.scss
  src/app/base/components/Meter/index.ts
  src/app/kvm/components/KVMForms/ComposeForm/StorageTable/PoolSelect/PoolSelect.tsx
  src/app/kvm/components/KVMResourceMeter/KVMResourceMeter.tsx
  src/app/kvm/components/StorageColumn/StoragePopover/StoragePopover.tsx
  src/scss/index.scss
  yarn.lock
Labels: Review: Code +1, Review: QA +1, Maintenance 🔨

#5193 chore: Remove footer and move links to status bar MAASENG-2058
  src/app/base/components/Footer/Footer.test.tsx
  src/app/base/components/Footer/Footer.tsx
  src/app/base/components/Footer/index.ts
  src/app/base/components/PageContent/PageContent.tsx
  src/app/base/components/StatusBar/StatusBar.test.tsx
  src/app/base/components/StatusBar/StatusBar.tsx
  src/scss/_patterns_status-bar.scss
Labels: Review: UX needed, Review: Code +1, Review: QA +1

#5195 chore: Add Usabilla ID of 3.5 campaign
  .env
Labels: Review: Code +1, Review: QA +1

#5199 refactor: use external link
  package.json
  src/app/base/components/CertificateDetails/CertificateDetails.tsx
  src/app/base/components/DHCPTable/DHCPTable.tsx
  src/app/base/components/SSHKeyForm/SSHKeyFormFields/SSHKeyFormFields.tsx
  src/app/base/components/node/OverviewCard/MachineStatusCard/MachineStatusCard.tsx
  src/app/controllers/components/ControllerForms/AddController/AddController.tsx
  src/app/controllers/views/ControllerList/ControllerListTable/ControllerListTable.tsx
  src/app/controllers/views/ControllerList/ControllerListTable/StatusColumn/StatusColumn.tsx
  src/app/dashboard/views/DashboardHeader/ClearAllForm/ClearAllForm.tsx
  src/app/kvm/components/KVMForms/AddLxd/AuthenticationForm/AuthenticationForm.tsx
  src/app/machines/components/MachineForms/AddChassis/AddChassisForm/AddChassisForm.tsx
  src/app/machines/components/MachineForms/AddMachine/AddMachineForm/AddMachineForm.tsx
  src/app/machines/components/MachineForms/MachineActionFormWrapper/CloneForm/CloneForm.tsx
  src/app/machines/components/MachineForms/MachineActionFormWrapper/DeployForm/DeployFormFields/DeployFormFields.tsx
  src/app/machines/views/MachineDetails/MachineStorage/MachineStorage.tsx
  src/app/machines/views/MachineDetails/MachineSummary/WorkloadCard/WorkloadCard.tsx
  src/app/preferences/views/SSHKeys/SSHKeyList/SSHKeyList.tsx
  src/app/settings/views/Configuration/GeneralForm/GeneralForm.tsx
  src/app/settings/views/Security/IpmiSettings/IpmiFormFields/IpmiFormFields.tsx
  src/app/settings/views/Security/SecretStorage/VaultSettings/VaultSettings.tsx
  src/app/settings/views/Security/SecurityProtocols/TLSDisabled/TLSDisabled.tsx
  src/app/settings/views/Security/SecurityProtocols/TLSEnabled/TLSEnabledFields/TLSEnabledFields.tsx
  src/app/subnets/components/ReservedRanges/ReservedRanges.tsx
  src/app/subnets/views/VLANDetails/ConfigureDHCP/ConfigureDHCP.tsx
  src/app/subnets/views/VLANDetails/DHCPStatus/DHCPStatus.tsx
  src/app/tags/components/DefinitionField/DefinitionField.tsx
  src/app/tags/components/KernelOptionsField/KernelOptionsField.tsx
  src/app/tags/views/TagList/TagTable/TagTable.tsx
  src/app/tags/views/TagUpdate/TagUpdateFormFields/TagUpdateFormFields.tsx
  yarn.lock
Labels: Review: Code +1, Review: QA +1, Maintenance 🔨

#5200 fix: import images lp#2031614
  src/app/base/components/ActionForm/ActionForm.test.tsx
  src/app/base/components/ActionForm/ActionForm.tsx
  src/app/base/components/ActionForm/index.ts
Labels: Review: Code +1, Review: QA +1

#5201 fix: import images lp#2031614 (#5200)
  src/app/base/components/ActionForm/ActionForm.test.tsx
  src/app/base/components/ActionForm/ActionForm.tsx
  src/app/base/components/ActionForm/index.ts
Labels: Review: Code +1, Backport 3.4 :arrow_backward:

#5198 test: fix failing MAAS UI e2e tests
  .github/workflows/cypress.yml
  cypress/e2e/with-users/base/footer.spec.ts
  cypress/support/commands.ts
Labels: Review: Code +1

#5196 fix(machines): Move "Check power" to power action dropdown MAASENG-2125
  src/app/base/components/NodeActionMenu/NodeActionMenu.tsx
  src/app/base/components/NodeActionMenuGroup/NodeActionMenuGroup.test.tsx
  src/app/base/components/NodeActionMenuGroup/NodeActionMenuGroup.tsx
  src/app/base/hooks/node.ts
  src/app/machines/components/MachineForms/MachineActionFormWrapper/MachineActionFormWrapper.tsx
  src/app/machines/constants.ts
  src/app/machines/views/MachineDetails/MachineHeader/MachineHeader.test.tsx
  src/app/machines/views/MachineDetails/MachineHeader/MachineHeader.tsx
  src/app/machines/views/MachineList/MachineListControls/MachineActionMenu/MachineActionMenu.tsx
  src/app/machines/views/MachineList/MachineListControls/MachineListControls.test.tsx
  src/app/store/types/node.ts
  src/app/store/utils/node/base.ts
Labels: Review: Code +1, Review: QA +1

#5202 chore: add ts prettify
  src/app/base/types.ts
  src/app/store/machine/types/actions.ts
Labels: Review: Code +1
