Repository canonical/maas-ui, pull requests merged in 2023-01, with the labels that each got.

#4649 feat: Create new Security settings section in settings
  src/app/settings/components/Nav/Nav.tsx
  src/app/settings/components/Routes/Routes.test.tsx
  src/app/settings/components/Routes/Routes.tsx
  src/app/settings/urls.ts
  src/app/settings/views/Configuration/CommissioningForm/CommissioningForm.test.tsx
  src/app/settings/views/Configuration/CommissioningForm/CommissioningForm.tsx
  src/app/settings/views/Configuration/CommissioningFormFields/CommissioningFormFields.test.tsx
  src/app/settings/views/Configuration/CommissioningFormFields/CommissioningFormFields.tsx
  src/app/settings/views/Configuration/Security/Security.test.tsx
  src/app/settings/views/Configuration/Security/index.ts
  src/app/settings/views/Security/IpmiSettings/IpmiFormFields/IpmiFormFields.test.tsx
  src/app/settings/views/Security/IpmiSettings/IpmiFormFields/IpmiFormFields.tsx
  src/app/settings/views/Security/IpmiSettings/IpmiFormFields/index.ts
  src/app/settings/views/Security/IpmiSettings/IpmiSettings.test.tsx
  src/app/settings/views/Security/IpmiSettings/IpmiSettings.tsx
  src/app/settings/views/Security/IpmiSettings/index.ts
  src/app/settings/views/Security/SecretStorage/SecretStorage.test.tsx
  src/app/settings/views/Security/SecretStorage/SecretStorage.tsx
  src/app/settings/views/Security/SecretStorage/VaultSettings/VaultSettings.test.tsx
  src/app/settings/views/Security/SecretStorage/VaultSettings/VaultSettings.tsx
  src/app/settings/views/Security/SecretStorage/VaultSettings/index.ts
  src/app/settings/views/Security/SecretStorage/index.ts
  src/app/settings/views/Security/SecurityProtocols/SecurityProtocols.test.tsx
  src/app/settings/views/Security/SecurityProtocols/SecurityProtocols.tsx
  src/app/settings/views/Security/SecurityProtocols/TLSDisabled/TLSDisabled.tsx
  src/app/settings/views/Security/SecurityProtocols/TLSDisabled/index.ts
  src/app/settings/views/Security/SecurityProtocols/TLSEnabled/TLSEnabled.test.tsx
  src/app/settings/views/Security/SecurityProtocols/TLSEnabled/TLSEnabled.tsx
  src/app/settings/views/Security/SecurityProtocols/TLSEnabled/TLSEnabledFields/TLSEnabledFields.tsx
  src/app/settings/views/Security/SecurityProtocols/TLSEnabled/TLSEnabledFields/_index.scss
  src/app/settings/views/Security/SecurityProtocols/TLSEnabled/TLSEnabledFields/index.ts
  src/app/settings/views/Security/SecurityProtocols/TLSEnabled/index.ts
  src/app/settings/views/Security/SecurityProtocols/index.ts
  src/scss/index.scss
Labels: Review: Code +1, Review: QA +1

#4631 feat: add last deployed images fields
  src/app/base/components/StatusBar/StatusBar.tsx
  src/app/images/components/ImagesTable/ImagesTable.test.tsx
  src/app/images/components/ImagesTable/ImagesTable.tsx
  src/app/images/components/ImagesTable/_index.scss
  src/app/settings/views/Scripts/ScriptsList/ScriptsList.tsx
  src/app/store/bootresource/types/base.ts
  src/app/utils/formatBytes.test.ts
  src/app/utils/formatBytes.ts
  src/app/utils/time.test.ts
  src/app/utils/time.ts
  src/testing/factories/bootresource.ts
Labels: Review: Design needed, Review: QA needed, Review: Code +1, Don't merge

#4656 remove unused machine.list properties
  src/app/base/components/FilterAccordion/FilterAccordion.test.tsx
  src/app/base/hooks/node-networking.test.tsx
  src/app/base/hooks/node.ts
  src/app/machines/components/MachineHeaderForms/MachineActionFormWrapper/ReleaseForm/ReleaseForm.tsx
  src/app/machines/components/MachineHeaderForms/MachineActionFormWrapper/ReleaseForm/ReleaseFormFields/ReleaseFormFields.test.tsx
  src/app/machines/components/MachineHeaderForms/MachineActionFormWrapper/ReleaseForm/ReleaseFormFields/ReleaseFormFields.tsx
  src/app/machines/views/MachineDetails/MachineNetwork/NetworkTable/NetworkTableActions/NetworkTableActions.test.tsx
  src/app/machines/views/MachineDetails/MachineStorage/StorageNotifications/StorageNotifications.tsx
  src/app/machines/views/MachineList/MachineList.test.tsx
  src/app/machines/views/MachineList/MachineListTable/MachineListTable.test.tsx
  src/app/machines/views/MachineList/MachineListTable/NameColumn/NameColumn.test.tsx
  src/app/machines/views/MachineList/MachineListTable/NameColumn/NameColumn.tsx
  src/app/store/machine/types/actions.ts
  src/app/store/machine/types/base.ts
  src/app/store/machine/utils/hooks.test.tsx
  src/app/store/utils/node/storage.test.ts
  src/app/store/vlan/selectors.test.ts
  src/testing/factories/nodes.ts
Labels: Review: Code +1, Review: QA +1

#4663 feat(machines): update focus states
  src/app/machines/views/MachineList/_index.scss
Labels: Review: Code +1, Review: QA +1

#4662 feat(machines): add hidden columns
  cypress/e2e/with-users/machines/list.spec.ts
  src/app/machines/constants.ts
  src/app/machines/views/MachineList/MachineList.tsx
  src/app/machines/views/MachineList/MachineListControls/HiddenColumnsSelect/HiddenColumnsSelect.test.tsx
  src/app/machines/views/MachineList/MachineListControls/HiddenColumnsSelect/HiddenColumnsSelect.tsx
  src/app/machines/views/MachineList/MachineListControls/MachineListControls.test.tsx
  src/app/machines/views/MachineList/MachineListControls/MachineListControls.tsx
  src/app/machines/views/MachineList/_index.scss
Labels: Review: Code +1, Review: QA +1

#4664 feat: use semantic header in MainContentSection
  src/app/base/components/MainContentSection/MainContentSection.test.tsx
  src/app/base/components/MainContentSection/MainContentSection.tsx
  src/app/base/components/MainContentSection/__snapshots__/MainContentSection.test.tsx.snap
  src/testing/utils.tsx
Labels: Review: Code +1

#4669 refactor: replace react-useportal with react-portal
  package.json
  src/app/base/components/NodeConfigurationFields/NodeConfigurationFields.tsx
  src/app/base/components/Popover/Popover.tsx
  src/app/base/constants.ts
  src/app/kvm/components/CPUColumn/CPUPopover/__snapshots__/CPUPopover.test.tsx.snap
  src/app/kvm/components/RAMColumn/RAMPopover/__snapshots__/RAMPopover.test.tsx.snap
  src/app/machines/components/MachineHeaderForms/MachineActionFormWrapper/TagForm/TagFormChanges/TagFormChanges.tsx
  src/app/machines/components/MachineHeaderForms/MachineActionFormWrapper/TagForm/TagFormFields/TagFormFields.tsx
  yarn.lock
Labels: Review: Code needed, Maintenance 🔨

#4671 fix: update tag fields color to match vanilla-framework
  src/app/base/components/TagSelector/_index.scss
Labels: Review: Code +1, Review: QA +1

#4678 fix: set visibility to hidden on collapsed side panel
  src/scss/_patterns_application.scss
Labels: Review: Code +1

#4682 feat: add .l-aside visibility transition
  src/scss/_patterns_application.scss
Labels: Review: Code +1, Review: QA +1

#4683 feat(machines): update settings toggle
  src/app/machines/views/MachineList/MachineListControls/HiddenColumnsSelect/HiddenColumnsSelect.tsx
  src/app/machines/views/MachineList/_index.scss
Labels: Review: Code +1, Review: QA +1

#4660 feat: Configurable session timeout MAASENG-1121
  package.json
  src/app/settings/components/Nav/Nav.tsx
  src/app/settings/components/Routes/Routes.test.tsx
  src/app/settings/components/Routes/Routes.tsx
  src/app/settings/urls.ts
  src/app/settings/views/Security/SessionTimeout/SessionTimeout.test.tsx
  src/app/settings/views/Security/SessionTimeout/SessionTimeout.tsx
  src/app/settings/views/Security/SessionTimeout/index.ts
  src/app/store/config/selectors.test.ts
  src/app/store/config/selectors.ts
  src/app/store/config/types/enum.ts
  src/app/utils/timeSpan.ts
  src/testing/utils.tsx
  yarn.lock
Labels: Review: QA +1, Review: Code +1 (with changes), Maintenance 🔨

#4684 feat: update device form narrow side panel
  src/app/devices/components/DeviceHeaderForms/AddDeviceForm/AddDeviceForm.test.tsx
  src/app/devices/components/DeviceHeaderForms/AddDeviceForm/AddDeviceInterfaces/AddDeviceInterfaces.test.tsx
  src/app/devices/components/DeviceHeaderForms/AddDeviceForm/AddDeviceInterfaces/AddDeviceInterfaces.tsx
  src/app/devices/views/DeviceList/DeviceListHeader/DeviceListHeader.tsx
Labels: Review: Code +1, Review: QA +1

#4685 feat(machines): add full username option to machines table
  src/app/machines/constants.ts
  src/app/machines/views/MachineList/MachineListTable/MachineListTable.test.tsx
  src/app/machines/views/MachineList/MachineListTable/MachineListTable.tsx
  src/app/machines/views/MachineList/MachineListTable/OwnerColumn/OwnerColumn.test.tsx
  src/app/machines/views/MachineList/MachineListTable/OwnerColumn/OwnerColumn.tsx
  src/app/store/user/selectors.test.ts
  src/app/store/user/selectors.ts
Labels: Review: Code +1, Review: QA +1

#4691 MAAS new layout QA review fixes
  src/app/base/components/DhcpFormFields/MachineSelect/MachineSelectBox/MachineSelectBox.test.tsx
  src/app/base/components/DhcpFormFields/MachineSelect/MachineSelectBox/MachineSelectBox.tsx
  src/app/base/components/FormikForm/FormikForm.tsx
  src/app/base/components/FormikFormButtons/FormikFormButtons.tsx
  src/app/base/components/MachineSelectTable/MachineSelectTable.test.tsx
  src/app/base/components/MachineSelectTable/MachineSelectTable.tsx
  src/app/devices/components/DeviceHeaderForms/AddDeviceForm/AddDeviceInterfaces/AddDeviceInterfaces.test.tsx
  src/app/devices/components/DeviceHeaderForms/AddDeviceForm/AddDeviceInterfaces/AddDeviceInterfaces.tsx
  src/app/domains/components/RecordFields/RecordFields.tsx
  src/app/domains/views/DomainDetails/DomainDetailsHeader/DomainDetailsHeader.tsx
  src/app/machines/components/MachineHeaderForms/AddChassis/AddChassisForm/AddChassisForm.tsx
  src/app/machines/components/MachineHeaderForms/AddMachine/AddMachineForm/AddMachineForm.tsx
  src/app/machines/components/MachineHeaderForms/MachineActionFormWrapper/CloneForm/CloneFormFields/SourceMachineSelect/SourceMachineSelect.test.tsx
  src/app/machines/components/MachineHeaderForms/MachineActionFormWrapper/CloneForm/CloneFormFields/SourceMachineSelect/SourceMachineSelect.tsx
  src/app/machines/components/MachineHeaderForms/MachineActionFormWrapper/CloneForm/CloneFormFields/SourceMachineSelect/_index.scss
Labels: Review: Code +1, Review: QA +1

#4692 fix(subnet): Visible error message when rack controller is not selected for DHCP MAASENG-1256
  src/app/subnets/views/VLANDetails/ConfigureDHCP/ConfigureDHCP.tsx
  src/app/subnets/views/VLANDetails/ConfigureDHCP/ConfigureDHCPFields/ConfigureDHCPFields.tsx
Labels: Review: QA +1, Review: Code +1 (with changes), Bug 🐛

#4694 docs: update MAAS UI screenshot
  README.md
Labels: Review: Code +1

#4696 test: fix cypress failed
  cypress/e2e/with-users/machines/actions.spec.ts
  cypress/e2e/with-users/machines/list.spec.ts
  src/app/base/components/MainContentSection/MainContentSection.test.tsx
  src/app/base/components/MainContentSection/MainContentSection.tsx
Labels: Review: Code +1

#4701 update compose VM side panel
  src/app/base/components/Definition/Definition.test.tsx
  src/app/base/components/ShowAdvanced/ShowAdvanced.test.tsx
  src/app/base/components/ShowAdvanced/ShowAdvanced.tsx
  src/app/base/components/ShowAdvanced/_index.scss
  src/app/base/components/ShowAdvanced/index.ts
  src/app/base/components/Stepper/_index.scss
  src/app/devices/utils.ts
  src/app/images/views/ImageList/SyncedImages/ChangeSource/FetchImagesForm/FetchImagesFormFields/FetchImagesFormFields.tsx
  src/app/kvm/components/KVMDetailsHeader/KVMDetailsHeader.tsx
  src/app/kvm/components/KVMHeaderForms/ComposeForm/ComposeFormFields/ComposeFormFields.tsx
  src/app/kvm/components/KVMHeaderForms/ComposeForm/InterfacesTable/InterfacesTable.test.tsx
  src/app/kvm/components/KVMHeaderForms/ComposeForm/InterfacesTable/InterfacesTable.tsx
  src/app/kvm/components/KVMHeaderForms/ComposeForm/InterfacesTable/SubnetSelect/SubnetSelect.test.tsx
  src/app/kvm/components/KVMHeaderForms/ComposeForm/InterfacesTable/SubnetSelect/SubnetSelect.tsx
  src/app/kvm/components/KVMHeaderForms/ComposeForm/InterfacesTable/SubnetSelect/_index.scss
  src/app/kvm/components/KVMHeaderForms/ComposeForm/StorageTable/PoolSelect/PoolSelect.tsx
  src/app/kvm/components/KVMHeaderForms/ComposeForm/StorageTable/PoolSelect/_index.scss
  src/app/kvm/components/KVMHeaderForms/ComposeForm/StorageTable/StorageTable.test.tsx
  src/app/kvm/components/KVMHeaderForms/ComposeForm/StorageTable/StorageTable.tsx
  src/app/kvm/components/KVMHeaderForms/ComposeForm/StorageTable/_index.scss
  src/app/kvm/utils.ts
  src/scss/_patterns_application.scss
  src/scss/_settings.scss
  src/scss/_vanilla-overrides.scss
  src/scss/index.scss
  src/testing/utils.tsx
Labels: Review: Code +1, Review: QA +1

#4699 feat(images): update machineCount field
  src/app/images/components/ImagesTable/ImagesTable.test.tsx
  src/app/images/components/ImagesTable/ImagesTable.tsx
  src/app/store/bootresource/types/base.ts
  src/testing/factories/bootresource.ts
Labels: Review: Code +1, Review: QA +1

#4700 Doc: Added MAAS UI onboarding documentation
  docs/MAASUI.md
Labels: Review: Code +1

#4706 fix(test): Cypress machine details spec #4703
  cypress/e2e/with-users/machines/details.spec.ts
Labels: Review: Code +1, Review: QA +1

#4704 feat: allow custom machine list page size
  src/app/machines/views/MachineList/MachineList.test.tsx
  src/app/machines/views/MachineList/MachineList.tsx
Labels: Review: Code +1, Review: QA +1

#4708 feat: Allow minutes as a time unit for session timeout
  src/app/settings/views/Security/SessionTimeout/SessionTimeout.tsx
Labels: Review: Code +1, Review: QA +1

#4705 ci: measure rendering different machine list page sizes
  package.json
  sitespeed.io/scripts/machines.js
Labels: Review: Code +1, Maintenance 🔨

#4710 fix: machine list grouping #4709
  src/app/kvm/components/VmResources/VmResources.tsx
  src/app/machines/views/MachineList/MachineList.tsx
  src/app/machines/views/MachineList/MachineListTable/GroupCheckbox/GroupCheckbox.test.tsx
  src/app/machines/views/MachineList/MachineListTable/GroupCheckbox/GroupCheckbox.tsx
  src/app/machines/views/MachineList/MachineListTable/MachineListTable.test.tsx
  src/app/machines/views/MachineList/MachineListTable/MachineListTable.tsx
  src/app/store/machine/selectors.ts
  src/app/store/machine/slice.ts
  src/app/store/machine/types/base.ts
  src/app/store/machine/utils/common.ts
  src/app/store/machine/utils/hooks.test.tsx
  src/app/store/machine/utils/hooks.ts
  src/app/tags/views/TagMachines/TagMachines.tsx
  src/testing/factories/state.ts
Labels: Review: Code +1, Review: QA +1

#4711 fix: machine list grouping (#4710)
  src/app/kvm/components/VmResources/VmResources.tsx
  src/app/machines/views/MachineList/MachineList.tsx
  src/app/machines/views/MachineList/MachineListTable/GroupCheckbox/GroupCheckbox.test.tsx
  src/app/machines/views/MachineList/MachineListTable/GroupCheckbox/GroupCheckbox.tsx
  src/app/machines/views/MachineList/MachineListTable/MachineListTable.test.tsx
  src/app/machines/views/MachineList/MachineListTable/MachineListTable.tsx
  src/app/store/machine/selectors.ts
  src/app/store/machine/slice.ts
  src/app/store/machine/types/base.ts
  src/app/store/machine/utils/common.ts
  src/app/store/machine/utils/hooks.test.tsx
  src/app/store/machine/utils/hooks.ts
  src/app/tags/views/TagMachines/TagMachines.tsx
  src/testing/factories/state.ts
Labels: Review: Code +1, Review: QA +1, Backport 3.3 ◀️

#4714 fix: contextual menu hidden
  src/scss/_vanilla-overrides.scss
Labels: Review: Code +1, Review: QA +1

#4716 feat: show image last sync time #1166
  package.json
  src/app/images/components/ImagesTable/ImagesTable.test.tsx
  src/app/images/components/ImagesTable/ImagesTable.tsx
  src/app/utils/time.test.ts
  src/app/utils/time.ts
  yarn.lock
Labels: Review: Code +1, Review: QA +1, Maintenance 🔨

#4722 fix: set pool with machine filter - 3.3 backport (#4719)
  cypress/e2e/with-users/machines/actions.spec.ts
  src/app/base/components/node/SetZoneForm/SetZoneForm.tsx
  src/app/base/hooks/node.ts
  src/app/base/sagas/actions.test.ts
  src/app/base/sagas/actions.ts
  src/app/machines/components/MachineHeaderForms/MachineActionFormWrapper/SetPoolForm/SetPoolForm.tsx
  src/app/store/machine/slice.ts
  src/app/store/machine/types/actions.ts
  src/app/store/machine/utils/hooks.ts
  src/app/store/resourcepool/types/actions.ts
  src/app/utils/kebabToCamelCase.ts
Labels: Review: Code +1, Backport 3.3 ◀️

#4720 fix: add `sudo` to config command to enable root permissions
  src/app/settings/views/Security/SecurityProtocols/TLSDisabled/TLSDisabled.tsx
Labels: Priority: Low, Review: Code +1, Review: QA +1, Bug 🐛
