Repository canonical/maas-ui, pull requests merged in 2023-09, with the labels that each got.

#5132 test(SSHKeyForm): add waitFor store actions
  src/app/base/components/SSHKeyForm/SSHKeyForm.test.tsx
Labels: Review: Code +1

#5133 fix: restore websocket connection on error lp#1930001
  src/app/App.test.tsx
  src/app/App.tsx
  src/app/base/sagas/websockets/websockets.test.ts
  src/app/base/sagas/websockets/websockets.ts
  src/app/store/status/reducers.test.ts
  src/app/store/status/slice.ts
  src/root-reducer.test.ts
  src/root-reducer.ts
  src/websocket-client.test.ts
  src/websocket-client.ts
Labels: Review: Code +1, Review: QA +1

#5138 fix: restore websocket on error lp#1930001 (#5133)
  src/app/App.test.tsx
  src/app/App.tsx
  src/app/base/sagas/websockets.test.ts
  src/app/base/sagas/websockets.ts
  src/app/store/status/reducers.test.ts
  src/app/store/status/slice.ts
  src/root-reducer.test.ts
  src/root-reducer.ts
  src/websocket-client.test.ts
  src/websocket-client.ts
Labels: Review: Code +1, Backport 3.4 :arrow_backward:

#5142 test: docs links test install command #5141
  .github/workflows/links-checker.yml
Labels: Review: Code +1

#5136 fix: disallow storage layout update for allocated machines lp#1928623
  src/app/machines/views/MachineDetails/MachineStorage/MachineStorage.test.tsx
  src/app/machines/views/MachineDetails/MachineStorage/StorageNotifications/StorageNotifications.test.tsx
  src/app/machines/views/MachineDetails/MachineStorage/StorageNotifications/StorageNotifications.tsx
  src/app/store/utils/node/storage.test.ts
  src/app/store/utils/node/storage.ts
Labels: Review: Code +1, Review: QA +1

#5145 feat(docs): proxy local docs do MAAS
  cypress/e2e/no-users/local-docs.spec.ts
  scripts/proxy.js
Labels: Review: Code +1, Review: QA +1

#5131 fix(machines): Workload annotation filtering lp2023633
  src/app/machines/views/MachineList/MachineListControls/MachinesFilterAccordion/MachinesFilterOptions/MachinesFilterOptions.test.tsx
  src/app/machines/views/MachineList/MachineListControls/MachinesFilterAccordion/MachinesFilterOptions/MachinesFilterOptions.tsx
  src/app/machines/views/Machines.test.tsx
  src/app/store/machine/selectors.ts
Labels: Review: Code +1, Review: QA +1

#5146 fix(websockets): refetch on reconnect MAASENG-2142
  src/app/App.tsx
  src/app/base/hooks/dataFetching.ts
  src/app/base/sagas/websockets/websockets.test.ts
  src/app/base/sagas/websockets/websockets.ts
  src/app/store/machine/reducers.test.ts
  src/app/store/machine/slice.ts
  src/app/store/status/reducers.test.ts
  src/app/store/status/selectors.ts
  src/app/store/status/slice.ts
  src/app/store/status/types/base.ts
  src/testing/factories/state.ts
Labels: Review: Code +1, Review: QA +1

#5150 fix(machines): Workload annotation filtering lp2023633 (#5131) 3.4 backport
  src/app/machines/views/MachineList/MachineListControls/MachinesFilterAccordion/MachinesFilterOptions/MachinesFilterOptions.test.tsx
  src/app/machines/views/MachineList/MachineListControls/MachinesFilterAccordion/MachinesFilterOptions/MachinesFilterOptions.tsx
  src/app/machines/views/Machines.test.tsx
  src/app/store/machine/selectors.ts
Labels: Review: Code +1, Backport 3.4 :arrow_backward:

#5151 fix(lxd): Code snippet horizontal scrolling in certificate MAASENG-2145
  src/app/base/components/CertificateDownload/CertificateDownload.tsx
Labels: Review: Code +1, Review: QA +1

#5139 MAASENG-1173 allow soft stop power mode
  cypress/e2e/with-users/machines/actions.spec.ts
  src/app/base/components/NodeActionMenuGroup/NodeActionMenuGroup.tsx
  src/app/base/components/node/FieldlessForm/FieldlessForm.tsx
  src/app/base/components/node/PowerOffForm/PowerOffForm.test.tsx
  src/app/base/components/node/PowerOffForm/PowerOffForm.tsx
  src/app/base/components/node/PowerOffForm/index.ts
  src/app/machines/components/MachineForms/MachineActionFormWrapper/MachineActionFormWrapper.tsx
  src/app/machines/constants.ts
  src/app/machines/views/MachineList/MachineListTable/PowerColumn/PowerColumn.tsx
  src/app/store/machine/constants.ts
  src/app/store/machine/reducers.test.ts
  src/app/store/machine/slice.ts
  src/app/store/types/node.ts
  src/app/store/utils/node/base.ts
Labels: Review: QA +1, Review: Code +1 (with changes)

#5152 fix(websocket): refetch on reconnect MAASENG-2142 (#5146) 3.4 backport
  .eslintrc.js
  src/app/App.tsx
  src/app/base/hooks/dataFetching.ts
  src/app/base/sagas/websockets.test.ts
  src/app/base/sagas/websockets.ts
  src/app/preferences/views/Preferences.test.tsx
  src/app/store/machine/reducers.test.ts
  src/app/store/machine/slice.ts
  src/app/store/status/reducers.test.ts
  src/app/store/status/selectors.ts
  src/app/store/status/slice.ts
  src/app/store/status/types/base.ts
  src/testing/factories/state.ts
Labels: Review: Code +1, Backport 3.4 :arrow_backward:

#5155 MAASENG-2147 add ephemeral indicator to machine list
  src/app/machines/views/MachineList/MachineListTable/StatusColumn/StatusColumn.test.tsx
  src/app/machines/views/MachineList/MachineListTable/StatusColumn/StatusColumn.tsx
  src/app/store/machine/types/base.ts
  src/app/utils/IsEphemerallyDeployed.ts
  src/app/utils/index.ts
  src/app/utils/isEphemerallyDeployed.test.ts
  src/testing/factories/nodes.ts
Labels: Review: Code +1, Review: QA +1

#5157 MAASENG-2148 machine details ephemeral indicator
  src/app/base/components/node/OverviewCard/MachineStatusCard/MachineStatusCard.test.tsx
  src/app/base/components/node/OverviewCard/MachineStatusCard/MachineStatusCard.tsx
Labels: Review: Code +1, Review: QA +1

#5156 docs: Update HACKING.md
  docs/HACKING.md
Labels: Review: Code +1

#5159 rename AllDropdown test file
  src/app/machines/views/MachineList/MachineListTable/AllCheckbox/AllDropdown/AllDropdown.test.tsx
Labels: Review: Code +1

#5158 feat(machines): Add "Deployment target" to deploy form MAASENG-2159
  src/app/machines/components/MachineForms/MachineActionFormWrapper/DeployForm/DeployForm.test.tsx
  src/app/machines/components/MachineForms/MachineActionFormWrapper/DeployForm/DeployForm.tsx
  src/app/machines/components/MachineForms/MachineActionFormWrapper/DeployForm/DeployFormFields/DeployFormFields.test.tsx
  src/app/machines/components/MachineForms/MachineActionFormWrapper/DeployForm/DeployFormFields/DeployFormFields.tsx
  src/app/store/machine/actions.test.ts
  src/app/store/machine/types/actions.ts
  src/app/store/utils/node/base.ts
Labels: Review: QA needed, Review: Code +1

#5149 feat(vlans): Include subnet_ids on VLAN type and use where valid lp#1959648
  src/app/store/vlan/types/base.ts
  src/app/subnets/views/SubnetsList/SubnetsTable/utils.test.tsx
  src/app/subnets/views/SubnetsList/SubnetsTable/utils.tsx
  src/app/subnets/views/VLANDetails/DHCPStatus/DHCPStatus.test.tsx
  src/app/subnets/views/VLANDetails/DHCPStatus/DHCPStatus.tsx
  src/app/subnets/views/VLANDetails/VLANDetails.tsx
  src/app/subnets/views/VLANDetails/VLANSubnets/VLANSubnets.test.tsx
  src/testing/factories/vlan.ts
Labels: Review: QA +1, Review: Code +1 (with changes)

#5164 Fix soft power button text
  cypress/e2e/with-users/machines/actions.spec.ts
  src/app/base/components/node/PowerOffForm/PowerOffForm.test.tsx
  src/app/base/components/node/PowerOffForm/PowerOffForm.tsx
  src/app/store/utils/node/base.ts
Labels: Review: Code +1

#5166 docs: Add sitespeed.io badge to README.md
  README.md
Labels: Review: Code +1

#5162 docs: add storybook
  .eslintrc.js
  .storybook/maas-theme.ts
  .storybook/main.ts
  .storybook/manager.ts
  .storybook/preview-head.html
  .storybook/preview.tsx
  docs/HACKING.md
  package.json
  src/app/base/components/AppSideNavigation/AppSideNavigation.stories.tsx
  src/app/base/components/AppSideNavigation/AppSideNavigation.tsx
  src/app/base/components/Meter/Meter.stories.tsx
  src/app/base/components/TooltipButton/TooltipButton.stories.tsx
  src/app/base/components/TooltipButton/TooltipButton.tsx
  src/app/machines/components/MachineForms/MachineActionFormWrapper/MachineActionFormWrapper.stories.tsx
  src/app/machines/components/MachineForms/MachineActionFormWrapper/MachineActionFormWrapper.tsx
  src/app/machines/views/Machines.test.tsx
  src/index.tsx
  yarn.lock
Labels: Review: Code +1, Review: QA +1, Maintenance 🔨

#5165 test: update sitespeed scripts
  .github/workflows/sitespeed.yml
  package.json
  sitespeed.io/scripts/machines.js
Labels: Review: Code needed, Review: QA needed, Maintenance 🔨

#5163 MAASENG-2150 implement filtering by deployment target
  cypress/e2e/with-users/machines/list.spec.ts
  src/app/machines/views/MachineList/MachineListControls/MachinesFilterAccordion/MachinesFilterAccordion.tsx
  src/app/store/machine/types/base.ts
Labels: Review: QA +1, Review: Code +1 (with changes)

#5168 docs: add story for MachineActionMenu
  src/app/machines/views/MachineList/MachineListControls/MachineActionMenu/MachineActionMenu.stories.tsx
  src/app/machines/views/MachineList/MachineListControls/MachineActionMenu/MachineActionMenu.tsx
  src/app/machines/views/MachineList/MachineListControls/MachineActionMenu/index.ts
  src/app/machines/views/MachineList/MachineListControls/MachineListControls.tsx
Labels: Review: QA +1, Review: Code +1 (with changes)

#5170 chore(ci): Create issue on sitespeed failure MAASENG-2176
  .github/ISSUE_TEMPLATE/accessibility-failure.md
  .github/ISSUE_TEMPLATE/ci-failure.md
  .github/ISSUE_TEMPLATE/cypress-failure.md
  .github/ISSUE_TEMPLATE/maas-io-docs-failed.md
  .github/ISSUE_TEMPLATE/upload-failure.md
  .github/workflows/accessibility.yml
  .github/workflows/cypress.yml
  .github/workflows/links-checker.yml
  .github/workflows/sitespeed.yml
  .github/workflows/upload.yml
Labels: Review: Code +1

#5174 chore(ci): Create issue on sitespeed failure MAASENG-2176
  .github/ISSUE_TEMPLATE/accessibility-failure.md
  .github/ISSUE_TEMPLATE/ci-failure.md
  .github/ISSUE_TEMPLATE/cypress-failure.md
  .github/ISSUE_TEMPLATE/maas-io-docs-failed.md
  .github/ISSUE_TEMPLATE/upload-failure.md
  .github/workflows/accessibility.yml
  .github/workflows/cypress.yml
  .github/workflows/links-checker.yml
  .github/workflows/sitespeed.yml
  .github/workflows/upload.yml
Labels: Review: Code needed, Backport 3.4 :arrow_backward:

#5180 fix MAAS docs link checker tests
  cypress/support/e2e.ts
Labels: Review: Code needed

#5176 docs: machine list requests MAASENG-1906
  docs/MAASUI.md
Labels: Review: Code +1, Review: QA +1

#5181 fix: update VLANs on subnet/createNotify
  src/app/store/vlan/reducers.test.ts
  src/app/store/vlan/slice.ts
Labels: Review: Code +1, Review: QA +1
