Repository canonical/maas-ui, pull requests merged in 2023-06, with the labels that each got.

#4939 test: Migrate 4 KVM/views tests to RTL MAASENG-1744
  src/app/kvm/views/LXDClusterDetails/LXDClusterHosts/LXDClusterHostsTable/LXDClusterHostsTable.test.tsx
  src/app/kvm/views/LXDClusterDetails/LXDClusterVMs/LXDClusterVMs.test.tsx
  src/app/kvm/views/LXDSingleDetails/LXDSingleSettings/AuthenticationCard/UpdateCertificate/UpdateCertificate.test.tsx
  src/app/kvm/views/VirshDetails/VirshDetailsHeader/VirshDetailsHeader.test.tsx
Labels: Review: Code +1, WTD

#4951 test: Migrate 3 small Devices tests to RTL MAASENG-1740
  src/app/devices/views/DeviceList/DeviceList.test.tsx
  src/app/devices/views/DeviceList/DeviceListControls/DeviceFilterAccordion/DeviceFilterAccordion.test.tsx
  src/app/devices/views/DeviceList/DeviceListControls/DeviceListControls.test.tsx
Labels: Review: Code +1, WTD

#4947 test: Migrate 7 KVMHeaderForms to RTL MAASENG-1731
  src/app/base/components/Stepper/Stepper.tsx
  src/app/kvm/components/KVMHeaderForms/AddLxd/AddLxd.test.tsx
  src/app/kvm/components/KVMHeaderForms/AddLxd/AuthenticationForm/AuthenticationForm.tsx
  src/app/kvm/components/KVMHeaderForms/AddLxd/CredentialsForm/CredentialsForm.tsx
  src/app/kvm/components/KVMHeaderForms/AddLxd/SelectProjectForm/SelectProjectForm.test.tsx
  src/app/kvm/components/KVMHeaderForms/AddLxd/SelectProjectForm/SelectProjectForm.tsx
  src/app/kvm/components/KVMHeaderForms/AddLxd/SelectProjectForm/SelectProjectFormFields/SelectProjectFormFields.test.tsx
  src/app/kvm/components/KVMHeaderForms/AddLxd/SelectProjectForm/SelectProjectFormFields/SelectProjectFormFields.tsx
  src/app/kvm/components/KVMHeaderForms/AddVirsh/AddVirsh.test.tsx
  src/app/kvm/components/KVMHeaderForms/ComposeForm/InterfacesTable/SubnetSelect/SubnetSelect.test.tsx
  src/app/kvm/components/KVMHeaderForms/ComposeForm/StorageTable/PoolSelect/PoolSelect.test.tsx
  src/app/kvm/components/KVMHeaderForms/ComposeForm/StorageTable/PoolSelect/PoolSelect.tsx
  src/app/kvm/components/KVMHeaderForms/KVMHeaderForms.test.tsx
Labels: Review: Code +1 (with changes), WTD

#4945 test: Migrate 5 KVM components to RTL MAASENG-1739
  src/app/kvm/components/KVMConfigurationCard/KVMConfigurationCardFields/KVMConfigurationCardFields.test.tsx
  src/app/kvm/components/KVMConfigurationCard/KVMConfigurationCardFields/KVMConfigurationCardFields.tsx
  src/app/kvm/components/KVMStorageCards/KVMStorageCards.test.tsx
  src/app/kvm/components/LXDHostVMs/LXDHostVMs.test.tsx
  src/app/kvm/components/LXDHostVMs/NumaResources/NumaResourcesCard/NumaResourcesCard.test.tsx
  src/app/kvm/components/RAMColumn/RAMColumn.test.tsx
Labels: Review: Code +1, WTD

#4950 test: Migrate 5 MachineHeaderForms tests to RTL MAASENG-1735
  src/app/machines/components/MachineHeaderForms/AddChassis/AddChassisFormFields/AddChassisFormFields.test.tsx
  src/app/machines/components/MachineHeaderForms/MachineActionFormWrapper/CloneForm/CloneFormFields/CloneStorageTable/CloneStorageTable.test.tsx
  src/app/machines/components/MachineHeaderForms/MachineActionFormWrapper/CloneForm/CloneFormFields/CloneStorageTable/CloneStorageTable.tsx
  src/app/machines/components/MachineHeaderForms/MachineActionFormWrapper/CommissionForm/CommissionFormFields/CommissionFormFields.test.tsx
  src/app/machines/components/MachineHeaderForms/MachineActionFormWrapper/MarkBrokenForm/MarkBrokenForm.test.tsx
  src/app/machines/components/MachineHeaderForms/MachineActionFormWrapper/SetPoolForm/SetPoolFormFields/SetPoolFormFields.test.tsx
Labels: Review: Code +1 (with changes), WTD

#4944 1746 migrate kvm header forms rtl
  src/app/kvm/components/KVMHeaderForms/AddVirsh/AddVirshFields/AddVirshFields.test.tsx
  src/app/kvm/components/KVMHeaderForms/RefreshForm/RefreshForm.test.tsx
Labels: Review: Code +1 (with changes)

#4943 test: Migrate 8 MachineHeaderForms test to RTL MAASENG-1730
  src/app/machines/components/MachineHeaderForms/AddChassis/AddChassisForm/AddChassisForm.test.tsx
  src/app/machines/components/MachineHeaderForms/AddMachine/AddMachineFormFields/AddMachineFormFields.test.tsx
  src/app/machines/components/MachineHeaderForms/MachineActionFormWrapper/CloneForm/CloneForm.test.tsx
  src/app/machines/components/MachineHeaderForms/MachineActionFormWrapper/CloneForm/CloneFormFields/CloneFormFields.test.tsx
  src/app/machines/components/MachineHeaderForms/MachineActionFormWrapper/CloneForm/CloneFormFields/CloneNetworkTable/CloneNetworkTable.test.tsx
  src/app/machines/components/MachineHeaderForms/MachineActionFormWrapper/CloneForm/CloneFormFields/CloneNetworkTable/CloneNetworkTable.tsx
  src/app/machines/components/MachineHeaderForms/MachineActionFormWrapper/CommissionForm/CommissionForm.test.tsx
  src/app/machines/components/MachineHeaderForms/MachineActionFormWrapper/CommissionForm/CommissionFormFields/CommissionFormFields.tsx
  src/app/machines/components/MachineHeaderForms/MachineActionFormWrapper/ReleaseForm/ReleaseForm.test.tsx
  src/app/machines/components/MachineHeaderForms/MachineActionFormWrapper/SetPoolForm/SetPoolForm.test.tsx
Labels: Review: Code +1, WTD

#4949 test: Migrate 4 small MachineList tests to RTL MAASENG-1734
  src/app/base/components/NodeSummaryNetworkCard/NetworkCardTable/NetworkCardTable.test.tsx
  src/app/base/components/ScriptStatus/ScriptStatus.tsx
  src/app/base/components/TooltipButton/TooltipButton.test.tsx
  src/app/base/components/TooltipButton/TooltipButton.tsx
  src/app/base/components/TooltipButton/__snapshots__/TooltipButton.test.tsx.snap
  src/app/images/components/UbuntuImageSelect/ArchSelect/ArchSelect.test.tsx
  src/app/images/views/ImageList/ImageListHeader/ImageListHeader.test.tsx
  src/app/machines/views/MachineDetails/MachineNetwork/NetworkTable/NetworkTableActions/NetworkTableActions.test.tsx
  src/app/machines/views/MachineList/MachineListTable/CoresColumn/CoresColumn.test.tsx
  src/app/machines/views/MachineList/MachineListTable/CoresColumn/__snapshots__/CoresColumn.test.tsx.snap
  src/app/machines/views/MachineList/MachineListTable/DisksColumn/DisksColumn.test.tsx
  src/app/machines/views/MachineList/MachineListTable/DisksColumn/__snapshots__/DisksColumn.test.tsx.snap
  src/app/machines/views/MachineList/MachineListTable/FabricColumn/FabricColumn.test.tsx
  src/app/machines/views/MachineList/MachineListTable/FabricColumn/__snapshots__/FabricColumn.test.tsx.snap
  src/app/machines/views/MachineList/MachineListTable/RamColumn/RamColumn.test.tsx
  src/app/machines/views/MachineList/MachineListTable/RamColumn/__snapshots__/RamColumn.test.tsx.snap
  src/app/subnets/views/SubnetDetails/SubnetSummary/SubnetSummaryForm/SubnetSummaryForm.test.tsx
Labels: Review: Code +1, WTD

#4954 chore: remove enzyme MAASENG-1801
  docs/HACKING.md
  package.json
  src/app/machines/views/MachineList/MachineListTable/StatusColumn/StatusColumn.test.tsx
  src/setupTests.ts
  src/testing/utils.tsx
  yarn.lock
Labels: Review: Code +1, Maintenance 🔨

#4955 chore: upgrade to react v18 MAASENG-1800
  package.json
  src/app/base/components/DebounceSearchBox/DebounceSearchBox.test.tsx
  src/app/base/components/node/NodeLogs/hooks.test.tsx
  src/app/base/hooks/base.test.tsx
  src/app/base/hooks/intro.test.tsx
  src/app/base/hooks/node-networking.test.tsx
  src/app/base/hooks/node.test.tsx
  src/app/base/hooks/urls.test.tsx
  src/app/devices/views/DeviceDetails/DeviceConfiguration/DeviceConfiguration.test.tsx
  src/app/intro/hooks.test.tsx
  src/app/intro/views/MaasIntro/ConnectivityCard/ConnectivityCard.test.tsx
  src/app/intro/views/MaasIntro/NameCard/NameCard.test.tsx
  src/app/kvm/components/KVMHeaderForms/AddLxd/AddLxd.test.tsx
  src/app/kvm/hooks.test.tsx
  src/app/machines/components/MachineHeaderForms/MachineActionFormWrapper/CloneForm/CloneFormFields/CloneFormFields.test.tsx
  src/app/machines/components/MachineHeaderForms/MachineActionFormWrapper/TagForm/TagFormFields/TagFormFields.test.tsx
  src/app/machines/components/MachineHeaderForms/MachineActionFormWrapper/TagForm/hooks.test.tsx
  src/app/machines/hooks.test.tsx
  src/app/machines/views/Machines.test.tsx
  src/app/settings/hooks.test.tsx
  src/app/store/general/utils/hooks.test.tsx
  src/app/store/subnet/hooks.test.tsx
  src/app/subnets/views/VLANDetails/ConfigureDHCP/ConfigureDHCP.test.tsx
  src/index.tsx
  yarn.lock
Labels: Review: Code +1, Review: QA +1, Maintenance 🔨

#4956 ci: update test scripts
  .github/workflows/test.yml
  package.json
Labels: Review: Code +1, Maintenance 🔨

#4961 test: update sitespeed.io workflow
  sitespeed.io/login.js
  sitespeed.io/scripts/machines.js
Labels: Review: Code +1

#4965 create PageContent component MAASENG-1804
  src/app/App.test.tsx
  src/app/App.tsx
  src/app/Routes.tsx
  src/app/base/components/AppSidePanel/AppSidePanel.tsx
  src/app/base/components/AppSidePanel/index.ts
  src/app/base/components/NodeName/NodeName.test.tsx
  src/app/base/components/PageContent/PageContent.test.tsx
  src/app/base/components/PageContent/PageContent.tsx
  src/app/base/components/PageContent/index.ts
  src/app/base/components/SectionHeader/SectionHeader.tsx
  src/app/base/components/node/NodeDevices/NodeDevicesWarning/NodeDevicesWarning.test.tsx
  src/app/base/components/node/NodeDevices/NodeDevicesWarning/NodeDevicesWarning.tsx
  src/app/base/components/node/TestResults/TestResults.tsx
  src/app/base/side-panel-context.tsx
  src/app/kvm/components/KVMHeaderForms/KVMHeaderForms.test.tsx
  src/app/kvm/components/LXDVMsTable/VMsActionBar/VMsActionBar.tsx
  src/app/machines/components/MachineHeaderForms/MachineForms.tsx
  src/app/machines/components/MachineHeaderForms/index.ts
  src/app/machines/constants.ts
  src/app/machines/types.ts
  src/app/machines/utils.ts
  src/app/machines/views/MachineDetails/MachineHeader/MachineHeader.test.tsx
  src/app/machines/views/MachineDetails/MachineHeader/MachineHeader.tsx
  src/app/machines/views/MachineDetails/MachineNetwork/MachineNetworkActions/MachineNetworkActions.test.tsx
  src/app/machines/views/MachineDetails/MachineNetwork/MachineNetworkActions/MachineNetworkActions.tsx
  src/app/machines/views/MachineDetails/MachineSummary/TestResults/TestResults.tsx
  src/app/machines/views/MachineList/MachineListControls/MachineListControls.tsx
  src/app/machines/views/MachineList/MachineListHeader/AddHardwareMenu/AddHardwareMenu.tsx
  src/app/machines/views/MachineList/MachineListHeader/MachineListHeader.test.tsx
  src/app/machines/views/MachineList/MachineListHeader/MachineListHeader.tsx
  src/app/machines/views/Machines.test.tsx
  src/app/machines/views/Machines.tsx
  src/testing/utils.tsx
Labels: Review: Code +1, Review: QA +1

#4964 feat(machines): Add notification to show number of selected machines MAASENG-1355
  src/app/machines/views/MachineList/MachineListTable/MachineListDisplayCount/MachineListDisplayCount.tsx
  src/app/machines/views/MachineList/MachineListTable/MachineListSelectedCount/MachineListSelectedCount.test.tsx
  src/app/machines/views/MachineList/MachineListTable/MachineListSelectedCount/MachineListSelectedCount.tsx
  src/app/machines/views/MachineList/MachineListTable/MachineListSelectedCount/index.ts
  src/app/machines/views/MachineList/MachineListTable/MachineListTable.tsx
Labels: Review: Code needed, Review: QA needed

#4975 fix: sidepanel closing prematurely
  src/app/base/side-panel-context.tsx
Labels: Review: Code +1, Review: QA +1

#4972 refactor: rename selected state MAASENG-1837
  src/__snapshots__/root-reducer.test.ts.snap
  src/app/base/components/node/FieldlessForm/FieldlessForm.test.tsx
  src/app/kvm/components/KVMHeaderForms/AddLxd/AddLxd.test.tsx
  src/app/kvm/components/KVMHeaderForms/KVMHeaderForms.test.tsx
  src/app/kvm/components/KVMHeaderForms/KVMHeaderForms.tsx
  src/app/kvm/components/LXDVMsTable/LXDVMsTable.test.tsx
  src/app/kvm/components/LXDVMsTable/LXDVMsTable.tsx
  src/app/kvm/components/LXDVMsTable/VMsActionBar/VMsActionBar.test.tsx
  src/app/kvm/components/LXDVMsTable/VMsTable/VMsTable.test.tsx
  src/app/machines/components/MachineHeaderForms/MachineActionFormWrapper/CloneForm/CloneForm.test.tsx
  src/app/machines/components/MachineHeaderForms/MachineActionFormWrapper/MachineActionFormWrapper.test.tsx
  src/app/machines/components/MachineHeaderForms/MachineActionFormWrapper/MachineActionFormWrapper.tsx
  src/app/machines/components/MachineHeaderForms/MachineActionFormWrapper/ReleaseForm/ReleaseForm.test.tsx
  src/app/machines/components/TableCheckbox/TableCheckbox.test.tsx
  src/app/machines/components/TableCheckbox/TableCheckbox.tsx
  src/app/machines/views/MachineDetails/MachineNetwork/AddBridgeForm/AddBridgeForm.test.tsx
  src/app/machines/views/MachineDetails/MachineNetwork/AddInterface/AddInterface.test.tsx
  src/app/machines/views/MachineDetails/MachineNetwork/EditBridgeForm/EditBridgeForm.test.tsx
  src/app/machines/views/MachineList/MachineList.test.tsx
  src/app/machines/views/MachineList/MachineList.tsx
  src/app/machines/views/MachineList/MachineListControls/MachineListControls.test.tsx
  src/app/machines/views/MachineList/MachineListControls/MachineListControls.tsx
  src/app/machines/views/MachineList/MachineListHeader/MachineListHeader.test.tsx
  src/app/machines/views/MachineList/MachineListHeader/MachineListHeader.tsx
  src/app/machines/views/MachineList/MachineListTable/AllCheckbox/AllCheckbox.test.tsx
  src/app/machines/views/MachineList/MachineListTable/AllCheckbox/AllCheckbox.tsx
  src/app/machines/views/MachineList/MachineListTable/GroupCheckbox/GroupCheckbox.test.tsx
  src/app/machines/views/MachineList/MachineListTable/GroupCheckbox/GroupCheckbox.tsx
  src/app/machines/views/MachineList/MachineListTable/MachineCheckbox/MachineCheckbox.test.tsx
  src/app/machines/views/MachineList/MachineListTable/MachineCheckbox/MachineCheckbox.tsx
  src/app/machines/views/MachineList/MachineListTable/MachineListSelectedCount/MachineListSelectedCount.test.tsx
  src/app/machines/views/MachineList/MachineListTable/MachineListSelectedCount/MachineListSelectedCount.tsx
  src/app/machines/views/Machines.tsx
  src/app/store/machine/actions.test.ts
  src/app/store/machine/reducers.test.ts
  src/app/store/machine/selectors.test.ts
  src/app/store/machine/selectors.ts
  src/app/store/machine/slice.ts
  src/app/store/machine/types/base.ts
  src/app/store/machine/utils/hooks.test.tsx
  src/app/store/machine/utils/hooks.ts
  src/globals.d.ts
  src/setupTests.ts
  src/testing/factories/state.ts
  src/testing/utils.tsx
Labels: Review: Code +1, Review: QA +1

#4976 chore: Refactor ZoneDetails to use PageContent MAASENG-1830
  src/app/Routes.tsx
  src/app/zones/views/ZoneDetails/ZoneDetails.tsx
Labels: Review: Code needed

#4974 chore: Refactor ZonesList to use PageContent MAASENG-1831
  src/app/Routes.tsx
  src/app/zones/constants.ts
  src/app/zones/views/ZonesList/ZonesList.test.tsx
  src/app/zones/views/ZonesList/ZonesList.tsx
  src/app/zones/views/ZonesList/ZonesListHeader/ZonesListHeader.test.tsx
  src/app/zones/views/ZonesList/ZonesListHeader/ZonesListHeader.tsx
Labels: Review: QA +1, Review: Code +1 (with changes)

#4977 chore: Refactor Dashboard to use PageContent MAASENG-1809
  src/app/Routes.tsx
  src/app/dashboard/views/Dashboard.tsx
  src/app/dashboard/views/DashboardHeader/DashboardHeader.test.tsx
  src/app/dashboard/views/DashboardHeader/DashboardHeader.tsx
Labels: Review: Code needed, Review: QA needed

#4979 chore: Refactor DomainDetails to use PageContent MAASENG-1811
  src/app/Routes.tsx
  src/app/base/side-panel-context.tsx
  src/app/domains/views/DomainDetails/DomainDetails.tsx
  src/app/domains/views/DomainDetails/DomainDetailsHeader/DomainDetailsHeader.test.tsx
  src/app/domains/views/DomainDetails/DomainDetailsHeader/DomainDetailsHeader.tsx
  src/app/domains/views/DomainDetails/constants.ts
Labels: Review: Code +1, Review: QA +1

#4981 chore: Refactor DomainsList to use PageContent MAASENG-1812
  src/app/Routes.tsx
  src/app/domains/views/DomainsList/DomainListHeader/DomainListHeader.test.tsx
  src/app/domains/views/DomainsList/DomainListHeader/DomainListHeader.tsx
  src/app/domains/views/DomainsList/DomainsList.test.tsx
  src/app/domains/views/DomainsList/DomainsList.tsx
Labels: Review: Code +1, Review: QA +1

#4970 Fix: remove lock and unlock dialog on machine details page
  src/app/base/components/NodeName/NodeName.test.tsx
  src/app/machines/views/MachineDetails/MachineHeader/MachineHeader.test.tsx
  src/app/machines/views/MachineDetails/MachineHeader/MachineHeader.tsx
Labels: Review: Code +1, Review: QA +1

#4988 chore: Refactor FabricDetails to use PageContent MAASENG-1824
  src/app/Routes.tsx
  src/app/subnets/views/FabricDetails/FabricDetails.test.tsx
  src/app/subnets/views/FabricDetails/FabricDetails.tsx
  src/app/subnets/views/FabricDetails/FabricDetailsHeader/FabricDetailsHeader.test.tsx
  src/app/subnets/views/FabricDetails/FabricDetailsHeader/FabricDetailsHeader.tsx
Labels: Review: Code +1, Review: QA +1

#4973 1806 refactor controller details using page component
  src/app/Routes.tsx
  src/app/controllers/components/ControllerForms/AddController/AddController.test.tsx
  src/app/controllers/components/ControllerForms/AddController/AddController.tsx
  src/app/controllers/components/ControllerForms/AddController/index.ts
  src/app/controllers/components/ControllerForms/ControllerActionFormWrapper/ControllerActionFormWrapper.test.tsx
  src/app/controllers/components/ControllerForms/ControllerActionFormWrapper/ControllerActionFormWrapper.tsx
  src/app/controllers/components/ControllerForms/ControllerActionFormWrapper/index.ts
  src/app/controllers/components/ControllerForms/ControllerForms.test.tsx
  src/app/controllers/components/ControllerForms/ControllerForms.tsx
  src/app/controllers/components/ControllerForms/index.ts
  src/app/controllers/components/ControllerHeaderForms/index.ts
  src/app/controllers/constants.ts
  src/app/controllers/types.ts
  src/app/controllers/utils.ts
  src/app/controllers/views/ControllerDetails/ControllerDetails.tsx
  src/app/controllers/views/ControllerDetails/ControllerDetailsHeader/ControllerDetailsHeader.test.tsx
  src/app/controllers/views/ControllerDetails/ControllerDetailsHeader/ControllerDetailsHeader.tsx
  src/app/controllers/views/ControllerList/ControllerListHeader/ControllerListHeader.test.tsx
  src/app/controllers/views/ControllerList/ControllerListHeader/ControllerListHeader.tsx
  src/app/machines/views/MachineList/MachineListTable/MachineListTable.test.tsx
  src/app/machines/views/MachineList/MachineListTable/NameColumn/NameColumn.test.tsx
Labels: Review: Code +1, Review: QA +1

#4993 docs: expand redux saga readme section
  README.md
  docs/MAASUI.md
  src/app/base/sagas/websockets.ts
Labels: Review: Code needed

#4992 release v3.4.0
  .github/workflows/playwright.yml
  .github/workflows/test.yml
Labels: Review: Code +1

#4994 fix: machine list in sync with URL MAASENG-1836
  cypress/e2e/with-users/machines/list.spec.ts
  src/app/machines/views/Machines.tsx
Labels: Review: Code +1, Review: QA +1

#4986 chore: Refactor Pools to use PageContent MAASENG-1821
  src/app/Routes.tsx
  src/app/pools/views/Pools.tsx
Labels: Review: Code +1

#4982 chore: Refactor Preferences to use PageContent MAASENG-1822
  src/app/Routes.tsx
  src/app/preferences/views/Preferences.test.tsx
  src/app/preferences/views/Preferences.tsx
Labels: Review: Code +1

#4983 chore: Refactor ImageList to use PageContent
  src/app/Routes.tsx
  src/app/images/views/ImageList/ImageList.tsx
Labels: Review: Code +1

#4984 chore: Refactor Intro and IntroSection to use PageContent MAASENG-1814 & MAASENG-1815
  src/app/Routes.tsx
  src/app/intro/components/IntroSection/IntroSection.tsx
  src/app/intro/views/Intro.tsx
Labels: Review: Code +1

#4987 chore: Refactor Settings to use PageContent MAASENG-1823
  src/app/Routes.tsx
  src/app/settings/views/Settings.tsx
Labels: Review: Code +1

#4990 chore: Refactor SpaceDetails to use PageContent MAASENG-1825
  src/app/Routes.tsx
  src/app/base/side-panel-context.tsx
  src/app/subnets/views/SpaceDetails/SpaceDetails.test.tsx
  src/app/subnets/views/SpaceDetails/SpaceDetails.tsx
  src/app/subnets/views/SpaceDetails/SpaceDetailsHeader/SpaceDetailsHeader.test.tsx
  src/app/subnets/views/SpaceDetails/SpaceDetailsHeader/SpaceDetailsHeader.tsx
  src/app/subnets/views/SpaceDetails/constants.ts
Labels: Review: Code +1, Review: QA +1

#4991 chore: Refactor Tags to use PageContent MAASENG-1829
  src/app/Routes.tsx
  src/app/tags/components/TagsHeader/TagForms/TagForms.test.tsx
  src/app/tags/components/TagsHeader/TagForms/TagForms.tsx
  src/app/tags/components/TagsHeader/TagForms/index.ts
  src/app/tags/components/TagsHeader/TagHeaderForms/TagHeaderForms.test.tsx
  src/app/tags/components/TagsHeader/TagHeaderForms/index.ts
  src/app/tags/components/TagsHeader/TagsHeader.test.tsx
  src/app/tags/components/TagsHeader/TagsHeader.tsx
  src/app/tags/constants.ts
  src/app/tags/types.ts
  src/app/tags/views/TagDetails/TagDetails.test.tsx
  src/app/tags/views/Tags.tsx
Labels: Review: Code +1, Review: QA +1

#4997 fix: subnets subtitle position
  src/app/subnets/views/SubnetsList/SubnetsList.tsx
Labels: Review: Code needed, Review: QA needed

#4999 Chore: MAASENG 1807 controller list page component refactor
  src/app/Routes.tsx
  src/app/controllers/views/ControllerList/ControllerList.tsx
  src/app/controllers/views/ControllerList/ControllerListHeader/ControllerListHeader.test.tsx
  src/app/controllers/views/ControllerList/ControllerListHeader/ControllerListHeader.tsx
Labels: Review: Code +1

#5000 Chore: MAASENG 1819 refactor virsh details page component
  src/app/kvm/components/KVMDetailsHeader/KVMDetailsHeader.test.tsx
  src/app/kvm/components/KVMDetailsHeader/KVMDetailsHeader.tsx
  src/app/kvm/views/VirshDetails/VirshDetails.tsx
  src/app/kvm/views/VirshDetails/VirshDetailsHeader/VirshDetailsHeader.tsx
Labels: Review: Code +1, Review: QA +1

#5002 Chore: MAASENG 1817 refactor lxd cluster details page component
  src/app/kvm/components/KVMDetailsHeader/KVMDetailsHeader.test.tsx
  src/app/kvm/views/LXDClusterDetails/LXDClusterDetails.tsx
  src/app/kvm/views/LXDClusterDetails/LXDClusterDetailsHeader/LXDClusterDetailsHeader.test.tsx
  src/app/kvm/views/LXDClusterDetails/LXDClusterDetailsHeader/LXDClusterDetailsHeader.tsx
Labels: Review: QA needed, Review: Code +1

#5006 chore: MAASENG 1818 refactor lxd single details page component
  src/app/kvm/views/LXDSingleDetails/LXDSingleDetails.tsx
  src/app/kvm/views/LXDSingleDetails/LXDSingleDetailsHeader/LXDSingleDetailsHeader.test.tsx
  src/app/kvm/views/LXDSingleDetails/LXDSingleDetailsHeader/LXDSingleDetailsHeader.tsx
Labels: Review: Code needed

#5004 refactor: subnet details MAASENG-1826
  src/app/Routes.tsx
  src/app/subnets/types.ts
  src/app/subnets/views/SubnetDetails/SubnetDetails.tsx
  src/app/subnets/views/SubnetDetails/SubnetDetailsHeader/SubnetDetailsHeader.tsx
  src/app/subnets/views/SubnetsList/SubnetsList.tsx
Labels: Review: Code needed, Review: QA needed

#5005 refactor: vlan details MAASENG-1828
  src/app/Routes.tsx
  src/app/subnets/views/VLANDetails/VLANDeleteForm/VLANDeleteForm.test.tsx
  src/app/subnets/views/VLANDetails/VLANDeleteForm/VLANDeleteForm.tsx
  src/app/subnets/views/VLANDetails/VLANDeleteForm/index.ts
  src/app/subnets/views/VLANDetails/VLANDetails.tsx
  src/app/subnets/views/VLANDetails/VLANDetailsHeader/VLANDetailsHeader.tsx
Labels: Review: Code needed, Review: QA needed

#5011 refactor: device list sidepanel
  src/app/Routes.tsx
  src/app/base/components/PageContent/PageContent.tsx
  src/app/base/views/NotFound/NotFound.tsx
  src/app/devices/views/DeviceList/DeviceList.tsx
  src/app/devices/views/DeviceList/DeviceListHeader/DeviceListHeader.tsx
Labels: Review: Code needed, Review: QA needed

#5012 refactor: redux store websocket handlers
  src/app/base/sagas/websockets.ts
  src/app/base/sagas/websockets/handlers/file-context-requests.ts
  src/app/base/sagas/websockets/handlers/loaded-endpoints.ts
  src/app/base/sagas/websockets/handlers/next-actions.ts
  src/app/base/sagas/websockets/handlers/polling-requests.ts
  src/app/base/sagas/websockets/handlers/unsubscribe.ts
  src/app/base/sagas/websockets/index.ts
  src/app/base/sagas/websockets/websockets.test.ts
  src/app/base/sagas/websockets/websockets.ts
  src/app/store/machine/constants.ts
  src/app/store/machine/index.ts
  src/app/store/machine/selectors.ts
  src/app/store/machine/slice.ts
  src/app/store/utils/slice.ts
Labels: Review: Code +1, Review: QA +1

#5001 chore: update typescript to 5.1.3
  package.json
  yarn.lock
Labels: Review: Code +1, Maintenance 🔨

#5014 update to next expected version 3.5.0
  .env
  package.json
Labels: Review: Code +1, Maintenance 🔨

#5013 refactor: machine slice on deleteNotify
  src/app/store/machine/reducers.test.ts
  src/app/store/machine/slice.ts
Labels: Review: Code +1, Review: QA +1

#5018 fix: machine delete notify backport 3.4 lp#2023138
  src/app/store/machine/reducers.test.ts
  src/app/store/machine/slice.ts
Labels: Review: Code +1, Backport 3.4 :arrow_backward:

#5016 refactor: update base machine testing status type
  src/app/store/machine/types/base.ts
Labels: Review: Code +1

#5017 refactor: update machine lists on machine.updateNotify MAASENG-1860
  package.json
  src/app/machines/views/MachineList/MachineList.tsx
  src/app/machines/views/MachineList/MachineListControls/GroupSelect/GroupSelect.tsx
  src/app/store/machine/reducers.test.ts
  src/app/store/machine/selectors.ts
  src/app/store/machine/slice.ts
  src/app/store/machine/types/actions.ts
  src/app/store/machine/types/base.ts
  src/app/store/machine/utils/common.test.ts
  src/app/store/machine/utils/common.ts
  src/app/store/machine/utils/createMachineListGroup.test.ts
  src/app/store/machine/utils/createMachineListGroup.ts
  src/app/store/machine/utils/hooks.test.tsx
  src/app/store/machine/utils/hooks.ts
  src/app/store/machine/utils/index.ts
  src/testing/factories/nodes.ts
  src/testing/factories/state.ts
  yarn.lock
Labels: Review: Code +1, Review: QA +1, Maintenance 🔨

#5023 test: disable no-multi-comp eslint rule
  .eslintrc.js
  src/app/base/components/AppSideNavigation/AppSideNavItems/AppSideNavItems.tsx
  src/app/base/components/Meter/Meter.tsx
  src/app/base/components/NodeName/NodeNameFields/NodeNameFields.tsx
  src/app/base/components/SecondaryNavigation/SecondaryNavigation.tsx
  src/app/base/components/TitledSection/TitledSection.tsx
  src/app/controllers/views/ControllerDetails/ControllerVLANs/ControllerVLANsTable/ControllerVLANsTable.tsx
  src/app/machines/components/MachineForms/MachineActionFormWrapper/OverrideTestForm/OverrideTestForm.tsx
  src/app/machines/components/MachineForms/MachineActionFormWrapper/TagForm/TagFormChanges/TagFormChanges.tsx
  src/app/machines/views/MachineList/MachineListTable/StatusColumn/StatusColumn.tsx
  src/app/preferences/views/SSLKeys/AddSSLKey/AddSSLKey.tsx
  src/app/subnets/views/FormActions/components/AddSubnet.tsx
  src/app/subnets/views/SubnetsList/SubnetsTable/components.tsx
  src/app/subnets/views/VLANDetails/VLANDetailsHeader/VLANDetailsHeader.tsx
  src/testing/utils.tsx
Labels: Review: Code +1

#5024 feat: fetch machine group counts MAASENG-1882
  src/app/machines/views/MachineList/MachineList.test.tsx
  src/app/machines/views/MachineList/MachineListTable/MachineListGroupCount/MachineListGroupCount.test.tsx
  src/app/machines/views/MachineList/MachineListTable/MachineListGroupCount/MachineListGroupCount.tsx
  src/app/machines/views/MachineList/MachineListTable/MachineListGroupCount/index.ts
  src/app/machines/views/MachineList/MachineListTable/MachineListTable.tsx
  src/app/store/machine/reducers.test.ts
  src/app/store/machine/slice.ts
  src/app/store/machine/types/base.ts
  src/testing/factories/state.ts
Labels: Review: Code +1, Review: QA +1

#5027 test: disable explicit boundary types
  .eslintrc.js
  src/app/store/utils/slice.ts
Labels: Review: Code +1

#5029 fix: machine list pagination lp#2025375
  src/app/machines/views/MachineList/MachineList.tsx
  src/app/machines/views/MachineList/MachineListTable/MachineListPagination/MachineListPagination.test.tsx
  src/app/machines/views/MachineList/MachineListTable/MachineListPagination/MachineListPagination.tsx
  src/app/machines/views/MachineList/MachineListTable/MachineListTable.tsx
  src/app/store/machine/selectors.ts
  src/app/store/machine/utils/hooks.ts
Labels: Review: Code +1, Review: QA +1

#5025 replace optional machine properties with null
  src/app/store/machine/types/base.ts
Labels: Review: Code +1

#5030 fix: machine list pagination (#5029) lp#2025375 3.4 backport
  src/app/machines/views/MachineList/MachineList.tsx
  src/app/machines/views/MachineList/MachineListTable/MachineListPagination/MachineListPagination.test.tsx
  src/app/machines/views/MachineList/MachineListTable/MachineListPagination/MachineListPagination.tsx
  src/app/machines/views/MachineList/MachineListTable/MachineListTable.tsx
  src/app/store/machine/selectors.ts
  src/app/store/machine/utils/hooks.ts
Labels: Review: Code +1, Backport 3.4 :arrow_backward:

#5031 fix: machine list pagination (#5029) 3.3 backport
  src/app/base/components/DhcpFormFields/MachineSelect/MachineSelectBox/MachineSelectBox.tsx
  src/app/base/components/Pagination/Pagination.test.tsx
  src/app/base/components/Pagination/Pagination.tsx
  src/app/base/components/Pagination/PaginationButton/PaginationButton.tsx
  src/app/base/components/Pagination/PaginationButton/index.ts
  src/app/base/components/Pagination/PaginationItem/PaginationItem.test.tsx
  src/app/base/components/Pagination/PaginationItem/PaginationItem.tsx
  src/app/base/components/Pagination/PaginationItem/__snapshots__/PaginationItem.test.tsx.snap
  src/app/base/components/Pagination/PaginationItem/index.ts
  src/app/base/components/Pagination/__snapshots__/Pagination.test.tsx.snap
  src/app/base/components/Pagination/index.ts
  src/app/kvm/components/VmResources/VmResources.tsx
  src/app/machines/components/MachineHeaderForms/MachineActionFormWrapper/CloneForm/CloneFormFields/SourceMachineSelect/SourceMachineSelect.tsx
  src/app/machines/views/MachineList/MachineList.tsx
  src/app/machines/views/MachineList/MachineListTable/MachineListPagination/MachineListPagination.test.tsx
  src/app/machines/views/MachineList/MachineListTable/MachineListPagination/MachineListPagination.tsx
  src/app/machines/views/MachineList/MachineListTable/MachineListTable.test.tsx
  src/app/machines/views/MachineList/MachineListTable/MachineListTable.tsx
  src/app/store/machine/selectors.ts
  src/app/store/machine/utils/hooks.ts
  src/app/tags/views/TagMachines/TagMachines.tsx
Labels: Review: Code +1, Review: QA +1, Backport 3.3 ◀️

#5028 refactor: machine request cache keys MAASENG-1905
  package.json
  src/app/base/components/DhcpFormFields/DhcpFormFields.test.tsx
  src/app/base/components/DhcpFormFields/MachineSelect/MachineSelectBox/MachineSelectBox.test.tsx
  src/app/base/components/node/MachinesHeader/MachinesHeader.test.tsx
  src/app/dashboard/views/DiscoveriesList/DiscoveriesList.test.tsx
  src/app/dashboard/views/DiscoveryAddForm/DiscoveryAddForm.test.tsx
  src/app/kvm/components/KVMResourcesCard/KVMResourcesCard.test.tsx
  src/app/kvm/components/LXDHostVMs/NumaResources/NumaResourcesCard/NumaResourcesCard.test.tsx
  src/app/kvm/components/LXDVMsTable/LXDVMsTable.test.tsx
  src/app/kvm/components/LXDVMsTable/VMsTable/VMsTable.test.tsx
  src/app/kvm/components/VmResources/VmResources.test.tsx
  src/app/kvm/views/LXDClusterDetails/LXDClusterVMs/LXDClusterVMs.test.tsx
  src/app/machines/components/MachineForms/MachineActionFormWrapper/CloneForm/CloneForm.test.tsx
  src/app/machines/components/MachineForms/MachineActionFormWrapper/CloneForm/CloneFormFields/CloneFormFields.test.tsx
  src/app/machines/components/MachineForms/MachineActionFormWrapper/CloneForm/CloneFormFields/SourceMachineSelect/SourceMachineSelect.test.tsx
  src/app/machines/components/MachineForms/MachineActionFormWrapper/TagForm/AddTagForm/AddTagForm.test.tsx
  src/app/machines/views/MachineList/MachineList.test.tsx
  src/app/machines/views/MachineList/MachineListHeader/MachineListHeader.test.tsx
  src/app/machines/views/MachineList/MachineListTable/MachineListPagination/MachineListPagination.tsx
  src/app/machines/views/MachineList/MachineListTable/MachineListTable.test.tsx
  src/app/machines/views/Machines.test.tsx
  src/app/store/machine/reducers.test.ts
  src/app/store/machine/selectors.test.ts
  src/app/store/machine/slice.ts
  src/app/store/machine/types/base.ts
  src/app/store/machine/utils/hooks.test.tsx
  src/app/store/machine/utils/hooks.ts
  src/app/store/machine/utils/query.test.ts
  src/app/store/machine/utils/query.ts
  src/app/tags/components/KernelOptionsField/KernelOptionsField.test.tsx
  src/app/tags/components/TagsHeader/DeleteTagForm/DeleteTagForm.test.tsx
  src/app/tags/components/TagsHeader/DeleteTagForm/DeleteTagFormWarnings/DeleteTagFormWarnings.test.tsx
  src/app/tags/views/TagMachines/TagMachines.test.tsx
  src/testing/callId-mock.ts
  src/testing/factories/index.ts
  src/testing/factories/state.ts
  yarn.lock
Labels: Review: Code +1, Review: QA +1, Maintenance 🔨
