Repository canonical/maas-ui, pull requests merged in 2023-12, with the labels that each got.

#5229 test: fix cypress #5137
  cypress/e2e/with-users/base/navigation.spec.ts
  cypress/e2e/with-users/machines/actions.spec.ts
  cypress/support/commands.ts
Labels: Review: Code needed

#5226 feat: update subnet table layout
  cypress/e2e/with-users/subnets/subnets.spec.ts
  src/app/base/components/GroupRow/GroupRow.stories.tsx
  src/app/base/components/GroupRow/GroupRow.tsx
  src/app/base/components/GroupRow/index.ts
  src/app/subnets/views/SubnetsList/SubnetsList.test.tsx
  src/app/subnets/views/SubnetsList/SubnetsTable/FabricTable/FabricTable.tsx
  src/app/subnets/views/SubnetsList/SubnetsTable/SpaceTable/SpaceTable.tsx
  src/app/subnets/views/SubnetsList/SubnetsTable/SubnetsTable.test.tsx
  src/app/subnets/views/SubnetsList/SubnetsTable/components.tsx
  src/app/subnets/views/SubnetsList/SubnetsTable/constants.ts
  src/app/subnets/views/SubnetsList/SubnetsTable/types.ts
  src/app/subnets/views/SubnetsList/SubnetsTable/utils.test.tsx
  src/app/subnets/views/SubnetsList/SubnetsTable/utils.tsx
  src/app/subnets/views/SubnetsList/_index.scss
Labels: Review: Code +1, Review: QA +1

#5238 chore(controllers): use MainToolbar in ControllerListHeader MAASENG-2513
  cypress/e2e/with-users/controllers/list.spec.ts
  package.json
  src/app/controllers/views/ControllerList/ControllerListHeader/ControllerListHeader.test.tsx
  src/app/controllers/views/ControllerList/ControllerListHeader/ControllerListHeader.tsx
  src/setupTests.ts
  yarn.lock
Labels: Review: Code needed, Review: QA needed

#5242 fix(controllers): move search bar to within MainToolbar
  src/app/controllers/views/ControllerList/ControllerList.tsx
  src/app/controllers/views/ControllerList/ControllerListControls/ControllerListControls.test.tsx
  src/app/controllers/views/ControllerList/ControllerListControls/ControllerListControls.tsx
  src/app/controllers/views/ControllerList/ControllerListControls/index.ts
  src/app/controllers/views/ControllerList/ControllerListHeader/ControllerListHeader.test.tsx
  src/app/controllers/views/ControllerList/ControllerListHeader/ControllerListHeader.tsx
Labels: Review: Code +1, Review: QA +1

#5241 test: update cypres test selectors
  cypress/e2e/with-users/machines/actions.spec.ts
  cypress/e2e/with-users/subnets/subnets.spec.ts
Labels: Review: Code +1

#5245 fix: side panel fieldless forms spacing
  src/app/base/components/AppSidePanel/AppSidePanel.tsx
  src/app/base/components/FormikFormContent/FormikFormContent.tsx
Labels: Review: UX needed, Review: Code +1, Review: QA +1
