Repository canonical/maas-ui, pull requests merged in 2023-11, with the labels that each got.

#5203 fix(machines): default to ascending sort
  src/app/kvm/components/LXDVMsTable/LXDVMsTable.test.tsx
  src/app/machines/views/MachineList/MachineListTable/constants.ts
  src/app/tags/views/TagMachines/TagMachines.test.tsx
Labels: Review: Code +1, Review: QA +1

#5206 refactor: update meter component
  package.json
  src/app/kvm/components/KVMForms/ComposeForm/StorageTable/PoolSelect/PoolSelect.tsx
  src/app/kvm/components/KVMResourceMeter/KVMResourceMeter.tsx
  src/app/kvm/components/StorageColumn/StoragePopover/StoragePopover.tsx
  yarn.lock
Labels: Review: Code +1, Review: QA +1, Maintenance 🔨

#5205 chore: use navigation from maas-react-components
  src/app/base/components/AppSideNavigation/AppSideNavCollapseToggle/AppSideNavCollapseToggle.tsx
  src/app/base/components/AppSideNavigation/AppSideNavCollapseToggle/index.ts
  src/app/base/components/AppSideNavigation/AppSideNavItem/AppSideNavItem.tsx
  src/app/base/components/AppSideNavigation/AppSideNavItems/AppSideNavItems.tsx
  src/app/base/components/AppSideNavigation/AppSideNavigation.test.tsx
  src/app/base/components/AppSideNavigation/AppSideNavigation.tsx
  src/app/base/components/AppSideNavigation/NavigationBanner/NavigationBanner.tsx
  src/app/base/components/AppSideNavigation/_index.scss
Labels: Review: Code +1, Review: QA +1

#5210 ci: bump node from v16 to v20 LTS
  .github/workflows/test.yml
  .nvmrc
Labels: Review: Code +1 (with changes)

#5209 test: use single testing-library/dom
  package.json
  yarn.lock
Labels: Review: Code needed, Review: QA needed, Maintenance 🔨

#5212 fix: downgrade @sentry/browser to v5.30.0 (#4836) backport
  package.json
  renovate.json
  yarn.lock
Labels: Review: Code +1, Maintenance 🔨, Backport 3.3 ◀️

#5211 fix: route logo link to machine list page
  cypress/e2e/with-users/base/navigation.spec.ts
  src/app/base/components/AppSideNavigation/AppSideNavigation.test.tsx
  src/app/base/components/AppSideNavigation/NavigationBanner/NavigationBanner.tsx
Labels: Review: Code +1, Review: QA +1

#5218 style: update tab to use bottom line
  src/app/base/components/SectionHeader/SectionHeader.tsx
Labels: Review: Code +1, Review: QA +1

#5216 fix(LXD): Link to VMs tab for single LXD hosts MAASENG-2412
  src/app/kvm/components/KVMResourcesCard/KVMResourcesCard.test.tsx
  src/app/kvm/components/KVMResourcesCard/KVMResourcesCard.tsx
  src/app/kvm/components/KVMResourcesCard/_index.scss
Labels: Review: Code +1, Review: QA +1

#5221 fix: machine status in the header lp#2044399
  src/app/machines/views/MachineDetails/MachineHeader/MachineHeader.test.tsx
  src/app/machines/views/MachineDetails/MachineHeader/MachineHeader.tsx
Labels: Review: Code +1, Review: QA +1

#5222 fix: machine status in the header lp#2044399 (#5221) 3.4 backport
  src/app/machines/views/MachineDetails/MachineHeader/MachineHeader.test.tsx
  src/app/machines/views/MachineDetails/MachineHeader/MachineHeader.tsx
Labels: Review: Code +1, Backport 3.4 :arrow_backward:

#5220 fix: update dashboard to network discovery url
  cypress/e2e/with-users/dashboard/dashboard.spec.ts
  cypress/e2e/with-users/machines/list.spec.ts
  sitespeed.io/login.js
  src/app/Routes.test.tsx
  src/app/Routes.tsx
  src/app/base/components/AppSideNavigation/constants.ts
  src/app/base/side-panel-context.tsx
  src/app/base/urls.ts
  src/app/dashboard/urls.ts
  src/app/dashboard/views/DashboardConfigurationForm/DashboardConfigurationSubnetForm/index.ts
  src/app/dashboard/views/DashboardConfigurationForm/index.ts
  src/app/dashboard/views/DashboardHeader/index.ts
  src/app/intro/components/IntroSection/IntroSection.test.tsx
  src/app/intro/hooks.test.tsx
  src/app/intro/hooks.ts
  src/app/intro/views/Intro.test.tsx
  src/app/intro/views/MaasIntroSuccess/MaasIntroSuccess.test.tsx
  src/app/intro/views/UserIntro/UserIntro.test.tsx
  src/app/networkDiscovery/urls.ts
  src/app/networkDiscovery/views/DiscoveriesList/DiscoveriesFilterAccordion/DiscoveriesFilterAccordion.test.tsx
  src/app/networkDiscovery/views/DiscoveriesList/DiscoveriesFilterAccordion/DiscoveriesFilterAccordion.tsx
  src/app/networkDiscovery/views/DiscoveriesList/DiscoveriesFilterAccordion/index.ts
  src/app/networkDiscovery/views/DiscoveriesList/DiscoveriesList.test.tsx
  src/app/networkDiscovery/views/DiscoveriesList/DiscoveriesList.tsx
  src/app/networkDiscovery/views/DiscoveriesList/_index.scss
  src/app/networkDiscovery/views/DiscoveriesList/index.ts
  src/app/networkDiscovery/views/DiscoveryAddForm/DiscoveryAddForm.test.tsx
  src/app/networkDiscovery/views/DiscoveryAddForm/DiscoveryAddForm.tsx
  src/app/networkDiscovery/views/DiscoveryAddForm/DiscoveryAddFormFields/DiscoveryAddFormFields.test.tsx
  src/app/networkDiscovery/views/DiscoveryAddForm/DiscoveryAddFormFields/DiscoveryAddFormFields.tsx
  src/app/networkDiscovery/views/DiscoveryAddForm/DiscoveryAddFormFields/index.ts
  src/app/networkDiscovery/views/DiscoveryAddForm/index.ts
  src/app/networkDiscovery/views/DiscoveryAddForm/types.ts
  src/app/networkDiscovery/views/NetworkDiscovery.test.tsx
  src/app/networkDiscovery/views/NetworkDiscovery.tsx
  src/app/networkDiscovery/views/NetworkDiscoveryConfigurationForm/NetworkDiscoveryConfigurationForm.tsx
  src/app/networkDiscovery/views/NetworkDiscoveryConfigurationForm/NetworkDiscoveryConfigurationSubnetForm/NetworkDiscoveryConfigurationSubnetForm.test.tsx
  src/app/networkDiscovery/views/NetworkDiscoveryConfigurationForm/NetworkDiscoveryConfigurationSubnetForm/NetworkDiscoveryConfigurationSubnetForm.tsx
  src/app/networkDiscovery/views/NetworkDiscoveryConfigurationForm/NetworkDiscoveryConfigurationSubnetForm/index.ts
  src/app/networkDiscovery/views/NetworkDiscoveryConfigurationForm/index.ts
  src/app/networkDiscovery/views/NetworkDiscoveryHeader/ClearAllForm/ClearAllForm.test.tsx
  src/app/networkDiscovery/views/NetworkDiscoveryHeader/ClearAllForm/ClearAllForm.tsx
  src/app/networkDiscovery/views/NetworkDiscoveryHeader/ClearAllForm/index.ts
  src/app/networkDiscovery/views/NetworkDiscoveryHeader/NetworkDiscoveryHeader.test.tsx
  src/app/networkDiscovery/views/NetworkDiscoveryHeader/NetworkDiscoveryHeader.tsx
  src/app/networkDiscovery/views/NetworkDiscoveryHeader/index.ts
  src/app/networkDiscovery/views/constants.ts
  src/app/subnets/views/SubnetDetails/SubnetDetailsHeader/SubnetActionForms/components/MapSubnet/MapSubnet.tsx
  src/scss/index.scss
Labels: Review: QA +1, Review: Code +1 (with changes)

#5223 fix: disable filter accordion for no items
  src/app/base/components/FilterAccordion/FilterAccordion.test.tsx
  src/app/base/components/FilterAccordion/FilterAccordion.tsx
Labels: Review: Code +1, Review: QA +1

#5219 chore: bump @canonical/maas-react-components to v1.6.1
  package.json
  yarn.lock
Labels: Review: QA +1, Maintenance 🔨

#5225 feat: update subnet tab selection to 'group by' selection
  src/app/base/components/GroupSelect/GroupSelect.test.tsx
  src/app/base/components/GroupSelect/GroupSelect.tsx
  src/app/base/components/GroupSelect/index.ts
  src/app/machines/views/MachineList/MachineListControls/GroupSelect/GroupSelect.tsx
  src/app/machines/views/MachineList/MachineListControls/MachineListControls.tsx
  src/app/subnets/constants.ts
  src/app/subnets/views/SubnetsList/SubnetsList.test.tsx
  src/app/subnets/views/SubnetsList/SubnetsList.tsx
  src/app/subnets/views/SubnetsList/_index.scss
Labels: Review: Code +1, Review: QA +1
