Repository canonical/maas-ui, pull requests merged in 2023-02, with the labels that each got.

#4731 fix: collapsing multi-word machine groups #4730
  src/app/machines/views/MachineList/MachineList.test.tsx
  src/app/machines/views/MachineList/MachineListTable/MachineListTable.tsx
Labels: Review: Code +1, Review: QA +1

#4726 test: fix cypress pools test
  cypress/e2e/with-users/machines/actions.spec.ts
  cypress/e2e/with-users/machines/list.spec.ts
  cypress/e2e/with-users/pools/list.spec.ts
  cypress/e2e/with-users/settings/dhcp.spec.ts
  cypress/support/commands.ts
  cypress/support/e2e.ts
Labels: Review: Code +1

#4729 test: MAASENG-1280 migrate rowcheckbox to testing library
  src/app/base/components/RowCheckbox/RowCheckbox.test.tsx
  src/app/base/components/RowCheckbox/__snapshots__/RowCheckbox.test.tsx.snap
Labels: Review: Code +1

#4728 test: MAASENG-1276 update zoneselect tests
  src/app/base/components/ZoneSelect/ZoneSelect.test.tsx
  src/app/base/components/ZoneSelect/__snapshots__/ZoneSelect.test.tsx.snap
Labels: Review: Code +1 (with changes)

#4725 feat: Global side navigation MAASENG-1272
  src/app/App.tsx
  src/app/base/components/AppSideNavigation/AppSideNavigation.test.tsx
  src/app/base/components/AppSideNavigation/AppSideNavigation.tsx
  src/app/base/components/AppSideNavigation/NavigationBanner/NavigationBanner.test.tsx
  src/app/base/components/AppSideNavigation/NavigationBanner/NavigationBanner.tsx
  src/app/base/components/AppSideNavigation/NavigationBanner/index.ts
  src/app/base/components/AppSideNavigation/_index.scss
  src/app/base/components/AppSideNavigation/index.ts
  src/app/base/components/AppSideNavigation/types.ts
  src/app/base/components/AppSideNavigation/utils.ts
  src/scss/_patterns_icons.scss
  src/scss/index.scss
Labels: Review: Code +1, Review: QA +1

#4738 feat: remove main content section styles
  src/app/base/components/MainContentSection/MainContentSection.test.tsx
  src/app/base/components/MainContentSection/MainContentSection.tsx
  src/app/base/components/MainContentSection/_index.scss
  src/scss/index.scss
Labels: Review: QA +1, Review: Code +1 (with changes)

#4739 fix(nav): Break out nav items into separate components and add discrete logout button MAASENG-1314
  src/app/base/components/AppSideNavigation/AppSideNavItem/AppSideNavItem.tsx
  src/app/base/components/AppSideNavigation/AppSideNavItem/index.ts
  src/app/base/components/AppSideNavigation/AppSideNavItems/AppSideNavItems.tsx
  src/app/base/components/AppSideNavigation/AppSideNavItems/index.ts
  src/app/base/components/AppSideNavigation/AppSideNavigation.test.tsx
  src/app/base/components/AppSideNavigation/AppSideNavigation.tsx
  src/app/base/components/AppSideNavigation/_index.scss
Labels: Review: QA +1, Review: Code +1 (with changes)

#4744 fix(test): Updated Cypress tests for new side navigation
  cypress/e2e/with-users/base/header.spec.ts
  cypress/e2e/with-users/controllers/list.spec.ts
  cypress/e2e/with-users/devices/list.spec.ts
  cypress/e2e/with-users/domains/list.spec.ts
  cypress/e2e/with-users/images/list.spec.ts
  cypress/e2e/with-users/kvm/list.spec.ts
  cypress/e2e/with-users/login/login.spec.ts
  cypress/e2e/with-users/machines/list.spec.ts
  cypress/e2e/with-users/preferences/base.spec.ts
  cypress/e2e/with-users/settings/base.spec.ts
  cypress/e2e/with-users/settings/configuration/general.spec.ts
  cypress/e2e/with-users/subnets/subnets.spec.ts
  cypress/e2e/with-users/zones/list.spec.ts
Labels: Review: Code +1

#4746 fix: navigation toggle buttons
  cypress/e2e/with-users/base/header.spec.ts
  src/app/base/components/AppSideNavigation/AppSideNavigation.tsx
  src/app/base/components/AppSideNavigation/NavigationBanner/NavigationBanner.tsx
  src/app/base/components/AppSideNavigation/_index.scss
Labels: Review: Code +1, Review: QA +1

#4743 Fix: 1316 build button to collapse scripts
  src/app/settings/views/Scripts/ScriptDetails/ScriptDetails.test.tsx
  src/app/settings/views/Scripts/ScriptDetails/ScriptDetails.tsx
  src/app/settings/views/Scripts/ScriptDetails/_index.scss
  src/app/settings/views/Scripts/ScriptsList/ScriptsList.tsx
  src/scss/index.scss
Labels: Review: QA +1, Review: Code +1 (with changes)

#4745 fix(MAASENG-1313): Remove duplicated tab navigation items
  src/app/Routes.test.tsx
  src/app/kvm/views/KVMList/KVMList.tsx
  src/app/kvm/views/KVMList/KVMListHeader/KVMListHeader.test.tsx
  src/app/kvm/views/KVMList/KVMListHeader/KVMListHeader.tsx
Labels: Review: QA +1, Review: Design +1 (with changes)

#4750 fix(KVM): Increase width of KVM details side panel forms
  src/app/kvm/components/KVMDetailsHeader/KVMDetailsHeader.tsx
Labels: Review: Code +1, Review: QA +1

#4753 feat(nav): Re-order and re-group items in side navigation MAASENG-1333
  src/app/base/components/AppSideNavigation/AppSideNavigation.tsx
  src/app/base/components/AppSideNavigation/_index.scss
  src/scss/_patterns_icons.scss
Labels: Review: Code +1, Review: QA +1

#4734 feat(node): Show IP address in node summary network card (#2851)
  src/app/base/components/NodeSummaryNetworkCard/NetworkCardTable/NetworkCardTable.test.tsx
  src/app/base/components/NodeSummaryNetworkCard/NetworkCardTable/NetworkCardTable.tsx
  src/app/base/components/NodeSummaryNetworkCard/NetworkCardTable/_index.scss
  src/app/base/components/NodeSummaryNetworkCard/NodeSummaryNetworkCard.test.tsx
  src/app/base/components/NodeSummaryNetworkCard/NodeSummaryNetworkCard.tsx
  src/app/devices/views/DeviceDetails/DeviceSummary/DeviceSummary.tsx
  src/app/machines/views/MachineDetails/MachineSummary/MachineSummary.tsx
Labels: Review: Code +1, Review: QA +1

#4755 chore(styles): Clean up icon patterns MAASENG-1342
  src/app/base/components/AppSideNavigation/AppSideNavItems/AppSideNavItems.tsx
  src/app/base/components/AppSideNavigation/AppSideNavigation.tsx
  src/scss/_patterns_icons.scss
  src/scss/index.scss
Labels: Review: Code +1, Review: QA +1

#4758 feat: Add machine and pool count to header and remove tab nav MAASENG-1341
  cypress/e2e/with-users/machines/list.spec.ts
  cypress/e2e/with-users/pools/list.spec.ts
  src/app/base/components/node/MachinesHeader/MachinesHeader.test.tsx
  src/app/base/components/node/MachinesHeader/MachinesHeader.tsx
  src/app/machines/views/MachineList/MachineListHeader/MachineListHeader.test.tsx
  src/app/machines/views/MachineList/MachineListHeader/MachineListHeader.tsx
  src/app/pools/views/Pools.tsx
  src/app/tags/components/TagsHeader/TagsHeader.test.tsx
  src/app/tags/components/TagsHeader/TagsHeader.tsx
Labels: Review: QA +1, Review: Code +1 (with changes)

#4751 feat: collapsible side navigation MAASENG-1282
  cypress/e2e/with-users/base/header.spec.ts
  cypress/e2e/with-users/controllers/list.spec.ts
  cypress/e2e/with-users/devices/list.spec.ts
  cypress/e2e/with-users/domains/list.spec.ts
  cypress/e2e/with-users/images/list.spec.ts
  cypress/e2e/with-users/kvm/list.spec.ts
  cypress/e2e/with-users/machines/list.spec.ts
  cypress/e2e/with-users/preferences/base.spec.ts
  cypress/e2e/with-users/settings/base.spec.ts
  cypress/e2e/with-users/subnets/subnets.spec.ts
  cypress/e2e/with-users/zones/list.spec.ts
  src/app/base/components/AppSideNavigation/AppSideNavCollapseToggle/AppSideNavCollapseToggle.tsx
  src/app/base/components/AppSideNavigation/AppSideNavCollapseToggle/index.ts
  src/app/base/components/AppSideNavigation/AppSideNavItem/AppSideNavItem.tsx
  src/app/base/components/AppSideNavigation/AppSideNavItems/AppSideNavItems.tsx
  src/app/base/components/AppSideNavigation/AppSideNavigation.tsx
  src/app/base/components/AppSideNavigation/NavigationBanner/NavigationBanner.tsx
  src/app/base/components/AppSideNavigation/_index.scss
  src/app/base/components/AppSideNavigation/constants.ts
  src/app/base/constants.ts
  src/app/base/hooks/base.ts
  src/app/settings/views/Configuration/GeneralForm/ThemedRadioButton/ThemedRadioButton.tsx
  src/app/settings/views/Configuration/GeneralForm/ThemedRadioButton/_index.scss
  src/scss/_patterns_icons.scss
  src/scss/_patterns_typography.scss
  src/scss/_settings.scss
  src/scss/_utilities.scss
  src/scss/_vanilla-overrides.scss
Labels: Review: Code +1, Review: QA +1

#4752 Fix: MAASENG-1332 - stack form buttons on smaller screens
  src/app/base/components/FormikFormButtons/_index.scss
Labels: Review: Design +1, Review: QA +1, Review: Code +1 (with changes)

#4760 test: update machine list playwright test
  tests/machines.spec.ts
Labels: Review: Code +1

#4761 feat: update status bar MAASENG-1340
  src/app/base/components/AppSideNavigation/AppSideNavigation.tsx
  src/scss/_patterns_status-bar.scss
  src/scss/index.scss
Labels: Review: Code +1, Review: QA +1

#4762 test: update cypress a11y test
  cypress/constants.ts
Labels: Review: Code +1

#4765 feat(machines): Show filtered machine count and machines on page count MAASENG-1367 & MAASENG-1368
  cypress/e2e/with-users/machines/list.spec.ts
  src/app/machines/views/MachineList/MachineListTable/MachineListDisplayCount/MachineListDisplayCount.test.tsx
  src/app/machines/views/MachineList/MachineListTable/MachineListDisplayCount/MachineListDisplayCount.tsx
  src/app/machines/views/MachineList/MachineListTable/MachineListDisplayCount/index.ts
  src/app/machines/views/MachineList/MachineListTable/MachineListTable.tsx
Labels: Review: Code needed, Review: QA needed

#4756 test: eslint add console warning
  .eslintrc.js
Labels: Review: Code +1 (with changes)

#4767 feat(nav): Only display "Virsh" if user has Virsh KVM hosts MAASENG-1334
  src/app/base/components/AppSideNavigation/AppSideNavItems/AppSideNavItems.tsx
  src/app/base/components/AppSideNavigation/AppSideNavigation.test.tsx
  src/app/base/components/AppSideNavigation/AppSideNavigation.tsx
Labels: Review: Code +1, Review: QA +1

#4764 feat: update grid max width and adjust sidenav
  src/app/base/components/AppSideNavigation/AppSideNavCollapseToggle/AppSideNavCollapseToggle.tsx
  src/app/base/components/AppSideNavigation/AppSideNavigation.test.tsx
  src/app/base/components/AppSideNavigation/AppSideNavigation.tsx
  src/app/base/components/AppSideNavigation/_index.scss
  src/scss/_settings.scss
Labels: Review: Code +1, Review: QA +1, Don't merge

#4773 Revert "use python script for asset uploading (#4639)"
  .github/workflows/upload.yml
  scripts/upload-assets.py
Labels: Review: Code +1

#4772 chore: Clean up legacy header MAASENG-1312
  cypress/e2e/with-users/base/navigation.spec.ts
  public/index.html
  src/app/App.tsx
  src/app/base/components/Header/Header.test.tsx
  src/app/base/components/Header/Header.tsx
  src/app/base/components/Header/_index.scss
  src/app/base/components/Header/index.ts
  src/index.tsx
  src/scss/_patterns_application.scss
  src/scss/index.scss
Labels: Review: QA +1, Review: Code +1 (with changes)

#4766 Feat: - MAASENG-1370 - implement shift click machine selection
  cypress/e2e/with-users/machines/list.spec.ts
  src/app/machines/components/TableCheckbox/TableCheckbox.tsx
  src/app/machines/views/MachineList/MachineListTable/MachineCheckbox/MachineCheckbox.test.tsx
  src/app/machines/views/MachineList/MachineListTable/MachineCheckbox/MachineCheckbox.tsx
  src/app/machines/views/MachineList/MachineListTable/MachineListTable.tsx
  src/app/machines/views/MachineList/MachineListTable/NameColumn/NameColumn.tsx
Labels: Review: QA +1, Review: Code +1 (with changes)

#4776 test: update navigation cypress tests
  cypress/e2e/with-users/base/navigation.spec.ts
  cypress/e2e/with-users/controllers/list.spec.ts
  cypress/e2e/with-users/devices/list.spec.ts
  cypress/e2e/with-users/domains/list.spec.ts
  cypress/e2e/with-users/images/list.spec.ts
  cypress/e2e/with-users/kvm/list.spec.ts
  cypress/e2e/with-users/machines/list.spec.ts
  cypress/e2e/with-users/preferences/base.spec.ts
  cypress/e2e/with-users/settings/base.spec.ts
  cypress/e2e/with-users/settings/configuration/general.spec.ts
  cypress/e2e/with-users/subnets/subnets.spec.ts
  cypress/e2e/with-users/zones/list.spec.ts
Labels: Review: Code needed

#4778 ci: remove redundant build job
  .github/workflows/test.yml
Labels: Review: Code +1

#4771 test: ignore unexpected console statements
  src/app/base/components/CopyButton/CopyButton.tsx
  src/app/base/sagas/websockets.ts
  src/app/settings/views/Scripts/ScriptsUpload/readScript.tsx
  src/app/utils/formatBytes.ts
Labels: Review: Code +1

#4782 ci: use dotrun for build upload
  .github/ISSUE_TEMPLATE/upload-failure.md
  .github/workflows/upload.yml
Labels: Review: Code +1

#4775 feat(machines): New pagination and page size dropdown MAASENG-1369
  src/app/machines/views/MachineList/MachineList.test.tsx
  src/app/machines/views/MachineList/MachineList.tsx
  src/app/machines/views/MachineList/MachineListTable/MachineListDisplayCount/MachineListDisplayCount.tsx
  src/app/machines/views/MachineList/MachineListTable/MachineListDisplayCount/_index.scss
  src/app/machines/views/MachineList/MachineListTable/MachineListPagination/MachineListPagination.tsx
  src/app/machines/views/MachineList/MachineListTable/MachineListPagination/_index.scss
  src/app/machines/views/MachineList/MachineListTable/MachineListTable.tsx
  src/app/machines/views/MachineList/MachineListTable/PageSizeSelect/PageSizeSelect.test.tsx
  src/app/machines/views/MachineList/MachineListTable/PageSizeSelect/PageSizeSelect.tsx
  src/app/machines/views/MachineList/MachineListTable/PageSizeSelect/index.ts
  src/scss/_utilities.scss
  src/scss/index.scss
Labels: Review: Code +1, Review: QA +1

#4793 fix(settings): Update MAAS name example emotes to not be misleading #4785
  src/app/settings/views/Configuration/GeneralForm/GeneralForm.tsx
Labels: Review: Code +1, Review: QA +1

#4792 fix(machines): Reset current page to first page on change of page size #4787
  src/app/machines/views/MachineList/MachineListTable/MachineListPagination/MachineListPagination.tsx
  src/app/machines/views/MachineList/MachineListTable/MachineListTable.tsx
  src/app/machines/views/MachineList/MachineListTable/PageSizeSelect/PageSizeSelect.test.tsx
  src/app/machines/views/MachineList/MachineListTable/PageSizeSelect/PageSizeSelect.tsx
Labels: Review: QA +1, Review: Code +1 (with changes)
