Repository canonical/maas-ui, pull requests merged in 2024-07, with the labels that each got.

#5499 feat(subnets): add tooltips for reserved IP comments MAASENG-3517
  src/app/subnets/views/SubnetDetails/StaticDHCPLease/StaticDHCPTable/StaticDHCPTable.tsx
Labels: Review: Code needed, Review: QA needed

#5501 ci: add cla-check workflow
  .github/workflows/cla-check.yml
Labels: Review: Code +1

#5500 fix: remove length limit for MAC address fields MAASENG-3518
  src/app/base/components/MacAddressField/MacAddressField.tsx
  src/app/machines/components/MachineForms/AddMachine/AddMachineFormFields/AddMachineFormFields.tsx
  src/app/utils/formatMacAddress.test.ts
  src/app/utils/formatMacAddress.ts
Labels: Review: Code +1, Review: QA +1

#5502 feat(subnets): show error message if IP is already reserved/used MAASENG-3516
  src/app/subnets/views/SubnetDetails/StaticDHCPLease/ReserveDHCPLease/ReserveDHCPLease.tsx
Labels: Review: Code +1, Review: QA +1

#5503 feat: scroll to top of form when non-field errors are present MAASENG-3515
  src/app/base/components/FormikFormContent/FormikFormContent.test.tsx
  src/app/base/components/FormikFormContent/FormikFormContent.tsx
  src/setupTests.ts
Labels: Review: Code +1, Review: QA +1

#5504 fix(machines): Increase width of bond and bridge forms in Network tab
  src/app/base/components/NetworkActionRow/NetworkActionRow.tsx
  src/app/machines/views/MachineDetails/MachineNetwork/NetworkTable/NetworkTableActions/NetworkTableActions.tsx
Labels: Review: Code +1, Review: QA +1

#5507 docs: update HACKING.md with current descriptions
  docs/HACKING.md
Labels: Review: Code +1, Review: QA +1

#5506 refactor: Use names 'Static DHCP lease' and 'IP assignment' MAASENG-3519
  src/app/base/components/LinkModeSelect/LinkModeSelect.tsx
  src/app/base/components/node/networking/NetworkTable/IPColumn/IPColumn.test.tsx
  src/app/devices/views/DeviceDetails/DeviceNetwork/DeviceNetworkTable/DeviceNetworkTable.tsx
  src/app/networkDiscovery/views/DiscoveryAddForm/DiscoveryAddFormFields/DiscoveryAddFormFields.test.tsx
  src/app/store/device/utils/common.test.ts
  src/app/store/device/utils/common.ts
  src/app/store/utils/node/networking.test.ts
  src/app/store/utils/node/networking.ts
Labels: Review: Code +1, Review: QA +1
