Repository canonical/maas-ui, pull requests merged in 2024-08, with the labels that each got.

#5508 feat(subnets): Use PrefixedIpInput in Reserve Range form MAASENG-3524
  src/app/subnets/components/ReservedRangeForm/ReservedRangeForm.test.tsx
  src/app/subnets/components/ReservedRangeForm/ReservedRangeForm.tsx
Labels: Review: Code +1, Review: QA +1

#5513 docs: Add tutorial for setting up MAAS in a LXD container MAASENG-3601
  docs/LXD.md
Labels: Review: Code needed, Review: QA needed

#5517 fix: update default MAAS backend in .env MAASENG-3597
  .env
  docs/HACKING.md
Labels: Review: Code needed, Review: QA needed

#5518 fix(zones): unnecessary query invalidations and API calls
  src/app/api/query/base.test.ts
  src/app/api/query/base.ts
  src/app/api/query/zones.ts
  src/testing/utils.tsx
Labels: Review: Code +1, Review: QA +1

#5519 docs: Add explanation of Vitest, testing-library and util functions to MAASUI.md MAASENG-3600
  .gitignore
  docs/MAASUI.md
Labels: Review: QA +1, Review: Code +1 (with changes)

#5511 feat(machines): Add new IP address field to Edit Physical form MAASENG-3453
  src/app/machines/views/MachineDetails/MachineNetwork/EditPhysicalForm/EditPhysicalForm.test.tsx
  src/app/machines/views/MachineDetails/MachineNetwork/EditPhysicalForm/EditPhysicalForm.tsx
  src/app/machines/views/MachineDetails/MachineNetwork/NetworkFields/NetworkFields.tsx
Labels: Review: Code +1, Review: QA +1

#5522 docs: Add explanation of Vite and how it's used in MAAS UI MAASENG-3596
  docs/MAASUI.md
Labels: Review: Code needed, Review: QA needed

#5520 feat: Add 'Build upload' status to readme
  README.md
Labels: Review: Code needed

#5466 ci: add TICS workflow with artifact upload MAASENG-3276
  .github/workflows/test.yml
Labels: Review: Code +1, Review: QA +1

#5527 ci: set tics full report artifact path
  .github/workflows/test.yml
Labels: Review: Code +1, Review: QA +1
