Repository canonical/maas-ui, pull requests merged in 2024-10, with the labels that each got.

#5540 feat(machines): Add kernel crash dump indicator to details page MAASENG-3760
  src/app/base/components/node/OverviewCard/DetailsCard/DetailsCard.test.tsx
  src/app/base/components/node/OverviewCard/DetailsCard/DetailsCard.tsx
Labels: Review: Code +1, Review: QA +1

#5539 feat(machines): Add kernel crash dump checkbox to deploy form MAASENG-3759
  src/app/machines/components/MachineForms/MachineActionFormWrapper/DeployForm/DeployFormFields/DeployFormFields.test.tsx
  src/app/machines/components/MachineForms/MachineActionFormWrapper/DeployForm/DeployFormFields/DeployFormFields.tsx
Labels: Review: Code needed, Review: QA needed

#5544 feat: Allow users to enable kernel crash dumps MAASENG-3761
  .env
  src/app/base/components/node/OverviewCard/DetailsCard/DetailsCard.test.tsx
  src/app/base/components/node/OverviewCard/DetailsCard/DetailsCard.tsx
  src/app/machines/components/MachineForms/MachineActionFormWrapper/DeployForm/DeployForm.test.tsx
  src/app/machines/components/MachineForms/MachineActionFormWrapper/DeployForm/DeployForm.tsx
  src/app/machines/components/MachineForms/MachineActionFormWrapper/DeployForm/DeployFormFields/DeployFormFields.test.tsx
  src/app/machines/components/MachineForms/MachineActionFormWrapper/DeployForm/DeployFormFields/DeployFormFields.tsx
  src/app/settings/views/Configuration/KernelParametersForm/KernelParametersForm.test.tsx
  src/app/settings/views/Configuration/KernelParametersForm/KernelParametersForm.tsx
  src/app/store/config/selectors.test.ts
  src/app/store/config/selectors.ts
  src/app/store/config/types/enum.ts
  src/app/store/machine/actions.test.ts
  src/app/store/machine/types/actions.ts
  src/app/store/machine/types/base.ts
  src/testing/factories/nodes.ts
Labels: Review: Code needed, Review: QA needed

#5543 fix(subnets): Disable editing IP address of a static lease MAASENG-3762
  src/app/base/components/PrefixedIpInput/PrefixedIpInput.test.tsx
  src/app/base/components/PrefixedIpInput/PrefixedIpInput.tsx
  src/app/subnets/views/SubnetDetails/StaticDHCPLease/ReserveDHCPLease/ReserveDHCPLease.test.tsx
  src/app/subnets/views/SubnetDetails/StaticDHCPLease/ReserveDHCPLease/ReserveDHCPLease.tsx
Labels: Review: Code needed, Review: QA needed

#5541 chore(deps): Upgrade vanilla-framework to 4.16.0
  package.json
  yarn.lock
Labels: Review: Code +1, Review: QA +1, dependencies

#5548 feat(subnets): make the MAC address of a reserved IP required and immutable MAASENG-3914
  src/app/store/reservedip/types/base.ts
  src/app/subnets/views/SubnetDetails/StaticDHCPLease/ReserveDHCPLease/ReserveDHCPLease.test.tsx
  src/app/subnets/views/SubnetDetails/StaticDHCPLease/ReserveDHCPLease/ReserveDHCPLease.tsx
Labels: Review: QA +1, Review: Code +1 (with changes)

#5550 feat: Add help text for reserving static IPs to IP mode fields MAASENG-3911
  src/app/base/components/IpAssignmentSelect/IpAssignmentSelect.tsx
  src/app/machines/views/MachineDetails/MachineNetwork/NetworkFields/NetworkFields.tsx
Labels: Review: Code needed, Review: QA needed

#5551 feat: Remove reserved IP feature flag MAASENG-3757
  .env
  src/app/base/components/IpAssignmentSelect/IpAssignmentSelect.tsx
  src/app/machines/views/MachineDetails/MachineNetwork/NetworkFields/NetworkFields.tsx
  src/app/subnets/views/SubnetDetails/SubnetDetails.tsx
Labels: Review: Code needed, Review: QA needed

#5555 style: Fixed trivial spelling error in keyring placeholder text
  src/app/images/views/ImageList/SyncedImages/ChangeSource/FetchImagesForm/FetchImagesFormFields/FetchImagesFormFields.tsx
Labels: Review: Code +1, Review: QA +1
