Repository canonical/maas-ui, pull requests merged in 2024-06, with the labels that each got.

#5454 test: add coverage report with istanbul
  .github/workflows/test.yml
  .gitignore
  package.json
  src/app/Routes.test.tsx
  vitest.config.ts
  yarn.lock
Labels: Review: Code needed, Review: QA +1

#5455 test: add coverage report upload step
  .github/workflows/test.yml
Labels: Review: Code +1

#5457 docs: add code coverage link to README.md
  README.md
Labels: Review: Code needed, Review: QA needed

#5459 ci: fix links checker workflow
  .github/workflows/links-checker.yml
Labels: Review: Code needed

#5458 feat: show msm connection info
  src/__snapshots__/root-reducer.test.ts.snap
  src/app/base/components/StatusBar/StatusBar.test.tsx
  src/app/base/components/StatusBar/StatusBar.tsx
  src/app/store/msm/index.ts
  src/app/store/msm/selectors.ts
  src/app/store/msm/slice.ts
  src/app/store/msm/types/base.ts
  src/app/store/msm/types/enum.ts
  src/app/store/root/types.ts
  src/app/store/utils/slice.ts
  src/root-reducer.ts
  src/testing/factories/index.ts
  src/testing/factories/msm.ts
  src/testing/factories/state.ts
  src/testing/utils.tsx
  yarn.lock
Labels: Review: Code needed, Review: QA +1

#5470 fix(settings): fix list spacing #5464
  src/app/settings/views/Repositories/RepositoryForm/RepositoryForm.test.tsx
  src/app/settings/views/Repositories/RepositoryForm/RepositoryForm.tsx
  src/app/utils/index.ts
  src/app/utils/parseCommaSeparatedValues.test.ts
  src/app/utils/parseCommaSeparatedValues.ts
Labels: Review: Code +1, Review: QA +1

#5463 fix: update docs links #5276
  cypress/e2e/docs-links/docs-links.spec.ts
  package.json
  src/app/base/docsUrls.ts
Labels: Review: Code +1

#5473 chore: Add scopes to PR lint workflow MAASENG-3414
  .github/workflows/pr-lint.yml
Labels: Review: Code +1

#5476 test: add toBeAriaDisabled matcher
  src/setupTests.ts
  src/testing/customMatchers.test.ts
  src/testing/customMatchers.ts
Labels: Review: Code +1

#5478 test: use vi.waitFor by default
  src/testing/utils.tsx
Labels: Review: Code +1

#5482 docs: update docs link
  cypress/e2e/docs-links/docs-links.spec.ts
  src/app/base/docsUrls.ts
Labels: Review: Code +1

#5484 chore(base): setup react query MAASENG-3401
  .env.development
  package.json
  src/app/api/base.test.ts
  src/app/api/base.ts
  src/app/api/endpoints.ts
  src/app/api/query-client.ts
  src/app/api/query/base.test.ts
  src/app/api/query/base.ts
  src/app/api/query/utils.test.ts
  src/app/api/query/utils.ts
  src/app/api/query/zones.ts
  src/index.tsx
  src/testing/utils.tsx
  yarn.lock
Labels: Review: Code +1, Review: QA +1

#5487 fix: limit WebSocket message backlog on reconnection
  src/websocket-client.ts
Labels: Review: Code +1, Review: QA +1, Review: Core needed

#5490 fix: limit WebSocket message backlog on reconnection 3.5 backport
  src/websocket-client.ts
Labels: Backport 3.5 :arrow_backward:

#5489 fix: limit WebSocket message backlog on reconnection 3.4 backport
  src/websocket-client.ts
Labels: Backport 3.4 :arrow_backward:

#5481 feat(devices): Integrate dynamic IP validation with "Add Device" form MAASENG-2982
  src/app/base/components/PrefixedIpInput/index.ts
  src/app/base/components/PrefixedIpInput/utils.test.ts
  src/app/base/components/PrefixedIpInput/utils.ts
  src/app/devices/components/DeviceHeaderForms/AddDeviceForm/AddDeviceForm.test.tsx
  src/app/devices/components/DeviceHeaderForms/AddDeviceForm/AddDeviceForm.tsx
  src/app/devices/components/DeviceHeaderForms/AddDeviceForm/AddDeviceInterfaces/AddDeviceInterfaces.test.tsx
  src/app/devices/components/DeviceHeaderForms/AddDeviceForm/AddDeviceInterfaces/AddDeviceInterfaces.tsx
  src/app/devices/components/DeviceHeaderForms/AddDeviceForm/types.ts
  src/app/subnets/views/SubnetDetails/StaticDHCPLease/ReserveDHCPLease/ReserveDHCPLease.tsx
Labels: Review: QA +1, Review: Code +1 (with changes)

#5492 test: add msw library for mocking API requests
  package.json
  src/app/api/base.test.ts
  src/app/api/base.ts
  src/app/api/endpoints.ts
  src/app/api/query/zones.test.ts
  src/testing/utils.tsx
  yarn.lock
Labels: Review: Code +1
