Repository canonical/maas-ui, pull requests merged in 2024-01, with the labels that each got.

#5250 refactor: remove local Stepper component
  package.json
  src/app/base/components/Stepper/Stepper.test.tsx
  src/app/base/components/Stepper/Stepper.tsx
  src/app/base/components/Stepper/_index.scss
  src/app/base/components/Stepper/index.ts
  src/app/kvm/components/KVMForms/AddLxd/AddLxd.test.tsx
  src/app/kvm/components/KVMForms/AddLxd/AddLxd.tsx
  src/scss/index.scss
  yarn.lock
Labels: Review: Code +1, Review: QA +1

#5254 feat(devices): use MainToolbar in DeviceListHeader MAASENG-2515
  package.json
  src/app/devices/views/DeviceList/DeviceList.test.tsx
  src/app/devices/views/DeviceList/DeviceList.tsx
  src/app/devices/views/DeviceList/DeviceListControls/DeviceListControls.test.tsx
  src/app/devices/views/DeviceList/DeviceListControls/DeviceListControls.tsx
  src/app/devices/views/DeviceList/DeviceListControls/index.ts
  src/app/devices/views/DeviceList/DeviceListHeader/DeviceFilterAccordion/DeviceFilterAccordion.test.tsx
  src/app/devices/views/DeviceList/DeviceListHeader/DeviceFilterAccordion/DeviceFilterAccordion.tsx
  src/app/devices/views/DeviceList/DeviceListHeader/DeviceFilterAccordion/index.ts
  src/app/devices/views/DeviceList/DeviceListHeader/DeviceListHeader.test.tsx
  src/app/devices/views/DeviceList/DeviceListHeader/DeviceListHeader.tsx
  src/scss/_vanilla-overrides.scss
  yarn.lock
Labels: Review: Code +1, Review: QA +1

#5255 feat(kvm): use MainToolbar on KVM list header MAASENG-2516
  src/app/kvm/views/KVMList/KVMList.test.tsx
  src/app/kvm/views/KVMList/KVMListHeader/KVMListHeader.test.tsx
  src/app/kvm/views/KVMList/KVMListHeader/KVMListHeader.tsx
Labels: Review: QA needed, Review: Code +1

#5258 feat(pools): use MainToolbar on pools list header MAASENG-2520
  src/app/pools/views/Pools.tsx
Labels: Review: Code +1, Review: QA +1

#5259 feat(subnets): use MainToolbar on subnets list header MAASENG-2522
  src/app/subnets/views/SubnetsList/SubnetsControls/SubnetsControls.tsx
  src/app/subnets/views/SubnetsList/SubnetsList.tsx
  src/app/subnets/views/SubnetsList/SubnetsTable/SubnetsTable.test.tsx
  src/app/subnets/views/SubnetsList/SubnetsTable/SubnetsTable.tsx
Labels: Review: Code needed, Review: QA needed

#5256 feat(zones): use MainToolbar on zones list header MAASENG-2519
  src/app/zones/views/ZonesList/ZonesListHeader/ZonesListHeader.tsx
Labels: Review: Code +1, Review: QA +1

#5262 fix: main toolbar padding
  src/scss/_vanilla-overrides.scss
Labels: Review: Code +1, Review: QA +1

#5264 test: update e2e headings queries
  cypress/constants.ts
  cypress/e2e/accessibility/accessibility.spec.ts
  cypress/support/commands.ts
  src/app/intro/components/IntroCard/IntroCard.tsx
  src/app/preferences/views/Details/Details.tsx
Labels: Review: Code needed

#5266 feat(images): use MainToolbar on image list header MAASENG-2521
  src/app/images/views/ImageList/ImageListHeader/ImageListHeader.tsx
Labels: Review: Code +1, Review: QA +1

#5261 feat(domains): use MainToolbar on domains list header MAASENG-2523
  src/app/domains/views/DomainsList/DomainListHeader/DomainListHeader.tsx
Labels: Review: Code +1, Review: QA +1

#5270 feat(machines): use MainToolbar in machine list header MAASENG-2514
  src/app/base/components/SearchBox/SearchBox.tsx
  src/app/machines/views/MachineList/MachineListControls/MachineListControls.tsx
  src/app/machines/views/MachineList/MachineListHeader/MachineListHeader.test.tsx
  src/app/machines/views/MachineList/MachineListHeader/MachineListHeader.tsx
  src/app/machines/views/Machines.test.tsx
Labels: Review: Code +1, Review: QA +1

#5273 feat(tags): use MainToolbar in tags header MAASENG-2518
  src/app/tags/components/TagsHeader/TagsHeader.test.tsx
  src/app/tags/components/TagsHeader/TagsHeader.tsx
  src/app/tags/views/TagDetails/TagDetails.test.tsx
  src/app/tags/views/TagDetails/TagDetails.tsx
  src/app/tags/views/TagList/TagList.test.tsx
  src/app/tags/views/TagList/TagList.tsx
  src/app/tags/views/TagList/TagListControls/TagListControls.test.tsx
  src/app/tags/views/TagList/TagListControls/TagListControls.tsx
  src/app/tags/views/TagList/TagListControls/index.ts
  src/app/tags/views/Tags.test.tsx
  src/app/tags/views/Tags.tsx
Labels: Review: QA +1, Review: Code +1 (with changes)

#5272 fix: improve intro pages a11y
  cypress/constants.ts
  src/app/intro/components/IntroCard/IntroCard.tsx
Labels: Review: Code +1

#5283 test: fix Cypress domains list test
  cypress/e2e/with-users/domains/list.spec.ts
Labels: Review: Code +1, Review: QA +1

#5284 test: fix remaining cypress tests looking for "section-header-title"
  cypress/e2e/with-users/images/list.spec.ts
  cypress/e2e/with-users/kvm/list.spec.ts
  cypress/e2e/with-users/zones/list.spec.ts
Labels: Review: Code +1, Review: QA +1

#5287 test: fix Cypress machine details tests
  cypress/e2e/with-users/machines/details.spec.ts
Labels: Review: Code +1, Review: QA +1

#5286 test: fix Cypress machine list tests
  cypress/e2e/with-users/machines/list.spec.ts
  cypress/support/commands.ts
Labels: Review: Code +1, Review: QA +1

#5285 feat: move network discovery forms to sidepanel
  src/app/networkDiscovery/components/NetworkForm/NetworkForm.test.tsx
  src/app/networkDiscovery/components/NetworkForm/NetworkForm.tsx
  src/app/networkDiscovery/components/NetworkForm/index.ts
  src/app/networkDiscovery/views/DiscoveriesList/DiscoveriesList.test.tsx
  src/app/networkDiscovery/views/DiscoveriesList/DiscoveriesList.tsx
  src/app/networkDiscovery/views/DiscoveryAddForm/DiscoveryAddFormFields/DiscoveryAddFormFields.tsx
  src/app/networkDiscovery/views/DiscoveryDeleteForm/DiscoveryDeleteForm.test.tsx
  src/app/networkDiscovery/views/DiscoveryDeleteForm/DiscoveryDeleteForm.tsx
  src/app/networkDiscovery/views/DiscoveryDeleteForm/index.ts
  src/app/networkDiscovery/views/NetworkDiscovery.tsx
  src/app/networkDiscovery/views/NetworkDiscoveryHeader/ClearAllForm/ClearAllForm.tsx
  src/app/networkDiscovery/views/constants.ts
  src/app/store/utils/node/base.ts
Labels: Review: Code +1, Review: QA +1

#5289 test: fix Cypress subnet add tests
  cypress/e2e/with-users/subnets/add.spec.ts
  src/app/subnets/views/SubnetsList/SubnetsTable/components.tsx
  src/app/subnets/views/SubnetsList/SubnetsTable/types.ts
  src/app/subnets/views/SubnetsList/SubnetsTable/utils.tsx
Labels: Review: Code +1, Review: QA +1

#5292 fix: update tag delete sidepanel font size
  src/app/tags/components/TagsHeader/DeleteTagForm/DeleteTagForm.test.tsx
  src/app/tags/components/TagsHeader/DeleteTagForm/DeleteTagForm.tsx
Labels: Review: Code +1, Review: QA +1

#5291 feat: move SSH Key delete form to sidepanel
  src/app/base/components/SSHKeyList/SSHKeyList.test.tsx
  src/app/base/components/SSHKeyList/SSHKeyList.tsx
  src/app/base/side-panel-context.tsx
  src/app/intro/views/UserIntro/UserIntro.tsx
  src/app/preferences/components/Routes/Routes.tsx
  src/app/preferences/constants.ts
  src/app/preferences/types.ts
  src/app/preferences/urls.ts
  src/app/preferences/views/SSHKeys/DeleteSSHKey/DeleteSSHKey.test.tsx
  src/app/preferences/views/SSHKeys/DeleteSSHKey/DeleteSSHKey.tsx
  src/app/preferences/views/SSHKeys/DeleteSSHKey/index.ts
Labels: Review: QA +1, Review: Code +1 (with changes)

#5293 feat: add lazy loading of base routes
  src/app/App.tsx
  src/app/Routes.test.tsx
  src/app/Routes.tsx
  src/app/base/hooks/base.test.tsx
  src/app/machines/views/MachineDetails/MachineDetails.test.tsx
  src/testing/constants.ts
  yarn.lock
Labels: Review: Code +1, Review: QA +1

#5298 ci: run tests on *cypress* branches
  .github/workflows/cypress.yml
Labels: Review: Code +1

#5300 build: optimize js bundle
  src/app/base/sagas/http.ts
  vite.config.ts
Labels: Review: Code +1, Review: QA +1

#5301 test: fix cypress failures #5281 WIP
  cypress/e2e/with-users/controllers/details.spec.ts
  cypress/e2e/with-users/machines/list.spec.ts
  cypress/support/commands.ts
Labels: Review: Code +1

#5302 ci: run cypress on pr
  .github/workflows/cypress.yml
Labels: Review: Code +1, Review: QA +1

#5306 ci(cypress): create issue only on main branches
  .github/workflows/cypress.yml
Labels: Review: Code needed
