Repository canonical/maas-ui, pull requests merged in 2024-02, with the labels that each got.

#5310 chore: remove .vscode settings
  .gitignore
  .vscode/settings.json
Labels: Review: Code needed

#5312 fix: tags header update action
  src/app/tags/components/TagsHeader/TagsHeader.test.tsx
  src/app/tags/components/TagsHeader/TagsHeader.tsx
  src/app/tags/types.ts
  src/app/tags/urls.ts
  src/app/tags/views/Tags.test.tsx
  src/app/tags/views/Tags.tsx
Labels: Review: Code +1, Review: QA +1

#5308 chore: use formatBytes from maas react components
  package.json
  src/app/base/components/UploadTextArea/UploadTextArea.tsx
  src/app/base/components/node/StorageTables/AvailableStorageTable/AddLogicalVolume/AddLogicalVolume.tsx
  src/app/base/components/node/StorageTables/AvailableStorageTable/AddPartition/AddPartition.tsx
  src/app/kvm/components/KVMForms/ComposeForm/ComposeForm.tsx
  src/app/kvm/components/KVMForms/ComposeForm/StorageTable/PoolSelect/PoolSelect.tsx
  src/app/kvm/components/KVMResourceMeter/KVMResourceMeter.tsx
  src/app/kvm/components/LXDVMsTable/VMsTable/VMsTable.tsx
  src/app/kvm/components/StorageColumn/StoragePopover/StoragePopover.tsx
  src/app/kvm/components/StorageResources/StorageCards/StorageCards.tsx
  src/app/kvm/components/StorageResources/StorageResources.tsx
  src/app/kvm/utils.ts
  src/app/machines/views/MachineDetails/MachineSummary/NumaCard/NumaCardDetails/NumaCardDetails.tsx
  src/app/machines/views/MachineList/MachineListTable/StorageColumn/StorageColumn.tsx
  src/app/store/utils/node/storage.ts
  src/app/utils/formatBytes.test.ts
  src/app/utils/formatBytes.ts
  src/app/utils/formatSpeedUnits.ts
  src/app/utils/index.ts
  yarn.lock
Labels: Review: Code +1, Review: QA +1

#5311 feat: maas-react-components pagination
  package.json
  src/app/base/components/ActionBar/ActionBar.tsx
  src/app/base/components/ActionBar/_index.scss
  src/app/base/components/ListDisplayCount/ListDisplayCount.test.tsx
  src/app/base/components/ListDisplayCount/ListDisplayCount.tsx
  src/app/base/components/ListDisplayCount/_index.scss
  src/app/base/components/ListDisplayCount/index.ts
  src/app/base/components/MainContentSection/MainContentSection.tsx
  src/app/base/components/MainContentSection/index.ts
  src/app/base/components/node/NodeLogs/EventLogs/EventLogs.test.tsx
  src/app/base/components/node/NodeLogs/EventLogs/EventLogs.tsx
  src/app/machines/views/MachineList/MachineListTable/MachineListDisplayCount/MachineListDisplayCount.test.tsx
  src/app/machines/views/MachineList/MachineListTable/MachineListDisplayCount/MachineListDisplayCount.tsx
  src/app/machines/views/MachineList/MachineListTable/MachineListDisplayCount/_index.scss
  src/app/machines/views/MachineList/MachineListTable/MachineListDisplayCount/index.ts
  src/app/machines/views/MachineList/MachineListTable/MachineListPagination/MachineListPagination.tsx
  src/app/machines/views/MachineList/MachineListTable/MachineListPagination/_index.scss
  src/app/machines/views/MachineList/MachineListTable/MachineListTable.tsx
  src/app/tags/views/TagList/TagList.tsx
  src/scss/index.scss
  yarn.lock
Labels: Review: Code +1, Review: QA +1

#5319 fix: settings top padding
  src/app/base/components/MainContentSection/MainContentSection.test.tsx
  src/app/base/components/MainContentSection/MainContentSection.tsx
  src/app/base/components/NotificationList/NotificationList.test.tsx
  src/app/base/components/NotificationList/NotificationList.tsx
  src/app/base/components/PageContent/PageContent.tsx
  src/app/store/message/selectors.test.ts
  src/app/store/message/selectors.ts
Labels: Review: Code +1, Review: QA +1

#5318 fix: update machine deploy form UI behavior
  src/app/machines/components/MachineForms/MachineActionFormWrapper/DeployForm/DeployForm.tsx
  src/app/machines/components/MachineForms/MachineActionFormWrapper/DeployForm/DeployFormFields/DeployFormFields.tsx
Labels: Review: Code needed, Review: QA needed

#5321 fix: backport #5151 lxd certificate code block
  src/app/base/components/CertificateDownload/CertificateDownload.tsx
Labels: Review: Code +1, Backport 3.4 :arrow_backward:

#5323 chore: update renovate configuration with groups
  renovate.json
Labels: Review: Code needed

#5325 fix: kvm support message for virsh only lp#2053096
  src/app/machines/components/MachineForms/MachineActionFormWrapper/DeployForm/DeployFormFields/DeployFormFields.test.tsx
  src/app/machines/components/MachineForms/MachineActionFormWrapper/DeployForm/DeployFormFields/DeployFormFields.tsx
Labels: Review: Code +1, Review: QA +1
