Repository canonical/maas-ui, pull requests merged in 2024-05, with the labels that each got.

#5420 feat(subnets): Add form to reserve DHCP lease MAASENG-2975 WIP
  src/app/base/components/PrefixedInput/PrefixedInput.test.tsx
  src/app/base/components/PrefixedInput/PrefixedInput.tsx
  src/app/base/components/PrefixedInput/_index.scss
  src/app/base/components/PrefixedInput/index.ts
  src/app/base/components/PrefixedIpInput/PrefixedIpInput.test.tsx
  src/app/base/components/PrefixedIpInput/PrefixedIpInput.tsx
  src/app/base/components/PrefixedIpInput/index.ts
  src/app/subnets/views/SubnetDetails/StaticDHCPLease/ReserveDHCPLease/ReserveDHCPLease.test.tsx
  src/app/subnets/views/SubnetDetails/StaticDHCPLease/ReserveDHCPLease/ReserveDHCPLease.tsx
  src/app/subnets/views/SubnetDetails/StaticDHCPLease/ReserveDHCPLease/index.ts
  src/app/subnets/views/SubnetDetails/StaticDHCPLease/StaticDHCPLease.tsx
  src/app/subnets/views/SubnetDetails/SubnetActionForms/SubnetActionForms.tsx
  src/app/subnets/views/SubnetDetails/constants.ts
  src/app/utils/subnetIpRange.test.ts
  src/app/utils/subnetIpRange.ts
  src/scss/index.scss
Labels: Review: QA +1, Review: Code +1 (with changes)

#5424 chore: upgrade prettier to v3
  .prettierrc
  package.json
  src/app/base/components/DhcpFormFields/DhcpFormFields.tsx
  src/app/base/components/PageContent/PageContent.tsx
  src/app/base/components/node/NodeLogs/hooks.test.tsx
  src/app/base/components/node/OverviewCard/ControllerStatusCard/ControllerStatusCard.tsx
  src/app/base/hooks/base.test.tsx
  src/app/base/hooks/node-networking.test.tsx
  src/app/base/hooks/node.test.tsx
  src/app/base/hooks/urls.test.tsx
  src/app/controllers/views/ControllerDetails/ControllerSummary/ServicesCard/ServiceStatus/ServiceStatus.tsx
  src/app/devices/views/DeviceDetails/DeviceNetwork/AddInterface/AddInterface.tsx
  src/app/devices/views/DeviceDetails/DeviceNetwork/EditInterface/EditInterface.tsx
  src/app/intro/hooks.test.tsx
  src/app/kvm/components/VfResources/VfResources.tsx
  src/app/kvm/hooks.test.tsx
  src/app/machines/hooks.test.tsx
  src/app/machines/views/MachineDetails/MachineTests/MachineTests.tsx
  src/app/machines/views/MachineList/MachineListTable/AllCheckbox/AllCheckbox.tsx
  src/app/machines/views/MachineList/MachineListTable/GroupCheckbox/GroupCheckbox.tsx
  src/app/machines/views/MachineList/hooks.ts
  src/app/settings/hooks.test.tsx
  src/app/store/general/types/base.ts
  src/app/store/general/utils/hooks.test.tsx
  src/app/store/machine/utils/hooks.test.tsx
  src/app/store/machine/utils/hooks.tsx
  src/app/store/subnet/hooks.test.tsx
  src/app/store/utils/selectors.ts
  src/app/store/utils/slice.ts
  src/app/utils/formatErrors.ts
  src/app/utils/search/filter-items.ts
  src/testing/utils.tsx
  yarn.lock
Labels: Review: Code +1

#5425 refactor: PrefixedInput input set text method MAASENG-3116
  src/app/base/components/PrefixedInput/PrefixedInput.test.tsx
  src/app/base/components/PrefixedInput/PrefixedInput.tsx
  src/app/base/components/PrefixedInput/_index.scss
  src/app/base/components/PrefixedIpInput/PrefixedIpInput.test.tsx
Labels: Review: Code +1, Review: QA +1

#5426 fix: ssh key display lp#2064920
  src/app/base/components/SSHKeyList/SSHKeyList.test.tsx
  src/app/base/components/SSHKeyList/SSHKeyList.tsx
  src/app/base/components/SSHKeyList/_index.scss
  src/app/preferences/views/APIKeys/APIKeyList/APIKeyList.tsx
  src/app/preferences/views/SSLKeys/SSLKeyList/SSLKeyList.tsx
Labels: Review: Code +1, Review: QA +1

#5428 refactor: add generateGetReducers util MAASENG-3132 WIP
  src/app/store/controller/slice.ts
  src/app/store/device/slice.ts
  src/app/store/domain/reducers.test.ts
  src/app/store/domain/slice.ts
  src/app/store/fabric/slice.ts
  src/app/store/iprange/slice.ts
  src/app/store/pod/slice.ts
  src/app/store/space/slice.ts
  src/app/store/subnet/slice.ts
  src/app/store/utils/slice.ts
  src/app/store/vlan/slice.ts
Labels: Review: Code +1, Review: QA +1

#5429 refactor: generate common reducers
  src/app/store/auth/slice.ts
  src/app/store/bootresource/slice.ts
  src/app/store/config/slice.ts
  src/app/store/controller/slice.ts
  src/app/store/device/slice.ts
  src/app/store/dhcpsnippet/slice.ts
  src/app/store/discovery/slice.ts
  src/app/store/domain/slice.ts
  src/app/store/event/slice.ts
  src/app/store/fabric/slice.ts
  src/app/store/general/slice.ts
  src/app/store/iprange/slice.ts
  src/app/store/licensekeys/slice.ts
  src/app/store/machine/slice.ts
  src/app/store/nodedevice/slice.ts
  src/app/store/notification/slice.ts
  src/app/store/packagerepository/slice.ts
  src/app/store/pod/slice.ts
  src/app/store/resourcepool/slice.ts
  src/app/store/script/slice.ts
  src/app/store/scriptresult/slice.ts
  src/app/store/service/slice.ts
  src/app/store/space/slice.ts
  src/app/store/sshkey/slice.ts
  src/app/store/sslkey/slice.ts
  src/app/store/staticroute/slice.ts
  src/app/store/status/slice.ts
  src/app/store/subnet/slice.ts
  src/app/store/tag/slice.ts
  src/app/store/token/slice.ts
  src/app/store/user/slice.ts
  src/app/store/utils/slice.test.ts
  src/app/store/utils/slice.ts
  src/app/store/vlan/slice.ts
  src/app/store/vmcluster/slice.ts
  src/app/store/zone/slice.ts
Labels: Review: Code +1

#5427 feat(reservedip): Add reserved ips to redux store MAASENG-2983
  src/__snapshots__/root-reducer.test.ts.snap
  src/app/store/reservedip/action.test.ts
  src/app/store/reservedip/index.ts
  src/app/store/reservedip/reducers.test.ts
  src/app/store/reservedip/selectors.test.ts
  src/app/store/reservedip/selectors.ts
  src/app/store/reservedip/slice.ts
  src/app/store/reservedip/types/actions.ts
  src/app/store/reservedip/types/base.ts
  src/app/store/reservedip/types/enum.ts
  src/app/store/reservedip/types/index.ts
  src/app/store/reservedip/utils.test.ts
  src/app/store/reservedip/utils.ts
  src/app/store/root/types.ts
  src/app/store/subnet/hooks.ts
  src/app/store/subnet/types/base.ts
  src/app/subnets/views/SubnetDetails/StaticDHCPLease/DeleteDHCPLease/DeleteDHCPLease.test.tsx
  src/app/subnets/views/SubnetDetails/StaticDHCPLease/DeleteDHCPLease/DeleteDHCPLease.tsx
  src/app/subnets/views/SubnetDetails/StaticDHCPLease/ReserveDHCPLease/ReserveDHCPLease.test.tsx
  src/app/subnets/views/SubnetDetails/StaticDHCPLease/ReserveDHCPLease/ReserveDHCPLease.tsx
  src/app/subnets/views/SubnetDetails/StaticDHCPLease/StaticDHCPLease.tsx
  src/app/subnets/views/SubnetDetails/StaticDHCPLease/StaticDHCPTable/StaticDHCPTable.test.tsx
  src/app/subnets/views/SubnetDetails/StaticDHCPLease/StaticDHCPTable/StaticDHCPTable.tsx
  src/app/subnets/views/SubnetDetails/SubnetActionForms/SubnetActionForms.tsx
  src/app/subnets/views/SubnetDetails/constants.ts
  src/app/subnets/views/SubnetDetails/types.ts
  src/root-reducer.ts
  src/testing/factories/index.ts
  src/testing/factories/reservedip.ts
  src/testing/factories/state.ts
  src/testing/factories/subnet.ts
Labels: Review: QA +1, Review: Code +1 (with changes)

#5435 feat(subnets): Edit reserved IPs MAASENG-2976 & MAASENG-2984
  src/app/store/reservedip/reducers.test.ts
  src/app/store/reservedip/slice.ts
  src/app/subnets/views/SubnetDetails/StaticDHCPLease/ReserveDHCPLease/ReserveDHCPLease.test.tsx
  src/app/subnets/views/SubnetDetails/StaticDHCPLease/ReserveDHCPLease/ReserveDHCPLease.tsx
  src/app/subnets/views/SubnetDetails/StaticDHCPLease/StaticDHCPTable/StaticDHCPTable.test.tsx
  src/app/subnets/views/SubnetDetails/StaticDHCPLease/StaticDHCPTable/StaticDHCPTable.tsx
  src/app/subnets/views/SubnetDetails/SubnetActionForms/SubnetActionForms.tsx
  src/scss/_utilities.scss
Labels: Review: QA needed, Review: Code +1

#5436 refactor: fix selector memoization warning
  src/app/machines/views/MachineDetails/MachineConfiguration/TagForm/TagForm.tsx
  src/app/store/subnet/selectors.ts
  src/app/subnets/views/VLANDetails/DHCPStatus/DHCPStatus.tsx
Labels: Review: Code +1, Review: QA +1

#5439 refactor: pod selectors caching
  src/app/base/components/AppSideNavigation/AppSideNavigation.test.tsx
  src/app/store/pod/selectors.ts
Labels: Review: Code +1

#5443 fix(cypress): failing static routes test
  cypress/e2e/with-users/subnets/staticroutes.spec.ts
Labels: Review: Code needed

#5448 fix: DHCPTable, TagForm, VLANDetails selectors
  src/app/base/components/DHCPTable/DHCPTable.tsx
  src/app/machines/views/MachineDetails/MachineConfiguration/TagForm/TagForm.tsx
  src/app/subnets/views/VLANDetails/VLANDetails.tsx
Labels: Review: Code +1, Review: QA +1
