Repository canonical/maas-ui, pull requests merged in 2024-03, with the labels that each got.

#5326 fix: composing machine does not update list lp#1842524
  src/app/kvm/components/KVMForms/ComposeForm/ComposeForm.tsx
  src/app/store/machine/reducers.test.ts
  src/app/store/machine/slice.ts
Labels: Review: Code +1, Review: QA +1

#5331 build(dotrun): remove start_django_db
  run
Labels: Review: Code +1, Review: QA +1

#5334 fix(prefs): Adding/editing API key no longer shows "Deleted" message MAASENG-2812
  src/app/preferences/views/APIKeys/APIKeyDeleteForm/APIKeyDeleteForm.tsx
  src/app/preferences/views/APIKeys/APIKeyList/APIKeyList.tsx
Labels: Review: Code needed, Review: QA needed

#5335 fix: change storage layout sidepanel MAASENG-2798
  src/app/machines/components/MachineForms/MachineForms.tsx
  src/app/machines/constants.ts
  src/app/machines/views/MachineDetails/MachineStorage/ChangeStorageLayout/ChangeStorageLayout.test.tsx
  src/app/machines/views/MachineDetails/MachineStorage/ChangeStorageLayout/ChangeStorageLayout.tsx
  src/app/machines/views/MachineDetails/MachineStorage/ChangeStorageLayoutMenu/ChangeStorageLayoutMenu.tsx
  src/app/store/utils/node/base.ts
Labels: Review: Code +1, Review: QA +1

#5339 fix(users): Adding/editing user no longer shows "Deleted" message MAASENG-2797
  src/app/settings/views/Users/UserDelete/UserDelete.test.tsx
  src/app/settings/views/Users/UserDeleteForm/UserDeleteForm.tsx
  src/app/settings/views/Users/UsersList/UsersList.test.tsx
  src/app/settings/views/Users/UsersList/UsersList.tsx
Labels: Review: Code +1, Review: QA +1

#5340 fix(prefs): Adding SSL key no longer shows "Removed" message MAASENG-2813
  src/app/preferences/views/SSLKeys/SSLKeyList/SSLKeyList.tsx
Labels: Review: Code +1, Review: QA +1

#5336 feat: move machine details forms to side panel
  src/app/base/components/ModelActionForm/ModelActionForm.tsx
  src/app/base/components/node/networking/NetworkTable/NetworkTable.test.tsx
  src/app/base/components/node/networking/NetworkTable/NetworkTable.tsx
  src/app/machines/components/MachineForms/MachineForms.tsx
  src/app/machines/constants.ts
  src/app/machines/types.ts
  src/app/machines/views/MachineDetails/MachineNetwork/AddAliasOrVlan/AddAliasOrVlanFields/AddAliasOrVlanFields.tsx
  src/app/machines/views/MachineDetails/MachineNetwork/EditAliasOrVlanForm/EditAliasOrVlanForm.tsx
  src/app/machines/views/MachineDetails/MachineNetwork/EditBridgeForm/EditBridgeForm.tsx
  src/app/machines/views/MachineDetails/MachineNetwork/EditInterface/EditInterface.test.tsx
  src/app/machines/views/MachineDetails/MachineNetwork/EditInterface/EditInterface.tsx
  src/app/machines/views/MachineDetails/MachineNetwork/EditPhysicalForm/EditPhysicalFields/EditPhysicalFields.tsx
  src/app/machines/views/MachineDetails/MachineNetwork/EditPhysicalForm/EditPhysicalForm.tsx
  src/app/machines/views/MachineDetails/MachineNetwork/MachineNetwork.tsx
  src/app/machines/views/MachineDetails/MachineNetwork/MarkConnectedForm/MarkConnectedForm.test.tsx
  src/app/machines/views/MachineDetails/MachineNetwork/MarkConnectedForm/MarkConnectedForm.tsx
  src/app/machines/views/MachineDetails/MachineNetwork/MarkConnectedForm/index.ts
  src/app/machines/views/MachineDetails/MachineNetwork/NetworkTable/NetworkTableActions/NetworkTableActions.test.tsx
  src/app/machines/views/MachineDetails/MachineNetwork/NetworkTable/NetworkTableActions/NetworkTableActions.tsx
  src/app/machines/views/MachineDetails/MachineNetwork/RemovePhysicalForm/RemovePhysicalForm.test.tsx
  src/app/machines/views/MachineDetails/MachineNetwork/RemovePhysicalForm/RemovePhysicalForm.tsx
  src/app/machines/views/MachineDetails/MachineNetwork/RemovePhysicalForm/index.ts
  src/app/store/utils/node/base.ts
Labels: Review: Code +1, Review: QA +1

#5344 fix: enable name column on partitions table on side panel close
  src/app/base/components/node/StorageTables/AvailableStorageTable/AvailableStorageTable.test.tsx
  src/app/base/components/node/StorageTables/AvailableStorageTable/AvailableStorageTable.tsx
  src/app/base/components/node/StorageTables/AvailableStorageTable/BulkActions/BulkActions.test.tsx
  src/app/base/components/node/StorageTables/AvailableStorageTable/BulkActions/BulkActions.tsx
Labels: Review: Code +1, Review: QA +1

#5345 fix(nav): Nav collapses when links are clicked on mobile MAASENG-2384
  cypress/e2e/with-users/base/navigation.spec.ts
  src/app/base/components/AppSideNavigation/AppSideNavItem/AppSideNavItem.tsx
  src/app/base/components/AppSideNavigation/AppSideNavItems/AppSideNavItems.tsx
  src/app/base/components/AppSideNavigation/AppSideNavigation.tsx
  src/app/constants.ts
Labels: Review: Code +1, Review: QA +1

#5347 ci: refactor sitespeed login retry
  .github/workflows/sitespeed.yml
Labels: Review: Code +1

#5348 fix(kvm): KVM CPU resources label positioning MAASENG-2381
  src/app/kvm/components/CoreResources/_index.scss
Labels: Review: Code +1, Review: QA +1

#5349 feat: move non-partition collapsible forms to side panel
  src/app/base/components/TableActionsDropdown/TableActionsDropdown.test.tsx
  src/app/base/components/TableActionsDropdown/TableActionsDropdown.tsx
  src/app/base/components/node/StorageTables/AvailableStorageTable/AddPartition/AddPartitionFields/AddPartitionFields.tsx
  src/app/base/components/node/StorageTables/AvailableStorageTable/AvailableStorageTable.test.tsx
  src/app/base/components/node/StorageTables/AvailableStorageTable/AvailableStorageTable.tsx
  src/app/base/components/node/StorageTables/AvailableStorageTable/CreateCacheSet/CreateCacheSet.test.tsx
  src/app/base/components/node/StorageTables/AvailableStorageTable/CreateCacheSet/CreateCacheSet.tsx
  src/app/base/components/node/StorageTables/AvailableStorageTable/CreateCacheSet/index.ts
  src/app/base/components/node/StorageTables/AvailableStorageTable/DeleteDisk/DeleteDisk.test.tsx
  src/app/base/components/node/StorageTables/AvailableStorageTable/DeleteDisk/DeleteDisk.tsx
  src/app/base/components/node/StorageTables/AvailableStorageTable/DeleteDisk/index.ts
  src/app/base/components/node/StorageTables/AvailableStorageTable/EditDisk/EditDiskFields/EditDiskFields.tsx
  src/app/base/components/node/StorageTables/AvailableStorageTable/SetBootDisk/SetBootDisk.test.tsx
  src/app/base/components/node/StorageTables/AvailableStorageTable/SetBootDisk/SetBootDisk.tsx
  src/app/base/components/node/StorageTables/AvailableStorageTable/SetBootDisk/index.ts
  src/app/base/components/node/StorageTables/AvailableStorageTable/StorageDeviceActions/StorageDeviceActions.tsx
  src/app/machines/components/MachineForms/MachineForms.tsx
  src/app/machines/constants.ts
  src/app/machines/types.ts
  src/app/store/utils/node/base.ts
Labels: Review: QA +1, Review: Code +1 (with changes)

#5350 fix: cannot delete image while downloading MAASENG-2863
  src/app/images/components/ImagesTable/ImagesTable.test.tsx
  src/app/images/components/ImagesTable/ImagesTable.tsx
Labels: Review: QA +1

#5352 feat: update image sync (tooltip) information
  src/app/images/views/ImageList/ImageListHeader/ImageListHeader.tsx
Labels: Review: Code +1, Review: QA +1

#5357 fix: reserve range error state
  src/app/subnets/components/ReservedRangeForm/ReservedRangeForm.test.tsx
  src/app/subnets/components/ReservedRangeForm/ReservedRangeForm.tsx
Labels: Review: Code +1, Review: QA +1

#5358 fix: login error message spacing MAASENG-2885
  src/app/App.tsx
  src/app/base/components/Login/Login.test.tsx
  src/app/base/components/Login/Login.tsx
  src/testing/utils.tsx
Labels: Review: Code +1, Review: QA +1

#5360 fix(machines): Remove typo on empty network table MAASENG-2889
  src/app/base/components/node/networking/NetworkTable/NetworkTable.tsx
Labels: Review: Code +1, Review: QA +1

#5359 fix: errors appear as json strings MAASENG-2888 lp#1819628
  src/app/utils/formatErrors.test.ts
  src/app/utils/formatErrors.ts
Labels: Review: Code +1, Review: QA +1

#5361 fix: header spacing and forms layout MAASENG-2892
  cypress/e2e/with-users/controllers/details.spec.ts
  src/app/base/components/FormikFormContent/FormikFormContent.test.tsx
  src/app/base/components/FormikFormContent/FormikFormContent.tsx
  src/app/base/components/NodeActionMenuGroup/index.scss
  src/app/base/components/SectionHeader/SectionHeader.test.tsx
  src/app/base/components/SectionHeader/SectionHeader.tsx
  src/app/base/components/SectionHeader/_index.scss
  src/app/kvm/components/KVMDetailsHeader/_index.scss
  src/app/kvm/components/LXDHostToolbar/_index.scss
  src/app/machines/views/MachineDetails/MachineHeader/MachineHeader.tsx
  src/app/zones/views/ZoneDetails/ZoneDetailsHeader/ZoneDetailsHeader.test.tsx
Labels: Review: Code +1, Review: QA +1

#5365 feat: move file system forms to side panel
  src/app/base/components/node/StorageTables/FilesystemsTable/DeleteFilesystem/DeleteFilesystem.test.tsx
  src/app/base/components/node/StorageTables/FilesystemsTable/DeleteFilesystem/DeleteFilesystem.tsx
  src/app/base/components/node/StorageTables/FilesystemsTable/DeleteFilesystem/index.ts
  src/app/base/components/node/StorageTables/FilesystemsTable/DeleteSpecialFilesystem/DeleteSpecialFilesystem.test.tsx
  src/app/base/components/node/StorageTables/FilesystemsTable/DeleteSpecialFilesystem/DeleteSpecialFilesystem.tsx
  src/app/base/components/node/StorageTables/FilesystemsTable/DeleteSpecialFilesystem/index.ts
  src/app/base/components/node/StorageTables/FilesystemsTable/FilesystemsTable.test.tsx
  src/app/base/components/node/StorageTables/FilesystemsTable/FilesystemsTable.tsx
  src/app/base/components/node/StorageTables/FilesystemsTable/UnmountFilesystem/UnmountFilesystem.test.tsx
  src/app/base/components/node/StorageTables/FilesystemsTable/UnmountFilesystem/UnmountFilesystem.tsx
  src/app/base/components/node/StorageTables/FilesystemsTable/UnmountFilesystem/index.ts
  src/app/machines/components/MachineForms/MachineForms.tsx
  src/app/machines/constants.ts
  src/app/machines/types.ts
  src/app/store/utils/node/base.ts
Labels: Review: Code +1, Review: QA +1

#5366 fix: remove synchronization status from controller list
  src/app/controllers/views/ControllerList/ControllerListTable/ControllerListTable.tsx
  src/app/controllers/views/ControllerList/ControllerListTable/_index.scss
Labels: Review: Code +1, Review: QA +1

#5367 fix: align side panel content section header
  src/app/base/components/AppSidePanel/AppSidePanel.tsx
Labels: Review: Code +1, Review: QA +1

#5371 fix: soft power off lp#2058662
  src/app/base/components/node/PowerOffForm/PowerOffForm.test.tsx
  src/app/store/machine/reducers.test.ts
  src/app/store/machine/slice.ts
Labels: Review: Code +1, Review: QA +1

#5376 fix: enable deletion of images queued for download
  src/app/images/components/ImagesTable/ImagesTable.test.tsx
  src/app/images/components/ImagesTable/ImagesTable.tsx
Labels: Review: QA +1, Review: Code +1 (with changes)

#5369 chore(deps): Upgrade react-router-dom to v6 MAASENG-1606
  package.json
  src/__snapshots__/root-reducer.test.ts.snap
  src/app/Routes.test.tsx
  src/app/Routes.tsx
  src/app/base/components/AppSideNavigation/AppSideNavigation.test.tsx
  src/app/base/components/AppSidePanel/AppSidePanel.tsx
  src/app/base/components/node/NodeLogs/NodeLogs.tsx
  src/app/controllers/views/ControllerDetails/ControllerDetails.tsx
  src/app/controllers/views/ControllerList/ControllerList.test.tsx
  src/app/devices/views/DeviceDetails/DeviceDetails.tsx
  src/app/devices/views/DeviceList/DeviceList.test.tsx
  src/app/devices/views/DeviceList/DeviceListHeader/DeviceListHeader.test.tsx
  src/app/intro/components/IntroSection/IntroSection.test.tsx
  src/app/kvm/components/SettingsBackLink/SettingsBackLink.test.tsx
  src/app/kvm/components/SettingsBackLink/SettingsBackLink.tsx
  src/app/kvm/views/LXDClusterDetails/LXDClusterDetails.tsx
  src/app/kvm/views/LXDClusterDetails/LXDClusterDetailsRedirect/LXDClusterDetailsRedirect.test.tsx
  src/app/kvm/views/LXDClusterDetails/LXDClusterDetailsRedirect/LXDClusterDetailsRedirect.tsx
  src/app/kvm/views/LXDClusterDetails/LXDClusterHosts/LXDClusterHostsTable/LXDClusterHostsTable.tsx
  src/app/kvm/views/LXDSingleDetails/LXDSingleDetails.tsx
  src/app/kvm/views/LXDSingleDetails/LXDSingleSettings/LXDSingleSettings.test.tsx
  src/app/kvm/views/VirshDetails/VirshDetails.tsx
  src/app/machines/views/MachineDetails/MachineDetails.tsx
  src/app/preferences/components/Routes/Routes.tsx
  src/app/preferences/views/SSHKeys/AddSSHKey/AddSSHKey.test.tsx
  src/app/preferences/views/SSLKeys/AddSSLKey/AddSSLKey.test.tsx
  src/app/settings/components/Routes/Routes.test.tsx
  src/app/settings/components/Routes/Routes.tsx
  src/app/settings/views/Dhcp/DhcpForm/DhcpForm.test.tsx
  src/app/settings/views/LicenseKeys/LicenseKeyForm/LicenseKeyForm.test.tsx
  src/app/settings/views/Repositories/RepositoryForm/RepositoryForm.test.tsx
  src/app/settings/views/Scripts/ScriptsUpload/ScriptsUpload.test.tsx
  src/app/settings/views/Users/UserForm/UserForm.test.tsx
  src/app/subnets/components/DHCPSnippets/DHCPSnippets.test.tsx
  src/app/subnets/views/FabricDetails/FabricVLANs/FabricVLANs.test.tsx
  src/app/subnets/views/SpaceDetails/SpaceDetailsHeader/SpaceDetailsHeader.test.tsx
  src/app/subnets/views/SpaceDetails/SpaceSubnets/SpaceSubnets.test.tsx
  src/app/subnets/views/SubnetDetails/SubnetDetailsHeader/SubnetActionForms/components/DeleteSubnet/DeleteSubnet.test.tsx
  src/app/tags/components/AddTagForm/AddTagForm.test.tsx
  src/app/tags/components/TagDetails/TagDetails.test.tsx
  src/app/tags/components/TagsHeader/DeleteTagForm/DeleteTagForm.test.tsx
  src/app/tags/views/TagList/TagTable/TagTable.test.tsx
  src/app/tags/views/TagUpdate/TagUpdate.test.tsx
  src/app/zones/views/ZoneDetails/ZoneDetailsHeader/ZoneDetailsHeader.test.tsx
  src/index.tsx
  src/redux-store.ts
  src/testing/factories/state.ts
  yarn.lock
Labels: Review: QA +1, Review: Code +1 (with changes)

#5377 fix: change source side panel lp#2058340
  src/app/images/views/ImageList/SyncedImages/ChangeSource/FetchImagesForm/FetchImagesFormFields/FetchImagesFormFields.tsx
  src/app/images/views/ImageList/SyncedImages/ChangeSource/FetchedImages/FetchedImages.tsx
  src/scss/_patterns_application.scss
Labels: Review: Code +1, Review: QA +1

#5380 refactor: remove dead code
  src/app/base/components/node/MachinesHeader/MachinesHeader.test.tsx
  src/app/base/components/node/MachinesHeader/MachinesHeader.tsx
  src/app/base/components/node/MachinesHeader/index.ts
  src/app/controllers/components/ImageStatus/ImageStatus.test.tsx
  src/app/controllers/components/ImageStatus/ImageStatus.tsx
  src/app/controllers/components/ImageStatus/index.ts
  src/app/controllers/views/ControllerDetails/ControllerConfiguration/types.ts
  src/app/devices/views/DeviceDetails/DeviceNetwork/EditInterface/EditInterfaceTable/EditInterfaceTable.test.tsx
  src/app/devices/views/DeviceDetails/DeviceNetwork/EditInterface/EditInterfaceTable/EditInterfaceTable.tsx
  src/app/devices/views/DeviceDetails/DeviceNetwork/EditInterface/EditInterfaceTable/index.ts
  src/app/machines/views/MachineDetails/MachineNetwork/NetworkTable/NetworkTableConfirmation/NetworkTableConfirmation.test.tsx
  src/app/machines/views/MachineDetails/MachineNetwork/NetworkTable/NetworkTableConfirmation/NetworkTableConfirmation.tsx
  src/app/machines/views/MachineDetails/MachineNetwork/NetworkTable/NetworkTableConfirmation/index.ts
Labels: Review: Code +1, Review: QA +1
