Repository canonical/maas-ui, pull requests merged in 2025-03, with the labels that each got.

#5634 chore(deps): Bump @sentry/browser to 7.119.1
  package.json
  src/app/App.tsx
  yarn.lock
Labels: Review: Code needed

#5629 chore(store): Remove SSH keys from store MAASENG-4516
  src/app/base/components/SSHKeyList/SSHKeyList.test.tsx
  src/app/store/root/types.ts
  src/app/store/sshkey/actions.test.ts
  src/app/store/sshkey/index.ts
  src/app/store/sshkey/reducers.test.ts
  src/app/store/sshkey/selectors.test.ts
  src/app/store/sshkey/selectors.ts
  src/app/store/sshkey/slice.ts
  src/app/store/sshkey/types/actions.ts
  src/app/store/sshkey/types/base.ts
  src/app/store/sshkey/types/enum.ts
  src/app/store/sshkey/types/index.ts
  src/root-reducer.test.ts
  src/root-reducer.ts
  src/testing/factories/index.ts
  src/testing/factories/sshkey.ts
  src/testing/factories/state.ts
  src/testing/resolvers/sshKeys.ts
Labels: Review: Code needed

#5637 feat(pools): Create and update pools endpoint migration to API v3 MAASENG-4498-4500
  src/app/api/query/pools.test.ts
  src/app/api/query/pools.ts
  src/app/apiclient/@tanstack/react-query.gen.ts
  src/app/apiclient/sdk.gen.ts
  src/app/apiclient/types.gen.ts
  src/app/pools/components/PoolForm/PoolForm.test.tsx
  src/app/pools/components/PoolForm/PoolForm.tsx
  src/testing/resolvers/pools.ts
Labels: Review: Code +1, Review: QA +1

#5623 chore(deps): Update MAAS UI Redux ecosystem MAASENG-4482
  package.json
  src/app/machines/components/MachineForms/MachineActionFormWrapper/MachineActionFormWrapper.tsx
  src/app/store/auth/slice.ts
  src/app/store/controller/slice.ts
  src/app/store/device/slice.ts
  src/app/store/machine/slice.ts
  src/app/store/pod/slice.ts
  src/app/store/subnet/slice.ts
  src/app/store/utils/selectors.ts
  src/app/store/utils/slice.test.ts
  src/app/store/utils/slice.ts
  src/app/store/vlan/slice.ts
  src/redux-store.ts
  src/root-reducer.ts
  yarn.lock
Labels: Review: Code +1

#5641 fix(zones): Show error messages for zone mutations MAASENG-4541
  src/app/zones/views/ZonesList/ZonesListTable/AddZone/AddZone.test.tsx
  src/app/zones/views/ZonesList/ZonesListTable/AddZone/AddZone.tsx
  src/app/zones/views/ZonesList/ZonesListTable/DeleteZone/DeleteZone.test.tsx
  src/app/zones/views/ZonesList/ZonesListTable/DeleteZone/DeleteZone.tsx
  src/app/zones/views/ZonesList/ZonesListTable/EditZone/EditZone.test.tsx
  src/app/zones/views/ZonesList/ZonesListTable/EditZone/EditZone.tsx
  src/testing/resolvers/zones.ts
Labels: Review: Code +1, Review: QA +1

#5638 feat(pools): Delete pool endpoint migration to API v3 MAASENG-4497
  src/app/api/query/pools.test.ts
  src/app/api/query/pools.ts
  src/app/pools/components/PoolDeleteForm/PoolDeleteForm.test.tsx
  src/app/pools/components/PoolDeleteForm/PoolDeleteForm.tsx
  src/app/pools/views/PoolDelete/PoolDelete.test.tsx
  src/testing/resolvers/pools.ts
Labels: Review: QA +1, Review: Code +1 (with changes)

#5639 fix(images): Images QA MAASENG-4536
  src/app/images/components/ImagesForms/SelectUpstreamImagesForm/SelectUpstreamImagesForm.test.tsx
  src/app/images/components/ImagesForms/SelectUpstreamImagesForm/SelectUpstreamImagesSelect/SelectUpstreamImagesSelect.test.tsx
  src/app/images/components/ImagesForms/SelectUpstreamImagesForm/SelectUpstreamImagesSelect/SelectUpstreamImagesSelect.tsx
  src/app/settings/views/Images/ChangeSource/ChangeSourceFields/ChangeSourceFields.tsx
  vitest.config.ts
Labels: Review: Code +1, Review: QA +1, Review: UX +1

#5642 fix: convert sitespeed back to commonjs
  sitespeed.io/login.js
  sitespeed.io/scripts/machines.js
Labels: Review: Code +1

#5643 fix: cypress test maas ui failure
  cypress/support/commands.ts
Labels: Review: Code +1, Review: QA +1

#5647 docs: update links for machine add, hardware sync, cloud init and kernel options
  src/app/base/components/node/OverviewCard/MachineStatusCard/MachineStatusCard.test.tsx
  src/app/base/components/node/OverviewCard/MachineStatusCard/MachineStatusCard.tsx
  src/app/base/docsUrls.ts
  src/app/machines/components/MachineForms/MachineActionFormWrapper/DeployForm/DeployFormFields/DeployFormFields.tsx
Labels: Review: Code +1

#5649 fix: use correct relative import for utils in sitespeed machine test
  sitespeed.io/scripts/machines.js
Labels: Review: Code needed

#5651 ci: set correct TiCS coverage directory
  .github/workflows/coverage.yaml
  vitest.config.ts
  yarn.lock
Labels: Review: Code +1

#5654 fix(api): use '/' as the baseUrl for the API client
  .github/workflows/pr-lint.yml
  package.json
  src/hey-api.ts
Labels: Review: Code +1, Review: QA +1

#5653 feat(pools): Migrate pools list to API v3 MAASENG-4543
  src/app/api/query/pools.test.ts
  src/app/api/query/pools.ts
  src/app/pools/views/PoolList/PoolList.test.tsx
  src/app/pools/views/PoolList/PoolList.tsx
  src/testing/resolvers/pools.ts
Labels: Review: QA +1, Review: Code +1 (with changes)

#5661 docs: Explain React Query implementation in MAASUI.md MAASENG-3598
  docs/MAASUI.md
Labels: Review: Code needed

#5660 chore: Disable SASS errors for dependencies MAASENG-4549
  src/app/base/components/DebounceSearchBox/_index.scss
  src/app/base/components/FilterAccordion/_index.scss
  src/app/base/components/NotificationGroup/_index.scss
  src/app/base/components/TableMenu/_index.scss
  src/app/base/components/node/OverviewCard/_index.scss
  src/app/base/components/node/networking/NetworkTable/_index.scss
  src/app/devices/views/DeviceDetails/DeviceNetwork/DeviceNetworkTable/_index.scss
  src/app/kvm/components/VmResources/_index.scss
  src/app/machines/views/MachineDetails/MachineSummary/NumaCard/_index.scss
  src/app/settings/components/SettingsTable/_index.scss
  src/app/subnets/views/SubnetDetails/SubnetActionForms/components/EditBootArchitectures/BootArchitecturesTable/_index.scss
  src/scss/_patterns_double-row.scss
  src/scss/_patterns_forms.scss
  src/scss/_patterns_grids.scss
  src/scss/_patterns_typography.scss
  src/scss/_pseudo-border.scss
  src/scss/_settings.scss
  src/scss/_utilities.scss
  vite.config.ts
Labels: Review: Code needed, Review: QA needed

#5666 fix: MAAS UI docs links
  src/app/base/docsUrls.ts
Labels: Review: Code needed

#5668 chore: refactor pools and SSH keys to best practices
  src/app/base/components/ResourcePoolSelect/ResourcePoolSelect.test.tsx
  src/app/base/components/SSHKeyList/index.ts
  src/app/intro/views/UserIntro/UserIntro.tsx
  src/app/machines/views/Machines.tsx
  src/app/pools/components/PoolsTable/PoolsTable.test.tsx
  src/app/pools/components/PoolsTable/PoolsTable.tsx
  src/app/pools/components/PoolsTable/usePoolsTableColumns/usePoolsTableColumns.test.tsx
  src/app/pools/components/PoolsTable/usePoolsTableColumns/usePoolsTableColumns.tsx
  src/app/pools/views/PoolList/PoolList.test.tsx
  src/app/pools/views/PoolList/PoolList.tsx
  src/app/preferences/views/SSHKeys/AddSSHKey/AddSSHKey.tsx
  src/app/preferences/views/SSHKeys/BaseSSHKeyList/BaseSSHKeyList.test.tsx
  src/app/preferences/views/SSHKeys/BaseSSHKeyList/BaseSSHKeyList.tsx
  src/app/preferences/views/SSHKeys/BaseSSHKeyList/_index.scss
  src/app/preferences/views/SSHKeys/BaseSSHKeyList/index.ts
  src/app/preferences/views/SSHKeys/SSHKeyForm/SSHKeyForm.test.tsx
  src/app/preferences/views/SSHKeys/SSHKeyForm/SSHKeyForm.tsx
  src/app/preferences/views/SSHKeys/SSHKeyForm/SSHKeyFormFields/SSHKeyFormFields.test.tsx
  src/app/preferences/views/SSHKeys/SSHKeyForm/SSHKeyFormFields/SSHKeyFormFields.tsx
  src/app/preferences/views/SSHKeys/SSHKeyForm/SSHKeyFormFields/index.ts
  src/app/preferences/views/SSHKeys/SSHKeyForm/index.ts
  src/app/preferences/views/SSHKeys/SSHKeyForm/types.ts
  src/app/preferences/views/SSHKeys/SSHKeyList/SSHKeyList.tsx
  src/scss/index.scss
Labels: Review: QA +1, Review: Code -1
