Repository canonical/maas-ui, pull requests merged in 2025-01, with the labels that each got.

#5570 chore: Add weekly coverage run to Ci, publish to GitHub pages, create and upload TiCS report
  .github/workflows/coverage.yaml
  .github/workflows/test.yml
  package.json
  vitest.config.ts
Labels: Review: Code +1, Review: QA +1

#5571 docs: Update badge links in readme to reflect true action status
  README.md
Labels: Review: Code needed

#5572 chore: Use TypeScript + React config from webteam MAASENG-4188 WD-17537
  package.json
  src/app/base/sagas/websockets/handlers/file-context-requests.ts
  src/app/base/sagas/websockets/handlers/loaded-endpoints.ts
  src/app/base/sagas/websockets/handlers/next-actions.ts
  src/app/base/sagas/websockets/handlers/polling-requests.ts
  src/app/base/sagas/websockets/handlers/unsubscribe.ts
  src/app/store/machine/utils/hooks.test.tsx
  src/root-saga.ts
  tsconfig.json
  yarn.lock
Labels: Review: Code needed

#5574 feat(images): Re-use Site Manager Image design MAASENG-4200
  package.json
  src/app/base/components/GenericTable/GenericTable.test.tsx
  src/app/base/components/GenericTable/GenericTable.tsx
  src/app/base/components/GenericTable/GroupRowActions/GroupRowActions.test.tsx
  src/app/base/components/GenericTable/GroupRowActions/GroupRowActions.tsx
  src/app/base/components/GenericTable/GroupRowActions/index.ts
  src/app/base/components/GenericTable/SortingIndicator/SortingIndicator.tsx
  src/app/base/components/GenericTable/SortingIndicator/index.ts
  src/app/base/components/GenericTable/TableCheckbox/TableCheckbox.test.tsx
  src/app/base/components/GenericTable/TableCheckbox/TableCheckbox.tsx
  src/app/base/components/GenericTable/TableCheckbox/index.ts
  src/app/base/components/GenericTable/_index.scss
  src/app/base/components/GenericTable/index.ts
  src/app/images/components/ImagesForms/ImagesForms.tsx
  src/app/images/components/SMImagesTable/DeleteImages/DeleteImages.test.tsx
  src/app/images/components/SMImagesTable/DeleteImages/DeleteImages.tsx
  src/app/images/components/SMImagesTable/DeleteImages/index.ts
  src/app/images/components/SMImagesTable/DownloadImages/DownloadImages.test.tsx
  src/app/images/components/SMImagesTable/DownloadImages/DownloadImages.tsx
  src/app/images/components/SMImagesTable/DownloadImages/DownloadImagesSelect/DownloadImagesSelect.test.tsx
  src/app/images/components/SMImagesTable/DownloadImages/DownloadImagesSelect/DownloadImagesSelect.tsx
  src/app/images/components/SMImagesTable/DownloadImages/DownloadImagesSelect/index.ts
  src/app/images/components/SMImagesTable/DownloadImages/_index.scss
  src/app/images/components/SMImagesTable/DownloadImages/index.ts
  src/app/images/components/SMImagesTable/ImagesTableHeader/ImagesTableHeader.test.tsx
  src/app/images/components/SMImagesTable/ImagesTableHeader/ImagesTableHeader.tsx
  src/app/images/components/SMImagesTable/ImagesTableHeader/index.ts
  src/app/images/components/SMImagesTable/SMImagesTable.test.tsx
  src/app/images/components/SMImagesTable/SMImagesTable.tsx
  src/app/images/components/SMImagesTable/_index.scss
  src/app/images/components/SMImagesTable/index.ts
  src/app/images/components/SMImagesTable/useImageTableColumns/useImageTableColumns.test.tsx
  src/app/images/components/SMImagesTable/useImageTableColumns/useImageTableColumns.tsx
  src/app/images/constants.ts
  src/app/images/types.ts
  src/app/images/views/ImageList/ImageList.tsx
  src/app/store/utils/node/base.ts
  yarn.lock
Labels: Review: QA +1, Review: Code +1 (with changes)

#5575 feat: Add @hey-api/openapi-ts to generate API client and types MAASENG-3449
  openapi-ts.config.ts
  package.json
  src/app/apiclient/index.ts
  src/app/apiclient/sdk.gen.ts
  src/app/apiclient/types.gen.ts
  yarn.lock
Labels: Review: Code needed

#5573 fix(machines): Allow sorting by disks and storage MAASENG-4257
  src/app/machines/views/MachineList/MachineListTable/MachineListTable.tsx
  src/app/store/machine/types/actions.ts
Labels: Review: Code needed, Review: QA needed

#5577 chore(base): Add comments and docstrings to initial react-query code MAAASENG-4252
  src/app/api/base.ts
  src/app/api/endpoints.ts
  src/app/api/query-client.ts
  src/app/api/query/base.ts
  src/app/api/query/zones.ts
Labels: Review: Code +1

#5584 chore: clean up comments around react query code
  src/app/api/query-client.ts
Labels: Review: Code needed

#5581 fix(images): Fallback as custom image when splitting OS from resource name
  src/app/store/bootresource/utils.test.ts
  src/app/store/bootresource/utils.ts
Labels: Review: Code +1

#5588 feat(zones): Migrate zones list to generic table MAASENG-4306
  src/app/base/components/GenericTable/GenericTable.test.tsx
  src/app/base/components/GenericTable/GenericTable.tsx
  src/app/base/components/GenericTable/TableCheckbox/TableCheckbox.tsx
  src/app/base/components/GenericTable/TableHeader/TableHeader.tsx
  src/app/base/components/GenericTable/TableHeader/index.ts
  src/app/base/components/GenericTable/_index.scss
  src/app/images/components/SMImagesTable/SMImagesTable.tsx
  src/app/images/components/SMImagesTable/_index.scss
  src/app/images/components/SMImagesTable/useImageTableColumns/useImageTableColumns.test.tsx
  src/app/images/components/SMImagesTable/useImageTableColumns/useImageTableColumns.tsx
  src/app/zones/views/ZonesList/ZonesList.test.tsx
  src/app/zones/views/ZonesList/ZonesListTable/ZonesListTable.tsx
  src/app/zones/views/ZonesList/ZonesListTable/_index.scss
  src/app/zones/views/ZonesList/ZonesListTable/useZonesTableColumns/useZonesTableColumns.tsx
Labels: Review: UX needed, Review: Code +1, Review: QA +1

#5590 feat(zones): Add delete zones as a table action MAASENG-4308
  src/app/store/utils/node/base.ts
  src/app/zones/constants.ts
  src/app/zones/views/ZoneDetails/ZoneDetailsHeader/DeleteConfirm/DeleteConfirm.test.tsx
  src/app/zones/views/ZoneDetails/ZoneDetailsHeader/DeleteConfirm/DeleteConfirm.tsx
  src/app/zones/views/ZoneDetails/ZoneDetailsHeader/DeleteConfirm/index.ts
  src/app/zones/views/ZoneDetails/ZoneDetailsHeader/ZoneDetailsHeader.test.tsx
  src/app/zones/views/ZoneDetails/ZoneDetailsHeader/ZoneDetailsHeader.tsx
  src/app/zones/views/ZonesList/ZonesList.tsx
  src/app/zones/views/ZonesList/ZonesListTable/DeleteZone/DeleteZone.test.tsx
  src/app/zones/views/ZonesList/ZonesListTable/DeleteZone/DeleteZone.tsx
  src/app/zones/views/ZonesList/ZonesListTable/DeleteZone/index.ts
  src/app/zones/views/ZonesList/ZonesListTable/ZonesListTable.tsx
  src/app/zones/views/ZonesList/ZonesListTable/useZonesTableColumns/useZonesTableColumns.tsx
Labels: Review: Code +1, Review: QA +1

#5593 feat(zones): Change edit zones to side panel
  src/app/Routes.test.tsx
  src/app/Routes.tsx
  src/app/base/components/AppSideNavigation/constants.ts
  src/app/devices/views/DeviceList/DeviceListTable/DeviceListTable.test.tsx
  src/app/devices/views/DeviceList/DeviceListTable/DeviceListTable.tsx
  src/app/machines/views/MachineList/MachineListTable/ZoneColumn/ZoneColumn.tsx
  src/app/store/utils/node/base.ts
  src/app/zones/constants.ts
  src/app/zones/urls.ts
  src/app/zones/views/ZoneDetails/ZoneDetails.test.tsx
  src/app/zones/views/ZoneDetails/ZoneDetails.tsx
  src/app/zones/views/ZoneDetails/ZoneDetailsContent/ZoneDetailsContent.tsx
  src/app/zones/views/ZoneDetails/ZoneDetailsContent/index.ts
  src/app/zones/views/ZoneDetails/ZoneDetailsForm/index.ts
  src/app/zones/views/ZoneDetails/ZoneDetailsHeader/ZoneDetailsHeader.test.tsx
  src/app/zones/views/ZoneDetails/ZoneDetailsHeader/ZoneDetailsHeader.tsx
  src/app/zones/views/ZoneDetails/ZoneDetailsHeader/index.ts
  src/app/zones/views/ZoneDetails/index.ts
  src/app/zones/views/ZonesList/ZonesList.tsx
  src/app/zones/views/ZonesList/ZonesListForm/index.ts
  src/app/zones/views/ZonesList/ZonesListTable/AddZone/AddZone.test.tsx
  src/app/zones/views/ZonesList/ZonesListTable/AddZone/AddZone.tsx
  src/app/zones/views/ZonesList/ZonesListTable/AddZone/index.ts
  src/app/zones/views/ZonesList/ZonesListTable/EditZone/EditZone.test.tsx
  src/app/zones/views/ZonesList/ZonesListTable/EditZone/EditZone.tsx
  src/app/zones/views/ZonesList/ZonesListTable/EditZone/index.ts
  src/app/zones/views/ZonesList/ZonesListTable/ZonesListTable.tsx
  src/app/zones/views/ZonesList/ZonesListTable/useZonesTableColumns/useZonesTableColumns.tsx
Labels: Review: Code +1, Review: QA +1

#5595 feat(images): Implement design for image table header MAASENG-4359
  src/app/base/components/GenericTable/GenericTable.tsx
  src/app/images/components/SMImagesTable/ImagesTableHeader/ImagesTableHeader.test.tsx
  src/app/images/components/SMImagesTable/ImagesTableHeader/ImagesTableHeader.tsx
  src/app/images/components/SMImagesTable/ImagesTableHeader/index.ts
  src/app/images/components/SMImagesTable/SMImagesTable.test.tsx
  src/app/images/components/SMImagesTable/SMImagesTable.tsx
  src/app/images/views/ImageList/ImageList.tsx
  src/app/images/views/ImageList/ImageListHeader/ImageListHeader.test.tsx
  src/app/images/views/ImageList/ImageListHeader/ImageListHeader.tsx
  src/app/images/views/ImageList/ImageListHeader/_index.scss
Labels: Review: Code +1, Review: QA +1
