Repository canonical/maas-ui, pull requests merged in 2025-10, with the labels that each got.

#5799 refactor(domains): Replaced inline resource record table forms to side panel MAASENG-5328
  src/app/domains/views/DomainDetails/ResourceRecords/DeleteRecordForm/DeleteRecordForm.test.tsx
  src/app/domains/views/DomainDetails/ResourceRecords/DeleteRecordForm/DeleteRecordForm.tsx
  src/app/domains/views/DomainDetails/ResourceRecords/EditRecordForm/EditRecordForm.test.tsx
  src/app/domains/views/DomainDetails/ResourceRecords/EditRecordForm/EditRecordForm.tsx
  src/app/domains/views/DomainDetails/ResourceRecords/ResourceRecords.tsx
Labels: Review: Code needed, Review: QA +1

#5801 refactor(tags): Migrate to the new side panel MAASENG-5240
  src/app/base/side-panel-context.tsx
  src/app/tags/components/AddTagForm/AddTagForm.test.tsx
  src/app/tags/components/AddTagForm/AddTagForm.tsx
  src/app/tags/components/DeleteTagForm/DeleteTagForm.test.tsx
  src/app/tags/components/DeleteTagForm/DeleteTagForm.tsx
  src/app/tags/components/TagForms/TagForms.test.tsx
  src/app/tags/components/TagForms/TagForms.tsx
  src/app/tags/components/TagForms/index.ts
  src/app/tags/components/TagUpdate/TagUpdateFormFields/index.ts
  src/app/tags/components/TagUpdate/index.ts
  src/app/tags/components/TagsDetailsHeader/TagDetailsHeader.test.tsx
  src/app/tags/components/TagsDetailsHeader/TagDetailsHeader.tsx
  src/app/tags/components/TagsListHeader/TagsListHeader.test.tsx
  src/app/tags/components/TagsListHeader/TagsListHeader.tsx
  src/app/tags/components/UpdateTagForm/UpdateTagForm.test.tsx
  src/app/tags/components/UpdateTagForm/UpdateTagForm.tsx
  src/app/tags/components/UpdateTagForm/UpdateTagFormFields/UpdateTagFormFields.test.tsx
  src/app/tags/components/UpdateTagForm/UpdateTagFormFields/UpdateTagFormFields.tsx
  src/app/tags/components/UpdateTagForm/UpdateTagFormFields/index.ts
  src/app/tags/components/UpdateTagForm/index.ts
  src/app/tags/constants.ts
  src/app/tags/types.ts
  src/app/tags/views/TagDetails/TagDetails.test.tsx
  src/app/tags/views/TagDetails/TagDetails.tsx
  src/app/tags/views/TagList/TagList.tsx
Labels: Review: QA +1, Review: Code +1 (with changes)

#5806 fix(base): Make AppStatus render conditional on authentication MAASENG-5419
  src/app/App.tsx
Labels: Review: Code +1, Review: QA +1
