Repository canonical/maas-ui, pull requests merged in 2025-04, with the labels that each got.

#5673 feat(base): Add pagination to GenericTable MAASENG-4588
  src/app/api/query/pools.test.ts
  src/app/api/query/pools.ts
  src/app/api/query/zones.test.ts
  src/app/api/query/zones.ts
  src/app/base/components/GenericTable/ColumnHeader/ColumnHeader.tsx
  src/app/base/components/GenericTable/ColumnHeader/index.ts
  src/app/base/components/GenericTable/GenericTable.test.tsx
  src/app/base/components/GenericTable/GenericTable.tsx
  src/app/base/components/GenericTable/PaginationBar/ControlsBar/ControlsBar.tsx
  src/app/base/components/GenericTable/PaginationBar/PaginationBar.tsx
  src/app/base/components/GenericTable/TableCheckbox/TableCheckbox.test.tsx
  src/app/base/components/GenericTable/TableCheckbox/TableCheckbox.tsx
  src/app/base/components/GenericTable/TableHeader/index.ts
  src/app/base/components/GenericTable/_index.scss
  src/app/base/constants.ts
  src/app/base/hooks/useDebouncedValue/useDebouncedValue.ts
  src/app/base/hooks/usePagination/usePagination.ts
  src/app/images/components/ImagesTable/ImagesTable.tsx
  src/app/pools/components/PoolsTable/PoolsTable.tsx
  src/app/pools/components/PoolsTable/usePoolsTableColumns/usePoolsTableColumns.test.tsx
  src/app/pools/components/PoolsTable/usePoolsTableColumns/usePoolsTableColumns.tsx
  src/app/zones/views/ZonesList/ZonesListTable/ZonesListTable.tsx
  src/app/zones/views/ZonesList/ZonesListTable/useZonesTableColumns/useZonesTableColumns.tsx
Labels: Review: Code needed, Review: QA needed

#5677 chore: bump package version to 3.7.0
  package.json
Labels: Review: Code +1

#5680 chore: update RELEASE.md with instructions for UI sync job and changelog generation MAASENG-3604
  docs/RELEASE.md
Labels: Review: Code +1

#5682 feat(preferences): migrate delete ssl keys to API v3 MAASENG 4623
  src/app/api/query/sslKeys.test.ts
  src/app/api/query/sslKeys.ts
  src/app/preferences/views/SSLKeys/DeleteSSLKey/DeleteSSLKey.test.tsx
  src/app/preferences/views/SSLKeys/DeleteSSLKey/DeleteSSLKey.tsx
  src/testing/resolvers/sslKeys.ts
Labels: Review: Code +1, Review: QA +1

#5683 feat(base): Add sticky header to GenericTable MAASENG-4718
  src/app/base/components/GenericTable/GenericTable.test.tsx
  src/app/base/components/GenericTable/GenericTable.tsx
  src/app/base/components/GenericTable/_index.scss
  src/app/images/components/ImagesTable/ImagesTable.tsx
  src/app/images/components/ImagesTable/useImageTableColumns/useImageTableColumns.tsx
  src/app/pools/components/PoolsTable/PoolsTable.tsx
  src/app/zones/views/ZonesList/ZonesList.test.tsx
  src/app/zones/views/ZonesList/ZonesListTable/ZonesListTable.tsx
Labels: Review: Code +1, Review: QA +1

#5694 fix: correct yaml for playwright job
  .github/workflows/playwright.yml
Labels: Review: Code +1
