Repository canonical/maas-ui, pull requests merged in 2025-05, with the labels that each got.

#5697 feat: remove ssl keys from redux store MAASENG 4715
  src/app/preferences/urls.ts
  src/app/store/root/types.ts
  src/app/store/sslkey/actions.test.ts
  src/app/store/sslkey/index.ts
  src/app/store/sslkey/reducers.test.ts
  src/app/store/sslkey/selectors.test.ts
  src/app/store/sslkey/selectors.ts
  src/app/store/sslkey/slice.ts
  src/app/store/sslkey/types/actions.ts
  src/app/store/sslkey/types/base.ts
  src/app/store/sslkey/types/enum.ts
  src/app/store/sslkey/types/index.ts
  src/root-reducer.ts
  src/testing/factories/index.ts
  src/testing/factories/sslkey.ts
  src/testing/factories/state.ts
  src/testing/resolvers/sslKeys.ts
Labels: Review: Code needed

#5701 fix: DPU QA fixes
  src/app/machines/components/MachineForms/AddMachine/AddMachineForm/AddMachineForm.test.tsx
  src/app/machines/components/MachineForms/AddMachine/AddMachineFormFields/AddMachineFormFields.tsx
  src/app/machines/views/MachineDetails/MachineConfiguration/MachineForm/MachineForm.test.tsx
  src/app/machines/views/MachineDetails/MachineConfiguration/MachineForm/MachineForm.tsx
Labels: Review: Code +1, Review: QA +1

#5711 feat: remove power on/off if DPU MAASENG-3947
  src/app/base/components/NodeActionMenuGroup/NodeActionMenuGroup.test.tsx
  src/app/base/components/NodeActionMenuGroup/NodeActionMenuGroup.tsx
  src/app/machines/views/MachineList/MachineListControls/MachineListControls.test.tsx
Labels: Review: Code +1, Review: QA +1

#5709 fix(images): Save source update MAASENG-4589
  src/app/images/components/ImagesTable/ImagesTable.tsx
  src/app/settings/views/Images/ChangeSource/ChangeSource.tsx
Labels: Review: Code needed, Review: UX needed, Review: QA +1

#5713 feat(deps): Upgrade maas-react-components
  package.json
  src/app/base/components/GenericTable/ColumnHeader/ColumnHeader.tsx
  src/app/base/components/GenericTable/ColumnHeader/index.ts
  src/app/base/components/GenericTable/GenericTable.test.tsx
  src/app/base/components/GenericTable/GenericTable.tsx
  src/app/base/components/GenericTable/GroupRowActions/GroupRowActions.test.tsx
  src/app/base/components/GenericTable/GroupRowActions/GroupRowActions.tsx
  src/app/base/components/GenericTable/GroupRowActions/index.ts
  src/app/base/components/GenericTable/PaginationBar/ControlsBar/ControlsBar.tsx
  src/app/base/components/GenericTable/PaginationBar/PaginationBar.tsx
  src/app/base/components/GenericTable/SortingIndicator/SortingIndicator.tsx
  src/app/base/components/GenericTable/SortingIndicator/index.ts
  src/app/base/components/GenericTable/TableCheckbox/TableCheckbox.test.tsx
  src/app/base/components/GenericTable/TableCheckbox/TableCheckbox.tsx
  src/app/base/components/GenericTable/TableCheckbox/index.ts
  src/app/base/components/GenericTable/_index.scss
  src/app/base/components/GenericTable/index.ts
  src/app/images/components/ImagesTable/ImagesTable.tsx
  src/app/images/components/ImagesTable/useImageTableColumns/useImageTableColumns.tsx
  src/app/pools/components/PoolsTable/PoolsTable.tsx
  src/app/zones/components/ZonesTable/ZonesTable.tsx
  src/app/zones/views/ZonesList.tsx
  src/scss/index.scss
  yarn.lock
Labels: Review: Code +1, Review: QA +1

#5718 fix(base): prevent keypress from focusing searchbox if a textarea is focused
  src/app/base/hooks/base.test.tsx
  src/app/base/hooks/base.ts
Labels: Review: Code +1, Review: QA +1
