Repository canonical/maas-ui, pull requests merged in 2025-06, with the labels that each got.

#5722 test: Increase coverage for SSH, SSL, Pools and Zones MAASENG-4937
  src/app/api/query/sslKeys.test.ts
  src/app/pools/components/EditPool/EditPool.test.tsx
  src/app/pools/components/PoolsListHeader/PoolsListHeader.test.tsx
  src/app/pools/components/PoolsTable/PoolsTable.test.tsx
  src/app/pools/components/PoolsTable/usePoolsTableColumns/usePoolsTableColumns.test.tsx
  src/app/pools/views/PoolsList.test.tsx
  src/app/preferences/views/SSHKeys/components/SSHKeysTable/SSHKeysTable.test.tsx
  src/app/preferences/views/SSHKeys/components/SSHKeysTable/useSSHKeysTableColumns/useSSHKeysTableColumns.test.tsx
  src/app/preferences/views/SSHKeys/views/SSHKeysList.test.tsx
  src/app/preferences/views/SSLKeys/components/SSLKeysTable/SSLKeysTable.test.tsx
  src/app/preferences/views/SSLKeys/views/SSLKeyList.test.tsx
  src/app/preferences/views/SSLKeys/views/SSLKeysList.test.tsx
  src/app/preferences/views/SSLKeys/views/SSLKeysList.tsx
  src/app/preferences/views/SSLKeys/views/index.ts
  src/app/zones/components/ZonesListHeader/ZonesListHeader.test.tsx
  src/app/zones/components/ZonesTable/ZonesTable.test.tsx
  src/app/zones/components/ZonesTable/ZonesTable.tsx
  src/app/zones/components/ZonesTable/useZonesTableColumns/useZonesTableColumns.test.tsx
  src/app/zones/views/ZonesList.test.tsx
  src/router.tsx
  src/testing/resolvers/sslKeys.ts
Labels: Review: Code +1

#5729 feat(settings): Implement v3 for user forms MAASENG-4620
  cypress/e2e/with-users/settings/users/add.spec.ts
  src/app/api/query/auth.test.ts
  src/app/base/side-panel-context.tsx
  src/app/pools/components/EditPool/EditPool.tsx
  src/app/pools/components/PoolsTable/PoolsTable.test.tsx
  src/app/preferences/views/SSHKeys/components/SSHKeysTable/SSHKeysTable.test.tsx
  src/app/preferences/views/SSHKeys/components/SSHKeysTable/_index.scss
  src/app/preferences/views/SSLKeys/components/SSLKeysTable/SSLKeysTable.test.tsx
  src/app/settings/components/Routes/Routes.tsx
  src/app/settings/views/Users/UserAdd/UserAdd.test.tsx
  src/app/settings/views/Users/UserAdd/UserAdd.tsx
  src/app/settings/views/Users/UserAdd/index.ts
  src/app/settings/views/Users/UserDelete/UserDelete.test.tsx
  src/app/settings/views/Users/UserDelete/UserDelete.tsx
  src/app/settings/views/Users/UserDelete/index.ts
  src/app/settings/views/Users/UserDeleteForm/UserDeleteForm.tsx
  src/app/settings/views/Users/UserDeleteForm/index.ts
  src/app/settings/views/Users/UserEdit/UserEdit.test.tsx
  src/app/settings/views/Users/UserEdit/UserEdit.tsx
  src/app/settings/views/Users/UserEdit/index.ts
  src/app/settings/views/Users/UserForm/UserForm.test.tsx
  src/app/settings/views/Users/UserForm/UserForm.tsx
  src/app/settings/views/Users/UserForm/index.ts
  src/app/settings/views/Users/UsersList/UsersList.test.tsx
  src/app/settings/views/Users/UsersList/UsersList.tsx
  src/app/settings/views/Users/UsersList/_index.scss
  src/app/settings/views/Users/components/AddUser/AddUser.test.tsx
  src/app/settings/views/Users/components/AddUser/AddUser.tsx
  src/app/settings/views/Users/components/DeleteUser/DeleteUser.test.tsx
  src/app/settings/views/Users/components/DeleteUser/DeleteUser.tsx
  src/app/settings/views/Users/components/EditUser/EditUser.test.tsx
  src/app/settings/views/Users/components/EditUser/EditUser.tsx
  src/app/settings/views/Users/components/UsersTable/UsersTable.test.tsx
  src/app/settings/views/Users/components/UsersTable/UsersTable.tsx
  src/app/settings/views/Users/components/UsersTable/_index.scss
  src/app/settings/views/Users/components/UsersTable/useUsersTableColumns/useUsersTableColumns.tsx
  src/app/settings/views/Users/constants.ts
  src/app/settings/views/Users/views/UsersList.test.tsx
  src/app/settings/views/Users/views/UsersList.tsx
  src/app/settings/views/Users/views/index.ts
  src/app/zones/components/EditZone/EditZone.tsx
  src/app/zones/components/ZonesTable/ZonesTable.test.tsx
  src/app/zones/views/ZonesList.tsx
  src/scss/index.scss
Labels: Review: Code +1, Review: QA +1

#5730 feat: Implement v3 for all auth uses MAASENG-4620
  src/app/App.test.tsx
  src/app/App.tsx
  src/app/api/query/auth.test.ts
  src/app/base/components/AppSideNavigation/AppSideNavItems/AppSideNavItems.tsx
  src/app/base/components/AppSideNavigation/AppSideNavigation.test.tsx
  src/app/base/components/AppSideNavigation/AppSideNavigation.tsx
  src/app/base/components/NotificationGroup/Notification/Notification.test.tsx
  src/app/base/components/NotificationGroup/Notification/Notification.tsx
  src/app/base/hooks/analytics.ts
  src/app/base/hooks/intro.test.tsx
  src/app/base/hooks/intro.ts
  src/app/controllers/views/ControllerDetails/ControllerConfiguration/ControllerPowerConfiguration.tsx
  src/app/domains/views/DomainDetails/DomainSummary/DomainSummary.test.tsx
  src/app/domains/views/DomainDetails/DomainSummary/DomainSummary.tsx
  src/app/domains/views/DomainDetails/ResourceRecords/ResourceRecords.tsx
  src/app/intro/components/IntroSection/IntroSection.test.tsx
  src/app/intro/hooks.test.tsx
  src/app/intro/views/Intro.test.tsx
  src/app/intro/views/Intro.tsx
  src/app/intro/views/MaasIntro/MaasIntro.test.tsx
  src/app/intro/views/MaasIntro/MaasIntro.tsx
  src/app/intro/views/MaasIntro/NameCard/NameCard.test.tsx
  src/app/intro/views/MaasIntroSuccess/MaasIntroSuccess.test.tsx
  src/app/intro/views/MaasIntroSuccess/MaasIntroSuccess.tsx
  src/app/intro/views/UserIntro/UserIntro.test.tsx
  src/app/intro/views/UserIntro/UserIntro.tsx
  src/app/machines/components/MachineForms/MachineActionFormWrapper/DeployForm/DeployFormFields/DeployFormFields.test.tsx
  src/app/machines/components/MachineForms/MachineActionFormWrapper/DeployForm/DeployFormFields/DeployFormFields.tsx
  src/app/machines/views/MachineList/MachineListTable/MachineListTable.test.tsx
  src/app/machines/views/MachineList/MachineListTable/MachineListTable.tsx
  src/app/machines/views/MachineList/MachineListTable/OwnerColumn/OwnerColumn.test.tsx
  src/app/machines/views/MachineList/MachineListTable/OwnerColumn/OwnerColumn.tsx
  src/app/machines/views/Machines.test.tsx
  src/app/networkDiscovery/views/NetworkDiscovery.test.tsx
  src/app/networkDiscovery/views/NetworkDiscovery.tsx
  src/app/preferences/views/Details/Details.test.tsx
  src/app/preferences/views/Details/Details.tsx
  src/app/settings/components/Routes/Routes.test.tsx
  src/app/settings/views/Settings.test.tsx
  src/app/settings/views/Settings.tsx
  src/app/settings/views/Users/components/UsersTable/UsersTable.test.tsx
  src/app/settings/views/Users/views/UsersList.test.tsx
  src/app/subnets/views/FabricDetails/FabricDetailsHeader/FabricDetailsHeader.test.tsx
  src/app/subnets/views/FabricDetails/FabricDetailsHeader/FabricDetailsHeader.tsx
  src/app/subnets/views/SubnetDetails/StaticRoutes/AddStaticRouteForm/AddStaticRouteForm.test.tsx
  src/app/subnets/views/SubnetDetails/StaticRoutes/DeleteStaticRouteform/DeleteStaticRouteForm.test.tsx
  src/app/subnets/views/SubnetDetails/StaticRoutes/StaticRoutes.test.tsx
  src/app/subnets/views/SubnetDetails/StaticRoutes/StaticRoutes.tsx
  src/app/subnets/views/VLANDetails/VLANDetails.test.tsx
  src/app/subnets/views/VLANDetails/VLANDetailsHeader/VLANDetailsHeader.test.tsx
  src/app/subnets/views/VLANDetails/VLANDetailsHeader/VLANDetailsHeader.tsx
  src/app/subnets/views/VLANDetails/VLANSummary/VLANSummary.test.tsx
  src/app/subnets/views/VLANDetails/VLANSummary/VLANSummary.tsx
  src/app/zones/components/ZonesTable/ZonesTable.test.tsx
  src/app/zones/components/ZonesTable/ZonesTable.tsx
  src/app/zones/components/ZonesTable/useZonesTableColumns/useZonesTableColumns.tsx
  src/root-reducer.test.ts
  src/testing/resolvers/auth.ts
  src/testing/utils.tsx
Labels: Review: Code +1, Review: QA +1

#5731 refactor(settings): Remove auth and user stores MAASENG-4620
  src/app/base/components/UserForm/UserForm.test.tsx
  src/app/base/components/UserForm/UserForm.tsx
  src/app/base/components/UserForm/index.ts
  src/app/settings/urls.ts
  src/app/store/auth/actions.test.ts
  src/app/store/auth/index.ts
  src/app/store/auth/reducers.test.ts
  src/app/store/auth/selectors.test.ts
  src/app/store/auth/selectors.ts
  src/app/store/auth/slice.ts
  src/app/store/domain/types/base.ts
  src/app/store/event/types/base.ts
  src/app/store/notification/types/actions.ts
  src/app/store/notification/types/base.ts
  src/app/store/root/types.ts
  src/app/store/subnet/types/base.ts
  src/app/store/user/actions.test.ts
  src/app/store/user/index.ts
  src/app/store/user/reducers.test.ts
  src/app/store/user/selectors.test.ts
  src/app/store/user/selectors.ts
  src/app/store/user/slice.ts
  src/app/store/user/types/actions.ts
  src/app/store/user/types/base.ts
  src/app/store/user/types/enum.ts
  src/app/store/user/types/index.ts
  src/root-reducer.test.ts
  src/root-reducer.ts
  src/testing/factories/index.ts
  src/testing/factories/state.ts
  src/testing/factories/user.ts
Labels: Review: Code +1, Review: QA +1

#5736 feat(settings): Migrate package repositories list to API v3 MAASENG-4956
  cypress/e2e/with-users/settings/headings.spec.ts
  src/app/api/query/packageRepositories.ts
  src/app/api/query/pools.ts
  src/app/base/side-panel-context.tsx
  src/app/settings/components/Routes/Routes.tsx
  src/app/settings/views/Repositories/RepositoriesList/RepositoriesList.test.tsx
  src/app/settings/views/Repositories/RepositoriesList/RepositoriesList.tsx
  src/app/settings/views/Repositories/RepositoryAdd/RepositoryAdd.test.tsx
  src/app/settings/views/Repositories/RepositoryAdd/RepositoryAdd.tsx
  src/app/settings/views/Repositories/RepositoryAdd/index.ts
  src/app/settings/views/Repositories/RepositoryEdit/RepositoryEdit.test.tsx
  src/app/settings/views/Repositories/RepositoryEdit/index.ts
  src/app/settings/views/Repositories/components/DeleteRepository/DeleteRepository.test.tsx
  src/app/settings/views/Repositories/components/DeleteRepository/DeleteRepository.tsx
  src/app/settings/views/Repositories/components/DeleteRepository/index.ts
  src/app/settings/views/Repositories/components/EditRepository/EditRepository.test.tsx
  src/app/settings/views/Repositories/components/EditRepository/EditRepository.tsx
  src/app/settings/views/Repositories/components/EditRepository/index.ts
  src/app/settings/views/Repositories/components/RepositoryForm/RepositoryForm.test.tsx
  src/app/settings/views/Repositories/components/RepositoryForm/RepositoryForm.tsx
  src/app/settings/views/Repositories/components/RepositoryForm/index.ts
  src/app/settings/views/Repositories/components/RepositoryForm/types.ts
  src/app/settings/views/Repositories/components/RepositoryFormFields/RepositoryFormFields.test.tsx
  src/app/settings/views/Repositories/components/RepositoryFormFields/RepositoryFormFields.tsx
  src/app/settings/views/Repositories/components/RepositoryFormFields/_index.scss
  src/app/settings/views/Repositories/components/RepositoryFormFields/index.ts
  src/app/settings/views/Repositories/components/RepositoryTable/RepositoriesTable.test.tsx
  src/app/settings/views/Repositories/components/RepositoryTable/RepositoriesTable.tsx
  src/app/settings/views/Repositories/components/RepositoryTable/index.ts
  src/app/settings/views/Repositories/components/RepositoryTable/useRepositoriesTableColumns.tsx
  src/app/settings/views/Repositories/constants.ts
  src/app/settings/views/Repositories/views/RepositoriesList.test.tsx
  src/app/settings/views/Repositories/views/RepositoriesList.tsx
  src/app/settings/views/Repositories/views/_index.scss
  src/app/settings/views/Repositories/views/index.ts
  src/app/store/packagerepository/selectors.ts
  src/app/store/packagerepository/utils.ts
  src/scss/index.scss
  src/testing/resolvers/packageRepositories.ts
Labels: Review: Code needed, Review: QA +1

#5738 test(settings): Improve Users test coverage
  src/app/settings/views/Users/components/EditUser/EditUser.test.tsx
  src/app/settings/views/Users/components/UsersTable/UsersTable.test.tsx
  src/app/settings/views/Users/views/UsersList.test.tsx
Labels: Review: Code +1, Review: QA +1

#5741 chore: upgrade @hey-api/openapi-ts to v0.76.0
  eslint.config.js
  package.json
  src/app/api/query/auth.ts
  src/app/api/query/packageRepositories.ts
  src/app/api/query/pools.ts
  src/app/api/query/sshKeys.ts
  src/app/api/query/sslKeys.ts
  src/app/api/query/users.ts
  src/app/api/query/zones.ts
  src/app/apiclient/@tanstack/react-query.gen.ts
  src/app/apiclient/client.gen.ts
  src/app/apiclient/client/client.ts
  src/app/apiclient/client/index.ts
  src/app/apiclient/client/types.ts
  src/app/apiclient/client/utils.ts
  src/app/apiclient/core/auth.ts
  src/app/apiclient/core/bodySerializer.ts
  src/app/apiclient/core/params.ts
  src/app/apiclient/core/pathSerializer.ts
  src/app/apiclient/core/types.ts
  src/app/apiclient/sdk.gen.ts
  src/app/apiclient/types.gen.ts
  tsconfig.json
  yarn.lock
Labels: Review: Code needed

#5742 fix(subnets): VLAN name should be nullable Bug #2111433
  src/app/subnets/views/VLANDetails/EditVLAN/EditVLAN.tsx
  src/app/subnets/views/VLANDetails/VLANDetails.tsx
Labels: Review: Code needed, Review: QA needed

#5743 chore: Improve Abstract Interpretation and Code Duplication TiCS
  src/app/App.tsx
  src/app/base/components/PageContent/PageContent.tsx
  src/app/base/components/node/networking/NetworkTable/NetworkTable.tsx
  src/app/base/sagas/http.ts
  src/app/base/sagas/websockets/handlers/polling-requests.ts
  src/app/devices/components/DeviceHeaderForms/AddDeviceForm/AddDeviceInterfaces/AddDeviceInterfaces.tsx
  src/app/machines/components/MachineForms/MachineActionFormWrapper/TagForm/hooks.ts
  src/app/machines/views/MachineDetails/MachineHeader/MachineHeader.tsx
  src/app/machines/views/MachineDetails/MachineNetwork/AddBondForm/AddBondForm.tsx
  src/app/machines/views/MachineDetails/MachineSummary/MachineSummary.tsx
  src/app/store/machine/slice.ts
  src/app/store/utils/node/storage.ts
  src/app/store/utils/slice.ts
  src/app/subnets/components/ReservedRangeForm/ReservedRangeForm.tsx
  src/app/utils/search/filter-handlers.ts
  src/index.tsx
  src/serviceWorker.js
Labels: Review: Code needed

#5744 feat(api): create query and mutation hooks for configurations
  src/app/api/query/configurations.test.ts
  src/app/api/query/configurations.ts
  src/app/apiclient/@tanstack/react-query.gen.ts
  src/app/apiclient/client.gen.ts
  src/app/apiclient/client/types.ts
  src/app/apiclient/client/utils.ts
  src/app/apiclient/sdk.gen.ts
  src/app/apiclient/types.gen.ts
  src/testing/resolvers/configurations.ts
Labels: Review: Code +1

#5745 feat(settings): Migrate package repo delete to API v3 MAASENG-4959
  .gitignore
  src/app/api/query/packageRepositories.test.ts
  src/app/api/query/packageRepositories.ts
  src/app/settings/views/Repositories/components/AddRepository/AddRepository.test.tsx
  src/app/settings/views/Repositories/components/AddRepository/AddRepository.tsx
  src/app/settings/views/Repositories/components/AddRepository/index.ts
  src/app/settings/views/Repositories/components/DeleteRepository/DeleteRepository.test.tsx
  src/app/settings/views/Repositories/components/DeleteRepository/DeleteRepository.tsx
  src/app/settings/views/Repositories/components/DeleteRepository/index.ts
  src/app/settings/views/Repositories/components/EditRepository/EditRepository.test.tsx
  src/app/settings/views/Repositories/components/EditRepository/EditRepository.tsx
  src/app/settings/views/Repositories/components/EditRepository/index.ts
  src/app/settings/views/Repositories/components/RepositoryFormFields/RepositoryFormFields.test.tsx
  src/app/settings/views/Repositories/components/RepositoryTable/index.ts
  src/app/settings/views/Repositories/components/RepositoryTable/useRepositoriesTableColumns.tsx
  src/app/settings/views/Repositories/components/index.ts
  src/app/settings/views/Repositories/utils.ts
  src/app/settings/views/Repositories/views/RepositoriesList.tsx
  src/testing/resolvers/packageRepositories.ts
  src/testing/utils.tsx
Labels: Review: Code needed, Review: QA +1

#5747 feat: migrate settings security to API v3 MAASENG-5004
  cypress/e2e/with-users/settings/security/session-timeout.spec.ts
  src/app/base/hooks/logout.test.tsx
  src/app/base/hooks/logout.tsx
  src/app/settings/views/Security/IpmiSettings/IpmiFormFields/IpmiFormFields.test.tsx
  src/app/settings/views/Security/IpmiSettings/IpmiSettings.test.tsx
  src/app/settings/views/Security/IpmiSettings/IpmiSettings.tsx
  src/app/settings/views/Security/SessionTimeout/SessionTimeout.test.tsx
  src/app/settings/views/Security/SessionTimeout/SessionTimeout.tsx
Labels: Review: QA +1, Review: Code +1 (with changes)
