Repository canonical/maas-ui, pull requests merged in 2025-08, with the labels that each got.

#5759 fix: Updated doc links after maas.io migration
  src/app/base/docsUrls.ts
Labels: Review: Code needed

#5761 feat: Implement mechanism of dismissing notifications MAASENG-5098
  cypress/e2e/with-users/machines/add.spec.ts
  cypress/e2e/with-users/machines/list.spec.ts
  cypress/support/commands.ts
  package.json
  src/app/App.tsx
  src/app/api/query/notifications.ts
  src/app/base/components/DhcpForm/DhcpForm.test.tsx
  src/app/base/components/DhcpForm/DhcpForm.tsx
  src/app/base/components/MainContentSection/MainContentSection.tsx
  src/app/base/components/NotificationList/NotificationList.test.tsx
  src/app/base/components/NotificationList/NotificationList.tsx
  src/app/base/components/NotificationList/index.ts
  src/app/base/hooks/base.ts
  src/app/base/hooks/index.ts
  src/app/devices/components/DeviceHeaderForms/AddDeviceForm/AddDeviceForm.tsx
  src/app/kvm/components/KVMForms/AddLxd/SelectProjectForm/SelectProjectForm.tsx
  src/app/kvm/components/KVMForms/AddVirsh/AddVirsh.tsx
  src/app/machines/components/MachineForms/AddChassis/AddChassisForm/AddChassisForm.tsx
  src/app/machines/components/MachineForms/AddMachine/AddMachineForm/AddMachineForm.tsx
  src/app/preferences/views/APIKeys/APIKeyDeleteForm/APIKeyDeleteForm.tsx
  src/app/preferences/views/APIKeys/APIKeyForm/APIKeyForm.tsx
  src/app/settings/views/Dhcp/DhcpList/DhcpList.test.tsx
  src/app/settings/views/Dhcp/DhcpList/DhcpList.tsx
  src/app/settings/views/LicenseKeys/LicenseKeyForm/LicenseKeyForm.test.tsx
  src/app/settings/views/LicenseKeys/LicenseKeyForm/LicenseKeyForm.tsx
  src/app/settings/views/LicenseKeys/LicenseKeyList/LicenseKeyList.tsx
  src/app/settings/views/Scripts/ScriptsList/ScriptsList.test.tsx
  src/app/settings/views/Scripts/ScriptsList/ScriptsList.tsx
  src/app/tags/components/TagsHeader/DeleteTagForm/DeleteTagForm.test.tsx
  src/app/tags/components/TagsHeader/DeleteTagForm/DeleteTagForm.tsx
  src/index.tsx
  src/setupTests.ts
  yarn.lock
Labels: Review: Code +1, Review: QA +1

#5763 fix: add missing 'l' to link in CI chip in readme
  README.md
Labels: Review: Code needed

#5764 fix(images): Filter out empty selections in SelectUpstreamImagesForm onSubmit
  src/app/images/components/ImagesForms/SelectUpstreamImagesForm/SelectUpstreamImagesForm.tsx
Labels: Review: Code +1, Review: QA +1

#5768 feat(subnets): Migrated StaticRoutes, SpaceSubnets and SubnetUsedIPs to GenericTable MAASENG-5206,5207,5208
  cypress/e2e/with-users/subnets/staticroutes.spec.ts
  src/app/subnets/views/SpaceDetails/SpaceSubnets/SpaceSubnets.test.tsx
  src/app/subnets/views/SpaceDetails/SpaceSubnets/SpaceSubnets.tsx
  src/app/subnets/views/SpaceDetails/SpaceSubnets/_index.scss
  src/app/subnets/views/SpaceDetails/SpaceSubnets/useSpaceSubnetsColumns/useSpaceSubnetsColumns.tsx
  src/app/subnets/views/SubnetDetails/StaticRoutes/StaticRoutes.test.tsx
  src/app/subnets/views/SubnetDetails/StaticRoutes/StaticRoutes.tsx
  src/app/subnets/views/SubnetDetails/StaticRoutes/useStaticRoutesColumns/useStaticRoutesColumns.tsx
  src/app/subnets/views/SubnetDetails/SubnetUsedIPs/SubnetUsedIPs.test.tsx
  src/app/subnets/views/SubnetDetails/SubnetUsedIPs/SubnetUsedIPs.tsx
  src/app/subnets/views/SubnetDetails/SubnetUsedIPs/_index.scss
  src/app/subnets/views/SubnetDetails/SubnetUsedIPs/useSubnetUsedIPsColumns/useSubnetUsedIPsColumns.tsx
Labels: Review: Code +1, Review: QA +1

#5751 fix: remove broken/unsupported nova power driver
  src/app/store/general/constants.ts
Labels: Review: Code +1

#5769 chore(devices): Convert DeviceNetworkTable to GenericTable MAASENG-5211
  src/app/devices/views/DeviceDetails/DeviceNetwork/DeviceNetwork.test.tsx
  src/app/devices/views/DeviceDetails/DeviceNetwork/DeviceNetworkTable/DeviceNetworkTable.test.tsx
  src/app/devices/views/DeviceDetails/DeviceNetwork/DeviceNetworkTable/DeviceNetworkTable.tsx
  src/app/devices/views/DeviceDetails/DeviceNetwork/DeviceNetworkTable/useDeviceNetworkTableColumns/useDeviceNetworkTableColumns.tsx
Labels: Review: Code +1, Review: QA +1

#5771 feat: Implement refetching for notifications MAASENG-5205
  src/app/api/query/notifications.ts
Labels: Review: Code +1, Review: QA +1

#5770 feat: Generic side panel context MAASENG-5227
  .github/workflows/coverage.yaml
  src/app/base/components/AppSidePanel/AppSidePanel.tsx
  src/app/base/components/PageContent/PageContent.tsx
  src/app/base/components/SidePanel/SidePanel.tsx
  src/app/base/components/SidePanel/index.ts
  src/app/base/side-panel-context-new.tsx
  src/app/preferences/views/SSHKeys/components/AddSSHKey/AddSSHKey.test.tsx
  src/app/preferences/views/SSHKeys/components/AddSSHKey/AddSSHKey.tsx
  src/app/preferences/views/SSHKeys/components/DeleteSSHKey/DeleteSSHKey.test.tsx
  src/app/preferences/views/SSHKeys/components/DeleteSSHKey/DeleteSSHKey.tsx
  src/app/preferences/views/SSHKeys/components/SSHKeysTable/SSHKeysTable.test.tsx
  src/app/preferences/views/SSHKeys/components/SSHKeysTable/SSHKeysTable.tsx
  src/app/preferences/views/SSHKeys/components/SSHKeysTable/useSSHKeysTableColumns/useSSHKeysTableColumns.tsx
  src/app/preferences/views/SSHKeys/views/SSHKeysList.test.tsx
  src/app/preferences/views/SSHKeys/views/SSHKeysList.tsx
  src/app/preferences/views/SSLKeys/components/AddSSLKey/AddSSLKey.test.tsx
  src/app/preferences/views/SSLKeys/components/AddSSLKey/AddSSLKey.tsx
  src/app/preferences/views/SSLKeys/components/DeleteSSLKey/DeleteSSLKey.test.tsx
  src/app/preferences/views/SSLKeys/components/DeleteSSLKey/DeleteSSLKey.tsx
  src/app/preferences/views/SSLKeys/components/SSLKeysTable/SSLKeysTable.test.tsx
  src/app/preferences/views/SSLKeys/components/SSLKeysTable/SSLKeysTable.tsx
  src/app/preferences/views/SSLKeys/components/SSLKeysTable/useSSLKeysTableColumns/useSSLKeysTableColumns.tsx
  src/app/preferences/views/SSLKeys/views/SSLKeysList.test.tsx
  src/app/preferences/views/SSLKeys/views/SSLKeysList.tsx
  src/index.tsx
  src/testing/utils.tsx
Labels: Review: Code +1, Review: QA +1

#5774 fix(intro): User intro cannot be skipped MAASENG-5201
  .github/pull_request_template.md
  src/app/intro/views/UserIntro/UserIntro.tsx
Labels: Review: QA +1, Review: Code +1 (with changes)

#5778 fix: TiCS increase container size and timeout
  .github/workflows/coverage.yaml
Labels: Review: Code needed
